<!-- received="Tue Oct  5 10:18:32 1999 PDT" -->
<!-- sent="Tue, 5 Oct 1999 09:37:43 +0100 (BST)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="" -->
<!-- inreplyto="3.0.6.32.19991005092615.00858ec0@ind1.mrc-lmb.cam.ac.uk" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Tue, 5 Oct 1999 09:37:43 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0024.html">Bernd Schroeder: "Re: Microtek Phantom 636cx again"</a>
<li> <b>In reply to:</b> <a href="0023.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 5 Oct 1999, Dmitry Veprintsev wrote:<br>
<p>
<i>&gt; in every function, pp_read/write/ioctl etc. </i><br>
<i>&gt; what will be the proper printk level (KERN_INFO?) for it to work? </i><br>
<p>
I've downloaded the latest VMware now, but I still haven't had a chance to<br>
have a look at it.  I've heard talk of their being a vmppuser module with<br>
it, which you can recompile for your kernel.  THAT's the one you want to<br>
put printk's in.<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0024.html">Bernd Schroeder: "Re: Microtek Phantom 636cx again"</a>
<li> <b>In reply to:</b> <a href="0023.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- reply="end" -->
</ul>
