<!-- received="Wed Oct  6 08:44:57 1999 PDT" -->
<!-- sent="Wed, 6 Oct 1999 09:50:25 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Acer Scanners?" -->
<!-- id="19991006155040Z13336-12162+162@scapa.cs.ualberta.ca" -->
<!-- inreplyto="19991005095536.X40186@freebie.lemis.com" -->
<title>sane-devel: Re: Acer Scanners?</title>
<h1>Re: Acer Scanners?</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Wed, 6 Oct 1999 09:50:25 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0030.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; [Format recovered--see <a href="http://www.lemis.com/email/email-format.html">http://www.lemis.com/email/email-format.html</a>]</i><br>
<i>&gt; </i><br>
<i>&gt; On Monday,  4 October 1999 at 13:32:50 +0200, Dominique Bovey wrote:</i><br>
...<br>
<i>&gt; &gt; Hence my choice for a scsi one. ACER has a seemingly good scsi</i><br>
<i>&gt; &gt; scanner, th Brisa or Prisa 620S (they supply the scsi card) at a</i><br>
<i>&gt; &gt; reasonable price, which seems to be the scsi version of a parallel</i><br>
<i>&gt; &gt; one (or the opposite). Anybody knows this brand and can advise me</i><br>
<i>&gt; &gt; about possible compatibility with existing drivers? If there is some</i><br>
<i>&gt; &gt; I can be available for beta-testing of the possible modifications.</i><br>
<i>&gt; </i><br>
<i>&gt; Some months ago a driver was released.  Kevin Charter (copied) sent</i><br>
<i>&gt; out a message at the beginning of September saying that he was working</i><br>
<i>&gt; on it.</i><br>
<i>&gt;</i><br>
<p>
Some people have had success getting the Acer 620s to work, and have<br>
submitted patches which are incorporated into the latest version of the<br>
backend, available at<br>
<p>
<a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
<p>
There are some potential problems with nonblocking mode though, so that<br>
is shut of for the Acer in this version of the backend.<br>
<p>
Be forwarned: I have no official documentation that says exactly how<br>
compatible the Acer and SnapScan scanners are, so there is no<br>
guarantee that the backend will work perfectly now or ever. Are there<br>
any current Acer users that can describe the experiences they've had?<br>
<p>
<p>
Good luck,<br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Tim Waugh: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0030.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
