<!-- received="Thu Oct  7 16:15:36 1999 PDT" -->
<!-- sent="Thu, 07 Oct 1999 16:17:31 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="" -->
<!-- inreplyto="umax parallel port scanners - how to log protocol" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Thu, 07 Oct 1999 16:17:31 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Craig Allen: "Re: can't recognize scanner"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Which SCSI controller?<br>
<p>
Brian Macy<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Craig Allen: "Re: can't recognize scanner"</a>
<li> <b>Previous message:</b> <a href="0042.html">David Brodbeck: "Re: SANE 1.0.1 locks up system: Linux 2.2.10, Agfa SnapScan 1236s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
