<!-- received="Sat Oct  9 06:07:18 1999 PDT" -->
<!-- sent="Sat, 09 Oct 1999 14:23:43 +0200" -->
<!-- name="Andreas" -->
<!-- email="andreas.rick@free.fr" -->
<!-- subject="Re: can't recognize scanner" -->
<!-- id="" -->
<!-- inreplyto="can't recognize scanner" -->
<title>sane-devel: Re: can't recognize scanner</title>
<h1>Re: can't recognize scanner</h1>
<b>Andreas</b> (<a href="mailto:andreas.rick@free.fr"><i>andreas.rick@free.fr</i></a>)<br>
<i>Sat, 09 Oct 1999 14:23:43 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Craig Allen: "Re: can't recognize scanner"</a>
<li> <b>Previous message:</b> <a href="0053.html">Juergen Zeschky: "Re: xsane-0.37"</a>
<li> <b>Maybe in reply to:</b> <a href="0034.html">Craig Allen: "can't recognize scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Craig<br>
<p>
<i>&gt; &gt; &gt; find-scanner: found scanner "Nikon COOLSCANIII 1.20" at device /dev/scanner</i><br>
<p>
Are you sure you are using the modified version (&gt;=0.4.0) of the<br>
coolscan backend from: <br>
<a href="http://andreas.rick.free.fr/">http://andreas.rick.free.fr/</a>  ?<br>
<p>
The original version by Didier (up to 0.3) which is still<br>
in the standard sane distribution does not support<br>
the LS-30 nor the LS-2000 yet!<br>
<p>
Greetings<br>
<p>
Andreas Rick<br>
<p>
Craig Allen wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Craig Allen wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; I can use find-scanner and I get this:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; # find-scanner</i><br>
<i>&gt; &gt; &gt; find-scanner: found scanner "Nikon COOLSCANIII 1.20" at device /dev/scanner</i><br>
<i>&gt; &gt; &gt; find-scanner: found scanner "Nikon COOLSCANIII 1.20" at device /dev/sgd</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; (I think I had to manually link scanner to sgd)</i><br>
<i>&gt; &gt; &gt; so find-scanner finds something (under both Linux &amp; OS/2)</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; now, when I use scanimage -L, it only shows the pnm devices, no real devices.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Do you have permissions to read/write on the devices /dev/sg* ,</i><br>
<i>&gt; &gt; /dev/scanner?</i><br>
<i>&gt; &gt; Who is owner/group of /dev/sg*, /dev/scanner ?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Andreas</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Ugh,  I should have said before that I am currently running as root,</i><br>
<i>&gt; and expect no permission problems.  Also, the same thing happens under</i><br>
<i>&gt; OS/2 where I would expect no such problems as well.</i><br>
<i>&gt; </i><br>
<i>&gt; Here's the info anyway:</i><br>
<i>&gt; </i><br>
<i>&gt; bash# ls /dev/scanner /dev/sgd -la</i><br>
<i>&gt; lrwxrwxrwx   1 root     root            3 Aug 31 20:28 /dev/scanner -&gt; sgd</i><br>
<i>&gt; crw-------   1 root     root      21,   3 Jul 18  1994 /dev/sgd</i><br>
<i>&gt; </i><br>
<i>&gt; Once I get it going as root, I'll worry about setting up a scanner</i><br>
<i>&gt; group, etc.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Craig</i><br>
<i>&gt; <a href="mailto:cpallen@TampaBay.rr.com">cpallen@TampaBay.rr.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Craig Allen: "Re: can't recognize scanner"</a>
<li> <b>Previous message:</b> <a href="0053.html">Juergen Zeschky: "Re: xsane-0.37"</a>
<li> <b>Maybe in reply to:</b> <a href="0034.html">Craig Allen: "can't recognize scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
