<!-- received="Sat Oct  9 13:57:25 1999 PDT" -->
<!-- sent="Sat, 09 Oct 1999 19:54:08 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="Re: xsane-0.37" -->
<!-- id="" -->
<!-- inreplyto="37FF7057.34313D53@wolfsburg.de" -->
<title>sane-devel: Re: xsane-0.37</title>
<h1>Re: xsane-0.37</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Sat, 09 Oct 1999 19:54:08 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Oliver Rauch: "Report about SANE in ct 21'99 (german computer magazin)"</a>
<li> <b>Previous message:</b> <a href="0061.html">Rob Komar: "HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 09-Oct-99 Oliver Rauch wrote:<br>
<p>
<i>&gt; If your system does not find libsane-dll.so, read xsane.PROBLEMS</i><br>
<i>&gt; ohterwise explain what happens if you do NOT add libsane.a to the Makefile.</i><br>
<p>
but configure says that xsane need sane ( of course ;-) and can't find<br>
sane_init.<br>
<p>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Oliver Rauch: "Report about SANE in ct 21'99 (german computer magazin)"</a>
<li> <b>Previous message:</b> <a href="0061.html">Rob Komar: "HP 6350C support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
