<!-- received="Fri Oct 15 23:58:53 1999 PDT" -->
<!-- sent="Sat, 16 Oct 1999 00:02:22 -0700" -->
<!-- name="Zot O'Connor" -->
<!-- email="zot@zotconsulting.com" -->
<!-- subject="Re: find-scanner...but?" -->
<!-- id="" -->
<!-- inreplyto="find-scanner...but?" -->
<title>sane-devel: Re: find-scanner...but?</title>
<h1>Re: find-scanner...but?</h1>
<b>Zot O'Connor</b> (<a href="mailto:zot@zotconsulting.com"><i>zot@zotconsulting.com</i></a>)<br>
<i>Sat, 16 Oct 1999 00:02:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Wim Taymans: "Wrong colors with Scanmaker X6"</a>
<li> <b>Previous message:</b> <a href="0115.html">Dave Hill: "Epson GT7000 - light saver?"</a>
<li> <b>Maybe in reply to:</b> <a href="0108.html">Pamela Akazawa: "find-scanner...but?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt;</i><br>
<i>&gt; &gt;comment out all but the ones you want (epson)</i><br>
<i>&gt; &gt;Then make sure epson.conf is correct.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks for the info, can you tell me what you mean by. making sure the</i><br>
<i>&gt; epson.conf is correct?</i><br>
<i>&gt; </i><br>
<p>
man sane-epson<br>
<p>
This is part of the basic setup, also read the readme files from the<br>
source (or /usr/doc/sane for the rpm).<br>
<p>
man sane-scsi<br>
<p>
is also a good read.<br>
<p>
<pre>
-- 
Zot O'Connor
<p>
www.ZotConsulting.com
www.WhiteKnightHackers.com
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Wim Taymans: "Wrong colors with Scanmaker X6"</a>
<li> <b>Previous message:</b> <a href="0115.html">Dave Hill: "Epson GT7000 - light saver?"</a>
<li> <b>Maybe in reply to:</b> <a href="0108.html">Pamela Akazawa: "find-scanner...but?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
