<!-- received="Sun Oct 17 10:35:14 1999 PDT" -->
<!-- sent="Sun, 17 Oct 1999 19:39:40 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Doubt - Can a scanner be faster on Windows 98 than on Linux?" -->
<!-- id="" -->
<!-- inreplyto="Doubt - Can a scanner be faster on Windows 98 than on Linux?" -->
<title>sane-devel: Re: Doubt - Can a scanner be faster on Windows 98 than on Linux?</title>
<h1>Re: Doubt - Can a scanner be faster on Windows 98 than on Linux?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 17 Oct 1999 19:39:40 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<li> <b>Previous message:</b> <a href="0124.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Maybe in reply to:</b> <a href="0122.html">Eduardo Mazoni Andrade Marcal Mendes: "Doubt - Can a scanner be faster on Windows 98 than on Linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Eduardo Mazoni Andrade Marcal Mendes wrote:<br>
<p>
<i>&gt; Hello</i><br>
<i>&gt;     I have been struggling to get my old UMax T-630 to work with sane</i><br>
<i>&gt; for almost six months. I decided</i><br>
<i>&gt; to start from scratch again just to see if I can find the missing</i><br>
<i>&gt; point.  As usual there is a very simple</i><br>
<i>&gt; question that is getting in the way:</i><br>
<i>&gt;     Why my scanner works fine and fast with Adobe Photoshop</i><br>
<i>&gt; 3.05-VistaScan 2.30 on Windows 98?  When</i><br>
<i>&gt; I switch to caldera 2.3-sane-1.0.1 is a completely different story: i)</i><br>
<i>&gt; the scanner scans with tiny steps</i><br>
<i>&gt; (so tiny that I can go for lunch and the thingy is still going) and ii)</i><br>
<i>&gt; crashes with error messages at the</i><br>
<i>&gt; end of the whole scanning process (that is, no image). What is going on?</i><br>
<i>&gt;</i><br>
<i>&gt;     Thanks for your help.</i><br>
<i>&gt;</i><br>
<i>&gt; Ed</i><br>
<i>&gt;</i><br>
<p>
Hi Ed,<br>
<p>
please try the new umax driver from my homepage!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">joakim verona: "problem getting a snapscan to work"</a>
<li> <b>Previous message:</b> <a href="0124.html">Oliver Rauch: "Re: Umax Vista-S8 -- anyone get this working under linux/BSD?"</a>
<li> <b>Maybe in reply to:</b> <a href="0122.html">Eduardo Mazoni Andrade Marcal Mendes: "Doubt - Can a scanner be faster on Windows 98 than on Linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
