<!-- received="Mon Oct 18 11:54:55 1999 PDT" -->
<!-- sent="Mon, 18 Oct 1999 20:57:34 +0200 (MEST)" -->
<!-- name="Karl-Heinz Guenster" -->
<!-- email="Karl-Heinz.Guenster@t-online.de" -->
<!-- subject="Re: problem getting a snapscan to work" -->
<!-- id="" -->
<!-- inreplyto="380B19FB.16A14F09@gate.verona.se" -->
<title>sane-devel: Re: problem getting a snapscan to work</title>
<h1>Re: problem getting a snapscan to work</h1>
<b>Karl-Heinz Guenster</b> (<a href="mailto:Karl-Heinz.Guenster@t-online.de"><i>Karl-Heinz.Guenster@t-online.de</i></a>)<br>
<i>Mon, 18 Oct 1999 20:57:34 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Eduardo Mazoni Andrade Marcal Mendes: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Previous message:</b> <a href="0133.html">Oliver Rauch: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 18-Oct-99 joakim verona wrote:<br>
<p>
Hi Joakim,<br>
<p>
[...]<br>
<p>
<i>&gt; it now strikes me that the problem might be that the scanner needs</i><br>
<i>&gt; termination,</i><br>
<i>&gt; but it's unclear how to do this, because the scanner has one db25</i><br>
<i>&gt; port</i><br>
<i>&gt; and one centronics</i><br>
<i>&gt; port. any snapscan users who now if it needs termination?</i><br>
<p>
It's different. My Snapscan needs an active termination on Adaptec<br>
2940, but on my Adaptec 1560 no active and no passive termination can<br>
help, only another scanner with termination inside will get them<br>
running.<br>
<p>
I think, you should test active terminators.<br>
<p>
Greetings<br>
Karl-Heinz<br>
<p>
<pre>
-- 
E-Mail: Karl-Heinz Guenster &lt;<a href="mailto:karl-heinz.guenster@t-online.de">karl-heinz.guenster@t-online.de</a>&gt;
Date: 18-Oct-99
Time: 17:58:43
<p>
<pre>
-- 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Eduardo Mazoni Andrade Marcal Mendes: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<li> <b>Previous message:</b> <a href="0133.html">Oliver Rauch: "Re: Can a scanner be faster on Windows 98 than on Linux?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
