<!-- received="Tue Oct 19 14:24:29 1999 PDT" -->
<!-- sent="Tue, 19 Oct 1999 22:45:44 +0200" -->
<!-- name="Robert Schwebel" -->
<!-- email="robert@schwebel.de" -->
<!-- subject="Re: 16 bit images" -->
<!-- id="" -->
<!-- inreplyto="16 bit images" -->
<title>sane-devel: Re: 16 bit images</title>
<h1>Re: 16 bit images</h1>
<b>Robert Schwebel</b> (<a href="mailto:robert@schwebel.de"><i>robert@schwebel.de</i></a>)<br>
<i>Tue, 19 Oct 1999 22:45:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">gull@condor.resnet.mtu.edu: "Re: problem getting a snapscan to work"</a>
<li> <b>Previous message:</b> <a href="0156.html">joakim verona: "Re: problem getting a snapscan to work"</a>
<li> <b>Maybe in reply to:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0160.html">Oliver Rauch: "Re: 16 bit images"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; You did not see the following line before the block you quoted:</i><br>
<p>
Grumpf, you are right, I'll have to take away the tomatoes from my eyes<br>
;-) But that doesn't change the fact that xsane as well as xscanimage<br>
and scanimage claim not to be able to display my 16 bit image...<br>
<p>
Any other idea?<br>
<p>
Robert<br>
<pre>
-- 
 +----------------------------------------------------------+
  Robert Schwebel, Luedemannstrasse 25, 24114 Kiel, Germany 
    Public Observatory Rothwesten  (near Kassel, Germany)   
      Phone: +49-431-6794138, email: <a href="mailto:robert@schwebel.de">robert@schwebel.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">gull@condor.resnet.mtu.edu: "Re: problem getting a snapscan to work"</a>
<li> <b>Previous message:</b> <a href="0156.html">joakim verona: "Re: problem getting a snapscan to work"</a>
<li> <b>Maybe in reply to:</b> <a href="0138.html">Robert Schwebel: "16 bit images"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0160.html">Oliver Rauch: "Re: 16 bit images"</a>
<!-- reply="end" -->
</ul>
