<!-- received="Wed Oct 27 16:25:01 1999 PDT" -->
<!-- sent="Wed, 27 Oct 1999 22:15:49 +0100" -->
<!-- name="Dave Hill" -->
<!-- email="dave@minnie.demon.co.uk" -->
<!-- subject="Re: Epson GT-7000 Photo" -->
<!-- id="" -->
<!-- inreplyto="Epson GT-7000 Photo" -->
<title>sane-devel: Re: Epson GT-7000 Photo</title>
<h1>Re: Epson GT-7000 Photo</h1>
<b>Dave Hill</b> (<a href="mailto:dave@minnie.demon.co.uk"><i>dave@minnie.demon.co.uk</i></a>)<br>
<i>Wed, 27 Oct 1999 22:15:49 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Ricardo Ferreira: "Mustek ScanExpress 6000SP"</a>
<li> <b>Previous message:</b> <a href="0216.html">Kevin Charter: "Re: Snapscan Troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dave Hill wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi</i><br>
<i>&gt; </i><br>
<i>&gt; I have downloaded and compiled this and yes, it doesn work with</i><br>
<p>
s/doesn/does/<br>
<p>
<i>&gt; my bare GT7000, but both xsane and xscanimage fail with</i><br>
<i>&gt; "Segmentation fault" when trying to save the device settings.</i><br>
<i>&gt; </i><br>
<i>&gt; I will try a little debugging to see what is happening when I</i><br>
<i>&gt; get a minute or so!</i><br>
<i>&gt; </i><br>
<i>&gt; Dave Hill</i><br>
<i>&gt; </i><br>
<p>
<p>
An easy one. For a bare GT7000, the source list is init'ed to<br>
one entry, but the default is set to the second entry, so<br>
sane_control_option() barfs when trying to retrieve the name<br>
of the source.<br>
<p>
--- epson-0.1.3/epson.c Sat Oct  2 09:54:13 1999<br>
+++ epson.c     Wed Oct 27 22:00:15 1999<br>
@@ -1543,7 +1543,7 @@<br>
                s-&gt;opt[ OPT_SOURCE].constraint_type             =<br>
SANE_CONSTRAINT_STRING_LIST;<br>
                s-&gt;opt[ OPT_SOURCE].constraint.string_list      =<br>
source_list;<br>
 <br>
-               s-&gt;val[ OPT_SOURCE].w           = 1;<br>
+               s-&gt;val[ OPT_SOURCE].w           = 0;<br>
 <br>
                if( ! s-&gt;hw-&gt;extension) {<br>
                        s-&gt;opt[ OPT_SOURCE].cap |= SANE_CAP_INACTIVE;<br>
<p>
<p>
<pre>
-- 
Dave Hill, Kempston, Bedford UK		<a href="mailto:dave@minnie.demon.co.uk">dave@minnie.demon.co.uk</a>
Sicth munce ago, I cutn't evun spel enjuneer, and now I are one!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Ricardo Ferreira: "Mustek ScanExpress 6000SP"</a>
<li> <b>Previous message:</b> <a href="0216.html">Kevin Charter: "Re: Snapscan Troubles"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
