<!-- received="Sat Oct 30 06:58:53 1999 PDT" -->
<!-- sent="Sat, 30 Oct 1999 15:41:48 +0200" -->
<!-- name="abel deuring" -->
<!-- email="a.deuring@satzbau-gmbh.de" -->
<!-- subject="Re: Mustek ScanExpress 6000SP" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress 6000SP" -->
<title>sane-devel: Re: Mustek ScanExpress 6000SP</title>
<h1>Re: Mustek ScanExpress 6000SP</h1>
<b>abel deuring</b> (<a href="mailto:a.deuring@satzbau-gmbh.de"><i>a.deuring@satzbau-gmbh.de</i></a>)<br>
<i>Sat, 30 Oct 1999 15:41:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#233">[ date ]</a><a href="index.html#233">[ thread ]</a><a href="subject.html#233">[ subject ]</a><a href="author.html#233">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0234.html">abel deuring: "Re: Mustek ScanExpress 6000SP"</a>
<li> <b>Previous message:</b> <a href="0232.html">Ricardo Ferreira: "Re: Mustek ScanExpress 6000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0218.html">Ricardo Ferreira: "Mustek ScanExpress 6000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0234.html">abel deuring: "Re: Mustek ScanExpress 6000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ricardo,<br>
<p>
<i>&gt; Yes, it applied without problems. Thanks. However, it didnt solve the</i><br>
<i>&gt; problem. Even with high buffer sizes the scanner continues to do exactly</i><br>
<i>&gt; the same (speedwise and in behaviour). The problem therefor must be</i><br>
<i>&gt; either in the backend or the scsi card/driver.</i><br>
<i>&gt; </i><br>
<i>&gt; In order to try and see if i could discover what was wrong i set</i><br>
<i>&gt; SANE_DEVEL_MUSTEK=255 and received this strange messages:</i><br>
<i>&gt; [mustek] reader_process: 352176 bytes read.</i><br>
<i>&gt; [mustek] mustek.output_data: data=0x40914008, lpb=92, bpl=3828,</i><br>
<i>&gt; extra=0x40b14008</i><br>
<i>&gt; [mustek] start color: 0</i><br>
<i>&gt; [mustek] read lines: 276</i><br>
<i>&gt; [mustek] saved lines: 4/0/2</i><br>
<i>&gt; [mustek] available:  50/46/48</i><br>
<i>&gt; [mustek] triples: 46</i><br>
<i>&gt; [mustek] read 4096 bytes</i><br>
<i>&gt; [mustek] read -1 bytes</i><br>
<p>
The backend starts a reader process which reads the data from the<br>
scanner and sends it via a pipe to the parent process. The lines "read<br>
4096 bytes" / "READ -1 bytes"  are written by the parent process; it<br>
simpy means that you can only write/read blocks of 4096 bytes to/from a<br>
pipe. This does not necessarily mean that the reader process reads only<br>
blocks of 4096 bytes from the scanner.<br>
<p>
I don't have worked much with a Mustek scanner, and I have neither<br>
worked on the backend, so I might write now some nonsense, but anyway:<br>
You can try to change the line <br>
<p>
	#define REQUESTS 1<br>
<p>
to<br>
<p>
	#define REQUESTS 2 (or may be 3)<br>
<p>
in mustek.c and recompile the backend again.<br>
<p>
If I understand the source code right, the backend should then queue two<br>
resp. three read commands. This alone does not necessarily help, since<br>
AFAIK the Linux kernels contain up to now the SG driver version 2.1.34,<br>
and this SG version does not yet support "driver level" queueing. In<br>
this case, the queueing logic is done within sanei_scsi.c, and this<br>
means that the pipe might remain a bottleneck. Upgrading to SG version<br>
2.1.35 should help in this case. You can download the SG driver from<br>
<a href="http://www.torque.net/sg/">http://www.torque.net/sg/</a><br>
<p>
Abel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0234.html">abel deuring: "Re: Mustek ScanExpress 6000SP"</a>
<li> <b>Previous message:</b> <a href="0232.html">Ricardo Ferreira: "Re: Mustek ScanExpress 6000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0218.html">Ricardo Ferreira: "Mustek ScanExpress 6000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0234.html">abel deuring: "Re: Mustek ScanExpress 6000SP"</a>
<!-- reply="end" -->
</ul>
