<!-- received="Sat Aug  2 04:43:20 1997 MST" -->
<!-- sent="Sat, 2 Aug 1997 13:24:28 +0200 (MET DST)" -->
<!-- name="orauch@physik.uni-osnabrueck.de" -->
<!-- email="orauch@physik.uni-osnabrueck.de" -->
<!-- subject="umax-backend" -->
<!-- id="199708021124.NAA00837@Babylon5.rz.uni-osnabrueck.de" -->
<!-- inreplyto="" -->
<title>sane-devel: umax-backend</title>
<h1>umax-backend</h1>
<a href="mailto:orauch@physik.uni-osnabrueck.de"><i>orauch@physik.uni-osnabrueck.de</i></a><br>
<i>Sat, 2 Aug 1997 13:24:28 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Michael K. Johnson: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0011.html">Michael K. Johnson: "Some things you have to be an outsider to see..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello UMAX-SCANNER owners and fans!<br>
<p>
My computer was defect since 6 Weeks so I wasn't able to read<br>
and answer to your mails. Please excuse that, now I'am here again! ;-)<br>
<p>
I just downloaded all the mails and it have been about 250.<br>
<p>
At first I will have to take a look at al the changes that have been<br>
done in the last 6 weeks. Then I will make available a new version of the<br>
umax-backend, but that may take some days.<br>
<p>
The Problems with the Vista S6E and the Astra Scanners will<br>
not be fixed. I wrote a lot of mails to umax germany, usa and taiwan,<br>
but I didn't get any answers to my questions. With the available<br>
informations of the umax-scsi-protocol I am not able to fix the<br>
problems. I'm sorry about that, but I don't know how I should do it!<br>
<p>
Thanks for your mails<br>
<p>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Michael K. Johnson: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0011.html">Michael K. Johnson: "Some things you have to be an outsider to see..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
