<!-- received="Sat Aug  2 06:29:40 1997 MST" -->
<!-- sent="Sat, 02 Aug 1997 09:20:05 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Sane configuration?" -->
<!-- id="199708021320.JAA29069@nigel.redhat.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane configuration?</title>
<h1>Sane configuration?</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sat, 02 Aug 1997 09:20:05 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0013.html">Michael K. Johnson: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Sane configuration has clearly changed between .5* and .62.  It used to<br>
be that libsane.so.0 was a symlink to whatever library you were going<br>
to use; libsane-dll.so.0 if you wanted to dynamically load different<br>
back ends, or directly to a backend if you wanted to use it.  Now there<br>
is a separate libsane.so.0.<br>
<p>
The only way I seem to be able to get it to recognize my umax scanner<br>
is to link libsane.so.0 to libsane-umax.so.0.  Of course, not everything<br>
works perfectly, but I'm at least able to scan that way.  I have to<br>
leave the real libsane.so.0 in order to get the gimp to query the<br>
plugin correctly, but then no images are available, so I have to quit<br>
and change the symlink, and then the gimp doesn't query the plugin<br>
and I'm able to scan correctly.<br>
<p>
I'm hesitant to release a sane RPM if I can't get it to work on my<br>
scanner without hacking of this nature.  David, how *should* this work?<br>
<p>
Also, why was my scanner-discovery code from the command-line verson<br>
not included in the backend?  Some scanners can't be searched for safely,<br>
but UMAX scanners can be searched for very safely.<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0013.html">Michael K. Johnson: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
