<!-- received="Wed Aug  6 08:06:34 1997 MST" -->
<!-- sent="Wed, 6 Aug 1997 07:33:18 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Error compiling sane 0.62 on AIX 4.1" -->
<!-- id="199708061433.HAA03636@panda.mosberger" -->
<!-- inreplyto="19970806141357.26084@adm1jed" -->
<title>sane-devel: Re: Error compiling sane 0.62 on AIX 4.1</title>
<h1>Re: Error compiling sane 0.62 on AIX 4.1</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 6 Aug 1997 07:33:18 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">David Mosberger-Tang: "Re: COOLSCAN II backend - resend"</a>
<li> <b>Previous message:</b> <a href="0024.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>In reply to:</b> <a href="0023.html">Rogan Dawes: "Error compiling sane 0.62 on AIX 4.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 6 Aug 1997 14:13:57 +0200, Rogan Dawes &lt;<a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>&gt; said:</i><br>
<p>
  Rogan&gt; Hi folks.  I am having a little bit of trouble compiling sane<br>
  Rogan&gt; 0.62 on AIX 4.1.<br>
<p>
Building shared libraries does not work for all versions of AIX (I<br>
think the table on the SANE home page indicates this).  Unfortunately,<br>
libtool seems to think this works ok, so you have to manually force<br>
the building of static libraries.  You can do this by invoking<br>
configure with option --disable-shared.  Incidentally, that's the<br>
recommended way to build SANE for debugging purposes anyway, so not<br>
much is lost for now.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">David Mosberger-Tang: "Re: COOLSCAN II backend - resend"</a>
<li> <b>Previous message:</b> <a href="0024.html">Michael K. Johnson: "Re: COOLSCAN II backend"</a>
<li> <b>In reply to:</b> <a href="0023.html">Rogan Dawes: "Error compiling sane 0.62 on AIX 4.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
