<!-- received="Fri Aug  8 05:49:53 1997 MST" -->
<!-- sent="Fri, 8 Aug 1997 13:57:31 +0200" -->
<!-- name="Rogan Dawes" -->
<!-- email="rdawes@jhbelec.co.za" -->
<!-- subject="minimal config." -->
<!-- id="19970808135731.34285@adm1jed" -->
<!-- inreplyto="" -->
<title>sane-devel: minimal config.</title>
<h1>minimal config.</h1>
<b>Rogan Dawes</b> (<a href="mailto:rdawes@jhbelec.co.za"><i>rdawes@jhbelec.co.za</i></a>)<br>
<i>Fri, 8 Aug 1997 13:57:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Christophe Zwecker: "probs with 0.62"</a>
<li> <b>Previous message:</b> <a href="0039.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I need to create a minimally configured setup, so that I can basically<br>
link a couple of lines of code against the sane scsi code, and test my<br>
AIX SCSI implementation, bit by bit.<br>
<p>
You can probably tell by now that I have not done much Unix programming<br>
:-)<br>
<p>
I tried my SCSI implementation with the full HP backend, and I crashed<br>
my RS/6000.<br>
<p>
What is the best way to go about testing something like this?<br>
<p>
I guess that the first part would be to try to read from the scanner,<br>
i.e. do an inquiry, Read the current parameters, etc, before I try<br>
writing.<br>
<p>
All suggestions welcome.<br>
<p>
Rogan<br>
<pre>
-- 
Rogan Dawes  <a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>   Tel: (011) 490-7379  Fax: (011) 490-7327
- The software said it requires Windows 3.1 or better, so I installed Linux -
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Christophe Zwecker: "probs with 0.62"</a>
<li> <b>Previous message:</b> <a href="0039.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
