<!-- received="Wed Aug 13 01:04:16 1997 MST" -->
<!-- sent="13 Aug 1997 09:08:34 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="Re: scsi generic devices" -->
<!-- id="5srmhi$i5g$1@dumbo.und.zoff" -->
<!-- inreplyto="scsi generic devices" -->
<title>sane-devel: Re: scsi generic devices</title>
<h1>Re: scsi generic devices</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>13 Aug 1997 09:08:34 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#55">[ date ]</a><a href="index.html#55">[ thread ]</a><a href="subject.html#55">[ subject ]</a><a href="author.html#55">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Per Harald Myrvang: "Nikon Super Coolscan LS 1000 and SANE"</a>
<li> <b>Previous message:</b> <a href="0054.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: UMAX-ASTRA-300P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang &lt;<a href="mailto:davidm@AZStarNet.COM">davidm@AZStarNet.COM</a>&gt; wrote:<br>
<i>&gt;&gt;&gt;&gt;&gt;&gt; On 13 Aug 1997 02:24:13 +0200, <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a> (Christophe Zwecker) said:</i><br>
<p>
<i>&gt;result[0]=0x5 means that the device is a ROM (cd-rom, I suppose).  I'd</i><br>
<p>
hey, youre right, what I saw on bootup was (found generic scsi device<br>
....) was for the CDBurner, got it mixed up, works again now.<br>
I will look into 0.62 again know. Thx for the great support<br>
<p>
bye<br>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0056.html">Per Harald Myrvang: "Nikon Super Coolscan LS 1000 and SANE"</a>
<li> <b>Previous message:</b> <a href="0054.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: UMAX-ASTRA-300P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
