<!-- received="Wed Aug 13 17:33:41 1997 MST" -->
<!-- sent="Wed, 13 Aug 1997 16:59:14 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="pre-0.63 patch" -->
<!-- id="199708132359.QAA01316@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: pre-0.63 patch</title>
<h1>pre-0.63 patch</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 13 Aug 1997 16:59:14 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Markus Kramer: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<li> <b>Previous message:</b> <a href="0060.html">David Mosberger-Tang: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Michael Sweet: "Re: pre-0.63 patch"</a>
<li> <b>Maybe reply:</b> <a href="0069.html">Michael Sweet: "Re: pre-0.63 patch"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Below is a pre-patch for those interested in trying out the very<br>
latest sources.  The main change is that there should be now working<br>
support for the Irix generic SCSI interface and prelimenary support<br>
for the SCO generic SCSI interface.  I'll be moving out of Tucson in a<br>
few days to take a job in the Bay Area, so I wanted to get the latest<br>
code out before tearing down the Internet connection.  I hope to find<br>
some time to make additional improvements to SANE between now and<br>
Sep. 1st, but that depends a little bit on how hairy the move will<br>
be... ;-)<br>
<p>
So, for now, try out the code below if you're adventurous.<br>
<p>
Happy hacking,<br>
<p>
       --david<br>
<p>
diff -urN sane-0.62/ChangeLog sane-pre0.63/ChangeLog<br>
--- sane-0.62/ChangeLog	Sat Jul 26 16:43:43 1997<br>
+++ sane-pre0.63/ChangeLog	Fri Aug  8 07:18:13 1997<br>
@@ -1,3 +1,35 @@<br>
+1997-08-07  David Mosberger-Tang  &lt;<a href="mailto:davidm@azstarnet.com">davidm@azstarnet.com</a>&gt;<br>
+<br>
+	* backend/mustek.c (attach): Print Mustek scanner info at<br>
+	debug level 2, not 3.<br>
+<br>
+1997-08-06  David Mosberger-Tang  &lt;<a href="mailto:davidm@azstarnet.com">davidm@azstarnet.com</a>&gt;<br>
+<br>
+	* frontend/preview.c (XSERVER_WITH_BUGGY_VISUALS): Make conditional<br>
+	on #ifdef __alpha__ (Michael Sweet reports that the old code broke<br>
+	SGI IRIX 6.3).<br>
+<br>
+1998-08-01  David Mosberger-Tang  &lt;<a href="mailto:davidm@azstarnet.com">davidm@azstarnet.com</a>&gt;<br>
+<br>
+	* include/sane/config.h.in (HAVE_SYS_SCSICMD_H, HAVE_SYS_DSREQ_H):<br>
+ 	Undefine.<br>
+<br>
+	* configure.in (AC_CHECK_HEADERS): Mention sys/scsicmd.h and<br>
+ 	sys/dsreq.h.<br>
+<br>
+	* sanei/sanei_scsi.c (SCO_OS55_INTERFACE, IRIX_INTERFACE,<br>
+ 	SOLARIS_INTERFACE): Define.<br>
+<br>
+1997-07-27  David Mosberger-Tang  &lt;<a href="mailto:davidm@azstarnet.com">davidm@azstarnet.com</a>&gt;<br>
+<br>
+	* frontend/xscanimage.c (quit_xscan) [HAVE_LIBGIMP_GIMP_H]: When<br>
+	running as a GIMP extension, call gimp_quit().<br>
+	(init) [HAVE_LIBGIMP_GIMP_H]: Set GDK's xshm flag based on GIMP's<br>
+	flag.<br>
+<br>
+	* doc/sane-mustek.man (SCSI ADAPTER TIPS): Try to make complete<br>
+	sentences.<br>
+<br>
 1997-07-25  David Mosberger-Tang  &lt;<a href="mailto:davidm@azstarnet.com">davidm@azstarnet.com</a>&gt;<br>
 <br>
 	* Version 0.62 released.<br>
diff -urN sane-0.62/PROJECTS sane-pre0.63/PROJECTS<br>
--- sane-0.62/PROJECTS	Sun Jul  6 09:21:47 1997<br>
+++ sane-pre0.63/PROJECTS	Wed Aug  6 07:39:00 1997<br>
@@ -1,4 +1,4 @@<br>
-Sat Jun 28 10:02:05 1997<br>
+Wed Aug  6 07:38:25 1997<br>
 <br>
 Here is a list of projects that various people have expressed interest<br>
 in.  Before starting working on one of these projects, it may be a<br>
@@ -18,6 +18,7 @@<br>
 <br>
 Backend:   Status: Contact:				    available hw:<br>
 --------   ------- ---------------------------------------- -------------<br>
+Coolscan   planned Didier Carlier &lt;<a href="mailto:carlierd@acm.org">carlierd@acm.org</a>&gt;	    Nikon Coolscan II<br>
 EpsPhoto   wanted  Jeff Tranter &lt;<a href="mailto:tranter@software.Mitel.COM">tranter@software.Mitel.COM</a>&gt;PhotoPC500 (want)<br>
 Kodak	   wanted  John Kodis &lt;<a href="mailto:kodis@kodis.jagunet.com">kodis@kodis.jagunet.com</a>&gt;	    Kodak DS-20 (want)<br>
 autoadj	   planned David Mosberger<br>
diff -urN sane-0.62/README sane-pre0.63/README<br>
--- sane-0.62/README	Sat Jul 26 16:28:12 1997<br>
+++ sane-pre0.63/README	Sun Jul 27 08:06:11 1997<br>
@@ -68,7 +68,8 @@<br>
 <br>
  --disable-shared<br>
 	Don't use shared libraries.  Useful for debugging or when there<br>
-	is a problem building shared libraries.<br>
+	is a problem building shared libraries.  This implicitly turns<br>
+	on --disable-dynamic as well.<br>
 <br>
  --disable-ld-fix<br>
 	Turn off a bug fix in the Mustek backend.  See sane-mustek(5)<br>
@@ -101,7 +102,7 @@<br>
 the compiler flags when using HP's C compiler (not gcc).  This can be<br>
 done by invoking configure with:<br>
 <br>
-	CPPFLAGS=-D_HPUX_SOURCE CFLAGS=-Aa ./configure<br>
+	CC=cc CPPFLAGS=-D_HPUX_SOURCE CFLAGS=-Aa ./configure<br>
 <br>
 * Build<br>
 <br>
diff -urN sane-0.62/backend/mustek.c sane-pre0.63/backend/mustek.c<br>
--- sane-0.62/backend/mustek.c	Fri Jul 25 16:30:42 1997<br>
+++ sane-pre0.63/backend/mustek.c	Thu Aug  7 08:09:53 1997<br>
@@ -478,7 +478,7 @@<br>
   if (result[63] &amp; (1 &lt;&lt; 6))<br>
     dev-&gt;flags |= MUSTEK_FLAG_TA;<br>
 <br>
-  DBG(3, "attach: found Mustek scanner model %s (%s), %s%s%s\n",<br>
+  DBG(2, "attach: found Mustek scanner model %s (%s), %s%s%s\n",<br>
       dev-&gt;sane.model, dev-&gt;sane.type,<br>
       (dev-&gt;flags &amp; MUSTEK_FLAG_SINGLE_PASS) ? "1-pass" : "3-pass",<br>
       (dev-&gt;flags &amp; MUSTEK_FLAG_ADF) ? ", ADF" : "",<br>
diff -urN sane-0.62/configure sane-pre0.63/configure<br>
--- sane-0.62/configure	Sat Jul 26 16:43:56 1997<br>
+++ sane-pre0.63/configure	Fri Aug  8 07:21:21 1997<br>
@@ -1159,9 +1159,9 @@<br>
 <br>
 fi<br>
 <br>
-for ac_hdr in fcntl.h unistd.h libintl.h libc.h sys/select.h \<br>
-    sys/scanio.h scsi.h sys/scsi.h sys/scsiio.h bsd/dev/scsireg.h \<br>
-    scsi/sg.h /usr/src/linux/include/scsi/sg.h io/cam/cam.h<br>
+for ac_hdr in fcntl.h unistd.h libintl.h libc.h sys/dsreq.h sys/select.h \<br>
+    sys/scanio.h scsi.h sys/scsi.h sys/scsicmd.h sys/scsiio.h \<br>
+    bsd/dev/scsireg.h scsi/sg.h /usr/src/linux/include/scsi/sg.h io/cam/cam.h<br>
 do<br>
 ac_safe=`echo "$ac_hdr" | sed 'y%./+-%__p_%'`<br>
 echo $ac_n "checking for $ac_hdr""... $ac_c" 1&gt;&amp;6<br>
diff -urN sane-0.62/configure.in sane-pre0.63/configure.in<br>
--- sane-0.62/configure.in	Sat Jul 26 16:43:21 1997<br>
+++ sane-pre0.63/configure.in	Fri Aug  8 07:19:43 1997<br>
@@ -36,9 +36,9 @@<br>
 <br>
 dnl Checks for header files.<br>
 AC_HEADER_STDC<br>
-AC_CHECK_HEADERS(fcntl.h unistd.h libintl.h libc.h sys/select.h \<br>
-    sys/scanio.h scsi.h sys/scsi.h sys/scsiio.h bsd/dev/scsireg.h \<br>
-    scsi/sg.h /usr/src/linux/include/scsi/sg.h io/cam/cam.h)<br>
+AC_CHECK_HEADERS(fcntl.h unistd.h libintl.h libc.h sys/dsreq.h sys/select.h \<br>
+    sys/scanio.h scsi.h sys/scsi.h sys/scsicmd.h sys/scsiio.h \<br>
+    bsd/dev/scsireg.h scsi/sg.h /usr/src/linux/include/scsi/sg.h io/cam/cam.h)<br>
 <br>
 dnl Checks for typedefs, structures, and compiler characteristics.<br>
 AC_C_CONST<br>
diff -urN sane-0.62/doc/sane-mustek.man sane-pre0.63/doc/sane-mustek.man<br>
--- sane-0.62/doc/sane-mustek.man	Fri Jul 25 16:52:58 1997<br>
+++ sane-pre0.63/doc/sane-mustek.man	Sun Jul 27 08:18:49 1997<br>
@@ -100,14 +100,18 @@<br>
 should consider that Mustek scanners do not support the SCSI-2<br>
 disconnect/reconnect protocol and hence tie up the SCSI bus while a<br>
 scan is in progress.  This means that no other SCSI device on the same<br>
-bus can be accessed while a scan is in progress.  With <br>
+bus can be accessed while a scan is in progress.<br>
 .PP<br>
-In general, it is therefore recommended to purchase a separate (cheap)<br>
-SCSI card for the Mustek scanners.  For example, ncr810 based cards<br>
-are known to work fine and can be had for around fifty US dollars.<br>
+Because the Mustek-supplied adapter is not worth much and because<br>
+Mustek scanners do not support the SCSI-2 disconnect/reconnect<br>
+protocol, it is recommended to install a separate (cheap) SCSI<br>
+controller for Mustek scanners.  For example, ncr810 based cards are<br>
+known to work fine and cost as little as fifty US dollars.<br>
 .PP<br>
-Also, for Mustek scanners it is typically necessary to disable<br>
-synchronous transfers, tagged command queuing, and target disconnects.<br>
+For Mustek scanners, it is typically necessary to configure the<br>
+low-level SCSI driver to disable synchronous transfers, tagged command<br>
+queuing, and target disconnects.  See sane-scsi(5) for driver and<br>
+platform-specific information.<br>
 .SH FILES<br>
 .TP<br>
 .I @CONFIGDIR@/mustek.conf<br>
diff -urN sane-0.62/frontend/preview.c sane-pre0.63/frontend/preview.c<br>
--- sane-0.62/frontend/preview.c	Fri Jul 18 21:49:38 1997<br>
+++ sane-pre0.63/frontend/preview.c	Wed Aug  6 07:48:39 1997<br>
@@ -86,11 +86,13 @@<br>
 <br>
 #define MM_PER_INCH	25.4<br>
 <br>
-/* This seems to be necessary for at least some XFree86 3.1.2 servers.<br>
-   It's known to be necessary for the XF86_TGA server for Linux/Alpha.<br>
-   Fortunately, it's no great loss so we turn this on by default for<br>
-   now.  */<br>
-#define XSERVER_WITH_BUGGY_VISUALS<br>
+#ifdef __alpha__<br>
+  /* This seems to be necessary for at least some XFree86 3.1.2<br>
+     servers.  It's known to be necessary for the XF86_TGA server for<br>
+     Linux/Alpha.  Fortunately, it's no great loss so we turn this on<br>
+     by default for now.  */<br>
+# define XSERVER_WITH_BUGGY_VISUALS<br>
+#endif<br>
 <br>
 /* forward declarations */<br>
 static void scan_start (Preview *p);<br>
diff -urN sane-0.62/frontend/xscanimage.c sane-pre0.63/frontend/xscanimage.c<br>
--- sane-0.62/frontend/xscanimage.c	Mon Jul 14 20:11:54 1997<br>
+++ sane-pre0.63/frontend/xscanimage.c	Sun Jul 27 14:49:07 1997<br>
@@ -440,6 +440,10 @@<br>
     sane_close (gsg_dialog_get_device (dialog));<br>
   sane_exit ();<br>
   gtk_main_quit ();<br>
+#ifdef HAVE_LIBGIMP_GIMP_H<br>
+  if (ScanWin.mode == GIMP_EXTENSION)<br>
+    gimp_quit ();<br>
+#endif<br>
   exit (1);<br>
 }<br>
 <br>
@@ -1548,6 +1552,8 @@<br>
   gtk_init (&amp;argc, &amp;argv);<br>
 #ifdef HAVE_LIBGIMP_GIMP_H<br>
   gtk_rc_parse (gimp_gtkrc ());<br>
+<br>
+  gdk_set_use_xshm (gimp_use_xshm ());<br>
 #endif<br>
 <br>
   gsg_make_path (sizeof (filename), filename, 0, "sane-style", 0, ".rc");<br>
diff -urN sane-0.62/include/sane/config.h.in sane-pre0.63/include/sane/config.h.in<br>
--- sane-0.62/include/sane/config.h.in	Mon Jul  7 20:45:12 1997<br>
+++ sane-pre0.63/include/sane/config.h.in	Fri Aug  8 07:20:16 1997<br>
@@ -211,8 +211,14 @@<br>
 /* Define if you have the "/usr/src/linux/include/scsi/sg.h" header file. */<br>
 #undef HAVE__USR_SRC_LINUX_INCLUDE_SCSI_SG_H<br>
 <br>
+/* Define if you have the &lt;sys/dsreq.h&gt; header file. */<br>
+#undef HAVE_SYS_DSREQ_H<br>
+<br>
 /* Define if you have the &lt;sys/scsi.h&gt; header file. */<br>
 #undef HAVE_SYS_SCSI_H<br>
+<br>
+/* Define if you have the &lt;sys/scsicmd.h&gt; header file. */<br>
+#undef HAVE_SYS_SCSICMD_H<br>
 <br>
 /* Define if you have the &lt;sys/scsiio.h&gt; header file. */<br>
 #undef HAVE_SYS_SCSIIO_H<br>
diff -urN sane-0.62/sanei/sanei_scsi.c sane-pre0.63/sanei/sanei_scsi.c<br>
--- sane-0.62/sanei/sanei_scsi.c	Sat Jul 19 09:51:35 1997<br>
+++ sane-pre0.63/sanei/sanei_scsi.c	Fri Aug  8 07:21:07 1997<br>
@@ -53,6 +53,7 @@<br>
 <br>
 #include &lt;sys/ioctl.h&gt;<br>
 #include &lt;sys/param.h&gt;<br>
+#include &lt;sys/types.h&gt;<br>
 <br>
 #define STUBBED_INTERFACE	0<br>
 #define LINUX_INTERFACE		1<br>
@@ -60,6 +61,9 @@<br>
 #define	HPUX_INTERFACE		3<br>
 #define OPENSTEP_INTERFACE	4<br>
 #define DECUNIX_INTERFACE	5<br>
+#define SCO_OS5_INTERFACE	6<br>
+#define IRIX_INTERFACE		7<br>
+#define SOLARIS_INTERFACE	8<br>
 <br>
 #ifdef HAVE_SCSI_SG_H<br>
 # define USE LINUX_INTERFACE<br>
@@ -69,13 +73,10 @@<br>
 #  define USE LINUX_INTERFACE<br>
 #  include "/usr/src/linux/include/scsi/sg.h"<br>
 # else<br>
-#  ifdef HAVE_SYS_SCSI_H<br>
+#  ifdef HAVE_SYS_SCSICMD<br>
+#   define USE SCSO_OS5_INTERFACE<br>
 #   include &lt;sys/scsi.h&gt;<br>
-#   ifdef SCTL_READ<br>
-#    define USE HPUX_INTERFACE<br>
-#   else<br>
-     /* This happens for AIX... */<br>
-#   endif<br>
+#   include &lt;sys/scsicmd.h&gt;<br>
 #  else<br>
 #   ifdef HAVE_SYS_SCSIIO_H<br>
 #    define USE BSD_INTERFACE<br>
@@ -95,6 +96,20 @@<br>
 #      include &lt;io/cam/dec_cam.h&gt;<br>
 #      include &lt;io/cam/uagt.h&gt;<br>
 #      include &lt;io/cam/scsi_all.h&gt;<br>
+#     else<br>
+#      ifdef HAVE_SYS_DSREQ_H<br>
+#	define USE IRIX_INTERFACE<br>
+#	include &lt;sys/dsreq.h&gt;<br>
+#      else<br>
+#       ifdef HAVE_SYS_SCSI_H<br>
+#	 include &lt;sys/scsi.h&gt;<br>
+#	 ifdef SCTL_READ<br>
+#	  define USE HPUX_INTERFACE<br>
+#	 else<br>
+	  /* This happens for AIX and possibly other platforms... */<br>
+#	 endif<br>
+#      endif<br>
+#      endif<br>
 #     endif<br>
 #    endif<br>
 #   endif<br>
@@ -765,6 +780,61 @@<br>
 #endif /* USE == DECUNIX_INTERFACE */<br>
 <br>
 <br>
+#if USE == SCO_OS5_INTERFACE<br>
+SANE_Status<br>
+sanei_scsi_cmd (int fd, const void * src, size_t src_size,<br>
+		void * dst, size_t * dst_size)<br>
+{<br>
+  static u_char sense_buffer[256];<br>
+  struct scsicmd2 sc2;<br>
+  struct scsicmd *sc;<br>
+  int cdb_size;<br>
+  int opcode;<br>
+  int i;<br>
+<br>
+  if (fd &lt; 0)<br>
+    return SANE_STATUS_IO_ERROR;<br>
+<br>
+  memset (&amp;sc2, 0, sizeof (sc2));<br>
+  sc = &amp;sc2.cmd;<br>
+  sc2.sense_len = sizeof (sense_buffer);<br>
+  sc2.sense_ptr = sense_buffer;<br>
+<br>
+  cdb_size = CDB_SIZE (*(u_char *) src);<br>
+  if (dst_size &amp;&amp; *dst_size)<br>
+    {<br>
+      sc-&gt;is_write = 0;<br>
+      sc-&gt;data_ptr = dst;<br>
+      sc-&gt;data_len = *dst_size;<br>
+    }<br>
+  else<br>
+    {<br>
+      sc-&gt;data_len = src_size - cdb_size;<br>
+      sc-&gt;data_ptr = (char *) src + cdb_size;<br>
+      sc-&gt;is_write = 1;<br>
+    }<br>
+  memcpy (sc-&gt;cdb, src, cdb_size);<br>
+  sc-&gt;cdb_len = cdb_size;<br>
+<br>
+  /* Send the command down via the "pass-through" interface */<br>
+  if (ioctl (fd, SCSIUSERCMD2, &amp;sc2) &lt; 0)<br>
+    {<br>
+      DBG(1, "sanei_scsi_cmd: ioctl(SCSIUSERCMD2) failed: %s\n",<br>
+	  strerror (errno));<br>
+      return SANE_STATUS_IO_ERROR;<br>
+    }<br>
+  if (sc-&gt;host_sts || sc-&gt;target_sts)<br>
+    {<br>
+      DBG(1, "sanei_scsi_cmd: SCSIUSERCMD2 completed with "<br>
+	  "host_sts=%x, target_sts=%x\n", sc-&gt;host_sts, sc-&gt;target_sts);<br>
+      if (fd_info[fd].sense_handler)<br>
+	return (*fd_info[fd].sense_handler) (fd, sense_buffer);<br>
+      return SANE_STATUS_IO_ERROR;<br>
+    }<br>
+  return SANE_STATUS_GOOD;<br>
+}<br>
+#endif /* USE == SCO_OS5_INTERFACE */<br>
+<br>
 #if USE == STUBBED_INTERFACE<br>
 SANE_Status<br>
 sanei_scsi_cmd (int fd, const void * src, size_t src_size,<br>
@@ -773,6 +843,67 @@<br>
   return SANE_STATUS_UNSUPPORTED;<br>
 }<br>
 #endif /* USE == STUBBED_INTERFACE */<br>
+<br>
+#if USE == IRIX_INTERFACE<br>
+SANE_Status<br>
+sanei_scsi_cmd(int fd, const void *src, size_t src_size,<br>
+	       void *dst, size_t *dst_size)<br>
+{<br>
+  dsreq_t scsi_req;		/* SCSI request */<br>
+  u_char sensebuf[1024];	/* Request sense buffer */<br>
+  size_t cdb_size;		/* Size of SCSI command */<br>
+<br>
+  cdb_size = CDB_SIZE (*(u_char *)src);<br>
+<br>
+  memset (&amp;scsi_req, 0, sizeof (scsi_req));<br>
+<br>
+  if (dst != NULL)<br>
+    {<br>
+      /*<br>
+       * SCSI command returning/reading data...<br>
+       */<br>
+      scsi_req.ds_flags    = DSRQ_READ | DSRQ_SENSE;<br>
+      scsi_req.ds_time     = 120 * 1000;<br>
+      scsi_req.ds_cmdbuf   = (caddr_t)src;<br>
+      scsi_req.ds_cmdlen   = cdb_size;<br>
+      scsi_req.ds_databuf  = (caddr_t)dst;<br>
+      scsi_req.ds_datalen  = *dst_size;<br>
+      scsi_req.ds_sensebuf = (caddr_t)sensebuf;<br>
+      scsi_req.ds_senselen = sizeof(sensebuf);<br>
+    }<br>
+  else<br>
+    {<br>
+      /*<br>
+       * SCSI command sending/writing data...<br>
+       */<br>
+      scsi_req.ds_flags    = DSRQ_WRITE | DSRQ_SENSE;<br>
+      scsi_req.ds_time     = 120 * 1000;<br>
+      scsi_req.ds_cmdbuf   = (caddr_t)src;<br>
+      scsi_req.ds_cmdlen   = cdb_size;<br>
+      scsi_req.ds_databuf  = (caddr_t)src + cdb_size;<br>
+      scsi_req.ds_datalen  = src_size - cdb_size;<br>
+      scsi_req.ds_sensebuf = (caddr_t)sensebuf;<br>
+      scsi_req.ds_senselen = sizeof(sensebuf);<br>
+    }<br>
+<br>
+  if (ioctl(fd, DS_ENTER, &amp;scsi_req) &lt; 0 || scsi_req.ds_status != 0)<br>
+    {<br>
+      DBG(1, "sanei_scsi_cmd: SCSI command failed: %s\n", strerror(errno));<br>
+<br>
+      if (scsi_req.ds_status == STA_BUSY)<br>
+	return SANE_STATUS_DEVICE_BUSY;<br>
+      else if ((sensebuf[0] &amp; 0x80) &amp;&amp; fd_info[fd].sense_handler)<br>
+	return (*fd_info[fd].sense_handler)(fd, sensebuf);<br>
+      else<br>
+	return SANE_STATUS_IO_ERROR;<br>
+    }<br>
+<br>
+  if (dst_size != NULL)<br>
+    *dst_size = scsi_req.ds_datasent;<br>
+<br>
+  return SANE_STATUS_GOOD;<br>
+}<br>
+#endif /* USE == IRIX_INTERFACE */<br>
 <br>
 #ifndef WE_HAVE_ASYNC_SCSI<br>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Markus Kramer: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<li> <b>Previous message:</b> <a href="0060.html">David Mosberger-Tang: "Re: MFS-12000SP survey [was: Re: Mustec 1200SP Firmware 1.02 Color"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Michael Sweet: "Re: pre-0.63 patch"</a>
<li> <b>Maybe reply:</b> <a href="0069.html">Michael Sweet: "Re: pre-0.63 patch"</a>
<!-- reply="end" -->
</ul>
