<!-- received="Tue Sep  2 14:17:13 1997 MST" -->
<!-- sent="Tue, 02 Sep 1997 16:42:39 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: UMAX Scanner ?" -->
<!-- id="199709022042.QAA00625@tristan.redhat.com" -->
<!-- inreplyto="UMAX Scanner ?" -->
<title>sane-devel: Re: UMAX Scanner ?</title>
<h1>Re: UMAX Scanner ?</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Tue, 02 Sep 1997 16:42:39 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Henning Sauer writes:<br>
<i>&gt;I would like to buy a UMAX Vista-S6E or Vista-S12 and would like to know</i><br>
<i>&gt;how well these scanners work with SANE ? </i><br>
<p>
They work just fine.<br>
<p>
<i>&gt;Are UMAX known to work with various SCSI Hostadapters like my Asus SC200</i><br>
<i>&gt;(NCR 810) which I use for my external SCSI chain ?</i><br>
<p>
Yes.  At least under Linux, I'm using an ASUS motherboard with the<br>
built-in version of the SC200 connected to my Vista-S6 now.<br>
(Vista-S6E is also supported, don't worry.)<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<li> <b>Previous message:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0125.html">Henning Sauer: "UMAX Scanner ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">Rogier Wolff: "Re: Backtracking in color scanning"</a>
<!-- reply="end" -->
</ul>
