<!-- received="Sun Sep  7 15:37:10 1997 MST" -->
<!-- sent="Mon, 8 Sep 1997 00:10:19 +0200" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="xscanimage with gimp 0.99" -->
<!-- id="199709071153.NAA03617@cave.BitWizard.nl" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage with gimp 0.99</title>
<h1>xscanimage with gimp 0.99</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Mon, 8 Sep 1997 00:10:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Allan Nielsen: "Linking as GIMP plug-in"</a>
<li> <b>Previous message:</b> <a href="0146.html">Ignacio Garcia: "Problems with xscanimage (sane 0.63)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi<br>
===<br>
<p>
I just wanted to check if my strange problems with the gray mode exists<br>
with xscanimage as well. The Program started OK, but tring to scan or to<br>
preview I just gozt a message box telling:<br>
"read Out of memory"<br>
But the machine has enough memory (64M)<br>
<p>
Gruss<br>
	Wolfgang<br>
Also the xcam was not able to work..<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">Allan Nielsen: "Linking as GIMP plug-in"</a>
<li> <b>Previous message:</b> <a href="0146.html">Ignacio Garcia: "Problems with xscanimage (sane 0.63)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
