<!-- received="Wed Sep 10 08:27:02 1997 MST" -->
<!-- sent="Wed, 10 Sep 1997 16:06:10 +0200 (MEST)" -->
<!-- name="Michael Burghart" -->
<!-- email="mb@suse.de" -->
<!-- subject="Umax UC 840" -->
<!-- id="199709092139.OAA23815@aries.azstarnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Umax UC 840</title>
<h1>Umax UC 840</h1>
<b>Michael Burghart</b> (<a href="mailto:mb@suse.de"><i>mb@suse.de</i></a>)<br>
<i>Wed, 10 Sep 1997 16:06:10 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Michael K. Johnson: "Re: Umax UC 840"</a>
<li> <b>Previous message:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0155.html">Michael K. Johnson: "Re: Umax UC 840"</a>
<li> <b>Maybe reply:</b> <a href="0155.html">Michael K. Johnson: "Re: Umax UC 840"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi..<br>
<p>
I just tried to get this to work but it seems unpossible..:(<br>
I consulted the READMEs and the manpages of sane-umax but was unable to<br>
get it up and running...<br>
Any ideas? Or doesn't it run?<br>
<p>
gruesse<br>
-micha-<br>
<p>
<pre>
---
  Michael Burghart, S.u.S.E. GmbH, Gebhardtstr. 2, 90762 Fuerth, Germany
  Tel: +49-911-3247130 Mo/Do 13-18.00,	WWW: <a href="http://www.suse.de/">http://www.suse.de/</a>
  Fax: +49-911-3206727,					Email: <a href="mailto:mb@suse.de">mb@suse.de</a>
          [Error 23. Unable to locate /dev/reality. Universe Halted.]
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Michael K. Johnson: "Re: Umax UC 840"</a>
<li> <b>Previous message:</b> <a href="0153.html">jim barchuk: "Re: 'bad magic number' update"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0155.html">Michael K. Johnson: "Re: Umax UC 840"</a>
<li> <b>Maybe reply:</b> <a href="0155.html">Michael K. Johnson: "Re: Umax UC 840"</a>
<!-- reply="end" -->
</ul>
