<!-- received="Wed Sep 10 13:57:20 1997 MST" -->
<!-- sent="Wed, 10 Sep 1997 21:05:18 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Gray Mode of MFS12000SP" -->
<!-- id="m0x8s4k-000BWRC@charon.beck-sw.de" -->
<!-- inreplyto="m0x4Z8e-000FwxC@drawbridge.in-berlin.de" -->
<title>sane-devel: Re: Gray Mode of MFS12000SP</title>
<h1>Re: Gray Mode of MFS12000SP</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 10 Sep 1997 21:05:18 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<li> <b>Previous message:</b> <a href="0157.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax UC 840"</a>
<li> <b>In reply to:</b> <a href="0116.html">Wolfgang Jung: "Re: Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0162.html">Wolfgang Jung: "Re: Gray Mode of MFS12000SP"</a>
<li> <b>Reply:</b> <a href="0162.html">Wolfgang Jung: "Re: Gray Mode of MFS12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; But if I tell the sane to use 1 line/buffer the scanner scans for a 10x10nn</i><br>
<i>&gt; area an awful lot more (about 16 times as much :( ).</i><br>
<p>
<i>&gt; It seems to me that the the follwing happens.</i><br>
<i>&gt; ....READ_DATA(lpb)</i><br>
<i>&gt;     Scanner scannes lpb plus some additional lines (estimate of 16)</i><br>
<i>&gt;     Scanner delivers data (maybe it delivers all the data)</i><br>
<i>&gt;     sane just read lpb from the buffer</i><br>
<i>&gt;     ........</i><br>
<p>
<i>&gt; between buffers the Scanner stops for a moment.</i><br>
<p>
This can be right. The scanner works in the following manner (this drawing<br>
should go to the FAQ):<br>
<p>
-snip-snip-snip-<br>
<p>
Q: Why does my scanner backtrack and what is backtracking ?<br>
<p>
A: Backtracking are those little backward steps the scanner makes when a <br>
SCSI buffer has been filled. You recognize them a "stops" in the scanning <br>
process and if you watch closely, you should see the slider move back a <br>
bit. This has technical reasons :<br>
<p>
R   L   P  The scanner has 3 CCD Elemets, 1 for each color. According to my <br>
  \ E / A  measurements they are 1/72" apart optically "on the paper".<br>
G---*---P  Thus when the scanner wants to acquire a 1"x1" area, it needs to<br>
  / N \ E  travel yet another 2/72" to get the whole image in all colors.<br>
B   S   R  Effectively 3 images R/G/B with a displacement of 1/72" are<br>
         scanned simultaneously.<br>
<p>
At least for the MFS 12000 both possibilities to correct this artifact seem<br>
to be used, depending on the firmware.<br>
<p>
For FW &lt; 1.02, nothing is done on the scanner side, and the "alternate LD-<br>
correction" algorithm is engaged which effectively displaces two channels<br>
by 1/72" and 2/72" via ring-buffers.<br>
<p>
For later FW the scanner corrects the effect itself for each block read <br>
by mixing up the data in a strange manner which causes only the data<br>
needed for the currently "logically scanned area" to appear in the<br>
output. This correction scheme makes "backtracking" necessary. I.e.<br>
the scanner's slider will back up a little bit after each transfer (2/72")<br>
to have all data from the currectly transferred area available.<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<li> <b>Previous message:</b> <a href="0157.html">Oliver.Rauch@Wolfsburg.DE: "Re: Umax UC 840"</a>
<li> <b>In reply to:</b> <a href="0116.html">Wolfgang Jung: "Re: Backtracking in color scanning"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0162.html">Wolfgang Jung: "Re: Gray Mode of MFS12000SP"</a>
<li> <b>Reply:</b> <a href="0162.html">Wolfgang Jung: "Re: Gray Mode of MFS12000SP"</a>
<!-- reply="end" -->
</ul>
