<!-- received="Thu Sep 11 20:13:01 1997 MST" -->
<!-- sent="Thu, 11 Sep 1997 13:06:22 +0200 (CEST)" -->
<!-- name="Michael Ritzert" -->
<!-- email="Ritzert@T-Online.de" -->
<!-- subject="Re: mustek problems in lineart mode" -->
<!-- id="199709111158.NAA28748@esme.cc.uit.no" -->
<!-- inreplyto="m0x8nfQ-000BWRC@charon.beck-sw.de" -->
<title>sane-devel: Re: mustek problems in lineart mode</title>
<h1>Re: mustek problems in lineart mode</h1>
<b>Michael Ritzert</b> (<a href="mailto:Ritzert@T-Online.de"><i>Ritzert@T-Online.de</i></a>)<br>
<i>Thu, 11 Sep 1997 13:06:22 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">David Mosberger-Tang: "Re: saned check_hosts() frobnication"</a>
<li> <b>Previous message:</b> <a href="0168.html">Preston Brown: "Umax Astra 600S problems"</a>
<li> <b>In reply to:</b> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0170.html">David Mosberger-Tang: "Re: saned check_hosts() frobnication"</a>
<li> <b>Reply:</b> <a href="0170.html">David Mosberger-Tang: "Re: saned check_hosts() frobnication"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo Andreas!<br>
<p>
On 10-Sep-97 <a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a> wrote:<br>
<p>
<i>&gt;&gt; This doesn't always work. The scanner simply stops in the middle of the page</i><br>
<i>&gt;&gt; and scanimage seems to hang. Using xscanimage the problem is the same. Other</i><br>
<i>&gt;&gt; modes than lineart work fine.</i><br>
<i>&gt;</i><br>
<i>&gt;I see similar problems here. It doesn't seem to depend on the mode (actually</i><br>
<i>&gt;I cannot reproduce exact conditions under which it fails), but from time to</i><br>
<i>&gt;time my MFS 12000 SP will hang and the SCSI system will be taken down with </i><br>
<i>&gt;it. If you reboot the system without powering off the scanner in the meantime,</i><br>
<i>&gt;the system will hang again when the SCSI driver gets loaded. </i><br>
<p>
Well, that's exactly what happens here. The only difference seems to be that for<br>
me it only happens in Lineart mode.<br>
<p>
Please let me know if you get more information via private e-mail.<br>
<p>
Ciao, Michael<br>
<pre>
---
    _
|\/|_)  -=&gt; <a href="mailto:ritzert@cfg.hd.bw.schule.de">ritzert@cfg.hd.bw.schule.de</a> &lt;=-
|  | \  *Michael Ritzert* - <a href="http://home.t-online.de/home/ritzert">http://home.t-online.de/home/ritzert</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">David Mosberger-Tang: "Re: saned check_hosts() frobnication"</a>
<li> <b>Previous message:</b> <a href="0168.html">Preston Brown: "Umax Astra 600S problems"</a>
<li> <b>In reply to:</b> <a href="0159.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0170.html">David Mosberger-Tang: "Re: saned check_hosts() frobnication"</a>
<li> <b>Reply:</b> <a href="0170.html">David Mosberger-Tang: "Re: saned check_hosts() frobnication"</a>
<!-- reply="end" -->
</ul>
