<!-- received="Fri Sep 12 13:19:44 1997 MST" -->
<!-- sent="Fri, 12 Sep 1997 15:28:53 -0400 (EDT)" -->
<!-- name="Preston Brown" -->
<!-- email="pbrown@econ.yale.edu" -->
<!-- subject="Astra 600S, ncr 53c875 (tekram) SCI solved" -->
<!-- id="199709121414.KAA16396@tristan.redhat.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Astra 600S, ncr 53c875 (tekram) SCI solved</title>
<h1>Astra 600S, ncr 53c875 (tekram) SCI solved</h1>
<b>Preston Brown</b> (<a href="mailto:pbrown@econ.yale.edu"><i>pbrown@econ.yale.edu</i></a>)<br>
<i>Fri, 12 Sep 1997 15:28:53 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#175">[ date ]</a><a href="index.html#175">[ thread ]</a><a href="subject.html#175">[ subject ]</a><a href="author.html#175">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<li> <b>Previous message:</b> <a href="0174.html">Laszlo Vecsey: "HP OfficeJet Pro 1150c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0176.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<li> <b>Maybe reply:</b> <a href="0176.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<li> <b>Maybe reply:</b> <a href="0177.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I fixed the SCSI timeout/hang problems by download a SCSI module driver<br>
DIRECT FROM TEKRAM (ftp.tekram.com).  This driver works MUCH better than<br>
the generic ncr driver incl. in RedHat 4.2.  Perhaps the crew at redhat<br>
will include it in their next release, as this card becomes more popular<br>
and gains momentum.<br>
<p>
Anyway, the Astra is working much better now.<br>
<p>
<pre>
---
 -Preston Brown
  <a href="mailto:preston.brown@yale.edu">preston.brown@yale.edu</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<li> <b>Previous message:</b> <a href="0174.html">Laszlo Vecsey: "HP OfficeJet Pro 1150c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0176.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<li> <b>Maybe reply:</b> <a href="0176.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<li> <b>Maybe reply:</b> <a href="0177.html">Michael K. Johnson: "Re: Astra 600S, ncr 53c875 (tekram) SCI solved"</a>
<!-- reply="end" -->
</ul>
