<!-- received="Mon Sep 15 14:08:20 1997 MST" -->
<!-- sent="Mon, 15 Sep 1997 14:16:11 -0700" -->
<!-- name="F. Paquet" -->
<!-- email="fredy@gasgas.opag.ch" -->
<!-- subject="Sun Solaris" -->
<!-- id="199709152105.XAA08323@gasgas." -->
<!-- inreplyto="" -->
<title>sane-devel: Sun Solaris</title>
<h1>Sun Solaris</h1>
<b>F. Paquet</b> (<a href="mailto:fredy@gasgas.opag.ch"><i>fredy@gasgas.opag.ch</i></a>)<br>
<i>Mon, 15 Sep 1997 14:16:11 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#189">[ date ]</a><a href="index.html#189">[ thread ]</a><a href="subject.html#189">[ subject ]</a><a href="author.html#189">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Georg Greve: "SANE Support for HP Scanjet 5P"</a>
<li> <b>Previous message:</b> <a href="0188.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Who is working on the Sun/Solaris 2.x drivers ?<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0190.html">Georg Greve: "SANE Support for HP Scanjet 5P"</a>
<li> <b>Previous message:</b> <a href="0188.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: mustek problems in lineart mode"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
