<!-- received="Fri Sep 19 13:44:07 1997 MST" -->
<!-- sent="Fri, 19 Sep 1997 22:03:39 +0200" -->
<!-- name="Wolfgang Jung" -->
<!-- email="woju@keep.in-berlin.de" -->
<!-- subject="Re: HP 4P problems" -->
<!-- id="199709191827.UAA00714@Babylon5.wolfsburg.de" -->
<!-- inreplyto="XFMail.970919203030.onaias@iki.fi" -->
<title>sane-devel: Re: HP 4P problems</title>
<h1>Re: HP 4P problems</h1>
<b>Wolfgang Jung</b> (<a href="mailto:woju@keep.in-berlin.de"><i>woju@keep.in-berlin.de</i></a>)<br>
<i>Fri, 19 Sep 1997 22:03:39 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#207">[ date ]</a><a href="index.html#207">[ thread ]</a><a href="subject.html#207">[ subject ]</a><a href="author.html#207">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Rogier Wolff: "Re: HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0206.html">Oliver.Rauch@Wolfsburg.DE: "uc840/uc630"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<li> <b>Reply:</b> <a href="0215.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, Sep 19, 1997 at 08:16:00PM +0300, Petri Lehtonen wrote: <br>
<i>&gt; &gt;&gt; &gt;Is your link /dev/scanner to /dev/sg? correct set ?</i><br>
<i>&gt; &gt;&gt; </i><br>
<i>&gt; &gt;&gt; Yes, and I've even tried to use all the /dev/sg* because I was desperate.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;Really, the "scsi_open: no such device or address" means otherwise. </i><br>
<i>&gt; </i><br>
<i>&gt; Actually now that I double checked it was linked from as the ID of the scanner</i><br>
<i>&gt; is 5 the device is /dev/sgf. But using that device gives me still the same </i><br>
<i>&gt; error.</i><br>
<i>&gt; </i><br>
<i>&gt; Could the device files have incorrect  major number, mine is as follows.</i><br>
<i>&gt; </i><br>
<i>&gt; crw-rw----   1 root     scanner   21,   5 Feb 12  1996 /dev/sgf</i><br>
<i>&gt; </i><br>
<i>&gt; SCSI-HOWTO says that generic SCSI devices have major number 21. I am not sure if</i><br>
<i>&gt; scanners are generic SCSI devices, as I couldn't find anything on them from the </i><br>
<i>&gt; SCSI-HOWTO.</i><br>
<i>&gt; </i><br>
<i>&gt; Now I noticed running scanimage on virtual terminal that there was a message say</i><br>
<i>&gt; ing:</i><br>
<i>&gt; </i><br>
<i>&gt; Detected scsi general sga at scsi0, channel 0, id 5, lun 0</i><br>
<p>
If you knoe Linux, you actually should have noticed that loading modules<br>
results in loading messages (like this messages finding an device,<br>
since most distributions use teh modular sg driber.<br>
<p>
<i>&gt; </i><br>
<i>&gt; This didn't show up when I run it on xterm, and still doesn't. I wonder why it</i><br>
<i>&gt; says sga and id5 shouldn't sga be id 0 and id5 be sgf. This seems strange to me.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<p>
<pre>
-- 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Rogier Wolff: "Re: HP 4P problems"</a>
<li> <b>Previous message:</b> <a href="0206.html">Oliver.Rauch@Wolfsburg.DE: "uc840/uc630"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0215.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<li> <b>Reply:</b> <a href="0215.html">Tristan Tarrant: "Re: uc840/uc630"</a>
<!-- reply="end" -->
</ul>
