<!-- received="Tue Sep 23 13:48:24 1997 MST" -->
<!-- sent="Tue, 23 Sep 1997 18:06:03 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: uc840/uc630" -->
<!-- id="199709231606.SAA00203@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199709220939.IAA19795@suntlc.etnoteam.it" -->
<title>sane-devel: Re: uc840/uc630</title>
<h1>Re: uc840/uc630</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Tue, 23 Sep 1997 18:06:03 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#221">[ date ]</a><a href="index.html#221">[ thread ]</a><a href="subject.html#221">[ subject ]</a><a href="author.html#221">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Michael K. Johnson: "Re: uc840/uc630"</a>
<li> <b>Previous message:</b> <a href="0220.html">Henning Sauer: "How to remove moire effects from scanned picture ?"</a>
<li> <b>In reply to:</b> <a href="0218.html">Michael Sweet: "Update SGI SCSI support for SANE-0.63 (try #2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Tristan,<br>
<p>
<i>&gt; &gt; as far as I see the problem with the UC840 (and may be with the UC630 too)</i><br>
<i>&gt; </i><br>
<i>&gt; Hi Oliver,</i><br>
<i>&gt; when my UC630 is connected to a Mac, using the Umax drivers under</i><br>
<i>&gt; Photoshop, it scans in colour and grayscale flawlessly...</i><br>
<p>
Oh, I didn't want to say that it is impossible with your firmware-version,<br>
what I wanted to say is that the way my driver is talking to a 3-pass-scanner<br>
works with a uc840 and a firmware version 1.6, and because it<br>
doesn't work with v1.5, there will propably have been a change in<br>
the functions for rgb and greyscale-scan.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">Michael K. Johnson: "Re: uc840/uc630"</a>
<li> <b>Previous message:</b> <a href="0220.html">Henning Sauer: "How to remove moire effects from scanned picture ?"</a>
<li> <b>In reply to:</b> <a href="0218.html">Michael Sweet: "Update SGI SCSI support for SANE-0.63 (try #2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
