<!-- received="Fri Sep  3 04:10:06 1999 PDT" -->
<!-- sent="Fri, 03 Sep 1999 14:12:20 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: SANE V2 - again..." -->
<!-- id=" " -->
<!-- inreplyto="SANE V2 - again..." -->
<title>sane-devel: Re: SANE V2 - again...</title>
<h1>Re: SANE V2 - again...</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Fri, 03 Sep 1999 14:12:20 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Tony Peden: "Microtek E6 Update"</a>
<li> <b>Previous message:</b> <a href="0014.html">John Garrison: "Re: Scanner help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; Hi Milon,</i><br>
<i>&gt; </i><br>
<i>&gt; please reread my mail at first: gamma and halftone tables are needed!</i><br>
<i>&gt; color correction may be,</i><br>
<p>
I usually do that. First read the mails then I say my opinion if I have<br>
any.<br>
<p>
<i>&gt; but what shall a frontend do with a calibration vector:</i><br>
<i>&gt; what I know about such calibrations is:</i><br>
<i>&gt; the scanner does scan a white area and sends calibration data</i><br>
<i>&gt; to the backend, the backend calculates the calibration vector and</i><br>
<i>&gt; sends it back to the scanner.</i><br>
<i>&gt; There is nothing a frontend can do with it, because the calibration</i><br>
<i>&gt; is done different for each scanner-model and vendor.</i><br>
<i>&gt; </i><br>
<p>
I don't want to argue with on what needs to be a "Well Known Option" and<br>
what not. I was tried to raise the point that there are cases where the<br>
options which control the quality of a scan are not scalars but vectors<br>
or tables. Because SANE currently does not suggest a better way of<br>
letting the user set this non scalar variables, I said that it would be<br>
possible to have a FILE option that allows the backend to download the<br>
required info to the scanner.<br>
<p>
I admit that my wording may was not clear enough. I said:<br>
<p>
#-reading files with array of numbers as information. This would be<br>
#useful to read/save/store<br>
#       -Calibration vectors    (3x256)<br>
#        -Color Correction tables (3x3 integer matrix)<br>
#        -Halftone patterns      (4x4, or 8x8 PGM images)<br>
<p>
What I meant was that the frontend opens up a browser and let the user<br>
to select a file. In that way the frontend doesn't need to know what<br>
calibration is, and how to do it. Backend knows, and the user knows (and<br>
the README describes the available files :-).<br>
<p>
I put the these 4 cases (calibration, halftone, gamma, CCT) together<br>
because I think that they represent the same problem. I understood what<br>
you said, that you can eliminate the need of FILE downloading for some<br>
of them by making them "Well Known Option" but I never disagreed with<br>
that. I just said that a universal downloading option for FILES as<br>
argument, may prove handy, if not useful. I didn't want necessarily to<br>
cover all 4 cases. I most certainly prefer a "Well Known Option" where<br>
is possible.<br>
<p>
	MF<br>
<p>
PS.<br>
<p>
I think this Download File operation is the equivalent of the RAW<br>
scanning. In both cases the frontend doesn't know what is carrying<br>
from/to disk/scanner.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Tony Peden: "Microtek E6 Update"</a>
<li> <b>Previous message:</b> <a href="0014.html">John Garrison: "Re: Scanner help"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
