<!-- received="Wed Sep  8 03:32:03 1999 PDT" -->
<!-- sent="Wed, 8 Sep 1999 14:32:20 -0700 (MST)" -->
<!-- name="Nikolay N. Igotti" -->
<!-- email="inn@sparc.spb.su" -->
<!-- subject="what scanner is supported better by current sane" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: what scanner is supported better by current sane</title>
<h1>what scanner is supported better by current sane</h1>
<b>Nikolay N. Igotti</b> (<a href="mailto:inn@sparc.spb.su"><i>inn@sparc.spb.su</i></a>)<br>
<i>Wed, 8 Sep 1999 14:32:20 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Adam Williams: "Re: what scanner is supported better by current sane"</a>
<li> <b>Previous message:</b> <a href="0039.html">Petter Reinholdtsen: "Re: Prisa 620s; SnapScan good news and bad news"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Daniel James: "Re: what scanner is supported better by current sane"</a>
<li> <b>Reply:</b> <a href="0042.html">Daniel James: "Re: what scanner is supported better by current sane"</a>
<li> <b>Reply:</b> <a href="0047.html">Panos Katsaloulis: "Re: what scanner is supported better by current sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
           Hello,<br>
 Now I'm choosing scaner to buy, and would like to hear your opinion.<br>
As I've understood, I should buy SCSI scanner and cheap SCSI card.<br>
I need midrange scanner for about $120-$160.<br>
 Which one is currently supported better?<br>
 I need quality color scanning. <br>
<p>
 Thanks.<br>
  Nikolay.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Adam Williams: "Re: what scanner is supported better by current sane"</a>
<li> <b>Previous message:</b> <a href="0039.html">Petter Reinholdtsen: "Re: Prisa 620s; SnapScan good news and bad news"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Daniel James: "Re: what scanner is supported better by current sane"</a>
<li> <b>Reply:</b> <a href="0042.html">Daniel James: "Re: what scanner is supported better by current sane"</a>
<li> <b>Reply:</b> <a href="0047.html">Panos Katsaloulis: "Re: what scanner is supported better by current sane"</a>
<!-- reply="end" -->
</ul>
