<!-- received="Fri Sep 10 17:34:57 1999 PDT" -->
<!-- sent="Sat, 11 Sep 1999 02:39:09 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: programs look for libsane-dll.so.1" -->
<!-- id="" -->
<!-- inreplyto="programs look for libsane-dll.so.1" -->
<title>sane-devel: Re: programs look for libsane-dll.so.1</title>
<h1>Re: programs look for libsane-dll.so.1</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 11 Sep 1999 02:39:09 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#68">[ date ]</a><a href="index.html#68">[ thread ]</a><a href="subject.html#68">[ subject ]</a><a href="author.html#68">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Oliver Rauch: "xsane-0.35 available"</a>
<li> <b>Previous message:</b> <a href="0067.html">John Vickers: "Re: Epson GT5000 with Adaptec 2906 working!"</a>
<li> <b>Maybe in reply to:</b> <a href="0066.html">Bert Hobbs: "programs look for libsane-dll.so.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bert Hobbs wrote:<br>
<p>
<i>&gt; When I build an executable with '-lsane' the resulting program looks for</i><br>
<i>&gt; 'libsane-dll.so.1' instead</i><br>
<i>&gt; of 'libsane.so.1' as I would expect.  Can someone explain or point me</i><br>
<i>&gt; towards an explanation.</i><br>
<i>&gt; As I understand it 'libsane.so.1' could be symbolically linked to any of</i><br>
<i>&gt; the backends, but it seems</i><br>
<i>&gt; the backend is being selected when the program is built not when it is</i><br>
<i>&gt; executed.</i><br>
<p>
Hi Bert,<br>
this is an error of all sane versions.<br>
<p>
The sane libs have to be compiled/linked with the library name "libsane.so"<br>
but the libtool sets the library name to the backend name "libsane-xyz.so"<br>
The linker needs the option "-soname libsane.so" when compiling sane.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Oliver Rauch: "xsane-0.35 available"</a>
<li> <b>Previous message:</b> <a href="0067.html">John Vickers: "Re: Epson GT5000 with Adaptec 2906 working!"</a>
<li> <b>Maybe in reply to:</b> <a href="0066.html">Bert Hobbs: "programs look for libsane-dll.so.1"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
