<!-- received="Mon Sep 13 08:04:50 1999 PDT" -->
<!-- sent="Mon, 13 Sep 1999 11:06:03 -0400" -->
<!-- name="Alexey Zilber" -->
<!-- email="AZilber@mail.batesww.com" -->
<!-- subject="Re: Acer scanner + ACARD SCSI controller" -->
<!-- id="s7dcdab0.011@mail.batesww.com" -->
<!-- inreplyto="Acer scanner + ACARD SCSI controller" -->
<title>sane-devel: Re: Acer scanner + ACARD SCSI controller</title>
<h1>Re: Acer scanner + ACARD SCSI controller</h1>
<b>Alexey Zilber</b> (<a href="mailto:AZilber@mail.batesww.com"><i>AZilber@mail.batesww.com</i></a>)<br>
<i>Mon, 13 Sep 1999 11:06:03 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Nikolay N. Igotti: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Previous message:</b> <a href="0082.html">Raymond A. Ingles: "Re: Net scanning (solved)"</a>
<li> <b>Maybe in reply to:</b> <a href="0078.html">Nikolay N. Igotti: "Acer scanner + ACARD SCSI controller"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hmmm,  could be the fact that that scanner doesn't ship with a terminator.  I also noticed a sad fact.  The ACARD scsi card that ships with the scanner is not a standard ACARD.  I myself experimented with the NT drivers from ACARD, and while they detected the card, they couldn't "see" the scanner, and then promptly hung the NT box.<br>
	I assume this is the same prob under linux.  those drivers weren't designed for that particular card.  I could be wrong though.  If you have a 25pin active terminator laying about somewhere I'd hook it up to the scanner to test it.<br>
<p>
<i>&gt;&gt;&gt; "Nikolay N. Igotti" &lt;<a href="mailto:inn@sparc.spb.su">inn@sparc.spb.su</a>&gt; 9/13/99 6:47:37 PM &gt;&gt;&gt;</i><br>
 Hello,<br>
Recently, I've bought new Acer scaner 620S with ACARD SCSI controller.<br>
It works good enough with Win95, but under linux with atp870u.o with<br>
turned on scanner insmod atp870u gives:<br>
________________________________________________________________________<br>
Sep 13 12:17:23 hell kernel: scsi0 : ACARD AEC-6710/6712 PCI Ultra/W<br>
SCSI-3 Adap<br>
ter Driver V1.0 <br>
Sep 13 12:17:23 hell kernel: scsi : 1 host.<br>
Sep 13 12:17:25 hell kernel: scsi : aborting command due to timeout : pid<br>
18, sc<br>
si0, channel 0, id 2, lun 0 0x12 00 00 00 ff 00 <br>
Sep 13 12:17:25 hell kernel:  workingu=1 last_cmd=2  quhdu=2 quendu=2  r<br>
0= 6 r <br>
1=2c r 2=cf r 3=12 r 4= 0 r 5= 0 r 6= 0 r 7=24 r 8= 0 r 9= 0 r a= 0 r b= 0<br>
r c= <br>
0 r d= 0 r e= 0 r f= 0 r10=36 r11=20 r12= 0 r13= 0 r14=18 r15= 2 r16=80<br>
r1c=a1 r<br>
1f=37 in_snd= 0  r20= 9 r22= 1 <br>
Sep 13 12:17:27 hell kernel: scsi : aborting command due to timeout : pid<br>
18, sc<br>
si0, channel 0, id 2, lun 0 0x12 00 00 00 ff 00 <br>
Sep 13 12:17:27 hell kernel:  workingu=1 last_cmd=2  quhdu=2 quendu=2  r<br>
0= 6 r <br>
1=2c r 2=cf r 3=12 r 4= 0 r 5= 0 r 6= 0 r 7=24 r 8= 0 r 9= 0 r a= 0 r b= 0<br>
r c= <br>
0 r d= 0 r e= 0 r f= 0 r10=36 r11=20 r12= 0 r13= 0 r14=18 r15= 2 r16=80<br>
r1c=a1 r<br>
1f=37 in_snd= 0  r20= 9 r22= 1 <br>
Sep 13 12:17:27 hell kernel: SCSI host 0 abort (pid 18) timed out -<br>
resetting<br>
Sep 13 12:17:27 hell kernel: SCSI bus is being reset for host 0 channel 0.<br>
Sep 13 12:17:27 hell kernel: SCSI host 0 channel 0 reset (pid 18) timed<br>
out - tr<br>
ying harder<br>
Sep 13 12:17:27 hell kernel: SCSI bus is being reset for host 0 channel 0.<br>
________________________________________________________________<br>
With turned off scanner insmod OK, but I can't add scanner with <br>
echo ".."&gt;/proc/scsi/scsi.<br>
Maybe some ideas.<br>
I don't want to buy new SCSI controller, as ACARD already supported by<br>
kernel.<br>
Ideas, suggestions?<br>
<p>
  Nikolay.<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a> 
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Nikolay N. Igotti: "Re: Acer scanner + ACARD SCSI controller"</a>
<li> <b>Previous message:</b> <a href="0082.html">Raymond A. Ingles: "Re: Net scanning (solved)"</a>
<li> <b>Maybe in reply to:</b> <a href="0078.html">Nikolay N. Igotti: "Acer scanner + ACARD SCSI controller"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0086.html">Alexey Zilber: "Re: Acer scanner + ACARD SCSI controller"</a>
<!-- reply="end" -->
</ul>
