<!-- received="Thu Sep 16 06:28:15 1999 PDT" -->
<!-- sent="Thu, 16 Sep 1999 17:34:12 -0700 (MST)" -->
<!-- name="Nikolay N. Igotti" -->
<!-- email="inn@sparc.spb.su" -->
<!-- subject="Re: Acer 620: warning" -->
<!-- id="" -->
<!-- inreplyto="19990916145324.E55065@freebie.lemis.com" -->
<title>sane-devel: Re: Acer 620: warning</title>
<h1>Re: Acer 620: warning</h1>
<b>Nikolay N. Igotti</b> (<a href="mailto:inn@sparc.spb.su"><i>inn@sparc.spb.su</i></a>)<br>
<i>Thu, 16 Sep 1999 17:34:12 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">David Nelson: "Re: USB Scanner w/ linux2.3.x"</a>
<li> <b>Previous message:</b> <a href="0093.html">Florian Hinzmann: "USB Scanner w/ linux2.3.x"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Wow,<br>
You do mean, that you managed to work Acer 620 under Linux+sane?<br>
Could you describe how?<br>
<p>
<p>
On Thu, 16 Sep 1999, Greg Lehey wrote:<br>
<p>
<i>&gt; This isn't exactly a technical problem, but it's probably worth</i><br>
<i>&gt; bringing up anyway.  This afternoon I had to completely dismantle my</i><br>
<i>&gt; Acer 620U after getting a photo stuck between the glass and the frame.</i><br>
<i>&gt; The glass is held to the frame by double-sided adhesive tape, and</i><br>
<i>&gt; there can be a gap between the glass and frame.  Without being violent</i><br>
<i>&gt; or trying, I managed to push the photo through the gap and clean</i><br>
<i>&gt; through the adhesive tape.  I took the scanner apart, but there</i><br>
<i>&gt; appears to be no provision for ever separating frame and glass again.</i><br>
<i>&gt; I ended up cutting the photo apart (fortunately not a valuable one).</i><br>
<i>&gt; </i><br>
<i>&gt; Greg</i><br>
<i>&gt; --</i><br>
<i>&gt; See complete headers for address, home page and phone numbers</i><br>
<i>&gt; finger <a href="mailto:grog@lemis.com">grog@lemis.com</a> for PGP public key</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">David Nelson: "Re: USB Scanner w/ linux2.3.x"</a>
<li> <b>Previous message:</b> <a href="0093.html">Florian Hinzmann: "USB Scanner w/ linux2.3.x"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
