<!-- received="Thu Sep 16 10:50:49 1999 PDT" -->
<!-- sent="Thu, 16 Sep 1999 19:57:53 +0200 (CEST)" -->
<!-- name="Christian Ordig" -->
<!-- email="chr.ordig@gmx.net" -->
<!-- subject="RE: Do you have some information about PRIMAX" -->
<!-- id="" -->
<!-- inreplyto="37E11AD5.491A4CB5@priv.sos.com.pl" -->
<title>sane-devel: RE: Do you have some information about PRIMAX</title>
<h1>RE: Do you have some information about PRIMAX</h1>
<b>Christian Ordig</b> (<a href="mailto:chr.ordig@gmx.net"><i>chr.ordig@gmx.net</i></a>)<br>
<i>Thu, 16 Sep 1999 19:57:53 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Brian Macy: "SANE Protocol 1.01 versus 0.74..."</a>
<li> <b>Previous message:</b> <a href="0097.html">Theal-X: "Do you have some information about PRIMAX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 16-Sep-99 Theal-X wrote:<br>
<i>&gt; I written to PRIMAX NL about their Colorado scanner series and they told</i><br>
<i>&gt; me they are talking with some programmers from SANE project about</i><br>
<i>&gt; writing drivers to it. They gave me also the link to</i><br>
<i>&gt; www.mostang.com/sane, but I cannot find any primax scanners here. Do you</i><br>
<i>&gt; have something (specifications, beta drivers etc) about PRIMAX?</i><br>
<i>&gt; If you want, I could help you in developping, but due the lack of</i><br>
<i>&gt; documentation and technical specifiations to my scanner (PRIMAX Colorado</i><br>
<i>&gt; Direct (600x300dpi)) I cannot start to write anything without some</i><br>
<i>&gt; documentation.</i><br>
<i>&gt; I'm a proffesional C++ programmer; up to now I was writing big projects</i><br>
<i>&gt; only for and in M$ Platform, but I know Linux well.</i><br>
<i>&gt; </i><br>
<p>
Well,<br>
<p>
Marco and me signed an NDA some months ago, but are really busy in our jobs at<br>
the moment. There's also an Alpha Version of our driver, written with specs<br>
found out by ourselfes reverse engeneering the Win95 driver.<br>
<p>
The SANE project is not yet the right place to look for our driver. You can<br>
find it and some more information at<br>
<a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a><br>
<p>
Any help is appreciated, but we aren't allowed to give any specs given to us by<br>
Primax to any third person (btw. the specs we got from Promax are not as<br>
helpful as we hoped they were)<br>
<p>
Thank you.<br>
<p>
<p>
<pre>
---
Christian Ordig             | The Primax Scanner Driver Project for Linux/UN*X |
Germany                     |   <a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a>   |
   __   _                   |                                                  |
  / /  (_)__  __ ____  __   | Why Linux? Because it is free, stable, and       |
 / /__/ / _ \/ // /\ \/ /   | bugs can be fixed in source opposed to waiting   |
/____/_/_//_/\_,_/ /_/\_\   | for a stable WinTendo from Micro$oft.            |
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Brian Macy: "SANE Protocol 1.01 versus 0.74..."</a>
<li> <b>Previous message:</b> <a href="0097.html">Theal-X: "Do you have some information about PRIMAX"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
