<!-- received="Fri Sep 17 10:12:26 1999 PDT" -->
<!-- sent="17 Sep 1999 19:16:47 +0200" -->
<!-- name="Kai Haberzettl" -->
<!-- email="khaberz@synnet.de" -->
<!-- subject="xsane compile-problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xsane compile-problem</title>
<h1>xsane compile-problem</h1>
<b>Kai Haberzettl</b> (<a href="mailto:khaberz@synnet.de"><i>khaberz@synnet.de</i></a>)<br>
<i>17 Sep 1999 19:16:47 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Dr. Ing. Dieter Jurzitza: "RE: Mikrotek ScanMaker system"</a>
<li> <b>Previous message:</b> <a href="0108.html">Brian Macy: "Re: Strange net sane response... [is microtek2 broken???]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0118.html">Oliver Rauch: "Re: xsane compile-problem"</a>
<li> <b>Reply:</b> <a href="0118.html">Oliver Rauch: "Re: xsane compile-problem"</a>
<li> <b>Reply:</b> <a href="0122.html">Oliver Rauch: "Re: xsane compile-problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I'm trying to compile xsane on a SuSE 6.2-system. I am using egcs (I<br>
know gcc is recommended, but I don't have it installed anymore and I<br>
don't really want to re-install it unless really necessary).<br>
<p>
sane 1.0.1 is installed and works perfectly.<br>
<p>
Here is where the compile fails; maybe someone can point me in the<br>
right direction. Thanks a lot in advance!<br>
<p>
Kai<br>
<p>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/X11R6/include -I<br>
/usr/lib/glib/include  -I/usr/local/include -D_GNU_SOURCE         -DPATH_SANE_DA<br>
TA_DIR=/usr/local/share/sane      -DV_MAJOR=0 -DV_MINOR=35 -DSANE_V_MAJOR=1 -mpe<br>
ntium -O4 -Wall xsane-scan.c<br>
xsane-scan.c:89: warning: `xsane_encode_devname' declared `static' but never def<br>
ined<br>
xsane-scan.c:90: warning: `xsane_generate_dummy_filename' declared `static' but <br>
never defined<br>
xsane-scan.c:92: warning: `xsane_gimp_advance' declared `static' but never defin<br>
ed<br>
gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include -I/usr/X11R6/include -I<br>
/usr/lib/glib/include  -I/usr/local/include -D_GNU_SOURCE         -DPATH_SANE_DA<br>
TA_DIR=/usr/local/share/sane      -DV_MAJOR=0 -DV_MINOR=35 -DSANE_V_MAJOR=1 -mpe<br>
ntium -O4 -Wall xsane.c<br>
gcc  -o xsane xsane-back-gtk.o xsane-front-gtk.o xsane-gamma.o xsane-preview.o x<br>
sane-preferences.o xsane-setup.o xsane-save.o xsane-scan.o xsane.o ../sanei/libs<br>
anei.a \<br>
        ../lib/liblib.a  -L/usr/lib -L/usr/X11R6/lib -lgtk -lgdk -rdynamic -lgmo<br>
dule -lglib -ldl -lXext -lX11 -lm -lsane -lpng -ldl -ltiff -lz -ljpeg -lm <br>
xsane-scan.o: In function `xsane_start_scan':<br>
xsane-scan.o(.text+0x1505): undefined reference to `xsane_generate_dummy_filenam<br>
e'<br>
collect2: ld returned 1 exit status<br>
make[1]: *** [xsane] Error 1<br>
make[1]: Leaving directory `/home/khaberz/sources/xsane-0.35/frontend'<br>
make: *** [all-recursive] Error 1<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">Dr. Ing. Dieter Jurzitza: "RE: Mikrotek ScanMaker system"</a>
<li> <b>Previous message:</b> <a href="0108.html">Brian Macy: "Re: Strange net sane response... [is microtek2 broken???]"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0118.html">Oliver Rauch: "Re: xsane compile-problem"</a>
<li> <b>Reply:</b> <a href="0118.html">Oliver Rauch: "Re: xsane compile-problem"</a>
<li> <b>Reply:</b> <a href="0122.html">Oliver Rauch: "Re: xsane compile-problem"</a>
<!-- reply="end" -->
</ul>
