<!-- received="Sun Sep 19 12:04:40 1999 PDT" -->
<!-- sent="Sun, 19 Sep 1999 21:09:37 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane compile-problem" -->
<!-- id="" -->
<!-- inreplyto="xsane compile-problem" -->
<title>sane-devel: Re: xsane compile-problem</title>
<h1>Re: xsane compile-problem</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 19 Sep 1999 21:09:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Oliver Rauch: "Re: Error device I/O"</a>
<li> <b>Previous message:</b> <a href="0121.html">Kai Haberzettl: "Re: xsane compile-problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Kai Haberzettl: "xsane compile-problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kai Haberzettl wrote:<br>
<p>
<i>&gt; OK, I've found the problem. I had to install the</i><br>
<i>&gt; gimp-development-libraries too (they were hidden *very* well by SuSE).</i><br>
<i>&gt; Now it works perfectly. Thanks again Oliver!</i><br>
<i>&gt;</i><br>
<p>
Good!<br>
<p>
bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Oliver Rauch: "Re: Error device I/O"</a>
<li> <b>Previous message:</b> <a href="0121.html">Kai Haberzettl: "Re: xsane compile-problem"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Kai Haberzettl: "xsane compile-problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
