<!-- received="Mon Sep 20 14:07:56 1999 PDT" -->
<!-- sent="Mon, 20 Sep 1999 23:17:16 +0200 (CEST)" -->
<!-- name="Hugo.van.der.Kooij@caiw.nl" -->
<!-- email="Hugo.van.der.Kooij@caiw.nl" -->
<!-- subject="Re: Error device I/O" -->
<!-- id="" -->
<!-- inreplyto="37E6430F.C57F0FF9@mgconecta.com.br" -->
<title>sane-devel: Re: Error device I/O</title>
<h1>Re: Error device I/O</h1>
<a href="mailto:Hugo.van.der.Kooij@caiw.nl"><i>Hugo.van.der.Kooij@caiw.nl</i></a><br>
<i>Mon, 20 Sep 1999 23:17:16 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#128">[ date ]</a><a href="index.html#128">[ thread ]</a><a href="subject.html#128">[ subject ]</a><a href="author.html#128">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Juergen G. Schimmer: "Sane-V4L-Backend"</a>
<li> <b>Previous message:</b> <a href="0127.html">abel deuring: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 20 Sep 1999, Eduardo M. A. M. Mendes wrote:<br>
<p>
<i>&gt; I am kind of missing the whole thing.   I also tried to install sane-1.0.1-2 as</i><br>
<i>&gt; rpm format.  In this case it complains about libjeg.so.62 but I managed to</i><br>
<i>&gt; compile sane-1.0.1 from tgz file!!!!</i><br>
<i>&gt; </i><br>
<i>&gt; Does anybody have the lastest version of sane, xsane, libjeg and libtiff (</i><br>
<i>&gt; compatible, of course) in rpm format?</i><br>
<p>
You have the latest RPM version I guess. (unless someone else updated it<br>
without me noticing ;-)<br>
<p>
But the packages was created on Red Hat Linux and unfortunatly SUSE<br>
decided to do less obvious things a bit different so the binary RPM<br>
packages don't work out that well. (Let's hope they work out the problems<br>
one day and make sure this sort of incompatibilities is a thing of the<br>
past.)<br>
<p>
Just get yourself the source RPM package and recompile it for your suse<br>
system. All you need to do is:<br>
<p>
 * rpm -Uvh sane*.src.rpm<br>
 * cd /usr/src/redhat/SPEC<br>
 * rpm -bb --clean sane.spec<br>
 * cd ../RPMS/i386<br>
 * rpm -Uvh sane*.rpm<br>
<p>
Quite simple to do in fact (As I am not a rocket scientist at all;-)<br>
<p>
Hugo.<br>
<p>
<pre>
-- 
Hugo van der Kooij; Oranje Nassaustraat 16; 3155 VJ  Maasland
<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>	<a href="http://home.kabelfoon.nl/~hvdkooij/">http://home.kabelfoon.nl/~hvdkooij/</a>
--------------------------------------------------------------
Use of any of my email addresses for unsollicited (commercial)
    email is a clear intrusion of my privacy and illegal!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0129.html">Juergen G. Schimmer: "Sane-V4L-Backend"</a>
<li> <b>Previous message:</b> <a href="0127.html">abel deuring: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
