<!-- received="Wed Sep 22 08:25:29 1999 PDT" -->
<!-- sent="Wed, 22 Sep 1999 17:25:44 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: gimp and xsane" -->
<!-- id="" -->
<!-- inreplyto="gimp and xsane" -->
<title>sane-devel: Re: gimp and xsane</title>
<h1>Re: gimp and xsane</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 22 Sep 1999 17:25:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Bernd Schroeder: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0139.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">Robert Schwebel: "gimp and xsane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Fred Willingham: "Re: gimp and xsane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; Gimp-1.1.x does not use ~/gimp, it uses ~/gimp-1.1, you have to set the link</i><br>
<i>&gt; to xsane there!</i><br>
<p>
This must be:<br>
<p>
<i>&gt; Gimp-1.1.x does not use ~/.gimp, it uses ~/.gimp-1.1, you have to set the link</i><br>
<i>&gt; to xsane there!</i><br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Bernd Schroeder: "Re: ppSCSI and Microtek Phantom 330 CX"</a>
<li> <b>Previous message:</b> <a href="0139.html">Oliver Rauch: "Re: gimp and xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">Robert Schwebel: "gimp and xsane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0146.html">Fred Willingham: "Re: gimp and xsane"</a>
<!-- reply="end" -->
</ul>
