<!-- received="Thu Sep 23 13:48:32 1999 PDT" -->
<!-- sent="Thu, 23 Sep 1999 22:51:35 +0200 (MEST)" -->
<!-- name="Henning Holtschneider" -->
<!-- email="hh@loca.net" -->
<!-- subject="changing Canon FS 2710 settings won't change image" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: changing Canon FS 2710 settings won't change image</title>
<h1>changing Canon FS 2710 settings won't change image</h1>
<b>Henning Holtschneider</b> (<a href="mailto:hh@loca.net"><i>hh@loca.net</i></a>)<br>
<i>Thu, 23 Sep 1999 22:51:35 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#150">[ date ]</a><a href="index.html#150">[ thread ]</a><a href="subject.html#150">[ subject ]</a><a href="author.html#150">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Rick Knebel: "Sane on FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0149.html">Mentore #cat# Siesto: "Re: Epson GT-5000 with parallel port and linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
a colleague recently bought a Canon CanoScan FS 2710 slide scanner. It<br>
works perfectly under Windows and now we tried to plug it to our Linux box<br>
(Kernel 2.2.6) running SANE 1.0.1. The scanner is recognized correctly<br>
using the "canon" driver and we can scan images with no problem. But<br>
changing settings like brightness, contrast, auto exposure or focus in the<br>
xscanimage dialog box have no effect on the image at all. It's possible to<br>
change the image resolution and the scanning area but that's about it :-(<br>
Does anyone have any clue on how to solve this problem?<br>
<p>
Thanks<br>
<p>
	&lt;-gninneH&lt;-<br>
<pre>
--
    __                 _  __    __   Henning Holtschneider   <a href="mailto:henning@loca.net">henning@loca.net</a>
   / /  ___  _______ _/ |/ /__ / /_  System Administration
  / /__/ _ \/ __/ _ `/    / -_) __/
 /____/\___/\__/\_,_/_/|_/\__/\__/  ...net happens!
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0151.html">Rick Knebel: "Sane on FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0149.html">Mentore #cat# Siesto: "Re: Epson GT-5000 with parallel port and linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
