<!-- received="Thu Sep 23 22:18:06 1999 PDT" -->
<!-- sent="24 Sep 1999 00:17:35 -0500" -->
<!-- name="Firebeard" -->
<!-- email="stend+sane@sten.org" -->
<!-- subject="Kodak Film Drive FD300" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Kodak Film Drive FD300</title>
<h1>Kodak Film Drive FD300</h1>
<b>Firebeard</b> (<a href="mailto:stend%22sane@sten.org"><i>stend+sane@sten.org</i></a>)<br>
<i>24 Sep 1999 00:17:35 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Stefan Rutzinger: "Re: Sane on FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0151.html">Rick Knebel: "Sane on FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	Does anyone have any suggestions on how to, um, persuade Kodak <br>
to part with the communications protocol for the Film Drive?<br>
<p>
<pre>
-- 
#include &lt;disclaimer.h&gt;                               /* Sten Drescher */
Amendment II, Revised: A well-regulated population being necessary to
the security of a police state, the right of the Government to keep
and destroy arms shall not be infringed.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Stefan Rutzinger: "Re: Sane on FreeBSD"</a>
<li> <b>Previous message:</b> <a href="0151.html">Rick Knebel: "Sane on FreeBSD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
