<!-- received="Sun Sep 26 05:25:02 1999 PDT" -->
<!-- sent="Sun, 26 Sep 1999 12:26:58 +0100 (BST)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: umax parallel port scanners - how to log protocol" -->
<!-- id="" -->
<!-- inreplyto="vpn1uaxbzc.fsf@tty0.sten.org" -->
<title>sane-devel: Re: umax parallel port scanners - how to log protocol</title>
<h1>Re: umax parallel port scanners - how to log protocol</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Sun, 26 Sep 1999 12:26:58 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 26 Sep 1999, Firebeard wrote:<br>
<p>
<i>&gt; 	No, it connects to the Linux device (or to a file, but that</i><br>
<i>&gt; isn't useful in this case), so I would expect that it has to use the</i><br>
<i>&gt; parport driver. </i><br>
<p>
I'd be surprised.  What version of VMware is it?  You could have a look in<br>
/proc/parport/ to see if that really is the case.<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Dmitry Veprintsev: "Re: umax parallel port scanners - how to log protocol"</a>
<li> <b>Previous message:</b> <a href="0168.html">Firebeard: "Re: umax parallel port scanners - how to log protocol"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
