<!-- received="Wed Sep 29 13:42:07 1999 PDT" -->
<!-- sent="Wed, 29 Sep 1999 22:44:27 +0200 (CEST)" -->
<!-- name="Christian Ordig" -->
<!-- email="chr.ordig@gmx.net" -->
<!-- subject="RE: Primax Profi 19200" -->
<!-- id="" -->
<!-- inreplyto="412567FB.00248CD3.00@nt-notes.kryptokom.de" -->
<title>sane-devel: RE: Primax Profi 19200</title>
<h1>RE: Primax Profi 19200</h1>
<b>Christian Ordig</b> (<a href="mailto:chr.ordig@gmx.net"><i>chr.ordig@gmx.net</i></a>)<br>
<i>Wed, 29 Sep 1999 22:44:27 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#189">[ date ]</a><a href="index.html#189">[ thread ]</a><a href="subject.html#189">[ subject ]</a><a href="author.html#189">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0188.html">Mitchell, Sean: "RE: Mustek MFS 6000CX Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 29-Sep-99 Thomas Ley wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Hi all,</i><br>
<i>&gt; </i><br>
<i>&gt; Is there anybody who knows a driver for a Primax Profi 19200.</i><br>
<i>&gt; If not my next question is:</i><br>
<i>&gt; Is there anybody who can give me some specifications about this scanner.</i><br>
<i>&gt; Then I'll try to write this driver by my own.</i><br>
<i>&gt; I allready request this at &gt;www.primax.nl&lt; but ... without of luck.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanks</i><br>
<i>&gt; </i><br>
<i>&gt; Thomas</i><br>
<p>
We are developing a driver for the Primax Colorado series of scanners, but not<br>
for the Profi 19200. <br>
<p>
Perhaps we'll do this later. (really later... ,-)<br>
<p>
cu.<br>
<p>
<p>
<pre>
---
Christian Ordig             | The Primax Scanner Driver Project for Linux/UN*X |
Germany                     |   <a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a>   |
   __   _                   |                                                  |
  / /  (_)__  __ ____  __   | Why Linux? Because it is free, stable, and       |
 / /__/ / _ \/ // /\ \/ /   | bugs can be fixed in source opposed to waiting   |
/____/_/_//_/\_,_/ /_/\_\   | for a stable WinTendo from Micro$oft.            |
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0188.html">Mitchell, Sean: "RE: Mustek MFS 6000CX Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
