<!-- received="Tue Feb  2 01:54:37 1999 PST" -->
<!-- sent="Tue, 02 Feb 1999 09:44:22 +0000" -->
<!-- name="Jonathan A. Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Reviving logiscan" -->
<!-- id="m107cNd-0001CwC@hex" -->
<!-- inreplyto="36B40533.75422D17@americasm05.nt.com" -->
<title>sane-devel: Re: Reviving logiscan</title>
<h1>Re: Reviving logiscan</h1>
<b>Jonathan A. Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Tue, 02 Feb 1999 09:44:22 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Peter Kirchgessner: "sanei_scsi_req_enter and Diamond Fireport 40"</a>
<li> <b>Previous message:</b> <a href="0009.html">Jonathan A. Buzzard: "Re: Prospective Film Scanner Purchaser Requires Advice."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:fbecker@nortelnetworks.com">fbecker@nortelnetworks.com</a> said:<br>
<i>&gt; &gt; No. The driver was reverse engineered from the logitech DOS driver.</i><br>
<i>&gt;</i><br>
<i>&gt; Shiver... The SMC only came with winblows drivers. I tried to</i><br>
<i>&gt; disassemble the driver with nasm from linux, but couldn't make much</i><br>
<i>&gt; out of it. </i><br>
<p>
Either way, what you want is to get hold of a copy of IDA (Interactive <br>
Disassembler), a cut down freeware version is avaliable from simtel<br>
archives. This is by far the best disassembler, even better than<br>
Sourcer.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Peter Kirchgessner: "sanei_scsi_req_enter and Diamond Fireport 40"</a>
<li> <b>Previous message:</b> <a href="0009.html">Jonathan A. Buzzard: "Re: Prospective Film Scanner Purchaser Requires Advice."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
