<!-- received="Wed Feb  3 14:35:06 1999 PST" -->
<!-- sent="Wed, 3 Feb 1999 17:36:31 -0500 (EST)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@billing.infi.net" -->
<!-- subject="Re: Getting a manufacturer to release specs?" -->
<!-- id="9902032236.AA09354@mulder.looney.infi.net" -->
<!-- inreplyto="00f901be4fbe$ae777f00$46ebadc3@rene.demon.nl" -->
<title>sane-devel: Re: Getting a manufacturer to release specs?</title>
<h1>Re: Getting a manufacturer to release specs?</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@billing.infi.net"><i>cpinkham@billing.infi.net</i></a>)<br>
<i>Wed, 3 Feb 1999 17:36:31 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Fernando Fernandez: "Is Java a good platform for document archiving applications?"</a>
<li> <b>Previous message:</b> <a href="0018.html">Hugo van der Kooij: "Re: Getting a manufacturer to release specs?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I assume this is a FAQ, but I just joined the list, and ...</i><br>
<i>&gt; </i><br>
<i>&gt; I am interested in developing a backend for my Trust EC9600P parallel port</i><br>
<i>&gt; scanner, and requested programmers information from the manufacturer.</i><br>
<i>&gt; Unfortunately, they are unwilling to provide this information, considering</i><br>
<i>&gt; it confidential.</i><br>
<p>
I hadn't thought of this until now, but do people think it might help<br>
"convince" parallel port scanner manufacturers to release their specs if<br>
they were informed that other manufacturers had already released their<br>
specs.  Approach it from the perspective of lost market share and lost<br>
revenue.  I say this because Artec was kind enough to actually provide<br>
me with information on the parallel port protocol to communicate with<br>
their AS6E scanner and that information is currently being used by<br>
Luigi Rizzo to work on some kind of a driver (still very very alpha<br>
right now though).  If Trust and the other scanner manufacturers were<br>
informed that Artec (and possibly others) had already released their<br>
protocol specs, it might help convince them that they have basically<br>
taken themselves out of the market unless they release some information.<br>
Combine this with some comments about the rapidly advancing<br>
acceptance/use of Open Source Software and Operating Systems and we<br>
might be able to convince a few more manufacturers to open up.<br>
<p>
Chris<br>
<p>
*****************************************************************************<br>
** Chris Pinkham                        Linux v2.2.1, Sane v1.0, Gimp v1.0 **<br>
** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                 <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
*****************************************************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">Fernando Fernandez: "Is Java a good platform for document archiving applications?"</a>
<li> <b>Previous message:</b> <a href="0018.html">Hugo van der Kooij: "Re: Getting a manufacturer to release specs?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
