<!-- received="Mon Feb  8 00:08:04 1999 PST" -->
<!-- sent="Mon, 8 Feb 1999 03:16:03 -0500 (EST)" -->
<!-- name="Tripp Lilley" -->
<!-- email="tlilley@perspex.com" -->
<!-- subject="number of frames, sane_start, and sane_read" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: number of frames, sane_start, and sane_read</title>
<h1>number of frames, sane_start, and sane_read</h1>
<b>Tripp Lilley</b> (<a href="mailto:tlilley@perspex.com"><i>tlilley@perspex.com</i></a>)<br>
<i>Mon, 8 Feb 1999 03:16:03 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Zachary L. Stauber: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0039.html">Tripp Lilley: "Perl SANE module?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm almost to the point of actually acquiring images in my sane code, and<br>
I'm a little bit confused by the notion of "frames". Well, I think I have<br>
a rough understanding of a "frame" as a block of data, semantics<br>
determined by the result of a call to sane_get_parameters.<br>
<p>
Is a frame always a part of a single "image"? That is, I notice that<br>
frames can be gray, RGB interleaved, or one of R, G, or B, which suggests<br>
that it would take three frames to compose a single RGB image were the<br>
backend spitting out R, G, B frames individually. But would I ever see a<br>
backend spitting out multiple gray frames? For instance, if I had a camera<br>
back end, spitting out so many frames per second?<br>
<p>
Or is this just an unfortunate overloading of the word 'frame'?<br>
<p>
If I have an automatic document feeder hooked up to my scanner, and the<br>
user loads a bunch of docs and clicks "scan", with the ADF enabled, will<br>
it require me to keep calling sane_start to retrieve subsequent pages? Or<br>
will I have to call sane_cancel at the end of every page, then call<br>
sane_start again?<br>
<p>
Is it safe to assume that a single gray frame is one image, a single RGB<br>
from is one image, and a set of R, G, and B frames is one image? Is it<br>
ever possible that I would get a single R, G, or B frame on its own?<br>
<p>
I just want to make sure I don't make any stupid assumptions in my Perl<br>
wrapper :-)<br>
<p>
Thanks for the help!<br>
<p>
<pre>
--
   Tripp Lilley + Innovative Workflow Engineering, Inc. + (<a href="mailto:tripp@iweinc.com">tripp@iweinc.com</a>)
------------------------------------------------------------------------------
  "So perl is like a graceful swan, gliding across a lake. But underneath the
   water, there's these little legs, paddling like buggery."
<p>
-- beable van polasm in <a href="http://www.dejanews.com/getdoc.xp?AN=440381254">http://www.dejanews.com/getdoc.xp?AN=440381254</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Zachary L. Stauber: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0039.html">Tripp Lilley: "Perl SANE module?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
