<!-- received="Fri Feb 12 05:07:00 1999 PST" -->
<!-- sent="Fri, 12 Feb 1999 13:08:46 +0000" -->
<!-- name="John Richardson" -->
<!-- email="jrichard@zealand.mv.com" -->
<!-- subject="Microtek x6el problems" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek x6el problems</title>
<h1>Microtek x6el problems</h1>
<b>John Richardson</b> (<a href="mailto:jrichard@zealand.mv.com"><i>jrichard@zealand.mv.com</i></a>)<br>
<i>Fri, 12 Feb 1999 13:08:46 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Milon Firikis: "Re: A Question about the HP 5p"</a>
<li> <b>Previous message:</b> <a href="0058.html">Jason Kendall: "A Question about the HP 5p"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">John Richardson: "Re: Microtek x6el problems"</a>
<li> <b>Reply:</b> <a href="0066.html">John Richardson: "Re: Microtek x6el problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Microtek x6el scanner.  When I scan with xscanimage<br>
the first scan (or preview) comes up OK.  All later scans look<br>
dirty with strange colors.  If I change to a greyscale scan and attempt<br>
to preview (the greyscale preview doesn't seem to work) and then switch back<br>
to 24bit color, the next scan will look OK.  The same thing occurs if<br>
I turn the scanner off, then the next scan will look OK but any<br>
scans following that will look dirty.<br>
<p>
Any ideas what's wrong?  I'm willing to try to figure this out, but I'll<br>
need some direction as scanners aren't my strong point. :)<br>
<p>
I'm using sane 1.00 with the added patch for the x6el mentioned in<br>
the mailing list archive a couple months ago (it was only about 3 lines)<br>
applied to the microtek2 backend.<br>
<p>
<pre>
--
John Richardson
<a href="mailto:jrichard@zealand.mv.com">jrichard@zealand.mv.com</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Milon Firikis: "Re: A Question about the HP 5p"</a>
<li> <b>Previous message:</b> <a href="0058.html">Jason Kendall: "A Question about the HP 5p"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">John Richardson: "Re: Microtek x6el problems"</a>
<li> <b>Reply:</b> <a href="0066.html">John Richardson: "Re: Microtek x6el problems"</a>
<!-- reply="end" -->
</ul>
