<!-- received="Fri Feb 12 16:43:01 1999 PST" -->
<!-- sent="Sat, 13 Feb 1999 01:45:05 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek x6el problems" -->
<!-- id="" -->
<!-- inreplyto="36C427DE.865BE757@zealand.mv.com" -->
<title>sane-devel: Re: Microtek x6el problems</title>
<h1>Re: Microtek x6el problems</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 13 Feb 1999 01:45:05 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Bernd Schroeder: "Re: SANE and MicroTek ScanMaker X6"</a>
<li> <b>Previous message:</b> <a href="0062.html">Chris Weyl: "Re: A Question about the HP 5p"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, Feb 12, 1999 at 01:08:46PM +0000, John Richardson wrote:<br>
<i>&gt; </i><br>
<i>&gt; I have a Microtek x6el scanner.  When I scan with xscanimage</i><br>
<i>&gt; the first scan (or preview) comes up OK.  All later scans look</i><br>
<i>&gt; dirty with strange colors.  If I change to a greyscale scan and attempt</i><br>
<i>&gt; to preview (the greyscale preview doesn't seem to work) and then switch back</i><br>
<i>&gt; to 24bit color, the next scan will look OK.  The same thing occurs if</i><br>
<i>&gt; I turn the scanner off, then the next scan will look OK but any</i><br>
<i>&gt; scans following that will look dirty.</i><br>
<i>&gt; </i><br>
<i>&gt; Any ideas what's wrong?  I'm willing to try to figure this out, but I'll</i><br>
<i>&gt; need some direction as scanners aren't my strong point. :)</i><br>
<i>&gt; </i><br>
<i>&gt; I'm using sane 1.00 with the added patch for the x6el mentioned in</i><br>
<i>&gt; the mailing list archive a couple months ago (it was only about 3 lines)</i><br>
<i>&gt; applied to the microtek2 backend.</i><br>
<p>
This is a weird problem. If you are willing to figure it out,<br>
look into the function do_dummy_scan() in microtek2.c. This function must<br>
be executed in order to get all scans correctly executed. Maybe, that your<br>
scanner has a firmware version, that is not caught by this function.<br>
<p>
In any case I am interested in any additional info.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Bernd Schroeder: "Re: SANE and MicroTek ScanMaker X6"</a>
<li> <b>Previous message:</b> <a href="0062.html">Chris Weyl: "Re: A Question about the HP 5p"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
