<!-- received="Tue Feb 16 04:11:37 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 13:11:55 +0100" -->
<!-- name="Robert J. Alexander" -->
<!-- email="rja@raleigh.ibm.com" -->
<!-- subject="Re: Please help me with unrecogn. scanner (Microtek 630)" -->
<!-- id="" -->
<!-- inreplyto="Please help me with unrecogn. scanner (Microtek 630)" -->
<title>sane-devel: Re: Please help me with unrecogn. scanner (Microtek 630)</title>
<h1>Re: Please help me with unrecogn. scanner (Microtek 630)</h1>
<b>Robert J. Alexander</b> (<a href="mailto:rja@raleigh.ibm.com"><i>rja@raleigh.ibm.com</i></a>)<br>
<i>Tue, 16 Feb 1999 13:11:55 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">wolfgang rapp: "RE:xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0088.html">Milon Firikis: "Re: Please help me with unrecogn. scanner (Microtek 630)"</a>
<li> <b>Maybe in reply to:</b> <a href="0076.html">Robert J. Alexander: "Please help me with unrecogn. scanner (Microtek 630)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Zygo Blaxell: "Re: Please help me with unrecogn. scanner (Microtek 630)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis wrote:<br>
<i>&gt; </i><br>
<i>&gt; It is best to create a sane group and give RW access over /dev/sg1 in</i><br>
<i>&gt; that group. This way you won't need to be root in order to scan. It's</i><br>
<i>&gt; all in the docs...</i><br>
<i>&gt; </i><br>
<p>
You KNOW that NEVER, all is in the docs 8-&gt;<br>
<p>
Anyway I have done that which works great but I have a side-issue<br>
question.<br>
<p>
The scanner gets assigned /dev/sg1 normally, but if I boot with ALSO my<br>
4mm DAT SCSI tape on this device gets /dev/sg1 and the scanner becomes<br>
/dev/sg2 ...<br>
<p>
How can I force the scanner always to be /dev/sg1 ?<br>
<p>
<pre>
-- 
Robert Alexander
IBM Italy
<a href="mailto:SpamLESSrja@raleigh.ibm.com">SpamLESSrja@raleigh.ibm.com</a>
if you want to write please remove the SpamLESS prefix from my address
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">wolfgang rapp: "RE:xsane 0.11 available"</a>
<li> <b>Previous message:</b> <a href="0088.html">Milon Firikis: "Re: Please help me with unrecogn. scanner (Microtek 630)"</a>
<li> <b>Maybe in reply to:</b> <a href="0076.html">Robert J. Alexander: "Please help me with unrecogn. scanner (Microtek 630)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0091.html">Zygo Blaxell: "Re: Please help me with unrecogn. scanner (Microtek 630)"</a>
<!-- reply="end" -->
</ul>
