<!-- received="Tue Feb 16 13:43:23 1999 PST" -->
<!-- sent="Tue, 16 Feb 1999 14:42:07 -0700 (MST)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: xscanimage &amp; SGI" -->
<!-- id="199902162142.OAA04299@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="36C9D691.F11267B8@anet.net" -->
<title>sane-devel: Re: xscanimage &amp; SGI</title>
<h1>Re: xscanimage &amp; SGI</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Tue, 16 Feb 1999 14:42:07 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#98">[ date ]</a><a href="index.html#98">[ thread ]</a><a href="subject.html#98">[ subject ]</a><a href="author.html#98">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Milon Firikis: "Re: no devices available?"</a>
<li> <b>Previous message:</b> <a href="0097.html">Michael Sweet: "Re: xscanimage &amp; SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Mike Amron writes:<br>
<i>&gt;     I just installed sane on my SGI O2. I used the binary distribution</i><br>
<i>&gt; from Mike Sweet's page since I don't have a compiler. I don't have a</i><br>
<i>&gt; scanner, so I'm trying to use the demo software to try sane out. When</i><br>
<i>&gt; I try to access Xtns&gt;AcquireImage&gt;Device dialog... nothing happens.</i><br>
<i>&gt; I get this error:</i><br>
<i>&gt; </i><br>
<i>&gt; xscanimage: no devices available.</i><br>
<i>&gt; ** WARNING **: Can't open gimprc, reason unknown</i><br>
<p>
I don't use SGI, but I would suggest trying to run xscanimage and/or<br>
scanimage from the command-line first to isolate where the problem is, <br>
either GIMP or SANE.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0099.html">Milon Firikis: "Re: no devices available?"</a>
<li> <b>Previous message:</b> <a href="0097.html">Michael Sweet: "Re: xscanimage &amp; SGI"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
