<!-- received="Thu Feb 18 11:16:27 1999 PST" -->
<!-- sent="Thu, 18 Feb 1999 14:17:19 -0500" -->
<!-- name="Christopher W. Curtis" -->
<!-- email="ccurtis@aet-usa.com" -->
<!-- subject="Re: Microtek - Scanner and SCSI - Emulation over EPP" -->
<!-- id="" -->
<!-- inreplyto="Microtek - Scanner and SCSI - Emulation over EPP" -->
<title>sane-devel: Re: Microtek - Scanner and SCSI - Emulation over EPP</title>
<h1>Re: Microtek - Scanner and SCSI - Emulation over EPP</h1>
<b>Christopher W. Curtis</b> (<a href="mailto:ccurtis@aet-usa.com"><i>ccurtis@aet-usa.com</i></a>)<br>
<i>Thu, 18 Feb 1999 14:17:19 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">William McVey: "Re: find-scanner finds nothing. NOT permissions"</a>
<li> <b>Previous message:</b> <a href="0113.html">Jeff Evarts: "Shared library problems (Was: No devices?)"</a>
<li> <b>Maybe in reply to:</b> <a href="0105.html">Eyermann Horst PN KE DP T 11: "Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Dr. Andreas Bolsch: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:justiny@newsguy.com">justiny@newsguy.com</a> wrote:<br>
<p>
<i>&gt; Err... there is a scsi over parallel port driver for Linux.</i><br>
<i>&gt; Check <a href="http://www.torque.net/parport/">http://www.torque.net/parport/</a>.</i><br>
<i>&gt; I believe this is what the folks who are doing the v310p backend are doing.</i><br>
<p>
This driver is very under developement and very not available, unfortunately.<br>
Grant is busy with "real work" but is focusing efforts specifically on this<br>
driver.  I've offered to help and am awaiting affirmation since last week -<br>
additional interest is probably welcome, though I don't know that it would have<br>
any net effect in getting the driver written.  <a href="mailto:grant@torque.net">mailto:grant@torque.net</a> if you<br>
would like to help develop the driver, he's the man in the know.<br>
<p>
Christopher<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">William McVey: "Re: find-scanner finds nothing. NOT permissions"</a>
<li> <b>Previous message:</b> <a href="0113.html">Jeff Evarts: "Shared library problems (Was: No devices?)"</a>
<li> <b>Maybe in reply to:</b> <a href="0105.html">Eyermann Horst PN KE DP T 11: "Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0132.html">Dr. Andreas Bolsch: "Re: Microtek - Scanner and SCSI - Emulation over EPP"</a>
<!-- reply="end" -->
</ul>
