<!-- received="Sun Feb 21 03:43:07 1999 PST" -->
<!-- sent="Sun, 21 Feb 1999 10:45:01 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: xsane-saving formats" -->
<!-- id="" -->
<!-- inreplyto="xsane-saving formats" -->
<title>sane-devel: Re: xsane-saving formats</title>
<h1>Re: xsane-saving formats</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 21 Feb 1999 10:45:01 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Oliver Rauch: "NEW: xsane-0.12 available"</a>
<li> <b>Previous message:</b> <a href="0139.html">root@isis.dynip.com: "Scanner Driver For FreeBSD"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">Oliver Rauch: "xsane-saving formats"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Robert Schwebel wrote:<br>
<p>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt; Does anyone know an important and free library or format that</i><br>
<i>&gt; &gt; should be supported too ? - GIF is not planned because of copyright,</i><br>
<i>&gt; &gt; unGIF is not interesting because data reduction is not included.</i><br>
<i>&gt;</i><br>
<i>&gt; Does there really exist a problem with the copyright of the GIF</i><br>
<i>&gt; compression algorithm? Nearly all programs support GIF today, and I</i><br>
<i>&gt; think the discussion was over.</i><br>
<i>&gt;</i><br>
<p>
Gif may be used for private stuff, for comercial things you need a licenceas far<br>
as I know.<br>
<p>
<i>&gt; The best thing for xsane was to implement a netpbm interface; it is</i><br>
<i>&gt; present on nearly all platforms today and you don't have to implement</i><br>
<i>&gt; all this stuff again.</i><br>
<i>&gt;</i><br>
<p>
I will think about that.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Oliver Rauch: "NEW: xsane-0.12 available"</a>
<li> <b>Previous message:</b> <a href="0139.html">root@isis.dynip.com: "Scanner Driver For FreeBSD"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">Oliver Rauch: "xsane-saving formats"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
