<!-- received="Tue Feb 23 15:45:39 1999 PST" -->
<!-- sent="Wed, 24 Feb 1999 00:43:20 +0100" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: Acer scanners" -->
<!-- id="" -->
<!-- inreplyto="Acer scanners" -->
<title>sane-devel: Re: Acer scanners</title>
<h1>Re: Acer scanners</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Wed, 24 Feb 1999 00:43:20 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Previous message:</b> <a href="0156.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Richard W. Knight: "Acer scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rick Knight wrote:<br>
<i>&gt; </i><br>
<i>&gt; How similar are the Acer (Prisa) 310S and Vuego 310S? Apparently very.</i><br>
<i>&gt; Browsing the source for the Snapscan and comparing it to a probe of my SCSI</i><br>
<i>&gt; bus (I have the Acer 310S) I can see no difference. Vendor, model and</i><br>
<i>&gt; firmware revision are identical. I'm no programmer but I might try hacking</i><br>
<i>&gt; at it this weekend. Any words of encouragement (or help) greatly</i><br>
<i>&gt; appreciated.</i><br>
<i>&gt; </i><br>
<p>
I've noticed slight differences in the scanning-speed. So I assume, that<br>
it's<br>
only a not yet discovered timing-problem either in the sane-scsi or in the<br>
scnapscan-driver. If you use the acer-scanner with the snapscan-interface<br>
you will notice, that - using low resolution and small sice of the picture<br>
at least the first part of the scan seems to be correct.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Rene Vellekoop: "Re: resolution option unknown"</a>
<li> <b>Previous message:</b> <a href="0156.html">Wolfgang Goeller: "Re: Acer scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Richard W. Knight: "Acer scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
