<!-- received="Wed Feb 24 05:12:51 1999 PST" -->
<!-- sent="Wed, 24 Feb 1999 14:06:10 +0100 (CET)" -->
<!-- name="Christian Ordig" -->
<!-- email="chr.ordig@gmx.net" -->
<!-- subject="Re: Primax for Linux - temp. down" -->
<!-- id="" -->
<!-- inreplyto="E10FNQz-000741-00@alien.tuff.org.uk" -->
<title>sane-devel: Re: Primax for Linux - temp. down</title>
<h1>Re: Primax for Linux - temp. down</h1>
<b>Christian Ordig</b> (<a href="mailto:chr.ordig@gmx.net"><i>chr.ordig@gmx.net</i></a>)<br>
<i>Wed, 24 Feb 1999 14:06:10 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#161">[ date ]</a><a href="index.html#161">[ thread ]</a><a href="subject.html#161">[ subject ]</a><a href="author.html#161">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<li> <b>Previous message:</b> <a href="0160.html">Manuel Panea: "Re: Scanace, anyone?"</a>
<li> <b>In reply to:</b> <a href="0154.html">Darren Marshall: "Re: Primax for Linux - temp. down"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">Darren Marshall: "Re: Primax for Linux - temp. down"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 23-Feb-99 Darren Marshall wrote:<br>
<i>&gt; Christian,</i><br>
<i>&gt; </i><br>
<i>&gt; If you need a new home for your site, I can supply you with one free of</i><br>
<i>&gt; charge.</i><br>
<i>&gt; </i><br>
<i>&gt; Regards Darren</i><br>
<i>&gt; </i><br>
I've some questions about it: <br>
    -what would be the URL?<br>
    -How much space will we have?<br>
    -When will this one vanish over night? (I've just bad experiences with my<br>
     last providers...)<br>
    -is there a way to have the server's log-files or to use CGI?<br>
<p>
Thank you.<br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
---
Christian Ordig             | The Primax Scanner Driver Project for Linux/UN*X |
Germany                     |   <a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a>   |
   __   _                   |                                                  |
  / /  (_)__  __ ____  __   | Why Linux? Because it is free, stable, and       |
 / /__/ / _ \/ // /\ \/ /   | bugs can be fixed in source opposed to waiting   |
/____/_/_//_/\_,_/ /_/\_\   | for a stable WinTendo from Micro$oft.            |
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0162.html">Oliver Rauch: "Re: HIres DIN A3 scanner advice"</a>
<li> <b>Previous message:</b> <a href="0160.html">Manuel Panea: "Re: Scanace, anyone?"</a>
<li> <b>In reply to:</b> <a href="0154.html">Darren Marshall: "Re: Primax for Linux - temp. down"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0202.html">Darren Marshall: "Re: Primax for Linux - temp. down"</a>
<!-- reply="end" -->
</ul>
