<!-- received="Sat Feb 27 06:41:13 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 15:40:15 +0100 (CET)" -->
<!-- name="Georg Huettenegger" -->
<!-- email="georg@mondoshawan.unix.cslab.tuwien.ac.at" -->
<!-- subject="Re: horizontal stripes in your image" -->
<!-- id="" -->
<!-- inreplyto="36D6E8F8.AA5@maths.nott.ac.uk" -->
<title>sane-devel: Re: horizontal stripes in your image</title>
<h1>Re: horizontal stripes in your image</h1>
<b>Georg Huettenegger</b> (<a href="mailto:georg@mondoshawan.unix.cslab.tuwien.ac.at"><i>georg@mondoshawan.unix.cslab.tuwien.ac.at</i></a>)<br>
<i>Sat, 27 Feb 1999 15:40:15 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Petter Reinholdtsen: "Re: CVS Branch fails to compile with egcs"</a>
<li> <b>Previous message:</b> <a href="0198.html">Petter Reinholdtsen: "Re: Unofficial CVS branch relative to v1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Georg Huettenegger wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; &gt; recently I posted a problem with my mustek 12000 sp connected to an adaptec</i><br>
<i>&gt; &gt; &gt; 1505. In each scanned image I noticed horizontal stripes. First I thought</i><br>
<i>&gt; &gt; &gt; it's a problem of the beta-version of sane for musteks, but in fact</i><br>
<i>&gt; &gt; &gt; this is a problem of my scsi-adapter. The solution is, that the correct</i><br>
<i>&gt; &gt; &gt; scsi-parameters (in my system lilo-parameters) should sound like the following:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt;       - disconnect:   no</i><br>
<i>&gt; &gt; &gt;       - init_sync:    no</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Because it seems that other users have similar problems I would like to</i><br>
<i>&gt; &gt; ask what could help if the above settings do not help. I have a Symbios</i><br>
<i>&gt; &gt; Logic 53c810A which works great but the stripes wont go even if I do as</i><br>
<i>&gt; &gt; recommended above. Only scanning with backtracking turned on helps (but</i><br>
<i>&gt; &gt; needs 2-3x times longer).</i><br>
<i>&gt; </i><br>
<i>&gt; These problems probably refer to completely different scanners!</i><br>
<i>&gt; The newer 12000SP (denoted by ScanExpress) and the older one</i><br>
<i>&gt; (MFS-12000SP) have nothing to do with each other. For the SE</i><br>
<i>&gt; the backtracking switch is simply ignored because the scanner</i><br>
<i>&gt; doesn't support it. So the second problem report refers to MFS,</i><br>
<i>&gt; and the first to SE, I guess.</i><br>
Well you are wright about this. I wrote my mail in a bit of a hurry (with<br>
even poorer english than normal). I have a Mustek Paragon 600 II CD<br>
(MFC-06000CZ v2.03) connected to a Symbios Logic 810A and the problem<br>
occured with the kernel versions 2.0.33/34/35/36, 2.2.1/2. The Zip-drive<br>
and my Yamaha CRW-4260 also connected to the same SCSI-controller work<br>
perfectly so my SCSI-bus should be completely working and as I said<br>
disabling synchronous transfer (which is not enforced by the 8xx driver<br>
normally) and disconnection (although when scanning only the scanner<br>
was active on the SCSI-bus) did not help.<br>
I had the same problem with an Adaptec AVA-1505 but I replaced this<br>
controller and did not try different settings when I used the controller.<br>
Therefore I suspect that the problem may be in the 8xx driver of the Linux<br>
kernel.<br>
<p>
<i>&gt; I've got an Adaptec aha1505 and a SE 12000SP but enabling disconnect</i><br>
<i>&gt; doesn't do any harm for me.</i><br>
You mean it does not help?<br>
<p>
cheers,<br>
  Georg Huettenegger<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Petter Reinholdtsen: "Re: CVS Branch fails to compile with egcs"</a>
<li> <b>Previous message:</b> <a href="0198.html">Petter Reinholdtsen: "Re: Unofficial CVS branch relative to v1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
