<!-- received="Sat Feb 27 09:52:21 1999 PST" -->
<!-- sent="Sat, 27 Feb 1999 17:29:12 +0100" -->
<!-- name="Darren Marshall" -->
<!-- email="darren@tuff.org.uk" -->
<!-- subject="Re: Primax for Linux - temp. down" -->
<!-- id="E10GnY8-00004B-00@alien.tuff.org.uk" -->
<!-- inreplyto="Primax for Linux - temp. down" -->
<title>sane-devel: Re: Primax for Linux - temp. down</title>
<h1>Re: Primax for Linux - temp. down</h1>
<b>Darren Marshall</b> (<a href="mailto:darren@tuff.org.uk"><i>darren@tuff.org.uk</i></a>)<br>
<i>Sat, 27 Feb 1999 17:29:12 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#202">[ date ]</a><a href="index.html#202">[ thread ]</a><a href="subject.html#202">[ subject ]</a><a href="author.html#202">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Rick Knight: "Acer 310S BIOS info"</a>
<li> <b>Previous message:</b> <a href="0201.html">Dennis Putnam: "Info Peripherals' ImageReaderISA"</a>
<li> <b>Maybe in reply to:</b> <a href="0151.html">Christian Ordig: "Primax for Linux - temp. down"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ok Christian,<br>
<p>
The URL can be whatever you like, you'll get an ip-less virtual server on (at <br>
present) a linux alpha machine which I administer at the company I work for <br>
which is an ISP in the UK.If you dont have your own domain name then you can <br>
put it under mine so the URL will be www.tuff.org.uk/Primax for instance.<br>
<p>
Space shouldn't be too much of an issue, there is currently a 4 gig drive in <br>
the machine.<br>
As for vanishing overnight, unless I change jobs then the site will remain <br>
online!, if I do change jobs then I'll give you 1 months notice, but the <br>
chances are the site would still remain.<br>
<p>
You can have server log files and you can use CGI.<br>
I plan to retire the alpha shortly and replace it with a PC but your site will <br>
get migrated so that will not be an issue.<br>
<p>
Let me know if you are interested, and I'll get it up and running for you.<br>
<p>
Regards Darren<br>
<p>
<i>&gt; On 23-Feb-99 Darren Marshall wrote:</i><br>
<i>&gt; &gt; Christian,</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; If you need a new home for your site, I can supply you with one free of</i><br>
<i>&gt; &gt; charge.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Regards Darren</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; I've some questions about it: </i><br>
<i>&gt;     -what would be the URL?</i><br>
<i>&gt;     -How much space will we have?</i><br>
<i>&gt;     -When will this one vanish over night? (I've just bad experiences with my</i><br>
<i>&gt;      last providers...)</i><br>
<i>&gt;     -is there a way to have the server's log-files or to use CGI?</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you.</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; --</i><br>
<i>&gt; &gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; &gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; ---</i><br>
<i>&gt; Christian Ordig             | The Primax Scanner Driver Project for Linux/UN*X |</i><br>
<i>&gt; Germany                     |   <a href="http://thor.prohosting.com/~chrordig/Primax/">http://thor.prohosting.com/~chrordig/Primax/</a>   |</i><br>
<i>&gt;    __   _                   |                                                  |</i><br>
<i>&gt;   / /  (_)__  __ ____  __   | Why Linux? Because it is free, stable, and       |</i><br>
<i>&gt;  / /__/ / _ \/ // /\ \/ /   | bugs can be fixed in source opposed to waiting   |</i><br>
<i>&gt; /____/_/_//_/\_,_/ /_/\_\   | for a stable WinTendo from Micro$oft.            |</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0203.html">Rick Knight: "Acer 310S BIOS info"</a>
<li> <b>Previous message:</b> <a href="0201.html">Dennis Putnam: "Info Peripherals' ImageReaderISA"</a>
<li> <b>Maybe in reply to:</b> <a href="0151.html">Christian Ordig: "Primax for Linux - temp. down"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
