<!-- received="Sun Feb 28 14:10:35 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 23:07:39 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX Astra 1200S lamp question" -->
<!-- id="" -->
<!-- inreplyto="UMAX Astra 1200S lamp question" -->
<title>sane-devel: Re: UMAX Astra 1200S lamp question</title>
<h1>Re: UMAX Astra 1200S lamp question</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 28 Feb 1999 23:07:39 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#240">[ date ]</a><a href="index.html#240">[ thread ]</a><a href="subject.html#240">[ subject ]</a><a href="author.html#240">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Oliver Rauch: "Re: Umax Astra 610S freezes while scanning  :-("</a>
<li> <b>Previous message:</b> <a href="0239.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Zygo Blaxell wrote:<br>
<p>
<i>&gt; In article &lt;<a href="mailto:199902252314.AAA02073@cave.BitWizard.nl">199902252314.AAA02073@cave.BitWizard.nl</a>&gt;,</i><br>
<i>&gt; Rogier Wolff &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt; wrote:</i><br>
<i>&gt; &gt;&gt; We can hope. I generally leave the power off except: during</i><br>
<i>&gt; &gt;&gt; boot time, when the BIOS and OS are looking for the scanner,</i><br>
<i>&gt; &gt;&gt; and when I'm using it.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;If you're using Linux, just leave it off, until you need it.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;#!/bin/sh</i><br>
<i>&gt; &gt;echo "scsi add-single-device 0 0 $1 0" &gt; /proc/scsi/scsi</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;use this script with the SCSI ID of your scanner as the argument to</i><br>
<i>&gt; &gt;have it detected when you want to use it....</i><br>
<i>&gt;</i><br>
<i>&gt; Never do this unless you like buying new SCSI adapters.  That's the best</i><br>
<i>&gt; way to completely fry your SCSI bus and everything on it.</i><br>
<p>
Where shall be the problem.<br>
It is supposed to be done this way and it works fine on my system and other<br>
systems I know.<br>
<p>
The SCSI-standard allows the turn devices on or off during the computer is<br>
running<br>
and the software does support it.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Oliver Rauch: "Re: Umax Astra 610S freezes while scanning  :-("</a>
<li> <b>Previous message:</b> <a href="0239.html">Oliver Rauch: "Re: 16-bit frames and interleaving"</a>
<li> <b>Maybe in reply to:</b> <a href="0172.html">Zygo Blaxell: "UMAX Astra 1200S lamp question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
