<!-- received="Sun Feb 28 14:14:25 1999 PST" -->
<!-- sent="Sun, 28 Feb 1999 23:14:01 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Astra 610S freezes while scanning  :-(" -->
<!-- id="" -->
<!-- inreplyto="Umax Astra 610S freezes while scanning  :-(" -->
<title>sane-devel: Re: Umax Astra 610S freezes while scanning  :-(</title>
<h1>Re: Umax Astra 610S freezes while scanning  :-(</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 28 Feb 1999 23:14:01 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#241">[ date ]</a><a href="index.html#241">[ thread ]</a><a href="subject.html#241">[ subject ]</a><a href="author.html#241">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">David Mosberger-Tang: "Re: 16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0240.html">Oliver Rauch: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0235.html">cl: "Umax Astra 610S freezes while scanning  :-("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
cl wrote:<br>
<p>
<i>&gt; Dear all,</i><br>
<i>&gt; I try to use an Umax Astra 610S connected to a Tekram DC390 (PCI, no other</i><br>
<i>&gt; devices connected) with sane 1.0 / SuSE 6.0.</i><br>
<i>&gt; Xscanimage comes up correctly, but if I start a scan or even a prescan, the</i><br>
<i>&gt; scan unit moves over a part of the document (perhaps it reads some amount of</i><br>
<i>&gt; data?). Then it stops and the scanner LED keeps flickering, but no progress</i><br>
<i>&gt; window comes up and xscanimage is locked.</i><br>
<i>&gt; After that it is impossible to reset the scanner and to reload the</i><br>
<i>&gt; Tekram-module (device or resource busy) and I have to reboot the machine.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi Uli,how long is your scsi-cable and how is the bus terminated?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">David Mosberger-Tang: "Re: 16-bit frames and interleaving"</a>
<li> <b>Previous message:</b> <a href="0240.html">Oliver Rauch: "Re: UMAX Astra 1200S lamp question"</a>
<li> <b>Maybe in reply to:</b> <a href="0235.html">cl: "Umax Astra 610S freezes while scanning  :-("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
