<!-- received="Sun Feb 28 14:26:18 1999 PST" -->
<!-- sent="Sun, 21 Feb 1999 15:14:52 -0500" -->
<!-- name="Theriault" -->
<!-- email="spamfam@bit-net.com" -->
<!-- subject="future support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: future support</title>
<h1>future support</h1>
<b>Theriault</b> (<a href="mailto:spamfam@bit-net.com"><i>spamfam@bit-net.com</i></a>)<br>
<i>Sun, 21 Feb 1999 15:14:52 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#245">[ date ]</a><a href="index.html#245">[ thread ]</a><a href="subject.html#245">[ subject ]</a><a href="author.html#245">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">mathias.neumann@okay.net: "probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330"</a>
<li> <b>Previous message:</b> <a href="0244.html">Robert Wilhelm: "HIres DIN A3 scanner advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Are there plans to support the microtek pagewiz, or epson photoplus?  My<br>
guess is that they haven't been supported yet is, because they're<br>
different from most scanners, in that they're accessed through the<br>
printer port and not a scsi.  Is that the case?  If so, I'll run right<br>
out and buy a supported scsi scanner.  Thanks for your time, and I<br>
appologize if I sound ignorant but hardware is not my forte and I'm new<br>
to Linux in general, thank you again.<br>
~~Joseph Theriault<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">mathias.neumann@okay.net: "probleme mit Microtek Phantom 330  Problems with Microtek Phantom 330"</a>
<li> <b>Previous message:</b> <a href="0244.html">Robert Wilhelm: "HIres DIN A3 scanner advice"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
