<!-- received="Sun Sep 21 22:56:47 1997 MST" -->
<!-- sent="Sun, 21 Sep 1997 23:04:46 -0700" -->
<!-- name="Erik Nygren" -->
<!-- email="nygren@MIT.EDU" -->
<!-- subject="FYI: SANE backend for SGI IndyCam work-in-progress" -->
<!-- id="199709220556.BAA24536@opus.MIT.EDU" -->
<!-- inreplyto="" -->
<title>sane-devel: FYI: SANE backend for SGI IndyCam work-in-progress</title>
<h1>FYI: SANE backend for SGI IndyCam work-in-progress</h1>
<b>Erik Nygren</b> (<a href="mailto:nygren@MIT.EDU"><i>nygren@MIT.EDU</i></a>)<br>
<i>Sun, 21 Sep 1997 23:04:46 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Matto Marjanovic: "Microtek:  Voila!"</a>
<li> <b>Previous message:</b> <a href="0001.html">Mike Eckhoff: "Color QuickCam and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
FYI, I'm almost done writing a simple backend for SGI IndyCam's and<br>
other similar devices (vino and galileo video devices).  I'd appreciate<br>
it if this would get added to the PROJECTS file so other people<br>
don't duplicate effort:<br>
<p>
Backend:   Status: Contact:                                 available hw:<br>
--------   ------- ---------------------------------------- -------------<br>
sgivl      wip     Erik Nygren &lt;<a href="mailto:nygren@mit.edu">nygren@mit.edu</a>&gt;             SGI IndyCam<br>
<p>
<p>
I'll send a patch to 0.63 when I finish getting it working.<br>
(Probably in two or three weeks).<br>
<p>
	Erik<br>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Matto Marjanovic: "Microtek:  Voila!"</a>
<li> <b>Previous message:</b> <a href="0001.html">Mike Eckhoff: "Color QuickCam and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
