<!-- received="Mon Sep 29 09:44:02 1997 MST" -->
<!-- sent="Sun, 28 Sep 1997 14:56:01 -0400" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Most SANE scanner to buy?" -->
<!-- id="199709281856.OAA02246@nigel.redhat.com" -->
<!-- inreplyto="Most SANE scanner to buy?" -->
<title>sane-devel: Re: Most SANE scanner to buy?</title>
<h1>Re: Most SANE scanner to buy?</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Sun, 28 Sep 1997 14:56:01 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<li> <b>Previous message:</b> <a href="0007.html">Christoph Doerbeck: "Re: Mustek 600 II EP"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">Iain O'Cain: "Most SANE scanner to buy?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<li> <b>Reply:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Preston Brown writes:<br>
<i>&gt;Perhaps you have some sort of address we should write to?  I'll make this</i><br>
<i>&gt;one of my personal crusades...</i><br>
<p>
The CEO of UMAX (or UMAX usa?  or something like that) actually likes<br>
Linux quite a bit.  UMAX is an investor in VA Research.  Oliver, try<br>
sending a friendly email to <a href="mailto:lma@varesearch.com">lma@varesearch.com</a> telling him about the<br>
problem and asking if he can help solve it.  He's currently trying to<br>
get ahold of specs for the P series scanners.<br>
<p>
If we can't get ahold of the specs, it is probably because they have<br>
not yet been written.  UMAX has been pretty good about releasing specs<br>
so far.<br>
<p>
Also, if UMAX seems preoccupied at the moment, I'd guess it is because<br>
they are; Apple just decided not to continue to renew the OS licenses<br>
for the apple clones UMAX has been selling.<br>
<p>
FWIW,<br>
<p>
michaelkjohnson<br>
<p>
"Ever wonder why the SAME PEOPLE make up ALL the conspiracy theories?"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<li> <b>Previous message:</b> <a href="0007.html">Christoph Doerbeck: "Re: Mustek 600 II EP"</a>
<li> <b>Maybe in reply to:</b> <a href="0000.html">Iain O'Cain: "Most SANE scanner to buy?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<li> <b>Reply:</b> <a href="0011.html">Oliver.Rauch@Wolfsburg.DE: "Re: Most SANE scanner to buy?"</a>
<!-- reply="end" -->
</ul>
