<!-- received="Mon Sep 29 18:53:26 1997 MST" -->
<!-- sent="Mon, 29 Sep 1997 19:35:12 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek 600 II EP" -->
<!-- id="m0xFkf2-000BW2C@charon.beck-sw.de" -->
<!-- inreplyto="199709291348.JAA03853@prospero.dma.isg.mot.com" -->
<title>sane-devel: Re: Mustek 600 II EP</title>
<h1>Re: Mustek 600 II EP</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 29 Sep 1997 19:35:12 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Porting SANE"</a>
<li> <b>Previous message:</b> <a href="0018.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>In reply to:</b> <a href="0007.html">Christoph Doerbeck: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0024.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<li> <b>Reply:</b> <a href="0024.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; All problems are encountered using xscanimage using the latest</i><br>
<i>&gt; available release (compiled by me) of SANE (0.64) and GIMP (0.99.11).</i><br>
<p>
<i>&gt; 	1) Unable to get xscanimage to function as a plug-in.  I have not</i><br>
<i>&gt; 	applied the patches as described in the xscanimage FAQ, but I read</i><br>
<i>&gt; 	it as if that patch is only for older versions of gimp.</i><br>
Probably the configure script doesn't detect GIMP properly and thus doesn't <br>
build the "gimpified" version. Check the configure values, if all gimp-<br>
related items are found. If not, fake them.<br>
<p>
<i>&gt; 	2) Color scan resolution set to 100, out.pnm is reported to "appear</i><br>
<i>&gt; 	truncated" by xv on occasion.  Rescanning will usually produce a</i><br>
<i>&gt; 	3) Color scan resolution set to 100, first scan comes out at incorrect</i><br>
I suppose these are related. Could you cross-check that with scanimage ?<br>
<p>
<i>&gt; 	5) My new Mustek 600 II CD went past length of bed (made that funky</i><br>
<i>&gt; 	noise as described in the man pages) when I made a color scan with</i><br>
<i>&gt; 	a resolution of 300 dpi.</i><br>
Urks. I heard of problem at res&gt;=300 dpi.<br>
<p>
<i>&gt; 	6) Twice this weekend, the scanner became hung.  I was unable to</i><br>
<i>&gt; 	unload/reload the aha1542 module to reset the SCSI interface, thus</i><br>
<i>&gt; 	I had to reboot.</i><br>
Aha. Seems to be my problem ... Please turn on DEBUG_MUSTEK=255.<br>
<p>
In my case this happens often, if the total number of scanned lines is exactly<br>
1 more than the "natural" size we will get from the scanner. For my configuration<br>
(MFS-12000SP, unpatched SCSI MAXLEN) a sure lockup is acquired by the<br>
parameters --mode Color --resolution 111 -y 131. Could you test those ?<br>
<p>
TNX and CU,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Porting SANE"</a>
<li> <b>Previous message:</b> <a href="0018.html">Rogier Wolff: "Re: success: Mustek 1200SP, firmware 1.02"</a>
<li> <b>In reply to:</b> <a href="0007.html">Christoph Doerbeck: "Re: Mustek 600 II EP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0024.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<li> <b>Reply:</b> <a href="0024.html">Mathias Weigt: "Re: Mustek 600 II EP"</a>
<!-- reply="end" -->
</ul>
