<!-- received="Sun Oct  5 09:43:52 1997 MST" -->
<!-- sent="Sun, 5 Oct 1997 14:50:20 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: sane-0.65 released" -->
<!-- id="m0xHr4e-000BYrC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.95.971005125414.14440A-100000@moria.informatik.uni-bonn.de" -->
<title>sane-devel: Re: sane-0.65 released</title>
<h1>Re: sane-0.65 released</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 5 Oct 1997 14:50:20 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: sane-0.65 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Reply:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Reply:</b> <a href="0019.html">Michael Ritzert: "Re: sane-0.65 released"</a>
<li> <b>Reply:</b> <a href="0021.html">Michael Ritzert: "Re: sane-0.65 released"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; has there been any progress with respect to the MFS-12000SP problems which</i><br>
<i>&gt; were investigated in David's survey? Last version I tried was 0.62.</i><br>
We have tried to investigate it, but need more test-data.<br>
<p>
The problem with the Lineart mode hanging seems to be timing related and there<br>
is a hack for it by M. Ritzert. (R U reading ? Maybe you should send it to the<br>
list).<br>
<p>
The other problem with the occasional hangs occuring for some parameter sets<br>
is not yet solved, though I have a faint idea about the cause.<br>
<p>
Please try, if scanimage --mode color --resolution 111 -y 131 hangs for you.<br>
<p>
It is somehow related to the combination of scan-height and resolution, so<br>
I think it is some kind of rounding problem, as 131mm / 25.4mm/inch * 111<br>
liness/inch = 572.48 lines, and the process hangs at the 572th line while <br>
trying to scan 573 lines. Moreover there seem to be problems when only <br>
scanning a single line in one SCSI-transfer (i.e. if you want to scan<br>
111 lines, but the last transfer happend to stop at 110).<br>
<p>
Please anyone with a mustek scanner try to track this down. Try to provoke<br>
the error and log how you got there. Set SANE_DEBUG_MUSTEK to 255 so we get<br>
enough debugging data.<br>
<p>
I'd really like to have that fixed ...<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "Re: sane-0.65 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Reply:</b> <a href="0009.html">Stefan Luettringhaus-Kappel: "Re: sane-0.65 released"</a>
<li> <b>Reply:</b> <a href="0019.html">Michael Ritzert: "Re: sane-0.65 released"</a>
<li> <b>Reply:</b> <a href="0021.html">Michael Ritzert: "Re: sane-0.65 released"</a>
<!-- reply="end" -->
</ul>
