<!-- received="Tue Oct  7 16:14:41 1997 MST" -->
<!-- sent="Tue, 7 Oct 1997 16:14:39 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@mostang.com" -->
<!-- subject="do we need sane-announce and sane-user?" -->
<!-- id="199710072314.QAA18436@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: do we need sane-announce and sane-user?</title>
<h1>do we need sane-announce and sane-user?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@mostang.com"><i>davidm@mostang.com</i></a>)<br>
<i>Tue, 7 Oct 1997 16:14:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#22">[ date ]</a><a href="index.html#22">[ thread ]</a><a href="subject.html#22">[ subject ]</a><a href="author.html#22">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Wolfgang Jung: "Re: do we need sane-announce and sane-user?"</a>
<li> <b>Previous message:</b> <a href="0021.html">Michael Ritzert: "Re: sane-0.65 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0023.html">Wolfgang Jung: "Re: do we need sane-announce and sane-user?"</a>
<li> <b>Reply:</b> <a href="0023.html">Wolfgang Jung: "Re: do we need sane-announce and sane-user?"</a>
<li> <b>Reply:</b> <a href="0028.html">Wolfgang Jung: "List Archive ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Do you think there is a need for creating the following two mailing lists:<br>
<p>
	sane-announce	For announcements relating to SANE<br>
	sane-user	For discussing how to install &amp; use SANE<br>
<p>
Please let me know of your opinion by sending mail to <a href="mailto:davidm@mostang.com">davidm@mostang.com</a>.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Wolfgang Jung: "Re: do we need sane-announce and sane-user?"</a>
<li> <b>Previous message:</b> <a href="0021.html">Michael Ritzert: "Re: sane-0.65 released"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0023.html">Wolfgang Jung: "Re: do we need sane-announce and sane-user?"</a>
<li> <b>Reply:</b> <a href="0023.html">Wolfgang Jung: "Re: do we need sane-announce and sane-user?"</a>
<li> <b>Reply:</b> <a href="0028.html">Wolfgang Jung: "List Archive ?"</a>
<!-- reply="end" -->
</ul>
