<!-- received="Wed Oct  8 11:54:35 1997 MST" -->
<!-- sent="Wed, 8 Oct 1997 20:53:34 +0200 (MET DST)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="Re: segfault with sane-umax" -->
<!-- id="01" -->
<!-- inreplyto="segfault with sane-umax" -->
<title>sane-devel: Re: segfault with sane-umax</title>
<h1>Re: segfault with sane-umax</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Wed, 8 Oct 1997 20:53:34 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Henning Sauer: "RE: libsane.so.0 error."</a>
<li> <b>Previous message:</b> <a href="0028.html">Wolfgang Jung: "List Archive ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0031.html">David Mosberger-Tang: "Re: segfault with sane-umax"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
In a message titled "segfault with sane-umax", Iain O'Cain<br>
&lt;<a href="mailto:ec@intranet.org">ec@intranet.org</a>&gt; described his problems with scanimage crashing<br>
with segfaults. I have the same problems (I wont repeat the<br>
detailed description, since the symptoms are exactly as describe<br>
there)<br>
<p>
I use a umax ASTRA 1200S scanner, which works fine with the<br>
standalone "umax-cli" program by Michael K. Johnson<br>
&lt;<a href="mailto:johnsonm@redhat.com">johnsonm@redhat.com</a>&gt; and Oliver Rauch<br>
&lt;<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>&gt;.<br>
<p>
I tried to locate the error- it seems like the crash occurs not<br>
in scanimage itself, but in the c library when the program exits.<br>
It looks like free is being called with an invalid address. The<br>
crash occurs with libc 5.4.33 as well as 5.4.38. With an ancient<br>
library version (5.0.9) scanimage and xscanimage work.<br>
<p>
Maybe somebody can make any sense of this and figure out what's<br>
going wrong...<br>
<p>
cheers,<br>
              Peter<br>
<pre>
-- 
     | Peter Daum (<a href="mailto:gator@cs.tu-berlin.de">gator@cs.tu-berlin.de</a>)        __o   (+49 30)
     | <a href="http://www.cs.tu-berlin.de/~gator">http://www.cs.tu-berlin.de/~gator</a>       _'\&lt;_  691 46 35
     | pgp messages welcome!                 _(_)/(_) ___________
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Henning Sauer: "RE: libsane.so.0 error."</a>
<li> <b>Previous message:</b> <a href="0028.html">Wolfgang Jung: "List Archive ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0024.html">Iain O'Cain: "segfault with sane-umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0031.html">David Mosberger-Tang: "Re: segfault with sane-umax"</a>
<!-- reply="end" -->
</ul>
