<!-- received="Mon Oct 13 08:57:09 1997 MST" -->
<!-- sent="Mon, 13 Oct 1997 12:00:37 -0400" -->
<!-- name="Craig Setera" -->
<!-- email="setera@us.ibm.com" -->
<!-- subject="Mustek scanner problems... Not recognized" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek scanner problems... Not recognized</title>
<h1>Mustek scanner problems... Not recognized</h1>
<b>Craig Setera</b> (<a href="mailto:setera@us.ibm.com"><i>setera@us.ibm.com</i></a>)<br>
<i>Mon, 13 Oct 1997 12:00:37 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek scanner problems... Not recognized"</a>
<li> <b>Previous message:</b> <a href="0068.html">Kevin Charter: "Re: Agfa StudioStar"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Mustek Paragon IISP (600 II CD) scanner that I can't<br>
seem to get to work with SANE.  In fact, it doesn't seem that<br>
the SCSI card is recognized at all.  The SCSI adapter is the<br>
one shipped by Mustek... It is a DTC3181E.  I tried the patch<br>
recommended by the man pages, but that doesn't seem to<br>
help either.  Can anyone give me any insights into how to get<br>
this working?<br>
<p>
Thanks,<br>
Craig<br>
<p>
Craig Setera<br>
VisualAge AS/400 Connection Development<br>
Craig Setera, IBM Rochester<br>
(507) 253-3387<br>
T/L 553-3387<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek scanner problems... Not recognized"</a>
<li> <b>Previous message:</b> <a href="0068.html">Kevin Charter: "Re: Agfa StudioStar"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
