<!-- received="Thu Oct 16 14:10:33 1997 MST" -->
<!-- sent="Thu, 16 Oct 1997 18:35:44 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: umax-backend" -->
<!-- id="199710161635.SAA00226@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199710151831.LAA19673@user1.teleport.com" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 16 Oct 1997 18:35:44 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Mark Cornick: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Phil,<br>
<i>&gt; </i><br>
<i>&gt; Any news for us UMAX Astra 600 S owners?  Did UMAX ever produce the</i><br>
<i>&gt; documentation?  Has anyone reverse engineered it?  Should I just sell it</i><br>
<i>&gt; and get something else that is supported?</i><br>
<p>
I think there is no documentation for the Astra 600 S available at present.<br>
If umax have documentation we asked wor, they sent it to us. But<br>
in the moment we don't get any response.<br>
May be they are busy because of the trouble with the mac-clones and<br>
may be the Pentium-II workstation they produce make a lot of work, too.<br>
<p>
The only think we can do in the moment is wait. I don't have much time<br>
to work with the umax-driver and the time I have I spend into things<br>
I know what to do.<br>
<p>
If someone wants to help:<br>
find out how we can get a scsi-trace of a scan of the windows-driver,<br>
write a program the catches the data or find someone who has a<br>
scsi-tracer ( a machine that protocols all data that are transmitted<br>
via the scsi-bus).<br>
If I get such a scsi-trace from a scan with an Astra 600S and the<br>
windows-software, I will be able to make the linux-driver work<br>
with the astra 600 S.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Mark Cornick: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0077.html">Phil Ptkwt Kristin: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0085.html">Peter Daum: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
