<!-- received="Thu Oct 16 18:35:17 1997 MST" -->
<!-- sent="Thu, 16 Oct 1997 18:35:15 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Linux/x86 RPMS available" -->
<!-- id="199710170135.SAA05503@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Linux/x86 RPMS available</title>
<h1>Linux/x86 RPMS available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 16 Oct 1997 18:35:15 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">David Mosberger-Tang: "Re: sane-devel@mostang.com"</a>
<li> <b>Previous message:</b> <a href="0088.html">Oliver.Rauch@Wolfsburg.DE: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks to Mark Cronick, RPMS for the x86 platform are now available<br>
in:<br>
<p>
	<a href="ftp://ftp.mostang.com/pub/sane/RPMS/">ftp://ftp.mostang.com/pub/sane/RPMS/</a><br>
<p>
Note that if you have recent GTK and GIMP libraries installed, but did<br>
not install them through RPM, you may have to specify the --nodeps<br>
option to get the RPM installed.  YMMV.<br>
<p>
Cheers,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">David Mosberger-Tang: "Re: sane-devel@mostang.com"</a>
<li> <b>Previous message:</b> <a href="0088.html">Oliver.Rauch@Wolfsburg.DE: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
