<!-- received="Fri Oct 17 13:33:18 1997 MST" -->
<!-- sent="Fri, 17 Oct 1997 22:29:33 +0200 (MET DST)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="Incompatible gtk versions (Re: umax-backend)" -->
<!-- id="" -->
<!-- inreplyto="199710170200.TAA05721@panda.mostang.com" -->
<title>sane-devel: Incompatible gtk versions (Re: umax-backend)</title>
<h1>Incompatible gtk versions (Re: umax-backend)</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Fri, 17 Oct 1997 22:29:33 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">David Mosberger-Tang: "Re: Incompatible gtk versions (Re: umax-backend)"</a>
<li> <b>Previous message:</b> <a href="0098.html">Andreas Czechanowski: "Re: Mustek600IICD / lost lines"</a>
<li> <b>In reply to:</b> <a href="0092.html">David Mosberger-Tang: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">David Mosberger-Tang: "Re: Incompatible gtk versions (Re: umax-backend)"</a>
<li> <b>Reply:</b> <a href="0100.html">David Mosberger-Tang: "Re: Incompatible gtk versions (Re: umax-backend)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, 16 Oct 1997 23:26:18 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> said:<br>
<p>
<i>&gt; I think you compiled SANE with the wrong gtk installed.</i><br>
<i>&gt; You must use the Version that is available an the sane-site,</i><br>
<i>&gt; it is named:</i><br>
<i>&gt; gtk+960606-davidm.tar.gz</i><br>
<i>&gt; or something like that.</i><br>
<p>
Indeed, the segfaults I struggled with were gtk-related.<br>
<p>
Unfortunately, it isn't easy to find a gtk-version that works:<br>
The "gtk+960606-davidm.tar.gz" that you mentioned is obviously<br>
not available anymore - not on the sane ftp site, nor on any<br>
mirrors. The gtk from gimp 0.99.10 that I tried doesn't work -<br>
some functions like e.g. gtk_gamma_curve_new are missing.<br>
Eventually, I found gtk+970828.tar.gz, which also contains the<br>
"gtk+970606-davidm" patches; so far, it seems to work OK with<br>
xscanimage: no more segfaults or warnings ...<br>
<p>
To make things worse, it looks like current gimp-versions (I am<br>
using 0.99.13) won't compile or run with any of these older gtk<br>
libs. I left the gtk+970925 dlls installed (gimp doesn't have any<br>
problems with these) and linked xscanimage statically with the<br>
older gtk.<br>
<p>
On Thu, 16 Oct 1997, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Quite possibly.  gtk+960925 works quite well for me, but there are</i><br>
<i>&gt; definitely a couple of bugs that were not present in 960606 with my</i><br>
<i>&gt; patches.  Hopefully, the gtk folks will fix those soon.</i><br>
<p>
It would be very desirable, if gimp and sane would run with the<br>
same version of gtk. For the moment, I suggest to mention these<br>
problems in the sane documentation, which right now states that<br>
sane didn't need any special gtk libs.<br>
<p>
Furthermore, the problems with the different gtk versions will<br>
also affect the supplied binary packages - I tried the i386 rpm:<br>
<p>
with gtk+960925, it crashes right on startup, it's last words are<br>
** WARNING **: file gtkbox.c: line 109 (gtk_box_pack_start): "box != NULL"<br>
<p>
while the 0.99.10 version works as long as you avoid the missing<br>
gtk_gamma_curve_new.<br>
<p>
Maybe, it would be better to link the precompiled binaries<br>
statically against gtk.<br>
<p>
Bye,<br>
             Peter<br>
<pre>
-- 
     | Peter Daum (<a href="mailto:gator@cs.tu-berlin.de">gator@cs.tu-berlin.de</a>)        __o   (+49 30)
     | <a href="http://www.cs.tu-berlin.de/~gator">http://www.cs.tu-berlin.de/~gator</a>       _'\&lt;_  691 46 35
     | pgp messages welcome!                 _(_)/(_) ___________
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">David Mosberger-Tang: "Re: Incompatible gtk versions (Re: umax-backend)"</a>
<li> <b>Previous message:</b> <a href="0098.html">Andreas Czechanowski: "Re: Mustek600IICD / lost lines"</a>
<li> <b>In reply to:</b> <a href="0092.html">David Mosberger-Tang: "Re: umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0100.html">David Mosberger-Tang: "Re: Incompatible gtk versions (Re: umax-backend)"</a>
<li> <b>Reply:</b> <a href="0100.html">David Mosberger-Tang: "Re: Incompatible gtk versions (Re: umax-backend)"</a>
<!-- reply="end" -->
</ul>
