<!-- received="Sat Oct 18 01:31:50 1997 MST" -->
<!-- sent="Sat, 18 Oct 1997 10:31:30 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: umax-backend" -->
<!-- id="199710180831.KAA02684@Babylon5.wolfsburg.de" -->
<!-- inreplyto="Pine.LNX.3.96.971017224228.22909A-100000@swamp.bayern.net" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sat, 18 Oct 1997 10:31:30 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#106">[ date ]</a><a href="index.html#106">[ thread ]</a><a href="subject.html#106">[ subject ]</a><a href="author.html#106">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Previous message:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Peter,<br>
<p>
<i>&gt; at second sight, I'm not so sure anymore, whether the gamma</i><br>
<i>&gt; correction works right: </i><br>
<p>
Please try the following:<br>
edit umax-scsi.c: line 408 (function umax_send_gamma_data)<br>
<p>
edit the line (408), change "256" to "length":<br>
 set_S_xfer_length(us-&gt;buffer, color*256+gamma_DCF2.size); /* bytes */<br>
and move the line about 25 lines down, so that you get:<br>
<p>
 memcpy(dest, data, color*length);<br>
 set_S_xfer_length(us-&gt;buffer, color*length+gamma_DCF2.size); /* bytes */<br>
 umax_do_scsi_cmd(us-&gt;sfd, us-&gt;buffer, send.size+gamma_DCF2.size+length*color,<br>
<p>
then do<br>
make clean<br>
make<br>
make install (as root)<br>
<p>
and please tell me what happends!<br>
<p>
<i>&gt; As far as the 10-bit option is concerned, I am not so sure, what</i><br>
<i>&gt; exactly the effect of turning it on should be. It doesn't cause</i><br>
<i>&gt; any crashes anymore (these were obviously also only whith</i><br>
<i>&gt; gtk+970925) but the results look pretty weird. While the button</i><br>
<i>&gt; is checked, most scans are accompanied by message boxes popping</i><br>
<i>&gt; up saying either "Error during read: the Operation was cancelled"</i><br>
<i>&gt; or "cannot handle depth 16". When unchecked again, the very next</i><br>
<i>&gt; scan will produce another such message, then things are back to</i><br>
<i>&gt; normal again.</i><br>
<p>
"cannot handle depth 16" is a problem of the frontend that is not<br>
able to use more than 8 bits per value, that may be ok for me,<br>
<p>
but "Error during read: the Operation was cancelled"<br>
sounds not so good. Please could you try it again after<br>
you did the change described abouve!<br>
<p>
then do<br>
 export SANE_DEBUG_UMAX=128<br>
and try it again and please send me the output<br>
<p>
Thanks<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0107.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problem building sane on FreeBSD 2.2.2"</a>
<li> <b>Previous message:</b> <a href="0105.html">Klaus Weglehner: "Re: Mustek600IICD / lost lines"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
