<!-- received="Thu Oct 23 11:33:40 1997 MST" -->
<!-- sent="Thu, 23 Oct 1997 17:14:09 +0200 (MET DST)" -->
<!-- name="Klaus Weglehner" -->
<!-- email="klaus@amsys.nbg.sub.org" -->
<!-- subject="Re: Mustek600IICD / lost lines" -->
<!-- id="199710231514.RAA25195@amsys.nbg.sub.org" -->
<!-- inreplyto="199710202109.OAA00551@panda.mostang.com" -->
<title>sane-devel: Re: Mustek600IICD / lost lines</title>
<h1>Re: Mustek600IICD / lost lines</h1>
<b>Klaus Weglehner</b> (<a href="mailto:klaus@amsys.nbg.sub.org"><i>klaus@amsys.nbg.sub.org</i></a>)<br>
<i>Thu, 23 Oct 1997 17:14:09 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<li> <b>Previous message:</b> <a href="0117.html">Tom Lee: "Having same umax problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<li> <b>Reply:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello David!<br>
<i>&gt; If your system hangs completely, the problem is most likely with the scsi</i><br>
<i>&gt; driver, not with SANE.</i><br>
Hm... maybe. I suppose it's the interaction between the very strange SCSI<br>
interface of the mustek and the SCSI driver. I think the aha152x driver<br>
of the Kernel should be ok.<br>
<p>
An other idea:<br>
Yesterday I disassembled my scanner a little bit and discovered that the<br>
software is stored in a normal EPROM (perhaps even a ROM. I hadn't remove<br>
the label so i could not read the storage dimension either). Has<br>
anybody experiences using the software of a Paragon600SP in a 600CD??<br>
The SP seems to work better with sane. Can somebody mail me the<br>
contents of his 600SP eprom? Than i could play around a little bit<br>
with it.<br>
<p>
Have you tried using the scanner with a cheap<br>
<i>&gt; ncr810 card?</i><br>
No, because the ncr810 is a PCI Card, isn't it? My "Scanner-Server" has<br>
only ISA-Bus.<br>
<p>
bye...<br>
 Klaus<br>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<li> <b>Previous message:</b> <a href="0117.html">Tom Lee: "Having same umax problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<li> <b>Reply:</b> <a href="0119.html">Phil Risby: "Relisys?"</a>
<!-- reply="end" -->
</ul>
