<!-- received="Thu Oct 23 20:08:44 1997 MST" -->
<!-- sent="Thu, 23 Oct 1997 22:03:56 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek 1200SP: Missing Lines" -->
<!-- id="m0xOUQ8-000BXJC@charon.beck-sw.de" -->
<!-- inreplyto="344FA3B9.4B7F140A@physik.uni-kassel.de" -->
<title>sane-devel: Re: Mustek 1200SP: Missing Lines</title>
<h1>Re: Mustek 1200SP: Missing Lines</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 23 Oct 1997 22:03:56 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">David Mosberger-Tang: "Re: Relisys?"</a>
<li> <b>Previous message:</b> <a href="0121.html">Joerg Diederich: "Dark scans with HP ScanJet 3c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0126.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0126.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; The Mustek 1200SP scanner was shipped with the DTC436E SCSI-Card.</i><br>
<i>&gt; I was not able to get this card working on my system (Suse Linux 5.0,</i><br>
<i>&gt; Kernel 2.0.30).</i><br>
Known problem ... the card is ... *#$?%<br>
<p>
However there have recently been some reports that it can be made working<br>
somehow ...<br>
<p>
<i>&gt; The scanner was then found by the Generic SCSI-Module. Everything looked</i><br>
<i>&gt; fine, but there are some missing lines in the Grey-Mode In Color-Mode </i><br>
<i>&gt; there are some horizontal stripes.</i><br>
Yes. This is a known problem we are currently trying to sort out. It occurs<br>
most visibly at medium resolutions at every SCSI-Buffer boundary.<br>
<p>
<i>&gt; These problems are described in sane-mustek, but applying the fixes</i><br>
<i>&gt; through mustek.conf did not change anything.</i><br>
Setting the strip-height should affect the frequency of the stripes.<br>
<p>
<i>&gt; are still there, but  there were more before changing the scsi-cache.</i><br>
Yep.<br>
<p>
<i>&gt; So I guess that Problem is due to a corrupt data-transfer because of a</i><br>
<i>&gt; timing problem or so.</i><br>
I do not think so, as it always seems to be at the beginning/end of a <br>
transferred buffer. So I think the last alignment between the current and the<br>
next buffer is not quite right. I don't know, if this is a HW problem, or if <br>
we are doing something wrong.<br>
<p>
However the main developer of the Mustek drivers semms to be able to reproduce <br>
this problems recently, so maybe there is hope ...<br>
<p>
<i>&gt; I guess another SCSI-Controller would help, but first of all I am</i><br>
<i>&gt; interested in getting the scanner work without buying new hardware...</i><br>
No. You Controller is just fine. However I would recommend hooking the <br>
scanner to a second card, as it doesn't seem to support disconnect and can <br>
thus hog the SCSI bus for very long times. You may want to use the strip-<br>
height option to limit this time a bit ...<br>
<p>
Cu,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">David Mosberger-Tang: "Re: Relisys?"</a>
<li> <b>Previous message:</b> <a href="0121.html">Joerg Diederich: "Dark scans with HP ScanJet 3c"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0126.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Reply:</b> <a href="0126.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<!-- reply="end" -->
</ul>
