<!-- received="Thu Oct 30 22:07:02 1997 PST" -->
<!-- sent="Thu, 30 Oct 1997 22:07:00 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: problems with SANE 0.66" -->
<!-- id="199710310607.WAA14807@panda.mostang.com" -->
<!-- inreplyto="19971030232613.07c61b39.in@mail.sz-online.de" -->
<title>sane-devel: Re: problems with SANE 0.66</title>
<h1>Re: problems with SANE 0.66</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 30 Oct 1997 22:07:00 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0161.html">David Mosberger-Tang: "Re: Nikon LS 1000"</a>
<li> <b>In reply to:</b> <a href="0158.html">Dirk Schvnberger: "problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">Rogier Wolff: "Re: problems with SANE 0.66"</a>
<li> <b>Reply:</b> <a href="0165.html">Rogier Wolff: "Re: problems with SANE 0.66"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 30 Oct 1997 23:19:10 +0100, "Dirk Schvnberger" &lt;<a href="mailto:schoenberger@signsoft.com">schoenberger@signsoft.com</a>&gt; said:</i><br>
<p>
  Dirk&gt; linux 1.0.25<br>
<p>
This could be your problem.  I'm not sure SANE works with anything<br>
earlier than Linux 2.x.<br>
<p>
  Dirk&gt; (the # lines are some own debug code, because somehow the<br>
  Dirk&gt; sanei code don't bring debug code). Yes I set SANE_DEBUG_UMAX<br>
  Dirk&gt; and SANE_SANEI_SCSI (or the equivalent thing from "man<br>
  Dirk&gt; sane-config" to 128)<br>
<p>
Did you export the variables?  I've never heard of anyone having trouble<br>
getting the debug output.  Something like:<br>
<p>
	SANE_DEBUG_UMAX=128 SANE_DEBUG_DLL=128 scanimage -L<br>
<p>
should produce some nice output.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">David Mosberger-Tang: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0161.html">David Mosberger-Tang: "Re: Nikon LS 1000"</a>
<li> <b>In reply to:</b> <a href="0158.html">Dirk Schvnberger: "problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0165.html">Rogier Wolff: "Re: problems with SANE 0.66"</a>
<li> <b>Reply:</b> <a href="0165.html">Rogier Wolff: "Re: problems with SANE 0.66"</a>
<!-- reply="end" -->
</ul>
