<!-- received="Fri Oct 31 13:39:52 1997 PST" -->
<!-- sent="Fri, 31 Oct 1997 22:27:22 +0100" -->
<!-- name="Dirk Schvnberger" -->
<!-- email="schoenberger@signsoft.com" -->
<!-- subject="Re: problems with SANE 0.66" -->
<!-- id="19971031224306.0cc4fceb.in@mail.sz-online.de" -->
<!-- inreplyto="problems with SANE 0.66" -->
<title>sane-devel: Re: problems with SANE 0.66</title>
<h1>Re: problems with SANE 0.66</h1>
<b>Dirk Schvnberger</b> (<a href="mailto:schoenberger@signsoft.com"><i>schoenberger@signsoft.com</i></a>)<br>
<i>Fri, 31 Oct 1997 22:27:22 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Wolfgang Jung: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0171.html">becka@rz.uni-duesseldorf.de: "Re: problems with SANE 0.66"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Dirk Schvnberger: "problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I.e. mknod -m 660 /dev/sge c 21 4 would be right.</i><br>
<p>
<i>&gt; The 6 is only the SCSI device ID. Nothing to do with the Linux internal </i><br>
<i>&gt; counting. For Linux it is the fifth device (count starts at 0=a).</i><br>
<p>
<i>&gt; CU,ANdy</i><br>
<p>
Correct, that was the fault. Thanks for all the help.<br>
<p>
DIrk<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Wolfgang Jung: "Re: Mustek 1200SP: Missing Lines"</a>
<li> <b>Previous message:</b> <a href="0171.html">becka@rz.uni-duesseldorf.de: "Re: problems with SANE 0.66"</a>
<li> <b>Maybe in reply to:</b> <a href="0158.html">Dirk Schvnberger: "problems with SANE 0.66"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
