<!-- received="Wed Dec  1 07:21:24 1999 PST" -->
<!-- sent="Wed, 01 Dec 1999 10:29:41 -0500" -->
<!-- name="Lauren Matheson" -->
<!-- email="inan@canada.com" -->
<!-- subject="Umax parallel" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Umax parallel</title>
<h1>Umax parallel</h1>
<b>Lauren Matheson</b> (<a href="mailto:inan@canada.com"><i>inan@canada.com</i></a>)<br>
<i>Wed, 01 Dec 1999 10:29:41 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#2">[ date ]</a><a href="index.html#2">[ thread ]</a><a href="subject.html#2">[ subject ]</a><a href="author.html#2">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Oliver Rauch: "Re: Umax Astra 1220S, Serving as a Scanner Server???"</a>
<li> <b>Previous message:</b> <a href="0001.html">Bernd Schroeder: "Re: Microtek2 X6EL problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Umax sent me the service manuals for the 2000P/2000U/2100U ... They have<br>
block diagrams of the interface, but that's about as far as they go so I<br>
don't know if that really helps at all.  Just wanted to let you know<br>
incase this is new material.<br>
<p>
Lauren.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0003.html">Oliver Rauch: "Re: Umax Astra 1220S, Serving as a Scanner Server???"</a>
<li> <b>Previous message:</b> <a href="0001.html">Bernd Schroeder: "Re: Microtek2 X6EL problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
