<!-- received="Wed Dec  1 15:54:06 1999 PST" -->
<!-- sent="Wed, 1 Dec 1999 17:01:37 -0700 (MST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: your mail" -->
<!-- id="19991202000143Z433799-2659+282@scapa.cs.ualberta.ca" -->
<!-- inreplyto="99113019482701.00311@katze" -->
<title>sane-devel: Re: your mail</title>
<h1>Re: your mail</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Wed, 1 Dec 1999 17:01:37 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Kevin Charter: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<li> <b>Previous message:</b> <a href="0007.html">David E. Nelson: "HP SCL Toolkit 11.0 (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0062.html">Klaas Freitag: "Re: snapscan300-warum nicht?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; jubeo te salvere</i><br>
<i>&gt; </i><br>
<i>&gt; i have problems to run my snapscan300 at an aha1502-adapter under linux</i><br>
<i>&gt; everything seems ok, i did the following</i><br>
<i>&gt; 1)</i><br>
<i>&gt; during booting</i><br>
<i>&gt; &lt;4&gt;aha152x: processing commandline: ok</i><br>
<i>&gt; &lt;4&gt;aha152x: BIOS test: passed, detected 1 controller(s)</i><br>
<i>&gt; &lt;4&gt;aha152x0: vital data: PORTBASE=0x140, IRQ=10, SCSI ID=7, reconnect=enabled, parity=enabled, synchronous=disabled, delay=100, extended translation=disabled</i><br>
<i>&gt; &lt;4&gt;aha152x: trying software interrupt, ok.</i><br>
<i>&gt; &lt;4&gt;scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $</i><br>
<i>&gt; &lt;4&gt;scsi : 1 host.</i><br>
<i>&gt; &lt;4&gt;  Vendor: AGFA      Model: SnapScan          Rev: 1.40</i><br>
<i>&gt; &lt;4&gt;  Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt; &lt;4&gt;Detected scsi generic sga at scsi0, channel 0, id 2, lun 0</i><br>
<i>&gt; &lt;4&gt;scsi : detected total.</i><br>
<i>&gt; 2)</i><br>
<i>&gt; &gt;cat /proc/scsi/scsi</i><br>
<i>&gt; Attached devices:</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 02 Lun: 00</i><br>
<i>&gt;   Vendor: AGFA     Model: SnapScan         Rev: 1.40</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 02       </i><br>
<i>&gt; 3)</i><br>
<i>&gt; &gt;find-scanner</i><br>
<i>&gt; find-scanner: found scanner "AGFA SnapScan 1.40" at device /dev/scanner</i><br>
<i>&gt; find-scanner: found scanner "AGFA SnapScan 1.40" at device /dev/sg0</i><br>
<i>&gt; find-scanner: found scanner "AGFA SnapScan 1.40" at device /dev/sga       </i><br>
<i>&gt; 4)</i><br>
<i>&gt; &gt; ls -l /dev/sga /dev/sg0 /dev/scanner</i><br>
<i>&gt; lrwxrwxrwx   1 root     root            3 Nov 27 22:38 /dev/scanner -&gt; sg0</i><br>
<i>&gt; crw-rw----   1 root     scanner   21,   0 Apr  5  1999 /dev/sg0</i><br>
<i>&gt; lrwxrwxrwx   1 root     scanner         3 May  5  1999 /dev/sga -&gt; sg0</i><br>
<i>&gt; 5)</i><br>
<i>&gt; &gt; sgcheck</i><br>
<i>&gt; </i><br>
<i>&gt; Assignment of generic SCSI devices,</i><br>
<i>&gt; device host/channel/ID/LUN type(numeric type) vendor model:</i><br>
<i>&gt; </i><br>
<i>&gt; /dev/sg0 0/0/2/0 Scanner AGFA SnapScan         </i><br>
<i>&gt; 6)</i><br>
<i>&gt; &gt; scanimage snapscan:/dev/scanner</i><br>
<i>&gt; scanimage: no SANE devices found       </i><br>
<i>&gt; :i ignored the pnm's in dll.conf, snapscan is available</i><br>
<i>&gt; </i><br>
<i>&gt; everything looks great, but nothing does work, its grazy, please give me a hint</i><br>
<p>
Who were you logged in as? Your permissions on /dev/sg0 don't<br>
allow read/write access for normal users.<br>
<p>
Try doing<br>
<p>
	chmod o+rw /dev/sg0<br>
<p>
(you must be root to do this) and then try again.<br>
<p>
As well:<br>
<p>
	1. what version of SANE are you using?<br>
	2. did you get one of the updated SnapScan backends from<br>
	   <a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html?">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html?</a><br>
<p>
Kevin<br>
<p>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Kevin Charter: "Re: Snapscan 1236s &amp; AVA1505AE"</a>
<li> <b>Previous message:</b> <a href="0007.html">David E. Nelson: "HP SCL Toolkit 11.0 (fwd)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0062.html">Klaas Freitag: "Re: snapscan300-warum nicht?"</a>
<!-- reply="end" -->
</ul>
