<!-- received="Thu Dec  2 17:13:41 1999 PST" -->
<!-- sent="Fri, 3 Dec 1999 09:21:50 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: SANE Net backend suggestion..." -->
<!-- id="199912030121.JAA25761@minerva.cc.uit.no" -->
<!-- inreplyto="SANE Net backend suggestion..." -->
<title>sane-devel: Re: SANE Net backend suggestion...</title>
<h1>Re: SANE Net backend suggestion...</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Fri, 3 Dec 1999 09:21:50 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Douglas Gilbert: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0023.html">Herman Roozenbeek: "Re: Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Brian Macy]<br>
<i>&gt; A bit of a thought that I've been interested in for quite some</i><br>
<i>&gt; time...  what do you all think of having the net backend writing the</i><br>
<i>&gt; data during a scan to a file. At the same time a thread (or whatever</i><br>
<i>&gt; is appropriate) writes the file out the data socket. That way if you</i><br>
<i>&gt; have a slow network connection (which it can easily be slower than a</i><br>
<i>&gt; SCSI scanner) your scanner doesn't play the two steps forward, one</i><br>
<i>&gt; step back game.</i><br>
<p>
Sounds like a good idea, as long as you make sure the net backend<br>
start writing to the client as soon as there is some data available.<br>
<p>
Do you have a demonstration patch?<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Douglas Gilbert: "Re: Problem with SANE and SCSI scanner"</a>
<li> <b>Previous message:</b> <a href="0023.html">Herman Roozenbeek: "Re: Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
