<!-- received="Fri Dec  3 00:45:54 1999 PST" -->
<!-- sent="Fri, 3 Dec 1999 09:54:07 +0100" -->
<!-- name="Manuel Panea" -->
<!-- email="mpd@rzg.mpg.de" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="384734A4.BC113DC@interlog.com" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Manuel Panea</b> (<a href="mailto:mpd@rzg.mpg.de"><i>mpd@rzg.mpg.de</i></a>)<br>
<i>Fri, 3 Dec 1999 09:54:07 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Klaus Espenlaub: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0028.html">Brian Macy: "Re: Cross platform GUI toolkit"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
<p>
<p>
On Thu, 2 Dec 1999, Douglas Gilbert wrote:<br>
<p>
<i>&gt; Things are gradually being improved. From and including</i><br>
<i>&gt; lk 2.2.10 there is an ioctl() in sg called SG_NEXT_CMD_LEN</i><br>
<i>&gt; that sets the length of the next SCSI command. That solves</i><br>
<i>&gt; your immediate problem. The sg version number can be found </i><br>
<i>&gt; with the ioctl() SG_GET_VERSION_NUM. There is an additional</i><br>
<i>&gt; interface structure called sg_io_hdr that is being added </i><br>
<i>&gt; to the sg driver in the linux 2.3 development tree. Abel</i><br>
<i>&gt; Deuring &lt;<a href="mailto:a.deuring@satzbau-gmbh.de">a.deuring@satzbau-gmbh.de</a>&gt; has developed a Mustek </i><br>
<i>&gt; backend using it. More information about sg can be found</i><br>
<i>&gt; at <a href="http://www.torque.net/sg">http://www.torque.net/sg</a> .</i><br>
<p>
Hi, Douglas. Thanks for your answer, things are quite clearer to me now.<br>
<p>
Now for the backend problem at hand: I could of course do those sg ioctl's<br>
in the backend, but that should rather be done by sane, not by the<br>
backends. Do you perhaps know whether there are any development plans for<br>
sane to include support for such ioctl's?<br>
<p>
Regards,<br>
<p>
  Manuel Panea                    Tel. +49 89 3299 1133<br>
  Rechenzentrum Garching          Fax  +49 89 3299 1301<br>
  Postfach 1533                   E-mail: <a href="mailto:mpd@rzg.mpg.de">mpd@rzg.mpg.de</a><br>
  85740 Garching Germany          <a href="http://www.rzg.mpg.de/~mpd">http://www.rzg.mpg.de/~mpd</a><br>
<p>
-----BEGIN PGP SIGNATURE-----<br>
Version: PGPfreeware 5.0i for non-commercial use<br>
Charset: noconv<br>
<p>
iQCVAwUBOEd3KYnxRMteJ3RRAQHfrgP/XBYrvF+S5L4LDm4oaUoxrnR/AJhTV70Z<br>
JSPEoEvi5gPhbii0v1lERMXNaFwlKmRAXLte7cAv1dk+9bvnpZ3djOfJ3QtT8TK1<br>
QMn/xWPDCTFDSA8RLO+mKVKZcjMSP+b0yLjBNOmhyuqH0gy59mvzLYG5qwLyHZkj<br>
gocXJ8rNoDQ=<br>
=ia6i<br>
-----END PGP SIGNATURE-----<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Klaus Espenlaub: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0028.html">Brian Macy: "Re: Cross platform GUI toolkit"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
