<!-- received="Sat Dec  4 12:26:35 1999 PST" -->
<!-- sent="04 Dec 1999 15:29:26 -0500" -->
<!-- name="Tim Carroll" -->
<!-- email="tim@boomboom.com" -->
<!-- subject="hexadecimal C syntax for serial ports" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: hexadecimal C syntax for serial ports</title>
<h1>hexadecimal C syntax for serial ports</h1>
<b>Tim Carroll</b> (<a href="mailto:tim@boomboom.com"><i>tim@boomboom.com</i></a>)<br>
<i>04 Dec 1999 15:29:26 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Tim Waugh: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Previous message:</b> <a href="0035.html">Douglas Gilbert: "Re: Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Reply:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
I am trying to set myself up with an inherited QuickCam to run off of<br>
the printer or modem serial ports of a linuxppc-endowed Macintosh<br>
using, of course, SANE...<br>
<p>
I managed to compile libsane-qcam.so.1, et al after a vigorous massage<br>
of the Makefile and I am ready to go, I think. I have no idea,<br>
however, of how to specify the hexadecimal address in C syntax of the<br>
I/O port I (think) I am using.<br>
<p>
Newbie-me would say that the printer port would be /dev/ttyS1, as this<br>
port has been used successfully to activate a printer in the past. Is<br>
there a method to determine this address in hexadecimal form?<br>
<p>
I have dangled this question in the comp.os.linux.powerpc newsgroup<br>
for a few days now and have sensed no nibbles. I would appreciate your<br>
help.<br>
<p>
Thank you for your attention,<br>
<p>
<pre>
-- 
Tim
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Tim Waugh: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Previous message:</b> <a href="0035.html">Douglas Gilbert: "Re: Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>Reply:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<!-- reply="end" -->
</ul>
