<!-- received="Sat Dec  4 15:22:43 1999 PST" -->
<!-- sent="04 Dec 1999 18:25:34 -0500" -->
<!-- name="Tim Carroll" -->
<!-- email="tim@boomboom.com" -->
<!-- subject="Re: hexadecimal C syntax for serial ports" -->
<!-- id="" -->
<!-- inreplyto="Sat, 04 Dec 1999 18:11:23 -0500"" -->
<title>sane-devel: Re: hexadecimal C syntax for serial ports</title>
<h1>Re: hexadecimal C syntax for serial ports</h1>
<b>Tim Carroll</b> (<a href="mailto:tim@boomboom.com"><i>tim@boomboom.com</i></a>)<br>
<i>04 Dec 1999 18:25:34 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Petter Reinholdtsen: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>In reply to:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; Matto Marjanovic writes:</i><br>
<p>
<i>  &gt; Looks like you have the Mac version of the QuickCam, which is</i><br>
<i>  &gt; indeed a serial device, of sorts.  The qcam driver is for the PC</i><br>
<i>  &gt; version which is a parallel port device, and the driver directly</i><br>
<i>  &gt; flips bits on the parallel port, which is why it needs the port</i><br>
<i>  &gt; address.  So, I'd say you're kind of out of luck from that</i><br>
<i>  &gt; perspective.</i><br>
<p>
<i>  &gt;&gt; From what I remember, the Mac version used a special synchronous</i><br>
<i>  &gt;  feature of the Mac serial port, whereby the Mac could clock data</i><br>
<i>  &gt; in/out of the port at some high rate, like 1Mbps or so, which is</i><br>
<i>  &gt; why the Mac version couldn't be used on a PC (and hence no</i><br>
<i>  &gt; x86-linux driver for the Mac version, that I ever heard of).</i><br>
<p>
True, I have looked high and wide for other drivers and to no<br>
avail. And I am not the only one looking...<br>
<p>
Thanks Matto... this bad news is good news in that I can find<br>
something else to do this weekend... unless I want to learn C, boost<br>
my IQ a notch or two and reverse-engineer my own driver!<br>
<p>
<pre>
-- 
Tim
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Petter Reinholdtsen: "Re: SANE Net backend suggestion..."</a>
<li> <b>Previous message:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<li> <b>In reply to:</b> <a href="0040.html">Matto Marjanovic: "Re: hexadecimal C syntax for serial ports"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
