<!-- received="Sun Dec  5 17:03:50 1999 PST" -->
<!-- sent="Mon, 06 Dec 1999 00:49:29 +0000" -->
<!-- name="Eric Galluzzo" -->
<!-- email="eng@one.net" -->
<!-- subject="Microtek X6EL again" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek X6EL again</title>
<h1>Microtek X6EL again</h1>
<b>Eric Galluzzo</b> (<a href="mailto:eng@one.net"><i>eng@one.net</i></a>)<br>
<i>Mon, 06 Dec 1999 00:49:29 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#56">[ date ]</a><a href="index.html#56">[ thread ]</a><a href="subject.html#56">[ subject ]</a><a href="author.html#56">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Herman Roozenbeek: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<li> <b>Previous message:</b> <a href="0055.html">Bill Wohler: "Minolta Scan Dual Dimage &amp; Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------C8C7FFF0C5D24D9B3FF6C45E<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Well, I changed the interrupt that the SCSI card was using (now 10<br>
instead of 11).  I'm not sure if that solved the problem or not; here<br>
are what's happened the four times I've tried inserting the aic7xxx<br>
kernel module and running xscanimage:<br>
<p>
  1. Inserted the aic7xxx module successfully, tried acquiring a preview<br>
     image via xscanimage and xscanimage (but not my computer!) hung.<br>
  2. Tried to insert the aic7xxx module, but the system hung after a<br>
     short while (15 seconds or so).<br>
  3. Inserted the module successfully, did a successful preview scan,<br>
     but tried another preview and xscanimage hung (but not the system).<br>
  4. Inserted the module successfully, tried acquiring a preview image<br>
     via xscanimage and xscanimage hung (but again, not the system).<br>
<p>
What was extremely odd is that in the last case, I left the system up<br>
for quite a while, after restarting the X server and killing xscanimage<br>
and all that, and after 20 or so minutes, the scanhead suddenly started<br>
going again; after a little while, I presume it hit the end of the scan<br>
area, since it started whirring a bit.  I quickly shut the scanner off,<br>
then turned it on again; and after another 20 or so minutes had elapsed,<br>
the scanner sprang to life again without warning.  Either my scanner's<br>
possessed ( :) ) or there's something very strange going on with a<br>
combination of SANE, my SCSI card, and my scanner.<br>
<p>
At any rate, my kernel is 2.2.13 on RH 5.1 w/glibc 2.0; I've got an<br>
Adaptec AVA-2902E SCSI card, which came with the Microtek ScanMaker X6EL<br>
scanner.  I'm using SANE 1.0.1 with microtek2 backend v0.8.  I've<br>
attached the debug output that I got in the case (4) above with<br>
SANE_DEBUG_MICROTEK2 set to 30.<br>
<p>
     - Eric<br>
<p>
<pre>
--
---=---=-=-==-===-=====//=======//=========-===-==-=-=--=---- &lt;&gt;&lt; -
"God is real, unless  // Name: // Eric Galluzzo // <a href="mailto:eng@one.net">eng@one.net</a>
 declared integer."  // WWW:  // <a href="http://w3.one.net/~eng/">http://w3.one.net/~eng/</a>
    -- Unknown      // Work: // SDRC // Software Engineer
---=-=-==-===-=====//=======//======//=-===-==-=-=--=-------- &lt;&gt;&lt; -
<p>
<p>
<p>
--------------C8C7FFF0C5D24D9B3FF6C45E
Content-Type: text/plain; charset=us-ascii;
 name="sanedebug2.txt"
Content-Transfer-Encoding: 7bit
Content-Disposition: inline;
 filename="sanedebug2.txt"
<p>
[sanei_init_debug]: Setting debug level of microtek2 to 30.
[microtek2] sane_init: Microtek2 (v0.8) says hello...
[microtek2] parse_config_file: fp=0x8082548
[microtek2] attach_one: name='option dump 1
'
[microtek2] add_device_list: device='option dump 1'
[microtek2] attach: device='option dump 1'
[microtek2] scsi_inquiry: mi=0x80d5ddc, device='option dump 1'
[microtek2] scsi_inquiry: 'Invalid argument'
[microtek2] attach: 'Invalid argument'
[microtek2] attach_one: name='/dev/scanner
'
[microtek2] add_device_list: device='/dev/scanner'
[microtek2] attach: device='/dev/scanner'
[microtek2] scsi_inquiry: mi=0x80d660c, device='/dev/scanner'
[microtek2] check_inquiry: md=0x80d6608
[microtek2] scsi_read_attributes: mi=0x80d660c, device='/dev/scanner', source=0
[microtek2] dump_attributes: mi=0x80d660c
<p>
<p>
Scanner attributes from device structure
========================================
<p>
Scanner ID...
~~~~~~~~~~~~~
  Vendor Name                    : '        '
  Model Name                     : 'scanner 636EL   '
  Revision                       : '1.50'
  Model Code                     : 0x98 (ScanMaker X6EL)
  Device Type Code               : 0x06 (Scanner),
  Scanner type                   : Flatbed scanner
  Supported options              : Automatic document feeder: Yes
                                   Transparency media adapter: Yes
                                   Auto paper detecting: No
                                   Advanced picture system: No
                                   Stripes: No
                                   Slides: No
  Scan button                    : Yes
<p>
Imaging Capabilities...
~~~~~~~~~~~~~~~~~~~~~~~
  Color scanner                  : Yes
  Number passes                  : 1 pass
  Resolution                     : X-max:   600 dpi
                                   Y-max:  1200 dpi
  Geometry                       : Geometric width:  5100 pts (8.50'')
                                   Geometric height: 8400 pts (14.00'')
  Optical resolution             : 600
  Modes                          : Lineart:      Yes
                                   Halftone:     No
                                   Gray:         Yes
                                   Color:        Yes
  Depths                         : Nibble Gray:  Yes
                                   10-bit-color: No
                                   12-bit-color: Yes
  d/l of HT pattern              : No
  Builtin HT pattern             : 0
  LUT capabilities:              : 4096 words
<p>
Miscellaneous capabilities...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Data format                    : Chunky data, R, G &amp; B in one pixel
  Color Sequence                 : R - G - B
  Scanning direction             : Left to right
  CCD gap                        : 8 lines
  CCD pixels                     : 5100
  Calib white stripe location    : -384
  Max calib space                : 80
  Number of lens                 : 1
  Max number of windows          : 64
  Shading transfer function      : 17
  Red balance                    : 230
  Green balance                  : 236
  Blue balance                   : 243
  Buffer type                    : Ring
  FEPROM                         : No
[microtek2] scsi_read_attributes: mi=0x80d670c, device='/dev/scanner', source=2
[microtek2] scsi_read_attributes: mi=0x80d668c, device='/dev/scanner', source=1
[microtek2] scsi_read_system_status: md=0x80d6608, fd=-1
[microtek2] attach_one: name='/dev/sga
'
[microtek2] add_device_list: device='/dev/sga'
[microtek2] attach: device='/dev/sga'
[microtek2] scsi_inquiry: mi=0x80df1d4, device='/dev/sga'
[microtek2] check_inquiry: md=0x80df1d0
[microtek2] scsi_read_attributes: mi=0x80df1d4, device='/dev/sga', source=0
[microtek2] scsi_read_attributes: mi=0x80df2d4, device='/dev/sga', source=2
[microtek2] scsi_read_attributes: mi=0x80df254, device='/dev/sga', source=1
[microtek2] scsi_read_system_status: md=0x80df1d0, fd=-1
[microtek2] sane_get_devices: local_only=0
[microtek2] attach: device='/dev/sga'
[microtek2] scsi_inquiry: mi=0x80df1d4, device='/dev/sga'
[microtek2] check_inquiry: md=0x80df1d0
[microtek2] scsi_read_attributes: mi=0x80df1d4, device='/dev/sga', source=0
[microtek2] scsi_read_attributes: mi=0x80df2d4, device='/dev/sga', source=2
[microtek2] scsi_read_attributes: mi=0x80df254, device='/dev/sga', source=1
[microtek2] scsi_read_system_status: md=0x80df1d0, fd=-1
[microtek2] scsi_test_unit_ready: md=/dev/sga
[microtek2] attach: device='/dev/scanner'
[microtek2] scsi_inquiry: mi=0x80d660c, device='/dev/scanner'
[microtek2] check_inquiry: md=0x80d6608
[microtek2] scsi_read_attributes: mi=0x80d660c, device='/dev/scanner', source=0
[microtek2] scsi_read_attributes: mi=0x80d670c, device='/dev/scanner', source=2
[microtek2] scsi_read_attributes: mi=0x80d668c, device='/dev/scanner', source=1
[microtek2] scsi_read_system_status: md=0x80d6608, fd=-1
[microtek2] scsi_test_unit_ready: md=/dev/scanner
[microtek2] attach: device='option dump 1'
[microtek2] scsi_inquiry: mi=0x80d5ddc, device='option dump 1'
[microtek2] scsi_inquiry: 'Invalid argument'
[microtek2] attach: 'Invalid argument'
[microtek2] sane_get_devices: attach status 'Invalid argument'
[microtek2] sane_open: device='/dev/sga'
[microtek2] add_device_list: device='/dev/sga'
[microtek2] add_device_list: device '/dev/sga' already in list
[microtek2] attach: device='/dev/sga'
[microtek2] scsi_inquiry: mi=0x80df1d4, device='/dev/sga'
[microtek2] check_inquiry: md=0x80df1d0
[microtek2] scsi_read_attributes: mi=0x80df1d4, device='/dev/sga', source=0
[microtek2] scsi_read_attributes: mi=0x80df2d4, device='/dev/sga', source=2
[microtek2] scsi_read_attributes: mi=0x80df254, device='/dev/sga', source=1
[microtek2] scsi_read_system_status: md=0x80df1d0, fd=-1
[microtek2] init_options: handle=0x81432d0, source=0
[microtek2] get_lut_size: mi=0x80df1d4
[microtek2] get_lut_size:  mi=0x80df1d4, lut_size=4096, lut_word=2
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=1
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=2
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=3
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=4
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=5
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=6
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=7
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=8
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=9
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=14
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=15
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=16
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=17
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=18
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=19
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=20
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=21
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=22
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=23
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=24
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=25
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=26
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=27
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=28
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=29
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=30
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=31
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=32
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=33
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=34
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=35
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=36
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=37
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=38
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=39
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=40
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=41
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=42
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=43
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=44
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=45
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=46
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=47
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=48
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=49
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=50
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=51
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=52
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=53
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=54
[microtek2] get_scan_mode_and_depth: handle=0x81432d0
[microtek2] get_scan_mode_and_depth: mode=5, depth=8, bits_pp_in=8, bits_pp_out=8, preview=0
[microtek2] sane_get_parameters: x_res=y_res=72.000000
[microtek2] sane_get_parameters: x_ppm=2.834646, y_ppm=2.834646
[microtek2] sane_get_parameters: format=1, last_frame=1, lines=1008
[microtek2] sane_get_parameters: depth=8, ppl=612, bpl=1836
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=5
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=5
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=0
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=1
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=2
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=3
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=4
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=5
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=6
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=7
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=8
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=9
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=14
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=15
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=16
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=17
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=18
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=19
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=20
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=21
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=22
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=23
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=24
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=25
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=26
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=27
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=28
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=29
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=30
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=31
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=32
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=33
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=34
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=35
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=36
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=37
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=38
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=39
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=40
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=41
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=42
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=43
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=44
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=45
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=46
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=47
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=48
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=49
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=50
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=51
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=52
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=53
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=54
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=1
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=2
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=3
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=4
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=5
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=6
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=7
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=8
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=9
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=10
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=11
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=12
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=13
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=14
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=15
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=16
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=17
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=18
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=19
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=20
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=21
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=22
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=23
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=24
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=25
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=26
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=27
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=28
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=29
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=30
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=31
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=32
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=33
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=34
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=35
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=36
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=37
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=38
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=39
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=40
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=41
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=42
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=43
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=44
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=45
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=46
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=47
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=48
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=49
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=50
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=51
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=52
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=53
[microtek2] sane_get_option_descriptor: handle=0x81432d0, opt=54
[microtek2] sane_start: handle=0x0x81432d0
[microtek2] scsi_read_system_status: md=0x80df1d0, fd=44
[microtek2] get_scan_parameters: handle=0x81432d0
[microtek2] get_scan_mode_and_depth: handle=0x81432d0
[microtek2] get_scan_mode_and_depth: mode=5, depth=8, bits_pp_in=8, bits_pp_out=8, preview=1
[microtek2] get_scan_parameters: mode=5, depth=8, bpp_in=8, bpp_out=8
[microtek2] get_scan_parameters: yres=27, x1=0, width=5100, y1=0, height=8400
[microtek2] scsi_read_system_status: md=0x80df1d0, fd=44
[microtek2] scsi_send_system_status: md=0x80df1d0, fd=44
[microtek2] get_lut_size: mi=0x80df1d4
[microtek2] get_lut_size:  mi=0x80df1d4, lut_size=4096, lut_word=2
[microtek2] calculate_gamma: ms=0x81432d0, pos=0x81a5ea8, color=0, mode=None
[microtek2] calculate_gamma: factor=1, mult =4095.000000, steps=4095.000000, mode=None
[microtek2] calculate_gamma: ms=0x81432d0, pos=0x81a7ea8, color=1, mode=None
[microtek2] calculate_gamma: factor=1, mult =4095.000000, steps=4095.000000, mode=None
[microtek2] calculate_gamma: ms=0x81432d0, pos=0x81a9ea8, color=2, mode=None
[microtek2] calculate_gamma: factor=1, mult =4095.000000, steps=4095.000000, mode=None
[microtek2] set_exposure: ms=0x81432d0
[microtek2] scsi_send_gamma: pos=0x81a5ea8, size=8192, word=1, color=3
[microtek2] scsi_set_window: ms=0x81432d0, wnd=1
[microtek2] scsi_read_image_info: ms=0x81432d0
[microtek2] scsi_read_image_info: ppl=229, bpl=690, lines=378, remain=260820
[microtek2] scsi_wait_for_image: ms=0x81432d0
[microtek2] scsi_read_image_status: ms=0x81432d0
<p>
--------------C8C7FFF0C5D24D9B3FF6C45E--
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Herman Roozenbeek: "Re: aha152x, microtek e6, kernel 2.2.13"</a>
<li> <b>Previous message:</b> <a href="0055.html">Bill Wohler: "Minolta Scan Dual Dimage &amp; Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
