<!-- received="Sun Dec  5 22:17:09 1999 PST" -->
<!-- sent="Sun, 05 Dec 1999 22:19:38 -0800" -->
<!-- name="Nathan Kennedy" -->
<!-- email="nathan@mail.puget.net" -->
<!-- subject="UMAX Astra 1200S seems to hang on all commands" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: UMAX Astra 1200S seems to hang on all commands</title>
<h1>UMAX Astra 1200S seems to hang on all commands</h1>
<b>Nathan Kennedy</b> (<a href="mailto:nathan@mail.puget.net"><i>nathan@mail.puget.net</i></a>)<br>
<i>Sun, 05 Dec 1999 22:19:38 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">thomas huber: "snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0058.html">Kevin Charter: "Re: Looking for the proper backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">PAILOTT@aol.com: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0063.html">PAILOTT@aol.com: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0064.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0065.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0066.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0067.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0068.html">Rod Pike: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0069.html">Mark Brown: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0075.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0077.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just bought a brand new UMAX Astra 1200S scanner specifically for use<br>
with sane.  However it seems that it hangs on the initialization of the<br>
scanner.  I am using the card on an adaptec 2920 PCI card with a zip<br>
drive in-line with the scanner.<br>
<p>
I have run the scanimage -T with a dll debug level of 128.  Everything<br>
goes fine,  until it reaches the do_calibration command.  Then it just<br>
sits waiting for the scanner.  I can usually &lt;ctrl&gt; c out of it, but any<br>
attempt to unload the sg module and fdomain module results in a total<br>
system lock up.<br>
<p>
Any help with this would be great.  I am really looking forward to<br>
removing windows off of my computer.<br>
<p>
Nathan %-)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">thomas huber: "snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0058.html">Kevin Charter: "Re: Looking for the proper backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">PAILOTT@aol.com: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0063.html">PAILOTT@aol.com: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0064.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0065.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0066.html">Oliver Rauch: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0067.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0068.html">Rod Pike: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0069.html">Mark Brown: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0075.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Reply:</b> <a href="0077.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
