<!-- received="Mon Dec  6 08:53:24 1999 PST" -->
<!-- sent="Mon, 06 Dec 1999 17:38:13 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX Astra 1200S seems to hang on all commands" -->
<!-- id="" -->
<!-- inreplyto="UMAX Astra 1200S seems to hang on all commands" -->
<title>sane-devel: Re: UMAX Astra 1200S seems to hang on all commands</title>
<h1>Re: UMAX Astra 1200S seems to hang on all commands</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 06 Dec 1999 17:38:13 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#64">[ date ]</a><a href="index.html#64">[ thread ]</a><a href="subject.html#64">[ subject ]</a><a href="author.html#64">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Previous message:</b> <a href="0063.html">PAILOTT@aol.com: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">Nathan Kennedy: "UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Nathan Kennedy wrote:<br>
<p>
<i>&gt; I just bought a brand new UMAX Astra 1200S scanner specifically for use</i><br>
<i>&gt; with sane.  However it seems that it hangs on the initialization of the</i><br>
<i>&gt; scanner.  I am using the card on an adaptec 2920 PCI card with a zip</i><br>
<i>&gt; drive in-line with the scanner.</i><br>
<i>&gt;</i><br>
<i>&gt; I have run the scanimage -T with a dll debug level of 128.  Everything</i><br>
<i>&gt; goes fine,  until it reaches the do_calibration command.  Then it just</i><br>
<i>&gt; sits waiting for the scanner.  I can usually &lt;ctrl&gt; c out of it, but any</i><br>
<i>&gt; attempt to unload the sg module and fdomain module results in a total</i><br>
<i>&gt; system lock up.</i><br>
<i>&gt;</i><br>
<i>&gt; Any help with this would be great.  I am really looking forward to</i><br>
<i>&gt; removing windows off of my computer.</i><br>
<p>
Hi Nathan,<br>
<p>
is the scsi bus terminated correct on both ends of the bus,<br>
how long is the scsi bus (all scsi cables together)?<br>
is the driver for your scsi controller up to date?<br>
Is disconnect reconnect disabled?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0065.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Previous message:</b> <a href="0063.html">PAILOTT@aol.com: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<li> <b>Maybe in reply to:</b> <a href="0059.html">Nathan Kennedy: "UMAX Astra 1200S seems to hang on all commands"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0065.html">Nathan Kennedy: "Re: UMAX Astra 1200S seems to hang on all commands"</a>
<!-- reply="end" -->
</ul>
