<!-- received="Wed Dec  8 19:00:07 1999 PST" -->
<!-- sent="Wed, 08 Dec 1999 18:59:13 -0800" -->
<!-- name="David Paschal" -->
<!-- email="paschal@ns.net" -->
<!-- subject="Re: Volunteer for back end development - excellent info in this msg" -->
<!-- id="199912090259.SAA01122@axel.local" -->
<!-- inreplyto="Volunteer for back end development - excellent info in this msg" -->
<title>sane-devel: Re: Volunteer for back end development - excellent info in this msg</title>
<h1>Re: Volunteer for back end development - excellent info in this msg</h1>
<b>David Paschal</b> (<a href="mailto:paschal@ns.net"><i>paschal@ns.net</i></a>)<br>
<i>Wed, 08 Dec 1999 18:59:13 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#81">[ date ]</a><a href="index.html#81">[ thread ]</a><a href="subject.html#81">[ subject ]</a><a href="author.html#81">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Kevin Charter: "Re: snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0080.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Maybe in reply to:</b> <a href="0079.html">David E. Nelson: "Volunteer for back end development - excellent info in this msg"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0083.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Reply:</b> <a href="0083.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;    I am one of the designers of the chip that is at the heart of the HP</i><br>
<i>&gt; 4200c and would like to mention a few things about it here.  As mentioned,</i><br>
<i>&gt; this scanner does not use SCL.  Instead, it uses its own, custom,</i><br>
<i>&gt; protocall defined by the chip it is built around, the LM9830.  This is the</i><br>
<i>&gt; first Merlin chip from National Semiconductor.  We used a custom interface</i><br>
<i>&gt; because SCL would have required more expensive parts.  We just released</i><br>
<i>&gt; the LM9831, and will soon release the LM9832, which all both use an</i><br>
<i>&gt; interface very similar to the LM9830.</i><br>
<p>
Are these ASICs by any chance also used by the HP ScanJet 3300C and friends?<br>
<p>
David<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0082.html">Kevin Charter: "Re: snapscan300-warum nicht?"</a>
<li> <b>Previous message:</b> <a href="0080.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Maybe in reply to:</b> <a href="0079.html">David E. Nelson: "Volunteer for back end development - excellent info in this msg"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0083.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<li> <b>Reply:</b> <a href="0083.html">Mathew sienko x7439: "Re: Volunteer for back end development - excellent info in this msg"</a>
<!-- reply="end" -->
</ul>
