<!-- received="Sat Dec 11 22:27:07 1999 PST" -->
<!-- sent="Sun, 12 Dec 1999 14:32:16 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: [patch] support for Ricoh IS50" -->
<!-- id="199912120632.OAA05394@minerva.cc.uit.no" -->
<!-- inreplyto="[patch] support for Ricoh IS50" -->
<title>sane-devel: Re: [patch] support for Ricoh IS50</title>
<h1>Re: [patch] support for Ricoh IS50</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 12 Dec 1999 14:32:16 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Petter Reinholdtsen: "New unstable SANE snapshot (19991212)"</a>
<li> <b>Previous message:</b> <a href="0091.html">Oliver Rauch: "Re: Error compiling SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Dick Streefland: "[patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">Dick Streefland: "Re: [patch] support for Ricoh IS50"</a>
<li> <b>Reply:</b> <a href="0102.html">Dick Streefland: "Re: [patch] support for Ricoh IS50"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Dick Streefland]<br>
<i>&gt; The original author of this driver told me that he is not actively</i><br>
<i>&gt; working on this driver anymore, and he suggested that I post this</i><br>
<i>&gt; patch on this mailing list.</i><br>
<p>
I would feel more comfortable when adding backend patches to CVS if<br>
there existed some maintainer which collected and tested such Ricoh<br>
patches.  Would you be willing to maintain the Ricoh backend.  If you<br>
and the old maintainer could reach an agreement on this, it would be<br>
really nice.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Petter Reinholdtsen: "New unstable SANE snapshot (19991212)"</a>
<li> <b>Previous message:</b> <a href="0091.html">Oliver Rauch: "Re: Error compiling SANE"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Dick Streefland: "[patch] support for Ricoh IS50"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">Dick Streefland: "Re: [patch] support for Ricoh IS50"</a>
<li> <b>Reply:</b> <a href="0102.html">Dick Streefland: "Re: [patch] support for Ricoh IS50"</a>
<!-- reply="end" -->
</ul>
