<!-- received="Sun Dec 12 07:18:26 1999 PST" -->
<!-- sent="Sun, 12 Dec 1999 16:23:49 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Microtek X6 and TMA" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.05.9912092150330.503-100000@ppanter.localdom" -->
<title>sane-devel: Re: Microtek X6 and TMA</title>
<h1>Re: Microtek X6 and TMA</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sun, 12 Dec 1999 16:23:49 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Petter Reinholdtsen: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Previous message:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, Dec 09, 1999 at 09:51:25PM +0100, Joachim Heidemeier wrote:<br>
<i>&gt; I still didn't get my Scanmaker X6 working with transparent media adapter </i><br>
<i>&gt; under sane (windoze / TWAIN works ok, as well as normal flatbed-scanning under </i><br>
<i>&gt; sane). I'm using the microtek2 backend (version 2.08) under linux (suse 6.0, </i><br>
<i>&gt; kernel 2.2.10, 128M RAM).</i><br>
<p>
I think you mean 0.8.<br>
<p>
<i>&gt; In the first scan attempt the scanner works and delivers date, but the result </i><br>
<i>&gt; is random noise. The next scan-attempt fails during initialisation with I/O </i><br>
<i>&gt; error. A third attempt blocks the whole system. This block can be removed by </i><br>
<i>&gt; switching the scanner off.</i><br>
<i>&gt; Any ideas or hints ?	 </i><br>
<p>
Unfortunately not. The TMA option for this model has been reported to<br>
work by some users, but there is at least one user who is having the<br>
same problem.<br>
<p>
scan looks fine. Especially, because it is a grayscale scan the backend<br>
simply copies the data that it receives from the device into the frontend<br>
buffer (as it does in flatbed mode). The number of pixels per line and<br>
bytes per line are as expected as well as the total number of bytes.<br>
<p>
The error in the second scan means 'Media not available', according<br>
to the documentation, so I suppose the contact to the TMA gets lost for<br>
some reason. I think the last command that is issued is received by the<br>
the scanner and actually starts a scan. That is why the device is busy<br>
at some point during the third attempt. The most important question,<br>
however, is why the image looks pixelized.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">Petter Reinholdtsen: "Re: New unstable SANE snapshot (19991212)"</a>
<li> <b>Previous message:</b> <a href="0094.html">Douglas Gilbert: "Re: New unstable SANE snapshot (19991212)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
