<!-- received="Wed Dec 15 14:57:26 1999 PST" -->
<!-- sent="Wed, 15 Dec 1999 16:57:05 -0600 (CST)" -->
<!-- name="Ted Herman" -->
<!-- email="herman@cs.uiowa.edu" -->
<!-- subject="how to limit a preview" -->
<!-- id="199912152257.QAA28651@server.divms.uiowa.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: how to limit a preview</title>
<h1>how to limit a preview</h1>
<b>Ted Herman</b> (<a href="mailto:herman@cs.uiowa.edu"><i>herman@cs.uiowa.edu</i></a>)<br>
<i>Wed, 15 Dec 1999 16:57:05 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#109">[ date ]</a><a href="index.html#109">[ thread ]</a><a href="subject.html#109">[ subject ]</a><a href="author.html#109">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">genkin@canada.com: "Re: recommendations, what scanner to buy"</a>
<li> <b>Previous message:</b> <a href="0108.html">Nathan Kennedy: "Re: recommendations, what scanner to buy"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have installed sane 1.0.1 to access an <br>
HP ScanJet 3c.  In most cases, xscanimage<br>
correctly scans in the color mode, at a <br>
variety of sizes.  But the 'acquire preview'<br>
function fails only at the end of the scan,<br>
failing to reset --- as a result, my system<br>
hangs until I power cycle the scanner.  <br>
<p>
I find similar problems with greyscale and<br>
lineart modes, which also do not terminate<br>
properly.  <br>
<p>
This may simply be a problem with the <br>
scanner hardware.  However, since the color<br>
mode works most times rather well, I could<br>
use this scanner.  But a preview would be <br>
quite helpful.<br>
<p>
My question is:  can I somehow patch the <br>
backend or elsewhere to force the preview<br>
to terminate at a preset size?  <br>
<p>
Suggestions are welcome.<br>
<p>
Ted Herman<br>
<a href="mailto:herman@cs.uiowa.edu">herman@cs.uiowa.edu</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0110.html">genkin@canada.com: "Re: recommendations, what scanner to buy"</a>
<li> <b>Previous message:</b> <a href="0108.html">Nathan Kennedy: "Re: recommendations, what scanner to buy"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
