<!-- received="Sun Dec 26 19:51:37 1999 PST" -->
<!-- sent="Sun, 26 Dec 1999 21:54:13 -0600 (CST)" -->
<!-- name="David Nelson" -->
<!-- email="dnelson@jump.net" -->
<!-- subject="PV8630" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: PV8630</title>
<h1>PV8630</h1>
<b>David Nelson</b> (<a href="mailto:dnelson@jump.net"><i>dnelson@jump.net</i></a>)<br>
<i>Sun, 26 Dec 1999 21:54:13 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#175">[ date ]</a><a href="index.html#175">[ thread ]</a><a href="subject.html#175">[ subject ]</a><a href="author.html#175">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Riku Turkia: "Mustek ScanExpress 12000P"</a>
<li> <b>Previous message:</b> <a href="0174.html">Karl Heinz Kremer: "Update for Epson Backend / Perfection 1200S Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Anybody got any info on this chip?  There is VERY little on www.<br>
<p>
Thanks,<br>
	/\/elson<br>
<pre>
-- 
David /\/elson
<a href="http://www.jump.net/~dnelson">http://www.jump.net/~dnelson</a>
  
  "Management is doing things right; leadership is doing the right things."
                                         -- The 7 Habits Book
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0176.html">Riku Turkia: "Mustek ScanExpress 12000P"</a>
<li> <b>Previous message:</b> <a href="0174.html">Karl Heinz Kremer: "Update for Epson Backend / Perfection 1200S Support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
