<!-- received="Mon Dec 27 00:18:02 1999 PST" -->
<!-- sent="Mon, 27 Dec 1999 10:25:11 +0200" -->
<!-- name="Riku Turkia" -->
<!-- email="riku.turkia@savcor.com" -->
<!-- subject="Mustek ScanExpress 12000P" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanExpress 12000P</title>
<h1>Mustek ScanExpress 12000P</h1>
<b>Riku Turkia</b> (<a href="mailto:riku.turkia@savcor.com"><i>riku.turkia@savcor.com</i></a>)<br>
<i>Mon, 27 Dec 1999 10:25:11 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Paulo Abreu: "can't compile sane 1.00 with pgcc-2.91.66"</a>
<li> <b>Previous message:</b> <a href="0175.html">David Nelson: "PV8630"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Reply:</b> <a href="0186.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Reply:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Reply:</b> <a href="0194.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello everyone<br>
<p>
According to the mailing list there is/was some 12000P-related work in<br>
progress.<br>
<p>
1. What is the status of the project? Is it still active?<br>
<p>
2. If it is active, is there anything I can do? I volunteer myself as a<br>
programmer if that is needed.<br>
<p>
3. Have you contacted Mustek for necessary protocol/hardware/etc.<br>
information?<br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Paulo Abreu: "can't compile sane 1.00 with pgcc-2.91.66"</a>
<li> <b>Previous message:</b> <a href="0175.html">David Nelson: "PV8630"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0186.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Reply:</b> <a href="0186.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Reply:</b> <a href="0190.html">Paulo Abreu: "Re: Mustek ScanExpress 12000P"</a>
<li> <b>Reply:</b> <a href="0194.html">Jochen Eisinger: "Re: Mustek ScanExpress 12000P"</a>
<!-- reply="end" -->
</ul>
