<!-- received="Wed Dec 29 00:32:02 1999 PST" -->
<!-- sent="Wed, 29 Dec 1999 02:36:54 -0600 (CST)" -->
<!-- name="Brad Johnson" -->
<!-- email="foxtrot@autobahn.mb.ca" -->
<!-- subject="IBM IdeaScan" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: IBM IdeaScan</title>
<h1>IBM IdeaScan</h1>
<b>Brad Johnson</b> (<a href="mailto:foxtrot@autobahn.mb.ca"><i>foxtrot@autobahn.mb.ca</i></a>)<br>
<i>Wed, 29 Dec 1999 02:36:54 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Harald Finster: "Re: microtek X6 advance and TMA"</a>
<li> <b>Previous message:</b> <a href="0191.html">Jeff DeFouw: "Mustek 600 III EP Plus SANE backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<li> <b>Reply:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
	I'm new to this list so sorry if these questions have already been<br>
answered... but is there any support available (or in the works) for the IBM<br>
IdeaScan? It's a flatbed, parallel scanner (I'd give more information, but<br>
I'm not quite sure where the box went...). I was looking into Sane, and I<br>
can't seem to find any information on non-SCSI scanners at all. Are parallel<br>
scanners even supported? (Is there any way I can help with this? I'm not much<br>
of a coder, but I can try)<br>
								--Brad<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Harald Finster: "Re: microtek X6 advance and TMA"</a>
<li> <b>Previous message:</b> <a href="0191.html">Jeff DeFouw: "Mustek 600 III EP Plus SANE backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<li> <b>Reply:</b> <a href="0209.html">Brad Johnson: "Re: IBM IdeaScan"</a>
<!-- reply="end" -->
</ul>
