<!-- received="Thu Dec 30 20:26:22 1999 PST" -->
<!-- sent="Thu, 30 Dec 1999 23:40:36 -0500 (EST)" -->
<!-- name="Hermang" -->
<!-- email="herman_blues@geocities.com" -->
<!-- subject="parallel port reverse engneering?" -->
<!-- id="" -->
<!-- inreplyto="199912292054.MAA04066@mail2.bigmailbox.com" -->
<title>sane-devel: parallel port reverse engneering?</title>
<h1>parallel port reverse engneering?</h1>
<b>Hermang</b> (<a href="mailto:herman_blues@geocities.com"><i>herman_blues@geocities.com</i></a>)<br>
<i>Thu, 30 Dec 1999 23:40:36 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#207">[ date ]</a><a href="index.html#207">[ thread ]</a><a href="subject.html#207">[ subject ]</a><a href="author.html#207">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Janine Roe: "poor scanning quality"</a>
<li> <b>Previous message:</b> <a href="0206.html">Paulo Abreu: "RE: IBM IdeaScan"</a>
<li> <b>In reply to:</b> <a href="0195.html">Adrian Perez Jorge: "Re: Volunteer for back end development - excellent info in this msg"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  This message is in MIME format.  The first part should be readable text,<br>
  while the remaining parts are likely unreadable without MIME-aware tools.<br>
  Send mail to <a href="mailto:mime@docserver.cac.washington.edu">mime@docserver.cac.washington.edu</a> for more info.<br>
<p>
---1463811584-1227244990-946613526=:212<br>
Content-Type: TEXT/PLAIN; CHARSET=US-ASCII<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.4.10.9912302336001.195@pentium.blackstar.com">Pine.LNX.4.10.9912302336001.195@pentium.blackstar.com</a>&gt;<br>
<p>
Hello!<br>
I found some information on a project for making a driver for the <br>
portable mp3 player made by Diamond (Rio PMP300) which uses a parallel<br>
port for transferring music files. The interesting fact is that it is a <br>
proprietary protocol interface so the programmers had to guess <br>
the protocol in a unusual way.<br>
I am including some of the documentation of the Rio driver for Linux.<br>
I wonder if the Sane developers are using a similar approach when they<br>
are facing a proprietary parallel port Scanner and the manufacturers<br>
refuse to disclose information about the protocol. :-)<br>
<p>
bye,<br>
<p>
--------------------------------------------------------------------------<br>
Hermang Mansilla M.<br>
<a href="mailto:hh_mm@yahoo.com">hh_mm@yahoo.com</a><br>
<a href="mailto:herman_blues@geocities.com">herman_blues@geocities.com</a><br>
<a href="mailto:hmansilla@usa.net">hmansilla@usa.net</a><br>
"Linux, the choice of a GNU Generation ... <br>
because life is too short to compute on anything else."<br>
"May the Open Source be with you ..."<br>
---------------------------------------------------------------------------<br>
<p>
<p>
---1463811584-1227244990-946613526=:212<br>
Content-Type: TEXT/PLAIN; CHARSET=US-ASCII; NAME="rio.txt"<br>
Content-Transfer-Encoding: BASE64<br>
Content-ID: &lt;<a href="mailto:Pine.LNX.4.10.9912302312060.212@pentium.blackstar.com">Pine.LNX.4.10.9912302312060.212@pentium.blackstar.com</a>&gt;<br>
Content-Description: <br>
Content-Disposition: ATTACHMENT; FILENAME="rio.txt"<br>
<p>
DQpEaWFtb25kIFJpbyBQcm90b2NvbCBJbnZlc3RpZ2F0aW9uIC0gVGhlIFNu<br>
b3dibGluZCBBbGxpYW5jZSAoYykgMTk5OQ0KLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0NCiAgICAgICAgTGFzdCB1cGRhdGVkIDExLzAzLzk5DQogICAgICAg<br>
IEF1dGhvciBqYWJAY2l4LmNvLnVrDQoNCkNvbnRlbnRzDQotLS0tLS0tLQ0K<br>
ICAgICAgICAxLiBIYXJkd2FyZSB1c2VkIHRvIGRldGVybWluZSBwcm90b2Nv<br>
bA0KICAgICAgICAyLiBTb2Z0d2FyZSB0b29scyB1c2VkIHRvIGRldGVybWlu<br>
ZSBwcm90b2NvbA0KICAgICAgICAzLiBQQyBwYXJhbGxlbCBwb3J0IGFjY2Vz<br>
cw0KICAgICAgICA0LiBEaXJlY3RvcnkgYmxvY2sgbGF5b3V0DQogICAgICAg<br>
IDUuIFRyYW5zbWl0dGluZyBhbmQgcmVjZWl2aW5nIGRhdGEgdG8gdGhlIGRl<br>
dmljZQ0KICAgICAgICA2LiBCbG9jayB1c2FnZSB0YWJsZSBhbmQgRkFUDQoN<br>
Cg0KMS4gSGFyZHdhcmUgdXNlZCB0byBkZXRlcm1pbmUgcHJvdG9jb2wNCi0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0NCiAgICAgICAg<br>
VGhlIGZvbGxvd2luZyBoYXJkd2FyZSB3YXMgdXNlZCBpbiBkZXRlcm1pbmlu<br>
ZyB0aGUgcHJvdG9jb2wNCiAgICAgICAgdXNlZCBiZXR3ZWVuIGEgUEMgYW5k<br>
IHRoZSBEaWFtb25kIFJpby4uLg0KDQogICAgICAgICAgICAgICAgSFAgVmVj<br>
dHJhWEEgUDIzMyAzMk0gcnVubmluZyBNUyBXaW45OA0KICAgICAgICAgICAg<br>
ICAgIERpYW1vbmQgUmlvIFBNUDMwMA0KDQoyLiBTb2Z0d2FyZSB0b29scyB1<br>
c2VkIHRvIGRldGVybWluZSBwcm90b2NvbA0KLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0NCiAgICAgICAgQSBXaW45OCBW<br>
eEQgd2FzIHB1dCB0b2dldGhlciB3aGljaCBpbnRlcmNlcHRlZCBhbmQgbG9n<br>
Z2VkDQogICAgICAgIGFsbCBJL08gdHJhZmZpYyBiZXR3ZWVuIHRoZSBQQyAo<br>
cnVubmluZyB0aGUgJ1JpbyBNYW5hZ2VyJw0KICAgICAgICBzb2Z0d2FyZSkg<br>
YW5kIHRoZSBSaW8uDQogICAgICAgIFRoaXMgZGF0YSB3YXMgdGhlbiB1c2Vk<br>
IHRvIGRldGVybWluZSB0aGUgcHJvdG9jb2wgdXNlZCB0bw0KICAgICAgICB1<br>
cGxvYWQgYW5kIGRvd25sb2FkIGRhdGEgdG8gdGhlIGRldmljZS4NCg0KMy4g<br>
UEMgcGFyYWxsZWwgcG9ydCBhY2Nlc3MNCi0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0tDQogICAgICAgIFRoZSBmb2xsb3dpbmcgcG9ydHMgYXJlIHVzZWQg<br>
KHVzaW5nIHRoZSBkZWZhdWx0IDB4Mzc4KS4NCg0KICAgICAgICAgICAgICAg<br>
IDB4Mzc4ICAgUGFyYWxsZWwgUG9ydCBEYXRhDQogICAgICAgICAgICAgICAg<br>
MHgzNzkgICBQYXJhbGxlbCBQb3J0IFN0YXR1cw0KICAgICAgICAgICAgICAg<br>
IDB4MzdhICAgUGFyYWxsZWwgUG9ydCBDb250cm9sDQoNCiAgICAgICAgRGF0<br>
YSB0byBiZSBzZW50IGZyb20gdGhlIGhvc3QgdG8gdGhlIFJpbyBpcyB3cml0<br>
dGVuIHRvIHRoaXMgcG9ydA0KICAgICAgICBhcyBub3JtYWwgOCBiaXQgZGF0<br>
YS4gVGhlIGhvc3QgdGhlbiB3cml0ZXMgYSB2YWx1ZSB0byB0aGUNCiAgICAg<br>
ICAgY29udHJvbCBwb3J0LiBUaGlzIHZhbHVlIGlzIG1hZGUgdXAgdXNpbmcg<br>
YSBhbHRlcm5hdGluZyBiaXQgMw0KICAgICAgICAodXNlZCBhcyBhIGRhdGEg<br>
bGF0Y2gpIHdoaWNoIGluZm9ybXMgdGhlIFJpbyB0aGF0IGRhdGEgaXMgcHJl<br>
c2VudA0KICAgICAgICBpbiB0aGUgZGF0YSBwb3J0IGFuZCBpcyB3YWl0aW5n<br>
IHRvIGJlIHJldHJpZXZlZC4NCg0KICAgICAgICBEYXRhIHRvIGJlIHNlbnQg<br>
ZnJvbSB0aGUgUmlvIHRvIHRoZSBob3N0IGlzIGRvbmUgdXNpbmcgdGhlIHN0<br>
YXR1cw0KICAgICAgICBwb3J0LiBPbmx5IHRoZSB0b3AgNCBiaXRzIGFyZSB1<br>
c2VkIHNvIGEgc2luZ2xlIGJ5dGUgc2VudCB0byB0aGUNCiAgICAgICAgaG9z<br>
dCBpcyBzcGxpdCB1cCBpbnRvIDIgbmliYmxlcyB3aGljaCBhcmUgc2VudCB3<br>
aXRoIHRoZWlyIGJpdHMNCiAgICAgICAgcmV2ZXJzZWQuIEFsc28gYmVjYXVz<br>
ZSBiaXQgNyBvZiB0aGUgc3RhdHVzIHBvcnQgaXMgYW4gaW52ZXJzaW9uDQog<br>
ICAgICAgIG9mIHRoZSArYnVzeSBsaW5lIChwaW4gMTEpIHRoaXMgYml0IG5l<br>
ZWRzIHRvIGJlIGludmVydGVkLg0KICAgICAgICBCZWxvdyBpcyBhIGV4YW1w<br>
bGUgb2YgaG93IHRoZSBob3N0IHdvdWxkIHJlYWQgdGhlIG5pYmJsZSBwYWly<br>
IGZyb20NCiAgICAgICAgdGhlIFJpbyB0byBtYWtlIHVwIGEgc2luZ2xlIGRh<br>
dGEgYnl0ZS4NCg0KICAgICAgICAgICAgICAgIFVDSEFSIHVjSW4sIHVjUng7<br>
DQoNCiAgICAgICAgICAgICAgICAvLyBnZXQgZmlyc3QgbmliYmxlDQogICAg<br>
ICAgICAgICAgICAgdWNSeCA9IElOUE9SVCggUGFyYWxsZWxQb3J0U3RhdHVz<br>
ICk7DQogICAgICAgICAgICAgICAgdWNJbiA9ICgodWNSeCAmIDB4ZjApIF4g<br>
MHg4MCkgPj4gNDsNCiAgICAgICAgICAgICAgICAvLyBnZXQgc2Vjb25kIG5p<br>
YmJsZQ0KICAgICAgICAgICAgICAgIHVjUnggPSBJTlBPUlQoIFBhcmFsbGVs<br>
UG9ydFN0YXR1cyApOw0KICAgICAgICAgICAgICAgIHVjSW4gfD0gKHVjUngg<br>
JiAweGYwKSBeIDB4ODA7DQogICAgICAgICAgICAgICAgLy8gcmV2ZXJzZSBh<br>
bGwgYml0cyBpbiBieXRlDQogICAgICAgICAgICAgICAgdWNJbiA9IEJpdFJl<br>
dmVyc2UoIHVjSW4gKTsNCg0KICAgICAgICBUaGUgQ29udHJvbCBwb3J0IGlz<br>
IHVzZWQgdG8gbGF0Y2ggZGF0YSBwcmVzZW50IGluIHRoZSBkYXRhIHBvcnQN<br>
CiAgICAgICAgYW5kIHRvIHNlbmQgY29tbWFuZHMgdG8gdGhlIFJpby4NCg0K<br>
NC4gRGlyZWN0b3J5IGJsb2NrIGxheW91dA0KLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0tLQ0KICAgICAgICBUaGUgZmlyc3QgMzJLIG9uIHRoZSBSaW8gaXMg<br>
ZGVkaWNhdGVkIHRvIHRoZSBkaXJlY3RvcnkgYmxvY2sNCiAgICAgICAgd2hp<br>
Y2ggY29udGFpbnMgdGhlIGRpcmVjdG9yeSBoZWFkZXIsIGRpcmVjdG9yeSBl<br>
bnRyaWVzIGFuZCB0aGUNCiAgICAgICAgZmlsZSBhbGxvY2F0aW9uIHRhYmxl<br>
IChGQVQpIHVzZWQgYnkgaGUgUmlvLg0KICAgICAgICBBbW1lbmRpbmcgdGhl<br>
IGRpcmVjdG9yeSBibG9jayBpcyBhbGwgdGhhdCBpcyByZXF1aXJlZCB0byBk<br>
ZWxldGUgYQ0KICAgICAgICBmaWxlLCByZW5hbWUgYSBmaWxlIG9yIGNoYW5n<br>
ZSB0aGUgcGxheWxpc3Qgb3JkZXIuDQoNCiAgICAgICAgVGhlIGxheW91dCBv<br>
ZiB0aGUgMzJLIGRpcmVjdG9yeSBibG9jayBpcyBhcyBmb2xsb3dzLi4uDQoN<br>
CiAgICAgICAgICAgICAgICBEZXNjcmlwdGlvbiAgICAgICAgICAgICAgICAg<br>
ICAgIE9mZnNldCAgU2l6ZQ0KICAgICAgICAgICAgICAgIC0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tDQogICAgICAg<br>
ICAgICAgICAgZGlyZWN0b3J5IGhlYWRlciAgICAgICAgICAgICAgICAwICAg<br>
ICAgIDUxMg0KICAgICAgICAgICAgICAgIGRpcmVjdG9yeSBlbnRyaWVzICg2<br>
MCoxMjgpICAgICAgNTEyICAgICA3NjgwDQogICAgICAgICAgICAgICAgMzJL<br>
IGJsb2NrIHVzZWQgZmxhZ3MgICAgICAgICAgICA4MTkyICAgIDgxOTINCiAg<br>
ICAgICAgICAgICAgICBGQVQgKDgxOTIqc2l6ZW9mKHNob3J0KSkgICAgICAg<br>
IDE2Mzg0ICAgMTYzODQNCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICAgLS0tLS0NCiAgICAgICAgICAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHRvdGFsICAg<br>
MzI3NjgNCg0KICAgICAgICAgICAgICAgIERpcmVjdG9yeSBIZWFkZXINCiAg<br>
ICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0tLS0tDQogICAgICAgICAgICAg<br>
ICAgVGhlIENEaXJIZWFkZXIgY2xhc3MgcmVwcmVzZW50cyB0aGUgZGlyZWN0<br>
b3J5IGhlYWRlci4NCg0KICAgICAgICAgICAgICAgIEEgZGVzY3JpcHRpb24g<br>
b2YgdGhlIG1lbWJlcnMgYXJlIGFzIGZvbGxvd3MuLi4NCg0KICAgICAgICAg<br>
ICAgICAgICAgICAgICAgVVNIT1JUIG1fdXNDb3VudEVudHJ5Ow0KICAgICAg<br>
ICAgICAgICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAg<br>
ICAgICAgICAgICAgICAgICAgICAgTnVtYmVyIG9mIGZpbGVzIGN1cnJlbnRs<br>
eSBvbiB0aGUgZGV2aWNlLg0KDQogICAgICAgICAgICAgICAgICAgICAgICBV<br>
U0hPUlQgbV91c0NvdW50MzJLQmxvY2tBdmFpbGFibGU7DQogICAgICAgICAg<br>
ICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tDQogICAgICAgICAgICAgICAgICAgICAgICBOdW1iZXIgb2YgMzJLIGJs<br>
b2NrcyBhdmFpbGFibGUgb24gZmxhc2ggcmFtLg0KDQogICAgICAgICAgICAg<br>
ICAgICAgICAgICBVU0hPUlQgbV91c0NvdW50MzJLQmxvY2tVc2VkOw0KICAg<br>
ICAgICAgICAgICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0NCiAgICAgICAgICAgICAgICAgICAgICAgIE51bWJlciBvZiAzMksg<br>
YmxvY2tzIGN1cnJlbnRseSB1c2VkIGJ5IGRpcmVjdG9yeQ0KICAgICAgICAg<br>
ICAgICAgICAgICAgICAgYmxvY2sgYW5kIGZpbGVzIG9yIHdoaWNoIGFyZSBt<br>
YXJrZWQgYXMgYmFkLg0KDQogICAgICAgICAgICAgICAgICAgICAgICBVU0hP<br>
UlQgbV91c0NvdW50MzJLQmxvY2tSZW1haW5pbmc7DQogICAgICAgICAgICAg<br>
ICAgICAgICAgICAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
DQogICAgICAgICAgICAgICAgICAgICAgICBOdW1iZXIgb2YgMzJLIGJsb2Nr<br>
cyBub3QgaXMgdXNlIG9yIG1hcmtlZCBhcyBiYWQuDQoNCiAgICAgICAgICAg<br>
ICAgICAgICAgICAgIFVTSE9SVCBtX3VzQ291bnQzMktCbG9ja0JhZDsNCiAg<br>
ICAgICAgICAgICAgICAgICAgICAgIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0NCiAgICAgICAgICAgICAgICAgICAgICAgIE51bWJlciAzMksgYmxv<br>
Y2tzIG1hcmtlZCBhcyBiYWQuDQoNCiAgICAgICAgICAgICAgICAgICAgICAg<br>
IGxvbmcgbV9sVGltZUxhc3RVcGRhdGU7DQogICAgICAgICAgICAgICAgICAg<br>
ICAgICAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAgICAgICAgICAgICAg<br>
ICAgICAgICAgVGhlIFJpbyBNYW5hZ2VyIHNvZnR3YXJlIHVwZGF0ZXMgdGhp<br>
cyB3aXRoIHRoZQ0KICAgICAgICAgICAgICAgICAgICAgICAgY3VycmVudCB0<br>
aW1lICggdGFrZW4gZnJvbSB0aW1lKE5VTEwpICkgd2hlbmV2ZXINCiAgICAg<br>
ICAgICAgICAgICAgICAgICAgIGRhdGEgaGFzIGJlZW4gdXBsb2FkZWQgdG8g<br>
dGhlIGRldmljZS4NCg0KICAgICAgICAgICAgICAgICAgICAgICAgVVNIT1JU<br>
IG1fdXNDaGVja3N1bTE7DQogICAgICAgICAgICAgICAgICAgICAgICAtLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0NCiAgICAgICAgICAgICAgICAgICAgICAgIENo<br>
ZWNrc3VtIG9mIHRoZSBkaXJlY3RvcnkgaGVhZGVyIG9ubHkuDQoNCiAgICAg<br>
ICAgICAgICAgICAgICAgICAgIFVTSE9SVCBtX3VzQ2hlY2tzdW0yOw0KICAg<br>
ICAgICAgICAgICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0tLS0tDQog<br>
ICAgICAgICAgICAgICAgICAgICAgICBDaGVja3N1bSBvZiBldmVyeXRoaW5n<br>
IGluIHRoZSBkaXJlY3RvcnkgYmxvY2sgZXhjZXB0DQogICAgICAgICAgICAg<br>
ICAgICAgICAgICB0aGUgZGlyZWN0b3J5IGhlYWRlci4NCiAgICAgICAgICAg<br>
ICAgICAgICAgICAgIE5vdGUgdGhhdCBiZWNhdXNlIG1fdXNDaGVja3N1bTIg<br>
aXMgcGFydCBvZiB0aGUNCiAgICAgICAgICAgICAgICAgICAgICAgIGRpcmVj<br>
dG9yeSBoZWFkZXIgaXQgbXVzdCBiZSBjYWxjdWxhdGVkIGZpcnN0IGJlZm9y<br>
ZQ0KICAgICAgICAgICAgICAgICAgICAgICAgY2FsY3VsYXRpbmcgbV91c0No<br>
ZWNrc3VtMS4NCg0KICAgICAgICAgICAgICAgICAgICAgICAgY2hhciBtX2Fj<br>
Tm90VXNlZDJbIDIgXTsNCiAgICAgICAgICAgICAgICAgICAgICAgIC0tLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tDQogICAgICAgICAgICAgICAgICAgICAgICBV<br>
bmtub3duLiBSaW8gTWFuYWdlciBzb2Z0d2FyZSBzZXRzIHRoZXNlIHRvIDB4<br>
ZmYuDQogICAgICAgICAgICAgICAgICAgICAgICBUaGUgUmlvIHV0aWxpdHkg<br>
b24gdGhlIG90aGVyaGFuZCBzZXRzIHRoZW0gdG8gMHgwMC4NCg0KICAgICAg<br>
ICAgICAgICAgICAgICAgICAgVVNIT1JUIG1fdXNWZXJzaW9uOw0KICAgICAg<br>
ICAgICAgICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAgICAg<br>
ICAgICAgICAgICAgICAgICAgUmlvIG1hbmFnZXIgdjEuMDAgZG9lc24ndCB1<br>
c2UgdGhpcyB2YWx1ZS4NCiAgICAgICAgICAgICAgICAgICAgICAgIFJpbyBt<br>
YW5hZ2VyIHYxLjAxIGV4cGVjdHMgdGhpcyB2YWx1ZSB0byBiZSAweDAxMDAN<br>
CiAgICAgICAgICAgICAgICAgICAgICAgIG90aGVyd2lzZSBpdCB0aGluaydz<br>
IGEgZWFybGllciB2ZXJzaW9uIGhhcyBiZWVuDQogICAgICAgICAgICAgICAg<br>
ICAgICAgICB1c2VkIHRvIHVwZGF0ZSB0aGUgZGV2aWNlIGFuZCB3aWxsIHRo<br>
ZXJlZm9yZQ0KICAgICAgICAgICAgICAgICAgICAgICAgcmVmb3JtYXQgdGhl<br>
IGRldmljZS4NCiAgICAgICAgICAgICAgICAgICAgICAgIFRoZSBSaW8gdXRp<br>
bGl0eSBzZXRzIHRoaXMgdmFsdWUgdG8gMHgwMTAwIHNvIGJvdGgNCiAgICAg<br>
ICAgICAgICAgICAgICAgICAgIHYxLjAwIGFuZCB2MS4wMSBvZiB0aGUgUmlv<br>
IG1hbmFnZXIgc29mdHdhcmUgd2lsbA0KICAgICAgICAgICAgICAgICAgICAg<br>
ICAgcmVjb2duaXplIHRoZSBkaXJlY3RvcnkuDQoNCiAgICAgICAgICAgICAg<br>
ICAgICAgICAgIGNoYXIgbV9hY05vdFVzZWQzWyA1MTIgLSAyMiBdOw0KICAg<br>
ICAgICAgICAgICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLS0tDQogICAgICAgICAgICAgICAgICAgICAgICBBbHdheXMgc2VlbXMg<br>
dG8gYmUgMC4NCg0KICAgICAgICAgICAgICAgIERpcmVjdG9yeSBFbnRyaWVz<br>
DQogICAgICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0NCiAgICAgICAg<br>
ICAgICAgICBUaGUgQ0RpckVudHJ5IGNsYXNzIHJlcHJlc2VudHMgYSBkaXJl<br>
Y3RvcnkgZW50cnkuDQogICAgICAgICAgICAgICAgRWFjaCBkaXJlY3Rvcnkg<br>
ZW50cnkgaXMgMTI4IGJ5dGVzIGxvbmcuDQogICAgICAgICAgICAgICAgVGhl<br>
IG1heGltdW0gbnVtYmVyIG9mIGRpcmVjdG9yeSBlbnRyaWVzIGFuZCB0aGVy<br>
ZWZvcmUNCiAgICAgICAgICAgICAgICBmaWxlcyB3aGljaCBjYW4gYmUgdXBs<br>
b2FkZWQgdG8gdGhlIGRldmljZSBpcyA2MC4NCg0KICAgICAgICAgICAgICAg<br>
IEEgZGVzY3JpcHRpb24gb2YgdGhlIG1lbWJlcnMgYXJlIGFzIGZvbGxvd3Mu<br>
Li4NCg0KICAgICAgICAgICAgICAgICAgICAgICAgVVNIT1JUIG1fdXNQb3Mz<br>
MktCbG9jazsNCiAgICAgICAgICAgICAgICAgICAgICAgIC0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tLS0tDQogICAgICAgICAgICAgICAgICAgICAgICBQb3NpdGlv<br>
biBvZiB0aGUgZmlyc3QgMzJLIHdoZXJlIGRhdGEgZm9yIHRoaXMgZmlsZQ0K<br>
ICAgICAgICAgICAgICAgICAgICAgICAgaXMgc3RvcmVkLg0KDQogICAgICAg<br>
ICAgICAgICAgICAgICAgICBVU0hPUlQgbV91c0NvdW50MzJLQmxvY2s7DQog<br>
ICAgICAgICAgICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tDQogICAgICAgICAgICAgICAgICAgICAgICBOdW1iZXIgb2YgMzJLIGJs<br>
b2NrcyB0YWtlbiB1cCBieSB0aGUgZmlsZS4NCg0KICAgICAgICAgICAgICAg<br>
ICAgICAgICAgVVNIT1JUIG1fdXNTaXplMzJLTW9kOw0KICAgICAgICAgICAg<br>
ICAgICAgICAgICAgLS0tLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAgICAgICAg<br>
ICAgICAgICAgICAgICAgTnVtYmVyIG9mIGJ5dGVzIGluIHRoZSBsYXN0IDMy<br>
SyBibG9jay4gSWYgdGhlIGZpbGVzaXplDQogICAgICAgICAgICAgICAgICAg<br>
ICAgICBpcyBkaXZpc2libGUgYnkgMzJLIHRoZW4gdGhpcyB2YWx1ZSBpcyAw<br>
Lg0KDQogICAgICAgICAgICAgICAgICAgICAgICBsb25nIG1fbFNpemU7DQog<br>
ICAgICAgICAgICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0tDQogICAgICAg<br>
ICAgICAgICAgICAgICAgICBGaWxlIHNpemUuDQogICAgICAgICAgICAgICAg<br>
ICAgICAgICBUaGUgZHVyYXRpb24gb2YgYSB0cmFjayBhcyBkaXNwbGF5ZWQg<br>
YnkgdGhlIGRldmljZSBpcw0KICAgICAgICAgICAgICAgICAgICAgICAgY2Fs<br>
Y3VsYXRlZCB1c2luZyB0aGUgZmlsZXNpemUgYW5kIHRoZSBwcm9wZXJ0aWVz<br>
Lg0KDQogICAgICAgICAgICAgICAgICAgICAgICBjaGFyIG1fYWNOb3RVc2Vk<br>
WyA1IF07DQogICAgICAgICAgICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tDQogICAgICAgICAgICAgICAgICAgICAgICBVbmtub3duLg0K<br>
DQogICAgICAgICAgICAgICAgICAgICAgICBsb25nIG1fbFRpbWVVcGxvYWQ7<br>
DQogICAgICAgICAgICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0tLS0tLS0t<br>
DQogICAgICAgICAgICAgICAgICAgICAgICBVcGxvYWQgdGltZSAoIHRha2Vu<br>
IGZyb20gdGltZShOVUxMKSApLg0KDQogICAgICAgICAgICAgICAgICAgICAg<br>
ICBjaGFyIG1fYXVjUHJvcGVydHlbIDQgXTsNCiAgICAgICAgICAgICAgICAg<br>
ICAgICAgIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAgICAgICAgICAg<br>
ICAgICAgICAgICAgVGhlIGZpbGVzIGF1ZGlvIHByb3BlcnR5IChiaXRzIHBl<br>
ciBzYW1wbGUsDQogICAgICAgICAgICAgICAgICAgICAgICBzYW1wbGUgcmF0<br>
ZS4uLikgdGFrZW4gZnJvbSB0aGUgZmlyc3QgZm91ciBieXRlcyBvZg0KICAg<br>
ICAgICAgICAgICAgICAgICAgICAgdGhlIGF1ZGlvIGZpbGUuDQoNCiAgICAg<br>
ICAgICAgICAgICAgICAgICAgIGNoYXIgbV9hY05vdFVzZWQzWyA1IF07DQog<br>
ICAgICAgICAgICAgICAgICAgICAgICAtLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LQ0KICAgICAgICAgICAgICAgICAgICAgICAgQWx3YXlzIHNlZW1zIHRvIGJl<br>
IGZpbGxlZCB3aXRoIDAuDQoNCiAgICAgICAgICAgICAgICAgICAgICAgIGNo<br>
YXIgbV9zek5hbWVbIDEyOCAtIDI4IF07DQogICAgICAgICAgICAgICAgICAg<br>
ICAgICAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAgICAgICAgICAg<br>
ICAgICAgICAgICAgRmlsZSBuYW1lLg0KDQoNCjUuIFRyYW5zbWl0dGluZyBh<br>
bmQgcmVjZWl2aW5nIGRhdGEgdG8gdGhlIGRldmljZQ0KLS0tLS0tLS0tLS0t<br>
LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tDQogICAgICAg<br>
IEFsdGhvdWdoIHRoZSBkaXJlY3RvcnkgaGVhZGVyIGFuZCBkaXJlY3Rvcnkg<br>
ZW50cmllcyB1c2UgcmVmZXJlbmNlcw0KICAgICAgICB0byAzMksgYmxvY2tz<br>
LCBkYXRhIGlzIHR4J2VkIGFuZCByeCdlZCBpbiA1MTIgKyAxNiBieXRlIGJs<br>
b2Nrcy4NCiAgICAgICAgV2hlbiB1cGxvYWRpbmcgZGF0YSB0aGUgZXh0cmEg<br>
MTYgYnl0ZXMgY29udGFpbnMgaW5mb3JtYXRpb24gYWJvdXQNCiAgICAgICAg<br>
dGhlIGxvY2F0aW9uIG9mIHRoZSBwcmV2aW91cyBhbmQgbmV4dCA1MTIgYnl0<br>
ZSBibG9jay4gSSBhc3N1bWUNCiAgICAgICAgdGhpcyBpbmZvcm1hdGlvbiBp<br>
cyB1c2VkIGJ5IHRoZSBkZXZpY2Ugc28gaXQga25vd3Mgd2hpY2ggNTEyIGJs<br>
b2NrDQogICAgICAgIG9mIGF1ZGlvIHRvIGdvdG8gd2hlbiBzZWVraW5nIGZv<br>
cndhcmRzIG9yIGJhY2t3YXJkcy4NCg0KICAgICAgICBUbyBzZW5kIG9yIHJl<br>
Y2VpdmUgZGF0YSBhIHNlcmllcyBvZiBieXRlcyB3aGljaCBpbmRpY2F0ZQ0K<br>
ICAgICAgICB0aGUgdXBsb2FkL2Rvd25sb2FkIGNvbW1hbmQgYW5kIGEgNTEy<br>
IGJ5dGUgb2Zmc2V0IGlzIHNlbnQNCiAgICAgICAgdG8gdGhlIGRldmljZS4N<br>
CiAgICAgICAgRGF0YSBpcyB0aGVuIHJlY2VpdmVkIG9yIHRyYW5zbWl0dGVk<br>
IHRvIHRoZSBkZXZpY2UuDQogICAgICAgIElmIHNlbmRpbmcgZGF0YSB0aGUg<br>
YWRkaXRpb25hbCAxNiBieXRlcyAoZGVzY3JpYmVkIGFib3ZlKSBtdXN0IGJl<br>
IHNlbnQuDQogICAgICAgIElmIHJlY2VpdmluZyBkYXRhIHRoZSBhZGRpdGlv<br>
bmFsIDE2IGJ5dGVzICh3aGljaCBjYW4gYmUgaWdub3JlZCkgbXVzdA0KICAg<br>
ICAgICBiZSByZWNlaXZlZC4NCg0KICAgICAgICBBbHRob3VnaCB0aGUgUmlv<br>
IG1hbmFnZXIgc29mdHdhcmUgZG9lcyBub3QgYWxsb3cgeW91IHRvIHVwbG9h<br>
ZA0KICAgICAgICBub24tbXAzIGZpbGVzIG9yIHRvIGRvd25sb2FkIGZpbGVz<br>
IGZyb20gdGhlIGRldmljZSBpdCBpcyBwb3NzaWJsZQ0KICAgICAgICB3aXRo<br>
IHRoZSBSaW8gdXRpbGl0eS4NCg0KNi4gQmxvY2sgdXNhZ2UgdGFibGUgYW5k<br>
IEZBVA0KLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLQ0KICAgICAgICBU<br>
aGUgZGlyZWN0b3J5IGJsb2NrIGNvbnRhaW5zIGFuIGFycmF5IG9mIDgxOTIg<br>
Ynl0ZXMgd2hpY2ggaW5kaWNhdGUNCiAgICAgICAgd2hpY2ggMzJLIGJsb2Nr<br>
cyBhcmUgaW4gdXNlIG9yIG1hcmtlZCBhcyBiYWQuDQogICAgICAgIDB4MDAg<br>
SW5kaWNhdGVzIHRoYXQgdGhlIGJsb2NrIGlzIG9rIGFuZCBpbiB1c2UuDQog<br>
ICAgICAgIDB4MGYgSW5kaWNhdGVzIHRoYXQgdGhlIGJsb2NrIGlzIGJhZCBh<br>
bmQgc2hvdWxkIHRoZXJlZm9yZSBub3QgYmUgdXNlZC4NCiAgICAgICAgMHhm<br>
ZiBJbmRpY2F0ZXMgdGhhdCB0aGUgYmxvY2sgaXMgb2sgYW5kIGlzIGZyZWUu<br>
DQoNCiAgICAgICAgQWxzbyBpbiB0aGUgZGlyZWN0b3J5IGJsb2NrIHRoZXJl<br>
IGlzIGFuIGFycmF5IG9mIDgxOTIgMTYtYml0IHZhbHVlcw0KICAgICAgICB3<br>
aGljaCBhcmUgdXNlZCB0byBkZXRlcm1pbmUgdGhlIG5leHQgMzJLIGF1ZGlv<br>
IGJsb2NrIGluIHVzZS4NCiAgICAgICAgQSAwIHNpZ25pZmllcyB0aGF0IGl0<br>
IGlzIHRoZSBsYXN0IDMySyBibG9jay4NCg0KICAgICAgICBJbnZlc3RpZ2F0<br>
aW9uIHNob3dzIHRoYXQgdGhlIGFib3ZlIHR3byB0YWJsZXMgYXJlIG5vdCB1<br>
c2VkIGJ5IHRoZQ0KICAgICAgICBkZXZpY2UgZm9yIHBsYXliYWNrIGFzIGlu<br>
Zm9ybWF0aW9uIGFib3V0IHRoZSBuZXh0IGF1ZGlvIGJsb2NrIHRvDQogICAg<br>
ICAgIHBsYXkgaXMgc2VudCBpbiB0aGUgZXh0cmEgMTYgYnl0ZXMgZm9sbG93<br>
aW5nIGEgNTEyIGJ5dGUgdXBsb2FkDQogICAgICAgIChzZWUgYWJvdmUpLiBU<br>
aGlzIG1lYW5zIHRoYXQgdGhlIGFib3ZlIHRhYmxlcyBhcmUgdXNlZCBhcyBh<br>
IG1lYW5zDQogICAgICAgIG9mIGJsb2NrIG1hbmFnZW1lbnQgYnkgdGhlIGhv<br>
c3Qgc29mdHdhcmUgb25seSBhbmQgY2FuIHRoZXJlZm9yZQ0KICAgICAgICBi<br>
ZSBvcmdhbml6ZWQgZGlmZmVyZW50bHkgYW5kL29yIHVzZWQgdG8gc3RvcmUg<br>
b3RoZXIgaW5mb3JtYXRpb24uDQoNCg0KDQoNCg0KDQoNCg==<br>
---1463811584-1227244990-946613526=:212--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Janine Roe: "poor scanning quality"</a>
<li> <b>Previous message:</b> <a href="0206.html">Paulo Abreu: "RE: IBM IdeaScan"</a>
<li> <b>In reply to:</b> <a href="0195.html">Adrian Perez Jorge: "Re: Volunteer for back end development - excellent info in this msg"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
