<!-- received="Thu Dec 30 23:05:24 1999 PST" -->
<!-- sent="Fri, 31 Dec 1999 01:11:35 -0600 (CST)" -->
<!-- name="Brad Johnson" -->
<!-- email="foxtrot@autobahn.mb.ca" -->
<!-- subject="Re: IBM IdeaScan" -->
<!-- id="" -->
<!-- inreplyto="IBM IdeaScan" -->
<title>sane-devel: Re: IBM IdeaScan</title>
<h1>Re: IBM IdeaScan</h1>
<b>Brad Johnson</b> (<a href="mailto:foxtrot@autobahn.mb.ca"><i>foxtrot@autobahn.mb.ca</i></a>)<br>
<i>Fri, 31 Dec 1999 01:11:35 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#209">[ date ]</a><a href="index.html#209">[ thread ]</a><a href="subject.html#209">[ subject ]</a><a href="author.html#209">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Warren Chartier: "Re: IBM IdeaScan"</a>
<li> <b>Previous message:</b> <a href="0208.html">Janine Roe: "poor scanning quality"</a>
<li> <b>Maybe in reply to:</b> <a href="0192.html">Brad Johnson: "IBM IdeaScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Well I dont know for sure if thats the case for your particular scanner,</i><br>
<i>&gt; however my Microtek SlimScan C3 is a parallel port scanner which uses SCSI</i><br>
<i>&gt; over Parallel, and I've used ppSCSI to get it working with SANE.</i><br>
<p>
	Unfortunately, I looked all over IBM's website and the only two<br>
scanners I can find any information about are the IdeaScan (the parallel one<br>
that I have) and the IdeaScan 2000 (A USB version of the former). Apparently,<br>
there is no SCSI equivalent, so I have doubts that there's a SCSI controller<br>
in there (That, and the fact that there are very few chips inside the scanner,<br>
and the box even says that the big chip is an ASIC chip used to speed up scans<br>
by using compression in some way)<br>
<p>
<i>&gt; One of the easiest tell tale signs is to look at how the windows drivers</i><br>
<i>&gt; work.  Mine even have a SCSI style probe function where it probes SCSI</i><br>
<i>&gt; ID's to find my scanner (always on ID 5), however I don't have a SCSI</i><br>
<i>&gt; adaptor in the computer!</i><br>
<p>
	I haven't noticed any signs of SCSI when configuring it in Windows...<br>
but then, it doesn't even seem to show up in the Device listings.<br>
<p>
	I wonder if IBM has any plans on supporting this scanner in Linux...<br>
<p>
								--Brad<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0210.html">Warren Chartier: "Re: IBM IdeaScan"</a>
<li> <b>Previous message:</b> <a href="0208.html">Janine Roe: "poor scanning quality"</a>
<li> <b>Maybe in reply to:</b> <a href="0192.html">Brad Johnson: "IBM IdeaScan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
