<!-- received="Mon Nov  3 10:07:32 1997 PST" -->
<!-- sent="Mon, 03 Nov 1997 10:05:56 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="JAVA version" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: JAVA version</title>
<h1>JAVA version</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Mon, 03 Nov 1997 10:05:56 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Eric Ludlam: "HP backend"</a>
<li> <b>Previous message:</b> <a href="0030.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm working on a JAVA version of "xscanimage" which will run as a<br>
stand-alone application.<br>
<p>
I don't know much about HTML or the use of Java for applets, but am<br>
wondering if it's possible to write an applet that can create a<br>
temporary file on the server and then download it to the user.  If so,<br>
then one could use SANE over the Internet.  Would this be a useful thing<br>
to do?<br>
<p>
Thanks,<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Eric Ludlam: "HP backend"</a>
<li> <b>Previous message:</b> <a href="0030.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
