<!-- received="Tue Nov  4 23:09:41 1997 PST" -->
<!-- sent="Tue, 4 Nov 1997 23:09:38 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: gamma-bind infinite loops in 0.67" -->
<!-- id="199711050709.XAA12466@panda.mostang.com" -->
<!-- inreplyto="199711040756.CAA10845@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: gamma-bind infinite loops in 0.67</title>
<h1>Re: gamma-bind infinite loops in 0.67</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 4 Nov 1997 23:09:38 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">David R. Kohel: "SANE installation."</a>
<li> <b>Previous message:</b> <a href="0052.html">David Mosberger-Tang: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>In reply to:</b> <a href="0043.html">Matto Marjanovic: "Re: gamma-bind infinite loops in 0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 4 Nov 1997 02:56:13 -0500, Matto Marjanovic &lt;<a href="mailto:maddog@mir.com">maddog@mir.com</a>&gt; said:</i><br>
<p>
  Matto&gt; The backend suggestion is actually directly counter to what<br>
  Matto&gt; is written in the API documentation for sane_control_option:<br>
<p>
  Matto&gt;    SANE_INFO_RELOAD_OPTIONS<br>
<p>
  Matto&gt;      .....When this happens, the SANE backend sets this<br>
  Matto&gt; member in *i to indicate that the application should reload<br>
  Matto&gt; all options. __Note that this member may be set even if no<br>
  Matto&gt; other option changed.__ However, it is guaranteed that other<br>
  Matto&gt; options never change without this member being set.<br>
<p>
  Matto&gt; Perhaps the API spec should be modified; either way, one of<br>
  Matto&gt; the two above needs to be put in effect.<br>
<p>
Yes, you are right, the backend is indeed the right place for this to<br>
be fixed, since the frontend would have to be overly conserative<br>
otherwise (it doesn't know which options might cause options to be<br>
reloaded).  I updated the documentation and the mustek, hp, and qcam<br>
backends accordingly (for consistency's sake; those backends were not<br>
actually affected by the apparent change in GTK callback behavior).<br>
<p>
Thanks for tracking this down!<br>
<p>
	--david<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">David R. Kohel: "SANE installation."</a>
<li> <b>Previous message:</b> <a href="0052.html">David Mosberger-Tang: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>In reply to:</b> <a href="0043.html">Matto Marjanovic: "Re: gamma-bind infinite loops in 0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
