<!-- received="Wed Nov  5 01:44:09 1997 PST" -->
<!-- sent="Wed, 5 Nov 1997 10:43:40 +0100 (MET)" -->
<!-- name="Per Harald Myrvang" -->
<!-- email="Per.Harald.Myrvang@cc.uit.no" -->
<!-- subject="Re: Tangential question about stuck SCSI scanner" -->
<!-- id="199711050943.KAA25434@esme.cc.uit.no" -->
<!-- inreplyto="Pine.LNX.3.95.971104100349.1785B-100000@sherrill.kiva.net" -->
<title>sane-devel: Re: Tangential question about stuck SCSI scanner</title>
<h1>Re: Tangential question about stuck SCSI scanner</h1>
<b>Per Harald Myrvang</b> (<a href="mailto:Per.Harald.Myrvang@cc.uit.no"><i>Per.Harald.Myrvang@cc.uit.no</i></a>)<br>
<i>Wed, 5 Nov 1997 10:43:40 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#56">[ date ]</a><a href="index.html#56">[ thread ]</a><a href="subject.html#56">[ subject ]</a><a href="author.html#56">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0055.html">David Mosberger-Tang: "Re: SANE installation."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; 	Sometimes while scanning I do a Bad Thing and either interrupt the</i><br>
<i>&gt; scanning process with ^C, turn the scanner off and back on, or run a</i><br>
<i>&gt; scanner-related command with the scanner not yet turned on ... and this seems</i><br>
<i>&gt; to put the scanner into an uncommunicative state.  Is there any way to reset</i><br>
<i>&gt; the scanner or reestablish the connection without rebooting the whole system?</i><br>
<p>
Issue a SCSI bus reset. When you load a linux scsi-module it issues such a<br>
reset. You can also do it yourself, with a little coding.<br>
<p>
Hope this helps,<br>
<p>
Per Harald Myrvang<br>
<a href="mailto:perm@cc.uit.no">perm@cc.uit.no</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0057.html">Stefan Knodt: "Re: Make OS2 Binaries ?"</a>
<li> <b>Previous message:</b> <a href="0055.html">David Mosberger-Tang: "Re: SANE installation."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
