<!-- received="Wed Nov  5 09:06:13 1997 PST" -->
<!-- sent="Wed, 05 Nov 1997 09:04:45 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: Make OS2 Binaries ?" -->
<!-- id="" -->
<!-- inreplyto="Make OS2 Binaries ?" -->
<title>sane-devel: Re: Make OS2 Binaries ?</title>
<h1>Re: Make OS2 Binaries ?</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Wed, 05 Nov 1997 09:04:45 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Jens Ritter: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Previous message:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Stefan Knodt wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Mon, 03 Nov 1997 10:00:43 -0800, Jeff Freedman wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;To build it yourself, you need quite a lot of stuff (also on Hobbes):</i><br>
<i>&gt; &gt;       1.  EMX GCC v. 09c or higher.</i><br>
<i>&gt; &gt;       2.  All the various GNU utilities, including make.</i><br>
<i>&gt; </i><br>
<i>&gt; Jeff,</i><br>
<i>&gt; do I need the BSD libraries too ?</i><br>
<i>&gt; </i><br>
<p>
I don't think so, but I've been sticking stuff on my system for over two<br>
years now, and am not sure what's there anymore.<br>
<p>
They might be necessary for porting the SANE network support.  I've<br>
punted that so far, but it would be nice to get it working.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Jens Ritter: "Re: v0.67+mustek 1200: color =) --- lineart =("</a>
<li> <b>Previous message:</b> <a href="0058.html">Jeff Freedman: "Re: Make OS2 Binaries ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0018.html">Stefan Knodt: "Make OS2 Binaries ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
