<!-- received="Sun Nov  9 04:48:41 1997 PST" -->
<!-- sent="Sun, 9 Nov 1997 12:03:07 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Help: Mustek 600 II N scanner" -->
<!-- id="m0xUV91-000BVJC@charon.beck-sw.de" -->
<!-- inreplyto="199711090859.AAA07332@panda.mostang.com" -->
<title>sane-devel: Re: Help: Mustek 600 II N scanner</title>
<h1>Re: Help: Mustek 600 II N scanner</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Sun, 9 Nov 1997 12:03:07 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>In reply to:</b> <a href="0074.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Next in thread:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0079.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;   &gt;&gt; On the card it is written: AB306N I/F CARD REV. A</i><br>
<p>
<i>&gt;   &gt;&gt; On one of the chips there is the following text: GA 160 AH 1515.1</i><br>
<i>&gt;   &gt;&gt; 9703</i><br>
<p>
<i>&gt; The ab306 is the parallel port interface for the 600 II N.</i><br>
<p>
Interesting ... Why the heck are they supplying a parallel port with their<br>
scanner ? Are they afraid you might not have one ? Or does the scanner<br>
hog the port and you can't print anymore ?<br>
<p>
Grr ... why can't anyone use standards ... I really hate this world of<br>
computer sales, where saving $10 now counts more than being able to save<br>
$100 later by simply adhering to standards ...<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Previous message:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: SANE-HP Success with HP Scanjet 4P Model C1130A"</a>
<li> <b>In reply to:</b> <a href="0074.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0079.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Next in thread:</b> <a href="0077.html">Johan Bengtsson: "Re: Help: Mustek 600 II N scanner"</a>
<li> <b>Reply:</b> <a href="0079.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- reply="end" -->
</ul>
