<!-- received="Sun Nov  9 22:19:51 1997 PST" -->
<!-- sent="Sun, 09 Nov 1997 22:22:38 -0800" -->
<!-- name="Joey Nelson" -->
<!-- email="highfreq@mail.wsu.edu" -->
<!-- subject="Problem Scanning with UMAX S6E." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problem Scanning with UMAX S6E.</title>
<h1>Problem Scanning with UMAX S6E.</h1>
<b>Joey Nelson</b> (<a href="mailto:highfreq@mail.wsu.edu"><i>highfreq@mail.wsu.edu</i></a>)<br>
<i>Sun, 09 Nov 1997 22:22:38 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#82">[ date ]</a><a href="index.html#82">[ thread ]</a><a href="subject.html#82">[ subject ]</a><a href="author.html#82">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Charite: "xscanimage plug-in"</a>
<li> <b>Previous message:</b> <a href="0081.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0108.html">Joey Nelson: "Re: Problem Scanning with UMAX S6E."</a>
<li> <b>Reply:</b> <a href="0108.html">Joey Nelson: "Re: Problem Scanning with UMAX S6E."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I just got sane .67 today, and after a few hours of fighting with SCSI<br>
drivers I finally got a successful preview.  But when I try to do a<br>
actual scan the command goes through, but the scanner element only moves<br>
slightly and all I get back is a grey green image, I guess the color of<br>
the plastic case.  My setup is as follows.<br>
<p>
sane-0.67 with sane-0.67-umax-fix.diff<br>
gtk+971025 with gtk-dairiki-971101-0.patch<br>
Redhat Linux 4.2 running kernel 2.0.30<br>
My SCSI is BusLogic Flashpoint DL.<br>
<p>
Any ideas.  Email me if you need more information.<br>
<p>
Joey Nelson<br>
<a href="mailto:highfreq@mail.wsu.edu">highfreq@mail.wsu.edu</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0083.html">Charite: "xscanimage plug-in"</a>
<li> <b>Previous message:</b> <a href="0081.html">David Mosberger-Tang: "Re: Help: Mustek 600 II N scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0108.html">Joey Nelson: "Re: Problem Scanning with UMAX S6E."</a>
<li> <b>Reply:</b> <a href="0108.html">Joey Nelson: "Re: Problem Scanning with UMAX S6E."</a>
<!-- reply="end" -->
</ul>
