<!-- received="Mon Nov 10 10:03:37 1997 PST" -->
<!-- sent="Mon, 10 Nov 1997 13:03:21 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: v0.67, finally!" -->
<!-- id="" -->
<!-- inreplyto="v0.67, finally!" -->
<title>sane-devel: Re: v0.67, finally!</title>
<h1>Re: v0.67, finally!</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Mon, 10 Nov 1997 13:03:21 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">David Mosberger-Tang: "Re: v0.67, finally!"</a>
<li> <b>Previous message:</b> <a href="0089.html">Simona Venuti: "REQ: Info about drivers."</a>
<li> <b>Maybe in reply to:</b> <a href="0008.html">David Mosberger-Tang: "v0.67, finally!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; OK, I finally got around to put together SANE version 0.67.</i><br>
<i>&gt; ...</i><br>
<p>
David,<br>
<p>
I'm testing 0.67 for IRIX and Solaris (x86+SPARC) right now; hopefully<br>
I'll have Solaris patches to ya later this week.  Besides the two<br>
changes<br>
posted by another user to the list you might also want to update the<br>
README file (still shows that IRIX doesn't have SCSI support...)<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet        Software for SGI and Sun      Easy Software Products
 (301) 373-9603          Workstations          44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
<p>
        SUPPORT THE ANTI-SPAM AMENDMENT! - <a href="http://www.cauce.org">http://www.cauce.org</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">David Mosberger-Tang: "Re: v0.67, finally!"</a>
<li> <b>Previous message:</b> <a href="0089.html">Simona Venuti: "REQ: Info about drivers."</a>
<li> <b>Maybe in reply to:</b> <a href="0008.html">David Mosberger-Tang: "v0.67, finally!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
