<!-- received="Sat Nov 15 10:38:18 1997 PST" -->
<!-- sent="Sat, 15 Nov 1997 13:37:44 -0500 (EST)" -->
<!-- name="Andrew Kuchling" -->
<!-- email="amk@magnet.com" -->
<!-- subject="OCR mailing list started" -->
<!-- id="199711151837.NAA23945@lemur.magnet.com" -->
<!-- inreplyto="" -->
<title>sane-devel: OCR mailing list started</title>
<h1>OCR mailing list started</h1>
<b>Andrew Kuchling</b> (<a href="mailto:amk@magnet.com"><i>amk@magnet.com</i></a>)<br>
<i>Sat, 15 Nov 1997 13:37:44 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">David Mosberger-Tang: "forwarded message from Ingmar Baumgart"</a>
<li> <b>Previous message:</b> <a href="0110.html">Alexander Jolk: "Success: HP Scanjet IIcx works with sane-0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[This announcement is initially just going to sane-devel, but soon<br>
 I'll submit it to c.o.l.a, and post it to comp.ai.doc-analysis.ocr <br>
 and comp.os.linux.development.apps.  Suggestions of other relevant<br>
 newsgroups/mailing lists, or for improvements to the announcement,<br>
 would be really helpful; send them to <a href="mailto:amk@magnet.com">amk@magnet.com</a>] <br>
<p>
A mailing list has been started for discussion of the design and<br>
implementation of a freeware Optical Character Recognition program for<br>
Unix.  <br>
<p>
Scanner support for Unix is under rapid development thanks to projects<br>
such as SANE (<a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>), and applications such as<br>
GIMP are beginning to benefit from it.  OCR is one major application<br>
missing from the freeware Unix, and has long been on the FSF's project<br>
list, as well.  The project is going to have to create both a user<br>
interface and a character recognition engine.  <br>
<p>
The mailing list is managed by Majordomo.  To subscribe, send an<br>
e-mail message to majordomo@icemark.ch with "subscribe ocr" in the<br>
body (not the subject) of the message.  Many thanks to Benedikt Heinen<br>
for hosting the list.<br>
<p>
<p>
	Andrew Kuchling<br>
	<a href="mailto:amk@magnet.com">amk@magnet.com</a><br>
	<a href="http://starship.skyport.net/crew/amk/">http://starship.skyport.net/crew/amk/</a><br>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">David Mosberger-Tang: "forwarded message from Ingmar Baumgart"</a>
<li> <b>Previous message:</b> <a href="0110.html">Alexander Jolk: "Success: HP Scanjet IIcx works with sane-0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
