<!-- received="Sun Nov 16 17:39:48 1997 PST" -->
<!-- sent="Sun, 16 Nov 1997 20:39:47 EST" -->
<!-- name="Raffi Krikorian" -->
<!-- email="raffi@mit.edu" -->
<!-- subject="compatibility" -->
<!-- id="199711170139.UAA01582@NICODEMOUS.MIT.EDU" -->
<!-- inreplyto="" -->
<title>sane-devel: compatibility</title>
<h1>compatibility</h1>
<b>Raffi Krikorian</b> (<a href="mailto:raffi@mit.edu"><i>raffi@mit.edu</i></a>)<br>
<i>Sun, 16 Nov 1997 20:39:47 EST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#115">[ date ]</a><a href="index.html#115">[ thread ]</a><a href="subject.html#115">[ subject ]</a><a href="author.html#115">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Jeffrey Ebert: "Color problems with SANE and UMAX UC630"</a>
<li> <b>Previous message:</b> <a href="0114.html">David Mosberger-Tang: "Re: Success: HP Scanjet IIcx works with sane-0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi!<br>
<p>
i'm planning on buying a microteck scanmaker 3e.  i just want to make<br>
sure that it will be able to be driven by linux before i lay down the<br>
$150 to buy it.  can somebody please get back to me?<br>
<p>
raffi<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0116.html">Jeffrey Ebert: "Color problems with SANE and UMAX UC630"</a>
<li> <b>Previous message:</b> <a href="0114.html">David Mosberger-Tang: "Re: Success: HP Scanjet IIcx works with sane-0.67"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
