<!-- received="Sat Nov 22 17:19:59 1997 PST" -->
<!-- sent="Sun, 23 Nov 1997 03:14:57 +0100 (MET)" -->
<!-- name="Olof OLOFSANE Karin" -->
<!-- email="olofsane@frozenriver.ale.se" -->
<!-- subject="Change preview resolution and scanning resolution?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Change preview resolution and scanning resolution?</title>
<h1>Change preview resolution and scanning resolution?</h1>
<b>Olof OLOFSANE Karin</b> (<a href="mailto:olofsane@frozenriver.ale.se"><i>olofsane@frozenriver.ale.se</i></a>)<br>
<i>Sun, 23 Nov 1997 03:14:57 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Johan Bengtsson: "output of make command"</a>
<li> <b>Previous message:</b> <a href="0132.html">Peter Daum: "Re: Umax Astra 1200S problems!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
I just wonder if it's possible to easily change the preview resolution? I<br>
suppose that I have to change some values in preview.c. My second question<br>
is since I have a Astra 1200S and it supports resolutions up to 600x1200<br>
dpi, can I change  xscanimage so I can scan up to 1200 (now it's only 600<br>
in Y). <br>
<p>
I busy writing the Gimp user manual and developing a new registry for<br>
script, brushes, etc.., so I haven't the time to take a deep look in to<br>
the code. So if anybody out there can tell me where in the source code and<br>
what to change I will be very glad.<br>
<p>
Yours Olof S Kylader  <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Johan Bengtsson: "output of make command"</a>
<li> <b>Previous message:</b> <a href="0132.html">Peter Daum: "Re: Umax Astra 1200S problems!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
