<!-- received="Tue Nov 25 21:56:28 1997 PST" -->
<!-- sent="Tue, 25 Nov 1997 21:56:26 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: Scanner driver support" -->
<!-- id="199711260556.VAA06441@panda.mostang.com" -->
<!-- inreplyto="1.5.4.32.19971125092754.0066b178@gpa.it" -->
<title>sane-devel: Re: Scanner driver support</title>
<h1>Re: Scanner driver support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 25 Nov 1997 21:56:26 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">John P. Beale: "Oops! Advansys SCSI ok- had bad termination."</a>
<li> <b>Previous message:</b> <a href="0158.html">David Mosberger-Tang: "Re: Any TWAIN support someday?"</a>
<li> <b>In reply to:</b> <a href="0149.html">GPA.Mail.User.Key: "Scanner driver support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 25 Nov 1997 10:27:54 +0100, "GPA.Mail.User.Key" &lt;<a href="mailto:chest@gpa.it">chest@gpa.it</a>&gt; said:</i><br>
<p>
  GPA&gt; Hi, I would like to know if my scanner (Nikon scantouch ax-210)<br>
  GPA&gt; is currently supported by your software.  Thank you in advance,<br>
<p>
Not at this point (sane-0.67).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">John P. Beale: "Oops! Advansys SCSI ok- had bad termination."</a>
<li> <b>Previous message:</b> <a href="0158.html">David Mosberger-Tang: "Re: Any TWAIN support someday?"</a>
<li> <b>In reply to:</b> <a href="0149.html">GPA.Mail.User.Key: "Scanner driver support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
