<!-- received="Wed Nov 26 00:12:50 1997 PST" -->
<!-- sent="Wed, 26 Nov 1997 00:12:25 -0800 (PST)" -->
<!-- name="John P. Beale" -->
<!-- email="beale@best.com" -->
<!-- subject="Oops! Advansys SCSI ok- had bad termination." -->
<!-- id="199711260812.AAA00919@shell3.ba.best.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Oops! Advansys SCSI ok- had bad termination.</title>
<h1>Oops! Advansys SCSI ok- had bad termination.</h1>
<b>John P. Beale</b> (<a href="mailto:beale@best.com"><i>beale@best.com</i></a>)<br>
<i>Wed, 26 Nov 1997 00:12:25 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Rene van Paassen: "My Mustek DTC3181E SCSI card seems to work OK"</a>
<li> <b>Previous message:</b> <a href="0159.html">David Mosberger-Tang: "Re: Scanner driver support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Folks:<br>
<p>
I'll have to apologize here for casting aspersions on the Linux SCSI driver<br>
for the Advansys SCSI card. My problems were apparently caused by incorrect<br>
termination. I contacted Advansys tech support and they did reply quickly,<br>
in part:<br>
<p>
<i>&gt; The issue can be caused by marginal termination.  Try disabling the Ultra</i><br>
<i>&gt; Feature on the PCI card.  Also try without the scanner connected.</i><br>
<p>
serves me right for not reading the FAQ- specifically, the SCSI FAQ. Or the<br>
Linux SCSI Howto, which says <br>
<p>
     2.1 General Flakiness. <br>
<p>
  If you experience random errors, the most likely causes are cabling and<br>
  termination problems.  [...]<br>
<p>
I disconnected my external scanner and was able to write and read back a<br>
set of 969 files (386 meg total) on my internal SCSI tape drive with no<br>
errors. (I had many errors with a 208 meg file set with it connected.) I then<br>
set the Advansys to NOT use "Ultra" mode (I have the ABP940-U PCI Ultra<br>
SCSI) in the boot setup utility, and again the SCSI tape drive had no<br>
errors on 386 meg written and read.<br>
<p>
Unfortunately, the scanner still locks up on large scans even when the<br>
940-U is out of "ultra" mode, but it seems likely that cable termination is<br>
the problem (the Advansys wants "active" termination and I'm using passive<br>
on the external cable).<br>
<p>
-john<br>
<a href="mailto:beale@best.com">beale@best.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Rene van Paassen: "My Mustek DTC3181E SCSI card seems to work OK"</a>
<li> <b>Previous message:</b> <a href="0159.html">David Mosberger-Tang: "Re: Scanner driver support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
