<!-- received="Sat Jul  3 09:05:22 1999 PDT" -->
<!-- sent="Sat, 03 Jul 1999 16:48:28 +0200" -->
<!-- name="Wolfgang Denk" -->
<!-- email="wd@denx.de" -->
<!-- subject="Re: Problem with snapscan, aha1505, linux kernel 2.2.9" -->
<!-- id="199907031448.QAA11256@denx.muc.de" -->
<!-- inreplyto="Problem with snapscan, aha1505, linux kernel 2.2.9" -->
<title>sane-devel: Re: Problem with snapscan, aha1505, linux kernel 2.2.9</title>
<h1>Re: Problem with snapscan, aha1505, linux kernel 2.2.9</h1>
<b>Wolfgang Denk</b> (<a href="mailto:wd@denx.de"><i>wd@denx.de</i></a>)<br>
<i>Sat, 03 Jul 1999 16:48:28 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#18">[ date ]</a><a href="index.html#18">[ thread ]</a><a href="subject.html#18">[ subject ]</a><a href="author.html#18">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Brian B.: "Re: Artec AT6 yet again"</a>
<li> <b>Previous message:</b> <a href="0017.html">aanderson =: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Francois Desarmenien (<a href="mailto:desar@club-internet.fr">desar@club-internet.fr</a>) wrote:<br>
<p>
<i>&gt; The problem seems to lie in the sg driver, not specifically in aha1505 as I</i><br>
<i>&gt; mentionned in another post, with an aha2940 (aic7xxx driver) it worked fine with</i><br>
<i>&gt; 2.2.3 but *not* in 2.2.9 nor 2.2.10.</i><br>
<p>
I verified this with a 2.2.10 kernel; I'm using it with the<br>
AVA-1505AE ISA card that came with a SnapScan 1236. I could not get<br>
it working with the 2.2.10 kernel, but replacing the `sg' driver<br>
(include/scsi/sg.h and drivers/scsi/sg.c) with the files form 2.2.5<br>
got it working.<br>
<p>
However, I still see some strange things happen:<br>
<p>
* During initialization (self test?) I see a lot of  syslog  messages<br>
  (but then it's working):<br>
<p>
	aha152x: more data than expected (128 bytes) <br>
	aha152x: data (ff ff ff ff ab ff ab cb  7 ff ff ff ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  6  6  6  6  6  6  6  7  6  6  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  6  d 11 11 11 11 11 11 11 ff ff ff ff ff ff ff ff ab ff ab ca  6 ff ff ff ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  6  6 ) <br>
	aha152x: data ( 6  6  6  6  6  6  7  6  6  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  6  7  7  d 11 11 11 11 11 12 11 ff ff ff ff ff ff ff ff ab ff ab c9  7 ff ff ff ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  7  6  6  6  6  6  6  6  6  6  6  7  7  7  6  6  6  7  7  7  7  7  7  7  7  7  6  7  7  6 ) <br>
	aha152x: more data than expected (128 bytes) <br>
	aha152x: data ( 6  7  7  7  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7  6  7  7  7  7  7  7  7  7  6  6  7  7  d  f 10 10 11 11 11 11 ff ff ff ff ff ff ff ff ab ff ab c8  6 ff ff ff ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  6  6  6  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7  7  6  7  7  7  7  6  7  7  7  7  7  7  6  6  6  7  7  6  6  7  7  7  6  7  7  7  7  7  7  7  7  7  7  7  7  7 ) <br>
	aha152x: more data than expected (128 bytes) <br>
	aha152x: data ( 7  7  7  7  d 11 10 10 11 11 11 12 ff ff ff ff ff ff ff ff ab ff ab c7  6 ff ff ff ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  6  6  6  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  6  7  6  6  7  7  7  7  6  6  6  6  6  6  7  7  7  7  7  7  6  6  6  6  7  6  6  7  7  6  6  6  6  7  7  d 10 11 11 10 11 11 11 ff ff ff ff ff ff ff ff ab ff ab c6  6 ff ff ff ) <br>
	aha152x: more data than expected (128 bytes) <br>
	aha152x: data (ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  6  6  6  6  6  6  6  7  6  6  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  6  6  6  6  6  6  6  6  6  6  6  6  7  6  6  7  7  7  7  6  6  7  6  6  6  6  7  7  7  6  6  7  6  6  6  7  6  d 11 11 11 11 11 11 12 ff ff ff ff ff ff ff ff ab ff ab c5  6 ff ff ff ff ff ff ff ff c5 86 55 32 21 1b 19  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6 ) <br>
	...<br>
<p>
* Probably interesting fact is that with the 2.2.10 driver  the  same<br>
  thing  is  happening  (but  then I can't access the driver, and the<br>
  scanner LED continues blinking). But here the syslog messages  look<br>
  like that:<br>
<p>
	aha152x: more data than expected (132 bytes) <br>
	aha152x: data ( 6  6  6  6  6  6  6  7  7  7  6  6  6  6  6  6  6  6  6  6  7  7  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  7  7  6  6  7  6  6  6  6  6  7  c 11 11 11 11 11 11 11 ff ff ff ff ff ff ff ff ab ff ab ca  6 ff ff ff ff ff ff ff ff d8 9e 55 36 31 26 25  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  7  6  6  6  7  6  6  6  6  6  6  6  7  7  6  6  7  7 ) <br>
	aha152x: more data than expected (132 bytes) <br>
	aha152x: data ( 6  6  6  6  7  6  6  6  6  6  6  6  6  7  7  6  6  6  6  6  6  6  6  7  d 10 10 10 10 10 11 11 ff ff ff ff ff ff ff ff ab ff ab c9  6 ff ff ff ff ff ff ff ff d8 9e 55 36 31 26 25  5  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  7  c 11 10 10 10 11 11 11 ) <br>
	aha152x: more data than expected (132 bytes) <br>
	aha152x: data (ff ff ff ff ff ff ff ff ab ff ab c8  6 ff ff ff ff ff ff ff ff d8 9e 55 36 31 26 25  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  c 11 10 10 10 10 11 11 ff ff ff ff ff ff ff ff ab ff ab c7  6 ff ff ff ff ff ff ff ff d8 9e 55 36 31 26 25  5  5  6  6 ) <br>
	aha152x: more data than expected (132 bytes) <br>
	aha152x: data ( 6  6  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  d 11 10 10 10 10 11 11 ff ff ff ff ff ff ff ff ab ff ab c6  6 ff ff ff ff ff ff ff ff d8 9e 55 36 31 26 25  4  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6 ) <br>
<p>
<p>
  So it's 132 instead of 128 "expected" bytes...<br>
<p>
<p>
Wolfgang<br>
<p>
<pre>
-- 
Software Engineering:  Embedded and Realtime Systems,  Embedded Linux
Phone: (+49)-8142-4596-87  Fax: (+49)-8142-4596-88  Email: <a href="mailto:wd@denx.de">wd@denx.de</a>
Anything free is worth what you pay for it.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0019.html">Brian B.: "Re: Artec AT6 yet again"</a>
<li> <b>Previous message:</b> <a href="0017.html">aanderson =: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
