<!-- received="Sat Jul  3 15:54:44 1999 PDT" -->
<!-- sent="Sat, 3 Jul 1999 19:10:42 -0500" -->
<!-- name="Brian B." -->
<!-- email="ixnay@wws.net" -->
<!-- subject="Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))" -->
<!-- id="" -->
<!-- inreplyto="m110IRc-000Ka1C@bois.uswest.net" -->
<title>sane-devel: Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))</title>
<h1>Re: Artec AT6 yet again (or is the card or the scanner) ((or is it sane or the kernel))</h1>
<b>Brian B.</b> (<a href="mailto:ixnay@wws.net"><i>ixnay@wws.net</i></a>)<br>
<i>Sat, 3 Jul 1999 19:10:42 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Dave Gilbert: "Corruption in scan on HP-5100C"</a>
<li> <b>Previous message:</b> <a href="0019.html">Brian B.: "Re: Artec AT6 yet again"</a>
<li> <b>In reply to:</b> <a href="0012.html">aanderson =: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
aanderson,<br>
<p>
Ok just to recap...<br>
you are using the 1520b host adapter with no problems other than with SANE.<br>
Your scanner scans but locks up ocassionaly but comes back after a few<br>
moments.<br>
<p>
But you had to write and apply a patch to 2.2.10 to get this behavior.<br>
<p>
And I am having no luck with the 1520a and kernels 2.2.4, 2.2.5, 2.2.10, or the<br>
2.3.x kernels.<br>
<p>
I havent heard from anyone else on the AT6 scanner except for this...<br>
<p>
<i>&gt;&gt;From <a href="mailto:charlesj@microsoft.com">charlesj@microsoft.com</a>  Tue Jun 15 18:53:16 1999</i><br>
<i>&gt;&gt;From: Charles Johnston &lt;<a href="mailto:charlesj@microsoft.com">charlesj@microsoft.com</a>&gt;</i><br>
<i>&gt;&gt;To: "Brian B." &lt;<a href="mailto:ixnay@wws.net">ixnay@wws.net</a>&gt;</i><br>
<i>&gt;&gt;Subject: RE: Artec AT6 scanner</i><br>
<i>&gt;&gt;Date: Tue, 15 Jun 1999 15:42:00 -0700</i><br>
<i>&gt;&gt;X-Mailer: Internet Mail Service (5.5.2524.0)</i><br>
<p>
<i>&gt;&gt;It's been a while since I used it, but I've used version 0.74 and 1.00.</i><br>
<i>&gt;&gt;There were problems in the past, but the only issues I had seen with recent</i><br>
<i>&gt;&gt;code was misalignment (mentioned on the site) and a green bar down one side.</i><br>
<i>&gt;&gt;All of the scanning modes (Full Color, line art, etc.) worked the last time</i><br>
<i>&gt;&gt;I used it, as well as different scanning resolutions.</i><br>
<p>
<i>&gt;&gt;I didn't have to do anything special to get it to work. I just compiled it.</i><br>
<i>&gt;&gt;I didn't use the scsi card that came with the scanner, but I've heard rumors</i><br>
<i>&gt;&gt;that there is support for it under Linux now.</i><br>
<p>
<i>&gt;&gt;I only used the xscanimage application in conjunction with the GIMP photo</i><br>
<i>&gt;&gt;editing software.</i><br>
<p>
<i>&gt;&gt;Charles Johnston</i><br>
<i>&gt;&gt;<a href="mailto:charlesj@microsoft.com">charlesj@microsoft.com</a></i><br>
<p>
<i>&gt;&gt;&gt;-----Original Message-----</i><br>
<i>&gt;&gt;&gt;From: Brian B. [<a href="mailto:ixnay@wws.net">mailto:ixnay@wws.net</a>]</i><br>
<i>&gt;&gt;&gt;Sent: Tuesday, June 15, 1999 3:54 PM</i><br>
<i>&gt;&gt;&gt;To: Charles Johnston</i><br>
<i>&gt;&gt;&gt;Subject: Artec AT6 scanner</i><br>
<p>
<p>
<i>&gt;&gt;&gt;I saw on <a href="http://www4.infi.net/~cpinkham/sane/sane-artec-users.html">http://www4.infi.net/~cpinkham/sane/sane-artec-users.html</a> that you</i><br>
<i>&gt;&gt;&gt;are a user of the AT6. Have you gotten this scanner to work? if so what version</i><br>
<i>&gt;&gt;&gt;of sane are you using or was there anything special that you had to do?</i><br>
<p>
<i>&gt;&gt;&gt;Please let me know what kind of progress you have made.</i><br>
<p>
<i>&gt;&gt;&gt;Thanks</i><br>
<i>&gt;&gt;&gt;Brian.</i><br>
<p>
<p>
And before any one says well try sane 0.74 or 1.00 I did to prevail.<br>
<p>
Brian<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Dave Gilbert: "Corruption in scan on HP-5100C"</a>
<li> <b>Previous message:</b> <a href="0019.html">Brian B.: "Re: Artec AT6 yet again"</a>
<li> <b>In reply to:</b> <a href="0012.html">aanderson =: "Re: Artec AT6 yet again"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
