<!-- received="Wed Jul  7 06:33:32 1999 PDT" -->
<!-- sent="Wed, 7 Jul 1999 15:35:47 +0200" -->
<!-- name="Roland Genske" -->
<!-- email="rhg@msede.com" -->
<!-- subject="Microtek Problems" -->
<!-- id="199907071335.PAA04701@e35.msede.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek Problems</title>
<h1>Microtek Problems</h1>
<b>Roland Genske</b> (<a href="mailto:rhg@msede.com"><i>rhg@msede.com</i></a>)<br>
<i>Wed, 7 Jul 1999 15:35:47 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Brian Macy: "CVS..."</a>
<li> <b>Previous message:</b> <a href="0042.html">Steve Gunnell: "Sane 1.0.1 Compilation errors with gimp 1.1.4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
please help me, I do not find a solution for the following problem<br>
concerning the microtek backend. The followiong command was issued:<br>
<p>
  scanimage -l 0 -t 0 -x 210 -y 297 --resolution 120 --brightness 0<br>
   --contrast 45 --exposure 1 --black-level 20 --midtone 128 --white-level 255<br>
   --gamma-mode Scalar --analog-gamma-r 2.6 --analog-gamma-g 2.8 --analog-gamma-b 2<br>
<p>
scanimage aborts with the following message:<br>
<p>
  scanimage: attempted to set inactive option analog-gamma-r<br>
<p>
I did not find a way to specify the analog gamma values. Regardless of<br>
the --gamma-mode option, the message is always the same.<br>
<p>
The scanner is a Microtek ScanMaker E6, previously driven by the mtekscan<br>
driver where the analog gamma values could be specified without any<br>
problems and worked as expected.<br>
<p>
The OS is Linux 2.0.36 (SuSE distribution with SANE pre-installed).<br>
I just downloaded the latest SANE version, but the problem still remains.<br>
<p>
Thank you for your help.<br>
<p>
Regards,<br>
Roland Genske<br>
<pre>
--
Roland Genske               Marxmeier Software GmbH
E-Mail: <a href="mailto:rhg@marxmeier.com">rhg@marxmeier.com</a>   Besenbruchstrasse 9
Voice : +49 202 2431413     42285 Wuppertal, Germany
Fax   : +49 202 2431420     <a href="http://www.marxmeier.com">http://www.marxmeier.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">Brian Macy: "CVS..."</a>
<li> <b>Previous message:</b> <a href="0042.html">Steve Gunnell: "Sane 1.0.1 Compilation errors with gimp 1.1.4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
