<!-- received="Fri Jul 16 06:44:45 1999 PDT" -->
<!-- sent="Fri, 16 Jul 1999 15:52:19 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: My configure problem with 0.28" -->
<!-- id="" -->
<!-- inreplyto="My configure problem with 0.28" -->
<title>sane-devel: Re: My configure problem with 0.28</title>
<h1>Re: My configure problem with 0.28</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 16 Jul 1999 15:52:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Oliver Rauch: "Re: (nil) entry in rcfiles"</a>
<li> <b>Previous message:</b> <a href="0089.html">Oliver Rauch: "Re: coolscan pb with xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Lee Bartolotti wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; I found the offending statement in the confugre file that</i><br>
<i>&gt; caused 0.27 and 0.28 to fail whereas 0.26 worked.  It was</i><br>
<i>&gt; on the LIBS step where</i><br>
<i>&gt;</i><br>
<i>&gt; LIBS="-lsane -L${x_libraries} $LIBS"</i><br>
<i>&gt;</i><br>
<i>&gt; Removing  -L${x_libraries}  allowed the configure to work.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi Lee,<br>
<p>
the x_libraries was added because it is needed to find<br>
some libs (png I think) on some systems.<br>
<p>
So we need to find an other soultion!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Oliver Rauch: "Re: (nil) entry in rcfiles"</a>
<li> <b>Previous message:</b> <a href="0089.html">Oliver Rauch: "Re: coolscan pb with xsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
