<!-- received="Sat Jul 17 06:06:38 1999 PDT" -->
<!-- sent="Sat, 17 Jul 1999 15:15:42 +0200 (CEST)" -->
<!-- name="regis rampnoux" -->
<!-- email="regisr@regix.com" -->
<!-- subject="RE: Microtek 35t+ driver res?" -->
<!-- id="" -->
<!-- inreplyto="Pine.BSF.3.96.990716000102.27099A-100000@hiway1.exit109.com" -->
<title>sane-devel: RE: Microtek 35t+ driver res?</title>
<h1>RE: Microtek 35t+ driver res?</h1>
<b>regis rampnoux</b> (<a href="mailto:regisr@regix.com"><i>regisr@regix.com</i></a>)<br>
<i>Sat, 17 Jul 1999 15:15:42 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Oliver Rauch: "Re: Best sane supported scanner?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Oliver Rauch: "Re: Best sane supported scanner?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 16-Jul-99 Michael Cunningham wrote:<br>
<i>&gt; </i><br>
<i>&gt; Anyone know if the microtek backend driver can support</i><br>
<i>&gt; the full 1900x1900 scans that the 35t+ can do? </i><br>
<p>
1950x1950 Yes.<br>
I used it with this resolution until today to do quality printouts without<br>
trouble.<br>
<p>
<p>
<p>
<pre>
---
&lt;regisr&gt;       <a href="mailto:regisr@regix.com">regisr@regix.com</a>     <a href="http://www.regix.com/">http://www.regix.com/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Oliver Rauch: "Re: Best sane supported scanner?"</a>
<li> <b>Previous message:</b> <a href="0098.html">Oliver Rauch: "Re: Best sane supported scanner?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
