<!-- received="Mon Jul 19 17:51:34 1999 PDT" -->
<!-- sent="Mon, 19 Jul 1999 21:03:00 -0400" -->
<!-- name="Paul Waldo" -->
<!-- email="pwaldo@bellatlantic.net" -->
<!-- subject="Re: Scanjet 5P and seg fault" -->
<!-- id="" -->
<!-- inreplyto="Scanjet 5P and seg fault" -->
<title>sane-devel: Re: Scanjet 5P and seg fault</title>
<h1>Re: Scanjet 5P and seg fault</h1>
<b>Paul Waldo</b> (<a href="mailto:pwaldo@bellatlantic.net"><i>pwaldo@bellatlantic.net</i></a>)<br>
<i>Mon, 19 Jul 1999 21:03:00 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#120">[ date ]</a><a href="index.html#120">[ thread ]</a><a href="subject.html#120">[ subject ]</a><a href="author.html#120">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Bart: "Mustek 600 III EP Plus"</a>
<li> <b>Previous message:</b> <a href="0119.html">Adam Williams: "Re: Possible xsane bug?"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Paul Waldo: "Scanjet 5P and seg fault"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks, Wolfgang.  That did the trick.  I don't know why, but it worked.  I<br>
suppose if I really wanted to know, I'd read the source code :)<br>
<p>
Paul<br>
<p>
Wolfgang Denk wrote:<br>
<p>
<i>&gt; In message &lt;37927E1E.9B4F4D65@bellatlantic.net&gt; Paul Waldo wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I'm trying to get the latest version of Sane running on my stock Redhat</i><br>
<i>&gt; &gt; 6.0 system with an HP ScanJet 5p.</i><br>
<i>&gt; ...</i><br>
<i>&gt; &gt; I've set the symlink as follows:</i><br>
<i>&gt; &gt; [root@paul hpscan-2.2.7]# ls -l /dev/scanner</i><br>
<i>&gt; &gt; lrwxrwxrwx   1 root     root            8 Jul 18 16:26 /dev/scanner</i><br>
<i>&gt; &gt; -&gt;/dev/sg0</i><br>
<i>&gt; ...</i><br>
<i>&gt; &gt; I then tried scanimage --list-devices and got the following:</i><br>
<i>&gt; &gt; [root@paul hpscan-2.2.7]# scanimage --list-devices</i><br>
<i>&gt; &gt; Segmentation fault</i><br>
<i>&gt;</i><br>
<i>&gt; I don't know why - but try removing the /dev/scanner symlink; I  have</i><br>
<i>&gt; the  same  Segmentation  fault  prorblem when the link exists (with a</i><br>
<i>&gt; Agfa SnapScan 1236).</i><br>
<i>&gt;</i><br>
<i>&gt; Wolfgang</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Software Engineering:  Embedded and Realtime Systems,  Embedded Linux</i><br>
<i>&gt; Phone: (+49)-8142-4596-87  Fax: -88  Home: -86  Email: <a href="mailto:wd@denx.muc.de">wd@denx.muc.de</a></i><br>
<i>&gt; "He was so narrow minded he could see through  a  keyhole  with  both</i><br>
<i>&gt; eyes ..."</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0121.html">Bart: "Mustek 600 III EP Plus"</a>
<li> <b>Previous message:</b> <a href="0119.html">Adam Williams: "Re: Possible xsane bug?"</a>
<li> <b>Maybe in reply to:</b> <a href="0109.html">Paul Waldo: "Scanjet 5P and seg fault"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
