<!-- received="Mon Jul 19 19:04:07 1999 PDT" -->
<!-- sent="Mon, 19 Jul 1999 20:14:31 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="19990720021446Z13331-4159+253@scapa.cs.ualberta.ca" -->
<!-- inreplyto="199907191139.NAA09653@lee.cc.uit.no" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Mon, 19 Jul 1999 20:14:31 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0121.html">Bart: "Mustek 600 III EP Plus"</a>
<li> <b>In reply to:</b> <a href="0115.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; [Nick Lamb]</i><br>
<i>&gt; &gt; Does someone have the TIME to do the thankless donkey-work required</i><br>
<i>&gt; &gt; for Release Early and Often on a big project like SANE?</i><br>
<i>&gt; </i><br>
<i>&gt; I beleave a CVS repository with write access to all maintainers would</i><br>
<i>&gt; make it easy to release often.  Anyone can do 'make dist' at any time</i><br>
<i>&gt; to generate a distribution and upload it to the ftp site.</i><br>
<p>
Given that the individual backends are independent and change a lot<br>
faster (or should, anyway) than the SANE core, this makes sense to<br>
me. It would take a lot of the load off David if he didn't have to<br>
assemble patches for various backends (or other sub-projects) himself.<br>
<p>
I'm not convinced that it's a good idea to give all maintainers the<br>
ability to create whole releases though. Perhaps having a couple of<br>
people with that authority would be sufficient to avoid the bottleneck<br>
problem? Is there a way to give maintainers restricted write access,<br>
say to just the part of the package they are responsible for?<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<li> <b>Previous message:</b> <a href="0121.html">Bart: "Mustek 600 III EP Plus"</a>
<li> <b>In reply to:</b> <a href="0115.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">Petter Reinholdtsen: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
