<!-- received="Tue Jul 20 09:26:44 1999 PDT" -->
<!-- sent="Tue, 20 Jul 1999 18:37:57 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: Release early, release often" -->
<!-- id="199907201637.SAA27480@lee.cc.uit.no" -->
<!-- inreplyto="Release early, release often" -->
<title>sane-devel: Re: Release early, release often</title>
<h1>Re: Release early, release often</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 20 Jul 1999 18:37:57 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<li> <b>Previous message:</b> <a href="0126.html">Brian Macy: "Re: Release early, release often"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Oliver Rauch: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Brian Macy]<br>
<i>&gt; Just have backend maintainers submit patches based on the latest</i><br>
<i>&gt; official release. All David would have to do is have some place to</i><br>
<i>&gt; dump them.</i><br>
<p>
That is the current situation, and it is to slow and to late.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Oliver Rauch: "Re: Possible xsane bug?"</a>
<li> <b>Previous message:</b> <a href="0126.html">Brian Macy: "Re: Release early, release often"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Petter Reinholdtsen: "Release early, release often"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0129.html">Oliver Rauch: "Re: Release early, release often"</a>
<!-- reply="end" -->
</ul>
