<!-- received="Wed Jul 21 16:34:57 1999 PDT" -->
<!-- sent="Wed, 21 Jul 1999 20:50:10 -0300" -->
<!-- name="Eduardo M. A. M. Mendes" -->
<!-- email="mendes@mgconecta.com.br" -->
<!-- subject="Re: Trouble after installing xsane-0.28" -->
<!-- id="" -->
<!-- inreplyto="Trouble after installing xsane-0.28" -->
<title>sane-devel: Re: Trouble after installing xsane-0.28</title>
<h1>Re: Trouble after installing xsane-0.28</h1>
<b>Eduardo M. A. M. Mendes</b> (<a href="mailto:mendes@mgconecta.com.br"><i>mendes@mgconecta.com.br</i></a>)<br>
<i>Wed, 21 Jul 1999 20:50:10 -0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Animal: "Acer SCSI scanner support?"</a>
<li> <b>Previous message:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Maybe in reply to:</b> <a href="0133.html">root: "Trouble after installing xsane-0.28"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<p>
<i>&gt; root wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; My old UMAX-T30</i><br>
<i>&gt; &gt; I can't find the option slow anymore (advance options).</i><br>
<i>&gt;</i><br>
<i>&gt; Hi,</i><br>
<i>&gt;</i><br>
<i>&gt; is "T30" correct? I don`t know this scanner!</i><br>
<p>
Mistake!!!  UMAX T-630<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; The slow option is removed from the sane-umax backend</i><br>
<i>&gt; because umax said that there is no scanner that uses it.</i><br>
<i>&gt;</i><br>
<i>&gt; If your scanner needs this, I will activate it again!</i><br>
<p>
It definitely does (unfortunately).<br>
<p>
Thanks a lot.<br>
<p>
Cheers<br>
<p>
Ed<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Animal: "Acer SCSI scanner support?"</a>
<li> <b>Previous message:</b> <a href="0135.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Maybe in reply to:</b> <a href="0133.html">root: "Trouble after installing xsane-0.28"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Oliver Rauch: "Re: Trouble after installing xsane-0.28"</a>
<!-- reply="end" -->
</ul>
