<!-- received="Thu Jul 22 13:30:41 1999 PDT" -->
<!-- sent="Thu, 22 Jul 1999 22:43:52 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Trouble after installing xsane-0.28" -->
<!-- id="" -->
<!-- inreplyto="Trouble after installing xsane-0.28" -->
<title>sane-devel: Re: Trouble after installing xsane-0.28</title>
<h1>Re: Trouble after installing xsane-0.28</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 22 Jul 1999 22:43:52 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#147">[ date ]</a><a href="index.html#147">[ thread ]</a><a href="subject.html#147">[ subject ]</a><a href="author.html#147">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">ithomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0146.html">mendes@mgconecta.com.br: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Maybe in reply to:</b> <a href="0133.html">root: "Trouble after installing xsane-0.28"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:mendes@mgconecta.com.br">mendes@mgconecta.com.br</a> wrote:<br>
<p>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; xsane is not responible for it, you must have updated from sane-1.0 to</i><br>
<i>&gt; &gt; sane-1.0.1</i><br>
<i>&gt; &gt; at the same time!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt;</i><br>
<i>&gt; Does it mean that if I un-install sane-1.0.1 and install sane-1.0</i><br>
<i>&gt; I can get the scanner working?</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Yes!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0148.html">ithomae: "Re: Microtek E3 won't scan, but II-G okay (SANE-OS/2)"</a>
<li> <b>Previous message:</b> <a href="0146.html">mendes@mgconecta.com.br: "Re: Trouble after installing xsane-0.28"</a>
<li> <b>Maybe in reply to:</b> <a href="0133.html">root: "Trouble after installing xsane-0.28"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
