<!-- received="Fri Jul 23 23:21:03 1999 PDT" -->
<!-- sent="Sat, 24 Jul 1999 08:34:14 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problem with Astra 1200s" -->
<!-- id="" -->
<!-- inreplyto="Problem with Astra 1200s" -->
<title>sane-devel: Re: Problem with Astra 1200s</title>
<h1>Re: Problem with Astra 1200s</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 24 Jul 1999 08:34:14 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Oliver Rauch: "Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0150.html">Roy Murphy: "Mustek 6K and Adaptec"</a>
<li> <b>Maybe in reply to:</b> <a href="0149.html">Lee Nevo: "Problem with Astra 1200s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Lee Nevo wrote:<br>
<p>
<i>&gt; I recently purchased the UMAX Astra 1200s due to the excellent support</i><br>
<i>&gt; for UMAX scanners that sane seems to provide. However after reading as</i><br>
<i>&gt; much documentation as I could find on the site, I seem to be going</i><br>
<i>&gt; nowhere. After setting SANE_DEBUG_UMAX, and re-running scanimage, it</i><br>
<i>&gt; seems to get to the point of "Trying to reposition scanner..." and</i><br>
<i>&gt; hangs. After I ^C, I no longer get any results from find-scanner until I</i><br>
<i>&gt; reset the scanner.</i><br>
<i>&gt;</i><br>
<i>&gt; I've searched mailing list, and the newsgroups and haven't found any</i><br>
<i>&gt; info to help me out. After reading the man page for sane_scsi, I made</i><br>
<i>&gt; some changes to my BusLogic SCSI BIOS according to the directions, but</i><br>
<i>&gt; that didn't seem to help. I've set SANE_DEBUG_UMAX, and</i><br>
<i>&gt; SANE_DEBUG_SANEI_SCSI both to 128 and I will attach the output.</i><br>
<i>&gt;</i><br>
<i>&gt; I did test the scanner under Windows, and everything seemed to work</i><br>
<i>&gt; fine. As I've pretty much eliminated my need to ever boot that OS again,</i><br>
<i>&gt; I would REALLY like to get this working. I'm not much of a hardware</i><br>
<i>&gt; hacker, but I'll do what I have to.</i><br>
<p>
Hi Lee,<br>
<p>
1) update to the recent umax backend that you can download from my homepage<br>
(address see down)<br>
<p>
2) if that does not help, disable the scsi to ide driver, don`t know may be this has a<br>
<p>
negative influence!<br>
<p>
3) if that does not help:<br>
how long are your scsi cables (internal + external), how is the scsi bus terminated?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Oliver Rauch: "Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0150.html">Roy Murphy: "Mustek 6K and Adaptec"</a>
<li> <b>Maybe in reply to:</b> <a href="0149.html">Lee Nevo: "Problem with Astra 1200s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
