<!-- received="Sat Jul 24 08:09:34 1999 PDT" -->
<!-- sent="Sat, 24 Jul 1999 17:23:33 +0200 (MEST)" -->
<!-- name="Bernd Schroeder" -->
<!-- email="Bernd.M.Schroeder@gmx.de" -->
<!-- subject="Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)" -->
<!-- id="18629.932829813@www6.gmx.net" -->
<!-- inreplyto="Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)" -->
<title>sane-devel: Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)</title>
<h1>Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)</h1>
<b>Bernd Schroeder</b> (<a href="mailto:Bernd.M.Schroeder@gmx.de"><i>Bernd.M.Schroeder@gmx.de</i></a>)<br>
<i>Sat, 24 Jul 1999 17:23:33 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "Anyone with a Umax Document Feeder?"</a>
<li> <b>Maybe in reply to:</b> <a href="0049.html">Mike Harris: "Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0184.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
<p>
--------------3C0C3E1F19C2318E73929036<br>
Content-Type: text/plain; charset="us-ascii"<br>
Content-Transfer-Encoding: 7bit<br>
<p>
<i>&gt; Bernd,</i><br>
<i>&gt;     It works.  I've attached the output with option dump 1.   Also it</i><br>
appears<br>
<i>&gt; to negate the colors at less than ~150dpi, above 150 dpi the color is</i><br>
<i>&gt; correct.</i><br>
<p>
Are you sure, that this happens regularly at resolutions of<br>
less than 150 dpi and never at resolutions &gt;150 dpi?<br>
Models with very similar scanner attributes like the X6 or X6EL did <br>
have problems with transposed colors. This was dependent on whether<br>
the number of pixels per scan line was even or odd. <br>
<p>
Bernd<br>
<p>
<pre>
-- 
Sent through Global Message Exchange - <a href="http://www.gmx.net">http://www.gmx.net</a>
--------------3C0C3E1F19C2318E73929036--
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Previous message:</b> <a href="0152.html">Oliver Rauch: "Anyone with a Umax Document Feeder?"</a>
<li> <b>Maybe in reply to:</b> <a href="0049.html">Mike Harris: "Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0184.html">Mike Harris: "Re: Microtek ScanMaker IV on Linux-2.2.10 (Redhat 6.0)"</a>
<!-- reply="end" -->
</ul>
