<!-- received="Sat Jul 24 13:45:17 1999 PDT" -->
<!-- sent="Sat, 24 Jul 1999 22:57:30 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: [Fwd: Re: Problem with Astra 1200s]" -->
<!-- id="" -->
<!-- inreplyto="[Fwd: Re: Problem with Astra 1200s]" -->
<title>sane-devel: Re: [Fwd: Re: Problem with Astra 1200s]</title>
<h1>Re: [Fwd: Re: Problem with Astra 1200s]</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 24 Jul 1999 22:57:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Oliver Rauch: "any problems with xscanimage/xsane?"</a>
<li> <b>Previous message:</b> <a href="0154.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Lee Nevo wrote:<br>
<p>
<i>&gt; I apologize for sending the attachments, forgot about the charges that</i><br>
<i>&gt; others occur. I was just being impatient. Won't happen again.</i><br>
<p>
Oh, not such a great problem!<br>
I only say it to everyone who sends big mails so I can keep the<br>
mail-size small! There is no great problem if some people do send<br>
such mails, but if I do not say anything a get a lot of such mails!<br>
<p>
<i>&gt; Anyway, back to businees...I disconnected the tape drive internally from</i><br>
<i>&gt; the controller card. I enabled termination on the card. The kernel</i><br>
<i>&gt; reports that termination is active. The kernel also reports that the</i><br>
<i>&gt; card is an Ultra SCSI card, however my documentation does not mention</i><br>
<i>&gt; that. In any event, I converted the length of my SCSI cable from feet to</i><br>
<i>&gt; centimeters, and since its a 4' cable, that should be 121.92 cm, so I</i><br>
<i>&gt; should be under the limit. No luck, same issue.</i><br>
<i>&gt;</i><br>
<i>&gt; I guess my next step is to go out and find a better terminator to put on</i><br>
<i>&gt; the scanner?</i><br>
<p>
Hm.<br>
Is it an active terminator? If no, get one, you need an active one<br>
for an ultra scsi card. It does not help to reduce the speed of the card<br>
because the gradient of the signals is not changed!<br>
<p>
Test also the configuration of the scsi card:<br>
<p>
 - try to reduce speed from 20/40 mhz (ultra/ultrawide)  to 10/20 mhz (fast/fastwide)<br>
    or 5mhz(asyncronous).<br>
 - disable disconnect/reconnect<br>
 - disable tagged command queeing<br>
<p>
I know you already did this for one scsi id,<br>
if possible , do this for the full card and not only for the scanner device.<br>
<p>
If all does not help - do you have the umax scsi card uds-11?<br>
It is a very bad card but for some tests ... (read the umax.faq on my homepage for<br>
more info<br>
about that)!<br>
<p>
May be you have a frien wit an ncr53c8xx scsi card or a good adaptec card, could be<br>
worth to try with an other (not ultra) scsi card!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Oliver Rauch: "any problems with xscanimage/xsane?"</a>
<li> <b>Previous message:</b> <a href="0154.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
