<!-- received="Sat Jul 24 14:37:05 1999 PDT" -->
<!-- sent="Sat, 24 Jul 1999 22:29:06 +0100 (GMT)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: any problems with xscanimage/xsane?" -->
<!-- id="" -->
<!-- inreplyto="379A2A07.D960A47D@wolfsburg.de" -->
<title>sane-devel: Re: any problems with xscanimage/xsane?</title>
<h1>Re: any problems with xscanimage/xsane?</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Sat, 24 Jul 1999 22:29:06 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Previous message:</b> <a href="0157.html">Nick Lamb: "Re: Anyone with a Umax Document Feeder?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 24 Jul 1999, Oliver Rauch wrote:<br>
<p>
<i>&gt; I had some problems with xscanimage and xsane. After a lot of tests I</i><br>
<i>&gt; solved it by recompiling glib, gtk, sane and xsane with gcc instead of</i><br>
<i>&gt; egcs-compiler.</i><br>
<p>
What were the problems that you had, and what version of gcc did you<br>
switch to (and what version of egcs did you switch from?).<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Previous message:</b> <a href="0157.html">Nick Lamb: "Re: Anyone with a Umax Document Feeder?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
