<!-- received="Sat Jul 24 15:04:07 1999 PDT" -->
<!-- sent="Sat, 24 Jul 1999 18:15:50 -0400" -->
<!-- name="Lee Nevo" -->
<!-- email="lnevo@usa.net" -->
<!-- subject="Re: [Fwd: Re: Problem with Astra 1200s]" -->
<!-- id="" -->
<!-- inreplyto="[Fwd: Re: Problem with Astra 1200s]" -->
<title>sane-devel: Re: [Fwd: Re: Problem with Astra 1200s]</title>
<h1>Re: [Fwd: Re: Problem with Astra 1200s]</h1>
<b>Lee Nevo</b> (<a href="mailto:lnevo@usa.net"><i>lnevo@usa.net</i></a>)<br>
<i>Sat, 24 Jul 1999 18:15:50 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Previous message:</b> <a href="0158.html">Tim Waugh: "Re: any problems with xscanimage/xsane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Lee Nevo wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I guess my next step is to go out and find a better terminator to put on</i><br>
<i>&gt; &gt; the scanner?</i><br>
<i>&gt; </i><br>
<i>&gt; Hm.</i><br>
<i>&gt; Is it an active terminator? If no, get one, you need an active one</i><br>
<i>&gt; for an ultra scsi card. It does not help to reduce the speed of the card</i><br>
<i>&gt; because the gradient of the signals is not changed!</i><br>
<i>&gt; </i><br>
<p>
I'll see what I can find, its not easy finding a DB25 Terminator on the<br>
net. Do you know what kind comes with the scanner? I guess its probably<br>
a passive one, either way, let me know if you have an idea, so I can<br>
save $20. <br>
<p>
<i>&gt; Test also the configuration of the scsi card:</i><br>
<i>&gt; </i><br>
<i>&gt;  - try to reduce speed from 20/40 mhz (ultra/ultrawide)  to 10/20 mhz (fast/fastwide)</i><br>
<i>&gt;     or 5mhz(asyncronous).</i><br>
<i>&gt;  - disable disconnect/reconnect</i><br>
<i>&gt;  - disable tagged command queeing</i><br>
<i>&gt; </i><br>
<i>&gt; I know you already did this for one scsi id,</i><br>
<i>&gt; if possible , do this for the full card and not only for the scanner device.</i><br>
<p>
I will try that out ASAP.<br>
<p>
<i>&gt; </i><br>
<i>&gt; If all does not help - do you have the umax scsi card uds-11?</i><br>
<i>&gt; It is a very bad card but for some tests ... (read the umax.faq on my homepage for</i><br>
<i>&gt; more info</i><br>
<i>&gt; about that)!</i><br>
<i>&gt; </i><br>
<p>
I got the scanner from the store cheaper since they were missing the<br>
SCSI card. Oh well...<br>
<p>
<i>&gt; May be you have a frien wit an ncr53c8xx scsi card or a good adaptec card, could be</i><br>
<i>&gt; worth to try with an other (not ultra) scsi card!</i><br>
<i>&gt; </i><br>
<p>
I have another computer with an Adaptec 152x, card and since I just<br>
recently put FreeBSD 3.2 on it which no longer supports that card, I'll<br>
give it a shot.<br>
<p>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<p>
Thanks again, I'll let you know how it goes.<br>
<p>
Lee<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">Lee Nevo: "Re: [Fwd: Re: Problem with Astra 1200s]"</a>
<li> <b>Previous message:</b> <a href="0158.html">Tim Waugh: "Re: any problems with xscanimage/xsane?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
