<!-- received="Sun Jul 25 10:56:09 1999 PDT" -->
<!-- sent="Sun, 25 Jul 1999 20:10:53 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="CVS web page?" -->
<!-- id="199907251810.UAA00696@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: CVS web page?</title>
<h1>CVS web page?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 25 Jul 1999 20:10:53 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Nick Lamb: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0168.html">Reinhold Jordan: "Epson GT-8000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0176.html">Andreas: "Re: CVS web page?"</a>
<li> <b>Reply:</b> <a href="0176.html">Andreas: "Re: CVS web page?"</a>
<li> <b>Reply:</b> <a href="0180.html">Petter Reinholdtsen: "Re: CVS web page?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I made the following web page with info on the CVS server.  Could<br>
someone with write access to the SANE webserver move the information<br>
to a more reasonable place?<br>
<p>
&lt;URL:<a href="http://www.student.uit.no/~pere/linux/sane/cvs-server.html">http://www.student.uit.no/~pere/linux/sane/cvs-server.html</a>&gt;.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Nick Lamb: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0168.html">Reinhold Jordan: "Epson GT-8000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0176.html">Andreas: "Re: CVS web page?"</a>
<li> <b>Reply:</b> <a href="0176.html">Andreas: "Re: CVS web page?"</a>
<li> <b>Reply:</b> <a href="0180.html">Petter Reinholdtsen: "Re: CVS web page?"</a>
<!-- reply="end" -->
</ul>
