<!-- received="Mon Jul 26 10:05:15 1999 PDT" -->
<!-- sent="Mon, 26 Jul 1999 19:25:31 +0200" -->
<!-- name="Andreas" -->
<!-- email="andreas.rick@free.fr" -->
<!-- subject="Re: CVS web page?" -->
<!-- id="" -->
<!-- inreplyto="CVS web page?" -->
<title>sane-devel: Re: CVS web page?</title>
<h1>Re: CVS web page?</h1>
<b>Andreas</b> (<a href="mailto:andreas.rick@free.fr"><i>andreas.rick@free.fr</i></a>)<br>
<i>Mon, 26 Jul 1999 19:25:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#176">[ date ]</a><a href="index.html#176">[ thread ]</a><a href="subject.html#176">[ subject ]</a><a href="author.html#176">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0175.html">Ewald R. de Wit: "Re: supported scanner that can scan from microfilm?"</a>
<li> <b>Maybe in reply to:</b> <a href="0169.html">Petter Reinholdtsen: "CVS web page?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Petter Reinholdtsen: "Re: CVS web page?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Petter<br>
<p>
Thanks for setting up the CVS server.<br>
I'm just doing my first checkout to get familiar with<br>
remote cvs. (I have been working on using local cvs for<br>
some years now).<br>
<p>
My question are:<br>
Does the new developement process work already?<br>
Who has currently write access to the CVS server?<br>
To whom should I send patches for the coolscan-backend<br>
or should I ask for write access myself?<br>
<p>
Andreas<br>
<p>
<p>
Petter Reinholdtsen wrote:<br>
<i>&gt; </i><br>
<i>&gt; I made the following web page with info on the CVS server.  Could</i><br>
<i>&gt; someone with write access to the SANE webserver move the information</i><br>
<i>&gt; to a more reasonable place?</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;URL:<a href="http://www.student.uit.no/~pere/linux/sane/cvs-server.html">http://www.student.uit.no/~pere/linux/sane/cvs-server.html</a>&gt;.</i><br>
<i>&gt; --</i><br>
<i>&gt; ##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a></i><br>
<i>&gt;  O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;</i><br>
<i>&gt; <a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0177.html">Oliver Rauch: "Re: Anyone with a Umax Document Feeder?"</a>
<li> <b>Previous message:</b> <a href="0175.html">Ewald R. de Wit: "Re: supported scanner that can scan from microfilm?"</a>
<li> <b>Maybe in reply to:</b> <a href="0169.html">Petter Reinholdtsen: "CVS web page?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0180.html">Petter Reinholdtsen: "Re: CVS web page?"</a>
<!-- reply="end" -->
</ul>
