<!-- received="Tue Jul 27 09:40:34 1999 PDT" -->
<!-- sent="Tue, 27 Jul 1999 18:42:58 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Document Feeders" -->
<!-- id="" -->
<!-- inreplyto="Document Feeders" -->
<title>sane-devel: Re: Document Feeders</title>
<h1>Re: Document Feeders</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 27 Jul 1999 18:42:58 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#190">[ date ]</a><a href="index.html#190">[ thread ]</a><a href="subject.html#190">[ subject ]</a><a href="author.html#190">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">Jens Scheithauer: "sane-1.0.1 available for SCO UnixWare 7.1"</a>
<li> <b>Previous message:</b> <a href="0189.html">Oliver Rauch: "Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Rick wrote:<br>
<p>
<i>&gt; To add still more confusion to the ADF discussion I would like</i><br>
<i>&gt; to add a small description of the automatic film strip feeder</i><br>
<i>&gt; for the Nikon Filmscanners:</i><br>
<i>&gt;</i><br>
<i>&gt; When you put the film strip into the scanner</i><br>
<i>&gt; (Strip of up to 6  24*36mm slides/negatives )</i><br>
<i>&gt; the scanner does a very quick scan of the whole strip</i><br>
<i>&gt; to find out and store the positions of all images.</i><br>
<i>&gt; You can then query these positions and ask the Feeder to</i><br>
<i>&gt; go to any position. There you can do anything you can do</i><br>
<i>&gt; with a single slide: Preview, Scan, ...</i><br>
<i>&gt; (it is the scanner head which moves while scanning not the film).</i><br>
<i>&gt; There is a special command to eject the film.</i><br>
<i>&gt; If you don't do anything the film is ejected after some</i><br>
<i>&gt; minutes.</i><br>
<i>&gt;</i><br>
<i>&gt; With this kind of scanner I can imagine the following</i><br>
<i>&gt; working scenarios:</i><br>
<i>&gt;</i><br>
<i>&gt; 1.) No Intervention:</i><br>
<i>&gt; The user puts in the film and selects "ADF" and clicks</i><br>
<i>&gt; on Scan. He/She should then find all the images on the disk/gimp.</i><br>
<i>&gt;</i><br>
<i>&gt; 2.) Personal selection</i><br>
<i>&gt; The user puts in the film and clicks on "Preview all"</i><br>
<i>&gt; which will scan all images in preview resolution.</i><br>
<i>&gt; He/She may then select the preview images one by one,</i><br>
<i>&gt; select the scanning area, the gamma, contrast etc.</i><br>
<i>&gt; Finally by clicking on "scan" all selected image regions</i><br>
<i>&gt; should be scanned</i><br>
<i>&gt;</i><br>
<i>&gt; I think the Nikon film scanner is more similar to the</i><br>
<i>&gt; HP Flat Scanners in that the CCD moves during scanning, not the film.</i><br>
<i>&gt;</i><br>
<i>&gt; Do you think we can find a common way to access these different</i><br>
<i>&gt; Feeders?</i><br>
<p>
Hi Andreas,<br>
the question is not if we will find a common way, the question is how.<br>
<p>
You describe two different ways of scanning a film.<br>
<p>
The one way is to scan like an adf and we should implement<br>
this as an adf scan. So the user selects the source "ADF"<br>
and the backend has to position the film to the next picture<br>
if the frontend calls SANE_START.<br>
This kind of scanning mode does not allow doing a preview.<br>
So this kind of adf-scanning is for example to scan some<br>
full pages - eg for copy or fax them or to archiev the full page/film.<br>
The idea of ADF is put in your medias, press one button and<br>
you have nothing more to do, it is all done by the machine.<br>
<p>
<p>
For the second way you describe the backend has to make avaliable<br>
functions like<br>
- "next media",<br>
- "previous media" although a normal<br>
     scanner is not able to reget an already scanned and unloaded paper<br>
- "media number ##" - see above<br>
<p>
This is not a real adf mode. I suggest to add a special source for this<br>
like "Film feeder" or sth like that.<br>
<p>
This is in each case a user interactive mode and has nothing to do with<br>
ADF. So there will be no automatic functions in the frontend and<br>
the frontend does not need to now these functions.<br>
<p>
But we should define how some functions should be implemented.<br>
This has nothing to do with the sane standard, but we could make<br>
a document with suggestions how often used functions should be<br>
implemented, so the user interface of different backends look not<br>
too different.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">Jens Scheithauer: "sane-1.0.1 available for SCO UnixWare 7.1"</a>
<li> <b>Previous message:</b> <a href="0189.html">Oliver Rauch: "Re: Document Feeders (was Re: Anyone with a Umax Document Feeder?)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
