<!-- received="Fri Sep  4 16:18:52 1998 PDT" -->
<!-- sent="Fri, 4 Sep 1998 16:18:01 -0700 (PDT)" -->
<!-- name="Marcel Oliver" -->
<!-- email="moliver@math.uci.edu" -->
<!-- subject="ScanMaker E3 plus Problems" -->
<!-- id="199809042318.QAA07616@math.uci.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: ScanMaker E3 plus Problems</title>
<h1>ScanMaker E3 plus Problems</h1>
<b>Marcel Oliver</b> (<a href="mailto:moliver@math.uci.edu"><i>moliver@math.uci.edu</i></a>)<br>
<i>Fri, 4 Sep 1998 16:18:01 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Previous message:</b> <a href="0034.html">Bostjan Lemut: "How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Reply:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Reply:</b> <a href="0037.html">Marcel Oliver: "Re: ScanMaker E3 plus Problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hallo,<br>
<p>
I have a Microtek ScanMaker E3 plus SCSI scanner, which was reported<br>
in this mailing list to work with sane (that's why I bought it...).<br>
The scanner seems to be detected OK during system boot, but when I try<br>
scanimage -L, it just hangs.<br>
<p>
Is there anybody who can help me debug this?  I enclose some hopefully<br>
useful output below.<br>
<p>
Thanks,<br>
<p>
Marcel<br>
<p>
------------------------------------------------------------------------<br>
<p>
Startup Messages:<br>
<p>
% dmesg<br>
Console: 16 point font, 400 scans<br>
Console: colour VGA+ 80x25, 1 virtual console (max 63)<br>
pcibios_init : BIOS32 Service Directory structure at 0x000fd770<br>
pcibios_init : BIOS32 Service Directory entry at 0xfd780<br>
pcibios_init : PCI BIOS revision 2.10 entry at 0xfd7a1<br>
Probing PCI hardware.<br>
Calibrating delay loop.. ok - 199.07 BogoMIPS<br>
Memory: 30904k/32768k available (656k kernel code, 384k reserved, 824k data)<br>
Swansea University Computer Society NET3.035 for Linux 2.0<br>
NET3: Unix domain sockets 0.13 for Linux NET3.035.<br>
Swansea University Computer Society TCP/IP for NET3.034<br>
IP Protocols: ICMP, UDP, TCP<br>
Checking 386/387 coupling... Ok, fpu using exception 16 error reporting.<br>
Checking 'hlt' instruction... Ok.<br>
Linux version 2.0.35 (<a href="mailto:root@hoelderlin.localdomain">root@hoelderlin.localdomain</a>) (gcc version 2.7.2.3) #1 Wed Sep 2 21:52:51 PDT 1998<br>
Starting kswapd v 1.4.2.2 <br>
Serial driver version 4.13 with no serial options enabled<br>
tty00 at 0x03f8 (irq = 4) is a 16550A<br>
tty01 at 0x02f8 (irq = 3) is a 16550A<br>
ftape-2.08 960314 for Linux 1.3.70<br>
ide: i82371 PIIX (Triton) on PCI bus 0 function 57<br>
    ide0: BM-DMA at 0xffa0-0xffa7<br>
    ide1: BM-DMA at 0xffa8-0xffaf<br>
hda: WDC AC34000L, 3815MB w/256kB Cache, CHS=969/128/63, DMA<br>
hdb: , ATAPI CDROM drive<br>
ide0 at 0x1f0-0x1f7,0x3f6 on irq 14<br>
Floppy drive(s): fd0 is 1.44M<br>
FDC 0 is a National Semiconductor PC87306<br>
aha152x: processing commandline: ok<br>
aha152x: BIOS test: passed, detected 1 controller(s)<br>
aha152x0: vital data: PORTBASE=0x140, IRQ=9, SCSI ID=7, reconnect=enabled, parity=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
scsi0 : Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
scsi : 1 host.<br>
  Vendor:           Model: Scanner 300A4     Rev: 5.12<br>
  Type:   Scanner                            ANSI SCSI revision: 02 at 0xffa0-0xffa7<br>
    ide1: BM-DMA at 0xffa8-0xffaf<br>
hda: WDC AC34000L, 3815MB w/256kB Cache, CHS=969/128/63, DMA<br>
hdb: , ATAPI CDROM drive<br>
ide0 at 0x1f0-0x1f7,0x3f6 on irq 14<br>
Floppy drive(s): fd0 is 1.44M<br>
FDC 0 is a National Semiconductor PC87306<br>
aha152x: processing commandline: ok<br>
aha152x: BIOS test: passed, detected 1 controller(s)<br>
aha152x0: vital data: PORTBASE=0x140, IRQ=9, SCSI ID=7, reconnect=enabled, parity=enabled, synchronous=disabled, delay=100, extended translation=disabled<br>
aha152x: trying software interrupt, ok.<br>
scsi0 : Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
scsi : 1 host.<br>
  Vendor:           Model: Scanner 300A4     Rev: 5.12<br>
  Type:   Scanner                            ANSI SCSI revision: 02<br>
Detected scsi generic sga at scsi0, channel 0, id 6, lun 0<br>
scsi : detected total.<br>
Partition check:<br>
 hda: hda1 hda2 hda3 &lt; hda5 hda6 hda7 &gt; hda4<br>
VFS: Mounted root (ext2 filesystem) readonly.<br>
Adding Swap: 68508k swap-space (priority -1)<br>
aha152x: ignoring spurious interrupt, nothing to do<br>
QUEUE STATUS:<br>
issue_SC:<br>
current_SC:<br>
none<br>
disconnected_SC:<br>
<p>
waiting: SCSISEQ (); SCSISIG (DATA OUT); INTSTAT (lo); SSTAT (BUSFREE PHASECHG ); SSTAT (); SXFRCTL0 (CH1 ); SIGNAL (); SELID (df), SSTAT2 (SEMPTY ); SFCNT (0); SCSICNT (0), OFFCNT(0), SSTAT4 (); DMACNTRL0 (16BIT PIO READ ); DMASTAT (DFIFOEMP )<br>
enabled interrupts ()<br>
Soundblaster audio driver Copyright (C) by Hannu Savolainen 1993-1996<br>
SB 4.13 detected OK (240)<br>
Installed 0<br>
<p>
----------------------------------------------------------------------------<br>
<p>
Debug Information:<br>
<p>
[root@hoelderlin marcel]# export SANE_DEBUG_SANEI_SCSI=128<br>
[root@hoelderlin marcel]# export SANE_DEBUG_MICROTEK2=128<br>
[root@hoelderlin marcel]# scanimage -L<br>
[sanei_init_debug]: Setting debug level of microtek2 to 128.<br>
[microtek2] sane_init: Microtek2 (v0.3) says hello...<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='# See sane-microtek2(5) for a description of the options<br>
'<br>
[microtek2] add_device_list: device='# See sane-microtek2(5) for a description of the options'<br>
[microtek2] add_device_list: Comment or empty line in microtek2.conf<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='<br>
'<br>
[microtek2] add_device_list: device=''<br>
[microtek2] add_device_list: Comment or empty line in microtek2.conf<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[microtek2] attach_one: name='option dump 1<br>
'<br>
[microtek2] add_device_list: device='option dump 1'<br>
[microtek2] attach_one: returning<br>
[microtek2] returned from sanei_config_attach_matching_devices()<br>
[microtek2] calling sanei_config_attach_matching_devices()<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] searched device is /dev/sga<br>
[microtek2] attach_one: name='/dev/sga'<br>
[microtek2] add_device_list: device='/dev/sga'<br>
[microtek2] attach: device='/dev/sga'<br>
[microtek2] scsi_inquiry: mi=0x804cebc, device='/dev/sga'<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] scsi_req_enter: entered 0x804d588<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x804d588<br>
[sanei_scsi] sanei_scsi.issue: 0x804d588<br>
<p>
-----------------------------------------------------------------------<br>
<p>
System Log Messages after killing the scanimage process:<br>
<p>
Sep  4 16:13:03 hoelderlin kernel: scsi : aborting command due to timeout : pid 8, scsi0, channel 0, id 6, lun 0 Inquiry 00 00 00 60 00 <br>
Sep  4 16:13:03 hoelderlin kernel: aha152x: abort(), SCpnt=0x00092214, QUEUE STATUS:<br>
Sep  4 16:13:03 hoelderlin kernel: issue_SC:<br>
Sep  4 16:13:03 hoelderlin kernel: 0x00092214: target=6; lun=0; cmnd=(Inquiry 00 00 00 60 00 <br>
Sep  4 16:13:03 hoelderlin kernel: ); residual=96; buffers=0; phase |not issued|; next=0x00000000<br>
Sep  4 16:13:03 hoelderlin kernel: current_SC:<br>
Sep  4 16:13:03 hoelderlin kernel: none<br>
Sep  4 16:13:03 hoelderlin kernel: disconnected_SC:<br>
Sep  4 16:13:03 hoelderlin kernel: <br>
IO READ INTEN ); DMASTAT (DFIFOEMP )<br>
Sep  4 16:13:03 hoelderlin kernel: enabled interrupts (ENBUSFREE )<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Previous message:</b> <a href="0034.html">Bostjan Lemut: "How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Reply:</b> <a href="0036.html">Petter Adsen: "Re: ScanMaker E3 plus Problems"</a>
<li> <b>Reply:</b> <a href="0037.html">Marcel Oliver: "Re: ScanMaker E3 plus Problems"</a>
<!-- reply="end" -->
</ul>
