<!-- received="Sat Sep  5 00:10:05 1998 PDT" -->
<!-- sent="Sat, 5 Sep 1998 00:09:13 -0700 (PDT)" -->
<!-- name="Marcel Oliver" -->
<!-- email="moliver@math.uci.edu" -->
<!-- subject="ScanMaker E3 plus: Problems Solved" -->
<!-- id="199809050709.AAA12602@math.uci.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: ScanMaker E3 plus: Problems Solved</title>
<h1>ScanMaker E3 plus: Problems Solved</h1>
<b>Marcel Oliver</b> (<a href="mailto:moliver@math.uci.edu"><i>moliver@math.uci.edu</i></a>)<br>
<i>Sat, 5 Sep 1998 00:09:13 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#39">[ date ]</a><a href="index.html#39">[ thread ]</a><a href="subject.html#39">[ subject ]</a><a href="author.html#39">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Oliver Graf: "Olympus Camedia C-1400L"</a>
<li> <b>Previous message:</b> <a href="0038.html">Rogier Wolff: "Re: How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, I solved the problem with the ScanMaker E3 plus which I described<br>
earlier.  It's pretty stupid, but kept me trying for a few days...<br>
The SCSI card that comes with the scanner is an Adaptec AVA-1505,<br>
which is a plug-and-pray device.  It works great with the default<br>
jumper setting, is initialized OK during system start-up, and reports<br>
the scanner correctly.<br>
<p>
The Redhat 5.1 init script, however, calls isapnp to set up the sound<br>
card (also plug-and-pray), which apparently also trashes the SCSI<br>
configuration, from that moment the Adaptec card is essentially dead.<br>
Removing that part from the init script, and everything works fine...<br>
<p>
Sorry for generating this traffic on the list.  Unfortunately with the<br>
"advance" of hardware I guess I am not the last one to run into<br>
this...<br>
<p>
Marcel<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Oliver Graf: "Olympus Camedia C-1400L"</a>
<li> <b>Previous message:</b> <a href="0038.html">Rogier Wolff: "Re: How to build a db25 terminator"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
