<!-- received="Mon Sep 14 07:47:37 1998 PDT" -->
<!-- sent="Tue, 8 Sep 1998 11:09:42 -0400 (EDT)" -->
<!-- name="John M. Mills" -->
<!-- email="jmills@jmills.gtri.gatech.edu" -->
<!-- subject="Re: How to build a db25 terminator" -->
<!-- id="" -->
<!-- inreplyto="35F2EC92.42ACA35F@klub-kas.si" -->
<title>sane-devel: Re: How to build a db25 terminator</title>
<h1>Re: How to build a db25 terminator</h1>
<b>John M. Mills</b> (<a href="mailto:jmills@jmills.gtri.gatech.edu"><i>jmills@jmills.gtri.gatech.edu</i></a>)<br>
<i>Tue, 8 Sep 1998 11:09:42 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Mariano Rinc\sn: "support for Mustek ScanMagic 9636P"</a>
<li> <b>Previous message:</b> <a href="0086.html">Bill Trost: "network scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I checked an old SCSI reference and found the following:<br>
1) the given schematic is correct for single-ended SCSI termination, but<br>
   not for differential.  For differential, they suggest:<br>
<p>
                                       Vcc (+5.0 nominal)<br>
<i>                                        |</i><br>
                                        \<br>
                                        /  330 ohm<br>
                                       /<br>
                                       \<br>
<i>                                        |</i><br>
                            -Signal  ---+<br>
<i>                                        |</i><br>
                                        \<br>
                                        /  150 ohm<br>
                                       /<br>
                                       \<br>
<i>                                        |</i><br>
                            + Signal ---+<br>
<i>                                        |</i><br>
                                        \<br>
                                        /  330 ohm<br>
                                       /<br>
                                       \<br>
<i>                                        |</i><br>
                                       GND (0.0 v. nominal)<br>
                                       <br>
2. The signal table seems correct for differential 50-pin, but that was<br>
   not the same as single-ended 50 pin for at least some signals.<br>
<p>
3. My manual had no information on other configurations.<br>
<p>
I will look at the information which came with my SCSI card and my scanner<br>
to see if they confirm and/or extend this.  I have no reason to expect the<br>
low-speed SCSI interface at my card or scanner are differential; my<br>
aha1502e card uses the same DB-25 configuration as the Symbios P'n'P which<br>
came with the HP 4p scanner, and the scanner uses a 50-pin configuration. <br>
(My scanner includes a switch for internal termination, so I never worried<br>
about this.  Our Suns use submini DB-50 connectors and Sun provides a<br>
terminator to plug in at the end of the chain.  I have no descriptions of <br>
these - sorry.)<br>
<p>
  John M. Mills, Senior Research Engineer -- <a href="mailto:john.mills@gtri.gatech.edu">john.mills@gtri.gatech.edu</a><br>
  Georgia Tech Research Institute, Georgia Tech, Atlanta, GA 30332-0834<br>
        Phone contacts: 404.894.0151 (voice), 404.894.6285 (FAX)<br>
         "The cardinal virtues of a programmer are Laziness,<br>
            Impatience, and Hubris." -- attr. Larry Wall <br>
<p>
On Sun, 6 Sep 1998, Bostjan Lemut wrote:<br>
<p>
<i>&gt; Rogier Wolff wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Bostjan Lemut wrote:</i><br>
<i>&gt; &gt; [Charset iso-8859-2 unsupported, filtering to ASCII...]</i><br>
<i>&gt; &gt; &gt; Hi!</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; I've bought a second-hand UMAX Astra 600S scanner, but it came without</i><br>
<i>&gt; &gt; &gt; terminator (the scanner won't work without it). Since I can't buy it in</i><br>
<i>&gt; &gt; &gt; any computer shop in our country (it's very small one), I decided to</i><br>
<i>&gt; &gt; &gt; make one by myself. The problem is, i can't find a scheme on the WEB.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; I would be very greatful if anyone send me the scheme how to build the</i><br>
<i>&gt; &gt; &gt; damn terminator.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;                   +5V</i><br>
<i>&gt; &gt;                    |</i><br>
<i>&gt; &gt;                    |</i><br>
<i>&gt; &gt;                   |-|</i><br>
<i>&gt; &gt;                   | |  220 Ohm</i><br>
<i>&gt; &gt;                   |_|</i><br>
<i>&gt; &gt;                    |</i><br>
<i>&gt; &gt; Signal    ---------+</i><br>
<i>&gt; &gt;                    |</i><br>
<i>&gt; &gt;                   |-|</i><br>
<i>&gt; &gt;                   | |  330 Ohm.</i><br>
<i>&gt; &gt;                   |_|</i><br>
<i>&gt; &gt;                    |</i><br>
<i>&gt; &gt;                    |</i><br>
<i>&gt; &gt;                   GND</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; I've done some more detailed measurments, and I came up with next (see</i><br>
<i>&gt; attachments).</i><br>
<i>&gt; Can anybody confirm all this?</i><br>
<i>&gt; </i><br>
<i>&gt; Bostjan</i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Mariano Rinc\sn: "support for Mustek ScanMagic 9636P"</a>
<li> <b>Previous message:</b> <a href="0086.html">Bill Trost: "network scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
