<!-- received="Tue Sep 22 09:18:27 1998 PDT" -->
<!-- sent="Tue, 22 Sep 1998 12:21:22 -0400" -->
<!-- name="Mike D." -->
<!-- email="v_due@mindspring.com" -->
<!-- subject="Re: Microtek ScanMaker V300?" -->
<!-- id="" -->
<!-- inreplyto="Microtek ScanMaker V300?" -->
<title>sane-devel: Re: Microtek ScanMaker V300?</title>
<h1>Re: Microtek ScanMaker V300?</h1>
<b>Mike D.</b> (<a href="mailto:v_due@mindspring.com"><i>v_due@mindspring.com</i></a>)<br>
<i>Tue, 22 Sep 1998 12:21:22 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0154.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Maybe in reply to:</b> <a href="0143.html">David B. Rees: "Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David B. Rees wrote:<br>
<p>
<i>&gt; echo "scsi add-single-device 0 0 6 0" &gt; /proc/scsi/scsi</i><br>
<i>&gt;</i><br>
<i>&gt; command with root.  The green light at the front of the scanner turns off, and</i><br>
<i>&gt; then the computer starts becoming unresponsive.  If I don't turn off the</i><br>
<i>&gt; scanner, eventually the kernel freezes.  Turning off the scanner allows the</i><br>
<i>&gt; scsi driver to return to normal.  Leaving the scanner on during boot seems to</i><br>
<i>&gt; work fine.  Maybe I should test this thing under win95 (ugh) just to make sure</i><br>
<i>&gt; it works.  This is a Tekram 390F (UltraWide).  I am using a SCSI-3 cable (68pin</i><br>
<i>&gt; on one end, 50pin Centronics to the scanner, with an inline passive</i><br>
<i>&gt; terminator).  Could the terminator be the problem?  I don't need an active</i><br>
<i>&gt; terminator, do I?</i><br>
<i>&gt;</i><br>
<p>
I could be wrong, but I believe that Ultra and above scsi needs active termination.<br>
<p>
At least that is what the manual for my BusLogic card says.<br>
<p>
mike<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0154.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Maybe in reply to:</b> <a href="0143.html">David B. Rees: "Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
