<!-- received="Tue Sep 22 12:30:42 1998 PDT" -->
<!-- sent="Tue, 22 Sep 1998 20:30:47 +0100" -->
<!-- name="Lee Mitchell" -->
<!-- email="lee@spamtastic.demon.co.uk" -->
<!-- subject="xscanimage" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage</title>
<h1>xscanimage</h1>
<b>Lee Mitchell</b> (<a href="mailto:lee@spamtastic.demon.co.uk"><i>lee@spamtastic.demon.co.uk</i></a>)<br>
<i>Tue, 22 Sep 1998 20:30:47 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Huub Reuver: "Re: newbie trouble"</a>
<li> <b>Previous message:</b> <a href="0157.html">Brian E. Bothwell: "Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0172.html">Lee Mitchell: "Re: xscanimage"</a>
<li> <b>Reply:</b> <a href="0172.html">Lee Mitchell: "Re: xscanimage"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi folks,<br>
    Sorry if this has been asked before (I did look for an answer first !)<br>
<p>
I have a Canon CanoScan 300 SCSI scanner connected to an adaptec 2940 card.<br>
I can get xscanimage to work if I type :-<br>
<p>
xscanimage canon:/dev/scsi<br>
<p>
but not if I type :-<br>
<p>
xscanimage<br>
<p>
thus it refuses to work with the GIMP !<br>
<p>
any suggestions ?<br>
<p>
Thanks in advance...<br>
<p>
Lee Mitchell<br>
<a href="mailto:lee@spamtastic.demon.co.uk">lee@spamtastic.demon.co.uk</a><br>
www.spamtastic.demon.co.uk<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">Huub Reuver: "Re: newbie trouble"</a>
<li> <b>Previous message:</b> <a href="0157.html">Brian E. Bothwell: "Re: Microtek ScanMaker V300?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0172.html">Lee Mitchell: "Re: xscanimage"</a>
<li> <b>Reply:</b> <a href="0172.html">Lee Mitchell: "Re: xscanimage"</a>
<!-- reply="end" -->
</ul>
