<!-- received="Thu Sep 24 06:52:50 1998 PDT" -->
<!-- sent="Thu, 24 Sep 1998 15:51:28 +0200 (MEST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: CanoScan 300 SCSI scanner setup problem" -->
<!-- id="199809241351.PAA01272@cave.BitWizard.nl" -->
<!-- inreplyto="35F4312D.6E66AD84@direct.a2000.nl" -->
<title>sane-devel: Re: CanoScan 300 SCSI scanner setup problem</title>
<h1>Re: CanoScan 300 SCSI scanner setup problem</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Thu, 24 Sep 1998 15:51:28 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#169">[ date ]</a><a href="index.html#169">[ thread ]</a><a href="subject.html#169">[ subject ]</a><a href="author.html#169">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Fabrice Rossi: "Re: Film scanner under sane"</a>
<li> <b>Previous message:</b> <a href="0168.html">Frank Haase: "Re: Film scanner under sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<li> <b>Reply:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Durk Talsma wrote:<br>
<i>&gt; Hello everybody,</i><br>
<i>&gt; </i><br>
<i>&gt; Recently, I discovered the SANE project, and would very much like to use</i><br>
<i>&gt; it for running</i><br>
<i>&gt; a scanner on my l Linux box. I haven't been very succesful in getting my</i><br>
<i>&gt; scanner recognized though, using</i><br>
<i>&gt; sane 0.74</i><br>
<i>&gt; </i><br>
<i>&gt; I have a Canon Canoscan 300 flatbed scanner, configured for LUN 03 and a</i><br>
<i>&gt; ncr810 SCSI host adapter.</i><br>
<i>&gt; My kernel is configured with generic SCSI support, and have found the</i><br>
<i>&gt; generic SCSI devices /dev/sga</i><br>
<i>&gt; through /dev/sgh. No, I'm not much of a SCSI expert, but assuming that</i><br>
<i>&gt; /dev/sgd correspondes with LUN 03,</i><br>
<p>
No. sga is the lowest-lun with a device in the system. <br>
<p>
					Roger.<br>
<p>
<p>
<pre>
-- 
Actor asks a collegue: "To what do you owe your success in acting?"
Answer: "Honesty. Once you've learned how to fake that, you've got it made."
-------- Custom Linux device drivers for sale! Call for a quote. ----------
Email: <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> || Tel: +31-15-2137555 || FAX: +31-15-2138217
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0170.html">Fabrice Rossi: "Re: Film scanner under sane"</a>
<li> <b>Previous message:</b> <a href="0168.html">Frank Haase: "Re: Film scanner under sane"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<li> <b>Reply:</b> <a href="0177.html">Hugo van der Kooij: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<!-- reply="end" -->
</ul>
