<!-- received="Thu Sep 24 23:59:22 1998 PDT" -->
<!-- sent="Fri, 25 Sep 1998 08:56:37 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: CanoScan 300 SCSI scanner setup problem" -->
<!-- id="" -->
<!-- inreplyto="199809241351.PAA01272@cave.BitWizard.nl" -->
<title>sane-devel: Re: CanoScan 300 SCSI scanner setup problem</title>
<h1>Re: CanoScan 300 SCSI scanner setup problem</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 25 Sep 1998 08:56:37 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#177">[ date ]</a><a href="index.html#177">[ thread ]</a><a href="subject.html#177">[ subject ]</a><a href="author.html#177">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0176.html">Matto Marjanovic: "Re: permissions"</a>
<li> <b>In reply to:</b> <a href="0169.html">Rogier Wolff: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 24 Sep 1998, Rogier Wolff wrote:<br>
<p>
<i>&gt; Durk Talsma wrote:</i><br>
<i>&gt; &gt; Hello everybody,</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Recently, I discovered the SANE project, and would very much like to use</i><br>
<i>&gt; &gt; it for running</i><br>
<i>&gt; &gt; a scanner on my l Linux box. I haven't been very succesful in getting my</i><br>
<i>&gt; &gt; scanner recognized though, using</i><br>
<i>&gt; &gt; sane 0.74</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; I have a Canon Canoscan 300 flatbed scanner, configured for LUN 03 and a</i><br>
<i>&gt; &gt; ncr810 SCSI host adapter.</i><br>
<i>&gt; &gt; My kernel is configured with generic SCSI support, and have found the</i><br>
<i>&gt; &gt; generic SCSI devices /dev/sga</i><br>
<i>&gt; &gt; through /dev/sgh. No, I'm not much of a SCSI expert, but assuming that</i><br>
<i>&gt; &gt; /dev/sgd correspondes with LUN 03,</i><br>
<i>&gt; </i><br>
<i>&gt; No. sga is the lowest-lun with a device in the system. </i><br>
<p>
Pardon me but are you guys referring to LUN's or SCSI ID's? They both<br>
matter but could cause a misunderstanding here.<br>
<p>
for those that don't know: LUN's is short for Logical Unit Number and is a<br>
subnumbering scheme for SCSI devices. For example my Panasonic PowerDrive<br>
is both CD player and PD station. It uses SCSI ID 3. But the PD uses LUN 0<br>
and the CD part does use LUN 1.<br>
<p>
SG devices are handed out per LUN so my SCSI bus has 6 generic devices in<br>
the kernel but only 5 physical devices on the bus (besides the card ;-).<br>
<p>
xcdroast can show this nicely to you (should you have it at hand).<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0178.html">David B. Rees: "Re: Microtek ScanMaker V300?"</a>
<li> <b>Previous message:</b> <a href="0176.html">Matto Marjanovic: "Re: permissions"</a>
<li> <b>In reply to:</b> <a href="0169.html">Rogier Wolff: "Re: CanoScan 300 SCSI scanner setup problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
