<!-- received="Tue Dec  1 04:14:19 1998 PST" -->
<!-- sent="Tue, 01 Dec 1998 14:07:59 +0100" -->
<!-- name="Thomas Booms" -->
<!-- email="Thomas.Booms@booms-edv.de" -->
<!-- subject="Mustek MFS12000SP and Nikon LS1000" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek MFS12000SP and Nikon LS1000</title>
<h1>Mustek MFS12000SP and Nikon LS1000</h1>
<b>Thomas Booms</b> (<a href="mailto:Thomas.Booms@booms-edv.de"><i>Thomas.Booms@booms-edv.de</i></a>)<br>
<i>Tue, 01 Dec 1998 14:07:59 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Christian Ordig: "RE: Genius parallel port scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0002.html">David Fox: "Re: Mustek MFS12000SP and Nikon LS1000"</a>
<li> <b>Reply:</b> <a href="0002.html">David Fox: "Re: Mustek MFS12000SP and Nikon LS1000"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi everybody,<br>
<p>
are these scanners running with Sane now? I work on the Nikon with a<br>
slidefeeder too.<br>
<p>
I don't have experiences with sane and I'm new to this list too.<br>
<p>
Thomas<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Christian Ordig: "RE: Genius parallel port scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0002.html">David Fox: "Re: Mustek MFS12000SP and Nikon LS1000"</a>
<li> <b>Reply:</b> <a href="0002.html">David Fox: "Re: Mustek MFS12000SP and Nikon LS1000"</a>
<!-- reply="end" -->
</ul>
