<!-- received="Tue Dec  1 12:24:10 1998 PST" -->
<!-- sent="Tue, 01 Dec 1998 01:18:55 +0000" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Genius scanners" -->
<!-- id="m0zkeSt-0005dTC@hex" -->
<!-- inreplyto="3661413d.2769842@tbs.co.za" -->
<title>sane-devel: Re: Genius scanners</title>
<h1>Re: Genius scanners</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Tue, 01 Dec 1998 01:18:55 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Fox: "Adjusting contrast and brightness"</a>
<li> <b>Previous message:</b> <a href="0002.html">David Fox: "Re: Mustek MFS12000SP and Nikon LS1000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0004.html">David Fox: "Adjusting contrast and brightness"</a>
<li> <b>Reply:</b> <a href="0004.html">David Fox: "Adjusting contrast and brightness"</a>
<li> <b>Reply:</b> <a href="0008.html">Jon Knight: "Re: Genius scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:bert@e.co.za">bert@e.co.za</a> said:<br>
<i>&gt; I own a Genius Colorpage vivid+ parallel port scanner. Does anybody</i><br>
<i>&gt; know whether it is compatible with one of the currently supported SANE</i><br>
<i>&gt; scanners? If not, I would be prepared to code support for it, anybody</i><br>
<i>&gt; got any tips on getting its protocol, or would the easiest be to try</i><br>
<i>&gt; and figure this out with a logic analyzer while scanning? </i><br>
<p>
If you can't get the information from Genius you best bet is probably to<br>
try and get a Win 3.1 driver working under Wine and capture the output<br>
using the port tracing facilities of Wine.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Fox: "Adjusting contrast and brightness"</a>
<li> <b>Previous message:</b> <a href="0002.html">David Fox: "Re: Mustek MFS12000SP and Nikon LS1000"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0004.html">David Fox: "Adjusting contrast and brightness"</a>
<li> <b>Reply:</b> <a href="0004.html">David Fox: "Adjusting contrast and brightness"</a>
<li> <b>Reply:</b> <a href="0008.html">Jon Knight: "Re: Genius scanners"</a>
<!-- reply="end" -->
</ul>
