<!-- received="Sun Dec  6 23:41:23 1998 PST" -->
<!-- sent="Mon, 7 Dec 1998 08:42:04 +0100 (CET)" -->
<!-- name="Mentore #cat# Siesto" -->
<!-- email="s135989@studenti.ing.unipi.it" -->
<!-- subject="Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="" -->
<!-- inreplyto="3667FF99.B0C9280A@catalina-inter.net" -->
<title>sane-devel: Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE</h1>
<b>Mentore #cat# Siesto</b> (<a href="mailto:s135989@studenti.ing.unipi.it"><i>s135989@studenti.ing.unipi.it</i></a>)<br>
<i>Mon, 7 Dec 1998 08:42:04 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Minh Van: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0060.html">Hugo van der Kooij: "Re: Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 4 Dec 1998, Chris Sparks wrote:<br>
<p>
+Arun wrote:<br>
+<br>
+&gt; I am working on a TWAIN interface to SANE. I expect to have a trial version<br>
+&gt; ready on 15th December. I'll announce it on this list and put it up for<br>
+&gt; download.<br>
+<br>
+How will it work?  I have an old sheet feed scanner that is TWAIN<br>
+compliant,<br>
+well as far as I know.  Will this software know to access the port<br>
+correctly?<br>
+<br>
Now that's interesting... Though TWAIN isn't SANE, we can make them<br>
compatible... Thus allowing my Epson GT 300 to work under OS/2!!!<br>
<p>
Mentore<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Minh Van: "Re: sane-devel: Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Previous message:</b> <a href="0060.html">Hugo van der Kooij: "Re: Solaris v2.6 support?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
