<!-- received="Mon Dec  7 19:51:54 1998 PST" -->
<!-- sent="03 Dec 1998 01:13:51 -0800" -->
<!-- name="Gary D. Foster" -->
<!-- email="gfoster@suzieq.ml.org" -->
<!-- subject="supported platform updates" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: supported platform updates</title>
<h1>supported platform updates</h1>
<b>Gary D. Foster</b> (<a href="mailto:gfoster@suzieq.ml.org"><i>gfoster@suzieq.ml.org</i></a>)<br>
<i>03 Dec 1998 01:13:51 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#85">[ date ]</a><a href="index.html#85">[ thread ]</a><a href="subject.html#85">[ subject ]</a><a href="author.html#85">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Hubert Piatkowski: "SANE Mailing List"</a>
<li> <b>Previous message:</b> <a href="0084.html">Edmund Humenberger: "microtek Scanmaker 630  please help!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thought I could add a few entries to your supported platform updates:<br>
<p>
I've been running sane-0.74 under sparc/solaris 2.6 with gimp<br>
support.  Basically, everything should be a "yes" in your supported<br>
platform matrix.<br>
<p>
I've also just finished installing sane-1.00 under sparc/solaris 2.7<br>
(solaris7) and it all should be "yes" as well.  There were some<br>
compilation difficulties and I had to tweak the code a bit here and<br>
there to get it to finish compiling, but it's now up and running.<br>
<p>
These were compiled with egcs-1.1.1, btw.<br>
<p>
-- Gary F.<br>
<p>
<pre>
-- 
"There is no shame in a UNIX Sysadmin not coping with a Mac.  Auto
mechanics don't have to fix rubber squeak toys."
				-- Carl Rigney
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0086.html">Hubert Piatkowski: "SANE Mailing List"</a>
<li> <b>Previous message:</b> <a href="0084.html">Edmund Humenberger: "microtek Scanmaker 630  please help!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
