<!-- received="Wed Dec  9 14:48:58 1998 PST" -->
<!-- sent="Wed, 9 Dec 1998 17:48:10 -0500 (EST)" -->
<!-- name="Chris Pinkham" -->
<!-- email="cpinkham@billing.infi.net" -->
<!-- subject="Re: Saned screwing up???" -->
<!-- id="9812092248.AA17806@mulder.looney.infi.net" -->
<!-- inreplyto="199812090544.AAA06157@panther.panther.net" -->
<title>sane-devel: Re: Saned screwing up???</title>
<h1>Re: Saned screwing up???</h1>
<b>Chris Pinkham</b> (<a href="mailto:cpinkham@billing.infi.net"><i>cpinkham@billing.infi.net</i></a>)<br>
<i>Wed, 9 Dec 1998 17:48:10 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#124">[ date ]</a><a href="index.html#124">[ thread ]</a><a href="subject.html#124">[ subject ]</a><a href="author.html#124">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Frank Berger: "Re: Scanexpress 6000 SP / Unknown Model ' C03 S10IDWM103599'"</a>
<li> <b>Previous message:</b> <a href="0123.html">Dave Restall - System Administrator: "Re:- Pacific Image Electronics 630P ?"</a>
<li> <b>In reply to:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I have tested the modifications directly accessing the artec backend via</i><br>
<i>&gt; xscanimage, accessing via saned in debug mode, and accessing saned being</i><br>
<i>&gt; started by inetd.</i><br>
<p>
OK, here I am replying to my own message.  I received an email from Andre<br>
telling me that the changes I made work correctly on his system also, so I<br>
have posted a new version of the artec backend on my webpage.  This<br>
fixes the problem with using saned and the net backend.<br>
<p>
Chris<br>
<p>
*****************************************************************************<br>
** Chris Pinkham                      Linux v2.0.35, Sane v1.00, Gimp v1.0 **<br>
** <a href="mailto:cpinkham@sh001.infi.net">cpinkham@sh001.infi.net</a>                 <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **<br>
*****************************************************************************<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Frank Berger: "Re: Scanexpress 6000 SP / Unknown Model ' C03 S10IDWM103599'"</a>
<li> <b>Previous message:</b> <a href="0123.html">Dave Restall - System Administrator: "Re:- Pacific Image Electronics 630P ?"</a>
<li> <b>In reply to:</b> <a href="0120.html">Chris Pinkham: "Re: Saned screwing up???"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
