<!-- received="Wed Dec  9 22:02:09 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 00:07:47 -0600" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="Re: Difference between 2 distro of Linux :(" -->
<!-- id="" -->
<!-- inreplyto="Difference between 2 distro of Linux :(" -->
<title>sane-devel: Re: Difference between 2 distro of Linux :(</title>
<h1>Re: Difference between 2 distro of Linux :(</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Thu, 10 Dec 1998 00:07:47 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Pascal Bonete: "Re:- Pacific Image Electronics 630P ?"</a>
<li> <b>Previous message:</b> <a href="0126.html">Milon Firikis: "Re: SANE standard,"</a>
<li> <b>Maybe in reply to:</b> <a href="0093.html">Thomas Nemeth: "Difference between 2 distro of Linux :("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thomas Nemeth wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt;         Hi,</i><br>
<i>&gt;         I have an old Slackware with gimp-1.0.0 and sane-0.74</i><br>
<i>&gt;         and a Snapscan 310 AGFA scanner : the whole thing works</i><br>
<i>&gt;         perfectly :)</i><br>
<i>&gt; </i><br>
<i>&gt;         Recently I have installed the new debian 2.0, but instead</i><br>
<i>&gt;         of using the .deb packages (which don't install programs</i><br>
<i>&gt;         in /usr/local) I compiled sane-1.0.0 but it didn't work :(</i><br>
<i>&gt; </i><br>
<i>&gt;         Here are the systems settings :</i><br>
<i>&gt;         - kernel 2.0.33 (compiled with generic scsi device)</i><br>
<i>&gt;         - /dev/sga created by MAKEDEV</i><br>
<i>&gt;         - GTK 1.0.4</i><br>
<i>&gt;         - gcc 2.7.2.3</i><br>
<i>&gt;         - aha1505 scsi card (for the 1st card, 2nd is Tekram DC390F)</i><br>
<i>&gt; </i><br>
<i>&gt;         Symptom :</i><br>
<i>&gt;         scanimage/xscanimage can't recognise -d snapscan:/dev/sga</i><br>
<i>&gt;         but only pnm:0 and pnm:1 :(</i><br>
<i>&gt;         (The scanner is recongised at boot, as well as the scsi card)</i><br>
<i>&gt; </i><br>
<i>&gt;         Have you got any idea for solving my problem ???</i><br>
<i>&gt;</i><br>
<p>
The move to sane-1.00 has uncovered a mysterious bug in the snapscan<br>
backend. I'm in the process of tracking down the error now and<br>
hope to have the backend working properly with the package in the<br>
next couple of days. My sincere apologies, everyone. The release of<br>
sane 1.00 came at a bad time for me and I didn't give the snapscan<br>
backend the proper testing it should have gotten.<br>
<p>
When I get it fixed I'll make a patched backend available.<br>
<p>
Thanks,<br>
<p>
Kevin<br>
 <br>
<pre>
-- 
Kevin Charter                                            Grad Studies
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a>                    Department of Computer Science
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a>                       Rice University
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">Pascal Bonete: "Re:- Pacific Image Electronics 630P ?"</a>
<li> <b>Previous message:</b> <a href="0126.html">Milon Firikis: "Re: SANE standard,"</a>
<li> <b>Maybe in reply to:</b> <a href="0093.html">Thomas Nemeth: "Difference between 2 distro of Linux :("</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
