<!-- received="Thu Dec 10 11:30:52 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 20:22:07 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX 1200S Astra hangs, then resumes" -->
<!-- id="" -->
<!-- inreplyto="UMAX 1200S Astra hangs, then resumes" -->
<title>sane-devel: Re: UMAX 1200S Astra hangs, then resumes</title>
<h1>Re: UMAX 1200S Astra hangs, then resumes</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 10 Dec 1998 20:22:07 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Oliver Rauch: "pre alpha version of my new sane-frontend out"</a>
<li> <b>Previous message:</b> <a href="0135.html">James Michael Keller: "xcam and quickcam color"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">Chris Burns: "UMAX 1200S Astra hangs, then resumes"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0142.html">Oliver Rauch: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Chris Burns wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; However,</i><br>
<i>&gt; scanimage -d umax:/dev/sga &gt; test.pnm</i><br>
<i>&gt; is a different matter.  The scanner starts to san about 2 inches, then</i><br>
<i>&gt; stops and scanimage hangs.  At first, we thought it had crashed, but</i><br>
<i>&gt; then discovered if we left it for 10-12 minutes, it would resume scanning</i><br>
<i>&gt; and give us the image!  In /var/log/messages, however, we found the</i><br>
<i>&gt; following:</i><br>
<i>&gt;</i><br>
<i>&gt; Dec  7 16:04:44 mandragona kernel: scsi : aborting command due to timeout : pid 100, scsi1, channel 0, id 5, lun 0 Test Unit Ready 00 00 00 00 00</i><br>
<i>&gt;</i><br>
<i>&gt; Being somewhat new to SCSI and sane, I'm not sure whether this is a problem</i><br>
<i>&gt; with aic7xxx.o or sane, so I'm posting to both mail lists in hopes that</i><br>
<i>&gt; someone out there has suggestions.  BTW, the scanner works fine in Windoze.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
  Hi Chris,<br>
<p>
you can try to disable command-queeing and reconnect/disconnect for the scsi-driver-module.<br>
<p>
Did you terminate the scsi-bus correctly?<br>
This can cause such problems, too!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Oliver Rauch: "pre alpha version of my new sane-frontend out"</a>
<li> <b>Previous message:</b> <a href="0135.html">James Michael Keller: "xcam and quickcam color"</a>
<li> <b>Maybe in reply to:</b> <a href="0134.html">Chris Burns: "UMAX 1200S Astra hangs, then resumes"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0142.html">Oliver Rauch: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<!-- reply="end" -->
</ul>
