<!-- received="Thu Dec 10 13:10:32 1998 PST" -->
<!-- sent="Thu, 10 Dec 1998 23:46:14 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: SANE standard," -->
<!-- id="m0zoEqc-000CIcC@hades.beck-sw.de" -->
<!-- inreplyto="366F0C19.5FC20DBA@ariadne-t.gr" -->
<title>sane-devel: Re: SANE standard,</title>
<h1>Re: SANE standard,</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 10 Dec 1998 23:46:14 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#143">[ date ]</a><a href="index.html#143">[ thread ]</a><a href="subject.html#143">[ subject ]</a><a href="author.html#143">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Kaare Rasmussen: "Re: pre alpha version of my new sane-frontend out"</a>
<li> <b>Previous message:</b> <a href="0142.html">Oliver Rauch: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>In reply to:</b> <a href="0080.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; &gt; For the handscanners one can use LHII as an intermediate layer. The bridge</i><br>
<i>&gt; &gt; to SANE should be pretty trivial. For more advanced scanners, maybe someone</i><br>
<i>&gt; &gt; could make LHII.V2, maybe making it a little more like SANE.</i><br>
<i>&gt; &gt; I will gladly give advice on that topic, as well as an LHII-&gt;SANE bridge,</i><br>
<i>&gt; &gt; if someone finally takes the challenge.</i><br>
<p>
<i>&gt; I am afraid I don't know so I have to ask since you ping to my</i><br>
<i>&gt; curiosity:</i><br>
<p>
Yes - that was the purpose. Maybe we finally find someone doing it.<br>
I'll try to play whatever trick is needed to lure someone into that job ;-).<br>
<p>
<i>&gt; what is LHII? LHII.V2 ?</i><br>
<p>
LHII - Linux Handscanner Ioctl Interface. This is in some sense the<br>
predecessor of SANE, as it inspired many ideas that went into the basic<br>
design of SANE.<br>
It is used by a bunch of kernellevel modules that drive handscanners like<br>
the Logitech scanman (this driver was written by me), The Mustek M800<br>
series, some Genius and a4tec scanners etc.<br>
<p>
A bridge to SANE should be pretty trivial to do and would be quite helpful,<br>
as it would finally unify those two protocols.<br>
<p>
LHII.V2 is something that is not yet defined. the original mail dealt with<br>
some scanner using a proprietary card. If it is not a handscanner or has<br>
advanced options as compared to the ones available at the time logiscan was<br>
written, it might be needed to extend the known LHII interface and make a<br>
V2 of it.<br>
<p>
Now: Any takers ?<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0144.html">Kaare Rasmussen: "Re: pre alpha version of my new sane-frontend out"</a>
<li> <b>Previous message:</b> <a href="0142.html">Oliver Rauch: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<li> <b>In reply to:</b> <a href="0080.html">: ""</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
