<!-- received="Fri Dec 11 07:15:36 1998 PST" -->
<!-- sent="Fri, 11 Dec 1998 10:14:35 -0500 (EST)" -->
<!-- name="Ted Llewellyn" -->
<!-- email="llewell@interport.net" -->
<!-- subject="SANE version" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE version</title>
<h1>SANE version</h1>
<b>Ted Llewellyn</b> (<a href="mailto:llewell@interport.net"><i>llewell@interport.net</i></a>)<br>
<i>Fri, 11 Dec 1998 10:14:35 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">aRtsCi - Nikolas Diamandis: "What about the ScanExpress 12000P?"</a>
<li> <b>Previous message:</b> <a href="0153.html">Michal Sajdak: "Primax 9600"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  Is there any way to tell which version of SANE is actually running?<br>
Since I deleted the old version after installing v1.0 (they were in<br>
different locations) I'm probably just being paranoid, but I'm trying to<br>
debug a problem and I'd like to know.<br>
  Basically, my scanner crashes if I scan more than about 175 ppi when I<br>
invoke xscanimage from Gimp, but works fine if I run xscanimage<br>
standalone.  I upgraded SANE to no effect, and I want to know for sure<br>
that the upgrade happened.<br>
  My setup is Linux 2.0.34 (Debian 2.0), P233 128Mb, Gimp 1.0, Microtek<br>
ScanMaker E3, Adaptec 1505.<br>
<p>
 _ () _-- __()       Ted Llewellyn<br>
    )  _--  /        <br>
   /_--    /__---    <br>
 (/      (/          <br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">aRtsCi - Nikolas Diamandis: "What about the ScanExpress 12000P?"</a>
<li> <b>Previous message:</b> <a href="0153.html">Michal Sajdak: "Primax 9600"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
