<!-- received="Sun Dec 13 08:54:18 1998 PST" -->
<!-- sent="Sun, 13 Dec 1998 16:54:08 +0000" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek ScanExpress 12000P. Is it SCSI?" -->
<!-- id="" -->
<!-- inreplyto="Mustek ScanExpress 12000P. Is it SCSI?" -->
<title>sane-devel: Re: Mustek ScanExpress 12000P. Is it SCSI?</title>
<h1>Re: Mustek ScanExpress 12000P. Is it SCSI?</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Sun, 13 Dec 1998 16:54:08 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Dr. Andreas Bolsch: "Re: 6000SP: failed to open device /dev/sg0 invalid argument"</a>
<li> <b>Previous message:</b> <a href="0185.html">Hugo van der Kooij: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Maybe in reply to:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">aRtsCi - Nikolas Diamandis: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Look at the box or Manual. If it says 'parallel'<br>
then you're lost. Because Mustek doesn't seem to<br>
disclose the parallel port protocol.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Dr. Andreas Bolsch: "Re: 6000SP: failed to open device /dev/sg0 invalid argument"</a>
<li> <b>Previous message:</b> <a href="0185.html">Hugo van der Kooij: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Maybe in reply to:</b> <a href="0184.html">aRtsCi - Nikolas Diamandis: "Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0213.html">aRtsCi - Nikolas Diamandis: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<!-- reply="end" -->
</ul>
