<!-- received="Sun Dec 13 17:29:07 1998 PST" -->
<!-- sent="Mon, 14 Dec 1998 02:28:39 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problems using Umax Astr 1220S scanner under SANE - more..." -->
<!-- id="" -->
<!-- inreplyto="Problems using Umax Astr 1220S scanner under SANE - more..." -->
<title>sane-devel: Re: Problems using Umax Astr 1220S scanner under SANE - more...</title>
<h1>Re: Problems using Umax Astr 1220S scanner under SANE - more...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 14 Dec 1998 02:28:39 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#204">[ date ]</a><a href="index.html#204">[ thread ]</a><a href="subject.html#204">[ subject ]</a><a href="author.html#204">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Oliver Rauch: "Re: New and improved development model?"</a>
<li> <b>Previous message:</b> <a href="0203.html">Oliver Rauch: "Re: New and improved development model?"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">Gregory Propf: "Problems using Umax Astr 1220S scanner under SANE - more..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Gregory Propf wrote:<br>
<p>
<i>&gt; Yesterday, I sent a note about my problems with the Astra 1220s under</i><br>
<i>&gt; sane.  I set SANE_DEBUG_SANEI_SCSI=128 and ran scanimage to do a test</i><br>
<i>&gt; scan.  In the debug info there were many entries of the format below.</i><br>
<i>&gt; Finally the scan just froze and when I tried to stop the scan the</i><br>
<i>&gt; program just printed "scanimage: stopping scanner..." and hung there.</i><br>
<i>&gt; After a few minutes the system itself hung nad had to be reset.  Hope</i><br>
<i>&gt; this helps.</i><br>
<i>&gt;</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: read 36 bytes</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Input/output</i><br>
<i>&gt; error</i><br>
<i>&gt; [sanei_scsi] scsi_req_enter: entered 0x80553c8</i><br>
<i>&gt; [sanei_scsi] sanei_scsi_req_wait: waiting for 0x80553c8</i><br>
<i>&gt; [sanei_scsi] sanei_scsi.issue: 0x80553c8</i><br>
<i>&gt;</i><br>
<p>
Hi Gregory,<br>
<p>
what sane-version, os-version (linux?,kernel), scsi-controller do you use?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0205.html">Oliver Rauch: "Re: New and improved development model?"</a>
<li> <b>Previous message:</b> <a href="0203.html">Oliver Rauch: "Re: New and improved development model?"</a>
<li> <b>Maybe in reply to:</b> <a href="0199.html">Gregory Propf: "Problems using Umax Astr 1220S scanner under SANE - more..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
