<!-- received="Mon Dec 14 12:12:54 1998 PST" -->
<!-- sent="Mon, 14 Dec 1998 21:11:06 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: Sane1.0 SOLARIS2.6" -->
<!-- id="199812142011.VAA07656@garfield.m.isar.de" -->
<!-- inreplyto="Sane1.0 SOLARIS2.6" -->
<title>sane-devel: Re: Sane1.0 SOLARIS2.6</title>
<h1>Re: Sane1.0 SOLARIS2.6</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Mon, 14 Dec 1998 21:11:06 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Previous message:</b> <a href="0213.html">aRtsCi - Nikolas Diamandis: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Maybe in reply to:</b> <a href="0210.html">Wolfgang Cohrs: "Sane1.0 SOLARIS2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Martin Huber: "Re: Sane1.0 SOLARIS2.6"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Hi,</i><br>
<i>&gt; i have installed sane1.0 on SunOS 5.6 Generic_105181-03 sun4u sparc</i><br>
<i>&gt; SUNW,Ultra-1System = SunOS.</i><br>
<i>&gt; find-scanner: found scanner "APPLE SCANNER II 2.04" at device /dev/scg0b</i><br>
<i>&gt; give this output.</i><br>
<i>&gt; as root  "scanimage -d apple:/dev/scg0b &gt; test " is ok</i><br>
<i>&gt; as a normal user i have this error</i><br>
<i>&gt; scanimage: open of device apple:/dev/scg0b failed: Invalid argument</i><br>
<i>&gt; </i><br>
<i>&gt; please help me</i><br>
<i>&gt; </i><br>
<i>&gt; wolfgang</i><br>
<i>&gt; </i><br>
<p>
Only root has read/write permission on /dev/scg0 has as default, and it is<br>
dangerous to change this (read README.Solaris in the sane directory).<br>
<p>
 --martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Martin Huber: "Re: hp-backend: 2nd try parallel support and new ADF support"</a>
<li> <b>Previous message:</b> <a href="0213.html">aRtsCi - Nikolas Diamandis: "Re: Mustek ScanExpress 12000P. Is it SCSI?"</a>
<li> <b>Maybe in reply to:</b> <a href="0210.html">Wolfgang Cohrs: "Sane1.0 SOLARIS2.6"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Martin Huber: "Re: Sane1.0 SOLARIS2.6"</a>
<!-- reply="end" -->
</ul>
