<!-- received="Mon Dec 14 19:14:45 1998 PST" -->
<!-- sent="Tue, 15 Dec 1998 02:00:11 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek ScanExpress 12000P. Is it SCSI?" -->
<!-- id="m0zpiqR-000CF6C@hades.beck-sw.de" -->
<!-- inreplyto="36756A20.25D5C8BE@freemail.gr" -->
<title>sane-devel: Re: Mustek ScanExpress 12000P. Is it SCSI?</title>
<h1>Re: Mustek ScanExpress 12000P. Is it SCSI?</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 15 Dec 1998 02:00:11 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#220">[ date ]</a><a href="index.html#220">[ thread ]</a><a href="subject.html#220">[ subject ]</a><a href="author.html#220">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Michael Gray: "Re: Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0219.html">Bernd Schroeder: "Re: Question/SANE problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
Though this is Linux specific :<br>
<p>
<i>&gt; There is an option in the kernel configuration which allows the use of</i><br>
<i>&gt; SCSI drivers for ATAPI devices when there is no proper driver for the</i><br>
<i>&gt; device. </i><br>
<p>
Wrong. The purpose of that "driver" is, that some devices like CD-writers<br>
are actually SCSI devices, while for gaining a bigger market, they are<br>
equipped with an IDE interface (as not everyone has a SCSI card).<br>
ATAPI has provisions for pushing SCSI commands through the IDE interface,<br>
which is what that driver does.<br>
<p>
<i>&gt; Should I search it this way or it is a lost of time?</i><br>
<p>
As long as your scanner does not connect to the hard disk port (IDE), it<br>
is lost time. The day someone builds scanners for the IDE port, someone <br>
should finally go out and shoot the hardware designer.<br>
Parallel is sick enough, but at least, you may have a cable of decent<br>
length.<br>
<p>
<i>&gt; Are SANE developers planning to support 12000P in the near future?</i><br>
<p>
Well - if someone finally convinces Mustek to give out docs to their<br>
parallel protocol or reverse-engineers it, I'm sure someone will write <br>
a driver, but until then ...<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Michael Gray: "Re: Getting started with SANE &amp; SnapScan"</a>
<li> <b>Previous message:</b> <a href="0219.html">Bernd Schroeder: "Re: Question/SANE problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
