<!-- received="Mon Dec 21 14:15:55 1998 PST" -->
<!-- sent="Mon, 21 Dec 1998 23:10:31 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="hp backend does not find scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: hp backend does not find scanner</title>
<h1>hp backend does not find scanner</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Mon, 21 Dec 1998 23:10:31 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#237">[ date ]</a><a href="index.html#237">[ thread ]</a><a href="subject.html#237">[ subject ]</a><a href="author.html#237">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">Joar Lohre: "Linux driver???"</a>
<li> <b>Previous message:</b> <a href="0236.html">Greg Troxel: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0245.html">Michael Sweet: "Re: hp backend does not find scanner"</a>
<li> <b>Reply:</b> <a href="0245.html">Michael Sweet: "Re: hp backend does not find scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
if the hp-backend seems not to find your scanner, please check<br>
your file  /usr/local/etc/sane.d/hp.conf .<br>
Remove the line 'scsi HP' from the file if it is present.<br>
Currently the file should only contain a real device name per line<br>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">Joar Lohre: "Linux driver???"</a>
<li> <b>Previous message:</b> <a href="0236.html">Greg Troxel: "Re: UMAX 1200S Astra hangs, then resumes"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0245.html">Michael Sweet: "Re: hp backend does not find scanner"</a>
<li> <b>Reply:</b> <a href="0245.html">Michael Sweet: "Re: hp backend does not find scanner"</a>
<!-- reply="end" -->
</ul>
