<!-- received="Mon Dec 21 21:05:14 1998 PST" -->
<!-- sent="21 Dec 1998 21:02:31 -0800" -->
<!-- name="Harry Putnam" -->
<!-- email="reader@newsguy.com" -->
<!-- subject="hp 5100Cse" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: hp 5100Cse</title>
<h1>hp 5100Cse</h1>
<b>Harry Putnam</b> (<a href="mailto:reader@newsguy.com"><i>reader@newsguy.com</i></a>)<br>
<i>21 Dec 1998 21:02:31 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#243">[ date ]</a><a href="index.html#243">[ thread ]</a><a href="subject.html#243">[ subject ]</a><a href="author.html#243">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Guillaume Morin: "GIMP plugin crashes !"</a>
<li> <b>Previous message:</b> <a href="0242.html">Zot O'Connor: "UMAX Vista-8 not seen by kernel modules, but see by bios"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0263.html">Peter Kirchgessner: "Re: hp 5100Cse"</a>
<li> <b>Reply:</b> <a href="0263.html">Peter Kirchgessner: "Re: hp 5100Cse"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Recently purchased the hp 5100Cse scanner.  Now, having read this list<br>
and elsewhere a bit, it seems this is not a good choice to run on<br>
Linux (Redhat 5.1).  (no support?).  <br>
I still have the option of returning it, and only loosing a restock fee.<br>
<p>
I wonder if some of you experienced users can offer a list of reliable<br>
scanners that can be made to work on both Linux and win95/98.  I have<br>
seen some info on this but it just says supported or not, no real<br>
indication of ease of use or fully supported etc.<br>
<p>
I am interested in one with at least medium grade OCR ability, for<br>
text transfer to regular text files on disk.<br>
<pre>
-- 
Harry Putnam &lt;<a href="mailto:reader@newsguy.com">reader@newsguy.com</a>&gt;
Running Redhat Linux 5.1
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Guillaume Morin: "GIMP plugin crashes !"</a>
<li> <b>Previous message:</b> <a href="0242.html">Zot O'Connor: "UMAX Vista-8 not seen by kernel modules, but see by bios"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0263.html">Peter Kirchgessner: "Re: hp 5100Cse"</a>
<li> <b>Reply:</b> <a href="0263.html">Peter Kirchgessner: "Re: hp 5100Cse"</a>
<!-- reply="end" -->
</ul>
