<!-- received="Tue Dec 22 07:43:25 1998 PST" -->
<!-- sent="Tue, 22 Dec 1998 13:36:04 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: SANE + Logitech ScanMan?" -->
<!-- id="199812221236.NAA01550@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="199812170722.BAA00220@orac.dbonweb.com" -->
<title>sane-devel: Re: SANE + Logitech ScanMan?</title>
<h1>Re: SANE + Logitech ScanMan?</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 22 Dec 1998 13:36:04 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Jason Clemons: "Re: Parrallel Port Scanner"</a>
<li> <b>Previous message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: parallel Port"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; Can SANE work with a Logitech ScanMAN? I don't think so, since it isn't SCSI,</i><br>
<i>&gt; and it uses a little ISA card...</i><br>
<i>&gt; Is there any plan to try and integrate support for it in the future?</i><br>
<p>
I'm a little bit tired of that question ... <br>
There is a kernel driver for the Logi scanman 32 and 256 (must be a kernel <br>
driver, the card uses IRQ and DMA) called logiscan, which should be available<br>
from all major linux archives, e.g. sunsite.<br>
<p>
It uses LHII, Linux Handscanner Ioctl Interface, and comes with demo programs <br>
for that. IMHO it should be trivial to add SANE support for LHII, as ideas<br>
from LHII have influenced SANE development ... but noone has yet actually<br>
written something, and I don't have the Logi anymore ..<br>
<p>
<i>&gt; Is Logitech not going to give you hardware support for the scanner?</i><br>
<p>
They don't, but I wrote the driver anyway by disassembling the DOS driver ...<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Jason Clemons: "Re: Parrallel Port Scanner"</a>
<li> <b>Previous message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: parallel Port"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
