<!-- received="Tue Dec 22 09:52:11 1998 PST" -->
<!-- sent="Tue, 22 Dec 1998 17:46:26 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: DTC3181E cannot be recognized" -->
<!-- id="199812221646.RAA11020@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="367FC411.17CFC84C@freemail.gr" -->
<title>sane-devel: Re: DTC3181E cannot be recognized</title>
<h1>Re: DTC3181E cannot be recognized</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 22 Dec 1998 17:46:26 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#252">[ date ]</a><a href="index.html#252">[ thread ]</a><a href="subject.html#252">[ subject ]</a><a href="author.html#252">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Jeff DeFouw: "Re: Parrallel Port Scanner"</a>
<li> <b>Previous message:</b> <a href="0251.html">aRtsCi - Nikos Diamandis: "DTC3181E cannot be recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; 	The prob. is that I have installed scsi support for generic NCR5380 </i><br>
<i>&gt; static into the kernel and when I boot with that version of kernel it says:</i><br>
<i>&gt; 	scsi0: SCSI bus busy, waiting up to five seconds</i><br>
<i>&gt; 	scsi0: bus busy, attempting abort</i><br>
<p>
Yes - this is a sign of the card not being detected at that address.<br>
<p>
I see then same, whenever the address is wrong.<br>
<p>
However I'm not too sure the DTC card is compatible with the NCR5380.<br>
<p>
I though there was an extra driver for it, but I might be wrong.<br>
I have a genuine NCR 53c400.<br>
<p>
<i>&gt; 	insmod scsi_mod</i><br>
<i>&gt; 	insmod g_NCR5380</i><br>
<p>
Give the modprobe another IO address. IIRC the driver also has the weird<br>
behaviour that you need to adjust the IO address by +/-8, when you<br>
set/unset the ncr53c400 option.<br>
<p>
However take care to umount all you can and sync the rest. The driver will<br>
hang, if it can't find the card at the given address.<br>
<p>
<i>&gt; What could cause this prob.? I think that I've read somewhere that original</i><br>
<i>&gt; MPU-401 (which I own) may cause conflict. </i><br>
<p>
Check the base addresses. If the scanner runs fine under Windoze, it is <br>
unlikely.<br>
<p>
CU, Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0253.html">Jeff DeFouw: "Re: Parrallel Port Scanner"</a>
<li> <b>Previous message:</b> <a href="0251.html">aRtsCi - Nikos Diamandis: "DTC3181E cannot be recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
