<!-- received="Thu Dec 24 14:05:44 1998 PST" -->
<!-- sent="Thu, 24 Dec 1998 23:03:52 +0100 (CET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: SANE sees only 1 of 2 scanners" -->
<!-- id="" -->
<!-- inreplyto="13951.40096.24450.256687@sekrit" -->
<title>sane-devel: Re: SANE sees only 1 of 2 scanners</title>
<h1>Re: SANE sees only 1 of 2 scanners</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Thu, 24 Dec 1998 23:03:52 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#272">[ date ]</a><a href="index.html#272">[ thread ]</a><a href="subject.html#272">[ subject ]</a><a href="author.html#272">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0273.html">Peter Kirchgessner: "Re: HP OfficeJEt"</a>
<li> <b>Previous message:</b> <a href="0271.html">David Mosberger-Tang: "mail archive temporarily out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 22 Dec 1998, John Stoffel wrote:<br>
<p>
<i>&gt; &gt;&gt;&gt;&gt;&gt; "John" == John M Mills &lt;<a href="mailto:jmills@jmills.gtri.gatech.edu">jmills@jmills.gtri.gatech.edu</a>&gt; writes:</i><br>
<i>&gt; </i><br>
<i>&gt; John&gt; Hello - I'm running SANE-0.74 in a Linux 2.0.35 environment.  I</i><br>
<i>&gt; John&gt; have a simple Adaptec aha1502e (no ROM) SCIS card which has</i><br>
<i>&gt; John&gt; worked well with a single HP4p scanner.  I added a 2nd scanner,</i><br>
<i>&gt; John&gt; HP PhotoSmart, daisy chained and terminated beyond the</i><br>
<i>&gt; John&gt; original. 'Find-scanner' detects it properly, 'xscanimage'</i><br>
<i>&gt; John&gt; offers it as a source, but then actually tries to scan (not very</i><br>
<i>&gt; John&gt; successfully) on the 4p.  I have the same results from GIMP.</i><br>
<i>&gt; </i><br>
<i>&gt; John&gt; The original HP4p is at SCSI 00, LUN 01. The new PhotoSmart is</i><br>
<i>&gt; John&gt; at SCSI 00, LUN 02.</i><br>
<i>&gt; </i><br>
<i>&gt; I'd say that the problem is almost certainly right here.  Try moving</i><br>
<i>&gt; the PhotoSmart to an entirely different SCSI id if you can, then see</i><br>
<i>&gt; how well it works.  Using LUNs has always been a sorta black art on</i><br>
<i>&gt; SCSI buses and I'm personally not sure if Linux has it right.  I'm</i><br>
<i>&gt; actually surprised it's having problems, but alot of software out</i><br>
<i>&gt; there just assumes you're using LUN 0 with an ID.  </i><br>
<p>
Well I have a device that is a combined MO/CD drive and it uses two LUN's<br>
for that. So far it works just great.<br>
<p>
But wether SANE can handle LUN's as well is something I can't tell.<br>
<p>
Hugo.<br>
<p>
<pre>
-- 
        +------------------------+------------------------------+
        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |
        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |
        | 3155 VJ  Maasland      | (De man met de rode hoed)    |
        +------------------------+------------------------------+
    "Computers let you make more mistakes faster than any other invention in
      human history, with the possible exception of handguns and tequila."
                (Mitch Radcliffe)
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0273.html">Peter Kirchgessner: "Re: HP OfficeJEt"</a>
<li> <b>Previous message:</b> <a href="0271.html">David Mosberger-Tang: "mail archive temporarily out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
