<!-- received="Tue Dec 29 01:17:42 1998 PST" -->
<!-- sent="Tue, 29 Dec 1998 10:18:59 +0100 (MET)" -->
<!-- name="Reinhold Bader" -->
<!-- email="uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de" -->
<!-- subject="Re: Mustek SE 12000SP" -->
<!-- id="" -->
<!-- inreplyto="26796.9812281046@nestor.ma.ic.ac.uk" -->
<title>sane-devel: Re: Mustek SE 12000SP</title>
<h1>Re: Mustek SE 12000SP</h1>
<b>Reinhold Bader</b> (<a href="mailto:uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de"><i>uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de</i></a>)<br>
<i>Tue, 29 Dec 1998 10:18:59 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#297">[ date ]</a><a href="index.html#297">[ thread ]</a><a href="subject.html#297">[ subject ]</a><a href="author.html#297">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0298.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP"</a>
<li> <b>Previous message:</b> <a href="0296.html">Manuel Panea: "Re: canon 2700F film scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Which command line arguments did you use *precisely*?</i><br>
<p>
  beyond the setting SANE_DEBUG_MUSTEK=128, none. According to the output,<br>
<p>
<p>
[sanei_init_debug]: Setting debug level of mustek to 128.<br>
[mustek] sane_init: strip-height set to 1 inches<br>
[mustek] attach: opening /dev/scanner as scsi device<br>
[mustek] attach: sending INQUIRY<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] attach: firmware revision 2.02<br>
[mustek] attach: found Mustek scanner model  C06 S12IDW (flatbed scanner),<br>
1-pass, SE<br>
scanimage: sane_start: Invalid argument<br>
<p>
  the device is identified correctly, but cannot be started.<br>
  This didn't change after eliminating the *-fix lines from<br>
  /usr/local/etc/sane.d/mustek.conf:<br>
*************************************************mustek.conf:******************<br>
# See sane-mustek(5) for documentation.<br>
<p>
option strip-height 1<br>
<p>
<p>
#scsi SCANNER<br>
/dev/scanner<br>
*******************************************************************************<br>
<p>
<i>&gt; BTW: Your mustek.conf should not contain anything except for</i><br>
<i>&gt;      the device specification. No *-fix at all. Those</i><br>
<i>&gt;      are intended exclusively for some older scanners.</i><br>
<i>&gt;  </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0298.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP"</a>
<li> <b>Previous message:</b> <a href="0296.html">Manuel Panea: "Re: canon 2700F film scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
