<!-- received="Thu Dec 31 02:27:42 1998 PST" -->
<!-- sent="Thu, 31 Dec 1998 11:30:17 +0100 (MET)" -->
<!-- name="Reinhold Bader" -->
<!-- email="uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de" -->
<!-- subject="Re: Mustek SE 12000SP" -->
<!-- id="" -->
<!-- inreplyto="27323.9812290959@nestor.ma.ic.ac.uk" -->
<title>sane-devel: Re: Mustek SE 12000SP</title>
<h1>Re: Mustek SE 12000SP</h1>
<b>Reinhold Bader</b> (<a href="mailto:uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de"><i>uh341au@brossp5.lehrstuhl-bross.physik.uni-muenchen.de</i></a>)<br>
<i>Thu, 31 Dec 1998 11:30:17 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#322">[ date ]</a><a href="index.html#322">[ thread ]</a><a href="subject.html#322">[ subject ]</a><a href="author.html#322">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0323.html">Robert Brink: "Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<li> <b>Previous message:</b> <a href="0321.html">Dietmar Goldbeck: "Re: canon 2700F film scanner"</a>
<li> <b>In reply to:</b> <a href="0298.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 29 Dec 1998 <a href="mailto:a.bolsch@ic.ac.uk">a.bolsch@ic.ac.uk</a> wrote:<br>
<p>
<i>&gt; Well, at least the SE-12000SP with f/w 1.01 can't handle resolutions</i><br>
<i>&gt; below 60dpi. Maybe that's true for your version, too, so you might</i><br>
<i>&gt; have to specify explicitly a valid one (e.g. --resolution 150). </i><br>
<i>&gt; And, if that helps, could you please check the minimal resolution </i><br>
<i>&gt; for your version?</i><br>
<p>
  with a minimal resolution of 60 dpi, my f/w 2.02 scanner<br>
  works very nicely (anything below that is not accepted) ...<br>
  Thanks a lot for your help;   <br>
<p>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0323.html">Robert Brink: "Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<li> <b>Previous message:</b> <a href="0321.html">Dietmar Goldbeck: "Re: canon 2700F film scanner"</a>
<li> <b>In reply to:</b> <a href="0298.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
