<!-- received="Thu Dec 31 04:47:51 1998 PST" -->
<!-- sent="Thu, 31 Dec 1998 13:10:55 +0100" -->
<!-- name="Robert Brink" -->
<!-- email="linux4me@dds.nl" -->
<!-- subject="Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)" -->
<!-- id="98123113463000.00136@petteflet" -->
<!-- inreplyto="" -->
<title>sane-devel: Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)</title>
<h1>Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)</h1>
<b>Robert Brink</b> (<a href="mailto:linux4me@dds.nl"><i>linux4me@dds.nl</i></a>)<br>
<i>Thu, 31 Dec 1998 13:10:55 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#323">[ date ]</a><a href="index.html#323">[ thread ]</a><a href="subject.html#323">[ subject ]</a><a href="author.html#323">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0324.html">Darren Marshall: "Primax Colorado Direct 9600 Support?"</a>
<li> <b>Previous message:</b> <a href="0322.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0330.html">Robert Brink: "Re: Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<li> <b>Reply:</b> <a href="0330.html">Robert Brink: "Re: Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
After many attempts I finally got my Trust Imagery 1200SP scanner to work with<br>
SANE and Linux. Because the original SCSI card shipped with the scanner<br>
(NCR53c400a) didn't work with Linux (kernel lockups after installing the<br>
driver), I used an Adaptec AVA1505 (ISA SCSI host adapter) instead. Now the<br>
Windows TWAIN driver doesn't recognize the scanner anymore, but GIMP is a good<br>
alternative for commercial Windows programs, so that is not a big deal.<br>
<p>
Anyway, I noticed the following differences between my Linux configuration<br>
running SANE (with xscanimage, GIMP and sane-mustek) and Windows running TWAIN:<br>
<p>
1. When scanning a colour image, the scanning head moves forward and back all<br>
the time, although I had not enabled "Force backtracking". All together<br>
scanning a simple phothograph with 200 dpi takes over 5 minutes, while with<br>
TWAIN this was a matter of seconds. I enlarged the buffer size in sg.h to<br>
128kb and recompiled the kernel, but that didn't seem to have effect.<br>
<p>
2. When scanning a preview, grayscale or lineart image, speed is the same as<br>
with TWAIN, although colour previewing has a slight backtracking. So I disabled<br>
colour previewing :-)<br>
<p>
3. CPU load is almost 100%, during scan you can't even move the mouse<br>
pointer!!! This is probably caused by a bad interaction between the SCSI<br>
adapter and the scanner, the latter not supporting SCSI disconnect. I could<br>
replace the ISA card with a PCI card supporting bus-mastering DMA, but then<br>
again, I have to spend another $50 :-(<br>
<p>
4. Gamma correction doesn't work fine, it causes the picture to look<br>
over-exposed very quickly (with white turning into blue). There may be a<br>
possibillity I have overlooked, as I don't know whether the scanner has<br>
built-in NVRAM which keeps downloadable software settings in memory. That would<br>
definitely impair scanning quality.<br>
<p>
This is the hardware information my Linux (2.0.36 kernel) system gave me:<br>
<p>
bash$ cat /proc/scsi/scsi<br>
&lt;other SCSI stuff deleted for clarity :-)&gt;<br>
Host: scsi1 Channel: 00 Id: 00 Lun: 00<br>
  Vendor: MUSTEK   Model: MSF-06000SP      Rev: 2.10<br>
  Type:   Scanner                          ANSI SCSI revision: 01<br>
<p>
bash$ cat /proc/scsi/aha152x/1<br>
Adaptec 152x SCSI driver; $Revision: 1.18 $<br>
ioports 0x0340 to 0x035f<br>
interrupt 0x09<br>
disconnection/reconnection disabled<br>
parity checking enabled<br>
synchronous transfers disabled<br>
0 commands currently queued<br>
enabled debugging options: (abort) (reset)<br>
<p>
Anyone knows what I might have configured wrong? Or is it just a buggy firmware<br>
revision?<br>
<p>
TIA and a happy new year :-)<br>
<p>
Robert Brink<br>
<a href="mailto:linux4me@dds.nl">linux4me@dds.nl</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0324.html">Darren Marshall: "Primax Colorado Direct 9600 Support?"</a>
<li> <b>Previous message:</b> <a href="0322.html">Reinhold Bader: "Re: Mustek SE 12000SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0330.html">Robert Brink: "Re: Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<li> <b>Reply:</b> <a href="0330.html">Robert Brink: "Re: Very slow colour scanning with Trust Imagery 1200SP (= Mustek MSF-06000SP)"</a>
<!-- reply="end" -->
</ul>
