<!-- received="Thu Apr  1 23:28:07 1999 PST" -->
<!-- sent="Thu, 1 Apr 1999 22:55:03 -0800 (PST)" -->
<!-- name="Shamim Mohamed" -->
<!-- email="spm@drones.com" -->
<!-- subject="Re: PCMCIA SCSI and SANE (Umax)" -->
<!-- id="199904020655.WAA22728@shell14.ba.best.com" -->
<!-- inreplyto="06b7f2107180149WEB1@aebc.com" -->
<title>sane-devel: Re: PCMCIA SCSI and SANE (Umax)</title>
<h1>Re: PCMCIA SCSI and SANE (Umax)</h1>
<b>Shamim Mohamed</b> (<a href="mailto:spm@drones.com"><i>spm@drones.com</i></a>)<br>
<i>Thu, 1 Apr 1999 22:55:03 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Oliver Rauch: "Re: To Astra 6X0S users!"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "code freeze"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Rob Fargher &lt;<a href="mailto:fargher@POBoxes.com">fargher@POBoxes.com</a>&gt; writes:<br>
<p>
<i> &gt;   Did you compile generic SCSI support into your kernel?  Do your boot</i><br>
<i> &gt; messages specify to which generic SCSI device the scanner is assigned?</i><br>
<p>
Rem acu tetigisti! I thought I had, but just to make sure I recompiled the<br>
kernel with SCSI Generic Support - and voila! It all works!<br>
<p>
Thanks!<br>
<p>
-s<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Oliver Rauch: "Re: To Astra 6X0S users!"</a>
<li> <b>Previous message:</b> <a href="0007.html">David Mosberger-Tang: "code freeze"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
