<!-- received="Fri Apr  2 16:06:12 1999 PST" -->
<!-- sent="Wed, 24 Mar 1999 17:16:37 -0800" -->
<!-- name="Whirley" -->
<!-- email="wearly@bigfoot.com" -->
<!-- subject="Re: driver dev advice" -->
<!-- id="" -->
<!-- inreplyto="driver dev advice" -->
<title>sane-devel: Re: driver dev advice</title>
<h1>Re: driver dev advice</h1>
<b>Whirley</b> (<a href="mailto:wearly@bigfoot.com"><i>wearly@bigfoot.com</i></a>)<br>
<i>Wed, 24 Mar 1999 17:16:37 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Dr. Andreas Bolsch: "SANE 1.00 + Mustek SE6000SP"</a>
<li> <b>Previous message:</b> <a href="0030.html">Bernd Schroeder: "[Fwd: Re: Microtek ScanMaker X6 / Phantom 636]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Scanpaq does not make their own scanners. They are OEM'd by Microtek. They<br>
are essentially the same save for some minor differences in the cases. Once<br>
the parport project figures out the OnSpec chip you will have a good place<br>
to start.<br>
<p>
-----Original Message-----<br>
From: Washu chan &lt;<a href="mailto:washu@gothpunk.com">washu@gothpunk.com</a>&gt;<br>
To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a> &lt;sane-devel@mostang.com&gt;<br>
Date: Wednesday, March 24, 1999 1:49 PM<br>
Subject: driver dev advice<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt;Hi,</i><br>
<i>&gt;</i><br>
<i>&gt;I have never written a device driver before and am thinking my unsupported</i><br>
<i>&gt;scanner might be a good place to start. The problem is the company that</i><br>
<i>&gt;made my scanner is probably out of business.</i><br>
<i>&gt;</i><br>
<i>&gt;The company is Scanpaq, Inc.</i><br>
<i>&gt;It is a scanport parallel port TWAIN scanner. Will I be able to work</i><br>
<i>&gt;without specific hardware information about the scanner? Is TWAIN a</i><br>
<i>&gt;general purpose API?</i><br>
<i>&gt;</i><br>
<i>&gt;If you think it is possible what is a good roadmap of resources to get</i><br>
<i>&gt;started. For instance I have the O'Rreilly Linux Device Driver book. Are</i><br>
<i>&gt;there good resources about writing drives for the parallel port and</i><br>
<i>&gt;scanners? Then I'll need to integrate with SANE, correct?</i><br>
<i>&gt;</i><br>
<i>&gt;Thanks,</i><br>
<i>&gt;washu</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;///////////////-////////-/-------//////////////---//////////---//////////</i><br>
<i>&gt;His work was very much a personal inquiry, a continuous questioning of</i><br>
<i>&gt;deeper and deeper assumptions, a delight in finding himself in new</i><br>
<i>&gt;territory without answers, and thus innocent. We are always innocent,</i><br>
<i>&gt;unless, from laziness or for convenience, we decide to overlook the</i><br>
<i>&gt;novelty of the moment, this particular now.</i><br>
<i>&gt;</i><br>
<i>&gt; -Brian Eno on Peter Schmidt</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">Dr. Andreas Bolsch: "SANE 1.00 + Mustek SE6000SP"</a>
<li> <b>Previous message:</b> <a href="0030.html">Bernd Schroeder: "[Fwd: Re: Microtek ScanMaker X6 / Phantom 636]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
