<!-- received="Fri Apr  2 16:08:41 1999 PST" -->
<!-- sent="Wed, 31 Mar 1999 15:16:02 +0100" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="Andreas.Bolsch@maths.nott.ac.uk" -->
<!-- subject="Re: Mustek SE12000SP, SuSE5.3 and out of memory" -->
<!-- id="" -->
<!-- inreplyto="Mustek SE12000SP, SuSE5.3 and out of memory" -->
<title>sane-devel: Re: Mustek SE12000SP, SuSE5.3 and out of memory</title>
<h1>Re: Mustek SE12000SP, SuSE5.3 and out of memory</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:Andreas.Bolsch@maths.nott.ac.uk"><i>Andreas.Bolsch@maths.nott.ac.uk</i></a>)<br>
<i>Wed, 31 Mar 1999 15:16:02 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Hugo van der Kooij: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0032.html">Dr. Andreas Bolsch: "SANE 1.00 + Mustek SE6000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'd give you one advice: Get rid of that SCSI card. When I developed<br>
the ScanExpress support I got that card working to some extent in<br>
lineart and gray mode, however, color scans never worked except<br>
for *very* small scan area. <br>
<p>
Did you just compile SANE after patching/reinstalling the kernel?<br>
(The new kernel is used only after rebooting, of course!)<br>
You need to recompile/reinstall SANE as well afterwards.<br>
<p>
And, it would be useful to set the debug variables <br>
(export SANE_DEBUG_SCSI=128; export SANE_DEBUG_MUSTEK=128)<br>
and to send us the debug output for otherwise I'm not quite<br>
sure what we're talking about.<br>
<p>
Andreas<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Hugo van der Kooij: "Re: Sane drivers"</a>
<li> <b>Previous message:</b> <a href="0032.html">Dr. Andreas Bolsch: "SANE 1.00 + Mustek SE6000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
