<!-- received="Sun Apr  4 12:55:49 1999 PDT" -->
<!-- sent="Sun, 4 Apr 1999 15:55:46 -0400 (EDT)" -->
<!-- name="Jeff DeFouw" -->
<!-- email="mrj@i2k.com" -->
<!-- subject="Re: twainscan 600 III EP plus" -->
<!-- id="" -->
<!-- inreplyto="2DA048D6.26FE55C8@nmia.com" -->
<title>sane-devel: Re: twainscan 600 III EP plus</title>
<h1>Re: twainscan 600 III EP plus</h1>
<b>Jeff DeFouw</b> (<a href="mailto:mrj@i2k.com"><i>mrj@i2k.com</i></a>)<br>
<i>Sun, 4 Apr 1999 15:55:46 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Rick Knebel: "sane install"</a>
<li> <b>Previous message:</b> <a href="0065.html">Oliver Rauch: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 4 Apr 1994, Ross Lippert wrote:<br>
<p>
<i>&gt; Hi.  I have the scanner mentioned in the subject line.  It appears</i><br>
<i>&gt; that IDE scanners are harder things to write drivers for.  I find it</i><br>
<p>
I have this scanner too... you mean parallel port scanners.  I don't think<br>
there is a such thing as an IDE scanner.<br>
<p>
<i>&gt; out of the goodness of your hearts.  So, I'd like some advice about</i><br>
<i>&gt; how to write a scanner driver. Is there something which makes IDE</i><br>
<i>&gt; nearly impossible?  I have never written a driver before, but I have</i><br>
<p>
Most parallel port scanners use proprietary protocols, and the<br>
manufacturers don't release the information about how to communicate with<br>
them.<br>
<p>
<i>&gt; done a little reading about them on the net, and I am proficient in C.  </i><br>
<i>&gt; If you have some information that would help me understand the issues,</i><br>
<i>&gt; files which I could use as templates, that sort of thing, I'd really</i><br>
<i>&gt; appreciate it.</i><br>
<p>
I'm working on a driver.  If you want to try at it yourself, there's<br>
little information we can give you.  There are patches to WINE to grab the<br>
port I/O and bochs can also be used with modifications.  Other than that<br>
you won't find much.  The actual programming part is the simple part, and<br>
you can look at the other SANE drivers to see what they do.  The way I'm<br>
going at it is a standalone driver that does direct communication with the<br>
parallel port, and then I will merge it with whatever else (SANE) after<br>
that works.<br>
<p>
<pre>
--
Jeff DeFouw &lt;<a href="mailto:mrj@i2k.com">mrj@i2k.com</a>&gt;
I2K Staff - <a href="http://www.i2k.com">http://www.i2k.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Rick Knebel: "sane install"</a>
<li> <b>Previous message:</b> <a href="0065.html">Oliver Rauch: "Re: Sane drivers"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
