<!-- received="Mon Apr  5 08:38:39 1999 PDT" -->
<!-- sent="Mon, 5 Apr 1999 17:38:44 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Green-ness of microtek scanned images" -->
<!-- id="" -->
<!-- inreplyto="199904050618.XAA04210@celeste.ucolick.org" -->
<title>sane-devel: Re: Green-ness of microtek scanned images</title>
<h1>Re: Green-ness of microtek scanned images</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Mon, 5 Apr 1999 17:38:44 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Oliver Rauch: "xsane-0.20 available"</a>
<li> <b>Previous message:</b> <a href="0082.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<li> <b>In reply to:</b> <a href="0073.html">De Clarke: "Green-ness of microtek scanned images"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">David Mosberger-Tang: "Re: Green-ness of microtek scanned images"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, Apr 04, 1999 at 11:18:49PM -0800, De Clarke wrote:<br>
<i>&gt; </i><br>
<i>&gt; I just replaced microtek2.c and microtek2.h with those from the </i><br>
<i>&gt; Mar 31 tarball, since Bernd had recommended that to another user.</i><br>
<i>&gt; </i><br>
<i>&gt; It seems to behave about the same -- preview always very red/green,</i><br>
<i>&gt; with blue being replaced by red and everything else greenish --</i><br>
<i>&gt; in normal scans, neutral colours seem to be too red/greeny with</i><br>
<i>&gt; no blue in the mix, but blue areas seem ok.</i><br>
<p>
This is a patch against pre1.01-4. Can you tell us, whether this patch<br>
works for you or not ? Maybe David can include the patch into the<br>
1.01 release if it works.<br>
<p>
---------------------------cut here -----------------------------------<br>
--- microtek2.c.orig	Mon Apr  5 16:54:21 1999<br>
+++ microtek2.c	Mon Apr  5 17:16:32 1999<br>
@@ -1843,11 +1843,15 @@<br>
     pad = (int) ceil( (double) (ms-&gt;ppl * bits_pp_in) / 8.0 ) % 2;<br>
     bpp = bits_pp_out / 8;<br>
 <br>
-    /* The ScanMaker 636 has 3 * ppl + 6 bytes per line and the X6EL */<br>
-    /* 3 * ppl + 2 bytes per line (depth=8, even number of pixels), which */<br>
-    /* can not be explained by the documentation; bpl_ppl_diff corrects this */<br>
-    if (mi-&gt;model_code == 0x91<br>
-	&amp;&amp; (md-&gt;revision == 1.10 || md-&gt;revision == 1.20))<br>
+    /* Some models have 3 * ppl + 6 bytes per line if the number of pixels */<br>
+    /* per line is even and 3 * ppl + 3 bytes per line if the number of */<br>
+    /* pixels per line is odd. According to the documentation it should be */<br>
+    /* bpl = 3*ppl (even number of pixels) or bpl=3*ppl+1 (odd number of */         /* pixels. Even worse: On different models it different at which */             /* position in a scanline the image data starts. bpl_ppl_diff tries */          /* to fix this */    <br>
+<br>
+    if ( (mi-&gt;model_code == 0x91<br>
+	  &amp;&amp; (md-&gt;revision == 1.10 || md-&gt;revision == 1.20))<br>
+      || (mi-&gt;model_code == 0x98 &amp;&amp; md-&gt;revision == 1.30 ) )<br>
+         <br>
         bpl_ppl_diff = ms-&gt;bpl - ( 3 * ms-&gt;ppl * bpp );<br>
     else<br>
         bpl_ppl_diff = ms-&gt;bpl - ( 3 * ms-&gt;ppl * bpp ) - pad;<br>
---------cut there ------------------------------------------------------<br>
<p>
<p>
<i>&gt; PS I think there was some discussion of this a month or two ago,</i><br>
<i>&gt; but I forget the answer:  does the light ever turn off in this</i><br>
<i>&gt; scanner?  it seems to stay on a long time even when idle ...</i><br>
<p>
Yes, this is normal.<br>
<p>
Bernd<br>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">Oliver Rauch: "xsane-0.20 available"</a>
<li> <b>Previous message:</b> <a href="0082.html">Andreas Dilger: "Re: 16 bit per sample support"</a>
<li> <b>In reply to:</b> <a href="0073.html">De Clarke: "Green-ness of microtek scanned images"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">David Mosberger-Tang: "Re: Green-ness of microtek scanned images"</a>
<!-- reply="end" -->
</ul>
