<!-- received="Mon Apr  5 16:55:02 1999 PDT" -->
<!-- sent="Mon, 5 Apr 1999 16:55:00 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: 16 bit per sample support" -->
<!-- id="199904052355.QAA22282@panda.mostang.com" -->
<!-- inreplyto="m10UIRt-00017nC@hex" -->
<title>sane-devel: Re: 16 bit per sample support</title>
<h1>Re: 16 bit per sample support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 5 Apr 1999 16:55:00 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Paul Jakma: "Re: microtek scanmaker again :-("</a>
<li> <b>Previous message:</b> <a href="0089.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<li> <b>In reply to:</b> <a href="0086.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Ewald R. de Wit: "Re: 16 bit per sample support"</a>
<li> <b>Reply:</b> <a href="0099.html">Ewald R. de Wit: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 05 Apr 1999 23:06:33 +0000, "Jonathan A. Buzzard" &lt;<a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>&gt; said:</i><br>
<p>
<i>  &gt;&gt; The feature you describe (an additional toggle setting for</i><br>
<i>  &gt;&gt; stretch vs truncate) seems excessive even for Advanced options,</i><br>
<i>  &gt;&gt; where it will probably confuse users in a less technical</i><br>
<i>  &gt;&gt; environment. I don't think we want the advanced setting to mean</i><br>
<i>  &gt;&gt; "Deep magic for image processing people".</i><br>
<p>
  Jonathan&gt; Throw hands up in air, so SANE is not for use by image<br>
  Jonathan&gt; processing people then.<br>
<p>
Such statements are not particularly helpful.  Particularly not if<br>
they're half-truths.  Let's see if we can determine what the real<br>
issue is:<br>
<p>
	(a) loss of precision due to 12 bit-&gt;16 bit conversion<br>
<p>
	(b) increase of memory size and/or transmission time due to<br>
	    the absence of a 12 bit packed format<br>
<p>
As others have pointed out, (a) is not an issue.  Even when doing the<br>
scaling as proposed in an earlier mail, no precision whatsoever is<br>
lost.  You can always convert back to the original bits if necessary.<br>
If you're proposing to extend SANE so the backend can tell the<br>
frontend what the actual precision is, that's something we can talk<br>
about.<br>
<p>
I can see that (b) may be an issue as not supporting a 12 bit packed<br>
format does increase the size of an image by 33%.  However, note that<br>
this is an issue only for the frontend to backend channel.  How the<br>
image gets saved and/or manipulated in the frontend is entirely up to<br>
the frontend.  As per your own suggestion, your application is doing<br>
the math in 16 bit anyhow, so space does not really seem to be the<br>
issue here.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Paul Jakma: "Re: microtek scanmaker again :-("</a>
<li> <b>Previous message:</b> <a href="0089.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<li> <b>In reply to:</b> <a href="0086.html">Jonathan A. Buzzard: "Re: 16 bit per sample support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0099.html">Ewald R. de Wit: "Re: 16 bit per sample support"</a>
<li> <b>Reply:</b> <a href="0099.html">Ewald R. de Wit: "Re: 16 bit per sample support"</a>
<!-- reply="end" -->
</ul>
