<!-- received="Wed Apr  7 05:40:21 1999 PDT" -->
<!-- sent="Wed, 7 Apr 1999 14:40:49 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: configuring sane-1.00" -->
<!-- id="199904071240.OAA21362@lee.Cc.Uit.No" -->
<!-- inreplyto="configuring sane-1.00" -->
<title>sane-devel: Re: configuring sane-1.00</title>
<h1>Re: configuring sane-1.00</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 7 Apr 1999 14:40:49 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#130">[ date ]</a><a href="index.html#130">[ thread ]</a><a href="subject.html#130">[ subject ]</a><a href="author.html#130">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">John Profic: "Re: Driver for 53c400a needed"</a>
<li> <b>Previous message:</b> <a href="0129.html">Dr. Andreas Bolsch: "Re: SANE 1.00 + Mustek SE6000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Allan Strand: "configuring sane-1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Allan Strand]<br>
<i>&gt; I've installed sane 1.00. I seems to work fine, except that I cannot</i><br>
<i>&gt; get any user other than root to recognize the scanner I have on the</i><br>
<i>&gt; SCSI bus. The scanner is at /dev/pass3 (actual device).</i><br>
<p>
Could it be the problem 2.1 described (and solved) in the message from<br>
Mikko Tyo"la"ja"rvi (sp?), available from<br>
&lt;URL:<a href="http://www.mostang.com/mail-archive/sane-devel/1999-04/0094.html">http://www.mostang.com/mail-archive/sane-devel/1999-04/0094.html</a>&gt;.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0131.html">John Profic: "Re: Driver for 53c400a needed"</a>
<li> <b>Previous message:</b> <a href="0129.html">Dr. Andreas Bolsch: "Re: SANE 1.00 + Mustek SE6000SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0101.html">Allan Strand: "configuring sane-1.00"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
