<!-- received="Wed Apr  7 11:29:06 1999 PDT" -->
<!-- sent="Wed, 07 Apr 1999 14:29:43 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: sane-pre1.01 problems with dc210" -->
<!-- id="" -->
<!-- inreplyto="sane-pre1.01 problems with dc210" -->
<title>sane-devel: Re: sane-pre1.01 problems with dc210</title>
<h1>Re: sane-pre1.01 problems with dc210</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Wed, 07 Apr 1999 14:29:43 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#134">[ date ]</a><a href="index.html#134">[ thread ]</a><a href="subject.html#134">[ subject ]</a><a href="author.html#134">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Oliver Rauch: "Re: Help? Undefined Reference g_debug compiling xscanimage"</a>
<li> <b>Previous message:</b> <a href="0133.html">Petter Reinholdtsen: "Re: sane-pre1.01 problems with dc210"</a>
<li> <b>Maybe in reply to:</b> <a href="0127.html">Kevin Dalley: "sane-pre1.01 problems with dc210"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petter Reinholdtsen wrote:<br>
<i>&gt; ...</i><br>
<i>&gt; The dc25 driver will also slow down this process to 10 seconds when</i><br>
<i>&gt; enabled.</i><br>
<i>&gt; </i><br>
<i>&gt; Anyone know why?</i><br>
<p>
I think it has to do with autodetecting the serial ports; each backend<br>
has to check multiple baud rates, and IIRC the timeout on those checks<br>
is 1 second...<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0135.html">Oliver Rauch: "Re: Help? Undefined Reference g_debug compiling xscanimage"</a>
<li> <b>Previous message:</b> <a href="0133.html">Petter Reinholdtsen: "Re: sane-pre1.01 problems with dc210"</a>
<li> <b>Maybe in reply to:</b> <a href="0127.html">Kevin Dalley: "sane-pre1.01 problems with dc210"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
