<!-- received="Thu Apr  8 20:58:28 1999 PDT" -->
<!-- sent="Thu, 08 Apr 1999 21:00:17 -0700 (PDT)" -->
<!-- name="Rich Klumpp" -->
<!-- email="rmk@aracnet.com" -->
<!-- subject="RE: New ScanMaker X6 EL patch for pre1.01-4" -->
<!-- id="199904090400.VAA14170@mail4.aracnet.com" -->
<!-- inreplyto="000201be8215$48f8edb0$0a00000a@swells.com" -->
<title>sane-devel: RE: New ScanMaker X6 EL patch for pre1.01-4</title>
<h1>RE: New ScanMaker X6 EL patch for pre1.01-4</h1>
<b>Rich Klumpp</b> (<a href="mailto:rmk@aracnet.com"><i>rmk@aracnet.com</i></a>)<br>
<i>Thu, 08 Apr 1999 21:00:17 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#159">[ date ]</a><a href="index.html#159">[ thread ]</a><a href="subject.html#159">[ subject ]</a><a href="author.html#159">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">David Mosberger-Tang: "Re: Update Sharp backend (v0.15)"</a>
<li> <b>Previous message:</b> <a href="0158.html">Graham Stoney: "Re: Linking non-libtool libraries into a new backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thank god! The green is gone ...the green is gone! 24bit scans seems to work ok now but I haven't been <br>
able to get a good 36 bit scan yet. Also the interaction between the Gimp and xscanimage seems a little <br>
flaky. I suspect an older version of the Gimp may be the culprit. Thanks for your timely and useful <br>
response.<br>
<p>
Rich Klumpp<br>
<a href="mailto:rmk@aracnet.com">rmk@aracnet.com</a><br>
<a href="mailto:moab@worldnet.att.net">moab@worldnet.att.net</a><br>
<p>
<p>
On Thu, 8 Apr 1999 18:12:34 -0500, Scott Wells wrote:<br>
<p>
<i>&gt;Don't replace the revision ID; supplement with a new conditional.  Change:</i><br>
<i>&gt;</i><br>
<i>&gt;|| (mi-&gt;model_code == 0x98</i><br>
<i>&gt;    &amp;&amp; (md-&gt;revision == 1.10 || md-&gt;revision == 1.30) ) )</i><br>
<i>&gt;</i><br>
<i>&gt;to:</i><br>
<i>&gt;</i><br>
<i>&gt;|| (mi-&gt;model_code == 0x98</i><br>
<i>&gt;    &amp;&amp; (md-&gt;revision == 1.10 || md-&gt;revision == 1.30 || md-&gt;revision ==</i><br>
<i>&gt;1.40) ) )</i><br>
<i>&gt;</i><br>
<i>&gt;Scott Wells</i><br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0160.html">David Mosberger-Tang: "Re: Update Sharp backend (v0.15)"</a>
<li> <b>Previous message:</b> <a href="0158.html">Graham Stoney: "Re: Linking non-libtool libraries into a new backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
