<!-- received="Fri Apr  9 14:14:57 1999 PDT" -->
<!-- sent="Fri, 09 Apr 1999 17:42:27 +0000" -->
<!-- name="Richard Kuhlbars" -->
<!-- email="kuhlbars@usa.net" -->
<!-- subject="Compile Error" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Compile Error</title>
<h1>Compile Error</h1>
<b>Richard Kuhlbars</b> (<a href="mailto:kuhlbars@usa.net"><i>kuhlbars@usa.net</i></a>)<br>
<i>Fri, 09 Apr 1999 17:42:27 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<li> <b>Previous message:</b> <a href="0167.html">Petter Reinholdtsen: "DLL backend cleanup patch"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<li> <b>Reply:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In order to make sure my sane is up-to-date I tried the following:<br>
<p>
1. removed current sane version using yasp (Linux, suse 6.0)<br>
2. tar'd the latest sane version into /usr/local/bin<br>
3. ran configure (fixed version dated Nov. 22 - no problems)<br>
4. "make" returns<br>
<p>
make[1]: Entering directory `/usr/local/bin/sane-1.00/backend'<br>
gcc -c -g -O2 -Wall -DHAVE_CONFIG_H -I. -I. -I../include -I../include<br>
-D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/usr/local/etc/sane.d<br>
-DPATH_SANE_DATA_DIR=/usr/local/share -DV_MAJOR=1 -DV_MINOR=0<br>
-DBACKEND_NAME=abaton -DLIBDIR=/usr/local/lib/sane -fPIC -DPIC abaton.c<br>
abaton.c: In function `sane_abaton_control_option':<br>
abaton.c:1116: incompatible types in assignment<br>
make[1]: *** [abaton.lo] Error 1<br>
make[1]: Leaving directory `/usr/local/bin/sane-1.00/backend'<br>
make: *** [all-recursive] Error 1<br>
<p>
My problems keep getting worse!! ANY ADVICE ??<br>
<p>
Thanks in advance<br>
<p>
regards<br>
Richard<br>
Kevin Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; Richard Kuhlbars wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; xscanimage and scanimage cannot find my scanner!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I'm running an Agfa Snapscan 600 on an Adaptec 1505 SCSI.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; here's the puzzle:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; - find-scanner returns</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; find-scanner: found scanner "AGFA SNAPSCAN 600 1.20" at device</i><br>
<i>&gt; &gt; /dev/scanner</i><br>
<i>&gt; &gt; find-scanner: found scanner "AGFA SNAPSCAN 600 1.20" at device /dev/sg0</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; - the devices are readable</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; ll /dev/scanner /dev/sg0</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; lrwxrwxrwx   1 root     root            8 Mar 10 19:51 /dev/scanner -&gt;</i><br>
<i>&gt; &gt; /dev/sg0</i><br>
<i>&gt; &gt; crw-rw-rw-   1 root     disk      21,   0 Dec 11 18:21 /dev/sg0</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; - the configuration file /etc/sane.d/snapscan.conf contains</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt; cat /etc/sane.d/snapscan.conf</i><br>
<i>&gt; &gt; /dev/scanner</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; - 'scanimage -d snapscan:/dev/scanner' returns</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; scanimage: open of device snapscan:/dev/scanner failed: Invalid argument</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Any advice is appreciated.   Thanks in advance.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Regards</i><br>
<i>&gt; &gt; richard</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; You need an updated version of the backend. There is a patch at</i><br>
<i>&gt; <a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a></i><br>
<i>&gt; </i><br>
<i>&gt; Get that and apply it, or else grab the most recent version of SANE.</i><br>
<i>&gt; It's fixed there.</i><br>
<i>&gt; </i><br>
<i>&gt; Kevin</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<li> <b>Previous message:</b> <a href="0167.html">Petter Reinholdtsen: "DLL backend cleanup patch"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<li> <b>Reply:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<!-- reply="end" -->
</ul>
