<!-- received="Fri Apr  9 15:28:49 1999 PDT" -->
<!-- sent="Sat, 10 Apr 1999 00:30:32 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="updated RPM packages" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: updated RPM packages</title>
<h1>updated RPM packages</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 10 Apr 1999 00:30:32 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#170">[ date ]</a><a href="index.html#170">[ thread ]</a><a href="subject.html#170">[ subject ]</a><a href="author.html#170">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<li> <b>Previous message:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<li> <b>Reply:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I am currently sending updated RPM packages to incoming.redhat.com and<br>
they should appear on contrib.redhat.com in due time. These are both for<br>
the Alpha en Intel machines.<br>
<p>
I tried Sparc as well but it was to much trouble for now. I'll give<br>
pre1.01-4 a try to see if things will be better for the Sparc machines and<br>
report my findings here.<br>
<p>
Packages:<br>
	sane-1.00-3.alpha.rpm<br>
	sane-client-1.00-3.alpha.rpm<br>
	sane-devel-1.00-3.alpha.rpm<br>
	sane-1.00-3.i386.rpm<br>
	sane-client1.00-3.i386.rpm<br>
	sane-devel-1.00-3.i386.rpm<br>
	sane-1.00-3.src.rpm<br>
<p>
The client packages is now seperated so the large dependency list does not<br>
bother the actual backends.<br>
<p>
It would be nice if they could make it to ftp.mostang.com as well.<br>
(there are 0.74 RPM's only)<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<li> <b>Previous message:</b> <a href="0169.html">Petter Reinholdtsen: "Re: Compile Error"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<li> <b>Reply:</b> <a href="0171.html">Petter Reinholdtsen: "Re: updated RPM packages"</a>
<!-- reply="end" -->
</ul>
