<!-- received="Sun Apr 11 06:18:53 1999 PDT" -->
<!-- sent="Sun, 11 Apr 1999 15:21:54 +0200 (CEST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow" -->
<!-- id="" -->
<!-- inreplyto="3710981B.D9223E3B@ddd.kursknet.ru" -->
<title>sane-devel: Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow</title>
<h1>Re: HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 11 Apr 1999 15:21:54 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Richard Kuhlbars: "Re: Compile Error with sane 1.01 pre4"</a>
<li> <b>Previous message:</b> <a href="0181.html">John Profic: "HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 11 Apr 1999, John Profic wrote:<br>
<p>
<i>&gt; I use 53c400a add-on to g_NCR5380.o to detect my SCSI card. Also the kernel</i><br>
<i>&gt; recognize my scaner as "procesor".</i><br>
<i>&gt; But then i try to use it it work very slow for example then i run 'xscanimage</i><br>
<i>&gt; hp:/dev/scanner' he stops about 30 seconds and then only show his fronend.</i><br>
<i>&gt; Then i try to scan it too has this delay but then i look at</i><br>
<i>&gt; /proc/scsi/g_NCR5380/0 it shows that transfer is about 500(k)bps...</i><br>
<p>
Dump the NCR 53C400 card and get a NCR 53C810 card for example. It works<br>
like a charm.<br>
<p>
Hugo.<br>
<p>
        +------------------------+------------------------------+<br>
<i>        | Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>        | Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>        | 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
        +------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in<br>
      human history, with the possible exception of handguns and tequila."<br>
                (Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Richard Kuhlbars: "Re: Compile Error with sane 1.01 pre4"</a>
<li> <b>Previous message:</b> <a href="0181.html">John Profic: "HP ScanJet 4p+ncr53c400a+kernel2.2.5 work too slow"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
