<!-- received="Sun Apr 11 16:39:34 1999 PDT" -->
<!-- sent="Mon, 12 Apr 1999 01:03:56 +0200" -->
<!-- name="*** Gaetano Paolone ***" -->
<!-- email="bigpaul@flashnet.it" -->
<!-- subject="Re: Mustek 1200SP/12000SP Firmware-1.05" -->
<!-- id="" -->
<!-- inreplyto="Mustek 1200SP/12000SP Firmware-1.05" -->
<title>sane-devel: Re: Mustek 1200SP/12000SP Firmware-1.05</title>
<h1>Re: Mustek 1200SP/12000SP Firmware-1.05</h1>
<b>*** Gaetano Paolone ***</b> (<a href="mailto:bigpaul@flashnet.it"><i>bigpaul@flashnet.it</i></a>)<br>
<i>Mon, 12 Apr 1999 01:03:56 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Graham Stoney: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0198.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Oliver Rauch: "Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi everyone,</i><br>
<i>&gt; </i><br>
<i>&gt; Did anyone get a Mustek 1200SP / 12000SP with firmware 1.05 to work?</i><br>
<i>&gt; A neigbour saind he had the following problems:</i><br>
<i>&gt;  - scan time 10-60 times the time the windows driver needs</i><br>
<i>&gt;  - in lineart is ok only in some resolutions</i><br>
<i>&gt;  - colormode gives very bad results in all resolutions, but the</i><br>
<i>&gt; quality changes with the resolution</i><br>
<i>&gt; </i><br>
<i>&gt; in the manpage and the supported scanner webpage the firmwareversion</i><br>
<i>&gt; is not mentioned.</i><br>
<i>&gt; </i><br>
<i>&gt; I would like to help him, can anyone give me some tips?</i><br>
<i>&gt; </i><br>
I have the same problems!<br>
I tried to use settings Dr. Andreas Bolsch told me but no changes<br>
occurred.<br>
<p>
<p>
Please help us!!!!!!!!!!!!<br>
<p>
<p>
I repeat:<br>
<p>
long time of scanning<br>
lineart is ok<br>
gray is ok<br>
color: strange images with strange colors.<br>
<p>
<p>
<pre>
-- 
Gaetano Paolone
<a href="mailto:Gaetano@poboxes.com">Gaetano@poboxes.com</a>
www.poboxes.com/gaetano
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Graham Stoney: "Re: May sane_init fail?"</a>
<li> <b>Previous message:</b> <a href="0198.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Oliver Rauch: "Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0203.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- reply="end" -->
</ul>
