<!-- received="Mon Apr 12 09:02:52 1999 PDT" -->
<!-- sent="Mon, 12 Apr 1999 18:03:34 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Mustek 1200SP/12000SP Firmware-1.05" -->
<!-- id="" -->
<!-- inreplyto="Mustek 1200SP/12000SP Firmware-1.05" -->
<title>sane-devel: Re: Mustek 1200SP/12000SP Firmware-1.05</title>
<h1>Re: Mustek 1200SP/12000SP Firmware-1.05</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 12 Apr 1999 18:03:34 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#205">[ date ]</a><a href="index.html#205">[ thread ]</a><a href="subject.html#205">[ subject ]</a><a href="author.html#205">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0206.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Previous message:</b> <a href="0204.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Oliver Rauch: "Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
*** Gaetano Paolone *** wrote:<br>
<p>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Hi everyone,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Did anyone get a Mustek 1200SP / 12000SP with firmware 1.05 to work?</i><br>
<i>&gt; &gt; A neigbour saind he had the following problems:</i><br>
<i>&gt; &gt;  - scan time 10-60 times the time the windows driver needs</i><br>
<i>&gt; &gt;  - in lineart is ok only in some resolutions</i><br>
<i>&gt; &gt;  - colormode gives very bad results in all resolutions, but the</i><br>
<i>&gt; &gt; quality changes with the resolution</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; in the manpage and the supported scanner webpage the firmwareversion</i><br>
<i>&gt; &gt; is not mentioned.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I would like to help him, can anyone give me some tips?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; I have the same problems!</i><br>
<i>&gt; I tried to use settings Dr. Andreas Bolsch told me but no changes</i><br>
<i>&gt; occurred.</i><br>
<i>&gt;</i><br>
<p>
Is there a chance to update the firmware?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0206.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Previous message:</b> <a href="0204.html">Oliver Rauch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<li> <b>Maybe in reply to:</b> <a href="0177.html">Oliver Rauch: "Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Dr. Andreas Bolsch: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- reply="end" -->
</ul>
