<!-- received="Tue Apr 13 21:28:34 1999 PDT" -->
<!-- sent="Tue, 13 Apr 1999 21:28:31 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="new release delayed" -->
<!-- id="199904140428.VAA17685@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: new release delayed</title>
<h1>new release delayed</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 13 Apr 1999 21:28:31 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#220">[ date ]</a><a href="index.html#220">[ thread ]</a><a href="subject.html#220">[ subject ]</a><a href="author.html#220">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: new release delayed"</a>
<li> <b>Previous message:</b> <a href="0219.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0221.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: new release delayed"</a>
<li> <b>Reply:</b> <a href="0221.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: new release delayed"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
In case you're wondering what's happening with sane-1.0.1: I'm<br>
basically ready with the (hopefully) last pre-release but I currently<br>
am experiencing difficulties contacting the ftp server (hosted by<br>
redhat).  As soon as that problem has been resolved, I'll update the<br>
ftp site and send a new announcement (in the meantime, please send me<br>
patches that solve serious bugs only).<br>
<p>
Thanks for your patience.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: new release delayed"</a>
<li> <b>Previous message:</b> <a href="0219.html">*** Gaetano Paolone ***: "Re: Mustek 1200SP/12000SP Firmware-1.05"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0221.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: new release delayed"</a>
<li> <b>Reply:</b> <a href="0221.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: new release delayed"</a>
<!-- reply="end" -->
</ul>
