<!-- received="Sat Apr 17 18:46:03 1999 PDT" -->
<!-- sent="Sat, 17 Apr 1999 21:47:31 -0400 (EDT)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Thanks!" -->
<!-- id="199904180147.VAA26927@ra.lexis-nexis.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Thanks!</title>
<h1>Thanks!</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Sat, 17 Apr 1999 21:47:31 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Jerome ALET: "May I help you ?"</a>
<li> <b>Previous message:</b> <a href="0243.html">David Mosberger-Tang: "latest beta finally available!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all --<br>
I'm running Linux-2.2.5 on an Alpha.  I recently hung a Umax 1220S on it<br>
and rebuilt the kernel to use the ncr53c8xx driver.  My sane is 1.00.<br>
I'm in the process of committing the contents of 12 rolls of film to a<br>
cdrom, and so far it has worked flawlessly.  You folks do good work,<br>
and I just wanted to say thanx.<br>
-ls-<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Jerome ALET: "May I help you ?"</a>
<li> <b>Previous message:</b> <a href="0243.html">David Mosberger-Tang: "latest beta finally available!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
