<!-- received="Mon Apr 19 14:02:44 1999 PDT" -->
<!-- sent="Mon, 19 Apr 1999 23:08:08 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: latest beta finally available!" -->
<!-- id="" -->
<!-- inreplyto="latest beta finally available!" -->
<title>sane-devel: Re: latest beta finally available!</title>
<h1>Re: latest beta finally available!</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 19 Apr 1999 23:08:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">Gary Brant: "Errors compiling sane"</a>
<li> <b>Previous message:</b> <a href="0256.html">Oliver Rauch: "Re: Compile bug with Gimp libraries"</a>
<li> <b>Maybe in reply to:</b> <a href="0243.html">David Mosberger-Tang: "latest beta finally available!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<p>
<i>&gt; OK, I'm finally able to update the SANE ftp site again.  The latest</i><br>
<i>&gt; beta is now at:</i><br>
<i>&gt;</i><br>
<i>&gt;         <a href="ftp://ftp.mostang.com/pub/sane/beta/">ftp://ftp.mostang.com/pub/sane/beta/</a></i><br>
<p>
Hi David,<br>
<p>
I do not get contact to the ftp server since some days.<br>
What is up with the server?<br>
<p>
Shall we see if we find an other server for sane?<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">Gary Brant: "Errors compiling sane"</a>
<li> <b>Previous message:</b> <a href="0256.html">Oliver Rauch: "Re: Compile bug with Gimp libraries"</a>
<li> <b>Maybe in reply to:</b> <a href="0243.html">David Mosberger-Tang: "latest beta finally available!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
