<!-- received="Tue Apr 20 07:10:59 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 15:00:15 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)" -->
<!-- id="" -->
<!-- inreplyto="Sane 1.01pre5 segfaults in RedHat 5.1 (net)" -->
<title>sane-devel: Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)</title>
<h1>Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Tue, 20 Apr 1999 15:00:15 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#266">[ date ]</a><a href="index.html#266">[ thread ]</a><a href="subject.html#266">[ subject ]</a><a href="author.html#266">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Luca Del Signore: "Re: at3 + ava 1505 again..."</a>
<li> <b>Previous message:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0281.html">David Mosberger-Tang: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Petter Reinholdtsen wrote:<br>
<i>&gt; </i><br>
<i>&gt; I've been testing the latest prerelease on HP/UX 10.20, Irix 6.5 and</i><br>
<i>&gt; RedHat Linux 5.2 using the net / hp backend.  It works, with the</i><br>
<i>&gt; eariler given patches.  HP/UX needed libtool 1.2f and the installation</i><br>
<i>&gt; patch to work.  Irix and Linux worked out of the box.</i><br>
<i>&gt; </i><br>
<i>&gt; I have yet to test the snapscan backend, but I expect no surprises as</i><br>
<i>&gt; there was no changes there from pre4.</i><br>
<i>&gt; --</i><br>
<p>
Arghh...<br>
<p>
With the simplest dll.conf<br>
<p>
# sane stream tcp nowait root /usr/local/sbin/saned saned<br>
# enable the next line if you want to allow access through the network:<br>
net<br>
#agfafocus<br>
#apple<br>
#artec<br>
#canon<br>
#coolscan<br>
#dc25<br>
#dmc<br>
#epson<br>
#hp<br>
#microtek<br>
#microtek2<br>
#mustek<br>
#pint<br>
pnm<br>
#qcam<br>
#ricoh<br>
#s9036<br>
#snapscan<br>
#tamarack<br>
#umax<br>
<p>
and the simplest net.conf<br>
<p>
# This is the net config file.  Each line names a host to attach to.<br>
# If you list "localhost" then your backends can be accessed either<br>
# directly or through the net backend.  Going through the net backend<br>
# may be necessary to access devices that need special privileges.<br>
# localhost<br>
<p>
localhost<br>
<p>
----------<br>
<p>
I keep getting SIGSEGVs in redhat 5.1<br>
<p>
<p>
I have reported it some time ago... but I am not qualified to find the<br>
solution...<br>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Luca Del Signore: "Re: at3 + ava 1505 again..."</a>
<li> <b>Previous message:</b> <a href="0265.html">Hugo van der Kooij: "Re: Silly question?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0281.html">David Mosberger-Tang: "Re: Sane 1.01pre5 segfaults in RedHat 5.1 (net)"</a>
<!-- reply="end" -->
</ul>
