<!-- received="Tue Apr 20 12:19:23 1999 PDT" -->
<!-- sent="Tue, 20 Apr 1999 15:18:09 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Silly question?" -->
<!-- id="" -->
<!-- inreplyto="Silly question?" -->
<title>sane-devel: Re: Silly question?</title>
<h1>Re: Silly question?</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Tue, 20 Apr 1999 15:18:09 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#274">[ date ]</a><a href="index.html#274">[ thread ]</a><a href="subject.html#274">[ subject ]</a><a href="author.html#274">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Nick Lamb: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0273.html">Peter Kirchgessner: "Re: Silly question?"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Peter Kirchgessner wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; with the current backend (also included in sane pre 1.01)</i><br>
<i>&gt; and SANE_DEBUG_HP=3 you should get more information whats going on.</i><br>
<i>&gt; You can also see which lines of the config-file are processed.</i><br>
<i>&gt; The hp-backend that is in SANE 1.00 has some known bugs with</i><br>
<i>&gt; the "scsi HP"-line. Should be removed from the file.</i><br>
<i>&gt; ...</i><br>
<p>
I added support for the "scsi ..." format to 1.0 (it wasn't in 1.0,<br>
but in the patches I posted and the pre1.01 release).<br>
<p>
As for "known bugs", I know of none unless there is a problem with<br>
the SCSI code for some platforms.  I've been using the line "scsi HP"<br>
with our 6250C on an IRIX box for several months now without problems.<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0275.html">Nick Lamb: "Re: Silly question?"</a>
<li> <b>Previous message:</b> <a href="0273.html">Peter Kirchgessner: "Re: Silly question?"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Hugo van der Kooij: "Silly question?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
