<!-- received="Wed Apr 21 08:46:40 1999 PDT" -->
<!-- sent="Wed, 21 Apr 1999 17:43:48 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: 2 Channel SCSI Card" -->
<!-- id="" -->
<!-- inreplyto="2 Channel SCSI Card" -->
<title>sane-devel: Re: 2 Channel SCSI Card</title>
<h1>Re: 2 Channel SCSI Card</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 21 Apr 1999 17:43:48 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#286">[ date ]</a><a href="index.html#286">[ thread ]</a><a href="subject.html#286">[ subject ]</a><a href="author.html#286">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0287.html">Nick Lamb: "Re: PNM backend (was Segfaults in 1.01-pre ...)"</a>
<li> <b>Previous message:</b> <a href="0285.html">Brian Macy: "Anonymous CVS..."</a>
<li> <b>Maybe in reply to:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0358.html">Tom Reinertson: "Re: 2 Channel SCSI Card"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------098E070729ADAA2AF57244BD<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Tom Reinertson wrote:<br>
<p>
<i>&gt; I'm having problems getting SANE to recognize my UMAX 1220S scanner</i><br>
<i>&gt; attached to the second channel on my IntraServer 3280U-N scsi adaptor.</i><br>
<i>&gt; Everything worked fine using a single channel scsi adaptor.</i><br>
<i>&gt;</i><br>
<i>&gt; Dmesg now reports:</i><br>
<i>&gt;</i><br>
<i>&gt;   Vendor: UMAX      Model: Astra 1220S       Rev: V1.1</i><br>
<i>&gt;   Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt;</i><br>
<i>&gt; after booting up and when I load the generic scsi drivers dmesg reports:</i><br>
<i>&gt;</i><br>
<i>&gt; Detected scsi generic sgd at scsi1, channel 0, id 1, lun 0</i><br>
<i>&gt;</i><br>
<i>&gt; but scanimage -L reports no scanners.  If I run find-scanner it</i><br>
<i>&gt; correctly reports the UMAX found at /dev/scanner but then hangs and</i><br>
<i>&gt; dmesg is flooded with messages from the scsi adaptor:</i><br>
<i>&gt;</i><br>
<i>&gt; ...</i><br>
<i>&gt; ncr53c875-0-&lt;0,0&gt;: M_IGN_RESIDUE received, but not yet implemented.</i><br>
<i>&gt; ncr53c875-0-&lt;0,0&gt;: using tagged command queueing, up to 4 cmds/lun</i><br>
<i>&gt; ncr53c875-0-&lt;0,0&gt;: using tagged command queueing, up to 4 cmds/lun</i><br>
<i>&gt; ncr53c875-0-&lt;0,0&gt;: WIDE SCSI (16 bit) enabled.</i><br>
<i>&gt; ncr53c875-0-&lt;4,0&gt;: using tagged command queueing, up to 4 cmds/lun</i><br>
<i>&gt; ncr53c875-0: SCSI phase error fixup: CCB address mismatch (0x0000e020 !=</i><br>
<i>&gt; 0x00089820)</i><br>
<i>&gt; ncr53c875-0-&lt;4,0&gt;: phase change 6-7 7@0000e4c8 resid=5.</i><br>
<i>&gt; ncr53c875-0-&lt;4,0&gt;: M_REJECT received (4:8).</i><br>
<i>&gt; scsi : aborting command due to timeout : pid 32854, scsi0, channel 0, id</i><br>
<i>&gt; 0, lun 0 Write (10) 00 00 a</i><br>
<i>&gt; e 25 7c 00 00 02 00</i><br>
<i>&gt; ncr53c8xx_abort: pid=32854 serial_number=32881</i><br>
<i>&gt; serial_number_at_timeout=32881</i><br>
<i>&gt; ncr53c875-0: abort ccb=00089820 (skip)</i><br>
<i>&gt; SCSI host 0 abort (pid 32854) timed out - resetting</i><br>
<i>&gt; SCSI bus is being reset for host 0 channel 0.</i><br>
<i>&gt; ncr53c8xx_reset: pid=32854 reset_flags=2 serial_number=32881</i><br>
<i>&gt; serial_number_at_timeout=32881</i><br>
<i>&gt; ncr53c875-0: resetting, command processing suspended for 2 seconds</i><br>
<i>&gt; ncr53c875-0: restart (scsi reset).</i><br>
<i>&gt; ncr53c875-0: enabling clock multiplier</i><br>
<i>&gt; ... (I don't know if anymore would be useful)</i><br>
<i>&gt;</i><br>
<i>&gt; I sure would appreciate some help on this one.</i><br>
<p>
Hi Tom,<br>
<p>
which scsi-driver did you compile into the kernel?<br>
Use the BSD-driver!<br>
<p>
Disable disconnect reconnect and if that not helps disable tagged command<br>
queing!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
--------------098E070729ADAA2AF57244BD
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: 7bit
<p>
<HTML>
Tom Reinertson wrote:
<BLOCKQUOTE TYPE=CITE>I'm having problems getting SANE to recognize my
UMAX 1220S scanner
<BR>attached to the second channel on my IntraServer 3280U-N scsi adaptor.
<BR>Everything worked fine using a single channel scsi adaptor.

<P>Dmesg now reports:

<P>&nbsp; Vendor: UMAX&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Model: Astra 1220S&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Rev: V1.1
<BR>&nbsp; Type:&nbsp;&nbsp; Scanner&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ANSI SCSI revision: 02

<P>after booting up and when I load the generic scsi drivers dmesg reports:

<P>Detected scsi generic sgd at scsi1, channel 0, id 1, lun 0

<P>but scanimage -L reports no scanners.&nbsp; If I run find-scanner it
<BR>correctly reports the UMAX found at /dev/scanner but then hangs and
<BR>dmesg is flooded with messages from the scsi adaptor:

<P>...
<BR>ncr53c875-0-&lt;0,0>: M_IGN_RESIDUE received, but not yet implemented.
<BR>ncr53c875-0-&lt;0,0>: using tagged command queueing, up to 4 cmds/lun
<BR>ncr53c875-0-&lt;0,0>: using tagged command queueing, up to 4 cmds/lun
<BR>ncr53c875-0-&lt;0,0>: WIDE SCSI (16 bit) enabled.
<BR>ncr53c875-0-&lt;4,0>: using tagged command queueing, up to 4 cmds/lun
<BR>ncr53c875-0: SCSI phase error fixup: CCB address mismatch (0x0000e020
!=
<BR>0x00089820)
<BR>ncr53c875-0-&lt;4,0>: phase change 6-7 7@0000e4c8 resid=5.
<BR>ncr53c875-0-&lt;4,0>: M_REJECT received (4:8).
<BR>scsi : aborting command due to timeout : pid 32854, scsi0, channel
0, id
<BR>0, lun 0 Write (10) 00 00 a
<BR>e 25 7c 00 00 02 00
<BR>ncr53c8xx_abort: pid=32854 serial_number=32881
<BR>serial_number_at_timeout=32881
<BR>ncr53c875-0: abort ccb=00089820 (skip)
<BR>SCSI host 0 abort (pid 32854) timed out - resetting
<BR>SCSI bus is being reset for host 0 channel 0.
<BR>ncr53c8xx_reset: pid=32854 reset_flags=2 serial_number=32881
<BR>serial_number_at_timeout=32881
<BR>ncr53c875-0: resetting, command processing suspended for 2 seconds
<BR>ncr53c875-0: restart (scsi reset).
<BR>ncr53c875-0: enabling clock multiplier
<BR>... (I don't know if anymore would be useful)

<P>I sure would appreciate some help on this one.</BLOCKQUOTE>


<P>Hi Tom,

<P>which scsi-driver did you compile into the kernel?
<BR>Use the BSD-driver!

<P>Disable disconnect reconnect and if that not helps disable tagged command
queing!

<P>Bye
<BR>Oliver
<PRE>--&nbsp;
EMAIL: Oliver.Rauch@Wolfsburg.DE
WWW: <A HREF="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</A></PRE>
&nbsp;</HTML>

--------------098E070729ADAA2AF57244BD--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0287.html">Nick Lamb: "Re: PNM backend (was Segfaults in 1.01-pre ...)"</a>
<li> <b>Previous message:</b> <a href="0285.html">Brian Macy: "Anonymous CVS..."</a>
<li> <b>Maybe in reply to:</b> <a href="0283.html">Tom Reinertson: "2 Channel SCSI Card"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0358.html">Tom Reinertson: "Re: 2 Channel SCSI Card"</a>
<!-- reply="end" -->
</ul>
