<!-- received="Thu Apr 22 08:05:24 1999 PDT" -->
<!-- sent="Thu, 22 Apr 1999 11:04:56 -0400 (EDT)" -->
<!-- name="John Stoffel" -->
<!-- email="john.stoffel@ascend.com" -->
<!-- subject="Re: Sane config thoughts" -->
<!-- id="" -->
<!-- inreplyto="371F3847.A75C1E7C@wolfsburg.de" -->
<title>sane-devel: Re: Sane config thoughts</title>
<h1>Re: Sane config thoughts</h1>
<b>John Stoffel</b> (<a href="mailto:john.stoffel@ascend.com"><i>john.stoffel@ascend.com</i></a>)<br>
<i>Thu, 22 Apr 1999 11:04:56 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#295">[ date ]</a><a href="index.html#295">[ thread ]</a><a href="subject.html#295">[ subject ]</a><a href="author.html#295">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0296.html">Oliver Rauch: "Re: Sane config thoughts"</a>
<li> <b>Previous message:</b> <a href="0294.html">Oliver Rauch: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt; Hi guys,</i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; One of the things I really like about sane is that it works, and works</i><br>
<i>&gt;&gt; pretty well.  The thing I really dislike is that when I compile the</i><br>
<i>&gt;&gt; code I build backends for scanners I've never even seen, much less</i><br>
<i>&gt;&gt; have on my computer.</i><br>
<i>&gt;&gt; </i><br>
<i>&gt;&gt; Would it make sense to implement some sort of configure time questions</i><br>
<i>&gt;&gt; to ask which backends you want compiled into our kernel?</i><br>
<p>
<p>
Oliver&gt; the backends are not compiled into your kernel.  sane only<br>
Oliver&gt; build libraries that are installed on your harddisk.<br>
<p>
Correct, I mis-typed here, and didn't proof read enough before<br>
sending. <br>
<p>
Oliver&gt; The libraries are installed in /usr(/local)/lib/sane<br>
Oliver&gt; and all you have to pay is about 7 MB harddiskspace.<br>
<p>
It's not so much the disk space, but the feeling that we shouldn't<br>
bother to build backends that the user doesn't even have.  And as much<br>
as we think it true, disk space isn't infinite.  <br>
<p>
Oliver&gt; If that is too much, feel free to remove the backend-libraries<br>
Oliver&gt; you don`t need<br>
<p>
That's what I currently do now, but I was wondering if others felt the<br>
same way and if I should bother to make a patch for this behavior.<br>
<p>
John<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0296.html">Oliver Rauch: "Re: Sane config thoughts"</a>
<li> <b>Previous message:</b> <a href="0294.html">Oliver Rauch: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
