<!-- received="Thu Apr 22 08:14:38 1999 PDT" -->
<!-- sent="Thu, 22 Apr 1999 17:17:04 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Sane config thoughts" -->
<!-- id="" -->
<!-- inreplyto="Sane config thoughts" -->
<title>sane-devel: Re: Sane config thoughts</title>
<h1>Re: Sane config thoughts</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 22 Apr 1999 17:17:04 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#296">[ date ]</a><a href="index.html#296">[ thread ]</a><a href="subject.html#296">[ subject ]</a><a href="author.html#296">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0295.html">John Stoffel: "Re: Sane config thoughts"</a>
<li> <b>Maybe in reply to:</b> <a href="0293.html">John Stoffel: "Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
John Stoffel wrote:<br>
<p>
<i>&gt; It's not so much the disk space, but the feeling that we shouldn't</i><br>
<i>&gt; bother to build backends that the user doesn't even have.  And as much</i><br>
<i>&gt; as we think it true, disk space isn't infinite.</i><br>
<i>&gt;</i><br>
<i>&gt; Oliver&gt; If that is too much, feel free to remove the backend-libraries</i><br>
<i>&gt; Oliver&gt; you don`t need</i><br>
<i>&gt;</i><br>
<i>&gt; That's what I currently do now, but I was wondering if others felt the</i><br>
<i>&gt; same way and if I should bother to make a patch for this behavior.</i><br>
<i>&gt;</i><br>
<p>
Hi John,<br>
<p>
I think it is ok to compile and install all backends. The may be 6MB<br>
harddiskspace<br>
do not hurt - if they do the machine is not the right one for a scanner!<br>
<p>
The "normal" user does use a binary and that has to come with all backends<br>
- or do you like to create dozens of sane-binaries -- for each scanner or<br>
backend one?<br>
<p>
If we have different versions for different scanners I am sure I will get<br>
thousends of<br>
questions why the scanner xyz does not work although sane sais it is supported.<br>
<p>
If someone likes to remove the libs thats ok, but sane should come with all<br>
backends!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0297.html">Luca Del Signore: "HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0295.html">John Stoffel: "Re: Sane config thoughts"</a>
<li> <b>Maybe in reply to:</b> <a href="0293.html">John Stoffel: "Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
