<!-- received="Thu Apr 22 08:33:20 1999 PDT" -->
<!-- sent="Thu, 22 Apr 1999 15:35:48 +0000" -->
<!-- name="Luca Del Signore" -->
<!-- email="lucadels@tin.it" -->
<!-- subject="HEEEELP!!!!!!!!!!!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HEEEELP!!!!!!!!!!!</title>
<h1>HEEEELP!!!!!!!!!!!</h1>
<b>Luca Del Signore</b> (<a href="mailto:lucadels@tin.it"><i>lucadels@tin.it</i></a>)<br>
<i>Thu, 22 Apr 1999 15:35:48 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#297">[ date ]</a><a href="index.html#297">[ thread ]</a><a href="subject.html#297">[ subject ]</a><a href="author.html#297">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0298.html">Rob Fargher: "Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0296.html">Oliver Rauch: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Luca Del Signore wrote:<br>
<i>&gt; </i><br>
<i>&gt; Luca Del Signore wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Luca Del Signore wrote:</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Tech wrote:</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Dear Sir:</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Please confirm for us that are you using a 25-pin or 50-pin pass-through</i><br>
<i>&gt; &gt; &gt; &gt; SCSI terminator because as we known of that 25-pin pass-through SCSI</i><br>
<i>&gt; &gt; &gt; &gt; terminator is very rare and mostly for very old SCSI device.  The most</i><br>
<i>&gt; &gt; &gt; &gt; common pass-though SCSI terminator is 50-pin Centronics connector.</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Are you still using the original cable that comes with the scanner?  If so,</i><br>
<i>&gt; &gt; &gt; &gt; the cable's 25-pin connector shoud connect to your A1505 SCSI card and the</i><br>
<i>&gt; &gt; &gt; &gt; 50-pin centronics connector should connect to the back of the scanner.  If</i><br>
<i>&gt; &gt; &gt; &gt; the scanner is connected this way, the pass-through SCSI terminator should</i><br>
<i>&gt; &gt; &gt; &gt; also be 50-pin Centronics connector and connect between the Cable and the</i><br>
<i>&gt; &gt; &gt; &gt; connector on the back of the scanner.</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Scanner&lt;--&gt;"Pass-through terminator"&lt;--&gt;Cable&lt;--&gt;"SCSI card"</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; If the SCSI termination has no effect on your problem, but the scanner is</i><br>
<i>&gt; &gt; &gt; &gt; able to work on the SAME computer under Windows 98 (note, on the same</i><br>
<i>&gt; &gt; &gt; &gt; computer, not on a different computer with same SCSI card), then most likely</i><br>
<i>&gt; &gt; &gt; &gt; the problem is from the Linux driver.  And if that's the case, there is not</i><br>
<i>&gt; &gt; &gt; &gt; much we could do about it.  However, bellow is a web site address that was</i><br>
<i>&gt; &gt; &gt; &gt; supplied by one of our customer whom also using our scanner under Linux.  It</i><br>
<i>&gt; &gt; &gt; &gt; might be worth for you to give a try to get more information and trouble</i><br>
<i>&gt; &gt; &gt; &gt; shooting for the scanner's Linux driver.  If the driver on this page could</i><br>
<i>&gt; &gt; &gt; &gt; solve your problem, please also let us know so we could refer other Linux</i><br>
<i>&gt; &gt; &gt; &gt; users to this web page in the future.</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; <a href="http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html">http://www4.infi.net/~cpinkham/sane/sane-artec-doc.html</a></i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; We are sorry about our handicap on Linux, but if you have any more question</i><br>
<i>&gt; &gt; &gt; &gt; that we could help with, please let us know.</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Have A Good Day!!!</i><br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; Technical Support</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; Well.. i have just tried to put a pass-through 50 pin external</i><br>
<i>&gt; &gt; &gt; terminator between the cable and the scanner and it just doesnt</i><br>
<i>&gt; &gt; &gt; work...and if it's not enough, I dont know how to open the web site you</i><br>
<i>&gt; &gt; &gt; told me about because i dont know how to type the character "tilde" on</i><br>
<i>&gt; &gt; &gt; my browser. please help, this scanner is the only reason i keep my win98</i><br>
<i>&gt; &gt; &gt; partition on my hard drive...</i><br>
<i>&gt; &gt; &gt; &gt; ARTEC, USA</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Well mr Pinkham... thats my situation with my at3 scanner and linux. Im</i><br>
<i>&gt; &gt; also a newbie and even if i finally checked your backends page i nearly</i><br>
<i>&gt; &gt; didnt understand a single thing..please help me i was about to surrender</i><br>
<i>&gt; &gt; when i saw on the SANE site that you are using successfully the same</i><br>
<i>&gt; &gt; scanner under linux!!!</i><br>
<p>
Well as you can see i sent this mail nearly everywhere and NONE has<br>
still helped me... please im desperate i want to use my at3 on linux!!!<br>
I know it works (Mr. Ppinkham has the same scanner working on linux but<br>
didnt answer me!!!)<br>
<i>&gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; At 02:37 PM 4/17/99 +0000, you wrote:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;Tech wrote:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; Dear Sir:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; For a SCSI system to work properly, it needs to be terminated on the both</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; end of the SCSI chain.  For example:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; If you only have external SCSI devices:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;                external        external        external</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;  SCSI card&lt;---&gt;SCSI device&lt;---&gt;SCSI device&lt;---&gt;SCSI device</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; (terminated)                                  (terminated)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; or if you only have internal SCSI devices:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;   internal        internal        internal</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;  SCSI device&lt;---&gt;SCSI device&lt;---&gt;SCSI device&lt;---&gt;SCSI card</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;  (terminated)                                   (terminated)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; or if you have both external and internal SCSI device:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;   internal        internal                      external        external</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;  SCSI device&lt;---&gt;SCSI device&lt;---&gt;SCSI card&lt;---&gt;SCSI device&lt;---&gt;SCSI device</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;  (terminated)                                                 (terminated)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; The internal passive pass-through terminator in the AT3 scanner might not be</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; strong enough when using with third party high-efficiency SCSI card.  In</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; your case, the Linux SCSI card driver you are using might be more efficient</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; then the Windows 98 driver, or the Linux driver somehow is missing some</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; transmit/error checking steps.  By adding an external pass-through</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; terminator on the back of AT3 scanner will make the data transmit more</i><br>
<i>&gt; &gt; &gt; &gt; stable.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;Well... I did it earlier today...i bought an external 25 pin</i><br>
<i>&gt; &gt; &gt; &gt; &gt;pass-through scsi terminator and put it on the back of my at3 and</i><br>
<i>&gt; &gt; &gt; &gt; &gt;...well nothing changed!!!!! My linux still freezes. So i spent exactly</i><br>
<i>&gt; &gt; &gt; &gt; &gt;72000 lire for this f...g try and now what can I do??? Should I give up</i><br>
<i>&gt; &gt; &gt; &gt; &gt;using my scanner under linux? But why? I want to stress out that the</i><br>
<i>&gt; &gt; &gt; &gt; &gt;author of the software SANE tells it works fine with the artec scanners</i><br>
<i>&gt; &gt; &gt; &gt; &gt;and that he's using the same at3 successfully under</i><br>
<i>&gt; &gt; &gt; &gt; &gt;linux...unfortunately he doesnt release any mail so i dont know how to</i><br>
<i>&gt; &gt; &gt; &gt; &gt;do...please help mme</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; For more information about SCSI, you can check the following web site:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; <a href="http://www.scsi.org">http://www.scsi.org</a></i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; If you have any more question, please let us know.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; Have A Good Day!!!</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; Technical Support</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; ARTEC, USA</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; At 06:44 AM 4/16/99 +0000, you wrote:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;Tech wrote:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; Dear Sir:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; Have you try to add a pass-through external terminator on the back of the</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; AT3 scanner?  This is one of most common cause of scanner locks-up when</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; using with third party SCSI interface card.  Please give a try.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; If you have any more question, please let us know.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;Ehm...what do you mean?? I am not an scsi expert...and why should i add</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;an "external terminator" on the back of the scanner if its working</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;perfectly under the win98 partition?</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;And what is an external terminator?</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; Have A Good Day!!!</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; Technical Support</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; ARTEC, USA</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; At 02:44 PM 4/15/99 +0000, you wrote:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Dear sirs,</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;I am writing to you because I am having a lot of trouble trying to use my</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; scanner artec at3 on my linux partition on my PC.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;I know that you dont support linux officially but i think you can help me</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; using that scanner with it.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;In fact i recently bought an ava-1505 scsi adapter (which is Linux</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; compatible) in order to make my at3 work with linux using the software</i><br>
<i>&gt; &gt; &gt; &gt; SANE</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; (<a href="http://www.mostang.com/sane">http://www.mostang.com/sane</a>) which the producer says it is proven to work</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; with the at3. Well, unfortunately after i installed the new scsi</i><br>
<i>&gt; &gt; &gt; &gt; adapter my</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; linux red hat 5.2 sees it perfectly (i include the dmesg at the end of</i><br>
<i>&gt; &gt; &gt; &gt; this</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; text). But while my scanner work perfectly under win98 even with the new</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; adapter, it doesn't with linux: using SANE, or the scanning software</i><br>
<i>&gt; &gt; &gt; &gt; within</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; my StarOffice 5 , my At3 begins calibrating (i can hear the noise) but</i><br>
<i>&gt; &gt; &gt; &gt; then,</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; instead of beginning the scan everything freezes and i have to reboot</i><br>
<i>&gt; &gt; &gt; &gt; (very</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; very unusual with linux). I dont think it's a problem of terminating</i><br>
<i>&gt; &gt; &gt; &gt; my scsi</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; adapter because my owner manual says the terminations are enabled by</i><br>
<i>&gt; &gt; &gt; &gt; default</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; and I don't have any other scsi device on my PC.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Any help????</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Luca Del Signore</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Viale Manlio Gelsomini, 26</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Rome, Italy 00153</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Linux version 2.2.2 (<a href="mailto:root@localhost.localdomain">root@localhost.localdomain</a>) (gcc version 2.7.2.3) #2</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; SMP lun apr 12 15:51:04 CEST 1999</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;mapped APIC to ffffe000 (00257000)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;mapped IOAPIC to ffffd000 (00258000)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Detected 200455871 Hz processor.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Console: colour VGA+ 80x25</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Calibrating delay loop... 399.77 BogoMIPS</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Memory: 127996k/131072k available (1040k kernel code, 420k reserved,</i><br>
<i>&gt; &gt; &gt; &gt; 1568k</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; data, 48k init)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Checking 386/387 coupling... OK, FPU using exception 16 error reporting.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Checking 'hlt' instruction... OK.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Intel Pentium with F0 0F bug - workaround enabled.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;POSIX conformance testing by UNIFIX</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;per-CPU timeslice cutoff: 1.56 usecs.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;CPU0: Intel Pentium MMX stepping 03</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;SMP motherboard not detected. Using dummy APIC emulation.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PCI: PCI BIOS revision 2.10 entry at 0xf04b0</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PCI: Using configuration type 1</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PCI: Probing PCI hardware</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Linux NET4.0 for Linux 2.2</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Based upon Swansea University Computer Society NET3.039</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;NET4: Unix domain sockets 1.0 for Linux NET4.0.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;NET4: Linux TCP/IP 1.0 for NET4.0</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;IP Protocols: ICMP, UDP, TCP</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Starting kswapd v 1.5</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;parport0: PC-style at 0x378 [SPP,ECP,ECPEPP,ECPPS2]</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;parport0: detected irq 7; use procfs to enable interrupt-driven</i><br>
<i>&gt; &gt; &gt; &gt; operation.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;parport0: Printer, EPSON Stylus COLOR 600</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Detected PS/2 Mouse Port.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Serial driver version 4.27 with no serial options enabled</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;ttyS00 at 0x03f8 (irq = 4) is a 16550A</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;ttyS01 at 0x02f8 (irq = 3) is a 16550A</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;pty: 256 Unix98 ptys configured</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;lp0: using parport0 (polling).</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;apm: BIOS version 1.2 Flags 0x03 (Driver version 1.9)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Real Time Clock Driver v1.09</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PIIX3: IDE controller on PCI bus 00 dev 39</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PIIX3: not 100% native mode: will probe irqs later</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;    ide0: BM-DMA at 0xe800-0xe807, BIOS settings: hda:pio, hdb:pio</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;    ide1: BM-DMA at 0xe808-0xe80f, BIOS settings: hdc:pio, hdd:pio</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;hda: QUANTUM FIREBALL EL5.1A, ATA DISK drive</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;hdc: CDA106801ISE, ATAPI CDROM drive</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;ide0 at 0x1f0-0x1f7,0x3f6 on irq 14</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;ide1 at 0x170-0x177,0x376 on irq 15</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;hda: QUANTUM FIREBALL EL5.1A, 4892MB w/418kB Cache, CHS=623/255/63,</i><br>
<i>&gt; &gt; &gt; &gt; (U)DMA</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;hdc: ATAPI 10X CD-ROM drive, 120kB Cache</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Uniform CDROM driver Revision: 2.52</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Floppy drive(s): fd0 is 1.44M</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;FDC 0 is a post-1991 82077</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;aha152x: processing commandline: ok</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;aha152x: BIOS test: passed, detected 1 controller(s)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;aha152x0: vital data: PORTBASE=0x340, IRQ=11, SCSI ID=7,</i><br>
<i>&gt; &gt; &gt; &gt; reconnect=enabled,</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; parity=enabled, synchronous=disabled, delay=100, extended</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; translation=disabled</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;aha152x: trying software interrupt, ok.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;scsi0 : Adaptec 152x SCSI driver; $Revision: 1.7 $</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;scsi : 1 host.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;  Vendor: ULTIMA    Model: AT3               Rev: 1.90</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;  Type:   Scanner                            ANSI SCSI revision: 02</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Detected scsi generic sga at scsi0, channel 0, id 6, lun 0</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;scsi : detected total.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PPP: version 2.3.3 (demand dialling)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;TCP compression code copyright 1989 Regents of the University of</i><br>
<i>&gt; &gt; &gt; &gt; California</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;PPP line discipline registered.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Partition check:</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt; hda: hda1 hda2 &lt; hda5 hda6 hda7 &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;VFS: Mounted root (ext2 filesystem) readonly.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Freeing unused kernel memory: 48k freed</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Adding Swap: 40124k swap-space (priority -1)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;Soundblaster audio driver Copyright (C) by Hannu Savolainen 1993-1996</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;SB 4.13 detected OK (220)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;YM3812 and OPL-3 driver Copyright (C) by Hannu Savolainen, Rob Hooft</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; 1993-1996</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;cdrom: open failed.</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;VFS: Disk change detected on device ide1(22,0)</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;tty_io.c: process 269 (gpm) used obsolete /dev/cua0 - update software to</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; use /dev/ttyS0</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;&gt; &gt;</i><br>
<i>&gt; &gt; &gt; &gt; &gt;</i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0298.html">Rob Fargher: "Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0296.html">Oliver Rauch: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
