<!-- received="Thu Apr 22 11:52:39 1999 PDT" -->
<!-- sent="Thu, 22 Apr 1999 14:52:44 -0400 (EDT)" -->
<!-- name="Phillip W Ross" -->
<!-- email="ross1+@pitt.edu" -->
<!-- subject="Re: Star Office and scanner" -->
<!-- id="" -->
<!-- inreplyto="05ee95739181649WEB1@aebc.com" -->
<title>sane-devel: Re: Star Office and scanner</title>
<h1>Re: Star Office and scanner</h1>
<b>Phillip W Ross</b> (<a href="mailto:ross1%22@pitt.edu"><i>ross1+@pitt.edu</i></a>)<br>
<i>Thu, 22 Apr 1999 14:52:44 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#300">[ date ]</a><a href="index.html#300">[ thread ]</a><a href="subject.html#300">[ subject ]</a><a href="author.html#300">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Hugo van der Kooij: "Re: Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0299.html">keith@softfocus.nu: "Coolscan II problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 22 Apr 1999, Rob Fargher wrote:<br>
<i>&gt;   I installed StarOffice for Linux recently  and was playing around</i><br>
<i>&gt; with it.  In the drawing component, in one of the pull-down menus was</i><br>
<i>&gt; an option for scanning.  I clicked on it, not expecting much as I</i><br>
<i>&gt; hadn't told StarOffice about my scanner or about Sane.</i><br>
<p>
	I'm definately impressed!  I think Staroffice could use a little<br>
bit better documentation.  I'm probably not alone on this opinion.<br>
<p>
Phillip Ross<br>
Financial Information Systems<br>
Application Support Services<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Hugo van der Kooij: "Re: Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0299.html">keith@softfocus.nu: "Coolscan II problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
