<!-- received="Thu Apr 22 22:34:41 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 06:35:04 +0100 (BST)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Sane config thoughts" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.990423013133.7892D-100000@mail.perspex.com" -->
<title>sane-devel: Re: Sane config thoughts</title>
<h1>Re: Sane config thoughts</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Fri, 23 Apr 1999 06:35:04 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#315">[ date ]</a><a href="index.html#315">[ thread ]</a><a href="subject.html#315">[ subject ]</a><a href="author.html#315">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0316.html">Hugo van der Kooij: "Re: Sane config thoughts"</a>
<li> <b>Previous message:</b> <a href="0314.html">Tripp Lilley: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 23 Apr 1999, Tripp Lilley wrote:<br>
<p>
<i>&gt; ... consider building a</i><br>
<i>&gt; thoughtful RPM -- perhaps one that prompts the user for which backend(s)</i><br>
<i>&gt; they'd like to install.</i><br>
<p>
(1) AFAIK RPM doesn't support prompts for the user -- what would they<br>
look like in GnoRPM, or during an automated FTP install?<br>
<p>
(2) The user doesn't know if they need "mustek2.rpm" "umax.rpm" for their<br>
unbadged SCSI scanner they got free with the computer. SANE can figure<br>
this out, but now you've prevented that from happening.<br>
<p>
<i>&gt; Or, perhaps something more like a "SANE Core" RPM, and individual "SANE</i><br>
<i>&gt; backend" RPMs for the different backends. I'd, of course, include the dll,</i><br>
<i>&gt; net, and pnm backends in the "Core" automatically.</i><br>
<p>
Now you've got the user picking tons of extra packages at install time,<br>
just to make the minimum install smaller (which as was already pointed out<br>
is irrelevant if you're going to be running a resource-intensive scanner)<br>
<p>
I'm sure your intentions are good, but the truth is Hard Disk space is<br>
lots cheaper than technical support. So rather than get 10 million cries<br>
for help "Which RPMs should I install?" we keep it simple. Red Hat and<br>
other distributors have always taken this approach to the other HW<br>
components in a system -- assume the user has everything, and install<br>
drivers just in case they need them.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0316.html">Hugo van der Kooij: "Re: Sane config thoughts"</a>
<li> <b>Previous message:</b> <a href="0314.html">Tripp Lilley: "Re: Sane config thoughts"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
