<!-- received="Fri Apr 23 01:28:14 1999 PDT" -->
<!-- sent="Fri, 23 Apr 1999 09:28:45 +0100 (BST)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Scanning and interpolation" -->
<!-- id="" -->
<!-- inreplyto="Pine.OSF.4.05.9904230958330.17031-100000@waage" -->
<title>sane-devel: Re: Scanning and interpolation</title>
<h1>Re: Scanning and interpolation</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Fri, 23 Apr 1999 09:28:45 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#325">[ date ]</a><a href="index.html#325">[ thread ]</a><a href="subject.html#325">[ subject ]</a><a href="author.html#325">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0326.html">Milon Firikis: "Re: Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0324.html">Danilo Godec: "Epson Expression 636 Artist 2 Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 23 Apr 1999, Ole W. Saastad wrote:<br>
<p>
<i>&gt; I have played some time with scanning software (AGFA and HP) and </i><br>
<i>&gt; especially tested the best way of scanning, 100, 200, 300 dpi, and </i><br>
<i>&gt; 1200 dpi (interpolated). The file size differ a lot but they are reduced </i><br>
<i>&gt; afterwards to equal with jpg compression. Apparently it looks like the </i><br>
<i>&gt; interpolation routines (HP) do a good job. It looks like the picture </i><br>
<i>&gt; scanned with 1200 dpi have higher resolution than the one scanned with </i><br>
<i>&gt; only 300 dpi, which is the optical resolution of the scanner.</i><br>
<i>&gt; The best result is obtained by scanning in 1200 dpi and reducing the </i><br>
<i>&gt; file with jpg compression, even though I had expected scanning in 300</i><br>
<i>&gt; dpi to as good as 1200 dpi.</i><br>
<p>
Huh? The best result was a damaged low resolution version of an interpolated<br>
image? I think your idea of "best" is very different from mine.<br>
<p>
If you compare your images to a magnified view of the original image you<br>
should see that the 300 dpi SANE image (before JPEG compression) is more<br>
faithful than the others. You'll also see that the artificially added<br>
smoothing in the interpolated image, while pleasing to the eye, doesn't<br>
even slightly resemble the real image detail.<br>
<p>
<i>&gt; SANE does no interpolation and will only deliver the optical resolution </i><br>
<i>&gt; of the scanner. Is the apparent enhancement of the picture only an</i><br>
<i>&gt; illusion?</i><br>
<p>
(1) Yes. (2) No. The image you scanned was so bad, that it was improved<br>
by being blurred and smoothed, and having sharp constrasts removed.<br>
<p>
<i>&gt; It seems that the resolution is higher also when blowing the picture up</i><br>
<i>&gt; to see each individual pixel. Even if the illusion is only apparent to the</i><br>
<i>&gt; eye it could in many cases make the pictures look better.</i><br>
<p>
<i>&gt; It might be a good idea to introduce interpolation into SANE ? Is the</i><br>
<i>&gt; algorithms behind this free ? Or are these routines known for all ?</i><br>
<i>&gt; How is the interpolation done ? Close to the hardware or on the picture</i><br>
<i>&gt; after scanning ? E.g. could it be done in GIMP ? - Or must it be a driver</i><br>
<i>&gt; routine ?</i><br>
<p>
I'd be happy to see a backend-frontend design which interposed between<br>
the hardware driver and the SANE GUI to give users a smoothly interpolated<br>
version of their photo. Of course, if you want this done properly it<br>
should be done in a good image editing package, like GIMP. I certainly<br>
DON'T want to see interpolation done "seamlessly" in the drivers or in<br>
the scanimage applications, because this process gives very poor quality.<br>
<p>
In the HP ScanJet IIcx here the interpolation is done in hardware. Since<br>
you don't see interpolation in SANE, I'm forced to conclude that your<br>
scanner doesn't do hardware interpolation, which is probably for the best.<br>
<p>
AFAIK The routines normally used in scanner hardware/ software are very<br>
very simple. There is probably some advantage to knowing about the optics<br>
and A2D convertor in detail, but I doubt that sort of information is even<br>
used. If you really want higher resolution, there's no alternative but<br>
to buy a better scanner.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0326.html">Milon Firikis: "Re: Star Office and scanner"</a>
<li> <b>Previous message:</b> <a href="0324.html">Danilo Godec: "Epson Expression 636 Artist 2 Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
