<!-- received="Sat Apr 24 15:04:43 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 09:25:09 -0600" -->
<!-- name="Bob van der Poel" -->
<!-- email="bvdpoel@kootenay.com" -->
<!-- subject="Re: lineart vrs greyscale" -->
<!-- id="" -->
<!-- inreplyto="lineart vrs greyscale" -->
<title>sane-devel: Re: lineart vrs greyscale</title>
<h1>Re: lineart vrs greyscale</h1>
<b>Bob van der Poel</b> (<a href="mailto:bvdpoel@kootenay.com"><i>bvdpoel@kootenay.com</i></a>)<br>
<i>Sat, 24 Apr 1999 09:25:09 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#350">[ date ]</a><a href="index.html#350">[ thread ]</a><a href="subject.html#350">[ subject ]</a><a href="author.html#350">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0351.html">Tripp Lilley: "Re: lineart vrs greyscale"</a>
<li> <b>Previous message:</b> <a href="0349.html">Brian Macy: "Re: WinSANE0.9 and WinSANE 0.0.1.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0343.html">Bob van der Poel: "lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0353.html">Brian Macy: "Re: lineart vrs greyscale"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Thanks, Nick, for the very good (and fast) explanation. I will fool<br>
around with the brightness settings to see what I can get later today.<br>
<p>
Nick Lamb wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; I was scanning some documents last night using my Microtek E3. I figured</i><br>
<i>&gt; &gt; that since the text was straight black and white that I should use the</i><br>
<i>&gt; &gt; lineart setting. Even at 300dpi the result was unreadable. Using</i><br>
<i>&gt; &gt; greyscale produced nice docs.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; So, what's going on? When I select lineart or whatever, I assume that</i><br>
<i>&gt; &gt; this is setting the scanner to scan in a particular mode...so shouldn't</i><br>
<i>&gt; &gt; it be able to resolve b/w text better in lineart mode?</i><br>
<i>&gt; </i><br>
<i>&gt; The scanner hardware actually resolves greyscale, and lineart mode sets</i><br>
<i>&gt; a threshold, just like the filter of the same name in e.g. GIMP. So</i><br>
<i>&gt; the results of the threshold would pick up black-on-white art work while</i><br>
<i>&gt; ignoring the noise from the grain of the paper, smudges etc. For text</i><br>
<i>&gt; this is probably not what you want, unless you have an algorithm which</i><br>
<i>&gt; works only on BW data, perhaps some OCR does this?</i><br>
<i>&gt; </i><br>
<i>&gt; To the human eye greyscale will always look better because it reduces</i><br>
<i>&gt; aliasing. So if you're just going to look at the results (or use an</i><br>
<i>&gt; algorithm which permits greyscale) you should use greyscale.</i><br>
<i>&gt; </i><br>
<i>&gt; The other advantage of line art is that it returns much less data (of</i><br>
<i>&gt; course 8 times less normally, or better with RLE) and so can be saved</i><br>
<i>&gt; to a smaller file and transmitted more quickly over SCSI. This might be</i><br>
<i>&gt; important for scanning A4 documents at high resolution quickly.</i><br>
<i>&gt; </i><br>
<i>&gt; NB. You should be able to get *acceptable* results if you can tune the</i><br>
<i>&gt; brightness or threshold parameters for the scanner hardware. I can get</i><br>
<i>&gt; readable text from 400dpi lineart with the ScanJet IIc here.</i><br>
<i>&gt; </i><br>
<i>&gt; Nick.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
-- 
   __
  /  )      /         Bob van der Poel
 /--&lt;  ____/__        <a href="mailto:bvdpoel@kootenay.com">bvdpoel@kootenay.com</a>
/___/_(_) /_)         <a href="http://www.kootenay.com/~bvdpoel">http://www.kootenay.com/~bvdpoel</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0351.html">Tripp Lilley: "Re: lineart vrs greyscale"</a>
<li> <b>Previous message:</b> <a href="0349.html">Brian Macy: "Re: WinSANE0.9 and WinSANE 0.0.1.0"</a>
<li> <b>Maybe in reply to:</b> <a href="0343.html">Bob van der Poel: "lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0353.html">Brian Macy: "Re: lineart vrs greyscale"</a>
<!-- reply="end" -->
</ul>
