<!-- received="Sat Apr 24 18:40:35 1999 PDT" -->
<!-- sent="Sat, 24 Apr 1999 18:42:18 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Re: lineart vrs greyscale" -->
<!-- id="" -->
<!-- inreplyto="lineart vrs greyscale" -->
<title>sane-devel: Re: lineart vrs greyscale</title>
<h1>Re: lineart vrs greyscale</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Sat, 24 Apr 1999 18:42:18 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#353">[ date ]</a><a href="index.html#353">[ thread ]</a><a href="subject.html#353">[ subject ]</a><a href="author.html#353">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0354.html">EiNiD: "How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Previous message:</b> <a href="0352.html">Jay Smith: "Big Picture Camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0343.html">Bob van der Poel: "lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0414.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Which is there a way (before I support set/get parameters) to for the Linux<br>
box to scan various modes for the net interface? Basically I'm just about<br>
done implementing GRAY 1&amp;8 bit formats and I want to make sure I can test<br>
it.<br>
<p>
Brian Macy<br>
<p>
----- Original Message -----<br>
From: Tripp Lilley &lt;<a href="mailto:tlilley@perspex.com">tlilley@perspex.com</a>&gt;<br>
To: &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt;<br>
Sent: Saturday, April 24, 1999 4:43 PM<br>
Subject: Re: lineart vrs greyscale<br>
<p>
<p>
<i>&gt; On Sat, 24 Apr 1999, Nick Lamb wrote:</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; To the human eye greyscale will always look better because it reduces</i><br>
<i>&gt; &gt; aliasing. So if you're just going to look at the results (or use an</i><br>
<i>&gt; &gt; algorithm which permits greyscale) you should use greyscale.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; The other advantage of line art is that it returns much less data (of</i><br>
<i>&gt; &gt; course 8 times less normally, or better with RLE) and so can be saved</i><br>
<i>&gt; &gt; to a smaller file and transmitted more quickly over SCSI. This might be</i><br>
<i>&gt; &gt; important for scanning A4 documents at high resolution quickly.</i><br>
<i>&gt;</i><br>
<i>&gt; Though greyscale is certainly better for legibility, if you're planning on</i><br>
<i>&gt; archiving the documents, you'll want to futz around with the</i><br>
<i>&gt; brightness/contrast settings as mentioned, and stick with lineart. The</i><br>
<i>&gt; reason, in a nutshell, is that Group 4 Compression (FAX, TIFF, etc.) is</i><br>
<i>&gt; the "best compromise" compression for archival storage, and it only does</i><br>
<i>&gt; BW (ie: lineart).</i><br>
<i>&gt;</i><br>
<i>&gt; I say it's the "best compromise" because it's not /exactly/ a "general</i><br>
<i>&gt; purpose" compression algorithm. It was designed for FAX transmission, and</i><br>
<i>&gt; the designers chose certain constant parameters of the algorithm based on</i><br>
<i>&gt; statistical analysis of lots of images of text documents in European</i><br>
<i>&gt; languages. So it doesn't do quite as well on a BW scan of a full page</i><br>
<i>&gt; magazine ad as it would on a full page of magazine text.</i><br>
<i>&gt;</i><br>
<i>&gt; In any case, TIFF or CALS with G4 compression is by far the most pervasive</i><br>
<i>&gt; encoding in archival document management systems.</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt;    Tripp Lilley + Innovative Workflow Engineering, Inc. +</i><br>
<a href="mailto:(tripp@iweinc.com">(tripp@iweinc.com</a>)<br>
<i>&gt; --------------------------------------------------------------------------</i><br>
----<br>
<i>&gt;   "It all comes from health and good nutrition, and not just from</i><br>
<i>&gt;    giving them a nice bath before the show."</i><br>
<i>&gt;</i><br>
<i>&gt;  - Mary Papadopoulos, on horses showing well</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt;</i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0354.html">EiNiD: "How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Previous message:</b> <a href="0352.html">Jay Smith: "Big Picture Camera"</a>
<li> <b>Maybe in reply to:</b> <a href="0343.html">Bob van der Poel: "lineart vrs greyscale"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0414.html">Bob van der Poel: "Re: lineart vrs greyscale"</a>
<!-- reply="end" -->
</ul>
