<!-- received="Tue Apr 27 04:33:12 1999 PDT" -->
<!-- sent="Tue, 27 Apr 1999 13:36:29 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: SANE snapscan backend &amp; agfa 1236" -->
<!-- id="199904271136.NAA14457@lee.Cc.Uit.No" -->
<!-- inreplyto="SANE snapscan backend &amp; agfa 1236" -->
<title>sane-devel: Re: SANE snapscan backend &amp; agfa 1236</title>
<h1>Re: SANE snapscan backend &amp; agfa 1236</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 27 Apr 1999 13:36:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#386">[ date ]</a><a href="index.html#386">[ thread ]</a><a href="subject.html#386">[ subject ]</a><a href="author.html#386">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0387.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0385.html">Ewald R. de Wit: "Re: HP PhotoSmart R030 vs. SANE 1.01"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Nick Lamb]<br>
<i>&gt; This is a serious bug. If the backend can't do what scanimage -T</i><br>
<i>&gt; asks of it, then it's broken.</i><br>
<p>
Yep.  It has been like that since 1.00.  I tried fixing it, but did<br>
not find the time. :-)<br>
<p>
<i>&gt; If we're shipping a backend that can't manage scanimage -T then it</i><br>
<i>&gt; should have a BUG entry in the man page warning that's its not a</i><br>
<i>&gt; conforming backend, and someone should being trying to fix the bug.</i><br>
<p>
Any volunteers?<br>
<p>
The backend maintainer tells me that this backend should be completely <br>
rewritten.  Hopefully, we find time for that before 1.0.2. :-)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0387.html">Luca Del Signore: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0385.html">Ewald R. de Wit: "Re: HP PhotoSmart R030 vs. SANE 1.01"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
