<!-- received="Tue Apr 27 16:27:35 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 01:31:10 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Patch: HP/UX install with correct DLL endings" -->
<!-- id="199904272331.BAA07695@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: Patch: HP/UX install with correct DLL endings</title>
<h1>Patch: HP/UX install with correct DLL endings</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Wed, 28 Apr 1999 01:31:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#395">[ date ]</a><a href="index.html#395">[ thread ]</a><a href="subject.html#395">[ subject ]</a><a href="author.html#395">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0396.html">Larry Snyder: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0394.html">Petter Reinholdtsen: "Patch: dll cleanup and bugfix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a ugly patch to the ugly install code which hopefully should<br>
work correctly on both HP/UX and other platforms.  Please test this on <br>
all platforms.<br>
<p>
I suspect rev(1) is missing on some platforms.  Is this correct?  It<br>
is present on Linux and HP/UX.<br>
<p>
diff -ur sane-1.0.1/ChangeLog sane-1.0.1-pere/ChangeLog<br>
--- sane-1.0.1/ChangeLog	Mon Apr 19 18:21:33 1999<br>
+++ sane-1.0.1-pere/ChangeLog	Wed Apr 28 01:26:32 1999<br>
@@ -1,3 +1,9 @@<br>
+1999-04-28  Petter Reinholdtsen &lt;<a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>&gt;<br>
+<br>
+	* backend/Makefile.in (install): Correct target to work on<br>
+ 	platforms where dll endings isn't .so.  Extract endings from<br>
+ 	libsane-dll.la.<br>
+<br>
 1999-04-19  David Mosberger-Tang  &lt;<a href="mailto:David.Mosberger@acm.org">David.Mosberger@acm.org</a>&gt;<br>
 <br>
 	* Version 1.0.1 released.<br>
diff -ur sane-1.0.1/backend/Makefile.in sane-1.0.1-pere/backend/Makefile.in<br>
--- sane-1.0.1/backend/Makefile.in	Sun Apr  4 01:00:44 1999<br>
+++ sane-1.0.1-pere/backend/Makefile.in	Wed Apr 28 01:23:20 1999<br>
@@ -94,21 +94,26 @@<br>
<i> 	    || exit 1; \</i><br>
 	done<br>
 	@$(LIBTOOL) $(MINST) --finish $(libsanedir)<br>
-	@list="$(ALL_BACKENDS)"; cd $(libsanedir) &amp;&amp; for be in $$list; do \<br>
-	  file=libsane-$${be}.so.$(V_MAJOR); \<br>
+	@# Assume the dll name without any versions is last<br>
+	@dllend=`grep library_names= libsane-dll.la |rev|cut -d" " -f1|rev|sed 's/libsane-dll.//'|cut -d\' -f1`; \<br>
+	list="$(ALL_BACKENDS)"; cd $(libsanedir) &amp;&amp; for be in $$list; do \<br>
+	  file=libsane-$${be}.$$dllend.$(V_MAJOR); \<br>
 	  lib=`grep dlname= libsane-$${be}.la | cut -f2 -d"'"`; \<br>
 	  if test ! -f $${file} -a -n "$${lib}"; then \<br>
 	    $(LN_S) $${lib} $${file}; \<br>
 	  fi; \<br>
 	done<br>
-	rm -f $(libdir)/libsane.a $(libdir)/libsane.so \<br>
-		$(libdir)/libsane.so.$(V_MAJOR)*<br>
-	$(LN_S) sane/libsane-dll.a $(libdir)/libsane.a<br>
-	$(LN_S) sane/libsane-dll.so $(libdir)/libsane.so<br>
-	@cd $(libsanedir) &amp;&amp; for n in libsane-dll.so.$(V_MAJOR)*; do \<br>
+	@# Assume the dll name without any versions is last<br>
+	@dllend=`grep library_names= libsane-dll.la |rev|cut -f1 -d" "|rev|sed 's/libsane-dll.//'|cut -f1 -d\'`; \<br>
+	rm -f $(libdir)/libsane.a $(libdir)/libsane.$$dllend \<br>
+		$(libdir)/libsane.$$dllend.$(V_MAJOR)*; \<br>
+	$(LN_S) sane/libsane-dll.a $(libdir)/libsane.a; \<br>
+	$(LN_S) sane/libsane-dll.$$dllend $(libdir)/libsane.$$dllend ; \<br>
+	cd $(libsanedir) &amp;&amp; for n in libsane-dll.$$dllend.$(V_MAJOR)*; do \<br>
 	  nn=`echo $$n | sed 's,^libsane-dll,libsane,'`; \<br>
 	  (cd ..; $(LN_S) sane/$$n $$nn); \<br>
 	done || exit 1<br>
+	$(INSTALL_PROGRAM) libsane.la $(libdir)/libsane.la<br>
 	@list="$(CONFIGS)"; for cfg in $$list; do \<br>
 	  if test ! -r $(srcdir)/$${cfg}; then continue; fi; \<br>
 	  if test -f $(configdir)/$${cfg}; then \<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a> O- | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0396.html">Larry Snyder: "Re: HEEEELP!!!!!!!!!!!"</a>
<li> <b>Previous message:</b> <a href="0394.html">Petter Reinholdtsen: "Patch: dll cleanup and bugfix"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
