<!-- received="Wed Apr 28 10:07:14 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 19:10:33 +0200 (MET DST)" -->
<!-- name="Ingo Wilken" -->
<!-- email="Ingo.Wilken@Informatik.Uni-Oldenburg.DE" -->
<!-- subject="Re: May sane_init fail?" -->
<!-- id="m10cXr0-0009zyC@petersfehn.Informatik.Uni-Oldenburg.DE" -->
<!-- inreplyto="199904272216.AAA15552@lee.Cc.Uit.No" -->
<title>sane-devel: Re: May sane_init fail?</title>
<h1>Re: May sane_init fail?</h1>
<b>Ingo Wilken</b> (<a href="mailto:Ingo.Wilken@Informatik.Uni-Oldenburg.DE"><i>Ingo.Wilken@Informatik.Uni-Oldenburg.DE</i></a>)<br>
<i>Wed, 28 Apr 1999 19:10:33 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#400">[ date ]</a><a href="index.html#400">[ thread ]</a><a href="subject.html#400">[ subject ]</a><a href="author.html#400">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Previous message:</b> <a href="0399.html">abel deuring: "Re: HP PhotoSmart R030 vs. SANE 1.01"</a>
<li> <b>In reply to:</b> <a href="0391.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Anyway.  I'm now writing a patch to sane 1.0.1 with my suggested</i><br>
<i>&gt; change.  I suggest three valid responses from sane_init():</i><br>
<i>&gt;  SANE_STATUS_GOOD        - Success</i><br>
<i>&gt;  SANE_STATUS_NO_MEM      - Ran out of memory</i><br>
<i>&gt;  SANE_STATUS_UNSUPPORTED - Not supported on this machines current</i><br>
<i>&gt; 			   configuration</i><br>
<i>&gt; Would there be need for more return values?</i><br>
<p>
What's the suggested return values for a backend/SANE version mismatch?<br>
I'm currently using SANE_STATUS_UNSUPPORTED (seems logical), but<br>
SANE_STATUS_INVAL could be used too.<br>
<p>
BTW, it seems that almost no backend checks the version number, and most<br>
backends distributed with 1.0.x are listed as version 0.something in the<br>
"supported scanners" webpage - not good.<br>
<p>
<p>
Regards,<br>
Ingo<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0401.html">Peter Kirchgessner: "Re: How to config my HP Scanjet 4p to work with SANE ?"</a>
<li> <b>Previous message:</b> <a href="0399.html">abel deuring: "Re: HP PhotoSmart R030 vs. SANE 1.01"</a>
<li> <b>In reply to:</b> <a href="0391.html">Petter Reinholdtsen: "Re: May sane_init fail?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
