<!-- received="Wed Apr 28 15:21:07 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 23:25:08 +0100 (BST)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: SANE snapscan backend &amp; agfa 1236" -->
<!-- id="" -->
<!-- inreplyto="372786A1.F2C52678@multiweb.nl" -->
<title>sane-devel: Re: SANE snapscan backend &amp; agfa 1236</title>
<h1>Re: SANE snapscan backend &amp; agfa 1236</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 28 Apr 1999 23:25:08 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#405">[ date ]</a><a href="index.html#405">[ thread ]</a><a href="subject.html#405">[ subject ]</a><a href="author.html#405">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0406.html">Jason Moore: "Support for Polaroid Sprintscan scanners"</a>
<li> <b>Previous message:</b> <a href="0404.html">Kick Glorie: "Re: SANE snapscan backend &amp; agfa 1236"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 29 Apr 1999, Kick Glorie wrote: [edited]<br>
<p>
<i>&gt; Well it does have something to do with the newer kernel I have :-). I</i><br>
<i>&gt; just tried some "older" kernels, and found out that the backend just</i><br>
<i>&gt; worked perfectly with every kernel below 2.2.5-ac1/ac2. So plain 2.2.5</i><br>
<i>&gt; works.. I checked the changes files for the Alan Cox patches and found</i><br>
<i>&gt; out that (surprise surprise!) some changes were made to the scsi generic</i><br>
<i>&gt; code:</i><br>
<i>&gt; </i><br>
<i>&gt; o       SCSI generic updates          (Douglas  Gillbert)</i><br>
<i>&gt; </i><br>
<i>&gt; I'm not sure if these changes were incorporated in 2.2.6 (since I tested</i><br>
<i>&gt; with 2.2.6-ac1, which surely had them...), but they are in the (just</i><br>
<i>&gt; released) 2.2.7 kernel.</i><br>
<i>&gt; I hope this is an easy to fix problem...</i><br>
<i>&gt; </i><br>
<p>
Well, Doug Gilbert's SCSI generic changes were in 2.2.x-ac for a while<br>
and are in 2.2.6 and later Linus kernels too. I mentioned his changes to<br>
this list a while ago -- with no result at all IIRC. This should be a<br>
better SCSI generic while remaining totally compatible, obviously it's<br>
fallen short of that.<br>
<p>
So - now someone who actually understands SANE's SCSI code needs to try<br>
playing about with a 2.2.6 or later Linus kernel. What has changed which<br>
might have broken support for Kick's scanner? Can we fix it, or is it<br>
a problem on Doug's side?<br>
<p>
Nick.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0406.html">Jason Moore: "Support for Polaroid Sprintscan scanners"</a>
<li> <b>Previous message:</b> <a href="0404.html">Kick Glorie: "Re: SANE snapscan backend &amp; agfa 1236"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
