<!-- received="Fri Apr 30 08:22:50 1999 PDT" -->
<!-- sent="Wed, 28 Apr 1999 20:03:10 +0200" -->
<!-- name="Rainer krienke" -->
<!-- email="krienke@uni-koblenz.de" -->
<!-- subject="SEGFAULT with sane 1.0.1" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SEGFAULT with sane 1.0.1</title>
<h1>SEGFAULT with sane 1.0.1</h1>
<b>Rainer krienke</b> (<a href="mailto:krienke@uni-koblenz.de"><i>krienke@uni-koblenz.de</i></a>)<br>
<i>Wed, 28 Apr 1999 20:03:10 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#416">[ date ]</a><a href="index.html#416">[ thread ]</a><a href="subject.html#416">[ subject ]</a><a href="author.html#416">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0417.html">Peter Teuchert: "sane 1.0.1"</a>
<li> <b>Previous message:</b> <a href="0415.html">Josh Moline: "Storm"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I compiles sane 1.0.1 on my linux system running kernel 2.2.6 (with the<br>
new generic driver by Douglas Gilbert). The new release does not work<br>
for me whereas the older version did. Running xsbanimage or xsane or<br>
scanimage I get a segfault before the window of eg xscanimage comes up.<br>
The following trace is the output of a start of xscanimage with <br>
SANE_DEBUG_SANEI_SCSI=127 set (Adaptex 2940 Controller, Mustec 1200SP<br>
Scanner):<br>
<p>
[sanei_scsi] sanei_scsi_open: sanei_scsi_max_request_size=32768 bytes<br>
[sanei_scsi] scsi_req_enter: entered 0x80e21c0<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80e21c0<br>
[sanei_scsi] sanei_scsi.issue: 0x80e21c0<br>
[sanei_scsi] sanei_scsi_req_wait: read 72 bytes<br>
[sanei_scsi] scsi_req_enter: entered 0x80e21c0<br>
[sanei_scsi] sanei_scsi_req_wait: waiting for 0x80e21c0<br>
[sanei_scsi] sanei_scsi.issue: 0x80e21c0<br>
[sanei_scsi] sanei_scsi_req_wait: read 36 bytes<br>
[sanei_scsi] sanei_scsi_req_wait: SCSI command complained: Success<br>
Segmentation fault <br>
<p>
The only thing that does work is if I run scanimage in Lineart mode. <br>
Setting SANE_DEBUG_MUSTEK=128 yields the following output:<br>
<p>
[sanei_init_debug]: Setting debug level of mustek to 128.<br>
[mustek] sane_init: strip-height set to 1 inches<br>
[mustek] attach: opening /dev/sgd as scsi device<br>
[mustek] attach: sending INQUIRY<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] attach: firmware revision 1.02<br>
[mustek] attach: scanner has automatic line-distance correction<br>
[mustek] attach: cover open<br>
[mustek] attach: found Mustek scanner model MFS-12000SP (flatbed<br>
scanner), 1-pas<br>
s<br>
[mustek] sane_init: enabling linedistance-fix for /dev/sgd<br>
[mustek] sane_init: enabling lineart-fix for /dev/sgd<br>
[mustek] attach: opening /dev/scanner as scsi device<br>
[mustek] attach: sending INQUIRY<br>
[mustek] scsi_wait_ready: sending TEST_UNIT_READY<br>
[mustek] attach: firmware revision 1.02<br>
[mustek] attach: scanner has automatic line-distance correction<br>
[mustek] attach: cover open<br>
[mustek] attach: found Mustek scanner model MFS-12000SP (flatbed<br>
scanner), 1-pas<br>
s<br>
[mustek] sane_init: enabling linedistance-fix for /dev/scanner<br>
[mustek] sane_init: enabling lineart-fix for /dev/scanner<br>
Segmentation fault<br>
<p>
<p>
Any idea?<br>
<p>
Thanks Rainer<br>
<pre>
-- 
----------------------------------------------------------------------
Rainer Krienke                      <a href="mailto:krienke@informatik.uni-koblenz.de">krienke@informatik.uni-koblenz.de</a>
Universitaet Koblenz, 		    <a href="http://www.uni-koblenz.de/~krienke">http://www.uni-koblenz.de/~krienke</a>
Rechenzentrum,                      Voice: +49 261 9119-641
Rheinau 3-4, 56075 Koblenz, Germany Fax:   +49 261 9119-499
----------------------------------------------------------------------
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0417.html">Peter Teuchert: "sane 1.0.1"</a>
<li> <b>Previous message:</b> <a href="0415.html">Josh Moline: "Storm"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
