<!-- received="Wed Dec 10 15:56:46 1997 PST" -->
<!-- sent="Thu, 11 Dec 1997 00:55:08 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: Two SCSI bus question..." -->
<!-- id="199712102355.AAA04610@cave.BitWizard.nl" -->
<!-- inreplyto="199712101449.JAA12983@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: Two SCSI bus question...</title>
<h1>Re: Two SCSI bus question...</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Thu, 11 Dec 1997 00:55:08 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">borm: "microtek scanmaker III 36 bit test scan succeeded"</a>
<li> <b>Previous message:</b> <a href="0062.html">Early, Warren: "Highscreen PerfectScan"</a>
<li> <b>In reply to:</b> <a href="0060.html">Matto Marjanovic: "Re: Two SCSI bus question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matto Marjanovic wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt;    &gt; &gt; All detected devices are assigned a raw-device in the order in which they </i><br>
<i>&gt;    &gt; &gt; are detected. Scanning the busses goes dev-id first, then bus-id.</i><br>
<i>&gt;    &gt; &gt; </i><br>
<i>&gt;    &gt; &gt; Thus you first get all devices on the first bus, then all on the second,</i><br>
<i>&gt;    &gt; &gt; each in order of the SCSI IDs.</i><br>
<i>&gt;    &gt; &gt; </i><br>
<i>&gt;    &gt; &gt; Thus your scanner wanders whenever a device that is below it in that ordering</i><br>
<i>&gt;    &gt; &gt; scheme is there or not.</i><br>
<i>&gt;    &gt; &gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Alright, out of curiousity then:</i><br>
<i>&gt; </i><br>
<i>&gt; Is there any particular reason why SCSI devices are assigned this way, rather</i><br>
<i>&gt;  than having the X in /dev/sgX be a direct function of device id and bus id?</i><br>
<i>&gt;  (e.g. /dev/sgA4 = device with ID=4 on the first bus)</i><br>
<i>&gt; </i><br>
<i>&gt; The way it is now, suppose one of 5 scsi disks blows out when you power up,</i><br>
<i>&gt;  then the rest all get their device assignments shifted and your server is</i><br>
<i>&gt;  *totally* screwed...</i><br>
<p>
There are just 8 bits to a minor. You need about 4 bits to code for<br>
the partition number, so you're left with just 4 bits to cram bus id<br>
and device ID into. With wide scsi, you're left with 0 bits for the<br>
bus ID. <br>
<p>
					Roger.<br>
<p>
<p>
<pre>
-- 
** <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> ** +31-15-2137555 ** <a href="http://www.BitWizard.nl/">http://www.BitWizard.nl/</a> **
Florida -- A 39 year old construction worker woke up this morning when a
109-car freight train drove over him. According to the police the man was 
drunk. The man himself claims he slipped while walking the dog. 080897
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">borm: "microtek scanmaker III 36 bit test scan succeeded"</a>
<li> <b>Previous message:</b> <a href="0062.html">Early, Warren: "Highscreen PerfectScan"</a>
<li> <b>In reply to:</b> <a href="0060.html">Matto Marjanovic: "Re: Two SCSI bus question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
