<!-- received="Tue Dec 16 00:44:34 1997 PST" -->
<!-- sent="Tue, 16 Dec 1997 03:44:50 -0500" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="new, improved Microtek backend" -->
<!-- id="199712160844.DAA17550@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: new, improved Microtek backend</title>
<h1>new, improved Microtek backend</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Tue, 16 Dec 1997 03:44:50 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Mathias Weigt: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0085.html">Matto Marjanovic: "adv. opt. patch for xscanimage..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The new, improved Microtek backend is available.<br>
Until the next release of SANE gets out, those of you dying to get your<br>
 hands on it will find the relevant source code at<br>
    <a href="http://www.mir.com/mtek/">http://www.mir.com/mtek/</a><br>
    <a href="http://www.mir.com/mtek/microtek-0.4.tgz">http://www.mir.com/mtek/microtek-0.4.tgz</a><br>
<p>
You can finally do 1200x1200dpi scans on your E6, and realize why<br>
 professionals use drum scanners....<br>
<p>
-matt m.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Mathias Weigt: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0085.html">Matto Marjanovic: "adv. opt. patch for xscanimage..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
