<!-- received="Wed Dec 17 01:53:10 1997 PST" -->
<!-- sent="Wed, 17 Dec 1997 10:52:50 +0001 (MET)" -->
<!-- name="Mathias Weigt" -->
<!-- email="p5iba@medchem4.pharmazie.uni-halle.de" -->
<!-- subject="Re: jscanimage won't compile" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.3.96.971217094025.5419B-100000@k2906.kampsax.dtu.dk" -->
<title>sane-devel: Re: jscanimage won't compile</title>
<h1>Re: jscanimage won't compile</h1>
<b>Mathias Weigt</b> (<a href="mailto:p5iba@medchem4.pharmazie.uni-halle.de"><i>p5iba@medchem4.pharmazie.uni-halle.de</i></a>)<br>
<i>Wed, 17 Dec 1997 10:52:50 +0001 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Allan Nielsen: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0088.html">Allan Nielsen: "Re: jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Servus !<br>
<p>
<i>&gt; [an@k2906 japi]# java Jscanimage</i><br>
<i>&gt; File not found (libsanej.so)</i><br>
<i>&gt; java.lang.UnsatisfiedLinkError: no sanej in shared library path</i><br>
<i>&gt;         at java.lang.Runtime.loadLibrary(Runtime.java)</i><br>
<i>&gt;         at java.lang.System.loadLibrary(System.java)</i><br>
<i>&gt;         at </i><br>
<i>&gt;         at Jscanimage.main(Jscanimage.java:99)</i><br>
<i>&gt; </i><br>
<i>&gt; I have made make; make install And it went ok! What is wrong??</i><br>
<p>
Try typing ldconfig to tell that there is a new library available, then <br>
it should work.<br>
<p>
Mathias Weigt<br>
<a href="mailto:p5iba@medchem2.pharmazie.uni-halle.de">p5iba@medchem2.pharmazie.uni-halle.de</a>     <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Allan Nielsen: "Re: jscanimage won't compile"</a>
<li> <b>Previous message:</b> <a href="0088.html">Allan Nielsen: "Re: jscanimage won't compile"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
