<!-- received="Wed Dec 17 09:02:57 1997 PST" -->
<!-- sent="Wed, 17 Dec 1997 09:02:56 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: jscanimage won't scan" -->
<!-- id="199712171702.JAA01028@panda.mostang.com" -->
<!-- inreplyto="Pine.3.89.9712171534.A1942-0100000@medchem7.pharmazie.uni-halle.de" -->
<title>sane-devel: Re: jscanimage won't scan</title>
<h1>Re: jscanimage won't scan</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Wed, 17 Dec 1997 09:02:56 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#95">[ date ]</a><a href="index.html#95">[ thread ]</a><a href="subject.html#95">[ subject ]</a><a href="author.html#95">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Previous message:</b> <a href="0094.html">David Mosberger-Tang: "Re: Tamarack Artiscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 17 Dec 1997 15:46:30 +0001 (MET), "Mathias Weigt (Stud. 94)" &lt;<a href="mailto:p5iba@medchem7.pharmazie.uni-halle.de">p5iba@medchem7.pharmazie.uni-halle.de</a>&gt; said:</i><br>
<p>
  Mathias&gt; Servus !  Here are some additional information on the<br>
  Mathias&gt; behavior of Jscanimage: First it loads the umax-backend<br>
  Mathias&gt; (why that -- I have a mustek ?).<br>
<p>
In order to find out what type a scanner is, you have to load the<br>
backends one by one.  To avoid this behavior, simply edit dll.conf to<br>
your liking (i.e., mention only the backends for which you have<br>
hardware).  See sane-dll(5) for details.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0096.html">David Mosberger-Tang: "Re: SANE support for AIX added"</a>
<li> <b>Previous message:</b> <a href="0094.html">David Mosberger-Tang: "Re: Tamarack Artiscan"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
