<!-- received="Fri Dec 19 06:22:48 1997 PST" -->
<!-- sent="Fri, 19 Dec 1997 15:25:41 +0200 (WET)" -->
<!-- name="Lutz Stege" -->
<!-- email="lutz@cenit3.muc.bmw.de" -->
<!-- subject="Re: How to turn off lamp in ScanJet IIcx" -->
<!-- id="Pine.SV4.3.95.971219145944.4261G-100000@cenit3.muc" -->
<!-- inreplyto="Pine.A32.3.95.971219122138.28946A-100000@hal6000.thp.Uni-Duisburg.DE" -->
<title>sane-devel: Re: How to turn off lamp in ScanJet IIcx</title>
<h1>Re: How to turn off lamp in ScanJet IIcx</h1>
<b>Lutz Stege</b> (<a href="mailto:lutz@cenit3.muc.bmw.de"><i>lutz@cenit3.muc.bmw.de</i></a>)<br>
<i>Fri, 19 Dec 1997 15:25:41 +0200 (WET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Previous message:</b> <a href="0111.html">Fred Hucht: "How to turn off lamp in ScanJet IIcx"</a>
<li> <b>In reply to:</b> <a href="0111.html">Fred Hucht: "How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0118.html">Rogier Wolff: "Re: How to turn off lamp in ScanJet IIcx"</a>
<li> <b>Reply:</b> <a href="0118.html">Rogier Wolff: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 19 Dec 1997, Fred Hucht wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; we have no HP SCL description; is it possible to do what the subject</i><br>
<i>&gt; sais using a SCL command? We want to scan slides, but we have no (how</i><br>
<i>&gt; is it called?) transparencies/slides adapter for the IIcx...</i><br>
My problem is similar with a Highscreen Perfectscan (Microtek E6). The<br>
lamp is always on after turning on the scanner. I cannot find a way to<br>
turn the lamp off but turning off the scanner. Perhaps my scanner has a<br>
bug? The documentation is really spare. Any ideas?<br>
<p>
---------------------------------------------------------------<br>
Lutz Stege       	Telefon   : (+49)-89-382-41639 <br>
Cenit GmbH              Mobil-Tel : (+49)-171-2723347<br>
                        email : <a href="mailto:lutz.stege@bmw.de">mailto:lutz.stege@bmw.de</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>Previous message:</b> <a href="0111.html">Fred Hucht: "How to turn off lamp in ScanJet IIcx"</a>
<li> <b>In reply to:</b> <a href="0111.html">Fred Hucht: "How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0118.html">Rogier Wolff: "Re: How to turn off lamp in ScanJet IIcx"</a>
<li> <b>Reply:</b> <a href="0118.html">Rogier Wolff: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- reply="end" -->
</ul>
