<!-- received="Fri Dec 19 07:15:08 1997 PST" -->
<!-- sent="Fri, 19 Dec 1997 16:18:18 +0200 (WET)" -->
<!-- name="Lutz Stege" -->
<!-- email="lutz@cenit3.muc.bmw.de" -->
<!-- subject="xscanimage won't start" -->
<!-- id="Pine.SV4.3.95.971219155149.4261H-100000@cenit3.muc" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage won't start</title>
<h1>xscanimage won't start</h1>
<b>Lutz Stege</b> (<a href="mailto:lutz@cenit3.muc.bmw.de"><i>lutz@cenit3.muc.bmw.de</i></a>)<br>
<i>Fri, 19 Dec 1997 16:18:18 +0200 (WET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#114">[ date ]</a><a href="index.html#114">[ thread ]</a><a href="subject.html#114">[ subject ]</a><a href="author.html#114">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage won't start"</a>
<li> <b>Previous message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage won't start"</a>
<li> <b>Reply:</b> <a href="0115.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage won't start"</a>
<li> <b>Reply:</b> <a href="0130.html">Jeremy Rosenberger: "Re: xscanimage won't start"</a>
<li> <b>Reply:</b> <a href="0133.html">Jeremy Rosenberger: "Re: xscanimage won't start"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Using sane 0.68.1 with Linux 2.0.32 I had a problem with starting<br>
xscanimage. Although setting SANE_DEBUG_DLL to 128, there is no error, no<br>
warning, no info onto the screen. No xscanimage comes up, only the new<br>
prompt will appear. Nevertheless scanimage works very well. With sane 0.63<br>
xscanimage worked fine. Any ideas? Perhaps there is something wrong with a<br>
dynamic library?<br>
<p>
---------------------------------------------------------------<br>
Lutz Stege       	Telefon   : (+49)-89-382-41639 <br>
Cenit GmbH              Mobil-Tel : (+49)-171-2723347<br>
                        email : <a href="mailto:lutz.stege@bmw.de">mailto:lutz.stege@bmw.de</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0115.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage won't start"</a>
<li> <b>Previous message:</b> <a href="0113.html">becka@rz.uni-duesseldorf.de: "Re: Probable Bugs &amp; Suggestions"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage won't start"</a>
<li> <b>Reply:</b> <a href="0115.html">becka@rz.uni-duesseldorf.de: "Re: xscanimage won't start"</a>
<li> <b>Reply:</b> <a href="0130.html">Jeremy Rosenberger: "Re: xscanimage won't start"</a>
<li> <b>Reply:</b> <a href="0133.html">Jeremy Rosenberger: "Re: xscanimage won't start"</a>
<!-- reply="end" -->
</ul>
