<!-- received="Sat Dec 20 06:01:30 1997 PST" -->
<!-- sent="Sat, 20 Dec 1997 04:48:35 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: How to turn off lamp in ScanJet IIcx" -->
<!-- id="199712200348.EAA01016@adder.et.tudelft.nl" -->
<!-- inreplyto="Pine.SV4.3.95.971219145944.4261G-100000@cenit3.muc" -->
<title>sane-devel: Re: How to turn off lamp in ScanJet IIcx</title>
<h1>Re: How to turn off lamp in ScanJet IIcx</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Sat, 20 Dec 1997 04:48:35 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Warren Early: "Re: How to turn off lamp in ScanJet IIcx"</a>
<li> <b>Previous message:</b> <a href="0117.html">Bernd Johannes Wuebben: "UMAX 1200S SCSI CARD"</a>
<li> <b>In reply to:</b> <a href="0112.html">Lutz Stege: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Warren Early: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; On Fri, 19 Dec 1997, Fred Hucht wrote:</i><br>
<p>
<i>&gt; My problem is similar with a Highscreen Perfectscan (Microtek E6). The</i><br>
<i>&gt; lamp is always on after turning on the scanner. I cannot find a way to</i><br>
<i>&gt; turn the lamp off but turning off the scanner. Perhaps my scanner has a</i><br>
<i>&gt; bug? The documentation is really spare. Any ideas?</i><br>
<p>
Hi, I have a Tamarack scanner. Here too, the scanner always keeps the<br>
light on. The only way of turning the thing off is to start a scan using<br>
the transparancy adapter. However the transparancy adapter really needs<br>
to be present, and the normal light comes back on as soon as it is done.<br>
No, I really can't find a way to turn the light off.<br>
<p>
					Roger.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Warren Early: "Re: How to turn off lamp in ScanJet IIcx"</a>
<li> <b>Previous message:</b> <a href="0117.html">Bernd Johannes Wuebben: "UMAX 1200S SCSI CARD"</a>
<li> <b>In reply to:</b> <a href="0112.html">Lutz Stege: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Warren Early: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- reply="end" -->
</ul>
