<!-- received="Mon Dec 22 23:24:36 1997 PST" -->
<!-- sent="Mon, 22 Dec 1997 23:24:35 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: How to turn off lamp in ScanJet IIcx" -->
<!-- id="199712230724.XAA18898@panda.mostang.com" -->
<!-- inreplyto="m0xjqLL-0002XKC@hex" -->
<title>sane-devel: Re: How to turn off lamp in ScanJet IIcx</title>
<h1>Re: How to turn off lamp in ScanJet IIcx</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 22 Dec 1997 23:24:35 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#123">[ date ]</a><a href="index.html#123">[ thread ]</a><a href="subject.html#123">[ subject ]</a><a href="author.html#123">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Mario Wuttke: "GLoria-Synergy and Victory ERazor"</a>
<li> <b>Previous message:</b> <a href="0122.html">A. Leidenfrost: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>In reply to:</b> <a href="0121.html">Jonathan Buzzard: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">Fred Hucht: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 21 Dec 1997 18:43:14 +0000, Jonathan Buzzard &lt;<a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>&gt; said:</i><br>
<p>
  Jonathan&gt; The flourescent tube in my Astra 600 has a lifespan of<br>
  Jonathan&gt; only 10000 hours, the last time I looked the MTBF of an<br>
  Jonathan&gt; LED was 10e9 hours or about ~1 million years. If I had an<br>
  Jonathan&gt; LED lightsource you could leave it on forever, with a<br>
  Jonathan&gt; flourescent tube this is not an option, especially if it<br>
  Jonathan&gt; is not a user replaceable part. LED's last forever, I have<br>
  Jonathan&gt; an LED clock that has been on nearly continously now for<br>
  Jonathan&gt; 10 years<br>
<p>
Don't know about others, but I simply power off my scanner when not<br>
using it.  SCSI can deal with this easily.  Also, under Linux, if you<br>
forget to turn on the scanner when booting the machine, you can<br>
correct that mistake anytime by sending a string to /proc/scsi/scsi<br>
(grep SCSI-Programming-HOWTO for "add-single-device" for details).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0124.html">Mario Wuttke: "GLoria-Synergy and Victory ERazor"</a>
<li> <b>Previous message:</b> <a href="0122.html">A. Leidenfrost: "Re: Probable Bugs &amp; Suggestions"</a>
<li> <b>In reply to:</b> <a href="0121.html">Jonathan Buzzard: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0125.html">Fred Hucht: "Re: How to turn off lamp in ScanJet IIcx"</a>
<!-- reply="end" -->
</ul>
