<!-- received="Mon Dec 29 07:16:41 1997 PST" -->
<!-- sent="Mon, 29 Dec 1997 15:54:17 +0100" -->
<!-- name="Thomas Vogler" -->
<!-- email="tvo@software-ag.de" -->
<!-- subject="canon 2700F backend wanted..." -->
<!-- id="199712291454.PAA19715@suncool1.software-ag.de" -->
<!-- inreplyto="" -->
<title>sane-devel: canon 2700F backend wanted...</title>
<h1>canon 2700F backend wanted...</h1>
<b>Thomas Vogler</b> (<a href="mailto:tvo@software-ag.de"><i>tvo@software-ag.de</i></a>)<br>
<i>Mon, 29 Dec 1997 15:54:17 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Klaus Stetter: "Mustek Scanexpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0135.html">Christoph Lameter: "Parallel Port Scanner Mustek 600 II EP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi list,<br>
<p>
i am searching for a backend driving the abovementioned film<br>
scanner. is there someone saready doing it and if can i help with it ?<br>
<p>
thomas<br>
<pre>
-- 
+----------------------------------------------------------------------------+
| T. Vogler, <a href="mailto:tvo@software-ag.de">mailto:tvo@software-ag.de</a>, <a href="http://pcool/~tvo/">http://pcool/~tvo/</a>                   |
+----------------------------------------------------------------------------+
| Phone: [49]-(6151)-92-0                           FAX: [49]-(6151)-92-???? |
+----------------------------------------------------------------------------+
| long main = 0xc8c70ff0;       /* halt your Pentium the hard way */         |
+----------------------------------------------------------------------------+
| PGP fingerprint: A4 D4 2A 60 B5 48 0F 43  3F EB C5 AC 96 79 A8 D2          |
+----------------------------------------------------------------------------+
| statements in here are my own and not neccesarily those of my employer     |
+----------------------------------------------------------------------------+
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Klaus Stetter: "Mustek Scanexpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0135.html">Christoph Lameter: "Parallel Port Scanner Mustek 600 II EP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
