<!-- received="Wed Dec 31 09:12:53 1997 PST" -->
<!-- sent="Wed, 31 Dec 1997 16:37:29 +0100 (CET)" -->
<!-- name="Stephan Loescher" -->
<!-- email="loescher@informatik.tu-muenchen.de" -->
<!-- subject="Missing feature: "Auto"-button" -->
<!-- id="199712311537.QAA00423@sl.sl.de" -->
<!-- inreplyto=""Auto"-button" -->
<title>sane-devel: Missing feature: "Auto"-button</title>
<h1>Missing feature: "Auto"-button</h1>
<b>Stephan Loescher</b> (<a href="mailto:loescher@informatik.tu-muenchen.de"><i>loescher@informatik.tu-muenchen.de</i></a>)<br>
<i>Wed, 31 Dec 1997 16:37:29 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0141.html">Michele Bianchi: "Re: microtek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
Thank you for SANE! Great work!<br>
<p>
But I'm missing a feature I know from the Windows HP-DeskScan-software,<br>
which is used with HP-ScanJet-scanners.<br>
It has an "Automatic"-button. When I click on this button DeskScan adjusts<br>
the brightness- and contrast-values to an "optimal" value. This news values<br>
are used by the HP-ScanJet and I get an optimal result. The values differ<br>
from picture to picture.<br>
<p>
The Linux-"hpscanpbm" supports two switches:<br>
-bright specify brightness adjustment (-1.0 to 1.0, default 0.0)<br>
-cont   specify contrast adjustment (-1.0 to 1.0, default 0.0)<br>
So I am sure that the picture is aquired with another brigthness and<br>
contrast and DeskScan does not adjust them after scanning by a<br>
software-algorithm.<br>
<p>
Can you please add such an "Auto"-button to xscanimage?<br>
<p>
Stephan.<br>
<p>
<pre>
--
<a href="mailto:loescher@leo.org">loescher@leo.org</a>
<a href="http://www.leo.org/~loescher/">http://www.leo.org/~loescher/</a>
Try the new LEO-Search: <a href="http://www.leo.org/archiv/leo-search.html">http://www.leo.org/archiv/leo-search.html</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Previous message:</b> <a href="0141.html">Michele Bianchi: "Re: microtek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
