<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Tue 02 Dec 1997 - 15:10:29 PST</i><br>
<b>Ending:</b> <i>Wed 31 Dec 1997 - 09:12:53 PST</i><br>
<b>Messages:</b> 143
<p>
<ul>
<li> <a href="0000.html"><b>Back-end for Ricoh RS322+</b></a> <a name="0"><i>Bas Vermeulen</i></a>
<li> <a href="0001.html"><b>RE: Relysis</b></a> <a name="1"><i>frees@technologist.com</i></a>
<li> <a href="0002.html"><b>Re: NECH Scanner</b></a> <a name="2"><i>David Mosberger-Tang</i></a>
<li> <a href="0003.html"><b>sane-0.68 available</b></a> <a name="3"><i>David Mosberger-Tang</i></a>
<li> <a href="0004.html"><b>second SCSI controller..</b></a> <a name="4"><i>Michael Burghart</i></a>
<li> <a href="0005.html"><b>Re: second SCSI controller..</b></a> <a name="5"><i>Wolfgang Jung</i></a>
<li> <a href="0006.html"><b>Re: second SCSI controller..</b></a> <a name="6"><i>Christoph Doerbeck</i></a>
<li> <a href="0007.html"><b>Re: second SCSI controller..</b></a> <a name="7"><i>David Mosberger-Tang</i></a>
<li> <a href="0008.html"><b>Re: second SCSI controller..</b></a> <a name="8"><i>Michael Burghart</i></a>
<li> <a href="0009.html"><b>Scanner not recognized on 2nd SCSI Host</b></a> <a name="9"><i>Philipp Klan</i></a>
<li> <a href="0010.html"><b>Re: Scanner not recognized on 2nd SCSI Host</b></a> <a name="10"><i>David Mosberger-Tang</i></a>
<li> <a href="0011.html"><b>new-sane-homepage-outfit</b></a> <a name="11"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0012.html"><b>Ricoh RS322+ (SCSI) support</b></a> <a name="12"><i>Bas Vermeulen</i></a>
<li> <a href="0013.html"><b>Re: sane-0.68 available</b></a> <a name="13"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0014.html"><b>Re: Scanner not recognized on 2nd SCSI Host</b></a> <a name="14"><i>Philipp Klan</i></a>
<li> <a href="0015.html"><b>Re: Ricoh RS322+ (SCSI) support</b></a> <a name="15"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0016.html"><b>Umax S-12 troubles (Linux)</b></a> <a name="16"><i>Ryan McCowan</i></a>
<li> <a href="0017.html"><b>Re: new-sane-homepage-outfit</b></a> <a name="17"><i>Per Harald Myrvang</i></a>
<li> <a href="0018.html"><b>Problem with compilation</b></a> <a name="18"><i>Martin kleinsorge</i></a>
<li> <a href="0019.html"><b>Re: Problem with compilation</b></a> <a name="19"><i>Andreas Czechanowski</i></a>
<li> <a href="0021.html"><b>Re: Umax S-12 troubles (Linux)</b></a> <a name="21"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0020.html"><b>Re: new-sane-homepage-outfit</b></a> <a name="20"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0022.html"><b>Re: new-sane-homepage-outfit</b></a> <a name="22"><i>Michael K. Johnson</i></a>
<li> <a href="0023.html"><b>Using preview mode to scan in color with UMAX Astra 600/610S.</b></a> <a name="23"><i>Nicolas Lucas de Peslouan</i></a>
<li> <a href="0024.html"><b>xerox</b></a> <a name="24"><i>Joachim Woll</i></a>
<li> <a href="0025.html"><b>MFS12000SP+DTC436: Success!</b></a> <a name="25"><i>Joachim Woll</i></a>
<li> <a href="0026.html"><b>Backend for Canon CanoScan 600</b></a> <a name="26"><i>Helmut Koeberle</i></a>
<li> <a href="0027.html"><b>Running out of processes, going in SANE...</b></a> <a name="27"><i>Michael Sweet</i></a>
<li> <a href="0028.html"><b>Re: second SCSI controller..</b></a> <a name="28"><i>Benedikt Eric Heinen</i></a>
<li> <a href="0029.html"><b>Re: xerox</b></a> <a name="29"><i>David Mosberger-Tang</i></a>
<li> <a href="0030.html"><b>Artec 6000C plus</b></a> <a name="30"><i>Robert Wilhelm</i></a>
<li> <a href="0031.html"><b>Re: second SCSI controller..</b></a> <a name="31"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0032.html"><b>HP ScanJet IIp support?</b></a> <a name="32"><i>Kristopher Herrin</i></a>
<li> <a href="0033.html"><b>New HP ScanJet backend.</b></a> <a name="33"><i>Geoffrey T. Dairiki</i></a>
<li> <a href="0034.html"><b>Re: New HP ScanJet backend.</b></a> <a name="34"><i>Geoffrey T Dairiki</i></a>
<li> <a href="0035.html"><b>Re: New HP ScanJet backend.</b></a> <a name="35"><i>eric</i></a>
<li> <a href="0036.html"><b>Re: Artec 6000C plus</b></a> <a name="36"><i>Rogier Wolff</i></a>
<li> <a href="0037.html"><b>Re: New HP ScanJet backend.</b></a> <a name="37"><i>Geoffrey T. Dairiki</i></a>
<li> <a href="0038.html"><b>UMAX scanner on a Sparc</b></a> <a name="38"><i>goldman@ucla.edu</i></a>
<li> <a href="0039.html"><b>microtek scanmaker III,V,VI,A3 etcetera</b></a> <a name="39"><i>borm</i></a>
<li> <a href="0040.html"><b>Re: microtek scanmaker III,V,VI,A3 etcetera</b></a> <a name="40"><i>Matto Marjanovic</i></a>
<li> <a href="0041.html"><b>Tamarack patch.</b></a> <a name="41"><i>Rogier Wolff</i></a>
<li> <a href="0042.html"><b>DTC3181A card usable in Linux?</b></a> <a name="42"><i>Raymond A. Ingles</i></a>
<li> <a href="0043.html"><b>DTC3181A card usable in Linux?</b></a> <a name="43"><i>Raymond A. Ingles</i></a>
<li> <a href="0044.html"><b>Re: UMAX scanner on a Sparc</b></a> <a name="44"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0045.html"><b>Re: Using preview mode to scan in color with UMAX Astra 600/610S.</b></a> <a name="45"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0046.html"><b>Re: SANE bug with large scans: Microtek E6/Linux 2.0.30</b></a> <a name="46"><i>Matto Marjanovic</i></a>
<li> <a href="0047.html"><b>Re: Highscreen PerfectScan</b></a> <a name="47"><i>Matto Marjanovic</i></a>
<li> <a href="0048.html"><b>Alpha RPMs updated</b></a> <a name="48"><i>David Mosberger-Tang</i></a>
<li> <a href="0049.html"><b>Two SCSI bus question...</b></a> <a name="49"><i>Christoph Doerbeck</i></a>
<li> <a href="0050.html"><b>Re: Two SCSI bus question...</b></a> <a name="50"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0051.html"><b>Re: Two SCSI bus question...</b></a> <a name="51"><i>Christoph Doerbeck</i></a>
<li> <a href="0052.html"><b>Sane with HP ScanJet 4p</b></a> <a name="52"><i>Adam Sjoegren</i></a>
<li> <a href="0053.html"><b>Re: microtek scanmaker III,V,VI,A3 etcetera</b></a> <a name="53"><i>Warren Early</i></a>
<li> <a href="0054.html"><b>Re: microtek scanmaker III,V,VI,A3 etcetera</b></a> <a name="54"><i>Warren Early</i></a>
<li> <a href="0055.html"><b>Re: microtek scanmaker III,V,VI,A3 etcetera</b></a> <a name="55"><i>borm</i></a>
<li> <a href="0056.html"><b>Re: Two SCSI bus question...</b></a> <a name="56"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0057.html"><b>Re: microtek scanmaker III,V,VI,A3 etcetera</b></a> <a name="57"><i>Warren Early</i></a>
<li> <a href="0058.html"><b>Re: Two SCSI bus question...</b></a> <a name="58"><i>Rogier Wolff</i></a>
<li> <a href="0059.html"><b>Re: Two SCSI bus question...</b></a> <a name="59"><i>Christoph Doerbeck</i></a>
<li> <a href="0060.html"><b>Re: Two SCSI bus question...</b></a> <a name="60"><i>Matto Marjanovic</i></a>
<li> <a href="0061.html"><b>scanmaker III documentation</b></a> <a name="61"><i>borm</i></a>
<li> <a href="0062.html"><b>Highscreen PerfectScan</b></a> <a name="62"><i>Early, Warren</i></a>
<li> <a href="0063.html"><b>Re: Two SCSI bus question...</b></a> <a name="63"><i>Rogier Wolff</i></a>
<li> <a href="0064.html"><b>microtek scanmaker III 36 bit test scan succeeded</b></a> <a name="64"><i>borm</i></a>
<li> <a href="0065.html"><b>Scanjet 5p under linux</b></a> <a name="65"><i>Don Roro de la Vega</i></a>
<li> <a href="0066.html"><b>Re: Scanjet 5p under linux</b></a> <a name="66"><i>rodgerd@ihug.co.nz</i></a>
<li> <a href="0067.html"><b>umax Astra 6x0S (and S6E) info</b></a> <a name="67"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0068.html"><b>Re: Highscreen PerfectScan</b></a> <a name="68"><i>Martin Kroeker</i></a>
<li> <a href="0069.html"><b>Re: Highscreen PerfectScan</b></a> <a name="69"><i>borm</i></a>
<li> <a href="0070.html"><b>Re: Highscreen PerfectScan</b></a> <a name="70"><i>Mark Andrachek</i></a>
<li> <a href="0071.html"><b>Re: Highscreen PerfectScan</b></a> <a name="71"><i>Mark Andrachek</i></a>
<li> <a href="0072.html"><b>Re: Highscreen PerfectScan</b></a> <a name="72"><i>Matto Marjanovic</i></a>
<li> <a href="0073.html"><b>Re: Highscreen PerfectScan</b></a> <a name="73"><i>Warren Early</i></a>
<li> <a href="0074.html"><b>xscanimage &amp;&amp; gtk+-971201.tar.gz</b></a> <a name="74"><i>Peter Daum</i></a>
<li> <a href="0075.html"><b>Re: Highscreen PerfectScan</b></a> <a name="75"><i>borm</i></a>
<li> <a href="0076.html"><b>Re: xscanimage &amp;&amp; gtk+-971201.tar.gz</b></a> <a name="76"><i>Jeff Dairiki</i></a>
<li> <a href="0077.html"><b>xcam not working on UDB (Linux/Alpha)?</b></a> <a name="77"><i>Dominik Kubla</i></a>
<li> <a href="0078.html"><b>Re: umax Astra 6x0S (and S6E) info</b></a> <a name="78"><i>Bernd Seemann</i></a>
<li> <a href="0079.html"><b>umax-backend</b></a> <a name="79"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0080.html"><b>jscanimage won't compile</b></a> <a name="80"><i>Mathias Weigt</i></a>
<li> <a href="0081.html"><b>sane running on Solaris 2.5</b></a> <a name="81"><i>Martin Huber</i></a>
<li> <a href="0082.html"><b>SANE support for AIX added</b></a> <a name="82"><i>Fred Hucht</i></a>
<li> <a href="0083.html"><b>Re: jscanimage won't compile</b></a> <a name="83"><i>Jeff Freedman</i></a>
<li> <a href="0084.html"><b>Re: SANE support for AIX added</b></a> <a name="84"><i>David Mosberger-Tang</i></a>
<li> <a href="0085.html"><b>adv. opt. patch for xscanimage...</b></a> <a name="85"><i>Matto Marjanovic</i></a>
<li> <a href="0086.html"><b>new, improved Microtek backend</b></a> <a name="86"><i>Matto Marjanovic</i></a>
<li> <a href="0087.html"><b>Re: jscanimage won't compile</b></a> <a name="87"><i>Mathias Weigt</i></a>
<li> <a href="0088.html"><b>Re: jscanimage won't compile</b></a> <a name="88"><i>Allan Nielsen</i></a>
<li> <a href="0089.html"><b>Re: jscanimage won't compile</b></a> <a name="89"><i>Mathias Weigt</i></a>
<li> <a href="0090.html"><b>Re: jscanimage won't compile</b></a> <a name="90"><i>Allan Nielsen</i></a>
<li> <a href="0091.html"><b>Tamarack Artiscan</b></a> <a name="91"><i>Egil Kvaleberg</i></a>
<li> <a href="0092.html"><b>jscanimage won't scan</b></a> <a name="92"><i>Mathias Weigt</i></a>
<li> <a href="0093.html"><b>Re: SANE support for AIX added</b></a> <a name="93"><i>Oliver.Rauch@Wolfsburg.DE</i></a>
<li> <a href="0094.html"><b>Re: Tamarack Artiscan</b></a> <a name="94"><i>David Mosberger-Tang</i></a>
<li> <a href="0095.html"><b>Re: jscanimage won't scan</b></a> <a name="95"><i>David Mosberger-Tang</i></a>
<li> <a href="0096.html"><b>Re: SANE support for AIX added</b></a> <a name="96"><i>David Mosberger-Tang</i></a>
<li> <a href="0097.html"><b>Re: jscanimage won't compile</b></a> <a name="97"><i>Jeff Freedman</i></a>
<li> <a href="0098.html"><b>Re: jscanimage won't compile</b></a> <a name="98"><i>Jeff Freedman</i></a>
<li> <a href="0099.html"><b>another xscanimage patch...</b></a> <a name="99"><i>Matto Marjanovic</i></a>
<li> <a href="0100.html"><b>Parallelle port driver ?</b></a> <a name="100"><i>Benoit Masson</i></a>
<li> <a href="0101.html"><b>Re: Parallelle port driver ?</b></a> <a name="101"><i>Kevin Thompson</i></a>
<li> <a href="0102.html"><b>Re: Parallelle port driver ?</b></a> <a name="102"><i>David Mosberger-Tang</i></a>
<li> <a href="0103.html"><b>Probable Bugs &amp; Suggestions</b></a> <a name="103"><i>A. Leidenfrost</i></a>
<li> <a href="0104.html"><b>Re: Parallelle port driver ?</b></a> <a name="104"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0105.html"><b>Re: Parallelle port driver ?</b></a> <a name="105"><i>Norm Peterson</i></a>
<li> <a href="0106.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="106"><i>Hallow</i></a>
<li> <a href="0107.html"><b>List problems?</b></a> <a name="107"><i>Raymond A. Ingles</i></a>
<li> <a href="0108.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="108"><i>Ian Tester</i></a>
<li> <a href="0109.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="109"><i>Matto Marjanovic</i></a>
<li> <a href="0110.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="110"><i>A. Leidenfrost</i></a>
<li> <a href="0111.html"><b>How to turn off lamp in ScanJet IIcx</b></a> <a name="111"><i>Fred Hucht</i></a>
<li> <a href="0112.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="112"><i>Lutz Stege</i></a>
<li> <a href="0113.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="113"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0114.html"><b>xscanimage won't start</b></a> <a name="114"><i>Lutz Stege</i></a>
<li> <a href="0115.html"><b>Re: xscanimage won't start</b></a> <a name="115"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0116.html"><b>Re: How to turn off lamp in ...Microtek E6</b></a> <a name="116"><i>Matto Marjanovic</i></a>
<li> <a href="0117.html"><b>UMAX 1200S SCSI CARD</b></a> <a name="117"><i>Bernd Johannes Wuebben</i></a>
<li> <a href="0118.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="118"><i>Rogier Wolff</i></a>
<li> <a href="0119.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="119"><i>Warren Early</i></a>
<li> <a href="0120.html"><b>Request_for_quotation</b></a> <a name="120"><i>sane-devel@mostang.com</i></a>
<li> <a href="0121.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="121"><i>Jonathan Buzzard</i></a>
<li> <a href="0122.html"><b>Re: Probable Bugs &amp; Suggestions</b></a> <a name="122"><i>A. Leidenfrost</i></a>
<li> <a href="0123.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="123"><i>David Mosberger-Tang</i></a>
<li> <a href="0124.html"><b>GLoria-Synergy and Victory ERazor</b></a> <a name="124"><i>Mario Wuttke</i></a>
<li> <a href="0125.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="125"><i>Fred Hucht</i></a>
<li> <a href="0126.html"><b>Re: How to turn off lamp in ScanJet IIcx</b></a> <a name="126"><i>David Mosberger-Tang</i></a>
<li> <a href="0127.html"><b>Mustek-0.68: 600 II N patch</b></a> <a name="127"><i>Andreas Czechanowski</i></a>
<li> <a href="0128.html"><b>Xmas Scanner Blues</b></a> <a name="128"><i>Christoper.Riddoch</i></a>
<li> <a href="0129.html"><b>SANE and Minolta Dimage Dual Scan</b></a> <a name="129"><i>Mathias Koerber</i></a>
<li> <a href="0130.html"><b>Re: xscanimage won't start</b></a> <a name="130"><i>Jeremy Rosenberger</i></a>
<li> <a href="0131.html"><b>Re: xscanimage won't start</b></a> <a name="131"><i>Mathias Koerber</i></a>
<li> <a href="0132.html"><b>Re: Mustek-0.68: 600 II N patch</b></a> <a name="132"><i>Tore Reimers</i></a>
<li> <a href="0133.html"><b>Re: xscanimage won't start</b></a> <a name="133"><i>Jeremy Rosenberger</i></a>
<li> <a href="0134.html"><b>undefined reference to iswctype</b></a> <a name="134"><i>Didier Carlier</i></a>
<li> <a href="0135.html"><b>Parallel Port Scanner Mustek 600 II EP Plus</b></a> <a name="135"><i>Christoph Lameter</i></a>
<li> <a href="0136.html"><b>canon 2700F backend wanted...</b></a> <a name="136"><i>Thomas Vogler</i></a>
<li> <a href="0137.html"><b>Mustek Scanexpress 12000SP</b></a> <a name="137"><i>Klaus Stetter</i></a>
<li> <a href="0138.html"><b>microtek scanner</b></a> <a name="138"><i>Michele Bianchi</i></a>
<li> <a href="0139.html"><b>Re: microtek scanner</b></a> <a name="139"><i>Christoph Doerbeck</i></a>
<li> <a href="0140.html"><b>Re: microtek scanner</b></a> <a name="140"><i>Matto Marjanovic</i></a>
<li> <a href="0141.html"><b>Re: microtek scanner</b></a> <a name="141"><i>Michele Bianchi</i></a>
<li> <a href="0142.html"><b>Missing feature: "Auto"-button</b></a> <a name="142"><i>Stephan Loescher</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Wed 31 Dec 1997 - 09:12:53 PST</i><br>
<b>Archived on:</b> <i>Wed Dec 31 1997 - 09:13:42 PST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
