<!-- received="Mon Nov  1 12:41:51 1999 PST" -->
<!-- sent="Mon, 1 Nov 1999 20:40:58 +0100" -->
<!-- name="Alain Vicet" -->
<!-- email="alain.vicet@libertysurf.fr" -->
<!-- subject="umax 1220S freeze" -->
<!-- id="99110120495500.00698@corse" -->
<!-- inreplyto="" -->
<title>sane-devel: umax 1220S freeze</title>
<h1>umax 1220S freeze</h1>
<b>Alain Vicet</b> (<a href="mailto:alain.vicet@libertysurf.fr"><i>alain.vicet@libertysurf.fr</i></a>)<br>
<i>Mon, 1 Nov 1999 20:40:58 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Luca Del Signore: "Re: sane+rh6.1 crash help!!!"</a>
<li> <b>Previous message:</b> <a href="0006.html">Chris Pinkham: "Re: sane+rh6.1 crash help!!!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
Marvelous, I applied the dc390-20d-20d23.diff patch and like magic an image<br>
appeared on my scanner !<br>
<p>
thank you to andreas and Oliver for their help<br>
<p>
alain Vicet<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Luca Del Signore: "Re: sane+rh6.1 crash help!!!"</a>
<li> <b>Previous message:</b> <a href="0006.html">Chris Pinkham: "Re: sane+rh6.1 crash help!!!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
