<!-- received="Thu Nov  4 09:48:43 1999 PST" -->
<!-- sent="Thu, 04 Nov 1999 18:56:51 +0100" -->
<!-- name="Luca Del Signore" -->
<!-- email="lucadels@tin.it" -->
<!-- subject="Re: sane doesnt work under red hat 6.1 (again)!" -->
<!-- id="09" -->
<!-- inreplyto="sane doesnt work under red hat 6.1 (again)!" -->
<title>sane-devel: Re: sane doesnt work under red hat 6.1 (again)!</title>
<h1>Re: sane doesnt work under red hat 6.1 (again)!</h1>
<b>Luca Del Signore</b> (<a href="mailto:lucadels@tin.it"><i>lucadels@tin.it</i></a>)<br>
<i>Thu, 04 Nov 1999 18:56:51 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Chris Pinkham: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Previous message:</b> <a href="0023.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Luca Del Signore: "sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Vincent Parrilla: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This is a multi-part message in MIME format.<br>
--------------EB1B0DC45001056F91956F6F<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; Luca Del Signore wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;   --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</i><br>
<i>&gt; &gt; Dear sirs</i><br>
<i>&gt; &gt; i have the following problems with SANE and red hat 6.1</i><br>
<i>&gt; &gt; I installed the right rpm packages for my red hat 6.1:</i><br>
<i>&gt; &gt; sane-1.0.1-4.i386.rpm</i><br>
<i>&gt; &gt; sane-devel-1.0.1-4.i386.rpm</i><br>
<i>&gt; &gt; from the red hat ftp site, so it should work.</i><br>
<i>&gt; &gt; Instead, when i type "xscanimage" or "scanimage \d artec /dev/scanner...." i always receive the follow error message:</i><br>
<i>&gt; &gt; " Segmentation fault (core dumped).</i><br>
<i>&gt; &gt; If it's not enough, the gimp menu bar doesnt show the "acquire image" option, even if i created the symlink to the /usr/lib/gimp/1.0/plug-ins directory.</i><br>
<i>&gt; &gt; What's wrong? Can you help me? I would like to stress out the fact that i didn't have this problem with other distributions (suse, mandrake).</i><br>
<i>&gt; &gt; Thanx in advance</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Luca Del Signore</i><br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; try to find out where the segfault happens:</i><br>
<i>&gt; gdb xscanimage</i><br>
<i>&gt; r &lt;enter&gt;</i><br>
<i>&gt; after the segfault:</i><br>
<i>&gt; backtrace &lt;enter&gt;</i><br>
<i>&gt; </i><br>
<i>&gt; And send the output (should be less than 100 lines) to the mailling list.</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
So  that's the output of the command (see the attachment) can it be<br>
helpful? <br>
<i>&gt; --</i><br>
<i>&gt; Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a></i><br>
<i>&gt; xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a></i><br>
<i>&gt; E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a></i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
--------------EB1B0DC45001056F91956F6F<br>
Content-Type: text/plain; charset=us-ascii;<br>
 name="typescript"<br>
Content-Transfer-Encoding: 7bit<br>
Content-Disposition: inline;<br>
 filename="typescript"<br>
<p>
Script started on Thu Nov  4 18:53:14 1999<br>
[root@localhost /root]# gdb xscanimage<br>
GNU gdb 4.18<br>
Copyright 1998 Free Software Foundation, Inc.<br>
GDB is free software, covered by the GNU General Public License, and you are<br>
welcome to change it and/or distribute copies of it under certain conditions.<br>
Type "show copying" to see the conditions.<br>
There is absolutely no warranty for GDB.  Type "show warranty" for details.<br>
This GDB was configured as "i386-redhat-linux"...<br>
(gdb) r<br>
Starting program: /usr/bin/xscanimage <br>
<p>
Program received signal SIGSEGV, Segmentation fault.<br>
0x4030502e in chunk_free (ar_ptr=0x40399040, p=0x80e0b48) at malloc.c:3057<br>
3057	malloc.c: No such file or directory.<br>
(gdb) backtrace<br>
#0  0x4030502e in chunk_free (ar_ptr=0x40399040, p=0x80e0b48) at malloc.c:3057<br>
#1  0x40304d75 in __libc_free (mem=0x80e0b50) at malloc.c:2959<br>
#2  0x4046e8a6 in sanei_hp_free () from /usr/lib/sane/libsane-hp.so.1<br>
#3  0x404737b3 in sanei_hp_scsi_destroy () from /usr/lib/sane/libsane-hp.so.1<br>
#4  0x4046d9df in sanei_hp_device_new () from /usr/lib/sane/libsane-hp.so.1<br>
#5  0x404696f0 in hp_get_dev () from /usr/lib/sane/libsane-hp.so.1<br>
#6  0x40469752 in hp_attach () from /usr/lib/sane/libsane-hp.so.1<br>
#7  0x4046bcdc in sanei_scsi_find_devices () from /usr/lib/sane/libsane-hp.so.1<br>
#8  0x4046a9e4 in sanei_config_attach_matching_devices ()<br>
   from /usr/lib/sane/libsane-hp.so.1<br>
#9  0x40469afd in hp_read_config () from /usr/lib/sane/libsane-hp.so.1<br>
#10 0x40469c39 in hp_update_devlist () from /usr/lib/sane/libsane-hp.so.1<br>
#11 0x40469dac in sane_hp_get_devices () from /usr/lib/sane/libsane-hp.so.1<br>
#12 0x40014b0a in sane_dll_get_devices () from /usr/lib/libsane.so.1<br>
#13 0x4001525d in sane_get_devices () from /usr/lib/libsane.so.1<br>
#14 0x804f1b4 in init ()<br>
#15 0x804f1da in interface ()<br>
#16 0x804f316 in main ()<br>
#17 0x402c41eb in __libc_start_main (main=0x804f2b0 &lt;main&gt;, argc=1, <br>
    argv=0xbffffc74, init=0x804ba28 &lt;_init&gt;, fini=0x8055cac &lt;_fini&gt;, <br>
    rtld_fini=0x4000a610 &lt;_dl_fini&gt;, stack_end=0xbffffc6c)<br>
    at ../sysdeps/generic/libc-start.c:90<br>
(gdb) The program is running.  Exit anyway? (y or n) y<br>
[root@localhost /root]# exit<br>
<p>
Script done on Thu Nov  4 18:53:58 1999<br>
<p>
--------------EB1B0DC45001056F91956F6F--<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Chris Pinkham: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Previous message:</b> <a href="0023.html">Luca Del Signore: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Luca Del Signore: "sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Vincent Parrilla: "Re: sane doesnt work under red hat 6.1 (again)!"</a>
<!-- reply="end" -->
</ul>
