<!-- received="Fri Nov  5 09:31:14 1999 PST" -->
<!-- sent="Fri, 05 Nov 1999 09:38:29 -0800" -->
<!-- name="Vincent Parrilla" -->
<!-- email="parrilla@ix.netcom.com" -->
<!-- subject="Re: sane doesnt work under red hat 6.1 (again)!" -->
<!-- id="" -->
<!-- inreplyto="sane doesnt work under red hat 6.1 (again)!" -->
<title>sane-devel: Re: sane doesnt work under red hat 6.1 (again)!</title>
<h1>Re: sane doesnt work under red hat 6.1 (again)!</h1>
<b>Vincent Parrilla</b> (<a href="mailto:parrilla@ix.netcom.com"><i>parrilla@ix.netcom.com</i></a>)<br>
<i>Fri, 05 Nov 1999 09:38:29 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Carl-Johan Sveningsson: "Getting a Phantom scanner to work (through Adaptec AVA-1502A)"</a>
<li> <b>Previous message:</b> <a href="0036.html">Dave Restall - System Administrator: "Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Luca Del Signore: "sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--------------528716697103CFC1F5F54CEF<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Chris Pinkham wrote:<br>
<p>
<i>&gt; &gt; &gt; after the segfault:</i><br>
<i>&gt; &gt; &gt; backtrace &lt;enter&gt;</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; And send the output (should be less than 100 lines) to the mailling list.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Greetings,   since I have the same problem as Luca, I did the above.</i><br>
<i>&gt; &gt; Here are the results (any clues?):</i><br>
<i>&gt;</i><br>
<i>&gt; Since your output mentions the hp backend also, can you try what I</i><br>
<i>&gt; suggested to him about commenting out everything in your dll.conf file</i><br>
<i>&gt; except for the backend you need?</i><br>
<p>
    Chris,<br>
        I went to the dll.conf file as you requested and commented<br>
        out all but the scanner I was using (Umax).       I then needed<br>
        to do a system reboot since for some reason the kernel couldn't<br>
        find the SCSI port where my scanner was.<br>
<p>
        Then I invoked xscanimage and lo and behold - IT WORKED<br>
        perfectly!!!!!<br>
<p>
        Thanks for your input.      I know how difficult it is to document<br>
        everything, but perhaps this should be included in the README<br>
        files.       As simple as this was to fix, I was down about 2 1/2<br>
        weeks.<br>
<p>
        Anyway, thanks again.<br>
<p>
<p>
<p>
<p>
<p>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; Program received signal SIGSEGV, Segmentation fault.</i><br>
<i>&gt; &gt; 0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310) at malloc.c:3030</i><br>
<i>&gt; &gt; malloc.c:3030: No such file or directory.</i><br>
<i>&gt; &gt; (gdb) backtrace</i><br>
<i>&gt; &gt; #0  0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310) at malloc.c:3030</i><br>
<i>&gt; &gt; #1  0x402e2505 in __libc_free (mem=0x80ae318) at malloc.c:2932</i><br>
<i>&gt; &gt; #2  0x4040c146 in sanei_hp_free (ptr=0x80ae320) at hp-hpmem.c:133</i><br>
<i>&gt; &gt; #3  0x40410ab3 in sanei_hp_scsi_destroy (this=0x80ae320) at hp-scl.c:365</i><br>
<i>&gt;</i><br>
<i>&gt; Chris</i><br>
<i>&gt;</i><br>
<i>&gt; ************************************************************************</i><br>
<i>&gt; ** Chris Pinkham                       AlphaLinux v2.2.5, Cajun 3.0-8 **</i><br>
<i>&gt; ** <a href="mailto:cpinkham@infi.net">cpinkham@infi.net</a>                 <a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a> **</i><br>
<i>&gt; ************************************************************************</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
===================+==================================
  Vincent Parrilla | (650)625-2174 Work
                   | (415)265-2123 Cell
===================+==================================
<p>
<p>
<p>
--------------528716697103CFC1F5F54CEF
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: 7bit
<p>
&lt;!doctype html public "-//w3c//dtd html 4.0 transitional//en"&gt;
<html>
Chris Pinkham wrote:
<blockquote TYPE=CITE>> > after the segfault:
<br>> > backtrace &lt;enter>
<br>> >
<br>> > And send the output (should be less than 100 lines) to the mailling
list.
<br>>
<br>> Greetings,&nbsp;&nbsp; since I have the same problem as Luca, I did
the above.
<br>> Here are the results (any clues?):
<p>Since your output mentions the hp backend also, can you try what I
<br>suggested to him about commenting out everything in your dll.conf file
<br>except for the backend you need?</blockquote>

<p><br>&nbsp;&nbsp;&nbsp; Chris,
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I went to the dll.conf file
as you requested and commented
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; out all but the scanner
I was using (Umax).&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I then needed
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to do a system reboot since
for some reason the kernel couldn't
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; find the SCSI port where
my scanner was.
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Then I invoked xscanimage
and lo and behold - IT&nbsp;WORKED
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; perfectly!!!!!
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thanks for your input.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
I know how difficult it is to document
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; everything, but perhaps
this should be included in the README
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; files.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
As simple as this was to fix, I was down about 2 1/2
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; weeks.
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Anyway, thanks again.
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<blockquote TYPE=CITE>&nbsp;
<p>> Program received signal SIGSEGV, Segmentation fault.
<br>> 0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310) at malloc.c:3030
<br>> malloc.c:3030: No such file or directory.
<br>> (gdb) backtrace
<br>> #0&nbsp; 0x402e27be in chunk_free (ar_ptr=0x40372580, p=0x80ae310)
at malloc.c:3030
<br>> #1&nbsp; 0x402e2505 in __libc_free (mem=0x80ae318) at malloc.c:2932
<br>> #2&nbsp; 0x4040c146 in sanei_hp_free (ptr=0x80ae320) at hp-hpmem.c:133
<br>> #3&nbsp; 0x40410ab3 in sanei_hp_scsi_destroy (this=0x80ae320) at
hp-scl.c:365
<p>Chris
<p>************************************************************************
<br>** Chris Pinkham&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
AlphaLinux v2.2.5, Cajun 3.0-8 **
<br>** cpinkham@infi.net&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="http://www4.infi.net/~cpinkham/">http://www4.infi.net/~cpinkham/</a>
**
<br>************************************************************************
<p>--
<br>Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
<br>To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com</blockquote>

<pre>--&nbsp;
===================+==================================
&nbsp; Vincent Parrilla | (650)625-2174 Work
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | (415)265-2123 Cell
===================+==================================</pre>
&nbsp;</html>

--------------528716697103CFC1F5F54CEF--


--
Source code, list archive, and docs: http://www.mostang.com/sane/
To unsubscribe: echo unsubscribe sane-devel | mail majordomo@mostang.com
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">Carl-Johan Sveningsson: "Getting a Phantom scanner to work (through Adaptec AVA-1502A)"</a>
<li> <b>Previous message:</b> <a href="0036.html">Dave Restall - System Administrator: "Questions re Sane API digression &amp; MF Scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0020.html">Luca Del Signore: "sane doesnt work under red hat 6.1 (again)!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
