<!-- received="Tue Nov  9 02:17:30 1999 PST" -->
<!-- sent="Tue, 9 Nov 1999 11:15:01 +0100 (MET)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="Re: xsane as gimp plugin" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.20.9911081355520.4313-100000@swamp.bayern.net" -->
<title>sane-devel: Re: xsane as gimp plugin</title>
<h1>Re: xsane as gimp plugin</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Tue, 9 Nov 1999 11:15:01 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#68">[ date ]</a><a href="index.html#68">[ thread ]</a><a href="subject.html#68">[ subject ]</a><a href="author.html#68">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Manuel Panea: "New version of the Canon Sane backend available"</a>
<li> <b>Previous message:</b> <a href="0067.html">Frank Tscheuschner: "Re: Mustek doesn't work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 8 Nov 1999, Peter Daum wrote:<br>
<p>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; whenever I scan an image using xsane into gimp, I get a gimp</i><br>
<i>&gt; window with just a dotted yellow line in the middle. The image</i><br>
<i>&gt; actually is o.k., it is only displayed in such a weird way; as I</i><br>
<i>&gt; figured out, the reason for this is, that gimp thinks that the</i><br>
<i>&gt; resolution is set to something like 3.74x0.0 pixel/inch. When I</i><br>
<i>&gt; manually set the resolution to 72x72 ppi or just save and reload</i><br>
<i>&gt; the image, the problem disappears.</i><br>
<p>
Hi,<br>
<p>
meanwhile Oliver found the reason for this behavior (thanks!);<br>
just in case somebody has similar problems:<br>
<p>
Beware, if you have more than one gimp-version on your system -<br>
the "configure"-script of xsane might not use the version you<br>
mean!<br>
<p>
        Peter<br>
<pre>
-- 
                                             __o  
     Peter Daum &lt;gator at cs.tu-berlin.de&gt; _'\&lt;_ 
       - pgp messages welcome -       ____(_)/(_)
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0069.html">Manuel Panea: "New version of the Canon Sane backend available"</a>
<li> <b>Previous message:</b> <a href="0067.html">Frank Tscheuschner: "Re: Mustek doesn't work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
