<!-- received="Mon Nov 15 09:22:28 1999 PST" -->
<!-- sent="Tue, 16 Nov 1999 01:26:50 +0800" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: sane and video4linux" -->
<!-- id="199911151726.BAA01647@minerva.cc.uit.no" -->
<!-- inreplyto="sane and video4linux" -->
<title>sane-devel: Re: sane and video4linux</title>
<h1>Re: sane and video4linux</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 16 Nov 1999 01:26:50 +0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#141">[ date ]</a><a href="index.html#141">[ thread ]</a><a href="subject.html#141">[ subject ]</a><a href="author.html#141">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0140.html">Petter Reinholdtsen: "Re: next release?"</a>
<li> <b>Maybe in reply to:</b> <a href="0124.html">raj2569@flashmail.com: "sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<li> <b>Next in thread:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Juergen Schimmer]<br>
<i>&gt; Is there anybody out there interested in this backend ?</i><br>
<p>
The interest is here.<br>
<p>
I was going to add your backend to the CVS source, but I unpacked the<br>
source, and discovered headers files frequencies.h, grab.h and<br>
videodev.h.  Could you change the names of these files to v4l-* to<br>
make it more obvious that they are part of your particular backend?<br>
<p>
You should also add a version number to your tar file, so I know which<br>
version I insert into CVS.<br>
<p>
Send me an email when this is done, and I'll add your source to CVS.<br>
Hopefully, I'll soon have machine to test your backend on. :-)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Previous message:</b> <a href="0140.html">Petter Reinholdtsen: "Re: next release?"</a>
<li> <b>Maybe in reply to:</b> <a href="0124.html">raj2569@flashmail.com: "sane and video4linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<li> <b>Next in thread:</b> <a href="0142.html">Oliver Rauch: "Re: sane and video4linux"</a>
<li> <b>Reply:</b> <a href="0148.html">David Mosberger-Tang: "Re: sane and video4linux"</a>
<!-- reply="end" -->
</ul>
