<!-- received="Fri Nov 19 04:17:45 1999 PST" -->
<!-- sent="Fri, 19 Nov 1999 13:16:48 +0100 (MET)" -->
<!-- name="Lucia Cloth" -->
<!-- email="lucia@pool.informatik.rwth-aachen.de" -->
<!-- subject="Microtek Scanmaker changes colors" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek Scanmaker changes colors</title>
<h1>Microtek Scanmaker changes colors</h1>
<b>Lucia Cloth</b> (<a href="mailto:lucia@pool.informatik.rwth-aachen.de"><i>lucia@pool.informatik.rwth-aachen.de</i></a>)<br>
<i>Fri, 19 Nov 1999 13:16:48 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#181">[ date ]</a><a href="index.html#181">[ thread ]</a><a href="subject.html#181">[ subject ]</a><a href="author.html#181">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0182.html">Petter Reinholdtsen: "New unstable SANE snapshot"</a>
<li> <b>Previous message:</b> <a href="0180.html">Klaas Freitag: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm using the Microtek Scanmaker X6 with an Adaptec 1505 on a PC with<br>
Linux, kernel version 2.2.13. With some resolutions, there are fine<br>
results, with others (e.g. 300 dpi) I get the image with the<br>
red/green/blue channels permutated.<br>
<p>
The same was observed using this scanner on a SPARCstation 4 with SunOS<br>
5.6.<br>
<p>
Is there anybody having the same problem?<br>
<p>
Thanks,<br>
<p>
Lucia<br>
<p>
<pre>
--
Lucia Cloth
<p>
<a href="mailto:lucia@pool.informatik.rwth-aachen.de">lucia@pool.informatik.rwth-aachen.de</a> 
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0182.html">Petter Reinholdtsen: "New unstable SANE snapshot"</a>
<li> <b>Previous message:</b> <a href="0180.html">Klaas Freitag: "Re: Mustek SE 12000SP Pro with Domex DMX3191 PCI SCSI controler"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
