<!-- received="Fri Nov 19 13:07:09 1999 PST" -->
<!-- sent="Fri, 19 Nov 1999 21:05:52 +0000" -->
<!-- name="John Vickers" -->
<!-- email="jvickers@dial.pipex.com" -->
<!-- subject="Re: The Sane mailing list is regurgitating old messages" -->
<!-- id="" -->
<!-- inreplyto="The Sane mailing list is regurgitating old messages" -->
<title>sane-devel: Re: The Sane mailing list is regurgitating old messages</title>
<h1>Re: The Sane mailing list is regurgitating old messages</h1>
<b>John Vickers</b> (<a href="mailto:jvickers@dial.pipex.com"><i>jvickers@dial.pipex.com</i></a>)<br>
<i>Fri, 19 Nov 1999 21:05:52 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#187">[ date ]</a><a href="index.html#187">[ thread ]</a><a href="subject.html#187">[ subject ]</a><a href="author.html#187">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Kevin Dalley: "Numbering schemes for snapshots"</a>
<li> <b>Previous message:</b> <a href="0186.html">Andreas: "Re: sane 1.0.1 + LS-30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On 18 Nov 1999 22:39:58 -0600, Firebeard &lt;<a href="mailto:stend@sten.org">stend@sten.org</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Firebeard&gt;    For example, here's the headers from a message which</i><br>
<i>&gt;   Firebeard&gt; was originally sent out Oct 12, which reappeared today:</i><br>
<i>&gt; </i><br>
<i>&gt; Yup, I noticed that too.  I don't know how this happened.  There were</i><br>
<i>&gt; some old messages stuck in the outgoing mail queue though.  I cleared</i><br>
<i>&gt; those out now.  Hopefully that fixes he problem.</i><br>
<i>&gt; </i><br>
<i>&gt;         --david</i><br>
<p>
Even weirder, at work (<a href="mailto:John.Vickers@PaceMicro.com">John.Vickers@PaceMicro.com</a>)<br>
I ONLY receive the OLD messages.<br>
<p>
A test message I sent from work didn't make it to the list.<br>
<p>
John.<br>
<p>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0188.html">Kevin Dalley: "Numbering schemes for snapshots"</a>
<li> <b>Previous message:</b> <a href="0186.html">Andreas: "Re: sane 1.0.1 + LS-30"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
