<!-- received="Sun Nov 21 08:06:25 1999 PST" -->
<!-- sent="Sun, 21 Nov 1999 18:07:58 +0100" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Update of the microtek2 backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Update of the microtek2 backend</title>
<h1>Update of the microtek2 backend</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sun, 21 Nov 1999 18:07:58 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Petter Reinholdtsen: "Re: Please test sane cvs - soname of backend libs"</a>
<li> <b>Previous message:</b> <a href="0191.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have uploaded a new release of the microtek2 backend to<br>
<p>
 <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2.0.8.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2.0.8.tar.gz</a> .<br>
<p>
Changes:<br>
<p>
 - Some minor bugfixes for X6, Scanmaker636, X6EL and similar models.<br>
<p>
 - This version supports now a scanning direction of 'right to left',<br>
   i.e. the problem of mirrorred images should disappear.<br>
<p>
 - Gamma correction should now work for the V6USL and Phantom 636cx.<br>
<p>
 - This version was originally intended to better support models like the<br>
   Phantom 636cx or maybe the Phantom 336cx.<br>
   However, although I made some major additions images on the Phantom 636cx<br>
   will probably still look vertically striped. Anybody who wants to try the<br>
   changes must set 'option backend-calibration on' in the microtek2.conf<br>
   file and check 'calibration by backend' in the advanced option set.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Petter Reinholdtsen: "Re: Please test sane cvs - soname of backend libs"</a>
<li> <b>Previous message:</b> <a href="0191.html">Bernd Schroeder: "Re: Another Microtek Phantom 636 Problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
