<!-- received="Sun Nov 21 21:02:11 1999 PST" -->
<!-- sent="Mon, 22 Nov 1999 05:03:36 +0000" -->
<!-- name="Bob van der Poel" -->
<!-- email="bvdpoel@uniserve.com" -->
<!-- subject="Re: GIMP/SANE PERMISSIONS" -->
<!-- id="" -->
<!-- inreplyto="GIMP/SANE PERMISSIONS" -->
<title>sane-devel: Re: GIMP/SANE PERMISSIONS</title>
<h1>Re: GIMP/SANE PERMISSIONS</h1>
<b>Bob van der Poel</b> (<a href="mailto:bvdpoel@uniserve.com"><i>bvdpoel@uniserve.com</i></a>)<br>
<i>Mon, 22 Nov 1999 05:03:36 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#211">[ date ]</a><a href="index.html#211">[ thread ]</a><a href="subject.html#211">[ subject ]</a><a href="author.html#211">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Manuel Panea: "Re: Canon scanners"</a>
<li> <b>Previous message:</b> <a href="0210.html">Rob Komar: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">David McCormick: "GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; Redhat 6.0 defaults "600" permissions on sg devices. Therefore</i><br>
<i>&gt; without read permissions, normal users cannot open sg devices.</i><br>
<i>&gt; One of the first questions I asked to a Linux newsgroup was</i><br>
<i>&gt; why a logical read operation such as scanning a document needed</i><br>
<i>&gt; write permissions. From memory the answer was something like</i><br>
<i>&gt; that that is just the way things are. Should it be?</i><br>
<i>&gt; </i><br>
<p>
I think that the real problem is in install programs/methods. If we were<br>
to use Oliver's suggestion (creating a group 'scanner'), setting the<br>
owner of /dev/sgX to 'scanner', its permissions to 660, and the scanner<br>
binaries to be owned by 'scanner' we'd solve a whole heap of<br>
problems.... But even with a great install,  problems remain:<br>
<p>
 - What users should be granted entrance to 'scanner' group?<br>
 - What device to set. Could be that the device changes?<br>
<p>
I suppose that the install program could do some checking (to see if<br>
there is a 'scanner' group already, etc), and then do a dialogue to<br>
asking for the information from the user (with some reasonable<br>
defaults).<br>
<p>
A well thought out install (even if it calls for later root<br>
intervention, or even a 'scanner permissions' program) might solve a lot<br>
of the problems we're seeing on the list with permission problems.<br>
	<br>
	<br>
<p>
<pre>
-- 
   __
  /  )      /         Bob van der Poel
 /--&lt;  ____/__        <a href="mailto:bvdpoel@uniserve.com">bvdpoel@uniserve.com</a>
/___/_(_) /_)         <a href="http://users.uniserve.com/~bvdpoel">http://users.uniserve.com/~bvdpoel</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Manuel Panea: "Re: Canon scanners"</a>
<li> <b>Previous message:</b> <a href="0210.html">Rob Komar: "Re: GIMP/SANE PERMISSIONS"</a>
<li> <b>Maybe in reply to:</b> <a href="0131.html">David McCormick: "GIMP/SANE PERMISSIONS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0216.html">Oliver Rauch: "Re: GIMP/SANE PERMISSIONS"</a>
<!-- reply="end" -->
</ul>
