<!-- received="Wed Nov 24 08:11:43 1999 PST" -->
<!-- sent="Wed, 24 Nov 1999 17:15:05 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problems with Umax 1220S" -->
<!-- id="" -->
<!-- inreplyto="Problems with Umax 1220S" -->
<title>sane-devel: Re: Problems with Umax 1220S</title>
<h1>Re: Problems with Umax 1220S</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 24 Nov 1999 17:15:05 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#230">[ date ]</a><a href="index.html#230">[ thread ]</a><a href="subject.html#230">[ subject ]</a><a href="author.html#230">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Cyril Y. Nickonorov: "Re: Problems with Umax 1220S"</a>
<li> <b>Previous message:</b> <a href="0229.html">PAILOTT@aol.com: "Re: Problems with Umax 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0228.html">Cyril Y. Nickonorov: "Problems with Umax 1220S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0231.html">Cyril Y. Nickonorov: "Re: Problems with Umax 1220S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Cyril Y. Nickonorov" wrote:<br>
<p>
<i>&gt; Hello to All!</i><br>
<i>&gt;</i><br>
<i>&gt; Please help me to figure out any possible solution to</i><br>
<i>&gt; my problem.</i><br>
<i>&gt;</i><br>
<i>&gt; I have the following configuration:</i><br>
<i>&gt;</i><br>
<i>&gt; Linux RH 6.0 on K6-2 box and</i><br>
<i>&gt; Umax Astra 1220S connected to Adaptec AHA1542 SCSI host.</i><br>
<i>&gt; SANE 1.0.1 as backend and XSANE as frontend.</i><br>
<i>&gt;</i><br>
<i>&gt; Both sane and xsane compiled without any errors and were</i><br>
<i>&gt; installed perfectly. But when I try to scan image, scanner</i><br>
<i>&gt; lamp moves forward for about half of an inch and then goes</i><br>
<i>&gt; back without making any scan job. Log shows that scanner was</i><br>
<i>&gt; initialized well, but "scan-read can't get data from scanner".</i><br>
<i>&gt;</i><br>
<i>&gt; What's going wrong?</i><br>
<i>&gt;</i><br>
<p>
Do you have terminated both ends of the scsi bus?<br>
May be it hast to do with the ISA SCSI card,<br>
do you have the possibility to try a PCI-SCSI card<br>
(but not the cheap!)<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Homepage:       <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
sane-umax:      <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a>
xsane:          <a href="http://www.wolfsburg.de/~rauch/sane/sane-xsane.html">http://www.wolfsburg.de/~rauch/sane/sane-xsane.html</a>
E-Mail:         <a href="mailto:Oliver.Rauch@Wolfsburg.DE">mailto:Oliver.Rauch@Wolfsburg.DE</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0231.html">Cyril Y. Nickonorov: "Re: Problems with Umax 1220S"</a>
<li> <b>Previous message:</b> <a href="0229.html">PAILOTT@aol.com: "Re: Problems with Umax 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0228.html">Cyril Y. Nickonorov: "Problems with Umax 1220S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0231.html">Cyril Y. Nickonorov: "Re: Problems with Umax 1220S"</a>
<!-- reply="end" -->
</ul>
