<!-- received="Wed Nov 24 19:32:07 1999 PST" -->
<!-- sent="Wed, 24 Nov 1999 21:28:25 -0600" -->
<!-- name="Laura DeWitt" -->
<!-- email="cats-rule@home.net" -->
<!-- subject="Re: Problem with SANE and SCSI scanner" -->
<!-- id="" -->
<!-- inreplyto="Problem with SANE and SCSI scanner" -->
<title>sane-devel: Re: Problem with SANE and SCSI scanner</title>
<h1>Re: Problem with SANE and SCSI scanner</h1>
<b>Laura DeWitt</b> (<a href="mailto:cats-rule@home.net"><i>cats-rule@home.net</i></a>)<br>
<i>Wed, 24 Nov 1999 21:28:25 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#238">[ date ]</a><a href="index.html#238">[ thread ]</a><a href="subject.html#238">[ subject ]</a><a href="author.html#238">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<li> <b>Previous message:</b> <a href="0237.html">Erwin Kaiser: "Agfa Snapscan 600 - problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0247.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; &gt; Can somebody help me get SANE to work with my SCSI scanner?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; [ldewitt]# scanimage --device sga -- help</i><br>
<i>&gt; &gt;                                                ^^^</i><br>
<i>&gt; &gt; Try using /dev/sga here.</i><br>
<i>&gt;</i><br>
<i>&gt;     canon:/dev/sga</i><br>
<i>&gt; would be better!</i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<p>
Wow! So I have learned a lot this week and thanks for all the help.<br>
However, my scanner still isn't working. I have downloaded the source and<br>
added the frontend and backend from<br>
<a href="http://www.rzg.mpg.de/~mpd/sane/sane-canon.html">http://www.rzg.mpg.de/~mpd/sane/sane-canon.html</a><br>
Then I followed the instructions to make and install the software.<br>
<p>
There wasn't a canon.conf file, so I created one and made the first line be<br>
/dev/scanner. Then I created a symbolic link from /dev/sga to /dev/scanner<br>
<p>
I also checked the dll.conf to make sure that canon was there and it was.<br>
<p>
sh-2.03$ cat /proc/scsi/scsi<br>
Attached devices:<br>
Host: scsi0 Channel: 00 Id: 02 Lun: 00<br>
  Vendor: CANON    Model: IX-06015C        Rev: 2.02<br>
  Type:   Scanner                          ANSI SCSI revision: 02<br>
<p>
Does anybody have any ideas why scanimage cannot find my scanner but<br>
find-scanner can?<br>
<p>
Thanks in advance.<br>
Laura<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0239.html">Douglas Gilbert: "Re: Umax 1220S problem fixed"</a>
<li> <b>Previous message:</b> <a href="0237.html">Erwin Kaiser: "Agfa Snapscan 600 - problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0197.html">Laura DeWitt: "Problem with SANE and SCSI scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0247.html">Laura DeWitt: "Re: Problem with SANE and SCSI scanner"</a>
<!-- reply="end" -->
</ul>
