<!-- received="Thu Nov 25 11:19:32 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 12:22:49 -0700 (MST)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Agfa Snapscan 600 - problems" -->
<!-- id="19991125192254Z433206-16920+162@scapa.cs.ualberta.ca" -->
<!-- inreplyto="Pine.LNX.4.10.9911242117430.17904-100000@eins.kaiser.de" -->
<title>sane-devel: Re: Agfa Snapscan 600 - problems</title>
<h1>Re: Agfa Snapscan 600 - problems</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Thu, 25 Nov 1999 12:22:49 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">joakim verona: "no SG__BIG_BUF in kernel 2.2.12"</a>
<li> <b>Previous message:</b> <a href="0243.html">genkin@canada.com: "Mustek Paragon A3 SP / 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0248.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Reply:</b> <a href="0248.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Erwin,<br>
<p>
The SnapScan backend fails scanimage -T because it imposes a restriction on<br>
the minimum size of a read (currently, you aren't allowed to ask for less<br>
than a single scan line of data from the scanner).<br>
<p>
This violates the SANE spec, but for normal local use (ie. not through<br>
the net meta-backend) this works fine.<br>
<p>
There is a revised implementation of the backend that does pass<br>
scanimage -T, but it won't work in colour mode with your SnapScan 600.<br>
This is something that should get fixed by sometime around mid-December,<br>
after I move. When it does get fixed, version 1.0 will become the<br>
new backend release, and the base for future modifications.<br>
<p>
For the moment, try the backend out with your scanner. BTW, you should<br>
get at least version 0.7 of the backend, available from<br>
<p>
<a href="http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html">http://www.cs.ualberta.ca/~charter/SnapScan/snapscan.html</a><br>
<p>
Earlier versions of the backend don't work with the new generic scsi<br>
driver that has appeared in the series 2.2 Linux kernels.<br>
<p>
I hope that helps,<br>
<p>
Kevin<br>
<p>
<i>&gt; Hallo,</i><br>
<i>&gt; my AGFA SNAPSCAN 600 and </i><br>
<i>&gt; scanimage [sane 1.01] -d snapscan:/dev/scanner -T say: </i><br>
<i>&gt; scanimage: scanning image of size 2539x3420 pixels at 24 bits/pixel</i><br>
<i>&gt; scanimage: acquiring RGB frame, 8 bits/sample</i><br>
<i>&gt; scanimage: reading one scanline, 7617 bytes...	FAIL No data</i><br>
<i>&gt; scanimage: reading one byte...		FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 2 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 4 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 8 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 16 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 32 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 64 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 128 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 256 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 512 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 1024 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 2048 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 4096 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 8192 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 8191 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 4095 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 2047 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 1023 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 511 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 255 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 127 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 63 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 31 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 15 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 7 bytes... 	FAIL No data</i><br>
<i>&gt; scanimage: stepped read, 3 bytes... 	FAIL No data</i><br>
<i>&gt; </i><br>
<i>&gt; What may be wrong? </i><br>
<i>&gt; Every suggestion appreciated!</i><br>
<i>&gt; </i><br>
<i>&gt; TIA Erwin.</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
-- 
Kevin Charter              
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a> | charter@cs.ualberta.ca
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a> | http://www.cs.ualberta.ca/~charter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">joakim verona: "no SG__BIG_BUF in kernel 2.2.12"</a>
<li> <b>Previous message:</b> <a href="0243.html">genkin@canada.com: "Mustek Paragon A3 SP / 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0248.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<li> <b>Reply:</b> <a href="0248.html">Erwin Kaiser: "Re: Agfa Snapscan 600 - problems"</a>
<!-- reply="end" -->
</ul>
