<!-- received="Thu Nov 25 11:50:30 1999 PST" -->
<!-- sent="Thu, 25 Nov 1999 23:14:27 +0100" -->
<!-- name="joakim verona" -->
<!-- email="joakim@verona.se" -->
<!-- subject="no SG__BIG_BUF in kernel 2.2.12" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: no SG__BIG_BUF in kernel 2.2.12</title>
<h1>no SG__BIG_BUF in kernel 2.2.12</h1>
<b>joakim verona</b> (<a href="mailto:joakim@verona.se"><i>joakim@verona.se</i></a>)<br>
<i>Thu, 25 Nov 1999 23:14:27 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#245">[ date ]</a><a href="index.html#245">[ thread ]</a><a href="subject.html#245">[ subject ]</a><a href="author.html#245">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">Oliver Rauch: "xsane-0.46"</a>
<li> <b>Previous message:</b> <a href="0244.html">Kevin Charter: "Re: Agfa Snapscan 600 - problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Douglas Gilbert: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<li> <b>Reply:</b> <a href="0254.html">Douglas Gilbert: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<li> <b>Reply:</b> <a href="0257.html">joakim verona: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've been trying now and then for some time to get my snapscan 300 to<br>
work.<br>
with the latest developer snapshot i had partial success, i could at<br>
least do a preview scan with xscanimage, but when i try to do a full<br>
scan it hangs after scanning a fraction of the image.<br>
<p>
so i've read some of the advice on the list and was going to try to<br>
increase the SG_BIG_BUF parameter in sg.h. But there seems to be no such<br>
parameter in kernel 2.2.12!<br>
<p>
is SG_BIG_BUF still applicable, or what?<br>
<p>
<pre>
-- 
Joakim Verona
<a href="mailto:joakim@verona.se">joakim@verona.se</a>
<a href="http://www.verona.se/~joakimv">http://www.verona.se/~joakimv</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0246.html">Oliver Rauch: "xsane-0.46"</a>
<li> <b>Previous message:</b> <a href="0244.html">Kevin Charter: "Re: Agfa Snapscan 600 - problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0254.html">Douglas Gilbert: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<li> <b>Reply:</b> <a href="0254.html">Douglas Gilbert: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<li> <b>Reply:</b> <a href="0257.html">joakim verona: "Re: no SG__BIG_BUF in kernel 2.2.12"</a>
<!-- reply="end" -->
</ul>
