<!-- received="Sat Nov 27 06:25:59 1999 PST" -->
<!-- sent="Sat, 27 Nov 1999 09:29:58 -0500 (EST)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: SANE support on Solaris 2.6" -->
<!-- id="199911271429.JAA29972@ra.lexis-nexis.com" -->
<!-- inreplyto="383FA06C.FD0C029E@euronet.nl" -->
<title>sane-devel: Re: SANE support on Solaris 2.6</title>
<h1>Re: SANE support on Solaris 2.6</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Sat, 27 Nov 1999 09:29:58 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#269">[ date ]</a><a href="index.html#269">[ thread ]</a><a href="subject.html#269">[ subject ]</a><a href="author.html#269">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">Henning Meier-Geinitz: "Re: Mustek 600 IIN color question"</a>
<li> <b>Previous message:</b> <a href="0268.html">Levente NOVAK: "Re: Update of the microtek2 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Just a thought:<br>
Sound like the wrong make.  Get gmake and try it.<br>
-ls-<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">Henning Meier-Geinitz: "Re: Mustek 600 IIN color question"</a>
<li> <b>Previous message:</b> <a href="0268.html">Levente NOVAK: "Re: Update of the microtek2 backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
