<!-- received="Tue Nov 30 15:05:41 1999 PST" -->
<!-- sent="Wed, 01 Dec 1999 00:13:18 -0000 (/etc/localtime" -->
<!-- name="marcel pol" -->
<!-- email="mpol@gmx.net" -->
<!-- subject="Re: Microtek Pagewizard support?" -->
<!-- id="" -->
<!-- inreplyto="19991128161512.1871.qmail@aquila.muc.de" -->
<title>sane-devel: Re: Microtek Pagewizard support?</title>
<h1>Re: Microtek Pagewizard support?</h1>
<b>marcel pol</b> (<a href="mailto:mpol@gmx.net"><i>mpol@gmx.net</i></a>)<br>
<i>Wed, 01 Dec 1999 00:13:18 -0000 (/etc/localtime</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#305">[ date ]</a><a href="index.html#305">[ thread ]</a><a href="subject.html#305">[ subject ]</a><a href="author.html#305">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0306.html">Yuri Litvin: "Umax Astra 1220S, Serving as a Scanner Server???"</a>
<li> <b>Previous message:</b> <a href="0304.html">Jonathan A. Buzzard: "Re: Umax Parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
Thanks for the email, I had almost given up hope of getting my scanner at work.<br>
<p>
<p>
On Thu, Nov 25, 1999 at 11:31:05PM -0000, marcel pol wrote:<br>
<p>
<i>&gt;&gt; I own a Microtek Pagewizard 300S, connected with a SCSI adapter (OnSpec</i><br>
<i>&gt;&gt; 90c26) at the parallell port. With the ppscsi-patch from</i><br>
<i>&gt;&gt; <a href="http://www.torque.net/parport/ppscsi.html">http://www.torque.net/parport/ppscsi.html</a> I got the adapter supported.</i><br>
<i>&gt;&gt; With the commands sgcheck and find-scanner it finds my scanner. </i><br>
<i>&gt;&gt; When I use xscanimage it says my adapter is supported, but my scanner isn't.</i><br>
<i>&gt;&gt; The list at the SANE homepage says also that the Microtek2 parallell port</i><br>
<i>&gt;&gt; scanners are not being supported.</i><br>
<i>&gt;&gt; Is there anybody who knows if my scanner is being supported at the moment?</i><br>
<p>
On 28-Nov-99 Bernd Schroeder wrote: <br>
<p>
<i>&gt; At least it will not work out of the box. Enable debugging (set </i><br>
<i>&gt; SANE_DEBUG_MICROTEK2 to 30) and watch out for a line "Model 0xyz not</i><br>
<i>&gt; supported". A check for this model code will have to be added to the source.</i><br>
<p>
It gives a line: "model 0x53 not supported".<br>
It also gives: "check inqiury: mi=0x8056a9c"<br>
<p>
What do you mean with adding this model code to the source code? <br>
Source code of which program? I guess you mean the program SANE?<br>
I only have experience in compiling the kernel from source code. I hope that is<br>
enough experience.<br>
<p>
<i>&gt; Then the backend should at least print the scanner attributes to stderr, if</i><br>
<i>&gt; 'option dump 1' is set in the microtek2.conf file. It is necessary to know</i><br>
<i>&gt; these attributes in order to tell you more.</i><br>
<p>
There is not yet a file called stderr.<br>
<p>
Marcel Pol<br>
<a href="mailto:mpol@gmx.net">mpol@gmx.net</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0306.html">Yuri Litvin: "Umax Astra 1220S, Serving as a Scanner Server???"</a>
<li> <b>Previous message:</b> <a href="0304.html">Jonathan A. Buzzard: "Re: Umax Parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
