<!-- received="Mon Mar  1 06:22:09 1999 PST" -->
<!-- sent="Mon, 1 Mar 1999 14:22:56 +0000 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Snapscan 310" -->
<!-- id="" -->
<!-- inreplyto="Pine.OSF.4.05.9903011304310.26704-100000@waage" -->
<title>sane-devel: Re: Snapscan 310</title>
<h1>Re: Snapscan 310</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Mon, 1 Mar 1999 14:22:56 +0000 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Ole W. Saastad: "Re: Snapscan 310"</a>
<li> <b>Previous message:</b> <a href="0003.html">Ole W. Saastad: "Snapscan 310"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 1 Mar 1999, Ole W. Saastad wrote:<br>
<p>
<i>&gt; I have installed SANE with snapscan support, and this works very well.</i><br>
<i>&gt; However, the Photolook scans look better. </i><br>
<i>&gt; (see my www page <a href="http://www.uio.no/~olews/scanner.html">http://www.uio.no/~olews/scanner.html</a>)</i><br>
<i>&gt; </i><br>
<i>&gt; I am therfore wondering about the progress for the snapscan 310 backend. </i><br>
<i>&gt; As I can see from the www page of Kevin Charter there is only limited</i><br>
<i>&gt; development going on.</i><br>
<p>
Well, I doubt that this is a backend problem, unless the Snapscan actually<br>
supports 12-bit or 16-bit per sample scans.<br>
<p>
Your JPEG images make the visual problem immediately apparent, but it is<br>
very hard to decide exactly what the cause of the problem is once JPEG<br>
has destroyed (yes -- really, destroyed) large parts of the image detail.<br>
Can you make lossless compressed TIFF files available somehow?<br>
<p>
I had some (limited, because of JPEG artifacts) success in enhancing the<br>
photos from your web page so that the SANE picture was closer to the one<br>
from Photolook. So at least some of the effect of Photolook is in the<br>
enhancement of the image after it has been transfered from the scanner.<br>
<p>
Probably more work is needed on Auto calibration (see XSane) or on the<br>
options and previews in the frontends. If the 310 has 12-bit or 16-bit<br>
modes, then the backend should support those eventually, but again there<br>
is no support in the graphical frontends (yet)<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Ole W. Saastad: "Re: Snapscan 310"</a>
<li> <b>Previous message:</b> <a href="0003.html">Ole W. Saastad: "Snapscan 310"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
