<!-- received="Tue Mar  2 15:56:42 1999 PST" -->
<!-- sent="Tue, 02 Mar 1999 16:50:49 -0500" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="Scanner question. Off Topic" -->
<!-- id="199903022356.PAA29183@panda.mostang.com" -->
<!-- inreplyto="36A85935.4942@zeus.cs.uni-bonn.de" -->
<title>sane-devel: Scanner question. Off Topic</title>
<h1>Scanner question. Off Topic</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Tue, 02 Mar 1999 16:50:49 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Tony Simaz: "Re: HP 4C Scanner and SANE"</a>
<li> <b>Previous message:</b> <a href="0022.html">Bernd Schroeder: "Re: Microtek x6el problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0025.html">becka@rz.uni-duesseldorf.de: "Re: Scanner question. Off Topic"</a>
<li> <b>Reply:</b> <a href="0025.html">becka@rz.uni-duesseldorf.de: "Re: Scanner question. Off Topic"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Please forgive the intrusion, but since so many of you know your way<br>
around scanners, I thought perhaps someone might know the answer, or<br>
could point me to a source.<br>
<p>
Can scanners go out of focus?<br>
<p>
I have a Microtek E3 and although text and copies come out great,<br>
photographs scan like they are out of focus. I use OS/2, but tried it<br>
with drivers in W3.1 and w95 as well and they always are out of focus.<br>
I am pretty sure its a focus issue as zooming in shows it to be blurry<br>
as can be, even in high res.<br>
<p>
Just wondering if the scanner is now useless, or perhaps I can adjust<br>
it?<br>
<p>
Much obliged for any help.<br>
<p>
Thanks a lot,<br>
<p>
John<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">Tony Simaz: "Re: HP 4C Scanner and SANE"</a>
<li> <b>Previous message:</b> <a href="0022.html">Bernd Schroeder: "Re: Microtek x6el problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0025.html">becka@rz.uni-duesseldorf.de: "Re: Scanner question. Off Topic"</a>
<li> <b>Reply:</b> <a href="0025.html">becka@rz.uni-duesseldorf.de: "Re: Scanner question. Off Topic"</a>
<!-- reply="end" -->
</ul>
