<!-- received="Mon Mar  8 17:00:43 1999 PST" -->
<!-- sent="Mon, 08 Mar 1999 19:59:29 -0500" -->
<!-- name="J. Milgram" -->
<!-- email="milgram@cgpp.com" -->
<!-- subject="Re: OCR [was: Bar codes]" -->
<!-- id="199903090059.TAA01618@cgpp.com" -->
<!-- inreplyto="OCR [was: Bar codes]" -->
<title>sane-devel: Re: OCR [was: Bar codes]</title>
<h1>Re: OCR [was: Bar codes]</h1>
<b>J. Milgram</b> (<a href="mailto:milgram@cgpp.com"><i>milgram@cgpp.com</i></a>)<br>
<i>Mon, 08 Mar 1999 19:59:29 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#90">[ date ]</a><a href="index.html#90">[ thread ]</a><a href="subject.html#90">[ subject ]</a><a href="author.html#90">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Oliver Graf: "Re: Epson ES-1200C Scanners"</a>
<li> <b>Previous message:</b> <a href="0089.html">Tripp Lilley: "Re: OCR [was: Bar codes]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I offer: <a href="http://www.cgpp.com/bookland">http://www.cgpp.com/bookland</a><br>
<p>
for some good links to bar code specs. Possibly useful. Oh,<br>
and python is very good by the way.<br>
<p>
Judah<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0091.html">Oliver Graf: "Re: Epson ES-1200C Scanners"</a>
<li> <b>Previous message:</b> <a href="0089.html">Tripp Lilley: "Re: OCR [was: Bar codes]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
