<!-- received="Wed Mar 10 17:09:29 1999 PST" -->
<!-- sent="Wed, 10 Mar 1999 17:10:34 -0800" -->
<!-- name="David M. Whetstone" -->
<!-- email="dmw@hooked.net" -->
<!-- subject="twain -&gt; sane proxy for windows" -->
<!-- id="199903110108.RAA03670@mom.hooked.net" -->
<!-- inreplyto="" -->
<title>sane-devel: twain -&gt; sane proxy for windows</title>
<h1>twain -&gt; sane proxy for windows</h1>
<b>David M. Whetstone</b> (<a href="mailto:dmw@hooked.net"><i>dmw@hooked.net</i></a>)<br>
<i>Wed, 10 Mar 1999 17:10:34 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#111">[ date ]</a><a href="index.html#111">[ thread ]</a><a href="subject.html#111">[ subject ]</a><a href="author.html#111">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Alex Belits: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Previous message:</b> <a href="0110.html">Petter Reinholdtsen: "Re: AGFA SnapScan 1236 support in the works"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0112.html">Alex Belits: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Reply:</b> <a href="0112.html">Alex Belits: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Reply:</b> <a href="0113.html">Petter Reinholdtsen: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Reply:</b> <a href="0115.html">Brian Macy: "Re: twain -&gt; sane proxy for windows"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I would like to be able to share my scanner through my linux server <br>
with all my client machines (which happen to be running windows).<br>
<p>
I've searched the mailing list archive for this and found a couple of <br>
references.  Is anyone working on this?  If not, I would be interested <br>
in investigating this a little further.  Does anyone know where I can <br>
get specs for TWAIN?  Anyone interested in collaborating? <br>
<p>
David Whetstone <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0112.html">Alex Belits: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Previous message:</b> <a href="0110.html">Petter Reinholdtsen: "Re: AGFA SnapScan 1236 support in the works"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0112.html">Alex Belits: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Reply:</b> <a href="0112.html">Alex Belits: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Reply:</b> <a href="0113.html">Petter Reinholdtsen: "Re: twain -&gt; sane proxy for windows"</a>
<li> <b>Reply:</b> <a href="0115.html">Brian Macy: "Re: twain -&gt; sane proxy for windows"</a>
<!-- reply="end" -->
</ul>
