<!-- received="Fri Mar 12 10:51:22 1999 PST" -->
<!-- sent="Fri, 12 Mar 1999 19:45:05 +0100" -->
<!-- name="Peter Kirchgessner" -->
<!-- email="peter@kirchgessner.net" -->
<!-- subject="Re: xscanimage won't detect my scanner" -->
<!-- id="" -->
<!-- inreplyto="xscanimage won't detect my scanner" -->
<title>sane-devel: Re: xscanimage won't detect my scanner</title>
<h1>Re: xscanimage won't detect my scanner</h1>
<b>Peter Kirchgessner</b> (<a href="mailto:peter@kirchgessner.net"><i>peter@kirchgessner.net</i></a>)<br>
<i>Fri, 12 Mar 1999 19:45:05 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Hugo van der Kooij: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0121.html">Leon van Zundert: "Microtek scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Jamie Zawinski: "xscanimage won't detect my scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Jamie Zawinski wrote:<br>
<i>&gt; </i><br>
<i>&gt; Well, since there do not seem to be precompiled binary RPMs of SANE</i><br>
<i>&gt; that plug in to GIMP 1.0.1 on RH 5.2 anywhere in the world, I gave up</i><br>
<i>&gt; and uninstalled and reinstalled GTK so that there is no trace of</i><br>
<i>&gt; GTK 1.1 anywhere on my system, and I can build SANE myself</i><br>
<i>&gt; (meaning I cannot currently compile Mozilla, meaning that once I</i><br>
<i>&gt; get SANE working, I get to go through this library shuffle all over</i><br>
<i>&gt; again.)</i><br>
<i>&gt; </i><br>
<i>&gt; The problem: xscanimage doesn't notice that my scanner exists.</i><br>
<i>&gt; </i><br>
<i>&gt; find-scanner sees it:</i><br>
<i>&gt; </i><br>
<i>&gt;   find-scanner: found processor "HP C2520A 3503" at device /dev/scanner</i><br>
<i>&gt;   find-scanner: found processor "HP C2520A 3503" at device /dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; the device is readable:</i><br>
<i>&gt; </i><br>
<i>&gt;   % ll /dev/scanner /dev/sga</i><br>
<i>&gt;   lrwxrwxrwx   1 root     root            3 Jan  5 17:42 /dev/scanner -&gt; sga</i><br>
<i>&gt;   crw-rw-rw-   1 root     sys       21,   0 Sep 30 22:05 /dev/sga</i><br>
<i>&gt; </i><br>
<i>&gt; With an explicit argument, scanimage works (actually scans an image):</i><br>
<i>&gt; </i><br>
<i>&gt;   scanimage -d hp:/dev/scanner &gt;/dev/null</i><br>
<i>&gt; </i><br>
<i>&gt; But xscanimage doesn't detect it, and so the only entries on its</i><br>
<i>&gt; device menu are the "ppm" devices (whose purpose I still don't fathom.)</i><br>
<i>&gt; </i><br>
<p>
Hi Jamie,<br>
<p>
what does your file /usr/local/etc/sane.d/hp.conf say ?<br>
You might need to remove everything but the line<br>
<p>
/dev/scanner<br>
<p>
Then try to start<br>
<p>
xscanimage hp<br>
<p>
and see what happens. If xscanimage does not find the scanner,<br>
you should export SANE_DEBUG_HP=10, start<br>
<p>
xscanimage hp &gt; hp.lis 2&gt;&amp;1<br>
<p>
exit xscanimage and send the file hp.lis back to me.<br>
You can also update the hp-backend to the current version<br>
which you find on my homepage. This will remove the problem with the<br>
hp.conf file.<br>
<p>
<p>
--Peter<br>
<p>
<pre>
-- 
Peter Kirchgessner
WWW:    <a href="http://www.kirchgessner.net">http://www.kirchgessner.net</a>
e-mail: <a href="mailto:peter@kirchgessner.net">peter@kirchgessner.net</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">Hugo van der Kooij: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0121.html">Leon van Zundert: "Microtek scanners"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">Jamie Zawinski: "xscanimage won't detect my scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
