<!-- received="Tue Mar 16 09:55:09 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 18:54:06 +0100" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: HP Photosmart R032 problem" -->
<!-- id="" -->
<!-- inreplyto="19990316105312.20574@ux11.cso.uiuc.edu" -->
<title>sane-devel: Re: HP Photosmart R032 problem</title>
<h1>Re: HP Photosmart R032 problem</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Tue, 16 Mar 1999 18:54:06 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Petter Reinholdtsen: "Sane documentation inconsistency"</a>
<li> <b>Previous message:</b> <a href="0165.html">john allen pitney: "Re: HP Photosmart R032 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
john allen pitney (<a href="mailto:pitney@students.uiuc.edu">pitney@students.uiuc.edu</a>) wrote:<br>
<p>
<i>&gt; I interpreted this as a tone map download:</i><br>
<i>&gt; </i><br>
<i>&gt; time  0 command 0a flags 54 status 01 length     5 *a5T</i><br>
<i>&gt; time  0 command 0a flags 54 status 01 length     5 *a6D</i><br>
<i>&gt; time  0 command 0a flags 54 status 01 length     8 *a1024W</i><br>
<i>&gt; time  0 command 0a flags 54 status 01 length  1024 </i><br>
<i>&gt; </i><br>
<i>&gt; According to <a href="http://www.dmo.hp.com/devexchange/nam/scanjet/sclv9.htm">http://www.dmo.hp.com/devexchange/nam/scanjet/sclv9.htm</a> the </i><br>
<i>&gt; *a6D means a 10x8 tone map is about to be downloaded.  Am I reading this </i><br>
<i>&gt; right?  I take that last line above to be the downloading of 10-bits </i><br>
<i>&gt; worth of gamma table.  </i><br>
<p>
That is most definitely a tonemap transfer caught in the act, so it<br>
can indeed be done.<br>
<p>
<i>&gt; KDE!?!  :-)  Anyway, enjoy your project.</i><br>
<p>
Hehehe.. thank you for your warm feelings :-) <br>
<p>
<i>&gt; I think that xscanimage/hp backend </i><br>
<i>&gt; is pretty close right now, it just needs a few more tweaks.  </i><br>
 <br>
If you could put in a 10x8 gamma map in the backend that would be very cool. <br>
Meanwhile I'll be trying the software-only route, that is to do<br>
everything with high bit depth accuracy in software.<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Petter Reinholdtsen: "Sane documentation inconsistency"</a>
<li> <b>Previous message:</b> <a href="0165.html">john allen pitney: "Re: HP Photosmart R032 problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
