<!-- received="Tue Mar 16 11:38:02 1999 PST" -->
<!-- sent="Tue, 16 Mar 1999 20:36:53 +0100" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="New vendor in doc/sane/tex (patch)" -->
<!-- id="199903161936.UAA15073@lee.Cc.Uit.No" -->
<!-- inreplyto="" -->
<title>sane-devel: New vendor in doc/sane/tex (patch)</title>
<h1>New vendor in doc/sane/tex (patch)</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Tue, 16 Mar 1999 20:36:53 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#171">[ date ]</a><a href="index.html#171">[ thread ]</a><a href="subject.html#171">[ subject ]</a><a href="author.html#171">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Warren Early: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a patch to include AGFA in the vendor list.<br>
<p>
Index: sane.tex<br>
===================================================================<br>
RCS file: /cvsroot/external/sane/doc/sane.tex,v<br>
retrieving revision 1.2<br>
diff -u -r1.2 sane.tex<br>
--- sane.tex    1999/02/28 19:13:10     1.2<br>
+++ sane.tex    1999/03/16 19:36:30<br>
@@ -689,12 +689,12 @@<br>
       \hline<br>
       \multicolumn{2}{|c|}{\bf \defn{Vendor Strings}} \\<br>
       \hline\hline<br>
+      \code{AGFA}              &amp; \code{Logitech} \\<br>
       \code{Artec}             &amp; \code{Microtek} \\<br>
       \code{Connectix}         &amp; \code{Minolta} \\<br>
       \code{Epson}             &amp; \code{Mustek} \\<br>
       \code{Hewlett-Packard}   &amp; \code{UMAX} \\<br>
       \code{Kodak}             &amp; \code{Noname} \\<br>
-      \code{Logitech}          &amp; \\<br>
       \hline<br>
     \end{tabular}<br>
     \hspace{\fill}<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0172.html">Warren Early: "Re: Microtek scanners"</a>
<li> <b>Previous message:</b> <a href="0170.html">Petter Reinholdtsen: "Scanner survey: Which scanner do you have?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
