<!-- received="Tue Mar 16 23:46:32 1999 PST" -->
<!-- sent="Wed, 17 Mar 1999 08:48:19 +0100 (CET)" -->
<!-- name="Mentore #cat# Siesto" -->
<!-- email="s135989@studenti.ing.unipi.it" -->
<!-- subject="Re: Epson backend" -->
<!-- id="" -->
<!-- inreplyto="2moglsln9g.fsf@rilule.pn.hypercore.co.jp" -->
<title>sane-devel: Re: Epson backend</title>
<h1>Re: Epson backend</h1>
<b>Mentore #cat# Siesto</b> (<a href="mailto:s135989@studenti.ing.unipi.it"><i>s135989@studenti.ing.unipi.it</i></a>)<br>
<i>Wed, 17 Mar 1999 08:48:19 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#179">[ date ]</a><a href="index.html#179">[ thread ]</a><a href="subject.html#179">[ subject ]</a><a href="author.html#179">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Yvan Cottyn: "trust backend?"</a>
<li> <b>Previous message:</b> <a href="0178.html">Kaz Sasayama: "Re: Epson backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 17 Mar 1999, Kaz Sasayama wrote:<br>
<p>
+&gt;&gt;&gt;&gt;&gt; On Tue, 16 Mar 1999 16:18:57 +0100 (CET), Mentore #cat# Siesto &lt;<a href="mailto:s135989@studenti.ing.unipi.it">s135989@studenti.ing.unipi.it</a>&gt; said:<br>
+<br>
+    M#S&gt; AFAIK, Epson doesn't produce other image retrieval systems other than<br>
+    M#S&gt; scanners. But, I think that they *could*, in future, produce things such<br>
+    M#S&gt; as digital cameras, so that IMHO the test sdhould remain... BTW, this<br>
+    M#S&gt; could be one of the reasons why the GT-300 is not correctly detected.<br>
+<br>
+Yes, they could, but there is another check in the backend<br>
+to test if the device understands the scanner commands.  And<br>
+even if Epson would make non-scanner devices in the future,<br>
+it would be easier to maintain a list of such non-working<br>
+devices than of working scanners, I hope.<br>
<p>
Mmmmh... I should think about it.<br>
<p>
Mentore<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0180.html">Yvan Cottyn: "trust backend?"</a>
<li> <b>Previous message:</b> <a href="0178.html">Kaz Sasayama: "Re: Epson backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
