<!-- received="Wed Mar 17 20:26:05 1999 PST" -->
<!-- sent="Thu, 18 Mar 1999 13:24:06 +0900" -->
<!-- name="FUKUDA Kazuya" -->
<!-- email="fukuda@avm.nhe.nec.co.jp" -->
<!-- subject="Re: SANE backend for Sharp JX 250 version 0.11" -->
<!-- id="19990318132406F.fukuda@avm.nhe.nec.co.jp" -->
<!-- inreplyto="36EFF208.B9ED08FB@satzbau-gmbh.de" -->
<title>sane-devel: Re: SANE backend for Sharp JX 250 version 0.11</title>
<h1>Re: SANE backend for Sharp JX 250 version 0.11</h1>
<b>FUKUDA Kazuya</b> (<a href="mailto:fukuda@avm.nhe.nec.co.jp"><i>fukuda@avm.nhe.nec.co.jp</i></a>)<br>
<i>Thu, 18 Mar 1999 13:24:06 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#186">[ date ]</a><a href="index.html#186">[ thread ]</a><a href="subject.html#186">[ subject ]</a><a href="author.html#186">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Christoph Doerbeck A242369: "Does the dtc SCSI adapter work with Linux 2.x?"</a>
<li> <b>Previous message:</b> <a href="0185.html">Marco Foglia: "Linux Driver for Primax Colorado Direct"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
----Next_Part(Thu_Mar_18_13:23:54_1999_809)--<br>
Content-Type: Text/Plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Hi,<br>
<p>
I'm confused about the backend for the JX 250. <br>
<p>
I write a sharp backend for the JX 610 based on canon.c.<br>
and version 0.12 is included in sane-pre1.01-3.tar.gz<br>
##<br>
  current version is 0.14 (patched by david's patch).)<br>
  current version(sharp014.tar.gz) is attached in this mail.<br>
<p>
But, Abel Deuring made the another sharp backend based on Ricoh scanner.<br>
These backend are very different, but support scanner is very similar.<br>
<p>
Does any one have good ideas?<br>
<p>
a.deuring&gt; Hi all,<br>
a.deuring&gt; <br>
a.deuring&gt; I just made version 0.11 of the backend for the JX 250 available:<br>
a.deuring&gt; <a href="http://www.satzbau-gmbh.de/staff/abel/sane-sharp.html">http://www.satzbau-gmbh.de/staff/abel/sane-sharp.html</a><br>
a.deuring&gt; <br>
a.deuring&gt; Differences to version 0.1:<br>
a.deuring&gt; <br>
a.deuring&gt;   - memory leakages fixed<br>
a.deuring&gt;   - a few options added<br>
a.deuring&gt; <br>
a.deuring&gt; Abel<br>
a.deuring&gt; <br>
a.deuring&gt; --<br>
a.deuring&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a><br>
a.deuring&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a><br>
<p>
----Next_Part(Thu_Mar_18_13:23:54_1999_809)--<br>
Content-Type: Application/Octet-Stream<br>
Content-Transfer-Encoding: base64<br>
<p>
H4sIAI118DYAA+w8a3MaSZLz1fyKGjbGK2SEQAhki7EvkIQkdiTQAhqPzufoaOhG9LkfuB9C<br>
zIz/+2VmdXVXv5D8nNtdEwoQWVn5rqyqrGqm6uydbmu7P3zFF9uvH7Ra7AfGGgethvwpXnXG<br>
2u0DQNvbb+9Dc2O/ufcDa31NocQr8HzVZeyHefAu0NRivIfa/0Vf09D/3kJ1l7WZY8+/PI9G<br>
vd7e39/g/0ZL+L/RbsP/jeZ+q/EDq395UbKv/3D/72r63a43U21bd0t/tTDfX9/8lRz/mu7N<br>
vjyPB8Z/Y/+gncr/zVZj//v4/xavDht3Bz12xMOAeUt9ZsyNmeobjs3mhqmXOqUO6/t/99hU<br>
9aDBNNdMt9SZt2Ma3pLt7Owwz2HlTpkZtoYddY/NHMvSbZ/5DkOizpyZhq3XgFDXNJm3tn11<br>
5hszpps64nlMdXX2Tl+vHFeDTiCJV2VzxzSdla6x6ZqpzPNdw75ljgtEIlTVvQ2QQJWpnhBd<br>
12okcvkwDO0y27bAydtsqidwSBbHX+guSD53XIvrbHjMWeJ/qsm2poHPVgvVZ7eOo2EToJNV<br>
2MrwFw60Gv5/VZBhSbBjZRpKZZZ6dZitWjraIkQsHd7procsy/VaYz/TAXoIBLkThKsfeOzQ<br>
1leZHtTpUDWXC7XKDqe6jx/QYWrqVeoBYkK+N2a6v17q0BTm/dKhNb9l5fF5d3SVlSMWXmWW<br>
agdzcF7gQrfDwDVZeeH7y8NdnkB2wC2mBssIa7cMRB1NB4R//LbTbtTz9COihOWBu12mTp07<br>
fSdyEgOpaqVDEU3lKxdk11e756o59x1b372AqFJdf3eycHVv4ZjkosCGEPR17cdyCZwc9VbB<br>
NSSwIO/ysIucrc59CAW0BNiKhIJPTIhVDDnsDnGA/ved5Y6p3+lm7d9gwkzm/8VX4bE5/zea<br>
Bwfx+r/RaCKo3vye/7/Ja3ebeaqtsx025smAdWcz3fPYwFmxnuqta6USOOnYWa5d43bhs63j<br>
Cmu8ePGc/aL+HqxVdkp2IaTJAoYfZUf4XMLAxMSFI4ammCVEmnqr12LUpevcuqqF2HNXh+zs<br>
zP0VjMkOWzsBA3GYq2sGZn7Iw0CUBvEuTAFAAAaoMV8jLLA1kJoGpu5anuB5NrhmZzooBEP7<br>
KpiaMN1cQOKzPUhjHlJYItBb8AkGe5yiDONQBnbqAGGaEjpMN2iaEOl4L+SBVEKaVZiZ2BYk<br>
CJDcDXNKBcRdM1P14675ysc6QgKzSZaFA/nZx5kHNFwZMFPB7BV4+jyArASYSOZ1f3I+vJ6w<br>
7uCGve6ORt3B5KYTTUyQoDgpw1qamExBK1e1/TUIj70ve6Pjc+jSPepf9Cc3KP9pfzLojcfs<br>
dDhiXXbVHU36x9cX3RG7uh5dDce9GmNjXRfWRSIFBsZcbjlgRA2mIMP0uNo34FTI0gGk6YV6<br>
p4NzZ7pxB5KpsGBYrh92HBJRTQeWAagkIMdm7DBjzmwHVgIr1/AxR2ddit1jr1ZZ357Vqqz1<br>
gk10MJHOrkx1RgMhQArNZr3KjhwPJpoq2avL6pCdGjuQnA6q7Hrc5Vp1PVyd4JwC8ur3M33J<br>
qSN7NQBfuBSSNARuQV22hCg1PAqkOY9lVdOMcBICF0cRbBpTV3UNWk/BignmujA8QG0Xlk6q<br>
pwvKIq70WAK+WlHBImAZHE+wBHsHopIgnPSa25GvgXDc0rgA04FRtQBsASNQv9dnQbiCIM6a<br>
AwKBpXHUGL6nm3MYqSC2GBAwEwemj2u1uCvShPidwezuxuMt62hpQNUoXlw0CLcHDAWJIAgC<br>
prAdiOo1soTxM8Ph49hk0NkM/OyHC893KEyUhoTqM5jhgQZIZvjSsIztJxStwmBcwWhywZL2<br>
nWoaED86DW1uOBcc4dgerBPXZD5yQiQopUOLMufHWoCE6nPnecHUgkwwW6j2LYgFUpMyYZhb<br>
EBwUIK4XmtqwZ2agUcCQQZCAp78PcCUUxk6VCKu3OERAHs7BF7aKOIHhuVqOF0MtsDpwkRNX<br>
PCSlEKSFfkIRPjwpe4e7DIp3njZXNCRItSomPiBGDbOFAzZBKquFTkbHIMVx5KdZQoO6XMIe<br>
Bf6hvglWNUkSzaEwXsEcEA4UWPLpmDuSFAEJmNfY9m6p9DdjDrPNnNFqSVmU/gZfwOziO2sg<br>
Cjc9+9lbe7u4zvZqi1elEv6HXXU7sECKP1ASNryaKIPrSwU+x+wlq1dLEfhyeNJTzkbD66tq<br>
AhZ/u+pe9Ubx17Pu5WVXIjC+6vVOpO+j3nh4cT3pDwdpsnFLDPstF3qTgMase8PL3mR0kyY8<br>
uVB+qz558gQWGXzRPPfZPRpSQrhJI6xlhKNRRGHq+L5j7fBVyH0K6SYPiShFWL0BTHfHvcve<br>
YJKWs3dy1lN6l1fn3XF/LIl/DtqeDy/AiuB4dN71uKccX48nw0tu7ghVBqZcovzaO54M044K<br>
oUoR/KwAfgSywHrdoDmcgca4t8UNN8wXqucfCruEUQV+GsP3DyXa2ylDCulOHI2BbVDK5OGI<br>
A095jTvrVScF2F6pHbJwuPF21chPhDTm+3OvQ9w4H+VX1Qx0iRtki2DmMy5LHzbdSc4jTC7s<br>
HtK54uK/nXTTurjpvqhLAdwXW0bRHiP0IUeSECCyCnNZJ9m0Lm66L+pSAJ9aQQpiBVpH8hfa<br>
qMh+J7SRjyyY08a2bf1e5hmCccEfQiMuVAORWXPcIubhZiGfu9hJSOxhJmBzTWYqRNT0O0nC<br>
MHBOYNvtGkvfobX0GymY33JkOcAYTMo5KETvSoXFISR1lzYkquXJjj5aQ7bfngbzue6m/QCr<br>
Ay/tXTcDWmdBgXmfgaxTkJWh+YsUzNTt2wwwitIU3LBgJ6XAqF86nsGHdDKwlksJcuQ4Jsz6<br>
uAfR02BYuepp6reqZakpmK5Fg8QzftcVXP/5MBB8R4EFUEghbLHUewULfvmtgc3LThrHieOD<br>
wJBEOhuzbVJKhVZZb/bfvtlrtcHxUW4UYRzGYmEcY03tjyRhzZ910pD3D3mLxxIsDcFwEW8g<br>
nmX8+urkPGQZKLCgctlqqS3etMOwFTDNfLMHoA+shB1yyJwcyYITf4irtEiwBXGmhp8GQ7rU<br>
PWKQhK8jeKZDYIKZs/i5YArwHDg3GzWkWqY0ZUM8eOk+eWOAGuzANJVGhtKmscFZ4eBIwRa+<br>
slR9yBN2jlFcYw6tsEnD2MyRYS9HU2poRl6NG3CNGaSBvzuOBdSV+xzuom2d02YKoynuxtbb<br>
ja3Tza0rHg8fShBy2ThcGbbmrBTKrmFAYsBSUHOi0A3CeYrjQkbOksKkq3i490mQi4UiBBxj<br>
Sv74o3bqqiwg7eju3oMYzVwMLPvS9FPACCJSx4SqvWllLDc1ndm7MNCbmdYlD05NTzfAHt/z<br>
VdtvZ+hZmXAB9lnNAi0vdHUvoyHA9tEZaXMXOsTUZ/4mj8j2bHw1n8gY+59vVrBCRtYvatfY<br>
amBYWDiPj8d9OhlTbc3DtbPYPE5644lyPejjRqx7csPCV/2+Xo9wRr1/XiPauDcY9xiTcJoR<br>
Tn/wz+v+6IalXvX7xl6EQ7vKce8CNhPtJE5L4jXujX7tkUhJnLaEc9HrjvNwDtK8QGCZFeKo<br>
Ec74uDtIC8xxpjFOb3CinPS7Z4PheNI/lnA0CWeivO4PToavU3T29iOcs0IcWffuSa48e88T<br>
8uTjqCUZCcxz0Utp13iedlcap9lOGPCqO+peJnEkd3J1Mmy2nrNnrNWslML1EO4TsdYhyhQQ<br>
fKL+n7r/81XOGDae/zT24P+9zPnP/sH3859v8fpC5z94OYDKr+zoZtI7ZmfW9Jyd6S4kO6qK<br>
vnYNWF3ZWGg8100r8Nkvjj7VXRNSN57qOoHHXjvuO6QAcjh2bcZLp3PXsaggiVQKzpG+Hzl9<br>
P3L6fuT0/cjp+5HT9yOnf6cjp/QMhykjvC/HfSGunJEGuIBjc8j9UzBNeLPLg5jm51bRoRRM<br>
9rt4zdu4pWOpuMU0QDc6q5KwfQ2CNwNT3ds0DKv/SVhgg6u0FBNij2+p/gIM01haBNFkKN7M<br>
M1KN/NbSq3jdfdQ9/gX3C4PuZY+vd/NphaYLxeOnelfdybly2f0tIiYATxp13Efw2mI+vdik<br>
0Q6AaoDHw8Fp/0w57V/0wpuBdMm+XCrhRT6YaLDyaQeWwu/leXgK2BFtyUr53HA9H/EAZ3B9<br>
cZFCi6ruHA+GjQZBI1ClHde4rxxdn54q4/5/91hsWQXLti4OWOiNtdqCM0vclYyVi/6gB7M1<br>
46eWMfy8e3E6GQ56Muxs1L2Rvx8PL4YjqtFe8jJ7vOOJ6TJWDq/3laVmQR6bxTVAuR1ZhZug<br>
8pmrruU2Yhu2HTum45aFAalIIJ9jKccEoZ08rNj8N2/ZS6p9RAJWJWGqIeOqYILK1ksfJMXo<br>
rBZDCTY39YfYLlVINMRX+d/7dqMecS93m+UqvO/Te4ve2/h+RJAjgCDWa3ahYy0TYRf6rWry<br>
fwSob99hbitHUkrl9n/8BouQj5IP8CX5spK1JD58AEX7cazpN+rkj0atXk427O1Rw15t70E3<br>
8ZOAhJ9C2lVBK+sROh5XBsPRZfeCOA3wCrBZTiGcdsdhgaN8qnr+g7LQeUpSFplTVSKblUk6<br>
osdQef4QM1iFOGZAJ2EJjuVWHW1/QH6A3Td9cNge/9bkH/v8o80/xlSzKmflovPxAR92aCh5<br>
zFHbZf/kBBIcK18aGmSdVOt4MhoOzqAVhIeldKr16OKaRmX5yAweHpJ4DqXA4nmheoaX1DqS<br>
sioLVZVlqMYsJS0LTpuykvCj4+A5PzMGtiInAim8gIDn45ZhG1ZgicPxvVYralHv5RboEza8<br>
D2CTZPzO759TazxYRIrnhsCr3yW83qzA7OrT2dqabfHD1QoZIcQPT5FmlobmYX+kaoxVkFf6<br>
+4ClTIkF45fMEXpydMa2Gg2Ijp9/ZmnO5QodpIRX0l/KkwlwZltzrYoiVOnoD5ZcW/Clwlny<br>
njH1V6/+x0ZyuJr3A9dmW5xqBSuq6CJWz7NFNF/RJjC0RJVBgtPYNq9tT4N5VZw9hiD8ttFc<br>
iXKrZKmoqvcRRkuK+Ikmk1WJVfgYG4rVS44RDft9YLjrtPkAnDQeAh40XVjWlIwmFTo/wmxC<br>
qE80WCR8JPRHBVyOlaSyfvuhMddmz5LVWzRNiRW8/pCr8lUsbEe2SxAR1sscMLBta/lIsya0<br>
CG1rLUG6rRyqFTQmqNImO1m65ek+IC6zonGE5c6r6CAGSDYFMDqEAWBbAPFgpY52wYMOGdjg<br>
wMaLvz65eLp7p1PGe1SWlU9OPjHFJnh+q/wa72wKLUH794+xRHw+9MmWkHh+a0sUj39Ivu10<br>
psQmfjyZyJcshm9Km/yOwOPHLkkghm44Jkn3elJ90hEZhKOsoQrA3lsxOvHbPn7boyH4sfZN<br>
KV6C9QwvlMtqf27ixVrGo4IODxM/MdiIx1+/nAHnaopmqLe240Gb9zi1k+ejOIHU9z/JCGnu<br>
/w9GHcoUD7f4XhWMLs970CypaPhUowhDRGPH83ZehdfEohHEYe/Zq1fsuWhoSQ0C1hYwfkcE<br>
8Rtt0XiQbYypPc9prH8LDxUNTN1X+I2e2EPyDR+2vVoWuQj2/c+k4+vN66P4dL/AmzEh4dmU<br>
HIb92AWSpFTodeyMC6QkSbE2atQTiyNETokk2mfLtWhfLTMIf40Lb3NcyOe05EwG36I5rMCf<br>
NOjOPt5Tj/DJbcYnH2st0iZS4nNnJNz90j20xxttw0qp+yXSVCySlKso1WwLMXIyTaItmWei<br>
pk8Jzs83NzdiCWvS/HCBi7lVWHejL96bt6GxuQ/wo0r3kak31db5ZWMjtmA9XF2lWIV2xLOV<br>
LYO6RkyMtx327JlRoYwlKkAhB8CB9Iw6CdwKZolOiAUz/xY3eCRWpfREklCYHMvjCREzZhOd<br>
iqJ0pYpCTWIVkR9MBp3S+bDhfhnOKasFHjptbUW+z9SdgGKF/fgypDjpTq7HytlweFKJ6mIk<br>
fQuEj2VhcxXoQuj8pFVAoSrnWuEqo3Xo+7NnYKBGq/JH6UmorcykP1R6o9FwJOxE5jd1fbnV<br>
JEIf8mILkQospfq+OluI4KLxic8l2KpVTZ3BbDOALzcZMufphpL8/ENge8YtnqsTm7DKQSP3<br>
jVQooS2BLA79IIGCP5ggVQCiq5vM8pb5lQFeGBBX9qUhnYj90AByyPNzpujMqcPEG0DhfecV<br>
PtyRHAEU2747s5bUfecVHfShzHjQieassJcQXhDw4FeOz82JuwYy1pJT7yBEeDATXtD6ITVC<br>
mqAHV+KQOUsdHyNgP3kUXyHnojSG2CQGefspJjQ8MePv1IurRT0Lgj02AbdqSpgw5A+FRMgd<br>
U01IVIRoReSI3NDN1xVXp6hrGDoiQ4jViBxeif2h3MAZRzPBy3ykhP2iiiGaK8nkqZT2P9N2<br>
gstHmk+eo0y8QoCJ6mHbGimNcdsMMrfDjn/+iandpuCW0SC5P6+K306pshZlxHrcaauoV6Nd<br>
xd9GwZ9GibtljuJgHDx9Wsg5pAGIMg2+m4Ke3L7sATPzk2e6fGL/3Wem47xjpvEOf+6FXyoI<br>
LxOI4Hq0jRMpe/Br9+JRoZw6qhBcN05Dnx1qSJRRpSk1SXk0SVGC+kpxV2gILLAyXhXOGCFZ<br>
jP4SFkjcDOfqfyOHh3oOxr10+noK01oibVnLwmQFqLkm4vU6zFOc2hfMT/IF9y9uMV4j4tyl<br>
sgd/PorWBHTsHT73JtmMwJLVtgjA7eZ5Nc2f8Zp7MwK8l4rwAAirCy8ZkN6OsDDhvAwF5g+7<br>
VaLnBKNlHpjS9Q/phnwmZHklBx3Bnnrep1uf6HyDKYGcIB4nLCAALXxFZKmm6cz40h6jEdcy<br>
lUjHH/Fbqcjvg6Fy2btMBD7gJ+JekOP8pIUV33BowVIsYYhMjHMHCsBq7qWYoMQikS8l45k8<br>
nlCS/flPeHEuNrGJe1dF7SNGp58VA2apa2jleAeIUZJRIV6pSfBKJ79PpFKmF28p6sdVyelG<br>
DUW9Qo0ynRAuOQSfnq7FT67X6Ehf7DdjjPWDGOFz7DXLsKGxkeq+qfH+AdbZ5qzw4WPqSLyV<br>
J/qG9khw9Z6OEw4KROfNL5qdUpQAwrWNHFl8YUSX1coUZ+HGQc4IuYbn9Ns8mRVjkQGb9fA5<br>
0AIXbaC1zqOVYSjZKzRIGkFm1KznyiMTedHMESVBZH+vJc0gybUkY7oJqUsyetrmgPWfZXNC<br>
+VybRyjShIGWfqzlml/Qcrm0/gUsx/GSKWlqBTi1esta+Axs3GQFGt1ZgLbwHsHPP7PnWGkT<br>
oMbbVIJL/eJHfhLNIHExW63NaMmkGk0jck59+ZMWTyGZjJucfpIRUtAzai/ua9ib+xp2YV/S<br>
aGNvwkj2X2/Ud12o7/oBfdcb9F0/oO/6S+ubILDBuwWu3ejXQqdu9Giheg/otsGRG7xY4MKN<br>
/it03kbPFem13qzXeoPDIJFkOwAwyQDyRxYLgJzYs2fSff0oL2A5NFEwhQb5xn5UCY6Knpjw<br>
EjVPIUJ+uT+vDppfzjawOMIfCIS9UOrpABaemucfgiS6pu6YeDuvoCWxL+GgSmLvArA71Uyj<br>
AaiSPVAx2M/yL1XlnaoQhzfG21pqv08K409TxZu8CHWmok0J47gLug9PJ2Fpg/2ZAp/0JgCW<br>
yhQhFfmX2d7WfMOnZymo76Q/uegpsthF3fBnJESvk974+FGd8oSPpeSmTHVZ0WMeEukS/TQY<br>
Pl3Bbl0nWIY/Cybxi39eLtaujEFCvcqdYuxQqfImnHDXxM11cxXCN3TgStc3YeBhiItPnSky<br>
9f9r79mf08iZzK/mr9C6brPGwYSHcRy7NmVjY5ZvvcZnO9lQuylqDENMghmWGUy4vdzffmq9<br>
Rs+ZAZNc9r6QVBlGaqnVL7U0UvcJHu/N1XHr4oYc/eZDJ+d5wLm1DvwdX3iSJuCqUBfODpEy<br>
CwpW/icDGJxPaV+nFx5T66Jprcv0wHgzKi6r5K1g6fSjfXbPW9c3KS0UWcfQG99pg++agDJ8<br>
pT2K+EJN9V2e84pcJ6GvT3VmkWszglubl6KmLnysopDk1JpcitObdLMmft8FFk7bUFDXsLa1<br>
lNmXi7X6hSDd5ElNLM3mtGY0XuuoSE1wtvPBSHw3bjSV38kbnUnL1ATqitXqGqmL2/xWqFut<br>
rkJduI9VkqjLF6RY0ch+raFj5LJLrGNNqKTrAqsj1CupEtesxIYy2TtW2cW3+NqXbvEY4GNM<br>
ntGExqm4c83ocaQl/kj308qx2SNTFLkuZrCE3BFzTVKk8NAKoE7ktO0/Bl4YvdP5wADs01RS<br>
Dzrj6u32uUYBVnUu6l29FvPylbixhprgmBhD16PUSoOKYfXRmEAuJ8XSfBZXxQSzOyyWesu5<br>
LeSNnnSvL4E+scpmIcySdIwpmLHxTAotQ7i0WrvTqKu23MRj9NvejqbkGi6anCujkdRdv5Wp<br>
3uqMDcCnJD6/tXL67aZuDeJah0kNCOa/RZuGF5uxDbuxyIqALiCYPYkA5GU8AyCnAU4vW4kA<br>
6dJwdXzR1P1vVxtFdsUTPeXOh7YfpAmD2g7YPhNOBAGm/F8k8b9j5X8nO/87dv53luF/5zH8<br>
7yzL/86y/O+sgf+uNhz8X7j430nm/8LC/82mH9zDYcdN1yJdjasu+18cUvdaNADXNGg0nGUS<br>
1IG0jYrj0zcQX113HAyopSZEPWy81DAEl3f5SFB2aKvuWsg7AexC724/XcxpRUO8L1tvG+fW<br>
qqsJtg7rMmhWaabAphWLd2QNBi1sDOokMKhjItxJZJAdwMkgR/uZGNTJzqDOIxjUyWJxXAzq<br>
2MyMySBb2gQJC0iw4GISlB3aqruY5ASwM8ndfjqTaMVMTKJVV2OSDruUFlFgixZpE4GZtELH<br>
walHUGainKBHTgAnixztZ2JRVj2iVVdm0ep6RIEteqTP1Y3xnTfukfBbzunayDAizdgy/GEq<br>
mGvetvWQZeq2wNkXsLaKS03YEJ8F8fgsJoXkRCuxW9uQgYwxqzAxRZcA4vRcqqNMS1oNyLWq<br>
NcPW6AtbraHHrG2dTWnLWxMpTTv0wUmLXEscnlK8tBXnI0yngOfUsVg0UabPlDGMxaxlgDJs<br>
W5aeMjgKcW3DylGdcFVf0WOwNeAwd0Z+G9V9iFsC21eu7CfEQSIc7c1CmKPoFjKNM6mzVgay<br>
cFcuPkyCtPA4M6zB6ey9ZtjZVCHEBufZ8fm1MIDvp94i7Hl4BJRWD34P0thYd91ZUicLseRi<br>
2860gLQQKzOsQazsvaYrhwoAs81/S4vF1sXxyU3rjS7hKlAWpVIhmPmt1PbgoIP1pIAbxZV0<br>
0tVGrJY8XJjtPYEAnHtMg+WsNqV3+D+XK4jhmlmiumky1U3ibzddrlLhE2Urvffl5Ku7moR1<br>
V5Cx7qOkrLsWOeuuLmldl6yVZVmDAL3jJaStmSZt1jd7EnSatKXBJ0tbau9LSltzNWlrriBt<br>
zUdJW3Mt0tZcXdqaDmmryNJ2CzncsgtbPU3Y6kmDqacLWxp8srCl9r6ksNVXE7b6CsJWf5Sw<br>
1dcibPXVha3uELYqEzZxFCLhkKV+xtJ1xLIfdHuwnh85z1cqxyrj6jx+yc4rnu7O9CKH9Mgk<br>
TUwIN+PIVfQcHOggSSviQs4QVlUEexZtDProlXk0xrjMRmrK514GcLx+h0WtSAtEoZxMPYH9<br>
g/PzBjueKhON3NIbkhBy5DEk0tvmeSpI0MACJcXxLLrrnnijEUTpZikNRBwVcveRXnb7gwfo<br>
hoAlm8/xw+f6jTOsLK0btBWf7+UsiZEhLIHrljQqbR9dHp/8etxswMVr/uhN4+q61b7gjVTg<br>
HiJv4ABtCpBN/I/VRZuUTDy4FeWJPFp2BFh+xIWBtYFV57SBtt7gMf6rfVVA+EvrAr6w0D88<br>
cAUPX6BEBFrmFDGEr6H88T8Bf+A3i3Khx7MoxHk9TYIS6KxhJMwIEuwQtThQzSWSiv0WDbKT<br>
t10UTKwV3/CLq8GNykTxtgkvBCJiB7+VUDScPDQ+CP5KdkSYNJM8m6MArwm7wXi0UKIB2drA<br>
LbANGrI7Z02Xaj+9beDIOMHOnJNtp5xCArETFXfKr7JuyVHpn6FyXpoRWG3Y8lEuucY9JF50<br>
BQg+vGWDjfCuh8+egdY/FVyWRsEL6XWcbYkltD261bXCTGAIBI0ewh5L4Yi4QpKSX2go/m1E<br>
Y/IvGT0G6fH9w6QEqUQwCuiDbHdMGSFoq8IB5hRieP2Mfvqz9JOqlsvwKA7tkjEUDHRwO/W9<br>
jySsC+sxvjVN2xO3yHWL95Tq8Ub6ZfINWSzFXW8RScZ+ZQ9pNzqkWCHJl7r5ZX5QdWS5Hx5K<br>
ihMqzZgaAxXF7Qr1XniYF/6ENGXTnUDErpW4hUW/irErXcAgZR9o2Qdchl1CKP2Qj50E2cka<br>
vvvjA6jcBykHr3oPJRSYKldlqE4QS6DmraCpmre138tqbDyxMVdH1khFHzUlQz8brl0excia<br>
OkXbl5SK8uQHYAolWpLfxRw71/yNRyJNFW0jS/Z2PD9RgpMUpqzQMmZmmcADo/WdREgasr07<br>
iQRbPNpVnnUD3qh0U0XVnwzeC1024OmIYW23ypC8ahqMGG6Zxl/IkdC1zC4f9wig16OJtahH<br>
QW41SY4r7LNnIJvN0LtVUqy10LyA8MIP1InapbiEPRZa5nQFNDpIjKG4E/cTvoq5ksktX5u4<br>
7dtp403rBPs2r687wpBlYLHDRNKXkWxNSJshy15hIqnYkxa7resuXf9iF8yb5DN1AI1QbsK0<br>
Q3l8Qs/pNm66uNrrhrZGmg8jmGe4dtBp6Pk2mgMHmFEjr4A3epAVTT8DeCA97ziewykb7XdH<br>
/g3nB7TfSjm/AKa0wd/syA/JiewDp9TFFeXHB1Igqe14DwDMINYEyi5Yh3N2zcUsTIVrI5Yu<br>
vnnRujhrY1qct49PuyR0/HVaoDc3zoIZO5BkcOFgibxBcOB43nWXNJ0l9QNAgUd1JaZBp4dX<br>
0CWahR3aSJiyuNdGx0ff1zrGBterZPzIzRADYfmBXQyVt7wH1NuaOocV5r8InzU/LEFhr+0K<br>
azMTuOrNcf1cGIqNFCtBFF+NESg2o7qYCDPfmIEKiBCJkOJQQiXRE2Vo8NkgzeRs3QdhhBeO<br>
2O3r+zv+YOD3oh3iMPyDjZEkQyTCnaY8QDnT6iwjbUaLtgbT5VJXN3VtQ5gvkoLRNQ0LFSiX<br>
80xhbNHzNx2G49U+nguf/oz+x7Ldi6E+g3akwtt3iwGcWHMn+diczW9JWynrNi+mIVE4zEii<br>
25OCsn6mbE7lcxZEhTejmi/atNhItdg2/al07AWQW0JmuEn+pocS2s79li1FHblI1gKTpZCp<br>
ThV2x8lIEgHGWoH1tlveFRUy6f1n7faoHb3djOhBlJsk9GT814heLRt65d009CT814jeXkb0<br>
SrvJ6Mn4rw+9elbm1lJkr1p7+SXQy8rc/VIKc2tfQvZE9shsNHxRS9HfSu0LIEnTWmbDsJzK<br>
5dIXwXAJIqahKFN5fSjyRKDrwbFc3V8Bx7+FV5JtRlWc1296WtU3V9VroPjZs2d5xGiezCj9<br>
QimkFHByzLyI6EXB0LiUOnyXt7HTvMaWCp2J1/Dhm/zw/bNg+/o5kH7/NlnakrccrGuwb2EP<br>
wrL9wNfvS+5BODeEMJBrGcVZOQfJdB+ZVV/DGF2TdKjjgCV9J6nLl9lraIv4R6rvap7bjTer<br>
OEpCl/SsC0gZD4tpQ7vQVfeeHGGgiafF+62NxEOx7pUefAwrznqg6avjLv4mu9eJHSFnV27I<br>
bgqSCZDNlSHrKZCfJQtCtsZV9qUQwbkyToBNPl6aApt4WDAFNvHsV0yFtM1EI1tGhqMhfFfM<br>
dQqCZBfxsYcTJrxeuYwrQZgn/CNc+T2T1KH0HuMH42WF2A8cR2g+7Ed3BUQDmhcQXMIvILiK<br>
zXfqdF0Xe3EimnoIKU0BcT2gHRtOvHFIOlONBfeedoR1lhfZO6gstgxFzHWLa2VAd3RoGJgK<br>
q3kBvOLCqNjRK7KaJF/1Rx/d+mEE010wjdD7mR+G2CFA8zsvQhJD5sPRSMobEYx7PmsGhJuf<br>
cyPB4cMiihNgAwcJ7q9QCbaIFtJ3Sk72gye8i3PHCA4UJ8NP2Ax0aQikMZhrCrpNyfJcvdl3<br>
P+sfqvAABERhfWxTLNxgszE9Y9bvckitLfkcQ9IE4po/tO1Ec8QDyFQvjnaeXcEJ2KtmXRvX<br>
7SLyFbJU8di2ttyEe4Ze5PG49/NaQ31/QkRTbAkBmjBuGMo1R1YcpXDOWsY2aKaBNa+OO2kj<br>
yzCo5cbEEc0yKEBw3QNyjscxjH37MFhX8hDWKUxrwvKkfQ7XjQSakjp5YdQdTKXT3jSWlJjN<br>
gB98XiGuIf0hU3DFA5HGpEesl/v4SDyHFAALTAn8l6Xi2IbLkraDXKnnBJAtc5eRDURJTDmf<br>
HNrPfNEBbIo7mmdw3IYa+XA2xesYGNADZP3pzaZTfyxZeEiKie32dYAZgae/6I6Zd30KuMXF<br>
D/50Ph1GkT/GP0fBHPIARhjEi34KUftXbv6V12yGRxHSo6zZMoSYb9Pceb5COZIgPY72lBzC<br>
EQk1V8xKQprHtPkx1HKTSBOh2fcjM4FJKVeWzpoUHz1aabzQH4L+EOnv8QlZ1CPoGdIlsYEv<br>
ny3pkSNn/S6dLynrABNcBsRipSqlPCAkFNNbNEoxj0cIxeRyvlKq3/Bmpwdp6EClJo/qx2pk<br>
cjlxaQaPk3pVo09qNclLFlUWRpWOWmVlHzwUSZVXcMFxUXzhXcVQumfNr2pMJsoETyZHORlK<br>
kicoCyRuYnjvvYdTXveTIBzSsxJI5FzA5VMf7hb4/Ki1drwizTvL0Flp5c5krylDRxVrR+UM<br>
HRHvYomeask9aXwCjSogokUXDtLFiW+hGuLKhqC+YjF2XjH9TKKf1OFvrdPT86W6pBD2TpNo<br>
KXV6fXPVvmgu0ymFsHdaydZp/fy1lYWuLqG+vcOqxEcjGZrcO3PdiPWUU+EI6ZESpxHSsbcZ<br>
ZikZ42fan7AxJbHRkS1tGvNRvoXMaVnnMYm8+ySrmEyU2uG/H0HEntJcTWo4Z0kN55PifNK/<br>
K877I3ITQ1T4/bSeFwm65VplvRav0L+FkFR+yNph07XchKhRlmpIhQsFfGEBXyjgCxX8U3c2<br>
EtAwt2Pgyq5eoaxWoMnn5AoVtcK+Xl6NyxXMlM4XRucLtfOF0flC7Xxhjl3pfCEVERdE9M52<br>
sbT+aZ2yXkdBgdap6HX2jSpVuYpUSlVLYMK30DRUWK2yUUtBhtWqGLX2zUpVpZJUfksCnI1h<br>
D5HpOyvQnCfxU6pim6ltE7jcHXe08Bfp8R2sNOHV/JiSpmQvK+tl0+EAF/b79MbuluQdbEP8<br>
HEg9JVfHi40IslfRHWriTuOFeAWqbfHpCD/YY3Cy8cOazbPPbGk2gSe5Uo1AfLmVJzVS4GVj<br>
IDcgmQC1hYWlhYWjhYW1BayPJgozPoTKLiGDZglwQRnIweyo/tnS7IIxEqKROhoLcxwONBbL<br>
obGwo7GwoUE0U0dE2AnewpZuHFIwQRqEiQy3Dyo2VC91dGJrwbvVi7JgpMOYOAkjkVeFXig9<br>
R0y3DeogDMXXwIxyFRybBA0AP1GrSPquVZVKVBCi81pl8oyO1ZK0eK51KvyeG/R76+K0/bvF<br>
+4m6dL9P+EBPWSsruUBxV1/PEXITQneRlFzNOpWabiq9t1JpLcmfm1+bYN9N+5cy7V/Elqtd<br>
fwPGXEXoqxhzbsZOji9MAwapSdayBwvb7aS1r7ekxc4keREWBWQbXdnI016Rya/H2GvhnDSC<br>
H/uIvjRDsKELFQoIPyONkG/05fIddpkLKAoib4R+HM14+SZn2mZ/MuTcd76OKzixFG8nNFyx<br>
KM26owCuY+hjFhfCLHu54oa3HttGpIBZ8kWc9U0cobz70AlNTt8Poy429tKFXYjJigW2QA7O<br>
SNd48bMVb/GKt3NjQOlQGR5/60aQZS/dtnFXSLtpq8mTmXA5DjQUGhIqU6zRPpNF1X44hgMq<br>
rRKwMZNnRiWumfTxK0MKaHPjWAmUUrIO8vi7Jkm9hBWAAppzns/PgmFPSatL24bMhGq1u42r<br>
q/aVNMEyxgg2GnzZEYXLy7AahIAHjcoehSAx5kD2oFLZAtyAezkMuuQdVIKKQUSbcTDu3o6C<br>
3kciXX9b8ZOa28wfWrHIWc+vvb64fn152b66aTgCr4CHR9/odQdJ1oDq+KDvwlBp51E4PvlH<br>
fvpB7/mX7gPtll68qKEnCJVf1MryX/4pIbS39wJXK+/t1XBxaa+8+wTVvjRi8JmBL4HQk8Hs<br>
46zvueullf9DP8B/UISd8M6bTor33nj9fZRLpb29XSf/K1Co8r+6W3vxBJXWj4r5+Tfnf/Hm<br>
FxTzH9XQ5j76DROk/PLly81csfVWKs0Vr39BEG8zJ0HsEJuIIFIfeZsSTOkkhlgkvpBAQZzM<br>
qxY5np+7ufNzxbrc7mh4O/WmCzS8n4xIioQQebTZLT4VHvd6sHF8gVf0DS9c5EWHcLIoN5kG<br>
D0M4U+bRalGArgl2kB5UYFJE6OZuGArQ8C6YjbDP7ZPYOhh+6vcBM280ufN2/pp5o2G0yIXB<br>
IJp7U/8HgPbF4SjeCG7v4ziYj6HPeTD9SCjwr7c7kPpVdJw7ww+D6A6OUrFnBTQEn3SBcAn8<br>
GQcRgS/mipeXQCPRw50XwpEr3PBoFMxhcsfYsE7xwG8xycKDXPHqOreDIMAcIrcDEJ4FEdxE<br>
oAdKoOmtfXQ7jMLnZHmQzxVvpxjicuo/DP059p8w+TgSrOxGbMyP/AfsZ9jqYIdxeD+7l3OZ<br>
YZKMhvfDyO8DUfZKJYRXKVucJrPJJJhCWQ4Xliu0lGPDHBpbRzSKGyKxX3EPAzwI0r4c9hFT<br>
oUHodxxh0vghZlQhp9KO018iIufcfBjdYUrHElIkVH2DvwXTjctp0J/1IjTsH1CM4LOxE3/I<br>
UyJ2G3SsFBss/Wet88Z1rnhziRUKHZ20L85azdPW1dFzanSx9A0UjsOD4fvZ1CPkHODVbVFA<br>
n7fqBBTrjGS3PQLPggoa6gTj1saV2FoY0ObwD7+f3hzaYrTG4ofCRRhhgaR6yZiN+gvMNsAs<br>
8Mi2aZGQpXHxpnXVvoBkIxShOouE2Ki/bnaJFcm1yHFDgcMc6wLs6sKCn/Kr79/O3nOpQv4Y<br>
opHh5QTgl/PHD8NpMAac0YM3HZK0BSwoEtUpCk2lGxRXoRJCjeL7YiHnIRr7IxjAmx4s6X/N<br>
/BBs1GjEGghm0QROOQZwBHIyHY6xfMOBSQj7hqWStB9CCPcZluAHf3oLu9ILSoXN60YDYTe9<br>
vUnM6p87sDOxVcuTwuPXN7+0r3K/ev81W3jojMxBa/U0KcMnXtS7W2ezygfm/93E+V/3/yrV<br>
0u73+f9rfCBkKZP35795H31ibIbjYjAdvt+4no3xjPuAKhXMkoPai4NqFRyDfbB9NqiNs+kQ<br>
nfm3uBIqlQ/K1YNqjXgSuW31A79RrVyovUDkJ0L4/yW9xQcBe7r145NfGxen13AB9daLIBbb<br>
+4E3CHozrHYTbIew+Y78HswXuKyH16NkJ/BP3MxGv1epoaPTk0q5dIT69z3kT0Jc6W6CsAma<br>
BpH/UXypoHvMf/zg6KJxc4SOLlsX+M+fuR/QxmR8j47+8+T4tyM0HfaCOxS+LFX3UDj2JqSr<br>
yLv3phCeeIZnQNzt8fm5jPV/bNmGk0f90YiOFlteWs/r97H5xNMZ4ka4QB6GswE8LI48/Ftu<br>
PZ/PEwZQ+pGZ5x9EP+KWfSNUtEllpVQtVEr7VC6BzORBucwJLWZKGA5u9gAVi2QFNXwuIkbh<br>
ybtSHAUZa8vxpTJCwRQBVZ8hdeJORidbbR2dDFAcHQlzxuDsBEoGSKBRAiDHSzZyWHSIw0Ut<br>
3A2e1sFgVaqoUj6ovjzYLVGDJVs4DqLV3i0dYDlxmrfyy0JlNxYj+FnjQvRXz7uHTSVQDNi4<br>
Az5jQtPVEBLqgb9yBcFfiYr8X88X3z/fP98/3z/fP/8/Pv8Lq6OezwDwAAA=<br>
<p>
----Next_Part(Thu_Mar_18_13:23:54_1999_809)----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0187.html">Christoph Doerbeck A242369: "Does the dtc SCSI adapter work with Linux 2.x?"</a>
<li> <b>Previous message:</b> <a href="0185.html">Marco Foglia: "Linux Driver for Primax Colorado Direct"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
