<!-- received="Tue Mar 23 04:10:12 1999 PST" -->
<!-- sent="Tue, 23 Mar 1999 13:08:48 +0100" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Calibration problem on UMAX Astra 1220S" -->
<!-- id="" -->
<!-- inreplyto="Calibration problem on UMAX Astra 1220S" -->
<title>sane-devel: Re: Calibration problem on UMAX Astra 1220S</title>
<h1>Re: Calibration problem on UMAX Astra 1220S</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 23 Mar 1999 13:08:48 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#221">[ date ]</a><a href="index.html#221">[ thread ]</a><a href="subject.html#221">[ subject ]</a><a href="author.html#221">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">wolfgang Rapp: "Re: xsane-0.18 available"</a>
<li> <b>Previous message:</b> <a href="0220.html">Dean Martin Townsley: "Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Dean Martin Townsley: "Calibration problem on UMAX Astra 1220S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0237.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Dean Martin Townsley wrote:<br>
<p>
<i>&gt; Hi all,</i><br>
<i>&gt;   My problem with the calibration is simple:  I can't get it to perform the</i><br>
<i>&gt; calibration.  I'm using sane 1.00 with the build-1 patch for the umax drivers</i><br>
<i>&gt; and xsane 0.18 for the frontend (tried xscanimage too).</i><br>
<i>&gt;   I stuck a debug message in the code to supplement the messages already</i><br>
<i>&gt; there and found that dev-&gt;do_calibration was zero when the scan process went</i><br>
<i>&gt; through the do_calibration() function even when the box for "Quality</i><br>
<i>&gt; Calibration" was checked in the interface.  The code checks and to me seems</i><br>
<i>&gt; to only perform the calibration if this is nonzero.  I don't know if this is</i><br>
<i>&gt; a problem in the driver itself or somewhere else but both xsane and</i><br>
<i>&gt; xscanimage exhibit the same problem.  That's as far as I got, I have final</i><br>
<i>&gt; exams for the next two days (take homes) so I won't be able to fiddle again</i><br>
<i>&gt; until after that probably, but I figured I'd say something so someone with</i><br>
<i>&gt; better knowledge of the code can maybe investigate.</i><br>
<i>&gt;</i><br>
<i>&gt; oh, btw, /proc/scsi/scsi says</i><br>
<i>&gt; Host: scsi0 Channel: 00 Id: 05 Lun: 00</i><br>
<i>&gt;   Vendor: UMAX     Model: Astra 1220S      Rev: V1.1</i><br>
<i>&gt;   Type:   Scanner                          ANSI SCSI revision: 02</i><br>
<i>&gt;</i><br>
<i>&gt; Which I presume means it's firmware 1.1, (out of a possible 1.5, ugh).</i><br>
<i>&gt;</i><br>
<p>
 Hi Dean,<br>
<p>
like described in the sane-umax-docs the quality calibration does not work with<br>
all scanners!<br>
<p>
What happens or does not happen if you enable quality calibration?<br>
<p>
Background:<br>
There are some problems with calibration by driver. UMAX uses a different<br>
kind of calibration for each scanner model and firmware. I only know the one of<br>
the Umax Supervista S12 with firmware 2.0.<br>
<p>
If you set the quality calibration button, the driver requests a quality<br>
calibration<br>
from the scanner. If the scanner is not able to do the quality calibration on<br>
its own,<br>
it requests the driver to do this. In that case do_calibration is set in the<br>
driver.<br>
Then the scanner sends the calibration data, the driver does the calibration and<br>
<p>
sends back the calibration data.<br>
<p>
If the scanner does not request that the driver has to do the calibration, there<br>
is<br>
nothing what the driver can do.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0222.html">wolfgang Rapp: "Re: xsane-0.18 available"</a>
<li> <b>Previous message:</b> <a href="0220.html">Dean Martin Townsley: "Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0220.html">Dean Martin Townsley: "Calibration problem on UMAX Astra 1220S"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0237.html">Oliver Rauch: "Re: Calibration problem on UMAX Astra 1220S"</a>
<!-- reply="end" -->
</ul>
