<!-- received="Thu Mar 25 22:34:18 1999 PST" -->
<!-- sent="Thu, 25 Mar 1999 20:30:33 +0100" -->
<!-- name="Martin Wagner" -->
<!-- email="wama@usa.net" -->
<!-- subject="Re: SANE 1.00 + Mustek SE6000SP" -->
<!-- id="" -->
<!-- inreplyto="SANE 1.00 + Mustek SE6000SP" -->
<title>sane-devel: Re: SANE 1.00 + Mustek SE6000SP</title>
<h1>Re: SANE 1.00 + Mustek SE6000SP</h1>
<b>Martin Wagner</b> (<a href="mailto:wama@usa.net"><i>wama@usa.net</i></a>)<br>
<i>Thu, 25 Mar 1999 20:30:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#235">[ date ]</a><a href="index.html#235">[ thread ]</a><a href="subject.html#235">[ subject ]</a><a href="author.html#235">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0236.html">Thomas Scheuermann: "Re: SANE 1.00 + Mustek SE6000SP"</a>
<li> <b>Previous message:</b> <a href="0234.html">Dean Martin Townsley: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0229.html">Thomas Scheuermann: "SANE 1.00 + Mustek SE6000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; If I try to scan a small area of a page, the light moves to the starting</i><br>
<i>&gt; point of scanning but for the scanning it doesn't move anymore.</i><br>
<i>&gt; Does anybody know this problem or has this scanner running ?</i><br>
<i>&gt; The scanner is connected to an NCR53C810 SCSI card, not to the card I got</i><br>
<p>
Check which NCR-driver you use.<br>
<p>
There are 2 kerneldrivers for the ncr-controller available<br>
on the 2.2.x kernel. I don´t know exactly, maybe also on kernel 2.0.x.<br>
<p>
If yes, try the bsd-driver!<br>
<p>
<p>
CU Martin<br>
<p>
______________________________________________<br>
<p>
 Please visit my homepage at <a href="http://privat.schlund.de/wama">http://privat.schlund.de/wama</a><br>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0236.html">Thomas Scheuermann: "Re: SANE 1.00 + Mustek SE6000SP"</a>
<li> <b>Previous message:</b> <a href="0234.html">Dean Martin Townsley: "Re: Calibration problem on UMAX Astra 1220S"</a>
<li> <b>Maybe in reply to:</b> <a href="0229.html">Thomas Scheuermann: "SANE 1.00 + Mustek SE6000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
