<!-- received="Tue Mar 30 21:40:13 1999 PST" -->
<!-- sent="Wed, 31 Mar 1999 00:02:42 +0100 (BST)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Linux SCSI generic enhancements" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Linux SCSI generic enhancements</title>
<h1>Linux SCSI generic enhancements</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 31 Mar 1999 00:02:42 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#254">[ date ]</a><a href="index.html#254">[ thread ]</a><a href="subject.html#254">[ subject ]</a><a href="author.html#254">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0255.html">dch: "Re: To Astra 6X0S users!"</a>
<li> <b>Previous message:</b> <a href="0253.html">Oliver Rauch: "To Astra 6X0S users!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've just noticed (those who download-compile-reboot-repeat have presumably<br>
seen this some time ago) that the Alan Cox -ac versions of the Linux kernel<br>
now include the enhanced SG driver described at<br>
<a href="http://www.netwinder.org/~dougg/">http://www.netwinder.org/~dougg/</a><br>
BTW When I looked Douglas had a much better grasp of SCSI than of HTML :(<br>
<p>
In theory this should buy SANE (via its nicely unified SCSI infrastructure)<br>
a better chance of talking to the scanner at all on heavily loaded machines<br>
(where the old sg driver was likely to protest ENOMEM) especially with PCI<br>
Even better, there is no SG_BIG_BUFFER stupidity (!)<br>
<p>
I suspect that for some people this might improve performance too (I have<br>
no bone to pick about SANE SCSI performance, since for me it already beats<br>
existing Windows software)<br>
<p>
The new driver is mostly compatible with the old 2.0.x (and before) driver<br>
and will presumably merge into Linus' 2.2.x in the next few months. So<br>
would anyone who currently has ENOMEM troubles like to try it, and report<br>
back if it helps? I guess the easiest way to try it is to grab 2.2.5-ac1<br>
from Alan Cox's site.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0255.html">dch: "Re: To Astra 6X0S users!"</a>
<li> <b>Previous message:</b> <a href="0253.html">Oliver Rauch: "To Astra 6X0S users!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
