<!-- received="Tue Feb  3 22:03:24 1998 PST" -->
<!-- sent="Wed, 4 Feb 1998 08:04:03 +0200" -->
<!-- name="Rogan Dawes" -->
<!-- email="rogan@interstrat.co.za" -->
<!-- subject="RE: SANE and Sparc" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: SANE and Sparc</title>
<h1>RE: SANE and Sparc</h1>
<b>Rogan Dawes</b> (<a href="mailto:rogan@interstrat.co.za"><i>rogan@interstrat.co.za</i></a>)<br>
<i>Wed, 4 Feb 1998 08:04:03 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#15">[ date ]</a><a href="index.html#15">[ thread ]</a><a href="subject.html#15">[ subject ]</a><a href="author.html#15">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Ricardo Muggli: "Agfa Horizon"</a>
<li> <b>Previous message:</b> <a href="0014.html">mrada: "I give up"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Check the email address that you used in your mail to the microtek<br>
backend developer.  It is hu@garfield, no domain.<br>
<p>
Might explain why you have no response.<br>
<p>
Rogan<br>
<p>
<i>&gt; -----Original Message-----</i><br>
<i>&gt; From:	Martin Huber [SMTP:hu@garfield.m.isar.de]</i><br>
<i>&gt; Sent:	Tuesday, February 03, 1998 11:15 PM</i><br>
<i>&gt; To:	<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Subject:	Re: SANE and Sparc</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; &gt; Date: Thu, 29 Jan 1998 16:49:16 -0600</i><br>
<i>&gt; &gt; From: "D. Cameron Mauch" &lt;<a href="mailto:CameronM@savvis.com">CameronM@savvis.com</a>&gt;</i><br>
<i>&gt; &gt; MIME-Version: 1.0</i><br>
<i>&gt; &gt; To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; &gt; Subject: SANE and Sparc</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Hello.  SANE does not currently work with Sparc.  I have spent a</i><br>
<i>&gt; week working </i><br>
<i>&gt; with many</i><br>
<i>&gt; &gt; different individuals on SANE with the SCG driver.  It appears the</i><br>
<i>&gt; SCG driver </i><br>
<i>&gt; has some</i><br>
<i>&gt; &gt; problems.  See the attached error output for more information.  And</i><br>
<i>&gt; the SG </i><br>
<i>&gt; driver which</i><br>
<i>&gt; &gt; I just purchased does not seem to come with the sgdefs.h file needed</i><br>
<i>&gt; by SANE </i><br>
<i>&gt; to use it.</i><br>
<i>&gt; &gt; Any other ideas?  I have already applied several patches, including</i><br>
<i>&gt; the one to </i><br>
<i>&gt; the file</i><br>
<i>&gt; &gt; include/sane/config.h.in to recognize the SCG and SG drivers.  There</i><br>
<i>&gt; were also </i><br>
<i>&gt; two in the</i><br>
<i>&gt; &gt; sanei/sanei_scsi.c file (on lines 1392 and 1424).  </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; </i><br>
<i>&gt; This is not a problem of the sg drivers.</i><br>
<i>&gt; They call the kernel function scsi_transport, which passes the SCSI</i><br>
<i>&gt; control</i><br>
<i>&gt; block down to the scsi interface and brings back the result.</i><br>
<i>&gt; Evidently this is incompatible with some reserved or vendor-specific</i><br>
<i>&gt; SCSI commands used by some scanners.</i><br>
<i>&gt; HP scanners use none of them, umax do, but the command could be</i><br>
<i>&gt; removed</i><br>
<i>&gt; without any effect, but for microtek I did not succeed in getting rid</i><br>
<i>&gt; of</i><br>
<i>&gt; it.</i><br>
<i>&gt; I sent the attached mail to the microtek backend developer, but got no</i><br>
<i>&gt; </i><br>
<i>&gt; response until now.</i><br>
<i>&gt; I will contact sun if there is a solution. I don't know how to run</i><br>
<i>&gt; microtek</i><br>
<i>&gt; scanners witout a modification in either the backend or the kernel</i><br>
<i>&gt; code</i><br>
<i>&gt; </i><br>
<i>&gt;   --martin &lt;&lt; File: microtek.mail &gt;&gt; </i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0016.html">Ricardo Muggli: "Agfa Horizon"</a>
<li> <b>Previous message:</b> <a href="0014.html">mrada: "I give up"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
