<!-- received="Sat Feb  7 17:24:41 1998 PST" -->
<!-- sent="Sat, 07 Feb 1998 20:23:58 -0500" -->
<!-- name="Peter JD Hall" -->
<!-- email="phall@ilap.com" -->
<!-- subject="Re:aha152x and sg problem" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Re:aha152x and sg problem</title>
<h1>Re:aha152x and sg problem</h1>
<b>Peter JD Hall</b> (<a href="mailto:phall@ilap.com"><i>phall@ilap.com</i></a>)<br>
<i>Sat, 07 Feb 1998 20:23:58 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#31">[ date ]</a><a href="index.html#31">[ thread ]</a><a href="subject.html#31">[ subject ]</a><a href="author.html#31">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">David Mosberger-Tang: "Re: xscanimage, gtk and gamma curves."</a>
<li> <b>Previous message:</b> <a href="0030.html">David Mosberger-Tang: "Re: sane-0.70: net-backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi David,<br>
    Just a short note to let you and the list know that the problem was in the dev  files.  I<br>
remade the sg files and made sure that they were group sys and now find-scanner picks up the<br>
scanner.  I use the scsi generic driver and the aha152x driver as modules in the kernel.  The<br>
card that came with the microtek E3 is recognized at boot and the scanner is assigned sge.<br>
The other scsi devices which are on an NCR 53c810 controller for some reason are given sga to<br>
sgd.  This seems strange as they should be picked up only as cd-rom and hard drives.<br>
    I am going to install  sane-0.70 and the gimp.   Thanks for your help.<br>
Cheers,<br>
Peter Hall<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0032.html">David Mosberger-Tang: "Re: xscanimage, gtk and gamma curves."</a>
<li> <b>Previous message:</b> <a href="0030.html">David Mosberger-Tang: "Re: sane-0.70: net-backend?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
