<!-- received="Sat Feb  7 21:47:20 1998 PST" -->
<!-- sent="Sat, 7 Feb 1998 21:47:17 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: xscanimage, gtk and gamma curves." -->
<!-- id="199802080547.VAA15811@panda.mostang.com" -->
<!-- inreplyto="199801312317.AAA11484@corto.sema.be" -->
<title>sane-devel: Re: xscanimage, gtk and gamma curves.</title>
<h1>Re: xscanimage, gtk and gamma curves.</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 7 Feb 1998 21:47:17 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">David Mosberger-Tang: "Re: Problems with compiling..."</a>
<li> <b>Previous message:</b> <a href="0031.html">Peter JD Hall: "Re:aha152x and sg problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 01 Feb 1998 00:17:58 +0100, Didier Carlier &lt;<a href="mailto:carlierd@acm.org">carlierd@acm.org</a>&gt; said:</i><br>
<p>
  Didier&gt; This a question about the handling of gamma curves with more<br>
  Didier&gt; than 256 entries.<br>
<p>
  Didier&gt; [snip]<br>
<p>
  Didier&gt; However, if I press on the gamma button and enter 1.8 in the<br>
  Didier&gt; pop-up window, I get the following:<br>
<p>
  Didier&gt; [coolscan] 000: 0000 0000 0000 0000 0000 0000 0000 0083<br>
  Didier&gt; [coolscan] 008: 0083 0083 0083 0083 0083 0122 0122 0122<br>
  Didier&gt; [coolscan] 016: 0122 0122 0122 0122 0153 0153 0153 0153 ....<br>
  Didier&gt; [coolscan] 2024 2043 2043 2043 2043 2043 2043 2043 2043<br>
  Didier&gt; [coolscan] 2032 2043 2043 2043 2043 2047 2047 2047 2047<br>
  Didier&gt; [coolscan] 2040 2047 2047 2051 2051 2051 2051 2051 2051<br>
<p>
  Didier&gt; There are 2 problems here: - the curve is not as smooth as<br>
  Didier&gt; it could be, - the last 6 points are outside of the<br>
  Didier&gt; requested range.<br>
<p>
  Didier&gt; I could handle the second problem within the backend code,<br>
  Didier&gt; but the first one is much less obvious.<br>
<p>
  Didier&gt; Am I doing something wrong ? Is this a known<br>
  Didier&gt; problem/limitation ?<br>
<p>
The former is a limitation of the current gtkcurve widget.  The latter<br>
is a problem in gtkcurve that I thought had been fixed a while ago.<br>
If you're using gtk-0.99.x, then the problem obviously hasn't been<br>
(fully) fixed yet.<br>
<p>
The gtkcurve widget is limited to the resolution of the physical<br>
window that is used to display the curve.  So, if you use a window<br>
that's 256x256 pixels big, the resolution is limited to 1/256th as<br>
well.<br>
<p>
In summary, I don't think you're doing anything wrong.  The gtkcurve<br>
widget certainly could/should be improved, however.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">David Mosberger-Tang: "Re: Problems with compiling..."</a>
<li> <b>Previous message:</b> <a href="0031.html">Peter JD Hall: "Re:aha152x and sg problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
