<!-- received="Tue Feb 10 22:22:14 1998 PST" -->
<!-- sent="Tue, 10 Feb 1998 22:22:13 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE on a PPC linux box?" -->
<!-- id="199802110622.WAA26737@panda.mostang.com" -->
<!-- inreplyto="v04003a00b106c80a3a5c@[207.109.244.42]" -->
<title>sane-devel: Re: SANE on a PPC linux box?</title>
<h1>Re: SANE on a PPC linux box?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 10 Feb 1998 22:22:13 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#54">[ date ]</a><a href="index.html#54">[ thread ]</a><a href="subject.html#54">[ subject ]</a><a href="author.html#54">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Andreas Polze: "SANE &amp; NeXTSTEP &amp; Mustek DTC318 adapter"</a>
<li> <b>Previous message:</b> <a href="0053.html">David Mosberger-Tang: "Re: Document storage system?"</a>
<li> <b>In reply to:</b> <a href="0052.html">Harald Sundt: "SANE on a PPC linux box?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 10 Feb 1998 19:18:07 -0800, Harald Sundt &lt;<a href="mailto:hsundt@eugn.uswest.net">hsundt@eugn.uswest.net</a>&gt; said:</i><br>
<p>
  Harald&gt; Being a newbie to Linux I wondered if a binary RPM for ppc<br>
  Harald&gt; is available, or if the "generic" form would work. And I<br>
  Harald&gt; would like to get the binary compiled if possible.<br>
<p>
  Harald&gt; I hope to plug it into the GIMP and get going!<br>
<p>
I know of no ppc RPM at this point.  If you want to rebuild the source<br>
RPM, be advised that you need latex and dlh (dlh can be obtained from<br>
<a href="ftp://ftp.arizona.edu/dlh">ftp://ftp.arizona.edu/dlh</a>).  Also, be sure to build and install GIMP<br>
and GTK _before_ building SANE---otherwise, you won't get the<br>
graphical frontends.<br>
<p>
If you do produce binary RPMs, please let me know about it so I can<br>
put them up for ftp.<br>
<p>
Good luck,<br>
<p>
	--david<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0055.html">Andreas Polze: "SANE &amp; NeXTSTEP &amp; Mustek DTC318 adapter"</a>
<li> <b>Previous message:</b> <a href="0053.html">David Mosberger-Tang: "Re: Document storage system?"</a>
<li> <b>In reply to:</b> <a href="0052.html">Harald Sundt: "SANE on a PPC linux box?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
