<!-- received="Thu Feb 12 01:50:16 1998 PST" -->
<!-- sent="Thu, 12 Feb 1998 11:47:17 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek 1200SP" -->
<!-- id="m0y2wAn-0000WoC@charon.beck-sw.de" -->
<!-- inreplyto="Pine.LNX.3.96.980212013135.561C-100000@akagi.ep" -->
<title>sane-devel: Re: Mustek 1200SP</title>
<h1>Re: Mustek 1200SP</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 12 Feb 1998 11:47:17 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#63">[ date ]</a><a href="index.html#63">[ thread ]</a><a href="subject.html#63">[ subject ]</a><a href="author.html#63">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0062.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; &gt; Wrong colors are usually an indication of wrong color-correction code being </i><br>
<i>&gt; &gt; used. What is the Firmware version of your scanner ?</i><br>
<i>&gt; No idea? How do I find out?</i><br>
<p>
gate:/#% cat /proc/scsi/scsi<br>
Attached devices:<br>
Host: scsi0 Channel: 00 Id: 06 Lun: 00<br>
  Vendor: MUSTEK   Model: MFS-12000SP      Rev: 1.00  &lt;---- look here.<br>
  Type:   Scanner                          ANSI SCSI revision: 01<br>
<p>
However simply have a look at the possible options (man sane-mustek) and <br>
play around with them. Sorry can't give details, as I have installed an <br>
outdated version of SANE (never change a running system ...).<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0064.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0062.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>Reply:</b> <a href="0069.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
