<!-- received="Thu Feb 12 04:51:18 1998 PST" -->
<!-- sent="Thu, 12 Feb 1998 10:08:44 +0100 (MET)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: to all backend-authorscat bin/mailsane" -->
<!-- id="199802120908.KAA01294@cave.BitWizard.nl" -->
<!-- inreplyto="199802111735.SAA00234@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: to all backend-authorscat bin/mailsane</title>
<h1>Re: to all backend-authorscat bin/mailsane</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Thu, 12 Feb 1998 10:08:44 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#65">[ date ]</a><a href="index.html#65">[ thread ]</a><a href="subject.html#65">[ subject ]</a><a href="author.html#65">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Ian Tester: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0064.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>In reply to:</b> <a href="0061.html">Oliver.Rauch@Wolfsburg.DE: "to all backend-authorscat bin/mailsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Oliver.Rauch@wolfsburg.de">Oliver.Rauch@wolfsburg.de</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; Michael Burghart from SuSE asked me for a file in which each</i><br>
<i>&gt; supported scanner is listed. As far as I now there is no</i><br>
<i>&gt; such file and he suggested that he would like to</i><br>
<i>&gt; genereate it and hold it up to date. But for that he needs</i><br>
<i>&gt; the help of every backend-author and of all users.</i><br>
<i>&gt; This file will be included into sane, too!</i><br>
<i>&gt; </i><br>
<i>&gt; So if everyone agrees, I'll say him thats ok and then</i><br>
<i>&gt; we should send him mails about supported and not</i><br>
<i>&gt; or not fully supported scanners.</i><br>
<i>&gt; </i><br>
<i>&gt; His email is: Michael Burghart &lt;<a href="mailto:mb@suse.de">mb@suse.de</a>&gt;</i><br>
<p>
The Tamarack backend supports the<br>
<p>
	Tamarack Artiscan 12000C<br>
<p>
This scanner has also been sold in Germany and The Netherlands by<br>
Escom.  I'm not sure what "model number" they use, but the box says<br>
"Escom power scanner PC".<br>
<p>
I'm not sure wether the 6000C and 8000C models also work. I haven't<br>
had a definitive report yet.<br>
<p>
<p>
				Roger. <br>
<p>
<pre>
-- 
If it's there and you can see it, it's REAL      <a href="mailto:|___R.E.Wolff@BitWizard.nl">|___R.E.Wolff@BitWizard.nl</a>  |
If it's there and you can't see it, it's TRANSPARENT |  Tel: +31-15-2137555  |
If it's not there and you can see it, it's VIRTUAL   |__FAX:_+31-15-2138217  |
If it's not there and you can't see it, it's GONE! -- Roy Wilks, 1983  |_____|
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0066.html">Ian Tester: "Re: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0064.html">Hans Christian Saustrup: "Re: Mustek 1200SP"</a>
<li> <b>In reply to:</b> <a href="0061.html">Oliver.Rauch@Wolfsburg.DE: "to all backend-authorscat bin/mailsane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
