<!-- received="Thu Feb 12 14:06:17 1998 PST" -->
<!-- sent="Thu, 12 Feb 1998 23:11:49 +0100 (CET)" -->
<!-- name="Hans Christian Saustrup" -->
<!-- email="neurox@nisse.dk" -->
<!-- subject="Re: Mustek 1200SP" -->
<!-- id="" -->
<!-- inreplyto="199802122117.NAA04404@panda.mostang.com" -->
<title>sane-devel: Re: Mustek 1200SP</title>
<h1>Re: Mustek 1200SP</h1>
<b>Hans Christian Saustrup</b> (<a href="mailto:neurox@nisse.dk"><i>neurox@nisse.dk</i></a>)<br>
<i>Thu, 12 Feb 1998 23:11:49 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#71">[ date ]</a><a href="index.html#71">[ thread ]</a><a href="subject.html#71">[ subject ]</a><a href="author.html#71">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Yves Huguenin: "RE: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek 1200SP"</a>
<li> <b>In reply to:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 12 Feb 1998, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Is there someone with a Mustek 1200SP scanner that has the infamous color</i><br>
<i>&gt; strip problem AND is willing to give me access to his/her machine AND</i><br>
<i>&gt; has a continuous and reasonably fast Internet connection?</i><br>
<p>
I would love to help, but I'm only connected by cable modem - I'll be<br>
happy to test whatever you're working on, but I can't supply the access.<br>
Sorry.<br>
<p>
<p>
<pre>
---
  Hans Christian Saustrup / Neurox [infinity]
  Linux Wizard Apprentice, net-a-holic and freelance programmer
  PGP key and insulting remarks on request.
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0072.html">Yves Huguenin: "RE: Mustek 1200SP"</a>
<li> <b>Previous message:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek 1200SP"</a>
<li> <b>In reply to:</b> <a href="0070.html">David Mosberger-Tang: "Re: Mustek 1200SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0075.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 1200SP"</a>
<!-- reply="end" -->
</ul>
