<!-- received="Sun Feb 15 14:16:15 1998 PST" -->
<!-- sent="Sun, 15 Feb 1998 15:26:03 -0700" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="SnapScan backend patch 7: partial SnapScan 310 support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SnapScan backend patch 7: partial SnapScan 310 support</title>
<h1>SnapScan backend patch 7: partial SnapScan 310 support</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Sun, 15 Feb 1998 15:26:03 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#91">[ date ]</a><a href="index.html#91">[ thread ]</a><a href="subject.html#91">[ subject ]</a><a href="author.html#91">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Gareth J. Greenaway: "Parallel Support?"</a>
<li> <b>Previous message:</b> <a href="0090.html">David Mosberger-Tang: "please test this patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A new patch for the SnapScan backend is available at<br>
<a href="http://www.cs.ualberta.ca/~charter/snapscan.html">http://www.cs.ualberta.ca/~charter/snapscan.html</a><br>
that fixes some problems with the SnapScan 310. Full colour and Greyscale<br>
scanning is now supported at 300, 150 and 75 dpi; other resolutions still<br>
don't work correctly. Fixes courtesy of Emmanuel Blot.<br>
<p>
We're trying to get recent programming information on the 310 and 600 but<br>
haven't heard anything back yet. In the meantime, your mileage will definitely<br>
vary with these scanner models.<br>
<p>
<pre>
-- 
Kevin Charter                        /\                      Grad Studies
<a href="mailto:charter@cs.ualberta.ca">charter@cs.ualberta.ca</a>            /\/  \  Department of Computing Science
<a href="http://web.cs.ualberta.ca/~charter">http://web.cs.ualberta.ca/~charter</a>  \   --------    University of Alberta
                                     ---------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0092.html">Gareth J. Greenaway: "Parallel Support?"</a>
<li> <b>Previous message:</b> <a href="0090.html">David Mosberger-Tang: "please test this patch"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
