<!-- received="Wed Feb 18 12:27:12 1998 PST" -->
<!-- sent="Wed, 18 Feb 1998 19:00:22 +0100 (MET)" -->
<!-- name="Henk Elbers" -->
<!-- email="henk@humulus.xs4all.nl" -->
<!-- subject="Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup" -->
<!-- id="199802181800.TAA01455@humulus.xs4all.nl" -->
<!-- inreplyto="Pine.LNX.3.96.980215152647.1150A-100000@teq.lerc.nasa.gov" -->
<title>sane-devel: Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup</title>
<h1>Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup</h1>
<b>Henk Elbers</b> (<a href="mailto:henk@humulus.xs4all.nl"><i>henk@humulus.xs4all.nl</i></a>)<br>
<i>Wed, 18 Feb 1998 19:00:22 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#105">[ date ]</a><a href="index.html#105">[ thread ]</a><a href="subject.html#105">[ subject ]</a><a href="author.html#105">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Peter JD Hall: "Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup"</a>
<li> <b>Previous message:</b> <a href="0104.html">Yoshitsugu Matsubara: "Can't Complie "sane-0.70" on NEXTSTEP3.3."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Allen,<br>
<p>
<i>&gt; Hence, I manually edited  /etc/conf.modules to include a line like</i><br>
<i>&gt; </i><br>
<i>&gt; alias scsi_host aha152x aha152x=0x140,9,7</i><br>
<i>&gt; </i><br>
<i>&gt; ( NOTE  ioport=140 HEX   IRQ=9  and  card scsiid=7 )</i><br>
<i>&gt; </i><br>
<i>&gt; ALTERNATIVELY I tried a line like</i><br>
<i>&gt; </i><br>
<i>&gt; alias scsi_host sg</i><br>
<i>&gt; </i><br>
<i>&gt; to no avail. I could not find any syntax hints to tell sg the ioport etc.</i><br>
<p>
My conf.modules contains the following lines:<br>
    alias	scsi_hostadapter aha152x<br>
    alias	block-major-8	aha152x<br>
    pre-install	sd		insmod -k aha152x<br>
    pre-install	sg		insmod -k aha152x<br>
    pre-install	aha152x		insmod -k sd_mod<br>
    pre-install	sd_mod		insmod -k scsi_mod<br>
    options	aha152x		0x340,9<br>
With these lines it all used to work. At the moment I'm using a kernel<br>
with all the relevant stuff build in.<br>
<p>
Henk.<br>
<pre>
-- 
--------------------------------------------------------------------------------
Henk Elbers                  <a href="mailto:henk@humulus.xs4all.nl">henk@humulus.xs4all.nl</a>                 Linux 2.0.33
--------------------------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0106.html">Peter JD Hall: "Re: HELP: RedHat 5.0 and AHA1502AE SCSI adapter for Microtek E6 scanner setup"</a>
<li> <b>Previous message:</b> <a href="0104.html">Yoshitsugu Matsubara: "Can't Complie "sane-0.70" on NEXTSTEP3.3."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
