<!-- received="Fri Feb 20 11:18:39 1998 PST" -->
<!-- sent="Fri, 20 Feb 1998 19:15:51 -0000" -->
<!-- name="Miguel Casteleiro" -->
<!-- email="jmc@trabi.inesc.pt" -->
<!-- subject="Mustek Paragon 1200 A3 PRO" -->
<!-- id="01BD3E33.F66C7880@lagarto.mind.pt" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek Paragon 1200 A3 PRO</title>
<h1>Mustek Paragon 1200 A3 PRO</h1>
<b>Miguel Casteleiro</b> (<a href="mailto:jmc@trabi.inesc.pt"><i>jmc@trabi.inesc.pt</i></a>)<br>
<i>Fri, 20 Feb 1998 19:15:51 -0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">David Skoll: "Linux 2.0.33 and Sane 0.70"</a>
<li> <b>Previous message:</b> <a href="0115.html">Rogier Wolff: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0147.html">David Mosberger-Tang: "Re: Mustek Paragon 1200 A3 PRO"</a>
<li> <b>Reply:</b> <a href="0147.html">David Mosberger-Tang: "Re: Mustek Paragon 1200 A3 PRO"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there a driver for this scanner?<br>
Anyone know the SCSI protocol for this scanner.<br>
<p>
Thank You!<br>
<p>
<pre>
--
Miguel Casteleiro
<a href="mailto:jmc@trabi.inesc.pt">jmc@trabi.inesc.pt</a>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">David Skoll: "Linux 2.0.33 and Sane 0.70"</a>
<li> <b>Previous message:</b> <a href="0115.html">Rogier Wolff: "Re: Umax Astra 6x0S - CCD distance - Do they *really* do this that way"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0147.html">David Mosberger-Tang: "Re: Mustek Paragon 1200 A3 PRO"</a>
<li> <b>Reply:</b> <a href="0147.html">David Mosberger-Tang: "Re: Mustek Paragon 1200 A3 PRO"</a>
<!-- reply="end" -->
</ul>
