<!-- received="Mon Feb 23 13:05:01 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 18:36:37 +0000" -->
<!-- name="Jonathan Buzzard" -->
<!-- email="jab@hex.prestel.co.uk" -->
<!-- subject="Re: Parallel Support" -->
<!-- id="m0y72k2-0002fAC@hex" -->
<!-- inreplyto="Parallel Support" -->
<title>sane-devel: Re: Parallel Support</title>
<h1>Re: Parallel Support</h1>
<b>Jonathan Buzzard</b> (<a href="mailto:jab@hex.prestel.co.uk"><i>jab@hex.prestel.co.uk</i></a>)<br>
<i>Mon, 23 Feb 1998 18:36:37 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Oliver.Rauch@Wolfsburg.DE: "Re: Parallel driver for umax under linux"</a>
<li> <b>Previous message:</b> <a href="0138.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0125.html">Gareth J. Greenaway: "Parallel Support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Norm Peterson: "Re: Parallel Support"</a>
<li> <b>Reply:</b> <a href="0141.html">Norm Peterson: "Re: Parallel Support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:m075@ins.uni-stuttgart.de">m075@ins.uni-stuttgart.de</a> said:<br>
<i>&gt; In worst case, you have to wait until Wine is able to emulate Windows </i><br>
<i>&gt; naintifaif (95) and to monitor all port I/O so that we know how to </i><br>
<i>&gt; get in contact with the mysterious hardware.</i><br>
<i>&gt; </i><br>
<p>
If you have a Windows 3.1 driver then Wine can be made to do just this. More<br>
to the point I have developed a patch for exactly this purpose. It works<br>
fine, though log files from scans are huge, a full A4 scan log file would<br>
probably be in the region of 1Gb.<br>
<p>
I intend to submit a patch for hopefull inclusion in a future version of<br>
Wine.<br>
<p>
<p>
JAB.<br>
<p>
<p>
<pre>
-- 
Jonathan A. Buzzard                 Email: <a href="mailto:jab@hex.prestel.co.uk">jab@hex.prestel.co.uk</a>
Northumberland, United Kingdom.       Tel: +44(0)1661-832195
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">Oliver.Rauch@Wolfsburg.DE: "Re: Parallel driver for umax under linux"</a>
<li> <b>Previous message:</b> <a href="0138.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Maybe in reply to:</b> <a href="0125.html">Gareth J. Greenaway: "Parallel Support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0141.html">Norm Peterson: "Re: Parallel Support"</a>
<li> <b>Reply:</b> <a href="0141.html">Norm Peterson: "Re: Parallel Support"</a>
<!-- reply="end" -->
</ul>
