<!-- received="Mon Feb 23 20:06:09 1998 PST" -->
<!-- sent="Mon, 23 Feb 1998 20:06:07 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: microtek E6/xscanimage problems" -->
<!-- id="199802240406.UAA00322@panda.mostang.com" -->
<!-- inreplyto="199802191514.KAA17622@evans.raleigh.ibm.com" -->
<title>sane-devel: Re: microtek E6/xscanimage problems</title>
<h1>Re: microtek E6/xscanimage problems</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 23 Feb 1998 20:06:07 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">David Mosberger-Tang: "Re: Mustek Paragon 1200 A3 PRO"</a>
<li> <b>Previous message:</b> <a href="0145.html">David Mosberger-Tang: "Re: color mode on 600S locks up my SCSI bus"</a>
<li> <b>In reply to:</b> <a href="0109.html">Tom Evans: "microtek E6/xscanimage problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 19 Feb 1998 10:14:16 -0500 (EST), Tom Evans &lt;<a href="mailto:tjevans@evans.raleigh.ibm.com">tjevans@evans.raleigh.ibm.com</a>&gt; said:</i><br>
<p>
  Tom&gt; I have a microtek scanner, E6, tried latest sane after reading<br>
  Tom&gt; Linux journal article.  The scanning starts the calibration,<br>
  Tom&gt; gives no obivious errors, output is:<br>
<p>
  Tom&gt; P6<br>
  Tom&gt; # SANE data follows<br>
  Tom&gt; 2 0<br>
  Tom&gt; 255<br>
<p>
This is the beginning of the scanned image.  Note that scanimage<br>
procduces the image on standard output, so it's normally necessary to<br>
redirect its output into a file.  Something like this:<br>
<p>
	 scanimage &gt;out.pnm<br>
<p>
Are you saying that nothing happens after the PNM header appears?  If<br>
so, the microtek backend may have a problem talking to your scanner.<br>
To get more info, set environment variable SANE_DEBUG_MICROTEK to 256,<br>
then invoke scanimage.  This should make debugging easier.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">David Mosberger-Tang: "Re: Mustek Paragon 1200 A3 PRO"</a>
<li> <b>Previous message:</b> <a href="0145.html">David Mosberger-Tang: "Re: color mode on 600S locks up my SCSI bus"</a>
<li> <b>In reply to:</b> <a href="0109.html">Tom Evans: "microtek E6/xscanimage problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
