<!-- received="Tue Feb 24 06:34:22 1998 PST" -->
<!-- sent="Tue, 24 Feb 1998 09:34:05 -0500" -->
<!-- name="Brian Knox" -->
<!-- email="BKnox@MARKELCORP.COM" -->
<!-- subject="Looking for Advice/Help with Project..." -->
<!-- id="s4f2941c.098@MARKELCORP.COM" -->
<!-- inreplyto="" -->
<title>sane-devel: Looking for Advice/Help with Project...</title>
<h1>Looking for Advice/Help with Project...</h1>
<b>Brian Knox</b> (<a href="mailto:BKnox@MARKELCORP.COM"><i>BKnox@MARKELCORP.COM</i></a>)<br>
<i>Tue, 24 Feb 1998 09:34:05 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Tom Evans: "Re: microtek E6 problems"</a>
<li> <b>Previous message:</b> <a href="0151.html">David Mosberger-Tang: "sane-0.71 available now"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">David Mosberger-Tang: "Re: Looking for Advice/Help with Project..."</a>
<li> <b>Reply:</b> <a href="0166.html">David Mosberger-Tang: "Re: Looking for Advice/Help with Project..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi. My name is Brian Knox, and I'm a Network Engineer by day, Linux maniac by night. A friend and I are working on designing a system for live web broadcast that would run entirely on Linux.<br>
<p>
In the course of our research we now have the potential to make something happen that could be very big for the Linux community.  My friend is a broadcast engineer who does a lot of systems integration. We have most of our system desgined, except for actually capturing the video data.  Right now we would have to do this under NT.<br>
<p>
My friend (Dale Russell, <a href="mailto:russelld@whitlock.com">russelld@whitlock.com</a>)  is in close contact with fast multimedia, a company which makes nonlinear editing systems for PCs. He has been pushing them for a linux port of their drivers for awhile.  They have recently told him that if we can find some "reputable" (their words) people to write the drivers, they would release the hardware specifications. (To see what they make, check out www.fastmultimedia.com).<br>
<p>
Anyway, neither Dale nor I are programmers, so we're looking for a group that could handle this and would be interested. We know we can make this happen. I've talked to Daryll Straus at Digital Domain, and he said he would be very interested in seeing this come together as he has been looking at Fast's equipment for awhile, but he doesn't have the time to work on it.<br>
<p>
I'm contacting you because I felt the sane project was working on things that were probably the most closely related to this sort of equipment.  I thought someone there might be capable of handling this, or would be in contact with someone who could. Perhaps it could all be integrated with SANE?<br>
<p>
I would appreciate it if you would not contact FAST about anything at the moment. They are a little touchy about releasing their specs, so we're handling them with kid gloves in order to not scare them off.  Dale is handling all contact with them, as they know him and he works with their equipment a great deal.<br>
<p>
If your group can handle this or know someone who can, then we'll talk to FAST and see if they'll still do it.  At that point we'll see what we can do about getting some actually hardware for the developer(s) to work with.<br>
<p>
If we can get the drivers ported, I'm sure there are people who would love to write apps to use them (video capture/editing in the GIMP, anyone?).  Plus, if we can get the drivers ported and prove their is a Linux market, and had Digital Domain backing us up some, we could potentially get adobe to port Premiere.<br>
<p>
Let me know what you think.<br>
<p>
Brian Knox<br>
<a href="mailto:bknox@markelcorp.com">bknox@markelcorp.com</a><br>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Tom Evans: "Re: microtek E6 problems"</a>
<li> <b>Previous message:</b> <a href="0151.html">David Mosberger-Tang: "sane-0.71 available now"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">David Mosberger-Tang: "Re: Looking for Advice/Help with Project..."</a>
<li> <b>Reply:</b> <a href="0166.html">David Mosberger-Tang: "Re: Looking for Advice/Help with Project..."</a>
<!-- reply="end" -->
</ul>
