<!-- received="Wed Feb 25 03:25:10 1998 PST" -->
<!-- sent="Wed, 25 Feb 1998 03:23:14 -0800 (PST)" -->
<!-- name="Donald Burr" -->
<!-- email="dburr@POBoxes.com" -->
<!-- subject="Is this scanner supported?  More info please!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Is this scanner supported?  More info please!</title>
<h1>Is this scanner supported?  More info please!</h1>
<b>Donald Burr</b> (<a href="mailto:dburr@POBoxes.com"><i>dburr@POBoxes.com</i></a>)<br>
<i>Wed, 25 Feb 1998 03:23:14 -0800 (PST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Kiran R. Ambardekar: "Request for Information"</a>
<li> <b>Previous message:</b> <a href="0167.html">David Mosberger-Tang: "Re: Heretical TWAIN/Win95 Question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
-----BEGIN PGP SIGNED MESSAGE-----<br>
<p>
Hi there.  I found your SANE program while browsing the web, and it sounds<br>
very interesting.  I have a mcachine that runs Linux and another that runs<br>
FreeBSD.  Both of them have scanners attached to them.  It would be nice<br>
to be able to use the scanners without having to reboot into Windows95.<br>
Your SANE program looks like it will fit the bill nicely.  The only<br>
problem is that I can't seem to find a driver to fit my scanner.<br>
<p>
It's a "Simplex Scanner DP30M" and is made by "CompEye Corporation".  They<br>
have a web site, <a href="http://www.compeye.com.tw/">http://www.compeye.com.tw/</a>, but it doesn't have much<br>
information other than the basic product spec's (although they do have an<br>
e-mail address).  It uses the parallel port as the interface.<br>
<p>
(Oh yeah, my OS is FreeBSD, although I do have Linux available to<br>
me as well, if that will help.)<br>
<p>
Does anyone know about this scanner, and more specifically, if it can be<br>
gotten to work with SANE?  (perhaps it uses a protocol that is compatible<br>
with some other scanner that's already supported)  Or, perhaps the company<br>
can release programming information so that a driver may be written?<br>
<p>
I thank you in advance for any assistance that you can offer. <br>
- ---<br>
Donald Burr &lt;<a href="mailto:dburr@POBoxes.com">dburr@POBoxes.com</a>&gt; - Ask me for my PGP key | PGP: Your<br>
WWW HomePage: <a href="http://DonaldBurr.base.org/">http://DonaldBurr.base.org/</a>  ICQ #1347455 | right to<br>
Address: P.O. Box 91212, Santa Barbara, CA 93190-1212   | 'Net privacy.<br>
Phone: (805) 957-9666    FAX: (800) 492-5954            | USE IT.<br>
-----BEGIN PGP SIGNATURE-----<br>
Version: 2.6.2<br>
<p>
iQCVAwUBNPP/gvjpixuAwagxAQGQzwP+IdSLSnMiy7Vm6wy8Et3slHBuANtzZoSD<br>
jR36+SnkkdwciO3PA8ge1QeWbs3qTLwQS/fAs3L7BhSb8nxseaZngdS2w80I1lFg<br>
BoVhBiiKKTxaUlKomlGniXUJaTsLSYqnVuvxWA1mJciYJCGOR4GdvWJzKhr2Kl9A<br>
yirexEx1Em8=<br>
=Qy6G<br>
-----END PGP SIGNATURE-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Kiran R. Ambardekar: "Request for Information"</a>
<li> <b>Previous message:</b> <a href="0167.html">David Mosberger-Tang: "Re: Heretical TWAIN/Win95 Question..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
