<!-- received="Sat Feb 28 01:25:25 1998 PST" -->
<!-- sent="28 Feb 1998 01:24:38 -0800" -->
<!-- name="Kevin Dalley" -->
<!-- email="kevind@rahul.net" -->
<!-- subject="Problems with sane-0.71 and gimp 0.99.18" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems with sane-0.71 and gimp 0.99.18</title>
<h1>Problems with sane-0.71 and gimp 0.99.18</h1>
<b>Kevin Dalley</b> (<a href="mailto:kevind@rahul.net"><i>kevind@rahul.net</i></a>)<br>
<i>28 Feb 1998 01:24:38 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#190">[ date ]</a><a href="index.html#190">[ thread ]</a><a href="subject.html#190">[ subject ]</a><a href="author.html#190">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: Problems with sane-0.71 and gimp 0.99.18"</a>
<li> <b>Previous message:</b> <a href="0189.html">Kaz Sasayama: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
When I installed a newly compiled sane-0.71 and started gimp, I<br>
received the message below and gimp could not access xscanimage.<br>
However, I could still run xscanimage directly and access my scanner,<br>
which is a UMAX 1200S, by the way.<br>
<p>
When I went back to sane-0.70, gimp could access sane again.  Does<br>
anyone know the solution to this problem.<br>
<p>
query plug-in: "/usr/lib/gimp/0.99/plug-ins/xscanimage"<br>
/usr/lib/gimp/0.99/plug-ins/xscanimage: invalid option -- g<br>
Usage: xscanimage [OPTION]... [DEVICE]<br>
<p>
Start up graphical user interface to access SANE (Scanner Access Now<br>
Easy) devices.<br>
<p>
-h, --help                 display this help message and exit<br>
-V, --version              print version information<br>
wire_read: unexpected EOF<br>
writing "/home/kevin/.gimp/pluginrc"<br>
Starting extensions: extension_script_fu <br>
<p>
<p>
<pre>
-- 
Kevin Dalley
<a href="mailto:kevind@rahul.net">kevind@rahul.net</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0191.html">=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=: "Re: Problems with sane-0.71 and gimp 0.99.18"</a>
<li> <b>Previous message:</b> <a href="0189.html">Kaz Sasayama: "Re: Epson GT8000 (was Re: Epson GT-5500)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
