<!-- received="Sun May  2 15:35:43 1999 PDT" -->
<!-- sent="Mon, 3 May 1999 00:35:52 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: May sane_init fail?" -->
<!-- id="199905022235.AAA30375@lee.Cc.Uit.No" -->
<!-- inreplyto="May sane_init fail?" -->
<title>sane-devel: Re: May sane_init fail?</title>
<h1>Re: May sane_init fail?</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Mon, 3 May 1999 00:35:52 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Petter Reinholdtsen: "Re: AGFA Arcus II"</a>
<li> <b>Previous message:</b> <a href="0011.html">Bernd Schroeder: "Patch for Microtek V6USL"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0015.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<li> <b>Reply:</b> <a href="0015.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; What's the suggested return values for a backend/SANE version</i><br>
<i>&gt; mismatch?  I'm currently using SANE_STATUS_UNSUPPORTED (seems</i><br>
<i>&gt; logical), but SANE_STATUS_INVAL could be used too.</i><br>
<p>
Eh, the version_code parameter is supposed to be used to report the<br>
backends version code, right?<br>
<p>
The backend should not check the version present in the buffer, it<br>
should store it's own version into the buffer.<br>
<p>
If a frontend calls multiple backends using the same buffer, one<br>
backends might get confused if the previous gave a different version<br>
number.<br>
<p>
<i>&gt; BTW, it seems that almost no backend checks the version number, and</i><br>
<i>&gt; most backends distributed with 1.0.x are listed as version</i><br>
<i>&gt; 0.something in the "supported scanners" webpage - not good.</i><br>
<p>
The backend version number is unrelated to the sane distribution<br>
version number.<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen &lt;##    | <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
 O-  &lt;SCRIPT Language="Javascript"&gt;window.close()&lt;/SCRIPT&gt;
<a href="http://www.hungry.com/~pere/">http://www.hungry.com/~pere/</a>    | Go Mozilla, go! Go!
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Petter Reinholdtsen: "Re: AGFA Arcus II"</a>
<li> <b>Previous message:</b> <a href="0011.html">Bernd Schroeder: "Patch for Microtek V6USL"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0015.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<li> <b>Reply:</b> <a href="0015.html">Ingo Wilken: "Re: May sane_init fail?"</a>
<!-- reply="end" -->
</ul>
