<!-- received="Mon May  3 09:24:09 1999 PDT" -->
<!-- sent="Mon, 3 May 1999 11:09:14 -0500 (CDT)" -->
<!-- name="Roy-Anders Larsen" -->
<!-- email="royal@bellsouth.net" -->
<!-- subject="Re: Q: which parallel scanner supported" -->
<!-- id="08" -->
<!-- inreplyto="Pine.LNX.3.96.990430124919.7535C-100000@bakh.bellsouth.net" -->
<title>sane-devel: Re: Q: which parallel scanner supported</title>
<h1>Re: Q: which parallel scanner supported</h1>
<b>Roy-Anders Larsen</b> (<a href="mailto:royal@bellsouth.net"><i>royal@bellsouth.net</i></a>)<br>
<i>Mon, 3 May 1999 11:09:14 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#24">[ date ]</a><a href="index.html#24">[ thread ]</a><a href="subject.html#24">[ subject ]</a><a href="author.html#24">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Rainer Krienke: "Re: SEGFAULT with sane 1.0.1"</a>
<li> <b>Next message:</b> <a href="0025.html">gmp@superlink.net: "Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Next message:</b> <a href="0025.html">Mr Mystic: "Scanner support for Mustec 600 CP paralell scanner."</a>
<li> <b>Previous message:</b> <a href="0023.html">Oliver Rauch: "Re: xsane default sizes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I know it's weird to reply to yourself, but I found the answers I was<br>
looking for on:<br>
<p>
<a href="http://www2.prestel.co.uk/hex/scanners.html">http://www2.prestel.co.uk/hex/scanners.html</a><br>
<p>
<p>
-Roy<br>
<p>
<p>
On Fri, 30 Apr 1999, Roy-Anders Larsen wrote:<br>
<p>
<i>&gt; Is there a supported/partially supported parallel port scanner ?</i><br>
<p>
<p>
<p>
#### Unsolicited commercial email with be billed at $350/message ####<br>
Roy Larsen, <a href="mailto:royal@nospam.bellsouth.net">royal@nospam.bellsouth.net</a><br>
To send me an email remove the `nospam.' part from the address.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0025.html">Rainer Krienke: "Re: SEGFAULT with sane 1.0.1"</a>
<li> <b>Next message:</b> <a href="0025.html">gmp@superlink.net: "Acer Prisa 620S now working with SANE-1.01"</a>
<li> <b>Next message:</b> <a href="0025.html">Mr Mystic: "Scanner support for Mustec 600 CP paralell scanner."</a>
<li> <b>Previous message:</b> <a href="0023.html">Oliver Rauch: "Re: xsane default sizes"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
