<!-- received="Sun May  9 20:44:32 1999 PDT" -->
<!-- sent="Sun, 9 May 1999 20:43:05 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="[Announce] WinSANE 0.1.0.0 Release" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: [Announce] WinSANE 0.1.0.0 Release</title>
<h1>[Announce] WinSANE 0.1.0.0 Release</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Sun, 9 May 1999 20:43:05 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#70">[ date ]</a><a href="index.html#70">[ thread ]</a><a href="subject.html#70">[ subject ]</a><a href="author.html#70">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0069.html">Dean@Home: "saned troubles"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0072.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0074.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0091.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0104.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0106.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0108.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0113.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0124.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
This release (<a href="http://www.sunshinecomputing.com/winsane/">http://www.sunshinecomputing.com/winsane/</a>) hopefully addresses<br>
all the major problems that I was made aware of. I apologize for the lack of<br>
UI niceties (feedback, save/restore parameters, no direct image saving, etc)<br>
but I hate GUIs and functionality is always first on my list. The next<br>
release will try to address some of the UI issues.<br>
<p>
Things I really could use help/info on:<br>
- Why endian matters when do the actual scan. From everything I can tell the<br>
scan data is all byte oriented so endianess doesn't matter.<br>
- TWAIN DLL... I know almost nothing about TWAIN and nothing about<br>
implementing a TWAIN DLL. I don't have the time to really figure it out<br>
either so without help it will never progress to be a TWAIN DLL.<br>
<p>
The code requires:<br>
- Borland C++ 5.x (probably works fine with other Win32 compilers, but the<br>
YSLs (<a href="http://www.ysl.org">http://www.ysl.org</a>) will need some minor porting... shoot with a<br>
little effort it will probably work with the latest EGCS compiler out of CVS<br>
under Linux)<br>
- wxWindows (need code straight out of CVS... web address is listed at the<br>
winsane webpage)<br>
- YSL release 0.3.0<br>
<p>
Brian Macy<br>
<p>
------------------------------------------------------------------------<br>
<p>
0.1.0.0<br>
winsane-0.1.0.0.zip<br>
winsane.src-0.1.0.0.zip<br>
May 9 1999<br>
<p>
Adds support for LineArt, HalfTone, and GrayScale<br>
Allows selecting of device on remote host<br>
Allows selecting of Scan Mode<br>
Source code implements get/set/autoset of parameters<br>
Requires latest wxWindow CVS code to build<br>
Requires YSL Release 0.3.0 to build<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0071.html">Nick Lamb: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0069.html">Dean@Home: "saned troubles"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0072.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0074.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0091.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0104.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0106.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0108.html">Matthias Fleischer: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0113.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Reply:</b> <a href="0124.html">Milon Firikis: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- reply="end" -->
</ul>
