<!-- received="Mon May 10 09:27:23 1999 PDT" -->
<!-- sent="Mon, 10 May 1999 10:26:50 -0600 (MDT)" -->
<!-- name="Rick Macdonald" -->
<!-- email="rickm@vsl.com" -->
<!-- subject="Low versus medium priced scanners" -->
<!-- id="Pine.GSO.4.10.9905101007520.12018-100000@sys4" -->
<!-- inreplyto="" -->
<title>sane-devel: Low versus medium priced scanners</title>
<h1>Low versus medium priced scanners</h1>
<b>Rick Macdonald</b> (<a href="mailto:rickm@vsl.com"><i>rickm@vsl.com</i></a>)<br>
<i>Mon, 10 May 1999 10:26:50 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0074.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">Peter Kirchgessner: "Re: Low versus medium priced scanners"</a>
<li> <b>Reply:</b> <a href="0077.html">Peter Kirchgessner: "Re: Low versus medium priced scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
It's seems that I'm currently best off getting a SCSI based scanner, but I<br>
have a genereal question first.<br>
<p>
When comparing a cheap scanner (under $100) such as the Plustek 96xx<br>
series with a medium price scanner such as the so-called business-class HP<br>
5200c, I can't tell what claims are due to the scanner hardware itself, or<br>
simply the bundled software. Obviously, the bundled software does a Linux<br>
user little good.<br>
<p>
The HP has color correction, snap-to colors for areas of what should be<br>
solid color, recognizes black and white line art and vectorizes it for<br>
smooth scaling, etc. This _sounds_ all like software features to me, but<br>
their wording in the specs implies that it's hardware, and I'm wondering<br>
if the hardware itself is really much different beyond the optical DPI<br>
resolution.<br>
<p>
...RickM...<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Ewald R. de Wit: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<li> <b>Previous message:</b> <a href="0074.html">Brian Macy: "Re: [Announce] WinSANE 0.1.0.0 Release"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0077.html">Peter Kirchgessner: "Re: Low versus medium priced scanners"</a>
<li> <b>Reply:</b> <a href="0077.html">Peter Kirchgessner: "Re: Low versus medium priced scanners"</a>
<!-- reply="end" -->
</ul>
