<!-- received="Tue May 11 13:36:48 1999 PDT" -->
<!-- sent="Tue, 11 May 1999 21:29:21 +0100 (GMT)" -->
<!-- name="Tim Waugh" -->
<!-- email="tim@cyberelk.demon.co.uk" -->
<!-- subject="Re: xscanimage spins when scan cancelled" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.05.9904150856520.1278-100000@cyberelk.elk.co.uk" -->
<title>sane-devel: Re: xscanimage spins when scan cancelled</title>
<h1>Re: xscanimage spins when scan cancelled</h1>
<b>Tim Waugh</b> (<a href="mailto:tim@cyberelk.demon.co.uk"><i>tim@cyberelk.demon.co.uk</i></a>)<br>
<i>Tue, 11 May 1999 21:29:21 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#101">[ date ]</a><a href="index.html#101">[ thread ]</a><a href="subject.html#101">[ subject ]</a><a href="author.html#101">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">David Fox: "Re: nikon ls30"</a>
<li> <b>Previous message:</b> <a href="0100.html">Raymond A. Ingles: "Re: re Mustek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 15 Apr 1999, Tim Waugh wrote:<br>
<p>
<i>&gt; On Thu, 15 Apr 1999, Graham Stoney wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; I tried upgrading libg and libgtk to 1.2.1, but with no improvement.</i><br>
<i>&gt; &gt; Short of continuing to tear my remaining hair out or embarking on a</i><br>
<i>&gt; &gt; multi-year course of study in the finer points of gtk, does anyone</i><br>
<i>&gt; &gt; have any suggestions as to what might be causing this? I'm on a Red</i><br>
<i>&gt; &gt; Hat 5.1 Linux system with sane 1.0.1-pre4.</i><br>
<i>&gt; </i><br>
<i>&gt; I've seen xscanimage do this too.  I tried attaching gdb to it and did a</i><br>
<i>&gt; backtrace (I'd compiled with symbols still in), but I think I forgot to</i><br>
<i>&gt; mention to gdb where to find the image (although can't it work it out?).</i><br>
<i>&gt; Anyhow, I just got a load of question marks, and I haven't chased it</i><br>
<i>&gt; further yet.</i><br>
<p>
I'm replying to myself, but it's because I managed to get a backtrace out<br>
of xscanimage when it got into this state. (I'd forgotten to tell gdb<br>
where to find the symbols previously..) It seems to be stuck in glib; the<br>
trace looks like this:<br>
<p>
g_main_iterate<br>
g_main_run<br>
gtk_main<br>
<p>
It looks like normal operation though.  The progress bar is usually at<br>
100% (although not always), and I'm using a recent 2.2 kernel, i.e. the<br>
newer sg driver.<br>
<p>
Does anyone want to give me a clue about debugging it?  I don't really<br>
know what gtk applications are supposed to look like when running.<br>
<p>
Tim.<br>
*/<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0102.html">David Fox: "Re: nikon ls30"</a>
<li> <b>Previous message:</b> <a href="0100.html">Raymond A. Ingles: "Re: re Mustek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
