<!-- received="Thu May 13 17:12:49 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 00:16:09 +0000" -->
<!-- name="Chris Bitmead" -->
<!-- email="chris.bitmead@bigfoot.com" -->
<!-- subject="Re: Coolscan LS-30 + best scanner" -->
<!-- id="" -->
<!-- inreplyto="Coolscan LS-30 + best scanner" -->
<title>sane-devel: Re: Coolscan LS-30 + best scanner</title>
<h1>Re: Coolscan LS-30 + best scanner</h1>
<b>Chris Bitmead</b> (<a href="mailto:chris.bitmead@bigfoot.com"><i>chris.bitmead@bigfoot.com</i></a>)<br>
<i>Fri, 14 May 1999 00:16:09 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#126">[ date ]</a><a href="index.html#126">[ thread ]</a><a href="subject.html#126">[ subject ]</a><a href="author.html#126">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Previous message:</b> <a href="0125.html">John Stoffel: "preview window feature request"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Reply:</b> <a href="0127.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Can anyone get me the Coolscan III specs? I just have no idea how hard a<br>
project this might be, and I've got no idea how to go about getting the<br>
specs.<br>
<p>
<p>
"Ewald R. de Wit" wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; &gt; The best thing would be for you to get the Nikon LS30 and write</i><br>
<i>&gt; &gt; &gt; the driver for it!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; How hard would that be? Do Nikon release specs? I would consider doing</i><br>
<i>&gt; &gt; it if it's not going to be some project that makes me tear my hair out.</i><br>
<i>&gt; </i><br>
<i>&gt; I believe Nikon releases the specs with no problems but I'm not sure.</i><br>
<i>&gt; About how hard it is, I don't know. There is already a functioning</i><br>
<i>&gt; Nikon backend and chances are that things need not be changed too</i><br>
<i>&gt; much. Perhaps Didier Carlier knows more about this?</i><br>
<i>&gt; </i><br>
<i>&gt; I don't know how much time you have but it sounds like a fun project</i><br>
<i>&gt; to me, especially with the extra infrared channel and stuff.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; The Photosmart S20 or the regular Photosmart. The S20 is better isn't</i><br>
<i>&gt; &gt; it?</i><br>
<i>&gt; </i><br>
<i>&gt; The new S20 is a USB scanner and as such it does not work at all under</i><br>
<i>&gt; SANE. It's supposedly better (albeit slower) than the old model but</i><br>
<i>&gt; don't let the '12 bit' predicate fool you - the dynamic range is about</i><br>
<i>&gt; the same as the old model.</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt;   --  Ewald</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0127.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Previous message:</b> <a href="0125.html">John Stoffel: "preview window feature request"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0127.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Reply:</b> <a href="0127.html">David Fox: "Re: Coolscan LS-30 + best scanner"</a>
<!-- reply="end" -->
</ul>
