<!-- received="Fri May 14 10:45:02 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 11:46:41 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: preview window feature request" -->
<!-- id="199905141746.LAA06836@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="199905140011.KAA03168@sid.research.canon.com.au" -->
<title>sane-devel: Re: preview window feature request</title>
<h1>Re: preview window feature request</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Fri, 14 May 1999 11:46:41 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#139">[ date ]</a><a href="index.html#139">[ thread ]</a><a href="subject.html#139">[ subject ]</a><a href="author.html#139">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">John Stoffel: "Re: preview window feature request"</a>
<li> <b>Previous message:</b> <a href="0138.html">Clemmitt Sigler: "UMAX UC1260 SANE problem(?)"</a>
<li> <b>In reply to:</b> <a href="0129.html">Graham Stoney: "Re: preview window feature request"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">John Stoffel: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0140.html">John Stoffel: "Re: preview window feature request"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Graham writes:<br>
<i>&gt; &gt; I also don't like the fact that you can't just grab the outline of the</i><br>
<i>&gt; &gt; scanned area to change the dimensions.  </i><br>
<i>&gt; &gt; I know I can use the sliders on the main panel to change the x,y</i><br>
<i>&gt; &gt; coordinates, but I think that's clunky.</i><br>
<i>&gt; </i><br>
<i>&gt; Dragging out an area on the preview window also moves the sliders on the main</i><br>
<i>&gt; panel to indicate the area selected.</i><br>
<p>
Actually, the real problem is that once you drag an outline in the preview,<br>
you can't adjust it except by the sliders.  For instance, in the GIMP crop<br>
tool, you can select a region, and then there are "grab points" on the<br>
selection outline which allow you to adjust the selected region, similar to<br>
resizing a window in most (all?) window managers.  The xscanimage preview<br>
doesn't let you do that.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0140.html">John Stoffel: "Re: preview window feature request"</a>
<li> <b>Previous message:</b> <a href="0138.html">Clemmitt Sigler: "UMAX UC1260 SANE problem(?)"</a>
<li> <b>In reply to:</b> <a href="0129.html">Graham Stoney: "Re: preview window feature request"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">John Stoffel: "Re: preview window feature request"</a>
<li> <b>Reply:</b> <a href="0140.html">John Stoffel: "Re: preview window feature request"</a>
<!-- reply="end" -->
</ul>
