<!-- received="Mon May 17 23:56:13 1999 PDT" -->
<!-- sent="Tue, 18 May 1999 08:56:29 +0200" -->
<!-- name="Andreas Rick" -->
<!-- email="rickand@gemse.fr" -->
<!-- subject="Re: Coolscan LS-30 + best scanner" -->
<!-- id="37410F1D.7366741C@gemse.fr" -->
<!-- inreplyto="Coolscan LS-30 + best scanner" -->
<title>sane-devel: Re: Coolscan LS-30 + best scanner</title>
<h1>Re: Coolscan LS-30 + best scanner</h1>
<b>Andreas Rick</b> (<a href="mailto:rickand@gemse.fr"><i>rickand@gemse.fr</i></a>)<br>
<i>Tue, 18 May 1999 08:56:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#166">[ date ]</a><a href="index.html#166">[ thread ]</a><a href="subject.html#166">[ subject ]</a><a href="author.html#166">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Manuel Panea: "Re: preview window feature request"</a>
<li> <b>Previous message:</b> <a href="0165.html">Ondrej Popp: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Ewald R. de Wit: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Reply:</b> <a href="0169.html">Ewald R. de Wit: "Re: Coolscan LS-30 + best scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Erwald send me a link to "Vuescan" on www.hamrick.com, which<br>
will help me a lot in adapting the Coolscan-SANE backend<br>
to the LS30.<br>
<p>
It writes all the SCSI-commands passed to the scanner to a log file.<br>
Now I have all the pieces of the puzzle and I only need<br>
some time to put them together.<br>
(I actually got the first image data from the scanner already<br>
- completely overexposed and wrong line sizes - but image data!)<br>
I am pretty optimistic about beeing able to make it work<br>
soon.<br>
<p>
I'm not finished yet, but I would like to start asking questions<br>
about how to integrate the infrared channel of the LS30<br>
correctly into SANE.<br>
Nikons TWAIN interface does the dust removal<br>
before sending the image to the calling programm.<br>
This has the advantage of not requiring the<br>
calling programm to know about the ClearImage feature<br>
and the disadvantage of not beeing able to adjust the amount<br>
of noise detected + removed and the second disadvantage<br>
of beeing slow during the scanning.<br>
I would prefer to save the infrafred channel with the image<br>
and do the dust-removal offline after scanning.<br>
Should I define a new image frame format like SANE_FRAME_RGBI<br>
for RedGreenBlueInfrared ?<br>
The Viewscan software allows 40-bit (10bits*(R+B+G+I)) scans.<br>
<p>
This way the actual scanning time should be slower<br>
(during this time we require a lot of user interaction like selecting<br>
the scanning area and some color/brightness adjustments)<br>
and we could do the dust-removal offline in a big batch on<br>
all the image scanned.<br>
I am very interested to make the SANE backend for the LS30<br>
more efficient (in terms of users time) than the<br>
TWAIN interface - which I consider very inefficient.<br>
<p>
Some timing data (not very precise as I noted them at home <br>
and recall them here from memory) for the scanning times <br>
using the TWAIN interface:<br>
(Pentium 133,160MB-Ram,Tekram-390F-SCSI)<br>
Full size diapositive at 2700 dpi including ClearImage (sharpen): 4     minutes.<br>
Full size diapositive at 1350 dpi including ClearImage (sharpen): 1:45 <br>
I don't recall the time without ClearImage, but it was much faster.<br>
For those who are afraid when reading "160MB-Ram": Scanning time was the same with 32MB<br>
but image processing of 28MB-images is no fun with only 32MB-Ram.<br>
I'll send more precise measurements later...<br>
<p>
<p>
-- Andreas<br>
<p>
-------------------------------------------------------------<br>
Andreas RICK                       e-mail:   <a href="mailto:rickand@gemse.fr">rickand@gemse.fr</a><br>
-------------------------------------------------------------<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0167.html">Manuel Panea: "Re: preview window feature request"</a>
<li> <b>Previous message:</b> <a href="0165.html">Ondrej Popp: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0118.html">Chris Bitmead: "Coolscan LS-30 + best scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Ewald R. de Wit: "Re: Coolscan LS-30 + best scanner"</a>
<li> <b>Reply:</b> <a href="0169.html">Ewald R. de Wit: "Re: Coolscan LS-30 + best scanner"</a>
<!-- reply="end" -->
</ul>
