<!-- received="Wed May 19 15:16:00 1999 PDT" -->
<!-- sent="Sat, 15 May 1999 16:45:53 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMax  Astra 1220U" -->
<!-- id="" -->
<!-- inreplyto="UMax  Astra 1220U" -->
<title>sane-devel: Re: UMax  Astra 1220U</title>
<h1>Re: UMax  Astra 1220U</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sat, 15 May 1999 16:45:53 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#199">[ date ]</a><a href="index.html#199">[ thread ]</a><a href="subject.html#199">[ subject ]</a><a href="author.html#199">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Oliver Rauch: "Re: xsane not running"</a>
<li> <b>Previous message:</b> <a href="0198.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0145.html">Fred Willingham: "UMax  Astra 1220U"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Fred Willingham wrote:<br>
<p>
<i>&gt; I read that the newest Linux kernel has some USB stuff in it. Any hope for a</i><br>
<i>&gt; SCSI over USB bridge to support for this scanner?</i><br>
<i>&gt;</i><br>
<p>
No, don`t think so!<br>
<p>
So Umax Astra 1220 U uses the protocol of the 1220 P and not the one of the 1220<br>
S,<br>
so I think we will have no chance until we have the 1220 P working!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0200.html">Oliver Rauch: "Re: xsane not running"</a>
<li> <b>Previous message:</b> <a href="0198.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0145.html">Fred Willingham: "UMax  Astra 1220U"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
