<!-- received="Thu May 20 10:52:55 1999 PDT" -->
<!-- sent="Thu, 20 May 1999 17:19:54 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Someone with UMAX UC630 or Vista T630 scanner and sane?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Someone with UMAX UC630 or Vista T630 scanner and sane?</title>
<h1>Someone with UMAX UC630 or Vista T630 scanner and sane?</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Thu, 20 May 1999 17:19:54 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#207">[ date ]</a><a href="index.html#207">[ thread ]</a><a href="subject.html#207">[ subject ]</a><a href="author.html#207">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0206.html">Lorenzo M. Catucci: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0209.html">Eduardo M. A. M. Mendes: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<li> <b>Reply:</b> <a href="0209.html">Eduardo M. A. M. Mendes: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I want to verify which firmware versions of the UMAX UC630 and Vista T630<br>
scanners<br>
do work with the sane-umax backend.<br>
<p>
Please could anyone reply to me who has any experience with these scanners?<br>
<p>
Thanks<br>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0208.html">Oliver Rauch: "Re: Astra 1220S problems"</a>
<li> <b>Previous message:</b> <a href="0206.html">Lorenzo M. Catucci: "Re: Astra 1220S problems"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0209.html">Eduardo M. A. M. Mendes: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<li> <b>Reply:</b> <a href="0209.html">Eduardo M. A. M. Mendes: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<!-- reply="end" -->
</ul>
