<!-- received="Thu May 20 16:44:04 1999 PDT" -->
<!-- sent="Thu, 20 May 1999 23:51:26 +0000" -->
<!-- name="Adam Williams" -->
<!-- email="awilliam@whitemice.org" -->
<!-- subject="Not all devices?" -->
<!-- id="9905202351.ZM20360@estate1.whitemice.org" -->
<!-- inreplyto="" -->
<title>sane-devel: Not all devices?</title>
<h1>Not all devices?</h1>
<b>Adam Williams</b> (<a href="mailto:awilliam@whitemice.org"><i>awilliam@whitemice.org</i></a>)<br>
<i>Thu, 20 May 1999 23:51:26 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#211">[ date ]</a><a href="index.html#211">[ thread ]</a><a href="subject.html#211">[ subject ]</a><a href="author.html#211">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Nick Lamb: "Re: Not all devices?"</a>
<li> <b>Previous message:</b> <a href="0210.html">Larry Snyder: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0212.html">Nick Lamb: "Re: Not all devices?"</a>
<li> <b>Reply:</b> <a href="0212.html">Nick Lamb: "Re: Not all devices?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Linux host where scanimage -L shows the following:<br>
<p>
device `pnm:0' is a Noname PNM file reader virtual device<br>
device `pnm:1' is a Noname PNM file reader virtual device<br>
device `hp:/dev/scanner' is a Hewlett-Packard C2520A flatbed scanner<br>
<p>
And another host that I actually want to use the scanner from where a scanimage<br>
-L shows the following:<br>
<p>
device `net:192.168.3.102:pnm:0' is a Noname PNM file reader virtual device<br>
device `net:192.168.3.102:pnm:1' is a Noname PNM file reader virtual device<br>
<p>
<p>
Why doesn't the HP scanner show up?  I've looked all over and can find no good<br>
documentation on how to set this up.  I have net in the dll.conf of the<br>
non-scanner host and hp &amp; pnm in the dll.conf of the scanner-attached host.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Nick Lamb: "Re: Not all devices?"</a>
<li> <b>Previous message:</b> <a href="0210.html">Larry Snyder: "Re: Someone with UMAX UC630 or Vista T630 scanner and sane?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0212.html">Nick Lamb: "Re: Not all devices?"</a>
<li> <b>Reply:</b> <a href="0212.html">Nick Lamb: "Re: Not all devices?"</a>
<!-- reply="end" -->
</ul>
