<!-- received="Thu May 20 16:55:04 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 01:01:24 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Not all devices?" -->
<!-- id="" -->
<!-- inreplyto="9905202351.ZM20360@estate1.whitemice.org" -->
<title>sane-devel: Re: Not all devices?</title>
<h1>Re: Not all devices?</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Fri, 21 May 1999 01:01:24 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#212">[ date ]</a><a href="index.html#212">[ thread ]</a><a href="subject.html#212">[ subject ]</a><a href="author.html#212">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Adam Williams: "Re: Not all devices?"</a>
<li> <b>Previous message:</b> <a href="0211.html">Adam Williams: "Not all devices?"</a>
<li> <b>In reply to:</b> <a href="0211.html">Adam Williams: "Not all devices?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 20 May 1999, Adam Williams wrote:<br>
<p>
<i>&gt; I have a Linux host where scanimage -L shows the following:</i><br>
<i>&gt; </i><br>
<i>&gt; device `pnm:0' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `pnm:1' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `hp:/dev/scanner' is a Hewlett-Packard C2520A flatbed scanner</i><br>
<i>&gt; </i><br>
<i>&gt; And another host that I actually want to use the scanner from where a scanimage</i><br>
<i>&gt; -L shows the following:</i><br>
<i>&gt; </i><br>
<i>&gt; device `net:192.168.3.102:pnm:0' is a Noname PNM file reader virtual device</i><br>
<i>&gt; device `net:192.168.3.102:pnm:1' is a Noname PNM file reader virtual device</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Why doesn't the HP scanner show up?  I've looked all over and can find no good</i><br>
<i>&gt; documentation on how to set this up.  I have net in the dll.conf of the</i><br>
<i>&gt; non-scanner host and hp &amp; pnm in the dll.conf of the scanner-attached host.</i><br>
<p>
Assuming 192.168.3.102 is the address of the machine where the HP is<br>
connected, and not just the non-scanner host probing itself...<br>
<p>
Check that "nobody" (which is the user normally set to run saned from inetd)<br>
has permission to access the HP scanner. To check this, become nobody with<br>
"su nobody" as root. Then try to use "scanimage -L" -- if you can't see the<br>
HP scanner as nobody, then saned won't be able to either. Fix your<br>
permissions. If it's not this, get back to us with some more details..<br>
<p>
NB Depending on your setup, having "nobody" able to play with /dev/scanner<br>
may not be what you want. If so, create a new user or group with enough<br>
privs, and arrange in inetd.conf for saned to run as the new user.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0213.html">Adam Williams: "Re: Not all devices?"</a>
<li> <b>Previous message:</b> <a href="0211.html">Adam Williams: "Not all devices?"</a>
<li> <b>In reply to:</b> <a href="0211.html">Adam Williams: "Not all devices?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
