<!-- received="Fri May 21 03:16:06 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 12:19:57 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: only negative output with scanimage (Canon Canoscan 300)" -->
<!-- id="199905211019.MAA09814@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="99052111150303.31257@localhost.localdomain" -->
<title>sane-devel: Re: only negative output with scanimage (Canon Canoscan 300)</title>
<h1>Re: only negative output with scanimage (Canon Canoscan 300)</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 21 May 1999 12:19:57 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#222">[ date ]</a><a href="index.html#222">[ thread ]</a><a href="subject.html#222">[ subject ]</a><a href="author.html#222">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">Greg Franks: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0221.html">Denis PROST: "only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>In reply to:</b> <a href="0221.html">Denis PROST: "only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0227.html">Denis Prost: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; --negative=no, but for both of them, scanimage says :</i><br>
<i>&gt; "scanimage: attempted to set inactive option negative"</i><br>
<i>&gt; With xscanimage, I do not get this problem : I can</i><br>
<i>&gt; uncheck the "negative" option, and then the result of the scanning is no more</i><br>
<i>&gt; negative.</i><br>
<p>
The checking of options is sensitive to order. The error message says, that<br>
the option is inactive, which means it cannot be used with the _currently_<br>
active setup.<br>
<p>
I assume this option is only available, if you are using a transparencies<br>
adapter or similar, so be sure to turn the option that specifies this<br>
on _before_ you try to set the --negative option.<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0223.html">Greg Franks: "Re: microtek x6 (Firmware 1.3) problem"</a>
<li> <b>Previous message:</b> <a href="0221.html">Denis PROST: "only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>In reply to:</b> <a href="0221.html">Denis PROST: "only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0227.html">Denis Prost: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- reply="end" -->
</ul>
