<!-- received="Fri May 21 08:33:31 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 17:28:30 +0200" -->
<!-- name="Denis Prost" -->
<!-- email="denis.prost@wanadoo.fr" -->
<!-- subject="Re: only negative output with scanimage (Canon Canoscan 300)" -->
<!-- id="99052117474900.22007@localhost.localdomain" -->
<!-- inreplyto="only negative output with scanimage (Canon Canoscan 300)" -->
<title>sane-devel: Re: only negative output with scanimage (Canon Canoscan 300)</title>
<h1>Re: only negative output with scanimage (Canon Canoscan 300)</h1>
<b>Denis Prost</b> (<a href="mailto:denis.prost@wanadoo.fr"><i>denis.prost@wanadoo.fr</i></a>)<br>
<i>Fri, 21 May 1999 17:28:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#227">[ date ]</a><a href="index.html#227">[ thread ]</a><a href="subject.html#227">[ subject ]</a><a href="author.html#227">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Previous message:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0221.html">Denis PROST: "only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>Reply:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;Hi !</i><br>
<i>&gt;</i><br>
<i>&gt;&gt; --negative=no, but for both of them, scanimage says :</i><br>
<i>&gt;&gt; "scanimage: attempted to set inactive option negative"</i><br>
<i>&gt;&gt; With xscanimage, I do not get this problem : I can</i><br>
<i>&gt;&gt; uncheck the "negative" option, and then the result of the scanning is no more</i><br>
<i>&gt;&gt; negative.</i><br>
<i>&gt;</i><br>
<i>&gt;The checking of options is sensitive to order. The error message says, that</i><br>
<i>&gt;the option is inactive, which means it cannot be used with the _currently_</i><br>
<i>&gt;active setup.</i><br>
<i>&gt;</i><br>
<i>&gt;I assume this option is only available, if you are using a transparencies</i><br>
<i>&gt;adapter or similar, so be sure to turn the option that specifies this</i><br>
<i>&gt;on _before_ you try to set the --negative option.</i><br>
<i>&gt;</i><br>
<i>&gt;CU, ANdy</i><br>
<i>&gt;</i><br>
<i>&gt;-- </i><br>
<i>&gt;Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<p>
Hi Andy,<br>
<p>
Thanks for your help. In fact, I did not find any option that is available for<br>
my scanner and that could bring the --negative option active. Here are some of<br>
the outputs that I get when I run "scanimage -h -d canon:/dev/sgb" :<br>
<p>
------------<br>
Options specific to device `canon:/dev/scanner':<br>
(...)<br>
Scan Mode:<br>
    --mode Lineart|Halftone|Gray|Color [Color]<br>
        Selects the scan mode (e.g., lineart,monochrome, or color).<br>
    --negative Negatives|Slides [inactive]<br>
        Selects the film type, i.e. negatives or slides<br>
(...)<br>
Extra color adjustments:<br>
    --negative[=(yes|no)] [yes]<br>
        Swap black and white<br>
--------------<br>
<p>
So, the "--negative Negatives|Slides" option is inactive for my scanner, but<br>
the --negative[=(yes|no)] should be active though, when I try it, scanimage<br>
says that it is inactive. <br>
<p>
I wonder if the fact that both options get the same "--negative" name does not<br>
puzzle scanimage which then considers both of them as inactive as soon as<br>
one of them is(would it be a bug ?). It could explain that xscanimage, which<br>
does not work on a command line mode, works fine with the "negative" option.<br>
<p>
By the way, to temporarily work around this problem, does anyone know a program<br>
that can convert a negative pbm image into a positive one ?<br>
<p>
Thanks in advance<br>
<p>
Cheers<br>
<p>
Denis<br>
<p>
 <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0228.html">Oliver Rauch: "Re: Umax scanner woes (halp!)"</a>
<li> <b>Previous message:</b> <a href="0226.html">Chris Bitmead: "Re: Gamma and xsane"</a>
<li> <b>Maybe in reply to:</b> <a href="0221.html">Denis PROST: "only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>Reply:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<!-- reply="end" -->
</ul>
