<!-- received="Fri May 21 13:39:11 1999 PDT" -->
<!-- sent="Fri, 21 May 1999 22:28:29 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax scanner woes (halp!)" -->
<!-- id="" -->
<!-- inreplyto="Umax scanner woes (halp!)" -->
<title>sane-devel: Re: Umax scanner woes (halp!)</title>
<h1>Re: Umax scanner woes (halp!)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Fri, 21 May 1999 22:28:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#232">[ date ]</a><a href="index.html#232">[ thread ]</a><a href="subject.html#232">[ subject ]</a><a href="author.html#232">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0233.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Previous message:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>Maybe in reply to:</b> <a href="0215.html">genkai wa doko da: "Umax scanner woes (halp!)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
genkai wa doko da wrote:<br>
<p>
<i>&gt; On Fri, 21 May 1999, Oliver Rauch wrote:</i><br>
<i>&gt; &gt; &gt; scsi card: Always 2000 scsi card(I unhooked everything from the scsi chain except the scanner to get contamination free results btw!)</i><br>
<i>&gt; &gt; &gt; Detected scsi generic sga at scsi0, channel 0, id 3, lun 0</i><br>
<i>&gt; &gt; &gt; find-scanner: found scanner "  " at device /dev/sga</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt; [umax] Found  scanner version  on device /dev/sga</i><br>
<i>&gt; &gt; &gt; [umax] attach_scanner: scanner-identification failed</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; Hi,</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; this looks very much like you have problems with your scsi card or bus.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; How is your scanner terminated,</i><br>
<i>&gt;</i><br>
<i>&gt; I have a 25 pin terminater which I had to mail order from UMAX it connects</i><br>
<i>&gt; to the 2nd external p.port type scsi connector on the back of the scanner</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; how long is the cable between scanner and computer,</i><br>
<i>&gt;</i><br>
<i>&gt; 5'-6' (2 meters or so)</i><br>
<p>
If your scsi-controller is an ultra-scsi controller,<br>
this may be too much. If you have more then 2 devices conencted<br>
(so if you add a cdrom or harddisk) the totoal cable length<br>
(internal + external) must be shorter than 1.5 meter!!!<br>
<p>
If this is a low-cost cable, it may make problems also!<br>
<p>
<i>&gt; &gt; how long is the scsi-cable in the computer,</i><br>
<i>&gt;</i><br>
<i>&gt; there is no cable in the computer currently ,I disconnected the drive that</i><br>
<i>&gt; was on it to eliminate other devices being the source of my problems.</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; how is the internal scsi bus terminated?</i><br>
<i>&gt;</i><br>
<i>&gt; hm internal? I shouldn't have to have anything terminated if there is</i><br>
<i>&gt; nothing connected to it should I? I mean where would you even terminate</i><br>
<i>&gt; it? (maybe I don't understand scsi enough hm)</i><br>
<i>&gt;</i><br>
<p>
May be your controller does it automatically, but you have to check it.<br>
The scsi bus must be terminated on both ends.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0233.html">Oliver Rauch: "Re: Gamma and xsane"</a>
<li> <b>Previous message:</b> <a href="0231.html">Andreas Beck: "Re: only negative output with scanimage (Canon Canoscan 300)"</a>
<li> <b>Maybe in reply to:</b> <a href="0215.html">genkai wa doko da: "Umax scanner woes (halp!)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
