<!-- received="Tue May 25 12:05:44 1999 PDT" -->
<!-- sent="Tue, 25 May 1999 21:17:47 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="To UMAX Astra 6X0S users" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: To UMAX Astra 6X0S users</title>
<h1>To UMAX Astra 6X0S users</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Tue, 25 May 1999 21:17:47 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#257">[ date ]</a><a href="index.html#257">[ thread ]</a><a href="subject.html#257">[ subject ]</a><a href="author.html#257">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<li> <b>Previous message:</b> <a href="0256.html">Milon Firikis: "Re: version 0.20 of ths Sharp backend available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<li> <b>Reply:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi UMAX Astra 6X0S user,<br>
<p>
did you try the new umax-backend (build 4) from my homepage<br>
( <a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a> ),<br>
what about missing lines (too short file) in color mode scan, is this<br>
solved?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<li> <b>Previous message:</b> <a href="0256.html">Milon Firikis: "Re: version 0.20 of ths Sharp backend available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<li> <b>Reply:</b> <a href="0258.html">dch: "Re: To UMAX Astra 6X0S users"</a>
<!-- reply="end" -->
</ul>
