<!-- received="Wed May 26 23:07:57 1999 PDT" -->
<!-- sent="Fri, 14 May 1999 09:56:08 +0200" -->
<!-- name="Edmund Humenberger" -->
<!-- email="ed@atnet.at" -->
<!-- subject="Colour management and calibration!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Colour management and calibration!</title>
<h1>Colour management and calibration!</h1>
<b>Edmund Humenberger</b> (<a href="mailto:ed@atnet.at"><i>ed@atnet.at</i></a>)<br>
<i>Fri, 14 May 1999 09:56:08 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Geoff: "Fujitsu &amp; Avision OEM info available"</a>
<li> <b>Previous message:</b> <a href="0261.html">Jeff DeFouw: "Re: Mustek 600 III EP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am by no mean prepress expert, I just saw some problems of<br>
colour handling in computers and how these can be handled.<br>
<p>
Scanning and printing colours in general is a big problem!<br>
<p>
The result depends on a lot of factors (papertype, machine, plating....)<br>
So colour handling is seen as an art by professionals.<br>
<p>
I saw one solution by a researcher in Gemany. He just calibrated the<br>
complete production circle.<br>
<p>
   -&gt;Computer------&gt;Printing to paper---------&gt; Scanning-----<br>
<i>  |                                                          |</i><br>
   ----------------------------------------------------------<br>
<p>
<p>
As Printing and scanning and colour room conversion (RGB&lt;&gt;CMYK) <br>
(or Separation to Hexachrome 6 colour printing) is changing the colours,<br>
he inserts Calibration filters, which are called "colour profiles in<br>
the press industry.<br>
<p>
There can be one colour profile for the whole process of scanning and<br>
printing.<br>
<p>
<p>
   -&gt;Filter---Computer---&gt;Printing to paper---------&gt; Scanning-----<br>
<i>  |                                                                |</i><br>
   ----------------------------------------------------------------<br>
<p>
<p>
You just print a refernece sheet on your printing process (which<br>
produces<br>
wrong colours), scan in this printed wrong colours and add the errors<br>
of scanning and then produce a colour profile which is the result of<br>
comparing the original refernece data and the scanned data.<br>
The calibration process produces a Neuronal network, which translates<br>
the wrong scanned colours to the right colours.<br>
<p>
As a result, when you scan now an original photo, the photo is<br>
fed through this neuronal network, which correncts the error of<br>
scanning,<br>
and adds the appropriate adjustments to the data so that the resulted<br>
printed image is the same as the original.<br>
<p>
<p>
The disadvantage of this is that you always have to calibrate a<br>
combination of scanner and printer.<br>
<p>
To have a calibration of each equipment, you would need to<br>
scan a reference sheet of colours and calculate the<br>
error which is produced by the scanning, and then recalculate<br>
what error is produced by the printing.<br>
<p>
In this process the colour on the Monitor are not correct.<br>
Calibration of the monitor must be done  by<br>
adjusting the displayed colours to the reference colour card<br>
and calculating afterwards the colour profile. this is <br>
a lot of work, or you do have a very expensive colour measurement<br>
equipment which measures thedisplayed colour on the monitor.<br>
<p>
<p>
I suggest such a colour manangement infrastructure for SANE, but<br>
where the colour transformation can be encapsulated in a module so<br>
that different Colour transformations can be implemented.<br>
<p>
Yours <br>
<p>
Ed<br>
<p>
PS: I saw an implementation of the Neuronal Network Colour correction<br>
system. The result is really amazing. The printed copy looks<br>
identical the the original, just printed on an inkjet printer.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">Geoff: "Fujitsu &amp; Avision OEM info available"</a>
<li> <b>Previous message:</b> <a href="0261.html">Jeff DeFouw: "Re: Mustek 600 III EP Plus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
