<!-- received="Sat Aug  1 10:47:17 1998 PDT" -->
<!-- sent="Sat, 01 Aug 1998 19:46:30 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="SANEI_THREAD proposal" -->
<!-- id="199808011746.TAA17188@ammi.mclink.it" -->
<!-- inreplyto="" -->
<title>sane-devel: SANEI_THREAD proposal</title>
<h1>SANEI_THREAD proposal</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Sat, 01 Aug 1998 19:46:30 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#0">[ date ]</a><a href="index.html#0">[ thread ]</a><a href="subject.html#0">[ subject ]</a><a href="author.html#0">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0004.html">Milon Firikis: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0005.html">Yuri Dario: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0008.html">Matto Marjanovic: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0016.html">Yuri Dario: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0070.html">Matto Marjanovic: "Re: SANEI_THREAD proposal"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
--_=_=_=IMA.BOUNDARY.EX1BDI138764=_=_=_<br>
Content-Type: text/plain; charset="us-ascii"<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Hi,<br>
<p>
I have wrote an initial API for thread support. It consist of 3 functions<br>
<p>
extern int sanei_thread_begin( void (*start)(void *arg), <br>
                               unsigned stack_size, <br>
                               void *arg_list);<br>
extern int sanei_thread_kill( int pid, int sig);<br>
extern int sanei_thread_wait( int pid, int *stat_loc, int options);<br>
<p>
that should replace fork(), kill() and waitpid(). They have the same parameters, except for thread_begin that require a <br>
pointer to a function, a stack size and a pointer to data.<br>
<p>
I have included also the patches to the Umax backend as example. There is only one problem: the call to close(fds[1]), <br>
must be avoided when using threads. I think it could be removed also on other platforms, because file handles are <br>
closed automatically at process exit.<br>
I have also added reader_fds to Umax_Scanner structure, so I don't need to create another data structure, as I wrote in <br>
the past.<br>
<p>
If you find that changes useful, I will add them also to Mustek,Tamarack, SnapScan, Coolscan backends. Without that <br>
changes, those backends wont work under OS/2.<br>
<p>
I have tested the code on an Umax Astra 610S, connected to my (old!) Adaptec 1542CF.<br>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 */<br>
<p>
<p>
--_=_=_=IMA.BOUNDARY.EX1BDI138764=_=_=_<br>
Content-Type: application/octet-stream; name="sanei_thread.c"<br>
Content-Transfer-Encoding: base64<br>
<p>
Lyogc2FuZSAtIFNjYW5uZXIgQWNjZXNzIE5vdyBFYXN5LgogICBDb3B5cmlnaHQgKEMpIDE5OTgg<br>
WXVyaSBEYXJpbwogICBUaGlzIGZpbGUgaXMgcGFydCBvZiB0aGUgU0FORSBwYWNrYWdlLgoKICAg<br>
VGhpcyBwcm9ncmFtIGlzIGZyZWUgc29mdHdhcmU7IHlvdSBjYW4gcmVkaXN0cmlidXRlIGl0IGFu<br>
ZC9vcgogICBtb2RpZnkgaXQgdW5kZXIgdGhlIHRlcm1zIG9mIHRoZSBHTlUgR2VuZXJhbCBQdWJs<br>
aWMgTGljZW5zZSBhcwogICBwdWJsaXNoZWQgYnkgdGhlIEZyZWUgU29mdHdhcmUgRm91bmRhdGlv<br>
bjsgZWl0aGVyIHZlcnNpb24gMiBvZiB0aGUKICAgTGljZW5zZSwgb3IgKGF0IHlvdXIgb3B0aW9u<br>
KSBhbnkgbGF0ZXIgdmVyc2lvbi4KCiAgIFRoaXMgcHJvZ3JhbSBpcyBkaXN0cmlidXRlZCBpbiB0<br>
aGUgaG9wZSB0aGF0IGl0IHdpbGwgYmUgdXNlZnVsLCBidXQKICAgV0lUSE9VVCBBTlkgV0FSUkFO<br>
VFk7IHdpdGhvdXQgZXZlbiB0aGUgaW1wbGllZCB3YXJyYW50eSBvZgogICBNRVJDSEFOVEFCSUxJ<br>
VFkgb3IgRklUTkVTUyBGT1IgQSBQQVJUSUNVTEFSIFBVUlBPU0UuICBTZWUgdGhlIEdOVQogICBH<br>
ZW5lcmFsIFB1YmxpYyBMaWNlbnNlIGZvciBtb3JlIGRldGFpbHMuCgogICBZb3Ugc2hvdWxkIGhh<br>
dmUgcmVjZWl2ZWQgYSBjb3B5IG9mIHRoZSBHTlUgR2VuZXJhbCBQdWJsaWMgTGljZW5zZQogICBh<br>
bG9uZyB3aXRoIHRoaXMgcHJvZ3JhbTsgaWYgbm90LCB3cml0ZSB0byB0aGUgRnJlZSBTb2Z0d2Fy<br>
ZQogICBGb3VuZGF0aW9uLCBJbmMuLCA1OSBUZW1wbGUgUGxhY2UgLSBTdWl0ZSAzMzAsIEJvc3Rv<br>
biwKICAgTUEgMDIxMTEtMTMwNywgVVNBLgoKICAgQXMgYSBzcGVjaWFsIGV4Y2VwdGlvbiwgdGhl<br>
IGF1dGhvcnMgb2YgU0FORSBnaXZlIHBlcm1pc3Npb24gZm9yCiAgIGFkZGl0aW9uYWwgdXNlcyBv<br>
ZiB0aGUgbGlicmFyaWVzIGNvbnRhaW5lZCBpbiB0aGlzIHJlbGVhc2Ugb2YgU0FORS4KCiAgIFRo<br>
ZSBleGNlcHRpb24gaXMgdGhhdCwgaWYgeW91IGxpbmsgYSBTQU5FIGxpYnJhcnkgd2l0aCBvdGhl<br>
ciBmaWxlcwogICB0byBwcm9kdWNlIGFuIGV4ZWN1dGFibGUsIHRoaXMgZG9lcyBub3QgYnkgaXRz<br>
ZWxmIGNhdXNlIHRoZQogICByZXN1bHRpbmcgZXhlY3V0YWJsZSB0byBiZSBjb3ZlcmVkIGJ5IHRo<br>
ZSBHTlUgR2VuZXJhbCBQdWJsaWMKICAgTGljZW5zZS4gIFlvdXIgdXNlIG9mIHRoYXQgZXhlY3V0<br>
YWJsZSBpcyBpbiBubyB3YXkgcmVzdHJpY3RlZCBvbgogICBhY2NvdW50IG9mIGxpbmtpbmcgdGhl<br>
IFNBTkUgbGlicmFyeSBjb2RlIGludG8gaXQuCgogICBUaGlzIGV4Y2VwdGlvbiBkb2VzIG5vdCwg<br>
aG93ZXZlciwgaW52YWxpZGF0ZSBhbnkgb3RoZXIgcmVhc29ucyB3aHkKICAgdGhlIGV4ZWN1dGFi<br>
bGUgZmlsZSBtaWdodCBiZSBjb3ZlcmVkIGJ5IHRoZSBHTlUgR2VuZXJhbCBQdWJsaWMKICAgTGlj<br>
ZW5zZS4KCiAgIElmIHlvdSBzdWJtaXQgY2hhbmdlcyB0byBTQU5FIHRvIHRoZSBtYWludGFpbmVy<br>
cyB0byBiZSBpbmNsdWRlZCBpbgogICBhIHN1YnNlcXVlbnQgcmVsZWFzZSwgeW91IGFncmVlIGJ5<br>
IHN1Ym1pdHRpbmcgdGhlIGNoYW5nZXMgdGhhdAogICB0aG9zZSBjaGFuZ2VzIG1heSBiZSBkaXN0<br>
cmlidXRlZCB3aXRoIHRoaXMgZXhjZXB0aW9uIGludGFjdC4KCiAgIElmIHlvdSB3cml0ZSBtb2Rp<br>
ZmljYXRpb25zIG9mIHlvdXIgb3duIGZvciBTQU5FLCBpdCBpcyB5b3VyIGNob2ljZQogICB3aGV0<br>
aGVyIHRvIHBlcm1pdCB0aGlzIGV4Y2VwdGlvbiB0byBhcHBseSB0byB5b3VyIG1vZGlmaWNhdGlv<br>
bnMuCiAgIElmIHlvdSBkbyBub3Qgd2lzaCB0aGF0LCBkZWxldGUgdGhpcyBleGNlcHRpb24gbm90<br>
aWNlLiAgKi8KCiNpbmNsdWRlIDxzYW5lL2NvbmZpZy5oPgoKI2luY2x1ZGUgPHN0ZGlvLmg+CiNp<br>
bmNsdWRlIDxzdGRsaWIuaD4KI2lmZGVmIEhBVkVfVU5JU1REX0gKIyBpbmNsdWRlIDx1bmlzdGQu<br>
aD4KI2VuZGlmCgojaWZkZWYgX19FTVhfXwojZGVmaW5lIElOQ0xfRE9TUFJPQ0VTUwojaW5jbHVk<br>
ZSA8b3MyLmg+CiNlbmRpZgoKI2luY2x1ZGUgPHNhbmUvc2FuZWlfdGhyZWFkLmg+CgppbnQKc2Fu<br>
ZWlfdGhyZWFkX2JlZ2luKCB2b2lkICgqc3RhcnQpKHZvaWQgKmFyZyksIAogICAgICAgICAgICAg<br>
ICAgICAgIHVuc2lnbmVkIHN0YWNrX3NpemUsIAogICAgICAgICAgICAgICAgICAgIHZvaWQgKmFy<br>
Z19saXN0KQp7CiNpZmRlZiBfX0VNWF9fCiAgIHJldHVybiBfYmVnaW50aHJlYWQoIHN0YXJ0LCBO<br>
VUxMLCBzdGFja19zaXplLCBhcmdfbGlzdCk7CiNlbHNlCiAgIHJldHVybiBmb3JrKCk7CiNlbmRp<br>
Zgp9CgppbnQKc2FuZWlfdGhyZWFkX2tpbGwoIGludCBwaWQsIGludCBzaWcpCnsKI2lmZGVmIF9f<br>
RU1YX18KICAgcmV0dXJuIERvc0tpbGxUaHJlYWQoIHBpZCk7CiNlbHNlCiAgIHJldHVybiBraWxs<br>
KCBwaWQsIHNpZyk7CiNlbmRpZgp9CgppbnQKc2FuZWlfdGhyZWFkX3dhaXQoIGludCBwaWQsIGlu<br>
dCAqc3RhdF9sb2MsIGludCBvcHRpb25zKQp7CiNpZmRlZiBfX0VNWF9fCiAgIHJldHVybiAwOyAv<br>
KiBEb3NXYWl0VGhyZWFkKCAoVElEKikgJnBpZCwgRENXV19XQUlUKTsqLwojZWxzZQogICByZXR1<br>
cm4gd2FpdHBpZCggcGlkLCBzaWcpOwojZW5kaWYKfQoK<br>
<p>
--_=_=_=IMA.BOUNDARY.EX1BDI138764=_=_=_<br>
Content-Type: application/octet-stream; name="sanei_thread.h"<br>
Content-Transfer-Encoding: base64<br>
<p>
Lyogc2FuZSAtIFNjYW5uZXIgQWNjZXNzIE5vdyBFYXN5LgogICBDb3B5cmlnaHQgKEMpIDE5OTgg<br>
WXVyaSBEYXJpbwogICBUaGlzIGZpbGUgaXMgcGFydCBvZiB0aGUgU0FORSBwYWNrYWdlLgoKICAg<br>
U0FORSBpcyBmcmVlIHNvZnR3YXJlOyB5b3UgY2FuIHJlZGlzdHJpYnV0ZSBpdCBhbmQvb3IgbW9k<br>
aWZ5IGl0IHVuZGVyCiAgIHRoZSB0ZXJtcyBvZiB0aGUgR05VIEdlbmVyYWwgUHVibGljIExpY2Vu<br>
c2UgYXMgcHVibGlzaGVkIGJ5IHRoZSBGcmVlCiAgIFNvZnR3YXJlIEZvdW5kYXRpb247IGVpdGhl<br>
ciB2ZXJzaW9uIDIgb2YgdGhlIExpY2Vuc2UsIG9yIChhdCB5b3VyCiAgIG9wdGlvbikgYW55IGxh<br>
dGVyIHZlcnNpb24uCgogICBTQU5FIGlzIGRpc3RyaWJ1dGVkIGluIHRoZSBob3BlIHRoYXQgaXQg<br>
d2lsbCBiZSB1c2VmdWwsIGJ1dCBXSVRIT1VUCiAgIEFOWSBXQVJSQU5UWTsgd2l0aG91dCBldmVu<br>
IHRoZSBpbXBsaWVkIHdhcnJhbnR5IG9mIE1FUkNIQU5UQUJJTElUWSBvcgogICBGSVRORVNTIEZP<br>
UiBBIFBBUlRJQ1VMQVIgUFVSUE9TRS4gIFNlZSB0aGUgR05VIEdlbmVyYWwgUHVibGljIExpY2Vu<br>
c2UKICAgZm9yIG1vcmUgZGV0YWlscy4KCiAgIFlvdSBzaG91bGQgaGF2ZSByZWNlaXZlZCBhIGNv<br>
cHkgb2YgdGhlIEdOVSBHZW5lcmFsIFB1YmxpYyBMaWNlbnNlCiAgIGFsb25nIHdpdGggc2FuZTsg<br>
c2VlIHRoZSBmaWxlIENPUFlJTkcuICBJZiBub3QsIHdyaXRlIHRvIHRoZSBGcmVlCiAgIFNvZnR3<br>
YXJlIEZvdW5kYXRpb24sIEluYy4sIDY3NSBNYXNzIEF2ZSwgQ2FtYnJpZGdlLCBNQSAwMjEzOSwg<br>
VVNBLgoKICAgVGhpcyBmaWxlIGRlY2xhcmVzIFNBTkUgYXBwbGljYXRpb24gaW50ZXJmYWNlLiAg<br>
U2VlIHRoZSBTQU5FCiAgIHN0YW5kYXJkIGZvciBhIGRldGFpbGVkIGV4cGxhbmF0aW9uIG9mIHRo<br>
ZSBpbnRlcmZhY2UuICAqLwogICAKI2lmbmRlZiBzYW5laV90aHJlYWRfaAojZGVmaW5lIHNhbmVp<br>
X3RocmVhZF9oCgpleHRlcm4gaW50IHNhbmVpX3RocmVhZF9iZWdpbiggdm9pZCAoKnN0YXJ0KSh2<br>
b2lkICphcmcpLCAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHVuc2lnbmVkIHN0YWNr<br>
X3NpemUsIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgdm9pZCAqYXJnX2xpc3QpOwpl<br>
eHRlcm4gaW50IHNhbmVpX3RocmVhZF9raWxsKCBpbnQgcGlkLCBpbnQgc2lnKTsKZXh0ZXJuIGlu<br>
dCBzYW5laV90aHJlYWRfd2FpdCggaW50IHBpZCwgaW50ICpzdGF0X2xvYywgaW50IG9wdGlvbnMp<br>
OwoKI2VuZGlmIC8qIHNhbmVpX3RocmVhZF9oICovCg==<br>
<p>
--_=_=_=IMA.BOUNDARY.EX1BDI138764=_=_=_<br>
Content-Type: application/octet-stream; name="patch.umax"<br>
Content-Transfer-Encoding: base64<br>
<p>
ZGlmZiAtdSAuL3VtYXguYyAuL3VtYXguYw0KLS0tIC4vdW1heC5jCVR1ZSBKdWwgMjggMDQ6NTU6<br>
MDYgMTk5OA0KKysrIC4vdW1heC5jCVNhdCBBdWcgIDEgMTk6Mzk6NTYgMTk5OA0KQEAgLTEzNyw2<br>
ICsxMzcsNyBAQA0KICNpbmNsdWRlICJzYW5lL3NhbmVvcHRzLmgiDQogI2luY2x1ZGUgInNhbmUv<br>
c2FuZWlfc2NzaS5oIg0KICNpbmNsdWRlICJzYW5lL3NhbmVpX2RlYnVnLmgiDQorI2luY2x1ZGUg<br>
InNhbmUvc2FuZWlfdGhyZWFkLmgiDQogDQogI2luY2x1ZGUgPGFzc2VydC5oPg0KICNpbmNsdWRl<br>
IDxtYXRoLmg+DQpAQCAtMzExNSw4ICszMTE2LDggQEANCiAgIGlmIChzY2FubmVyLT5yZWFkZXJf<br>
cGlkID4gMCkNCiAgIHsNCiAgICAgREJHKERCR19zYW5lX2luZm8sImtpbGxpbmcgcmVhZGVyX3By<br>
b2Nlc3NcbiIpOw0KLSAgICBraWxsKHNjYW5uZXItPnJlYWRlcl9waWQsIFNJR1RFUk0pOw0KLSAg<br>
ICB3YWl0cGlkKHNjYW5uZXItPnJlYWRlcl9waWQsIDAsIDApOw0KKyAgICBzYW5laV90aHJlYWRf<br>
a2lsbChzY2FubmVyLT5yZWFkZXJfcGlkLCBTSUdURVJNKTsNCisgICAgc2FuZWlfdGhyZWFkX3dh<br>
aXQoc2Nhbm5lci0+cmVhZGVyX3BpZCwgMCwgMCk7DQogICAgIHNjYW5uZXItPnJlYWRlcl9waWQg<br>
PSAwOw0KICAgICBEQkcoREJHX3NhbmVfaW5mbywicmVhZGVyX3Byb2Nlc3Mga2lsbGVkXG4iKTsN<br>
CiANCkBAIC0zMjczLDYgKzMyNzQsMTggQEANCiByZXR1cm4gc3RhdHVzOw0KIH0NCiANCisvLw0K<br>
Ky8vIHJlYWRlciB0aHJlYWQgZm9yIE9TLzI6IG5lZWQgYSB3cmFwcGVyLCBiZWNhdXNlIHRocmVh<br>
ZHMgY2FuIGhhdmUNCisvLyBvbmx5IG9uZSBwYXJhbWV0ZXIuDQorLy8NCitzdGF0aWMgdm9pZCBv<br>
czJfcmVhZGVyX3Byb2Nlc3MoIHZvaWQqIGRhdGEpDQorew0KKyAgIHN0cnVjdCBVbWF4X1NjYW5u<br>
ZXIqIHNjYW5uZXIgPSAoc3RydWN0IFVtYXhfU2Nhbm5lciopIGRhdGE7DQorDQorICAgREJHKERC<br>
R19zYW5lX3Byb2MsInJlYWRlcl9wcm9jZXNzIHRocmVhZCBzdGFydGVkXG4iKTsNCisgICByZWFk<br>
ZXJfcHJvY2Vzcyggc2Nhbm5lciwgc2Nhbm5lci0+cmVhZGVyX2Zkcyk7DQorfQ0KKw0KIA0KIC8q<br>
IC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0t<br>
LS0tLSBJTklUIE9QVElPTlMgLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLSAqLw0KIA0K<br>
QEAgLTUyNzYsNyArNTI4OSwxMCBAQA0KICAgIHJldHVybiBTQU5FX1NUQVRVU19JT19FUlJPUjsN<br>
CiAgIH0NCiANCi0gIHNjYW5uZXItPnJlYWRlcl9waWQgPSBmb3JrKCk7CQkJCQkgICAgIC8qIGNy<br>
ZWF0ZSByZWFkZXIgcm91dGluZSBhcyBuZXcgcHJvY2VzcyAqLw0KKyAgICAgIC8qIGNyZWF0ZSBy<br>
ZWFkZXIgcm91dGluZSBhcyBuZXcgcHJvY2VzcyBvciB0aHJlYWQgKi8NCisgIHNjYW5uZXItPnJl<br>
YWRlcl9mZHMgPSBmZHNbMV07DQorICBzY2FubmVyLT5yZWFkZXJfcGlkID0gc2FuZWlfdGhyZWFk<br>
X2JlZ2luKCBvczJfcmVhZGVyX3Byb2Nlc3MsIDY0KjEwMjQsIA0KKyAgICAgICAgICAgICAgICAg<br>
ICAgICAgICAgICAgICAgICAgICAgICAgICAgKHZvaWQqKSBzY2FubmVyKTsNCiAgIGlmIChzY2Fu<br>
bmVyLT5yZWFkZXJfcGlkID09IDApDQogICB7CQkJCQkJCQkJLyogcmVhZGVyX3BpZCA9IDAgPT09<br>
PiBjaGlsZCBwcm9jZXNzICovDQogICAgIHNpZ3NldF90IGlnbm9yZV9zZXQ7DQpAQCAtNTI5Myw3<br>
ICs1MzA5LDEwIEBADQogDQogICAgIF9leGl0KHJlYWRlcl9wcm9jZXNzKHNjYW5uZXIsIGZkc1sx<br>
XSkpOyAgIC8qIGRvbid0IHVzZSBleGl0KCkgc2luY2UgdGhhdCB3b3VsZCBydW4gdGhlIGF0ZXhp<br>
dCgpIGhhbmRsZXJzICovDQogICB9DQorI2lmbmRlZiBIQVZFX09TMl9IDQogICBjbG9zZShmZHNb<br>
MV0pOw0KKyNlbmRpZg0KKw0KICAgc2Nhbm5lci0+cGlwZSA9IGZkc1swXTsNCiANCiAgcmV0dXJu<br>
IFNBTkVfU1RBVFVTX0dPT0Q7DQpkaWZmIC11IC4vdW1heC5oIC4vdW1heC5oDQotLS0gLi91bWF4<br>
LmgJVHVlIEp1bCAyMSAwNDo1NToyMCAxOTk4DQorKysgLi91bWF4LmgJU2F0IEF1ZyAgMSAxNjo1<br>
MDo1NiAxOTk4DQpAQCAtMzk0LDYgKzM5NCw3IEBADQogICBTQU5FX1BhcmFtZXRlcnMJCXBhcmFt<br>
czsNCiANCiAgIHBpZF90CQkJCXJlYWRlcl9waWQ7DQorICBpbnQgIAkJCQlyZWFkZXJfZmRzOw0K<br>
ICAgaW50CQkJCXBpcGU7DQogfSBVbWF4X1NjYW5uZXI7DQogDQo=<br>
<p>
--_=_=_=IMA.BOUNDARY.EX1BDI138764=_=_=_--<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0001.html">Oliver Rauch: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0004.html">Milon Firikis: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0005.html">Yuri Dario: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0008.html">Matto Marjanovic: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0016.html">Yuri Dario: "Re: SANEI_THREAD proposal"</a>
<li> <b>Reply:</b> <a href="0070.html">Matto Marjanovic: "Re: SANEI_THREAD proposal"</a>
<!-- reply="end" -->
</ul>
