<!-- received="Mon Aug 10 08:54:00 1998 PDT" -->
<!-- sent="Mon, 10 Aug 1998 11:53:01 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="random microtek commentary (Was: Re: Want to give wife scanner for anniversary - suggestions?)" -->
<!-- id="m0z5uFp-000J3sC@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Re: Want to give wife scanner for anniversary - suggestions?)" -->
<title>sane-devel: random microtek commentary (Was: Re: Want to give wife scanner for anniversary - suggestions?)</title>
<h1>random microtek commentary (Was: Re: Want to give wife scanner for anniversary - suggestions?)</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Mon, 10 Aug 1998 11:53:01 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#45">[ date ]</a><a href="index.html#45">[ thread ]</a><a href="subject.html#45">[ subject ]</a><a href="author.html#45">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Werner Arnhold: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0044.html">Matto Marjanovic: "Patch #1 to microtek backend (shifted red channel)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i> &gt;From: Glenn &lt;<a href="mailto:glenn@meaning.com">glenn@meaning.com</a>&gt;</i><br>
<i> &gt;Date: Sun, 9 Aug 1998 18:42:58 -0500 (CDT)</i><br>
<i> &gt;</i><br>
 ...<br>
<i> &gt;	I haven't gotten around to configuring the E3, but I've</i><br>
<i> &gt;been using the Microtek 35t+ slide scanner with xscanner (&amp;GIMP).</i><br>
<i> &gt;There are still bugs in the driver (like the exposure control</i><br>
<i> &gt;doesn't work.) I'm planning on trying ViviData's scanshop for</i><br>
<p>
If you notice any bugs which are not documented in the manpage or<br>
 webpage, please tell me about them!  And, if you'd like to help<br>
 with exterminating the bugs, even better.  I've never even seen<br>
 a 35t+ slide scanner, so it's hard to optimize code for it (esp.<br>
 given the, uh, 'sporadic' quality of the Microtek documentation).<br>
<p>
 ...<br>
<i> &gt;	Getting back to the installation, once I figured out</i><br>
<i> &gt;how to get the 1502 card to work (I can dig up the URL with</i><br>
<i> &gt;the instructions if anyone is interested. Thanks to ??? on</i><br>
<i> &gt;the SANE-DEVEL list for passing that on to me.), I edited</i><br>
<p>
The URL is <a href="http://www.mir.com/mtek/ava-hints.html">http://www.mir.com/mtek/ava-hints.html</a> (and the ??? is me :).<br>
<p>
<i> &gt;/etc/sane/microtek.conf, adding "scsi Microtek" and the 35t+</i><br>
<i> &gt;showed up the next time I opened xscanimage. (For some reason,</i><br>
<i> &gt;the E3 doesn't identify itself as a microtek scanner when it's</i><br>
<i> &gt;probed, just "scanner".)</i><br>
<p>
The recommended microtek.conf entry is "scsi * * Scanner" --- <br>
 Microtek's firmware is pretty inconsistent and unreliable as far<br>
 as standard ID strings go; the backend is capable of carefully<br>
 looking at every scsi scanner device to figure out if it's a<br>
 supported scanner or not.<br>
<p>
-matt m.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0046.html">Werner Arnhold: "Re: UMAX Astra 1220S, 0.74 seems to be dead"</a>
<li> <b>Previous message:</b> <a href="0044.html">Matto Marjanovic: "Patch #1 to microtek backend (shifted red channel)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
