<!-- received="Fri Aug 21 09:25:19 1998 PDT" -->
<!-- sent="Fri, 14 Aug 1998 16:02:13 -0700" -->
<!-- name="Zot O'Connor" -->
<!-- email="zot@ZotConsulting.com" -->
<!-- subject="Getting UMAX scanner to work with Future domain 1" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Getting UMAX scanner to work with Future domain 1</title>
<h1>Getting UMAX scanner to work with Future domain 1</h1>
<b>Zot O'Connor</b> (<a href="mailto:zot@ZotConsulting.com"><i>zot@ZotConsulting.com</i></a>)<br>
<i>Fri, 14 Aug 1998 16:02:13 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#87">[ date ]</a><a href="index.html#87">[ thread ]</a><a href="subject.html#87">[ subject ]</a><a href="author.html#87">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Ralf Goertz: "Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0086.html">Nicolas Poirot: "About the MAxiScanA4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">Doug Bercich: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<li> <b>Reply:</b> <a href="0102.html">Doug Bercich: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<li> <b>Reply:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am having problems getting my future domain controller<br>
(old ISA) to recognize my Vista S8 scanner.<br>
<p>
The controller worked extremely well recently, but I<br>
replaced it when I upgraded.  I have an UDS-1101 (or whatever)<br>
working as a full SCSI under NT.  I though I'd move it to Linux.<br>
<p>
I have a jaz drive on the card too, it works.<br>
<p>
The Scanner does not seem to report to the kernel module (it is at ID1)<br>
Aug 14 15:19:30 eater kernel: scsi2 &lt;fdomain&gt;: BIOS version 2.0 at 0xca000 using<br>
 scsi id 6<br>
Aug 14 15:19:30 eater kernel: scsi2 &lt;fdomain&gt;: TMC-1800 chip at 0x140 irq 15<br>
Aug 14 15:19:30 eater kernel: scsi2 : Future Domain TMC-16x0 SCSI driver, versio<br>
n 5.44<br>
Aug 14 15:19:30 eater kernel: scsi : 1 host.<br>
Aug 14 15:19:30 eater kernel:   Vendor: iomega    Model: jaz 1GB           Rev:<br>
H.62<br>
Aug 14 15:19:30 eater kernel:   Type:   Direct-Access                      ANSI<br>
SCSI revision: 02<br>
Aug 14 15:19:30 eater kernel: Detected scsi removable disk sda at scsi2, channel<br>
 0, id 5, lun 0<br>
Aug 14 15:19:30 eater kernel: SCSI device sda: hdwr sector= 512 bytes. Sectors=<br>
2091050 [1021 MB] [1.0 GB]<br>
Aug 14 15:19:30 eater kernel: sda: Write Protect is off<br>
Aug 14 15:19:30 eater kernel:  sda: sda4<br>
<p>
[root@eater /root]# cat /proc/scsi/fdomain/2<br>
Future Domain TMC-16x0 SCSI driver, version 5.44<br>
[root@eater /root]# cat /proc/scsi/scsi<br>
Attached devices:<br>
Host: scsi2 Channel: 00 Id: 05 Lun: 00<br>
  Vendor: iomega   Model: jaz 1GB          Rev: H.62<br>
  Type:   Direct-Access                    ANSI SCSI revision: 02<br>
<p>
<p>
Yet when I scanimage --list-devices I get some recognition:<br>
<p>
Scanlist<br>
[umax] attach_scanner: opening /dev/sga<br>
[umax] init<br>
[umax] initialize_values<br>
[umax] identify_scanner<br>
[umax] do_inquiry<br>
[umax] check condition sense handler<br>
[umax] check condition sense: ILLEGAL REQUEST<br>
[umax] -&gt; no error<br>
[umax] -&gt; illegal field in CDB<br>
[umax] check condition sense handler<br>
[umax] check condition sense: ILLEGAL REQUEST<br>
[umax] -&gt; no error<br>
[umax] -&gt; illegal field in CDB<br>
[umax] attach_scanner: scanner-identification failed<br>
[umax] attach_scanner: opening /dev/sgb<br>
[umax] attach_scanner: open failed<br>
[umax] attach_scanner: opening /dev/sgb<br>
[umax] attach_scanner: open failed<br>
[umax] attach_scanner: opening /dev/sge<br>
[umax] attach_scanner: open failed<br>
[umax] attach_scanner: opening /dev/sda<br>
[umax] init<br>
[umax] initialize_values<br>
[umax] identify_scanner<br>
[umax] do_inquiry<br>
[umax] check condition sense handler<br>
[umax] invalid sense key =&gt; handled as DEVICE BUSY!<br>
[umax] check condition sense handler<br>
[umax] invalid sense key =&gt; handled as DEVICE BUSY!<br>
[umax] attach_scanner: scanner-identification failed<br>
[umax] attach_scanner: opening /dev/scanner<br>
[umax] attach_scanner: open failed<br>
<p>
I have had parity errors with this card and an old NEC Cdrom.<br>
I though that was fixed now.  Any ideas?<br>
<p>
<pre>
-- 
Zot O'Connor
<p>
www.ZotConsulting.com
www.WhiteKnightHackers.com
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0088.html">Ralf Goertz: "Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0086.html">Nicolas Poirot: "About the MAxiScanA4"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">Doug Bercich: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<li> <b>Reply:</b> <a href="0102.html">Doug Bercich: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<li> <b>Reply:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<!-- reply="end" -->
</ul>
