<!-- received="Fri Aug 21 21:24:08 1998 PDT" -->
<!-- sent="Thu, 13 Aug 1998 12:47:52 -0400 (EDT)" -->
<!-- name="Raymond A. Ingles" -->
<!-- email="inglesra@FRC.COM" -->
<!-- subject="ftp.mostang.com down?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: ftp.mostang.com down?</title>
<h1>ftp.mostang.com down?</h1>
<b>Raymond A. Ingles</b> (<a href="mailto:inglesra@FRC.COM"><i>inglesra@FRC.COM</i></a>)<br>
<i>Thu, 13 Aug 1998 12:47:52 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#93">[ date ]</a><a href="index.html#93">[ thread ]</a><a href="subject.html#93">[ subject ]</a><a href="author.html#93">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Michael Kayz-Hyman: "Artec/INFO/Others Protocol Info."</a>
<li> <b>Previous message:</b> <a href="0092.html">Michael Katz-Hyman: "Parallel Protocol Info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 I haven't been able to hook up to ftp.mostang.com all week, and I'd<br>
really like to get the scsi-mustek patch for the DTC3181 cards. Is the<br>
likely to be up soon? If not, could someone email the patch to me?<br>
<p>
<p>
 Sincerely,<br>
<p>
 Ray Ingles         (248) 377-7735           <a href="mailto:ray.ingles@fanucrobotics.com">ray.ingles@fanucrobotics.com</a><br>
<p>
 "I can write programs that control air traffic, intercept ballistic<br>
  missiles, reconcile bank accounts, control production lines."<br>
<p>
 "So can I, and so can any man, but do they work when you do write them?"<br>
<p>
      - Fred Brooks, after Shakespeare, in "The Mythical Man-Month"<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0094.html">Michael Kayz-Hyman: "Artec/INFO/Others Protocol Info."</a>
<li> <b>Previous message:</b> <a href="0092.html">Michael Katz-Hyman: "Parallel Protocol Info"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
