<!-- received="Tue Aug 25 08:50:26 1998 PDT" -->
<!-- sent="Mon, 24 Aug 1998 16:53:30 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax 610P Scanner" -->
<!-- id="" -->
<!-- inreplyto="Umax 610P Scanner" -->
<title>sane-devel: Re: Umax 610P Scanner</title>
<h1>Re: Umax 610P Scanner</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 24 Aug 1998 16:53:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<li> <b>Previous message:</b> <a href="0111.html">Christoph Doerbeck: "Re: Mustek 600 II N updates + file ownerships"</a>
<li> <b>Maybe in reply to:</b> <a href="0098.html">Cyberian Marauder: "Umax 610P Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Cyberian Marauder wrote:<br>
<p>
<i>&gt; Does the SANE Umax driver allow use of a Parallel Port Scanner in any</i><br>
<i>&gt; capacity at all?  Or are the SCSI and the Parallel Port Scanners totally</i><br>
<i>&gt; incompatible.  The UMAX Backend Driver does support a 610S and I'm</i><br>
<i>&gt; wondering if I could use it for my 610P.  Thanks in advance for any</i><br>
<i>&gt; information.</i><br>
<i>&gt;</i><br>
<i>&gt; Cyberian Marauder</i><br>
<i>&gt;</i><br>
<i>&gt; PS: If it doesn't, and if it isn't too much trouble, could you point me</i><br>
<i>&gt; to a way I can use my Umax scanner under Linux?  Thanks in advance</i><br>
<i>&gt; again.</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
  Hi,<br>
<p>
like described in the docs and manpage, parallel-port-scanners are not<br>
supported.<br>
UMAX did not give out any informations about the parallel port versions!<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">Oliver Rauch: "Re: Getting UMAX scanner to work with Future domain 1"</a>
<li> <b>Previous message:</b> <a href="0111.html">Christoph Doerbeck: "Re: Mustek 600 II N updates + file ownerships"</a>
<li> <b>Maybe in reply to:</b> <a href="0098.html">Cyberian Marauder: "Umax 610P Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
