<!-- received="Wed Aug 26 10:32:48 1998 PDT" -->
<!-- sent="26 Aug 1998 19:31:13 +0200" -->
<!-- name="Daniel Stodden" -->
<!-- email="stodden@informatik.tu-muenchen.de" -->
<!-- subject="Re: Mustek SP12000SP" -->
<!-- id="" -->
<!-- inreplyto="Wed, 26 Aug 1998 02:56:35 +0200 (CEST)"" -->
<title>sane-devel: Re: Mustek SP12000SP</title>
<h1>Re: Mustek SP12000SP</h1>
<b>Daniel Stodden</b> (<a href="mailto:stodden@informatik.tu-muenchen.de"><i>stodden@informatik.tu-muenchen.de</i></a>)<br>
<i>26 Aug 1998 19:31:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#125">[ date ]</a><a href="index.html#125">[ thread ]</a><a href="subject.html#125">[ subject ]</a><a href="author.html#125">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Robert Masters: "Mustek Paragon 1200 A3 Pro"</a>
<li> <b>Previous message:</b> <a href="0124.html">Christian Bucher: "Re: Mustek 600 II N updates + file ownerships"</a>
<li> <b>In reply to:</b> <a href="0123.html">Hugo van der Kooij: "Re: Mustek SP12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hugo van der Kooij &lt;<a href="mailto:hvdkooij@caiw.nl">hvdkooij@caiw.nl</a>&gt; writes:<br>
<p>
<p>
<i>&gt; Well.</i><br>
<i>&gt; </i><br>
<i>&gt; If I am not mistaken you will find in the archive a few messages about how</i><br>
<i>&gt; to add your variant into the table of supported scanners.</i><br>
<i>&gt; </i><br>
<i>&gt; If it turns out that it works that way please infor the author of the</i><br>
<i>&gt; backend about how you fixed it so he can make it permanent.</i><br>
<i>&gt; </i><br>
<i>&gt; Hugo.</i><br>
<p>
<p>
Hey -- it works !<br>
<p>
I found the hints on Andreas Bolschs modified sources for the<br>
sane-mustek backend at www.math.TU-Berlin.de/funktion/bolsch/sane/<br>
and it seems to work just fine with 0.74.<br>
<p>
Thanks a lot (especially to Andreas :) and sorry for not having<br>
had a better look at the archive before.<br>
<p>
regards,<br>
Daniel<br>
<p>
<p>
<pre>
-- 
___________________________________________________________________________
 <a href="mailto:stodden@in.tum.de">mailto:stodden@in.tum.de</a>
                                            You are not Dave. Who are You?
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0126.html">Robert Masters: "Mustek Paragon 1200 A3 Pro"</a>
<li> <b>Previous message:</b> <a href="0124.html">Christian Bucher: "Re: Mustek 600 II N updates + file ownerships"</a>
<li> <b>In reply to:</b> <a href="0123.html">Hugo van der Kooij: "Re: Mustek SP12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
