<!-- received="Mon Aug 31 08:08:56 1998 PDT" -->
<!-- sent="Mon, 31 Aug 1998 16:32:16 +0530" -->
<!-- name="Arun Tanksali" -->
<!-- email="tanksali@bgl.vsnl.net.in" -->
<!-- subject="Re : Windows Port" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Re : Windows Port</title>
<h1>Re : Windows Port</h1>
<b>Arun Tanksali</b> (<a href="mailto:tanksali@bgl.vsnl.net.in"><i>tanksali@bgl.vsnl.net.in</i></a>)<br>
<i>Mon, 31 Aug 1998 16:32:16 +0530</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Andreas Cittlau: "Mustek 600 II CD - y limit"</a>
<li> <b>Previous message:</b> <a href="0150.html">Jon Wikne: "Re: Mustek 600 II N updates + file ownerships"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I was not really prepared for the strong feelings the Win32 port issue<br>
generated. Though, with a Win issue involved, I should have guessed...<br>
<p>
I guess the designers would be happy to see SANE used on as wide a range of<br>
OS as possible (if you go by the introduction page on mostang.com). I will<br>
be starting with the 0.74 version (right now I am experimenting with 0.73).<br>
I expect to base SCSI operations on ASPI. W95 has ASPI in its distribution,<br>
so<br>
it makes a good starting point. NT, we need to use miniport etc. so maybe as<br>
a later step.<br>
Any suggestions appreciated.<br>
<p>
TIA,<br>
Arun<br>
<p>
<p>
<i>&gt; It seems to me that any of us who want SANE, want it for the specific</i><br>
<i>&gt; reason to get rid of windows once and for all.</i><br>
Not really. The reason I plan to use SANE is to overcome the difficulties of<br>
TWAIN.<br>
Windows does not come into the picture. I need to use scanners on different<br>
platforms -<br>
<p>
Windows _and_ embedded systems as well.<br>
<p>
<i>&gt; You need the collection of EMX.dll. Don't ask me what they do but there</i><br>
very<br>
<p>
important.<br>
<i>&gt; There is a Win32 version ofthe EMX files.</i><br>
Where (and hopefully, what?) are these EMX files ?<br>
<p>
<i>&gt; Andreas</i><br>
<i>&gt; (I would be happy to be a beta tester).</i><br>
Thanks! I'll take you up on that offer.<br>
<p>
<i>&gt; might convince some hardware manufacturers to write backend drivers which</i><br>
<i>&gt; definitionally themselves would have to be GPL and back-portable to other</i><br>
OSes.<br>
That would be a real good thing.<br>
<p>
<i>&gt; Rather than port SANE to Windows, couldn't someone write a TWAIN driver</i><br>
<i>&gt; for Windows that talks to saned?</i><br>
I guess that will also be needed at some point.<br>
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Andreas Cittlau: "Mustek 600 II CD - y limit"</a>
<li> <b>Previous message:</b> <a href="0150.html">Jon Wikne: "Re: Mustek 600 II N updates + file ownerships"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
