<!-- received="Mon Aug 31 14:20:56 1998 PDT" -->
<!-- sent="31 Aug 1998 23:21:58 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Mustek ScanExpress 12000SP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek ScanExpress 12000SP</title>
<h1>Mustek ScanExpress 12000SP</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>31 Aug 1998 23:21:58 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Oliver Graf: "Epson GT-6500 parallel"</a>
<li> <b>Previous message:</b> <a href="0159.html">Andreas Dilger: "Re: Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Maybe reply:</b> <a href="0101.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
System  linux 2.0.35, XFree86 3.3.2, gtk+ 1.0.5<br>
Adapter Adaptec 2940UW<br>
Scanner Mustek ScanExpress (Hah!) 12000SP<br>
<p>
Works fine for all formats using xscanimage, but preview will swap R and B<br>
(i.e. not RGB but BGR). Looks weird.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Oliver Graf: "Epson GT-6500 parallel"</a>
<li> <b>Previous message:</b> <a href="0159.html">Andreas Dilger: "Re: Windows port"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0101.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Maybe reply:</b> <a href="0101.html">Dr. Andreas Bolsch: "Re: Mustek ScanExpress 12000SP"</a>
<!-- reply="end" -->
</ul>
