<!-- received="Mon Aug 31 15:27:51 1998 PDT" -->
<!-- sent="Mon, 31 Aug 1998 15:27:32 -0700 (PDT)" -->
<!-- name="R Pickett" -->
<!-- email="emerson@hayseed.net" -->
<!-- subject="Re: Mustek scanner" -->
<!-- id="" -->
<!-- inreplyto="199808310442.XAA06822@isua3.iastate.edu" -->
<title>sane-devel: Re: Mustek scanner</title>
<h1>Re: Mustek scanner</h1>
<b>R Pickett</b> (<a href="mailto:emerson@hayseed.net"><i>emerson@hayseed.net</i></a>)<br>
<i>Mon, 31 Aug 1998 15:27:32 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#162">[ date ]</a><a href="index.html#162">[ thread ]</a><a href="subject.html#162">[ subject ]</a><a href="author.html#162">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Glenn McCorkle: "Re: Mustek 600 II CD - y limit"</a>
<li> <b>Previous message:</b> <a href="0161.html">Oliver Graf: "Epson GT-6500 parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 30 Aug 1998, Matthew R Pinkston wrote:<br>
<p>
<i>&gt; Dear Sirs,</i><br>
<i>&gt;  I was just wondering if there is any work being done on SANE </i><br>
<i>&gt; compatibility with the Mustek 600 III EP Plus scanner. </i><br>
<p>
I asked this same question (in rather longer form, offering any help I could<br>
muster as a non-coder) about a month ago, to this list, and have also seen one<br>
other such request besides this one come through here.  None of them have been<br>
answered or even acknowledged.  I start to get the feeling that asking for<br>
status on this scanner is somehow a faux pas around here....<br>
<p>
So, let me reassert my voice in the chorus:  What do we know about supporting<br>
this scanner?  How can I help get this scanner supported?  Which developer<br>
best understands parallel scanner stuff, and would be interested in taking<br>
this on, with at least me helping in every possible way?<br>
<p>
<pre>
-- 
----------------------------------------------------------------
R Pickett                Look around you. This is what the world
<a href="mailto:emerson@hayseed.net">emerson@hayseed.net</a>      looks like at the end of the millenium.
----------------------------------------------------------------
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0163.html">Glenn McCorkle: "Re: Mustek 600 II CD - y limit"</a>
<li> <b>Previous message:</b> <a href="0161.html">Oliver Graf: "Epson GT-6500 parallel"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
