<!-- received="Thu Apr  2 20:54:38 1998 PST" -->
<!-- sent="Thu, 2 Apr 1998 23:08:56 +0100 (BST)" -->
<!-- name="Martin Radford" -->
<!-- email="martin@zamenhof.demon.co.uk" -->
<!-- subject="Mustek MSF-06000SP Rev. 2.10" -->
<!-- id="m0yKsAK-000vJkC@zamenhof.demon.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Mustek MSF-06000SP Rev. 2.10</title>
<h1>Mustek MSF-06000SP Rev. 2.10</h1>
<b>Martin Radford</b> (<a href="mailto:martin@zamenhof.demon.co.uk"><i>martin@zamenhof.demon.co.uk</i></a>)<br>
<i>Thu, 2 Apr 1998 23:08:56 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">David Mosberger-Tang: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Previous message:</b> <a href="0022.html">David Wolfskill: "Re:  Advertisement: Website Hosting"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Reply:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all<br>
<p>
Does anyone have any knowledge of the Mustek MSF-06000SP revision 2.10?<br>
I notice that the man page says that revision 3.12 firmware is known<br>
to work.  The scanner appears to work, but I only get NULs (ASCII 0)<br>
written out as data.  Is this a known firmware problem, or is it a<br>
fault with the scanner?  Is there anything I can do to help debug this?<br>
<p>
Martin<br>
<pre>
-- 
Martin Radford | <a href="mailto:martin@zamenhof.demon.co.uk">martin@zamenhof.demon.co.uk</a> 
<p>
"Only wimps use tape backup: _real_ men just upload their important stuff
  on ftp, and let the rest of the world mirror it ;)"  - Linus Torvalds
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">David Mosberger-Tang: "Re: sane 0.71 and microtek E3"</a>
<li> <b>Previous message:</b> <a href="0022.html">David Wolfskill: "Re:  Advertisement: Website Hosting"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Reply:</b> <a href="0030.html">Dr. Andreas Bolsch: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<!-- reply="end" -->
</ul>
