<!-- received="Fri Apr  3 09:13:52 1998 PST" -->
<!-- sent="Fri, 03 Apr 1998 17:10:30 +0200" -->
<!-- name="zerbst@tu-harburg.de" -->
<!-- email="zerbst@tu-harburg.de" -->
<!-- subject="Re: Microtek 35t +" -->
<!-- id="" -->
<!-- inreplyto="Microtek 35t +" -->
<title>sane-devel: Re: Microtek 35t +</title>
<h1>Re: Microtek 35t +</h1>
<a href="mailto:zerbst@tu-harburg.de"><i>zerbst@tu-harburg.de</i></a><br>
<i>Fri, 03 Apr 1998 17:10:30 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#35">[ date ]</a><a href="index.html#35">[ thread ]</a><a href="subject.html#35">[ subject ]</a><a href="author.html#35">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Rogier Wolff: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Previous message:</b> <a href="0034.html">Chris Pinkham: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello Matto,<br>
<p>
we tried your patches for the  microtek backend, successfully!<br>
<p>
We have tested all possible buttons and scales from the interface of<br>
xscanimage, they showed some effects.<br>
<p>
Thanks for this marvellous and fast support!<br>
<p>
Carsten<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0036.html">Rogier Wolff: "Re: Mustek MSF-06000SP Rev. 2.10"</a>
<li> <b>Previous message:</b> <a href="0034.html">Chris Pinkham: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
