<!-- received="Fri Apr  3 12:36:28 1998 PST" -->
<!-- sent="Fri, 03 Apr 98 13:25:58 -0700" -->
<!-- name="John Brush" -->
<!-- email="jbrush@aros.net" -->
<!-- subject="Can't figure it, maybe some one can tell me." -->
<!-- id="199804032027.NAA00384@mars.aros.net" -->
<!-- inreplyto="m0yLBXQ-000J1uC@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Can't figure it, maybe some one can tell me.</title>
<h1>Can't figure it, maybe some one can tell me.</h1>
<b>John Brush</b> (<a href="mailto:jbrush@aros.net"><i>jbrush@aros.net</i></a>)<br>
<i>Fri, 03 Apr 98 13:25:58 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Previous message:</b> <a href="0041.html">Matto Marjanovic: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>In reply to:</b> <a href="0038.html">Matto Marjanovic: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am trying to use os2sane with a microtek E3. I simply use the sample<br>
command line I find in the readme and the scan works. However, I am<br>
unable to figure out how to adjust the brightness, contrast, color vs<br>
lineart, resolution, etc.<br>
<p>
It seems that I have to scan the image, and then run scanimage against<br>
that original image?, but no matter what I try, the response is that<br>
the command it bogus. I use -b, brightness, -brightness, and every<br>
other combination I can think of, but to no avail<br>
<p>
I have searched the scanimage microtek -h output and everything else I<br>
can find, but have concluded that if its in there, I am too stupid to<br>
see it.<br>
<p>
I appreciate the replies I have received telling me to check out the<br>
microtek -h and all, but is there anyone who can tell me the command<br>
line to scan at 300dpi, color, and brightness at 50% as a example to<br>
learn from?<br>
<p>
I do this:<br>
<p>
scanimage -d microtek -l 0 -t 0 -x 120 -y 180 &gt; out.pbm (embellish<br>
needs *.pbm)<br>
<p>
and get a file that is too dark, and not enough resolution, so what<br>
should I do next?<br>
<p>
I realize this is sort of a 'no-brainer' for most, but I must have a<br>
tumor or something cause I just don't get it :-) And as proof of this<br>
statement, I even tried mtekscan and get nothing but errors as well. <br>
<p>
Any advice gratefully accepted. Send all 'RTFM' messages via email<br>
<a href="mailto:jbrush@aros.net">jbrush@aros.net</a> :)<br>
<p>
Thanks and Regards,<br>
<p>
John<br>
<p>
****************************************<br>
 [ Check OutThe Microsoft Boycott Campaign] <br>
         [www.abctec.com/~msbc]<br>
****************************************<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Yuri Dario: "Re: Canon 300 support? (in OS/2)"</a>
<li> <b>Previous message:</b> <a href="0041.html">Matto Marjanovic: "Re: Linux Sense buffer (was: sane 0.71 and microtek E3)"</a>
<li> <b>In reply to:</b> <a href="0038.html">Matto Marjanovic: "Re: sane_read returning *len == 0"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
