<!-- received="Thu Apr  9 15:16:11 1998 PDT" -->
<!-- sent="Thu, 09 Apr 1998 15:15:04 -0700" -->
<!-- name="MIMI TAM" -->
<!-- email="mimi.tam@Sun.COM" -->
<!-- subject="Solaris x86 support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Solaris x86 support</title>
<h1>Solaris x86 support</h1>
<b>MIMI TAM</b> (<a href="mailto:mimi.tam@Sun.COM"><i>mimi.tam@Sun.COM</i></a>)<br>
<i>Thu, 09 Apr 1998 15:15:04 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Udo Gerber: "SANE support for Microtek ScanMaker 630???"</a>
<li> <b>Previous message:</b> <a href="0091.html">Jeff Freedman: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<li> <b>Reply:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Any plans to support the Solaris x86 platform?<br>
<p>
<pre>
--
<p>
-Mimi-
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Udo Gerber: "SANE support for Microtek ScanMaker 630???"</a>
<li> <b>Previous message:</b> <a href="0091.html">Jeff Freedman: "Re: Question regarding PNM-Format (OS/2)"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<li> <b>Reply:</b> <a href="0140.html">Martin Huber: "Re: Solaris x86 support"</a>
<!-- reply="end" -->
</ul>
