<!-- received="Fri Apr 10 07:21:41 1998 PDT" -->
<!-- sent="Fri, 10 Apr 1998 16:18:51 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: sane-0.72 and mustek 600 II N" -->
<!-- id="" -->
<!-- inreplyto="19980410010613.20252@hmg1.robin.de" -->
<title>sane-devel: Re: sane-0.72 and mustek 600 II N</title>
<h1>Re: sane-0.72 and mustek 600 II N</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Fri, 10 Apr 1998 16:18:51 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Damyan Pepper: "Artec and Scanner Documentation"</a>
<li> <b>Previous message:</b> <a href="0098.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 10 Apr 1998, Henning Meier-Geinitz wrote:<br>
<p>
<i>&gt; 9) </i><br>
<i>&gt; If the xscanimage preview window is closed xscanimage is terminated.</i><br>
<p>
Does this happen with the PNM: 0 device as well?<br>
<p>
<i>&gt; 12)</i><br>
<i>&gt; Using the gimp with xscanimage plug-in, on gimp startup xscanimage</i><br>
<i>&gt; tries to talk to the scanner. The scanner does its self-test for about</i><br>
<i>&gt; 20 seconds every time. This isn't nice, if you only want to draw a</i><br>
<i>&gt; picture and don't use the scanner this time. Perhaps the shortcuts in</i><br>
<i>&gt; the xtens menu in gimp could be created *after* the first use of</i><br>
<i>&gt; xscanimage?</i><br>
<p>
I do think this is an issue you need to send to the GIMP crew.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Damyan Pepper: "Artec and Scanner Documentation"</a>
<li> <b>Previous message:</b> <a href="0098.html">Oliver.Rauch@Wolfsburg.DE: "Re: /proc/scsi/scsi"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
