<!-- received="Wed Apr 15 15:05:58 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 17:04:18 +0000" -->
<!-- name="Adam Williams" -->
<!-- email="awilliam@whitemice.org" -->
<!-- subject="INFO FB213 SUPPORTED?" -->
<!-- id="9804151704.ZM29032@estate1.whitemice.org" -->
<!-- inreplyto="" -->
<title>sane-devel: INFO FB213 SUPPORTED?</title>
<h1>INFO FB213 SUPPORTED?</h1>
<b>Adam Williams</b> (<a href="mailto:awilliam@whitemice.org"><i>awilliam@whitemice.org</i></a>)<br>
<i>Wed, 15 Apr 1998 17:04:18 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Hugo van der Kooij: "Re: sane-0.72-1.i386.rpm not yet available"</a>
<li> <b>Previous message:</b> <a href="0152.html">Stefan Gombar: "Need scanner info, please (OS/2, but also others)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am looking at the following scanner<br>
<p>
Model No.: FB213<br>
                      DPI: Up to 4800 dpi user-selectable resolution<br>
                      Speed: Single Pass<br>
                      Scannable Area: 8.5" X 11"<br>
<p>
by Info Peripherals and need to know if anyone has used one of these with SANE<br>
or Linux in general.  it is not listed in the "Supported Scanner"  but I know<br>
some scanners are just knock-offs of other brands.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Hugo van der Kooij: "Re: sane-0.72-1.i386.rpm not yet available"</a>
<li> <b>Previous message:</b> <a href="0152.html">Stefan Gombar: "Need scanner info, please (OS/2, but also others)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
