<!-- received="Wed Apr 15 19:17:43 1998 PDT" -->
<!-- sent="Wed, 15 Apr 1998 20:16:48 -0600 (MDT)" -->
<!-- name="Anonymous FTP maintenance" -->
<!-- email="archiver@hobbes.NMSU.Edu" -->
<!-- subject="A request..." -->
<!-- id="199804160216.UAA11346@hobbes.NMSU.Edu" -->
<!-- inreplyto="" -->
<title>sane-devel: A request...</title>
<h1>A request...</h1>
<b>Anonymous FTP maintenance</b> (<a href="mailto:archiver@hobbes.NMSU.Edu"><i>archiver@hobbes.NMSU.Edu</i></a>)<br>
<i>Wed, 15 Apr 1998 20:16:48 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#156">[ date ]</a><a href="index.html#156">[ thread ]</a><a href="subject.html#156">[ subject ]</a><a href="author.html#156">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Jan Krueger: "Mustek 300 / 600 Command-set ..."</a>
<li> <b>Previous message:</b> <a href="0155.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I was on the SANE homepage, and I noticed that your links to Hobbes are using<br>
FTP.  Could you please have them use HTTP?  I didn't slave away over the HTTP<br>
interface for nothing, you know. :)  Also, your users will thank you for<br>
being linked to a happy friendly interface, and I'll thank you for having users<br>
take up less system resources and getting actual information about Hobbes and<br>
the directories and such. :)<br>
<p>
Thanks<br>
<a href="mailto:archiver@hobbes.nmsu.edu">archiver@hobbes.nmsu.edu</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0157.html">Jan Krueger: "Mustek 300 / 600 Command-set ..."</a>
<li> <b>Previous message:</b> <a href="0155.html">Jan Krueger: "Re: DTC436e SCSI &amp; ScanExpress &amp; other Mustek-Scanner command-sets"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
