<!-- received="Sun Apr 19 13:30:15 1998 PDT" -->
<!-- sent="Sun, 19 Apr 1998 16:30:42 -0400 (EDT)" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Minolta Reply (was:Public Relation Department (Ref. No." -->
<!-- id="199804192030.QAA05441@easysw.com" -->
<!-- inreplyto="Minolta Reply (was:Public Relation Department (Ref. No." -->
<title>sane-devel: Re: Minolta Reply (was:Public Relation Department (Ref. No.</title>
<h1>Re: Minolta Reply (was:Public Relation Department (Ref. No.</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Sun, 19 Apr 1998 16:30:42 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#203">[ date ]</a><a href="index.html#203">[ thread ]</a><a href="subject.html#203">[ subject ]</a><a href="author.html#203">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0202.html">John Paul Goodman: "Re: Problems compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Will documentation under NDA allow you to write GPL source code? Better</i><br>
<i>&gt; check that before starting off.</i><br>
<p>
That is, of course, one major problem.  EPSON, for example, won't let us<br>
release optimized print drivers for the GIMP because of NDA limits for<br>
the first year or so (the docos eventually become generally available<br>
once EPSON has their next generation of hardware).<br>
<p>
I'll make it known that the software will be freely available to them<br>
when (and if) I contact them through ESP (no pun intended... :), so<br>
it'll be up to them whether or not we can distribute source for the<br>
backend...<br>
<p>
________________________________________________________________________<br>
 Mike Sweet         Software for HP, SGI,        Easy Software Products<br>
 (301) 373-9603     and Sun Workstations       44145 Airport View Drive<br>
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems compiling SANE"</a>
<li> <b>Previous message:</b> <a href="0202.html">John Paul Goodman: "Re: Problems compiling SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
