<!-- received="Wed Apr 22 09:26:22 1998 PDT" -->
<!-- sent="Wed, 22 Apr 1998 18:23:42 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Building SANE with RPM" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Building SANE with RPM</title>
<h1>Building SANE with RPM</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Wed, 22 Apr 1998 18:23:42 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#240">[ date ]</a><a href="index.html#240">[ thread ]</a><a href="subject.html#240">[ subject ]</a><a href="author.html#240">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Jim Ford: "Re: 0.69 - 0.72 upgrade"</a>
<li> <b>Previous message:</b> <a href="0239.html">Leigh Orf: "Re: 0.69 - 0.72 upgrade"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
At present some SANE RPM's are not working fine. SANE-0.72-3 RPMS should<br>
appear sone on ftp.redhat.com that do contain a temporarily workaround.<br>
<p>
However somehow the current code is not relocatable. (some directories are<br>
stamped inside the code) I am investigating a fix to make the building<br>
process relocatble. This is a requirement to build a proper RPM without<br>
disturbing actual code (see: BuildRoot).<br>
<p>
This may take me some days however. I did try to fix the manual pages<br>
first but at present was not 100% successfull. If I can figure this out I<br>
will propose a patch to make the code relocatable in the way as is needed<br>
to build a RPM with BuildRoot option.<br>
<p>
Hugo.<br>
<p>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Jim Ford: "Re: 0.69 - 0.72 upgrade"</a>
<li> <b>Previous message:</b> <a href="0239.html">Leigh Orf: "Re: 0.69 - 0.72 upgrade"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
