<!-- received="Thu Apr 23 02:35:49 1998 PDT" -->
<!-- sent="Thu, 23 Apr 1998 11:35:55 +0100" -->
<!-- name="Pascal Kreyer" -->
<!-- email="Pascal.Kreyer@bull.net" -->
<!-- subject="SANE for NeXTSTEP" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE for NeXTSTEP</title>
<h1>SANE for NeXTSTEP</h1>
<b>Pascal Kreyer</b> (<a href="mailto:Pascal.Kreyer@bull.net"><i>Pascal.Kreyer@bull.net</i></a>)<br>
<i>Thu, 23 Apr 1998 11:35:55 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#249">[ date ]</a><a href="index.html#249">[ thread ]</a><a href="subject.html#249">[ subject ]</a><a href="author.html#249">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Joerg Eggeling: "gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0248.html">Michael Hanf: "Color Problems with Mustek 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I search a binaries version of SANE for the NeXTSTEP environements.<br>
<p>
Your are this ?<br>
<p>
Thank for your prompt response.<br>
<p>
Pascal<br>
<p>
<a href="mailto:Pascal.Kreyer@bull.net">mailto:Pascal.Kreyer@bull.net</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0250.html">Joerg Eggeling: "gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0248.html">Michael Hanf: "Color Problems with Mustek 12000SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
