<!-- received="Fri Apr 24 08:43:41 1998 PDT" -->
<!-- sent="Thu, 23 Apr 1998 19:43:56 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: gtk_tooltips" -->
<!-- id="199804231743.TAA00278@Babylon5.wolfsburg.de" -->
<!-- inreplyto="002501bd6e9d$0fb71720$421091c3@workstation" -->
<title>sane-devel: Re: gtk_tooltips</title>
<h1>Re: gtk_tooltips</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Thu, 23 Apr 1998 19:43:56 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#258">[ date ]</a><a href="index.html#258">[ thread ]</a><a href="subject.html#258">[ subject ]</a><a href="author.html#258">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Brent L. Bates: "Can't get SANE to compile on SGI"</a>
<li> <b>Previous message:</b> <a href="0257.html">Peter Biechele: "Mustek 1200SP V1.02 with Color ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; I simply cannot get Sane 0.72 to compile. I have gtk 1.0 installed but I</i><br>
<i>&gt; always</i><br>
<i>&gt; get error messages when executing the make command.</i><br>
<p>
What error-messages do you get?<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0259.html">Brent L. Bates: "Can't get SANE to compile on SGI"</a>
<li> <b>Previous message:</b> <a href="0257.html">Peter Biechele: "Mustek 1200SP V1.02 with Color ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
