<!-- received="Sat Apr 25 09:17:35 1998 PDT" -->
<!-- sent="Fri, 24 Apr 1998 17:46:25 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: UMAX 1200S" -->
<!-- id="199804241546.RAA00210@Babylon5.wolfsburg.de" -->
<!-- inreplyto="353F79FA.E53EAEAF@watford.net" -->
<title>sane-devel: Re: UMAX 1200S</title>
<h1>Re: UMAX 1200S</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Fri, 24 Apr 1998 17:46:25 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#263">[ date ]</a><a href="index.html#263">[ thread ]</a><a href="subject.html#263">[ subject ]</a><a href="author.html#263">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0262.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0273.html">Jim Ford: "Re: UMAX 1200S"</a>
<li> <b>Reply:</b> <a href="0273.html">Jim Ford: "Re: UMAX 1200S"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Philip,<br>
<p>
<i>&gt; I'm still waiting delivery  of the scanner. Apparently the 1200S has been</i><br>
<i>&gt; replaced by the 1210S (At least I think it's 10) and that's the one I expect</i><br>
<i>&gt; to get. I'll let you know how I get on with it.</i><br>
<p>
The Astra 1210S is never tested with the umax-backend.<br>
I don't know if it works.<br>
<p>
If the differences between the 1200S and the 1210S are equeal<br>
to the differences between the 600S and the 610S, I suggest you<br>
try to get the 1200S !!!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0262.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0273.html">Jim Ford: "Re: UMAX 1200S"</a>
<li> <b>Reply:</b> <a href="0273.html">Jim Ford: "Re: UMAX 1200S"</a>
<!-- reply="end" -->
</ul>
