<!-- received="Sat Apr 25 10:35:05 1998 PDT" -->
<!-- sent="Sat, 25 Apr 1998 19:35:58 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problems with xscanimage and SANE 0.72" -->
<!-- id="199804251735.TAA00261@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199804251703.NAA26642@emerald.accessv.com" -->
<title>sane-devel: Re: Problems with xscanimage and SANE 0.72</title>
<h1>Re: Problems with xscanimage and SANE 0.72</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sat, 25 Apr 1998 19:35:58 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#266">[ date ]</a><a href="index.html#266">[ thread ]</a><a href="subject.html#266">[ subject ]</a><a href="author.html#266">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0265.html">Oliver.Rauch@Wolfsburg.DE: "Re: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0267.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Rob,<br>
<p>
please have a look where gtk/gtktooltips.h <br>
on my system it is at:<br>
/usr/local/include/gtk/gtktooltips.h<br>
<p>
but it may also be at:<br>
/usr/include/gtk/gtktooltips.h<br>
<p>
if you found it, look for:<br>
 gtk_tooltips_set_tip<br>
 or<br>
 gtk_tooltips_set_tips<br>
<p>
Tell me what you find!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0265.html">Oliver.Rauch@Wolfsburg.DE: "Re: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0264.html">Rob Fargher: "Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0267.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
