<!-- received="Sat Apr 25 15:28:08 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 00:25:20 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Problems with xscanimage and SANE 0.72" -->
<!-- id="" -->
<!-- inreplyto="199804252113.RAA05003@emerald.accessv.com" -->
<title>sane-devel: Re: Problems with xscanimage and SANE 0.72</title>
<h1>Re: Problems with xscanimage and SANE 0.72</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 26 Apr 1998 00:25:20 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#269">[ date ]</a><a href="index.html#269">[ thread ]</a><a href="subject.html#269">[ subject ]</a><a href="author.html#269">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0268.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0267.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0271.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Next in thread:</b> <a href="0270.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 25 Apr 1998, Rob Fargher wrote:<br>
<p>
<i>&gt; On Sat, 25 Apr 1998 19:35:58 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;please have a look where gtk/gtktooltips.h </i><br>
<i>&gt; &gt;on my system it is at:</i><br>
<i>&gt; &gt;/usr/local/include/gtk/gtktooltips.h</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;but it may also be at:</i><br>
<i>&gt; &gt;/usr/include/gtk/gtktooltips.h</i><br>
<i>&gt; </i><br>
<i>&gt;   I found it in both places</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; &gt;if you found it, look for:</i><br>
<i>&gt; &gt; gtk_tooltips_set_tips</i><br>
<i>&gt; &gt;Tell me what you find!</i><br>
<i>&gt; </i><br>
<i>&gt; In /usr/include/gtk, it said:</i><br>
<i>&gt; </i><br>
<i>&gt; void  gtk_tooltips/set_tips   (GtkTooltips *tooltips,</i><br>
<i>&gt;                                           GtKWidget *widget,</i><br>
<i>&gt;                                           const gchar *tips_text);</i><br>
<i>&gt; </i><br>
<i>&gt; In /usr/local/include/gtk, it said the same but with one more line:</i><br>
<i>&gt;                                          const gchar *tip_private);</i><br>
<i>&gt; </i><br>
<i>&gt; Given that the gtktooltips.h file in the gtk-1.0.0 distribution had the </i><br>
<i>&gt; extra line, I copied it to /usr/include/gtk.  I then rebuilt both gtk (first)</i><br>
<i>&gt; and sane (second) with :</i><br>
<i>&gt; "make clean"</i><br>
<i>&gt; "make"</i><br>
<i>&gt; "make install"</i><br>
<i>&gt; </i><br>
<i>&gt;   When xscanimage was compiling, I got the warning that gtk_tooltips_set_tips </i><br>
<i>&gt; was implicitly defined.  Upon running xscanimage, I got the same error message</i><br>
<i>&gt; about loading shared libraries. </i><br>
<p>
As suggested clean up all of it as you seem to have two versions of gtk<br>
installed which does hurt you now.<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0270.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Previous message:</b> <a href="0268.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<li> <b>In reply to:</b> <a href="0267.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0271.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>Next in thread:</b> <a href="0270.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
