<!-- received="Sun Apr 26 08:11:13 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 17:08:24 +0200 (MET DST)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Re: Problems with xscanimage and SANE 0.72" -->
<!-- id="" -->
<!-- inreplyto="199804261506.LAA10945@emerald.accessv.com" -->
<title>sane-devel: Re: Problems with xscanimage and SANE 0.72</title>
<h1>Re: Problems with xscanimage and SANE 0.72</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sun, 26 Apr 1998 17:08:24 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#275">[ date ]</a><a href="index.html#275">[ thread ]</a><a href="subject.html#275">[ subject ]</a><a href="author.html#275">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0276.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0274.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>In reply to:</b> <a href="0274.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 26 Apr 1998, Rob Fargher wrote:<br>
<p>
<i>&gt; On Sun, 26 Apr 1998 09:57:10 +0200 (MET DST), <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; then make sure you use the original distributions</i><br>
<i>&gt; &gt; (no changes in gtkclue.c !!!)</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; then make distclean, configure, make and make install gtk</i><br>
<i>&gt; &gt; then make distclean, configure, make and make install gimp</i><br>
<i>&gt; &gt; then make distclean, configure, make and make install sane</i><br>
<i>&gt; </i><br>
<i>&gt;   I followed your instructions to the letter.</i><br>
<i>&gt; </i><br>
<i>&gt; 1) GTK+-1.0.0 seemed to compile and install OK.</i><br>
<i>&gt; </i><br>
<i>&gt; 2) GIMP</i><br>
<i>&gt;     a) During the configure stage, I get "Checking for gtk_tooltips_set_tooltips ... (cached) no."</i><br>
<i>&gt;     b) The compile seemed to work and install OK.  However when I try to run it, the opening </i><br>
<i>&gt;         screen comes up but the GIMP crashes when loading extension-script-fu as follows:</i><br>
<i>&gt;         /usr/lib/gimp/0.99.12/plug-ins/script-fu:  error in loading shared libraries </i><br>
<i>&gt;         libgimpui.so.1: cannot open shared objectfile: no such file or directory</i><br>
<i>&gt;         wire-read: unexpected EOF (plug-in crashed?)</i><br>
<i>&gt;        </i><br>
<i>&gt;         I am compiling and installing gimp-0.99.27.  The reference to 0.99.12 in the lib</i><br>
<i>&gt;         path confuses me.</i><br>
<p>
Are you a million percent sure you do NOT (repeat: NOT) have ANY old<br>
libraries on your system?<br>
<p>
<i>&gt; 3) SANE 0.72 still doesn't compile. The error message is as follows:</i><br>
<i>&gt;       </i><br>
<i>&gt;       gktglue.c: In function 'set tooltip': gtkglue.c:80:warning: implicit declaration of function</i><br>
<i>&gt;                      'gtk_tooltips_set_tips'.</i><br>
<i>&gt;       gtkglue.o: In function 'set tooltip': /tmp/sane-0.72/frontend/gtkglue.c:80: undefined</i><br>
<i>&gt;                      reference to 'gtk-tooltips_set_tips'</i><br>
<i>&gt;       make[1]:  ***[xscanimage] Error 1</i><br>
<i>&gt; </i><br>
<i>&gt; Many thanks for your valiant efforts! :-)</i><br>
<p>
What happens with gtk 0.99.10 instead of 1.0.0 (famous point O syndrome?)<br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0276.html">Joerg Eggeling: "Re: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0274.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<li> <b>In reply to:</b> <a href="0274.html">Rob Fargher: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0282.html">Oliver.Rauch@Wolfsburg.DE: "Re: Problems with xscanimage and SANE 0.72"</a>
<!-- reply="end" -->
</ul>
