<!-- received="Sun Apr 26 10:50:17 1998 PDT" -->
<!-- sent="Sun, 26 Apr 1998 19:39:58 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: gtk_tooltips" -->
<!-- id="199804261739.TAA00740@Babylon5.wolfsburg.de" -->
<!-- inreplyto="35435060.9EF7EE9A@cuxonline.de" -->
<title>sane-devel: Re: gtk_tooltips</title>
<h1>Re: gtk_tooltips</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 26 Apr 1998 19:39:58 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#279">[ date ]</a><a href="index.html#279">[ thread ]</a><a href="subject.html#279">[ subject ]</a><a href="author.html#279">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S"</a>
<li> <b>Previous message:</b> <a href="0278.html">Matto Marjanovic: "Two *other* problems with xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Joerg,<br>
<p>
<i>&gt; I have it running, finally. Simply removing everything did not work. A friend</i><br>
<i>&gt; of mine mentioned that yast puts libs in unusual places. So I used to remove</i><br>
<i>&gt; the old files and reinstalled everything the way you mentioned it. Now my</i><br>
<i>&gt; snapscan works fine.</i><br>
<p>
Fine,<br>
<p>
bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0280.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S"</a>
<li> <b>Previous message:</b> <a href="0278.html">Matto Marjanovic: "Two *other* problems with xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
