<!-- received="Mon Apr 27 13:41:51 1998 PDT" -->
<!-- sent="Mon, 27 Apr 1998 22:40:13 +0200" -->
<!-- name="Ruediger Berlich" -->
<!-- email="Ruediger.Berlich@suse.de" -->
<!-- subject="Re: Re[2]: gtk_tooltips" -->
<!-- id="srb-9803272040.AA00502170@Galois.suse.de" -->
<!-- inreplyto="m0yTb8F-000FgNC@darkstar" -->
<title>sane-devel: Re: Re[2]: gtk_tooltips</title>
<h1>Re: Re[2]: gtk_tooltips</h1>
<b>Ruediger Berlich</b> (<a href="mailto:Ruediger.Berlich@suse.de"><i>Ruediger.Berlich@suse.de</i></a>)<br>
<i>Mon, 27 Apr 1998 22:40:13 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#300">[ date ]</a><a href="index.html#300">[ thread ]</a><a href="subject.html#300">[ subject ]</a><a href="author.html#300">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Ruediger Berlich: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0299.html">Jan Krueger: "Re: MUSTEK Scan Express 6000 P"</a>
<li> <b>In reply to:</b> <a href="0286.html">hopp@darkstar.fact.rhein-ruhr.de: "Re[2]: gtk_tooltips"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
vielen Dank fuer das Feedback !<br>
<p>
Ich habe die Mail an den Maintainer von gtk<br>
weitergeleitet.<br>
<p>
Mit freundlichen Gruessen,<br>
<p>
Ihr S.u.S.E. Support-Team<br>
Ruediger Berlich (<a href="mailto:Ruediger.Berlich@suse.de">Ruediger.Berlich@suse.de</a>)<br>
<p>
------------------------------------------------------------<br>
S.u.S.E. GmbH,    Gebhardtstr. 2,   90762 Fuerth,    Germany<br>
Tel: +49-911-3247130 Mo/Do 13-18.00,    Fax: +49-911-3206727<br>
<a href="http://www.suse.de/Support/sdb">http://www.suse.de/Support/sdb</a>        Email: <a href="mailto:support@suse.de">support@suse.de</a><br>
------------------------------------------------------------<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Ruediger Berlich: "Re: Re[2]: gtk_tooltips"</a>
<li> <b>Previous message:</b> <a href="0299.html">Jan Krueger: "Re: MUSTEK Scan Express 6000 P"</a>
<li> <b>In reply to:</b> <a href="0286.html">hopp@darkstar.fact.rhein-ruhr.de: "Re[2]: gtk_tooltips"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
