<!-- received="Thu Apr 30 09:51:42 1998 PDT" -->
<!-- sent="Thu, 30 Apr 1998 11:50:53 -0500 (CDT)" -->
<!-- name="Ray Muno" -->
<!-- email="muno@aem.umn.edu" -->
<!-- subject="Polaroid SprintScan 35" -->
<!-- id="199804301650.LAA25787@monsoon" -->
<!-- inreplyto="" -->
<title>sane-devel: Polaroid SprintScan 35</title>
<h1>Polaroid SprintScan 35</h1>
<b>Ray Muno</b> (<a href="mailto:muno@aem.umn.edu"><i>muno@aem.umn.edu</i></a>)<br>
<i>Thu, 30 Apr 1998 11:50:53 -0500 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#319">[ date ]</a><a href="index.html#319">[ thread ]</a><a href="subject.html#319">[ subject ]</a><a href="author.html#319">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0320.html">Matto Marjanovic: "Re: Agfa Arcus II"</a>
<li> <b>Previous message:</b> <a href="0318.html">Matto Marjanovic: "xscanimage patch #2(er, 3):  preview window segfault"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there any SANE support for the Polaroid SprintScan family of film<br>
scanners?<br>
<pre>
-- 
=============================================================================
 
 Ray Muno                           <a href="http://www.aem.umn.edu/people/staff/muno">http://www.aem.umn.edu/people/staff/muno</a>
 University of Minnesota                          e-mail:   <a href="mailto:muno@aem.umn.edu">muno@aem.umn.edu</a>
 Aerospace Engineering and Mechanics               Phone:     (612) 625-9531
 110 Union St. S.E.		                     FAX:     (612) 626-1558
 Minneapolis, Mn 55455			
<p>
=============================================================================
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0320.html">Matto Marjanovic: "Re: Agfa Arcus II"</a>
<li> <b>Previous message:</b> <a href="0318.html">Matto Marjanovic: "xscanimage patch #2(er, 3):  preview window segfault"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
