<!-- received="Sun Dec 29 11:57:54 1996 MST" -->
<!-- sent="Sun, 29 Dec 1996 12:02:33 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: MetaDL issues" -->
<!-- id="199612291902.MAA01569@panda.mosberger" -->
<!-- inreplyto="MetaDL issues" -->
<title>sane-devel: Re: MetaDL issues</title>
<h1>Re: MetaDL issues</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 29 Dec 1996 12:02:33 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#22">[ date ]</a><a href="index.html#22">[ thread ]</a><a href="subject.html#22">[ subject ]</a><a href="author.html#22">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Tristan Tarrant: "Re: MetaDL issues"</a>
<li> <b>Previous message:</b> <a href="0021.html">Tristan Tarrant: "MetaDL issues"</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Tristan Tarrant: "MetaDL issues"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 29 Dec 1996 18:38:28 +0000 (GMT), Tristan Tarrant &lt;<a href="mailto:tst@orthanc.isengard.com.galactica.it">tst@orthanc.isengard.com.galactica.it</a>&gt; said:</i><br>
<p>
  Tristan&gt; I was playing around with the metadl backend, and<br>
  Tristan&gt; discovered that it tries to open the shared library without<br>
  Tristan&gt; a path. Shouldn't it instead look into<br>
  Tristan&gt; /usr/local/etc/sane.d ? Or should the sysadmin add that<br>
  Tristan&gt; directory to the ld.so.conf or LD_LIBRARY_PATH ? Since all<br>
  Tristan&gt; sane backends reside there I think it's a good idea to have<br>
  Tristan&gt; metadl look there as well.<br>
<p>
If you do a "make install", the SANE libs get installed in<br>
/usr/local/lib (or /usr/lib, depending on what prefix you pick), so<br>
ldconfig should pick it up automatically.  Does this not work?<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0023.html">Tristan Tarrant: "Re: MetaDL issues"</a>
<li> <b>Previous message:</b> <a href="0021.html">Tristan Tarrant: "MetaDL issues"</a>
<li> <b>Maybe in reply to:</b> <a href="0021.html">Tristan Tarrant: "MetaDL issues"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
