<!-- received="Fri Jan 24 13:36:57 1997 MST" -->
<!-- sent="Fri, 24 Jan 1997 14:12:21 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="List problem ?" -->
<!-- id="m0vnlQc-000BYVC@charon.beck-sw.de" -->
<!-- inreplyto="199701161544.IAA10681@panda.mosberger" -->
<title>sane-devel: List problem ?</title>
<h1>List problem ?</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 24 Jan 1997 14:12:21 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#43">[ date ]</a><a href="index.html#43">[ thread ]</a><a href="subject.html#43">[ subject ]</a><a href="author.html#43">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David  Mosberger: "Re: Get-Option ..."</a>
<li> <b>Previous message:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<li> <b>In reply to:</b> <a href="0032.html">David Mosberger-Tang: "Re: Microtek SANE backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
I just received three articles with a body of :<br>
<p>
<i>&gt; &lt;&lt;&lt; No Message Collected &gt;&gt;&gt;</i><br>
<p>
Is this a malfunction of the list or of some local system ? <br>
I.e. did you (the others on the list) get them correctly ?<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
===  World-Wide-Web URL :  <a href="http://sunserver1.rz.uni-duesseldorf.de/~becka">http://sunserver1.rz.uni-duesseldorf.de/~becka</a>  ===
==============================================================================
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0044.html">David  Mosberger: "Re: Get-Option ..."</a>
<li> <b>Previous message:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<li> <b>In reply to:</b> <a href="0032.html">David Mosberger-Tang: "Re: Microtek SANE backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
