<!-- received="Fri Jan 24 23:12:35 1997 MST" -->
<!-- sent="Fri, 24 Jan 1997 21:05:19 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Get-Option ..." -->
<!-- id="199701250405.VAA03826@panda.mosberger" -->
<!-- inreplyto="Get-Option ..." -->
<title>sane-devel: Re: Get-Option ...</title>
<h1>Re: Get-Option ...</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 24 Jan 1997 21:05:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek Problems"</a>
<li> <b>Previous message:</b> <a href="0045.html">Stefan Luettringhaus-Kappel: "Mustek Problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0049.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Get-Option ..."</a>
<li> <b>Reply:</b> <a href="0049.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Get-Option ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 24 Jan 1997 15:27:56 +0100 (MET), <a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a> said:</i><br>
<p>
  Andy&gt; Well this is no problem, and I will change netsane<br>
  Andy&gt; accordingly, as it might be necessary lateron anyway for<br>
  Andy&gt; descriptor caching, but we should state that in the<br>
  Andy&gt; documentation just in case we get more backends that<br>
  Andy&gt; dynamically generate their option-values.<br>
<p>
Just read your proposed addition more carefully: I think we should<br>
make it even stronger: the location of the option descriptor must not<br>
change until the device is closed.  Option descriptors are very static<br>
in nature so this is not hard to implement in the backends and it does<br>
simply live for frontends considerably.<br>
<p>
	--david<br>
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek Problems"</a>
<li> <b>Previous message:</b> <a href="0045.html">Stefan Luettringhaus-Kappel: "Mustek Problems"</a>
<li> <b>Maybe in reply to:</b> <a href="0042.html">becka@sunserver1.rz.uni-duesseldorf.de: "Get-Option ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0049.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Get-Option ..."</a>
<li> <b>Reply:</b> <a href="0049.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Get-Option ..."</a>
<!-- reply="end" -->
</ul>
