<!-- received="Tue Jan 28 15:04:28 1997 MST" -->
<!-- sent="Tue, 28 Jan 1997 16:39:30 +0100 (MET)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: repeat post: xcam frontend for SANE" -->
<!-- id="m0vpFdC-000BXuC@charon.beck-sw.de" -->
<!-- inreplyto="199701271716.KAA25649@panda.mosberger" -->
<title>sane-devel: Re: repeat post: xcam frontend for SANE</title>
<h1>Re: repeat post: xcam frontend for SANE</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 28 Jan 1997 16:39:30 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#53">[ date ]</a><a href="index.html#53">[ thread ]</a><a href="subject.html#53">[ subject ]</a><a href="author.html#53">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">David Mosberger-Tang: "Re: repeat post: xcam frontend for SANE"</a>
<li> <b>Previous message:</b> <a href="0052.html">David Mosberger-Tang: "sane-0.42.tar.gz"</a>
<li> <b>In reply to:</b> <a href="0050.html">David Mosberger-Tang: "repeat post: xcam frontend for SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">David Mosberger-Tang: "Re: repeat post: xcam frontend for SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Finally, I found that the "first_frame" field in the parameter</i><br>
<i>&gt; structure to be rather useless.  I'd much prefer to have a</i><br>
<i>&gt; "last_frame" field that tells you when the last frame in an image</i><br>
<i>&gt; arrived.  Anybody have any objections to this?  I can think of a</i><br>
<i>&gt; reason to want "first_frame" (since it will always be true for the</i><br>
<i>&gt; first frame after sane_start), but "last_frame" would be extremely</i><br>
<i>&gt; handy (e.g., xcam would decode/buffer frames until it hits the</i><br>
<i>&gt; last_frame, and then actually render the collected image).</i><br>
<p>
Maybe the "first_frame" bit gets read a bit more "in the right place", i.e.<br>
_before_ starting to read the _first_ channel of the next image instead of<br>
_before_ starting to read the _last_ channel of the next image.<br>
<p>
What I mean is if F mean the time, when the *_frame var is read :<br>
<p>
first_frame: F RR GG BB F RR GG BB F ...<br>
<i>             |-+------+ |-+------+ |-+--</i><br>
<p>
last _frame:   RR GG L BB RR GG L BB RR<br>
               +-----|--+ +-----|--+<br>
<p>
Actually "first frame" should be interpreted as "finish processing the last<br>
frame and prepare for a new one".<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
==============================================================================
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
---
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe:    echo unsubscribe sane-devel | mail <a href="mailto:majordomo@azstarnet.com">majordomo@azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0054.html">David Mosberger-Tang: "Re: repeat post: xcam frontend for SANE"</a>
<li> <b>Previous message:</b> <a href="0052.html">David Mosberger-Tang: "sane-0.42.tar.gz"</a>
<li> <b>In reply to:</b> <a href="0050.html">David Mosberger-Tang: "repeat post: xcam frontend for SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">David Mosberger-Tang: "Re: repeat post: xcam frontend for SANE"</a>
<!-- reply="end" -->
</ul>
