<!-- received="Thu Oct  1 23:17:36 1998 PDT" -->
<!-- sent="Fri, 02 Oct 1998 06:02:29 +0000" -->
<!-- name="Durk Talsma" -->
<!-- email="D.talsma@direct.a2000.nl" -->
<!-- subject="Re: Having problems with canon backend" -->
<!-- id="" -->
<!-- inreplyto="Having problems with canon backend" -->
<title>sane-devel: Re: Having problems with canon backend</title>
<h1>Re: Having problems with canon backend</h1>
<b>Durk Talsma</b> (<a href="mailto:D.talsma@direct.a2000.nl"><i>D.talsma@direct.a2000.nl</i></a>)<br>
<i>Fri, 02 Oct 1998 06:02:29 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Oliver Graf: "Re: Never been mentioned"</a>
<li> <b>Previous message:</b> <a href="0006.html">Chris Sparks: "Re: Never been mentioned"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Simon Thompson wrote:<br>
<p>
<i>&gt; Have you made any progress on this as I have a similar setup, with</i><br>
<i>&gt; the same problems.</i><br>
<p>
Yes I have it working. The solution is pretty involved, because I upgraded<br>
from kernel 2.0.35 to 2.1.122. Basically, the old ncr driver failed, when<br>
invoking the scanner. The driver provided with the development kernels is<br>
way better. Also, the latest development kernels are quite stable these<br>
days, so that shouldn't be too much of a problem. I only had to iron out<br>
some network related problems, because I'm using the dhcp protocol to<br>
dynamically request an IP adress.<br>
<p>
Hope this helps.<br>
Durk<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<p>
<pre>
--
-----------------------------------------------------------------------
You can contact me at:
<a href="mailto:pn_talsma@macmail.psy.uva.nl">pn_talsma@macmail.psy.uva.nl</a>          (work)
<a href="mailto:talsma@uvapsy.psy.uva.nl">talsma@uvapsy.psy.uva.nl</a>         (more work)
<a href="mailto:d.talsma@direct.a2000.nl">d.talsma@direct.a2000.nl</a>      (home at last)
<p>
Or visit my website at:
<a href="http://people.a2000.nl/dtals">http://people.a2000.nl/dtals</a>
----------------------------------------------------------------------
"Dave, this conversation can serve no further purpose anymore, goodbye"
<p>
                                                           - HAL 9000 -
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">Oliver Graf: "Re: Never been mentioned"</a>
<li> <b>Previous message:</b> <a href="0006.html">Chris Sparks: "Re: Never been mentioned"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
