<!-- received="Sat Oct  3 13:33:34 1998 PDT" -->
<!-- sent="Wed, 16 Sep 1998 17:50:01 +0000" -->
<!-- name="Ryan Stapleton" -->
<!-- email="raal@penn.com" -->
<!-- subject="THough u would like to know" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: THough u would like to know</title>
<h1>THough u would like to know</h1>
<b>Ryan Stapleton</b> (<a href="mailto:raal@penn.com"><i>raal@penn.com</i></a>)<br>
<i>Wed, 16 Sep 1998 17:50:01 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0035.html">doron tamir: "need help mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
  I just got a HP scanjet + to work with a HP 88396 scsi/par<br>
interface  with my scsi chain.   it seems to work great,<br>
except a few problems I had with scsi termination<br>
and why its working right now I am not totally sure...<br>
<p>
but it works<br>
-Ryan<br>
<pre>
-- 
---------------------------------------------------------------
- Ryan Stapleton               |   <a href="mailto:raal@penn.com">raal@penn.com</a>              -
- 225 West Main Street         |   <a href="mailto:ryans@cis.clarion.edu">ryans@cis.clarion.edu</a>      -
- Reynoldsville, Pa            |   <a href="mailto:ryan@flower.aud.temple.edu">ryan@flower.aud.temple.edu</a> -
- 15851                        |                              -
- Amateur Radio Call:  KA3WUT  |  <a href="http://users.penn.com/~raal">http://users.penn.com/~raal</a> -
---------------------------------------------------------------
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Brian E. Bothwell: "Re: Microtek ScanMaker X6EL supported??"</a>
<li> <b>Previous message:</b> <a href="0035.html">doron tamir: "need help mustek 600 II N"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
