<!-- received="Sat Oct  3 13:55:21 1998 PDT" -->
<!-- sent="Tue, 29 Sep 1998 22:37:20 GMT" -->
<!-- name="David Bartlett" -->
<!-- email="david@hlalapansi.demon.co.uk" -->
<!-- subject="Nikon or Minolta slide scanner?" -->
<!-- id="E0zO8OW-0003yH-00@post.mail.demon.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Nikon or Minolta slide scanner?</title>
<h1>Nikon or Minolta slide scanner?</h1>
<b>David Bartlett</b> (<a href="mailto:david@hlalapansi.demon.co.uk"><i>david@hlalapansi.demon.co.uk</i></a>)<br>
<i>Tue, 29 Sep 1998 22:37:20 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#42">[ date ]</a><a href="index.html#42">[ thread ]</a><a href="subject.html#42">[ subject ]</a><a href="author.html#42">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Gunnar Weikamp: "Re: Mustek Scanexpress 12000SP?"</a>
<li> <b>Previous message:</b> <a href="0041.html">Ales List: "HP + Link"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0054.html">Didier Carlier: "RE: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0057.html">Mathias Koerber: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0065.html">Ray Clouse: "Re: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'd like to get either the Nikon CoolScan III, or a Minolta Dimage Scan Dual<br>
slide/film scanner. Neither appears to be supported by sane at present.<br>
<p>
1. Is anyone working on drivers for either scanner?<br>
<p>
2. If not, I'd consider taking on writing them, but would I be more likely to<br>
get the necessary device information from Nikon or Minolta? Advice as to the<br>
best way to go about getting the requisite information would also be welcome.<br>
<p>
Thanks<br>
David.<br>
<p>
-- --<br>
<a href="http://www.hlalapansi.demon.co.uk/">http://www.hlalapansi.demon.co.uk/</a><br>
Created &amp; sent using Java<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0043.html">Gunnar Weikamp: "Re: Mustek Scanexpress 12000SP?"</a>
<li> <b>Previous message:</b> <a href="0041.html">Ales List: "HP + Link"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0048.html">Oliver Graf: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0054.html">Didier Carlier: "RE: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0057.html">Mathias Koerber: "Re: Nikon or Minolta slide scanner?"</a>
<li> <b>Reply:</b> <a href="0065.html">Ray Clouse: "Re: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
