<!-- received="Sun Oct  4 03:55:40 1998 PDT" -->
<!-- sent="04 Oct 1998 12:49:16 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@fga.de" -->
<!-- subject="Re: Nikon or Minolta slide scanner?" -->
<!-- id="" -->
<!-- inreplyto="Tue, 29 Sep 1998 22:37:20 GMT"" -->
<title>sane-devel: Re: Nikon or Minolta slide scanner?</title>
<h1>Re: Nikon or Minolta slide scanner?</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@fga.de"><i>ograf@fga.de</i></a>)<br>
<i>04 Oct 1998 12:49:16 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#48">[ date ]</a><a href="index.html#48">[ thread ]</a><a href="subject.html#48">[ subject ]</a><a href="author.html#48">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Oliver Graf: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0047.html">Huub Reuver: "Re: Mustek Scanexpress 12000SP?"</a>
<li> <b>In reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">Didier Carlier: "RE: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Bartlett &lt;<a href="mailto:david@hlalapansi.demon.co.uk">david@hlalapansi.demon.co.uk</a>&gt; writes:<br>
<p>
<i>&gt; I'd like to get either the Nikon CoolScan III, or a Minolta Dimage Scan Dual</i><br>
<i>&gt; slide/film scanner. Neither appears to be supported by sane at present.</i><br>
<p>
Try coolscan for the nikon. Works fine for me.<br>
<p>
Regards,<br>
  Oliver.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0049.html">Oliver Graf: "Re: Mustek ScanExpress 12000SP"</a>
<li> <b>Previous message:</b> <a href="0047.html">Huub Reuver: "Re: Mustek Scanexpress 12000SP?"</a>
<li> <b>In reply to:</b> <a href="0042.html">David Bartlett: "Nikon or Minolta slide scanner?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0054.html">Didier Carlier: "RE: Nikon or Minolta slide scanner?"</a>
<!-- reply="end" -->
</ul>
