<!-- received="Wed Oct  7 10:39:32 1998 PDT" -->
<!-- sent="Wed, 07 Oct 1998 19:40:12 +0200" -->
<!-- name="Rudolf Hatheyer" -->
<!-- email="rudi@kangaroo.nwy.at" -->
<!-- subject="mustek scanexpress 6000p parallelport" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: mustek scanexpress 6000p parallelport</title>
<h1>mustek scanexpress 6000p parallelport</h1>
<b>Rudolf Hatheyer</b> (<a href="mailto:rudi@kangaroo.nwy.at"><i>rudi@kangaroo.nwy.at</i></a>)<br>
<i>Wed, 07 Oct 1998 19:40:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#99">[ date ]</a><a href="index.html#99">[ thread ]</a><a href="subject.html#99">[ subject ]</a><a href="author.html#99">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Jani Frilander: "Re: color problem with Mustek 6000SP"</a>
<li> <b>Previous message:</b> <a href="0098.html">Dieter Lange: "Re: Scanners - SCSI card for ARTEC AT12"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
hi folks,<br>
<p>
does sane 0.74 support the parallel-version of mustek scanexpress 6000p<br>
?<br>
if not, is it planned for future ?<br>
<p>
thx &amp; greetings from austria,<br>
rudi<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0100.html">Jani Frilander: "Re: color problem with Mustek 6000SP"</a>
<li> <b>Previous message:</b> <a href="0098.html">Dieter Lange: "Re: Scanners - SCSI card for ARTEC AT12"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
