<!-- received="Thu Oct  8 04:14:35 1998 PDT" -->
<!-- sent="Wed, 7 Oct 1998 21:45:26 -0600 (MDT)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Minor typo in sane-net.5 man page" -->
<!-- id="199810080345.VAA00965@andreas.dilger.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Minor typo in sane-net.5 man page</title>
<h1>Minor typo in sane-net.5 man page</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Wed, 7 Oct 1998 21:45:26 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#107">[ date ]</a><a href="index.html#107">[ thread ]</a><a href="subject.html#107">[ subject ]</a><a href="author.html#107">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Terry Mackintosh: "saned"</a>
<li> <b>Previous message:</b> <a href="0106.html">Andreas Dilger: "Re: Majordomo resultst"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I noticed that the sane-net.5 man page included with SANE 0.74 still refers<br>
to using "saned" as the name of the sane scanner interface in /etc/inetd.conf<br>
and /etc/services.  The man page needs to be updated to reflect the change<br>
in 0.74 which now uses "sane".  The saned.5 man page is correct.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger  University of Calgary \ "If a man ate a pound of pasta and
                Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \  cancel out, leaving him still
&lt;<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>&gt;    hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0108.html">Terry Mackintosh: "saned"</a>
<li> <b>Previous message:</b> <a href="0106.html">Andreas Dilger: "Re: Majordomo resultst"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
