<!-- received="Thu Oct  8 07:48:27 1998 PDT" -->
<!-- sent="Thu, 8 Oct 1998 16:46:41 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: saned - Problem found" -->
<!-- id="199810081446.QAA16276@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="Pine.LNX.3.95.981008103407.15424A-100000@terry1.acun.com" -->
<title>sane-devel: Re: saned - Problem found</title>
<h1>Re: saned - Problem found</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Thu, 8 Oct 1998 16:46:41 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#110">[ date ]</a><a href="index.html#110">[ thread ]</a><a href="subject.html#110">[ subject ]</a><a href="author.html#110">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Terry Mackintosh: "Re: saned - Problem found"</a>
<li> <b>Previous message:</b> <a href="0109.html">Terry Mackintosh: "saned - Problem found"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
[I haven't looked closely at your original mail, so my ideas might be<br>
 a bit vague ... ah - it's included below ... o.k.]<br>
<p>
<i>&gt; It is a permission problem.</i><br>
<i>&gt; Where I had user.group of nobody.nobody, I just did 'root.root' and it all</i><br>
<i>&gt; started working just fine!</i><br>
<i>&gt; Yes I know that using root is a bad idea, but it is great for trouble</i><br>
<i>&gt; shooting.</i><br>
<i>&gt; </i><br>
<i>&gt; Now I looked at permission in /usr/local/sbin /usr/local/bin</i><br>
<i>&gt; /usr/local/lib/ /usr/local/lib/sane /usr/local/etc/sane.d</i><br>
<i>&gt; and all permessions look ok to me.</i><br>
<p>
And the directories in between look o.k., too ?<br>
<p>
<i>&gt; Did I miss some place?  Is there some file that needs unusual permissions?</i><br>
<p>
Maybe the device node of the hardware you want to access ? I.e. saned comes<br>
up fine, but can't access the scanner ?<br>
<p>
<i>&gt; What is the best way to trouble shoot a permission problem?</i><br>
<p>
Generally (on Linux at least) strace is your friend. It will track a program<br>
while it is executing.<br>
<p>
So make a file /sbin/mysaned that basically holds:<br>
<p>
#!/bin/bash<br>
strace -f /sbin/saned 2&gt;/tmp/saned.calllog<br>
<p>
This should give you information about all saned (and eventual childs [-f])<br>
does. It should especially show permission problems, as you will find -EPERM<br>
or -EACCESS somewhere.<br>
<p>
<i>&gt; &gt; on 'laptop' ... on laptop I get nothing, just a new prompt, on home, in</i><br>
<i>&gt; &gt; the messages log I get:</i><br>
<i>&gt; &gt; Oct  8 09:39:08 home saned[331]: access by root@laptop accepted</i><br>
<i>&gt; &gt; Oct  8 09:39:08 home saned[331]: exiting</i><br>
<i>&gt; &gt; So, saned is running, the laptop does talk to it on home, but it does not</i><br>
<i>&gt; &gt; see any scanner devices, why?</i><br>
<p>
Does the nobody.nobody user have access to the hardware ?<br>
<p>
<i>&gt; &gt; Recall that if I comment out the lines in inetd.conf and services, and run</i><br>
<i>&gt; &gt; saned from the command line with '-d', then the laptop does see the</i><br>
<i>&gt; &gt; scanner, and can even use it.</i><br>
<p>
I suppose this is due to extra permissions when running saned "by hand".<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0111.html">Terry Mackintosh: "Re: saned - Problem found"</a>
<li> <b>Previous message:</b> <a href="0109.html">Terry Mackintosh: "saned - Problem found"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
