<!-- received="Thu Oct  8 09:38:00 1998 PDT" -->
<!-- sent="Thu, 08 Oct 1998 09:37:41 +0000" -->
<!-- name="bruno schwander" -->
<!-- email="bruno.schwander@technologist.com" -->
<!-- subject="Re: OS/2 ant sane 0.74" -->
<!-- id="199810081636.MAA14718@pop01.globecomm.net" -->
<!-- inreplyto="OS/2 ant sane 0.74" -->
<title>sane-devel: Re: OS/2 ant sane 0.74</title>
<h1>Re: OS/2 ant sane 0.74</h1>
<b>bruno schwander</b> (<a href="mailto:bruno.schwander@technologist.com"><i>bruno.schwander@technologist.com</i></a>)<br>
<i>Thu, 08 Oct 1998 09:37:41 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Thomas Heidel: "Re: Just a question..."</a>
<li> <b>Previous message:</b> <a href="0116.html">Andreas Czechanowski: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;Hello,</i><br>
<i>&gt;</i><br>
<i>&gt;&gt;I totally agree with tobias !</i><br>
<i>&gt;&gt;Please someone in the SANE development supporting os/2 give us a sign !!!</i><br>
<i>&gt;</i><br>
<i>&gt;ok, I'm here; I'm currently working on 0.74 and I can say that it is quite ready; support for </i><br>
parallel port scanners is under <br>
<i>&gt;testing (only Epson backend), the qcam file is included but I don't know if it works, </i><br>
libsane.dll is built.<br>
<i>&gt;I need only a couple of days for creating the distribution file, add some readme, </i><br>
include patches and something else.<br>
<i>&gt;</i><br>
<i>&gt;But on those days I'm too busy with my job, so the two days will require more time.</i><br>
<i>&gt;</i><br>
<p>
Great !<br>
As long as I know there is something being done, I can wait ....<br>
don't hurry up but do something good !<br>
(as you say: qui va piano, va lontano...   ??)<br>
<p>
Bruno<br>
<p>
<i>&gt;Stay tuned on</i><br>
<i>&gt;</i><br>
<i>&gt;	<a href="http://www.geocities.com/SiliconValley/Peaks/4320">http://www.geocities.com/SiliconValley/Peaks/4320</a></i><br>
<i>&gt;</i><br>
<i>&gt;you should see something for you soon...</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;Bye,</i><br>
<i>&gt;</i><br>
<i>&gt;	Yuri Dario</i><br>
<i>&gt;</i><br>
<i>&gt;/*</i><br>
<i>&gt; * member of TeamOS/2 - Italy</i><br>
<i>&gt; */</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt;--</i><br>
<i>&gt;Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt;To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Thomas Heidel: "Re: Just a question..."</a>
<li> <b>Previous message:</b> <a href="0116.html">Andreas Czechanowski: "Re: Strage behavior (MFS-1200SP &amp; sane 0.73)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
