<!-- received="Wed Oct 14 20:38:03 1998 PDT" -->
<!-- sent="Tue, 13 Oct 1998 02:56:25 -0700" -->
<!-- name="Byron Rakitzis" -->
<!-- email="byron@netapp.com" -->
<!-- subject="SANE on BSDI?" -->
<!-- id="199810130956.CAA16968@byron-pc.netapp.com" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE on BSDI?</title>
<h1>SANE on BSDI?</h1>
<b>Byron Rakitzis</b> (<a href="mailto:byron@netapp.com"><i>byron@netapp.com</i></a>)<br>
<i>Tue, 13 Oct 1998 02:56:25 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Simon Schmidig dipl. Architekt: "Parallelport scanner"</a>
<li> <b>Previous message:</b> <a href="0152.html">tlailax: "umax 1220s question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I would like to ask if you know what I need to do to port SANE to<br>
BSDI -- I don't see it on your list of supported platforms. I'm guessing<br>
that I need to find out how to hook up SANE to the BSDI SCSI ioctls.<br>
If you know of anyone who has already tried to do this, please let me<br>
know,<br>
<p>
Thanks,<br>
<p>
Byron Rakitzis.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Simon Schmidig dipl. Architekt: "Parallelport scanner"</a>
<li> <b>Previous message:</b> <a href="0152.html">tlailax: "umax 1220s question"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
