<!-- received="Thu Oct 15 01:59:26 1998 PDT" -->
<!-- sent="Thu, 15 Oct 1998 01:58:22 -0700" -->
<!-- name="John DuBois" -->
<!-- email="spcecdt@armory.com" -->
<!-- subject="Re: SCO Open Server, scsi device" -->
<!-- id="" -->
<!-- inreplyto="SCO Open Server, scsi device" -->
<title>sane-devel: Re: SCO Open Server, scsi device</title>
<h1>Re: SCO Open Server, scsi device</h1>
<b>John DuBois</b> (<a href="mailto:spcecdt@armory.com"><i>spcecdt@armory.com</i></a>)<br>
<i>Thu, 15 Oct 1998 01:58:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#160">[ date ]</a><a href="index.html#160">[ thread ]</a><a href="subject.html#160">[ subject ]</a><a href="author.html#160">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Dr. Andreas Bolsch: "Re: shrinked pict issue"</a>
<li> <b>Previous message:</b> <a href="0159.html">Oliver Rauch: "Re: umax 1220s question"</a>
<li> <b>Maybe in reply to:</b> <a href="0144.html">ralf@tqe2.iap.physik.tu-darmstadt.de: "SCO Open Server, scsi device"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Oct 7, 12:45pm, <a href="mailto:ralf@tqe2.iap.physik.tu-darmstadt.de">ralf@tqe2.iap.physik.tu-darmstadt.de</a> wrote:<br>
} <br>
} Is there anybody who knows the right scsi device which I have to<br>
} use. System type is SCO Open Server 5. I use a Mustek 6000SP scsi<br>
} scanner. The only generic scsi devices I know are the scsi tape<br>
} devices at SCO Unix. But clearly this works not very well, I think ist<br>
} doesn't work. <br>
<p>
There is no generic SCSI driver shipped with the OS that works with all<br>
devices.  A preliminary version of such a driver (not written by me) exists,<br>
but it needs further work before it's ready for prime time.  I used it with a<br>
Umax Astra 1200s under SCO UNIX 3.2v5.04 a few months ago and got some good<br>
scans, but I didn't have free time to work on the driver so ended up returning<br>
the scanner.  I may pick that project up again sometime.  I'd be more motivated<br>
if there was a Coolscan 2000 backend available - the flatbed scanner was just a<br>
test platform for seeing if I could get SANE to work under SCO UNIX :)<br>
<p>
	John<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0161.html">Dr. Andreas Bolsch: "Re: shrinked pict issue"</a>
<li> <b>Previous message:</b> <a href="0159.html">Oliver Rauch: "Re: umax 1220s question"</a>
<li> <b>Maybe in reply to:</b> <a href="0144.html">ralf@tqe2.iap.physik.tu-darmstadt.de: "SCO Open Server, scsi device"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
