<!-- received="Sun Oct 18 22:59:53 1998 PDT" -->
<!-- sent="Mon, 12 Oct 1998 11:48:22 -0500" -->
<!-- name="Hermang Mansilla" -->
<!-- email="herman_blues@geocities.com" -->
<!-- subject="parallel port support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: parallel port support</title>
<h1>parallel port support</h1>
<b>Hermang Mansilla</b> (<a href="mailto:herman_blues@geocities.com"><i>herman_blues@geocities.com</i></a>)<br>
<i>Mon, 12 Oct 1998 11:48:22 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#200">[ date ]</a><a href="index.html#200">[ thread ]</a><a href="subject.html#200">[ subject ]</a><a href="author.html#200">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Oliver Graf: "Re: Parallelport scanner"</a>
<li> <b>Previous message:</b> <a href="0199.html">Chris Pinkham: "RE: AGFA Focus scanner backend released"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello<br>
I want to know if parallel port scanners are supported.<br>
There is a parallel port scanner in a local store, and I want to know if<br>
it is supported in Linux before I buy it.<br>
it is an Artec<br>
<p>
* model:  Artec AT3E Viewstation<br>
* 24 bit, 4800x4800dpi<br>
<p>
Thank you,<br>
-Hermang Mansilla<br>
<a href="mailto:hmansilla@usa.net">hmansilla@usa.net</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0201.html">Oliver Graf: "Re: Parallelport scanner"</a>
<li> <b>Previous message:</b> <a href="0199.html">Chris Pinkham: "RE: AGFA Focus scanner backend released"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
