<!-- received="Sun Oct 18 22:59:46 1998 PDT" -->
<!-- sent="16 Oct 1998 11:11:29 +0200" -->
<!-- name="Oliver Graf" -->
<!-- email="ograf@rhein-zeitung.de" -->
<!-- subject="Re: Parallelport scanner" -->
<!-- id="" -->
<!-- inreplyto="15 Oct 1998 08:14:03 +0200"" -->
<title>sane-devel: Re: Parallelport scanner</title>
<h1>Re: Parallelport scanner</h1>
<b>Oliver Graf</b> (<a href="mailto:ograf@rhein-zeitung.de"><i>ograf@rhein-zeitung.de</i></a>)<br>
<i>16 Oct 1998 11:11:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#201">[ date ]</a><a href="index.html#201">[ thread ]</a><a href="subject.html#201">[ subject ]</a><a href="author.html#201">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Dr. Andreas Bolsch: "Re: Problem with a Trust Imagery 4800SP"</a>
<li> <b>Previous message:</b> <a href="0200.html">Hermang Mansilla: "parallel port support"</a>
<li> <b>In reply to:</b> <a href="0173.html">Oliver Graf: "Re: Parallelport scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Oliver Graf: "Re: Parallelport scanner"</a>
<li> <b>Next in thread:</b> <a href="0176.html">Andreas Czechanowski: "Re: Parallelport scanner"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Graf &lt;<a href="mailto:ograf@rhein-zeitung.de">ograf@rhein-zeitung.de</a>&gt; writes:<br>
<p>
<i>&gt; &gt; I like to use my Mustek parallel-port scanner. He is connected on the </i><br>
<i>&gt; &gt; first parallel-port on my LINUX-system. What is the right configuration </i><br>
<i>&gt; &gt; ? Can I use the command</i><br>
<i>&gt; &gt;     xscanimage ???</i><br>
<i>&gt; </i><br>
<i>&gt; You must enter a port number instead of /dev/sg? in the config file. Enter the </i><br>
<i>&gt; number in hexadecimal notation: 0x278 or 0x3bc or 0x378.</i><br>
<p>
Whoops, I think I've skipped over the Mustek this time....<br>
<p>
Sorry.<br>
<p>
Regards,<br>
  Oliver.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0202.html">Dr. Andreas Bolsch: "Re: Problem with a Trust Imagery 4800SP"</a>
<li> <b>Previous message:</b> <a href="0200.html">Hermang Mansilla: "parallel port support"</a>
<li> <b>In reply to:</b> <a href="0173.html">Oliver Graf: "Re: Parallelport scanner"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0228.html">Oliver Graf: "Re: Parallelport scanner"</a>
<li> <b>Next in thread:</b> <a href="0176.html">Andreas Czechanowski: "Re: Parallelport scanner"</a>
<!-- reply="end" -->
</ul>
