<!-- received="Tue Oct 20 15:09:27 1998 PDT" -->
<!-- sent="Mon, 19 Oct 1998 11:34:38 -0400" -->
<!-- name="Jean-Baptiste Nivoit" -->
<!-- email="jbnivoit@ix.netcom.com" -->
<!-- subject="Re: your mail" -->
<!-- id="" -->
<!-- inreplyto="m0zVhyl-000CEkC@hades.beck-sw.de" -->
<title>sane-devel: Re: your mail</title>
<h1>Re: your mail</h1>
<b>Jean-Baptiste Nivoit</b> (<a href="mailto:jbnivoit@ix.netcom.com"><i>jbnivoit@ix.netcom.com</i></a>)<br>
<i>Mon, 19 Oct 1998 11:34:38 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#217">[ date ]</a><a href="index.html#217">[ thread ]</a><a href="subject.html#217">[ subject ]</a><a href="author.html#217">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Bernd Schroeder: "Re: Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")"</a>
<li> <b>Previous message:</b> <a href="0216.html">Dominique Pivard: "Re: SANE OS/2"</a>
<li> <b>In reply to:</b> <a href="0214.html">becka@rz.uni-duesseldorf.de: "Re: your mail"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, Oct 20, 1998 at 10:02:03PM +0200, <a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt; Hi !</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; 	i just purchased a Casio QV-11 camera the other day and got</i><br>
<i>&gt; &gt; load CAM pictures directly into the GIMP). Now i think i read in the </i><br>
<i>&gt; &gt; SANE doc that JPEG was not supported yet... i don't see the point of</i><br>
<i>&gt; &gt; translating a JPEG file into a bitmap that SANE can handle, since most</i><br>
<i>&gt; &gt; often users might convert the result to JPEG in the end anyway..</i><br>
<i>&gt; </i><br>
<i>&gt; Yes. If it hasn't been removed, there was an entry in the "TODO" file</i><br>
<i>&gt; or something that stated that for a while.</i><br>
Well that might be a good thing (to support other picture format). <br>
Even other formats, more generally, with a fallback default to RGB/24 bits.<br>
<p>
<i>&gt; &gt; So here are basically the questions:</i><br>
<i>&gt; &gt; 	- how hard is it to write a backend? what's a good place to</i><br>
<i>&gt; &gt; 		start (which one is the simplest ?) ?</i><br>
<i>&gt; </i><br>
<i>&gt; I once wrote the pnm backend to serve as some kind of reference</i><br>
<i>&gt; implementation. In your case, this might be a good place to start, as</i><br>
<i>&gt; effectively the camera is more like an "external image library" than like</i><br>
<i>&gt; a scanner, so it does make sense to start from the pnm backend.</i><br>
OK. Well actually, there is a package called QVplay that extracts pictures<br>
from those cameras, and i've started to look at how to modify the code <br>
to fit in a SANE back-end. It's kind of messy, though. But the good part<br>
is that there already is some code in there that extracts the pictures<br>
not a JPEG but YCC, which can then be converted to RGB/24 bits.<br>
<p>
<i>&gt; I'd say it isn't too hard, if you have the actual communications code.</i><br>
<i>&gt; The SANE interface itself is pretty simple, once you have grasped how</i><br>
<i>&gt; this option stuff works.</i><br>
Yes, that's what i thought too, that the 'option' thing is a little <br>
weird.<br>
 <br>
<i>&gt; &gt; 	- when will there be JPEG support in the SANE interface? i guess</i><br>
<i>&gt; &gt; 		other camera (such as the Kodak ones?) also use a format</i><br>
<i>&gt; &gt; 		that's close to JPEG...</i><br>
<i>&gt; We should finally add that.</i><br>
<i>&gt; </i><br>
<i>&gt; My idea about adding it would be to increase the version number, which</i><br>
<i>&gt; can be queried at sane_init() time.</i><br>
Yes, SANE probably needs something like that.<br>
But i think i went ahead to quickly as far as those QV cameras are<br>
concerned, apparently we can extract YCC image data from them..<br>
<p>
 <br>
		jb.<br>
------------------------------------------------<br>
.sig advertising:<br>
	I'm currently looking for a job. can do <br>
	c/c++/perl among other things &amp; i'm fully<br>
	relocatable.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0218.html">Bernd Schroeder: "Re: Black Widow Scanners (Was "Does anybody recognize this inquiry information ?")"</a>
<li> <b>Previous message:</b> <a href="0216.html">Dominique Pivard: "Re: SANE OS/2"</a>
<li> <b>In reply to:</b> <a href="0214.html">becka@rz.uni-duesseldorf.de: "Re: your mail"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
