<!-- received="Thu Oct 22 22:00:22 1998 PDT" -->
<!-- sent="Fri, 23 Oct 1998 07:00:07 +0200" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: Acer Scanner Range" -->
<!-- id="" -->
<!-- inreplyto="Acer Scanner Range" -->
<title>sane-devel: Re: Acer Scanner Range</title>
<h1>Re: Acer Scanner Range</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Fri, 23 Oct 1998 07:00:07 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#243">[ date ]</a><a href="index.html#243">[ thread ]</a><a href="subject.html#243">[ subject ]</a><a href="author.html#243">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Wolfgang Goeller: "Re: parallel port support"</a>
<li> <b>Previous message:</b> <a href="0242.html">Wolfgang Goeller: "(no subject)"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Jamie Lovick: "Acer Scanner Range"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello<br>
<p>
<i>&gt; I was wondering if support was in the pipeline for the Acer range of</i><br>
<i>&gt; SCSI scanners (the 310S, 610S, 620ST)</i><br>
<p>
They are the same scanners as the Vuego-Scanners. And these are<br>
basically<br>
identitcal to the according Agfa-Types. That is: They work to some<br>
extend.<br>
There is work going on - you might get soon results.<br>
<p>
Regards<br>
Wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">Wolfgang Goeller: "Re: parallel port support"</a>
<li> <b>Previous message:</b> <a href="0242.html">Wolfgang Goeller: "(no subject)"</a>
<li> <b>Maybe in reply to:</b> <a href="0234.html">Jamie Lovick: "Acer Scanner Range"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
