<!-- received="Thu Oct 22 22:59:39 1998 PDT" -->
<!-- sent="Thu, 22 Oct 1998 22:59:34 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE and GNU" -->
<!-- id="199810230559.WAA27426@panda.mostang.com" -->
<!-- inreplyto="199810222135.RAA00760@diazepam.ai.mit.edu" -->
<title>sane-devel: Re: SANE and GNU</title>
<h1>Re: SANE and GNU</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Thu, 22 Oct 1998 22:59:34 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#247">[ date ]</a><a href="index.html#247">[ thread ]</a><a href="subject.html#247">[ subject ]</a><a href="author.html#247">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: copy program and document feeder for hp"</a>
<li> <b>Previous message:</b> <a href="0246.html">Thomas Kluge: "List broken?"</a>
<li> <b>In reply to:</b> <a href="0241.html">Karl Heuer: "SANE and GNU"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 22 Oct 1998 17:35:46 -0400, <a href="mailto:kwzh@gnu.org">kwzh@gnu.org</a> (Karl Heuer) said:</i><br>
<p>
  Karl&gt; The Free Software Foundation would like to include SANE on the<br>
  Karl&gt; upcoming GNU Source CD-ROM.  For our internal database, it<br>
  Karl&gt; seems that we would use<br>
  Karl&gt; ftp.mostang.com:/pub/sane/${pkg}-${ver}.${ext} for the<br>
  Karl&gt; template for the canonical ftp site,<br>
<p>
Fine.<br>
<p>
  Karl&gt; and &lt;<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>&gt; as the maintainer address.  Is<br>
  Karl&gt; this okay?  (A result of being listed as maintainer is that<br>
  Karl&gt; you would also be added to &lt;<a href="mailto:gnu-prog@gnu.org">gnu-prog@gnu.org</a>&gt;, which is a<br>
  Karl&gt; low-volume mailing list for announcements directed to<br>
  Karl&gt; maintainers of packages that we distribute.)<br>
<p>
Could you use <a href="mailto:sane-maint@mostang.com">sane-maint@mostang.com</a> instead?<br>
<p>
BTW: what's the deadline for making the CD-ROM?  I'll be releasing<br>
0.75 in the not too distant future.<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">becka@rz.uni-duesseldorf.de: "Re: copy program and document feeder for hp"</a>
<li> <b>Previous message:</b> <a href="0246.html">Thomas Kluge: "List broken?"</a>
<li> <b>In reply to:</b> <a href="0241.html">Karl Heuer: "SANE and GNU"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
