<!-- received="Sat Oct 24 09:19:40 1998 PDT" -->
<!-- sent="Sat, 24 Oct 1998 18:18:24 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Sane with Microtek ScanMaker 2" -->
<!-- id="" -->
<!-- inreplyto="362B7B4B.C138DF5A@nef.esiea.fr" -->
<title>sane-devel: Re: Sane with Microtek ScanMaker 2</title>
<h1>Re: Sane with Microtek ScanMaker 2</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 24 Oct 1998 18:18:24 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#261">[ date ]</a><a href="index.html#261">[ thread ]</a><a href="subject.html#261">[ subject ]</a><a href="author.html#261">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">Dave Restall - System Administrator: "Re: Black Widow Scanners"</a>
<li> <b>Previous message:</b> <a href="0260.html">Jonathan Buzzard: "Re: parallel port scanner support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Mon, Oct 19, 1998 at 07:47:55PM +0200, Emmanuel PIERRE (06 57 60 42 17) wrote:<br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt;         I have a  Microtek ScanMaker 2 and can't have it work with sane:</i><br>
<i>&gt; </i><br>
<i>&gt;   === SANE/Microtek backend v0.9 ===</i><br>
<i>&gt; ========== Scanner Inquiry Block ========mm</i><br>
<i>&gt; 06 00 02 02 5b 00 00 00 20 20 20 20 20 20 20 20</i><br>
<i>&gt; 73 63 61 6e 6e 65 72 20 56 36 33 36 41 34 20 20</i><br>
<i>&gt; 31 2e 30 30 97 00 00 00 00 00 00 00 00 00 00 00</i><br>
<i>&gt; 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</i><br>
<i>&gt; 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</i><br>
<i>&gt; 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</i><br>
<p>
Please try it with the microtek2 backend on<br>
<p>
  <a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.171098.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.6.171098.tar.gz</a> .<br>
<p>
The inquiry information looks like the one for a ScanMaker 636, and<br>
this model has been reported to work.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">Dave Restall - System Administrator: "Re: Black Widow Scanners"</a>
<li> <b>Previous message:</b> <a href="0260.html">Jonathan Buzzard: "Re: parallel port scanner support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
