<!-- received="Mon Oct 26 22:56:05 1998 PST" -->
<!-- sent="Sun, 25 Oct 1998 13:45:35 -0600" -->
<!-- name="Reeves Hall" -->
<!-- email="reeves@earthling.net" -->
<!-- subject="Parallel port interface" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Parallel port interface</title>
<h1>Parallel port interface</h1>
<b>Reeves Hall</b> (<a href="mailto:reeves@earthling.net"><i>reeves@earthling.net</i></a>)<br>
<i>Sun, 25 Oct 1998 13:45:35 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#266">[ date ]</a><a href="index.html#266">[ thread ]</a><a href="subject.html#266">[ subject ]</a><a href="author.html#266">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Alexander Jerjomin: "automatic scanning"</a>
<li> <b>Previous message:</b> <a href="0265.html">Ralph Angenendt: "Re: Sane with Microtek ScanMaker 2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Scanpaq SQ2030 (whoa, buying that was a mistake) and I'd like<br>
to see the thing work in Linux. I'm willing to do some coding myself. I<br>
didn't see it on the list of supported devices but I saw a comment on<br>
parallel port scanners in the discussion area. Is there support for this<br>
scanner, and if not, what would it take to make it work? It has an<br>
OnSpec parallel&lt;-&gt;scsi chip in it, and the Windows drivers are<br>
thoroughly awful.<br>
<p>
Thanks!<br>
-Reeves Hall<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0267.html">Alexander Jerjomin: "automatic scanning"</a>
<li> <b>Previous message:</b> <a href="0265.html">Ralph Angenendt: "Re: Sane with Microtek ScanMaker 2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
