<!-- received="Tue Oct 27 09:51:26 1998 PST" -->
<!-- sent="Tue, 27 Oct 1998 12:28:07 +0000" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Just a few dumb questions" -->
<!-- id="" -->
<!-- inreplyto="Just a few dumb questions" -->
<title>sane-devel: Re: Just a few dumb questions</title>
<h1>Re: Just a few dumb questions</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Tue, 27 Oct 1998 12:28:07 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#270">[ date ]</a><a href="index.html#270">[ thread ]</a><a href="subject.html#270">[ subject ]</a><a href="author.html#270">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Matti Koskimies: "HP ScanJet 5P and SCSI-card"</a>
<li> <b>Previous message:</b> <a href="0269.html">Mentore #cat# Siesto: "Epson GT-300, new results"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ken Terrell wrote:<br>
<p>
<i>&gt; I have a Mustek 600 IIIEP scanner, and it daisy-chains to my printer</i><br>
<i>&gt; port.  it is TWAIN compatible, but I haven't been able </i><br>
<p>
<i>&gt; #3  if there isn't a driver available,  is anyone working on one?</i><br>
<p>
Afaik nobody.<br>
<p>
<i>&gt; #4  If no one is, where can I get the information I need to write one.</i><br>
<p>
disclose any information concerning their parallel<br>
port scanners.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0271.html">Matti Koskimies: "HP ScanJet 5P and SCSI-card"</a>
<li> <b>Previous message:</b> <a href="0269.html">Mentore #cat# Siesto: "Epson GT-300, new results"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
