<!-- received="Tue Oct 27 10:13:41 1998 PST" -->
<!-- sent="Tue, 27 Oct 1998 17:00:18 +0200 (EET)" -->
<!-- name="Matti Koskimies" -->
<!-- email="mikkoski@manna.yok.utu.fi" -->
<!-- subject="HP ScanJet 5P and SCSI-card" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: HP ScanJet 5P and SCSI-card</title>
<h1>HP ScanJet 5P and SCSI-card</h1>
<b>Matti Koskimies</b> (<a href="mailto:mikkoski@manna.yok.utu.fi"><i>mikkoski@manna.yok.utu.fi</i></a>)<br>
<i>Tue, 27 Oct 1998 17:00:18 +0200 (EET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#272">[ date ]</a><a href="index.html#272">[ thread ]</a><a href="subject.html#272">[ subject ]</a><a href="author.html#272">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0273.html">Dr. Andreas Bolsch: "Re: Just a few dumb questions"</a>
<li> <b>Previous message:</b> <a href="0271.html">Matti Koskimies: "HP ScanJet 5P and SCSI-card"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
What SCSI-cards are supported by the linux kernel?<br>
I couldn't get my   new Symbios Logic  -card (53c416 ?) to work.<br>
<p>
Matti<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0273.html">Dr. Andreas Bolsch: "Re: Just a few dumb questions"</a>
<li> <b>Previous message:</b> <a href="0271.html">Matti Koskimies: "HP ScanJet 5P and SCSI-card"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
