<!-- received="Wed Oct 28 23:54:46 1998 PST" -->
<!-- sent="28 Oct 1998 14:59:37 +0200" -->
<!-- name="Samuli Ylinen" -->
<!-- email="ylinen@iki.fi" -->
<!-- subject="Re: HP ScanJet 5P and SCSI-card" -->
<!-- id="" -->
<!-- inreplyto="Tue, 27 Oct 1998 17:00:18 +0200 (EET)"" -->
<title>sane-devel: Re: HP ScanJet 5P and SCSI-card</title>
<h1>Re: HP ScanJet 5P and SCSI-card</h1>
<b>Samuli Ylinen</b> (<a href="mailto:ylinen@iki.fi"><i>ylinen@iki.fi</i></a>)<br>
<i>28 Oct 1998 14:59:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#298">[ date ]</a><a href="index.html#298">[ thread ]</a><a href="subject.html#298">[ subject ]</a><a href="author.html#298">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">Simon Thompson: "Sane/2 (0.74), and Canon 300"</a>
<li> <b>Previous message:</b> <a href="0297.html">David Mosberger-Tang: "Re: Plustek support"</a>
<li> <b>In reply to:</b> <a href="0282.html">Matti Koskimies: "HP ScanJet 5P and SCSI-card"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Matti Koskimies &lt;<a href="mailto:mikkoski@manna.yok.utu.fi">mikkoski@manna.yok.utu.fi</a>&gt; writes:<br>
<p>
<i>&gt; What SCSI-cards are supported by the linux kernel?</i><br>
<i>&gt; I couldn't get my   new Symbios Logic  -card (53c416 ?) to work.</i><br>
<p>
There's some kind of driver for the SCSI-card which is <br>
shipped with HP Scanjet 5P. I bought HP Scanjet 5P few <br>
months ago and it was shipped with Symbios SYM20403<br>
SCSI-card which is based on SYM53C416 chip. You can<br>
find the driver for Linux 2.0.35 from <br>
&lt;URL:<a href="http://uts.cc.utexas.edu/~foxx/scsi/">http://uts.cc.utexas.edu/~foxx/scsi/</a>&gt;.<br>
<p>
BTW. I didn't get the driver working, apparently<br>
there was some kind of PNP problem (my ISA-bus is full of<br>
cards). I bought old Adaptec 1522 SCSI-card and now<br>
SANE and HP Scanjet 5P are working very nicely.<br>
<pre>
-- 
Samuli Ylinen		<a href="mailto:ylinen@iki.fi">ylinen@iki.fi</a> 
			<a href="http://www.iki.fi/ylinen/">http://www.iki.fi/ylinen/</a>
Zooropa... uncertainty... can be a guiding light. -U2
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0299.html">Simon Thompson: "Sane/2 (0.74), and Canon 300"</a>
<li> <b>Previous message:</b> <a href="0297.html">David Mosberger-Tang: "Re: Plustek support"</a>
<li> <b>In reply to:</b> <a href="0282.html">Matti Koskimies: "HP ScanJet 5P and SCSI-card"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
