<!-- received="Thu Oct 29 20:25:16 1998 PST" -->
<!-- sent="Fri, 30 Oct 1998 04:25:59 +0000" -->
<!-- name="David A. Bartold" -->
<!-- email="foxx@mail.utexas.edu" -->
<!-- subject="Sym53c416 driver update" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Sym53c416 driver update</title>
<h1>Sym53c416 driver update</h1>
<b>David A. Bartold</b> (<a href="mailto:foxx@mail.utexas.edu"><i>foxx@mail.utexas.edu</i></a>)<br>
<i>Fri, 30 Oct 1998 04:25:59 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#300">[ date ]</a><a href="index.html#300">[ thread ]</a><a href="subject.html#300">[ subject ]</a><a href="author.html#300">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Mark Onyschuk: "Re: SANE: Supported platforms"</a>
<li> <b>Previous message:</b> <a href="0299.html">Simon Thompson: "Sane/2 (0.74), and Canon 300"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've updated the Linux driver for the Sym53c416 SCSI cards shipped with<br>
some HP scanners.  This fixes the autodetection of IRQs.  Previously, if<br>
the card wasn't on IRQ 5, then the driver either didn't work properly<br>
(it may have detected a full SCSI bus with null identifiers, for example)<br>
or returned a "Device busy" message when the module was installed.<br>
<p>
The latest version of the driver (0.11) is available at:<br>
	<a href="http://uts.cc.utexas.edu/~foxx/scsi/">http://uts.cc.utexas.edu/~foxx/scsi/</a><br>
<p>
- David A. Bartold<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0301.html">Mark Onyschuk: "Re: SANE: Supported platforms"</a>
<li> <b>Previous message:</b> <a href="0299.html">Simon Thompson: "Sane/2 (0.74), and Canon 300"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
