<!-- received="Sat Oct 31 09:03:54 1998 PST" -->
<!-- sent="Sat, 31 Oct 1998 18:02:42 +0100" -->
<!-- name="Johan Bengtsson" -->
<!-- email="johanb@lls.se" -->
<!-- subject="Sane 0.75 beta + Mustek 600 II N" -->
<!-- id="199810311703.JAA07335@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane 0.75 beta + Mustek 600 II N</title>
<h1>Sane 0.75 beta + Mustek 600 II N</h1>
<b>Johan Bengtsson</b> (<a href="mailto:johanb@lls.se"><i>johanb@lls.se</i></a>)<br>
<i>Sat, 31 Oct 1998 18:02:42 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#309">[ date ]</a><a href="index.html#309">[ thread ]</a><a href="subject.html#309">[ subject ]</a><a href="author.html#309">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Previous message:</b> <a href="0308.html">Manfred Lemke: "Re: Mustek backend 0.5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Reply:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Reply:</b> <a href="0311.html">Johan Bengtsson: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I've just tested Sane 0.75 beta with my Mustek 600 II N. There was no <br>
problems compiling it on my system, and xscanimage is working fine, but the <br>
same old problems remain while scanning color images. Has there been any <br>
improvements for this scanner in 0.75?<br>
<p>
Regards,<br>
Johan Bengtsson<br>
<p>
TENT OF MIRACLES -the unofficial homepage of the legendary band SPIRIT!<br>
-----&gt;&gt;&gt;   <a href="http://www.lls.se/~johanb/spirit/">http://www.lls.se/~johanb/spirit/</a>   &lt;&lt;&lt;-----<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Previous message:</b> <a href="0308.html">Manfred Lemke: "Re: Mustek backend 0.5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Reply:</b> <a href="0310.html">Dr. Andreas Bolsch: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<li> <b>Reply:</b> <a href="0311.html">Johan Bengtsson: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<!-- reply="end" -->
</ul>
