<!-- received="Sat Oct 31 14:01:39 1998 PST" -->
<!-- sent="31 Oct 1998 22:01:52 -0000" -->
<!-- name="Mike Mitten" -->
<!-- email="gnome@PD.Org" -->
<!-- subject="problem getting linux to recognize SCSI host adapter" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: problem getting linux to recognize SCSI host adapter</title>
<h1>problem getting linux to recognize SCSI host adapter</h1>
<b>Mike Mitten</b> (<a href="mailto:gnome@PD.Org"><i>gnome@PD.Org</i></a>)<br>
<i>31 Oct 1998 22:01:52 -0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#312">[ date ]</a><a href="index.html#312">[ thread ]</a><a href="subject.html#312">[ subject ]</a><a href="author.html#312">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0313.html">Oliver Rauch: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0311.html">Johan Bengtsson: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0313.html">Oliver Rauch: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Reply:</b> <a href="0313.html">Oliver Rauch: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm not sure this is the right place to ask this; if not, suggestions<br>
about where to go would be welcome.<br>
<p>
I've just gotten a UMAX Astra 1220S, partly as a learning tool, and<br>
partly to tide me over 'til I can save up for an LS-30.  It came with<br>
a SCSI adapter made by, I guess "Domex."  Printing on the pc board<br>
includes "DMX3181LE", "UDS-IS11 PC/ISA", "P/N: 970160-16", and "FCC ID<br>
KQ53181LE-1".  I also have what I'm told is a Realogic adapter; this<br>
one has jumpers for IRQs, IO Address, and Memory Address, and might be<br>
a model "XL-221", with "FCCID:KSXXL221" also appearing on the board.<br>
<p>
As you may have guessed, the problem is that I can't find SCSI<br>
parameters in the kernal configuration that seem to match either of<br>
these cards, nor can I find any boot parameters that might help.  I've<br>
got a kernal with generic SCSI compiled in, but it doesn't recognize<br>
the scanner and/or card.<br>
<p>
I've thought about just compiling kernal after kernal, trying each<br>
driver, and I may yet do that tonight.  I'm also searching HOWTOs,<br>
etc., on the web, but am not finding much specific about how to get<br>
these cards to work.  Am I out of luck with these adapters?  Am I<br>
missing something obviously simple?  Am I asking in the wrong place<br>
entirely?  :-)<br>
<p>
Thanks for any help you can provide,<br>
<p>
  -Mike<br>
<p>
Mike Mitten, <a href="mailto:gnome@pd.org">gnome@pd.org</a>, Atlanta, GA, USA       Straight but not narrow.<br>
DoD #522, DoDHS #2, AMA, ACLU, AHA, BMWMOA        Irony is the spice of life.<br>
Bianchi Sika  1995 BMW R100PDC                    <a href="http://dorje.com:8080/~gnome">http://dorje.com:8080/~gnome</a><br>
"The revolution will not be televised."<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0313.html">Oliver Rauch: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0311.html">Johan Bengtsson: "Re: Sane 0.75 beta + Mustek 600 II N"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0313.html">Oliver Rauch: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Reply:</b> <a href="0313.html">Oliver Rauch: "Re: problem getting linux to recognize SCSI host adapter"</a>
<!-- reply="end" -->
</ul>
