<!-- received="Thu Jun  4 00:43:19 1998 PDT" -->
<!-- sent="Thu, 4 Jun 1998 00:42:52 -0800" -->
<!-- name="Michael D. Crawford" -->
<!-- email="crawford@scruznet.com" -->
<!-- subject="Re: SCSI ports on scanners" -->
<!-- id="v0300780fb19c0e212607@[165.227.101.81]" -->
<!-- inreplyto="199806040715.BAA01835@andreas.dilger.net" -->
<title>sane-devel: Re: SCSI ports on scanners</title>
<h1>Re: SCSI ports on scanners</h1>
<b>Michael D. Crawford</b> (<a href="mailto:crawford@scruznet.com"><i>crawford@scruznet.com</i></a>)<br>
<i>Thu, 4 Jun 1998 00:42:52 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#25">[ date ]</a><a href="index.html#25">[ thread ]</a><a href="subject.html#25">[ subject ]</a><a href="author.html#25">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<li> <b>Previous message:</b> <a href="0024.html">Andreas Dilger: "SCSI ports on scanners"</a>
<li> <b>In reply to:</b> <a href="0024.html">Andreas Dilger: "SCSI ports on scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<li> <b>Reply:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;                                                ___________________</i><br>
<i>&gt;50-pin Centronics (like a wider printer cable) (                   )</i><br>
<i>&gt;                            ___________         \ =============== /</i><br>
<i>&gt;50-pin mini-micro  (SCSI-2) \ ::::::: /          \_______________/</i><br>
<i>&gt;                             ---------</i><br>
<i>&gt;</i><br>
<p>
The Umax Astra 1200S has two 25 pin DB25 connectors.  The cable supplied<br>
with it has DB-25's on both ends.  Most inconvenient.<br>
<p>
The HP ScanJet 4C and Apple Color OneScanner 600/27 both have one DB-25 and<br>
one 50-pin Centronics connectors.<br>
<p>
Mike<br>
<p>
<p>
Michael D. Crawford<br>
<a href="mailto:crawford@scruznet.com">crawford@scruznet.com</a><br>
<a href="http://www.scruznet.com/~crawford">http://www.scruznet.com/~crawford</a><br>
Tilting at Windmills for a Better Tommorrow<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<li> <b>Previous message:</b> <a href="0024.html">Andreas Dilger: "SCSI ports on scanners"</a>
<li> <b>In reply to:</b> <a href="0024.html">Andreas Dilger: "SCSI ports on scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<li> <b>Reply:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<!-- reply="end" -->
</ul>
