<!-- received="Thu Jun  4 06:03:43 1998 PDT" -->
<!-- sent="Thu, 04 Jun 1998 09:05:22 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="MUSTEK problems? with 0.73" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: MUSTEK problems? with 0.73</title>
<h1>MUSTEK problems? with 0.73</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Thu, 04 Jun 1998 09:05:22 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#27">[ date ]</a><a href="index.html#27">[ thread ]</a><a href="subject.html#27">[ subject ]</a><a href="author.html#27">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Brian Macy: "SANE Network Protocol..."</a>
<li> <b>Previous message:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, All!<br>
<p>
I'm testing SANE 0.73 with an old Mustek MFS-6000CX.  Whenever I scan<br>
in color at 600 DPI the scanner seems to only scan at 72 DPI (or<br>
something like that).  Grayscale scans at 600 DPI seem to work OK.<br>
<p>
Is this just a "feature" of the scanner, or am I running into a problem<br>
with the backend?  (I think the scanner is supposed to do 300x600 DPI<br>
optical).<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet         Software for HP, SGI,        Easy Software Products
 (301) 373-9603     and Sun Workstations       44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0028.html">Brian Macy: "SANE Network Protocol..."</a>
<li> <b>Previous message:</b> <a href="0026.html">Rogier Wolff: "Re: SCSI ports on scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
