<!-- received="Thu Jun  4 13:31:26 1998 PDT" -->
<!-- sent="Fri, 5 Jun 1998 00:19:09 +0200 (MET DST)" -->
<!-- name="Bernd Seemann" -->
<!-- email="bernd@seebaer.ruhr.de" -->
<!-- subject="Re: umax-backend" -->
<!-- id="" -->
<!-- inreplyto="199806031652.SAA00467@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>Bernd Seemann</b> (<a href="mailto:bernd@seebaer.ruhr.de"><i>bernd@seebaer.ruhr.de</i></a>)<br>
<i>Fri, 5 Jun 1998 00:19:09 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Donald Burr: "RE: SCSI ports on scanners"</a>
<li> <b>Previous message:</b> <a href="0033.html">Jeff Freedman: "Re: TWAIN support in JMF? (fwd)"</a>
<li> <b>In reply to:</b> <a href="0020.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Oliver.<br>
<p>
On Wed, 3 Jun 1998 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; There is a new patch available for the sane-umax-backend</i><br>
<i>&gt; that may have fixed the problem that made the "preview patch"</i><br>
<i>&gt; necessary.</i><br>
<p>
The patch is not working with my Astra 600S. I still have to enable the<br>
preview-patch.<br>
<p>
<i>&gt; It works at least with one Astra 610S but I got ony one answer until</i><br>
<i>&gt; now. I plan to remove the preview patch from the source of the</i><br>
<i>&gt; umax-driver. Please would you try the patch on my</i><br>
<i>&gt; homepage: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a></i><br>
<i>&gt; and tell me if you can do a "real" (not preview) color scan</i><br>
<i>&gt; without "preview patch" enabled!</i><br>
<p>
It seems, that 300 dpi scans are ok without preview-patch, but other<br>
resolutions are bad. If you want, I can send you some scans.<br>
Scans with preview-patch enabled are still ok.<br>
<p>
<i>&gt; If I do not get any negative anwers, I will remove the preview patch</i><br>
<i>&gt; from the source for the next sane-version!</i><br>
<p>
Please don't do that until you (we) have fixed the errors.<br>
<p>
Bye, Bernd<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Donald Burr: "RE: SCSI ports on scanners"</a>
<li> <b>Previous message:</b> <a href="0033.html">Jeff Freedman: "Re: TWAIN support in JMF? (fwd)"</a>
<li> <b>In reply to:</b> <a href="0020.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
