<!-- received="Sun Jun  7 19:32:09 1998 PDT" -->
<!-- sent="Sun, 7 Jun 1998 19:05:08 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Problems with CANCEL" -->
<!-- id="199806071705.TAA00333@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199806060514.WAA19446@panda.mostang.com" -->
<title>sane-devel: Re: Problems with CANCEL</title>
<h1>Re: Problems with CANCEL</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sun, 7 Jun 1998 19:05:08 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Ingo Witzky: "Problems with Scanning !!!"</a>
<li> <b>Previous message:</b> <a href="0065.html">becka@rz.uni-duesseldorf.de: "Re: SANE options"</a>
<li> <b>In reply to:</b> <a href="0049.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<li> <b>Reply:</b> <a href="0068.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi David,<br>
<p>
<i>&gt;   Oliver&gt; Hi, Please could you tell me if the CANCEL-Button works with</i><br>
<i>&gt;   Oliver&gt; not-umax-backends?</i><br>
<i>&gt; </i><br>
<i>&gt; It works fine here (Mustek backend).</i><br>
<i>&gt; </i><br>
<i>&gt;   Oliver&gt; Any ideas?</i><br>
<i>&gt; </i><br>
<i>&gt; Not really, but I'm not sure it's a good idea to block all signals.</i><br>
<i>&gt; You may want to play around with this part.  Indeed, for testing</i><br>
<i>&gt; purposes you could not block anything and see whether that helps.</i><br>
<p>
I will try that, but it is important to block all signals<br>
between scsi-command and scsi-answer, otherwise we may block the<br>
scsi-bus!<br>
<p>
Is it possible that it has to do something with command-queing<br>
and the cammand-queue is already full?<br>
<p>
Bye<br>
Oliver<br>
<p>
X-VM-v5-Data: ([nil nil nil nil nil nil nil nil nil]<br>
	["2067" "Sun" "7" "June" "1998" "12:09:13" "-0700" "owner-sane-devel@mostang.com" "owner-sane-devel@mostang.com" nil "61" "BOUNCE sane-devel@mostang.com:    Non-member submission from [Ingo Witzky &lt;ingo.witzky@kassel.netsurf.de&gt;]   " "^From:" nil nil "6" nil nil nil nil nil]<br>
	nil)<br>
Return-Path: &lt;<a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a>&gt;<br>
Received: (from majordom@localhost)<br>
	by panda.mostang.com (8.8.7/8.8.7) id MAA23766;<br>
	Sun, 7 Jun 1998 12:09:13 -0700<br>
Message-Id: &lt;199806071909.MAA23766@panda.mostang.com&gt;<br>
Status: RO<br>
From: <a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a><br>
To: <a href="mailto:owner-sane-devel@mostang.com">owner-sane-devel@mostang.com</a><br>
Subject: BOUNCE <a href="mailto:sane-devel@mostang.com:">sane-devel@mostang.com:</a>    Non-member submission from [Ingo Witzky &lt;ingo.witzky@kassel.netsurf.de&gt;]   <br>
Date: Sun, 7 Jun 1998 12:09:13 -0700<br>
<p>
<i>&gt;From <a href="mailto:sane-devel-owner@mostang.com">sane-devel-owner@mostang.com</a>  Sun Jun  7 12:09:12 1998</i><br>
Received: from kassel.netsurf.de (support.compoint.de [194.195.129.254])<br>
	by panda.mostang.com (8.8.7/8.8.7) with ESMTP id MAA23763<br>
	for &lt;sane-devel@mostang.com&gt;; Sun, 7 Jun 1998 12:09:11 -0700<br>
Received: from kassel.netsurf.de (195.180.53.151) by kassel.netsurf.de with<br>
 ESMTP (Eudora Internet Mail Server 2.0); Sun, 7 Jun 1998 20:11:16 +0000<br>
Sender: <a href="mailto:oracle@kassel.netsurf.de">oracle@kassel.netsurf.de</a><br>
Message-ID: &lt;<a href="mailto:35770D9F.3B1B4C6F@kassel.netsurf.de">35770D9F.3B1B4C6F@kassel.netsurf.de</a>&gt;<br>
Date: Thu, 04 Jun 1998 23:11:59 +0200<br>
From: Ingo Witzky &lt;<a href="mailto:ingo.witzky@kassel.netsurf.de">ingo.witzky@kassel.netsurf.de</a>&gt;<br>
X-Mailer: Mozilla 4.04 [en] (X11; I; Linux 2.0.32 i586)<br>
MIME-Version: 1.0<br>
To: <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a><br>
Subject: Problems with Scanning !!!<br>
Content-Type: text/plain; charset=us-ascii<br>
Content-Transfer-Encoding: 7bit<br>
<p>
Hello.<br>
<p>
I have a problem.<br>
I have the "Mustek 600 II CD " One-Pass-SCSI-scanner.<br>
His scsi-name is "SCANNER" his firmware is "2.03" !!!<br>
(SCSI-ID: "SCANNER  2.03") He is on device "/dev/sg0" !!!<br>
I use the Debian 1.3.1 Distribution of Linux !!!<br>
Sane was compiled without any failuremessages.<br>
My "xscanimage" runs rigt but don't scan like under Windows 95 the real<br>
Twain-program !!!<br>
<p>
Problem:<br>
My Preview scans the preview in 11 parts.<br>
Even in monochrome Mode ! Is there a possibility to<br>
make this Preview in one Part like under Windows ??<br>
He only scans Parts of less than one inch at the real scan, but i have<br>
put into the mustek.conf to scan a strip-hight of 5 inches !!!!<br>
He scans only 0.5 inch and then he goes back a little bit and scans the<br>
next 0.5 inch !!!<br>
Under Windows he scans the whole Page with only 5 parts !!!!<br>
<p>
I use the AM53C974 Driver with my Tekram DC390 !!!!<br>
My other SCSI-Devices are working right !!!!<br>
<p>
What can I do to solve this problem and what must I do to configure<br>
xscanimage so that he only<br>
uses the Mustek Scanner and don't show me the Device pnm:0 and pnm:1<br>
????<br>
<p>
With greetings Ingo Witzky !!<br>
<p>
P.S.: Excuse me for bad English !!!! I'm German !!!<br>
<p>
<pre>
--
<p>
 Ingo Witzky
<p>
 ingo.witzky@kassel.netsurf.de
<p>
 *** Linux, where do you want to go tomorrow ?? ***
<p>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Ingo Witzky: "Problems with Scanning !!!"</a>
<li> <b>Previous message:</b> <a href="0065.html">becka@rz.uni-duesseldorf.de: "Re: SANE options"</a>
<li> <b>In reply to:</b> <a href="0049.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<li> <b>Reply:</b> <a href="0068.html">David Mosberger-Tang: "Re: Problems with CANCEL"</a>
<!-- reply="end" -->
</ul>
