<!-- received="Tue Jun 16 08:36:13 1998 PDT" -->
<!-- sent="Tue, 16 Jun 1998 18:39:27 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@mbox.ariadne-t.gr" -->
<!-- subject="Re: Problems with Apple Scanner II" -->
<!-- id="" -->
<!-- inreplyto="Problems with Apple Scanner II" -->
<title>sane-devel: Re: Problems with Apple Scanner II</title>
<h1>Re: Problems with Apple Scanner II</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@mbox.ariadne-t.gr"><i>milonf@mbox.ariadne-t.gr</i></a>)<br>
<i>Tue, 16 Jun 1998 18:39:27 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#133">[ date ]</a><a href="index.html#133">[ thread ]</a><a href="subject.html#133">[ subject ]</a><a href="author.html#133">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Sreenivasa Sista: "xscanimage - ctrl-C - *ERROR*: signint caught"</a>
<li> <b>Previous message:</b> <a href="0132.html">Artur Rataj: "Primax 9600 Direct support"</a>
<li> <b>Maybe in reply to:</b> <a href="0111.html">Michael Fischer: "Problems with Apple Scanner II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Michael Fischer wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hello,</i><br>
<i>&gt; as rquested, here are the information about scanimage using</i><br>
<i>&gt; SANE_DEBUG_APPLE=255. :</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;computer:~&gt; scanimage --filename myscan.ppm</i><br>
<i>&gt;      0: 700005000000000e 0000000000000000    p....... ........</i><br>
<i>&gt;     16: 060002022c                          ....,</i><br>
<i>&gt;      0: 700005000000000e 0000000000000000    p....... ........</i><br>
<i>&gt;     16: 060002022c                          ....,</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of apple to 255.</i><br>
<i>&gt; [apple] attach: opening /dev/sgd</i><br>
<i>&gt; [apple] attach: sending INQUIRY</i><br>
<i>&gt; [apple] wait_ready: sending TEST_UNIT_READY</i><br>
<i>&gt; [apple] attach: firmware revision 2.02</i><br>
<i>&gt; [apple] attach: found Apple scanner model SCANNER II       (flatbed scanner)</i><br>
<i>&gt; [apple] attach: opening /dev/scanner</i><br>
<i>&gt; [apple] attach: sending INQUIRY</i><br>
<i>&gt; [apple] wait_ready: sending TEST_UNIT_READY</i><br>
<i>&gt; [apple] attach: firmware revision 2.02</i><br>
<i>&gt; [apple] attach: found Apple scanner model SCANNER II       (flatbed scanner)</i><br>
<i>&gt; scanimage: sane_start: Invalid argument</i><br>
<i>&gt; </i><br>
<i>&gt; &lt;computer:~&gt; scanimage --filename myscan.ppm -d apple:/dev/scanner</i><br>
<i>&gt; [sanei_init_debug]: Setting debug level of apple to 255.</i><br>
<i>&gt; [apple] attach: opening /dev/sgd</i><br>
<i>&gt; [apple] attach: sending INQUIRY</i><br>
<i>&gt; [apple] wait_ready: sending TEST_UNIT_READY</i><br>
<i>&gt; [apple] attach: firmware revision 2.02</i><br>
<i>&gt; [apple] attach: found Apple scanner model SCANNER II       (flatbed scanner)</i><br>
<i>&gt; [apple] attach: opening /dev/scanner</i><br>
<i>&gt; [apple] attach: sending INQUIRY</i><br>
<i>&gt; [apple] wait_ready: sending TEST_UNIT_READY</i><br>
<i>&gt; [apple] attach: firmware revision 2.02</i><br>
<i>&gt; [apple] attach: found Apple scanner model SCANNER II       (flatbed scanner)</i><br>
<i>&gt; Segmentation fault</i><br>
<i>&gt; </i><br>
<i>&gt;     Michael Fischer</i><br>
<i>&gt; </i><br>
<p>
Thanks for the info, but don't hold your breath. I 'll check it out when<br>
I find some time, propably after 8 of july..<br>
					Milon Firikis<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0134.html">Sreenivasa Sista: "xscanimage - ctrl-C - *ERROR*: signint caught"</a>
<li> <b>Previous message:</b> <a href="0132.html">Artur Rataj: "Primax 9600 Direct support"</a>
<li> <b>Maybe in reply to:</b> <a href="0111.html">Michael Fischer: "Problems with Apple Scanner II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
