<!-- received="Tue Jun 16 14:25:28 1998 PDT" -->
<!-- sent="Tue, 16 Jun 1998 22:25:09 +0000" -->
<!-- name="Simon Redwood" -->
<!-- email="spredwood@sri-net.demon.co.uk" -->
<!-- subject="Linux 2.1.xxx" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Linux 2.1.xxx</title>
<h1>Linux 2.1.xxx</h1>
<b>Simon Redwood</b> (<a href="mailto:spredwood@sri-net.demon.co.uk"><i>spredwood@sri-net.demon.co.uk</i></a>)<br>
<i>Tue, 16 Jun 1998 22:25:09 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#138">[ date ]</a><a href="index.html#138">[ thread ]</a><a href="subject.html#138">[ subject ]</a><a href="author.html#138">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">rodgerd@ihug.co.nz: "Re: Linux 2.1.xxx"</a>
<li> <b>Previous message:</b> <a href="0137.html">Dave Restall - System Administrator: "Re :- Primax 9600 Direct support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am trying to get sane-0.73 to run on 2.1.{98|105|106}.  I have managed<br>
to compile the program without problem.  But with no sucess in running<br>
it.  I am hoping to get it to work on a hand-held Trust scanner<br>
(GI1904).<br>
<p>
Any help, or has someone else succeeded in getting it to run on a 2.1<br>
kernel.<br>
<p>
TIA<br>
Simon<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">rodgerd@ihug.co.nz: "Re: Linux 2.1.xxx"</a>
<li> <b>Previous message:</b> <a href="0137.html">Dave Restall - System Administrator: "Re :- Primax 9600 Direct support"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
