<!-- received="Thu Jun 18 15:28:32 1998 PDT" -->
<!-- sent="Thu, 18 Jun 1998 22:44:40 +0100 (IST)" -->
<!-- name="Mark Dennehy" -->
<!-- email="mdennehy@pc315.cs.tcd.ie" -->
<!-- subject="Sane at high framerates ?" -->
<!-- id="m0ymmU4-0001ZhC@sparks.cs.tcd.ie" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane at high framerates ?</title>
<h1>Sane at high framerates ?</h1>
<b>Mark Dennehy</b> (<a href="mailto:mdennehy@pc315.cs.tcd.ie"><i>mdennehy@pc315.cs.tcd.ie</i></a>)<br>
<i>Thu, 18 Jun 1998 22:44:40 +0100 (IST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#154">[ date ]</a><a href="index.html#154">[ thread ]</a><a href="subject.html#154">[ subject ]</a><a href="author.html#154">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Previous message:</b> <a href="0153.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi all,<br>
I'm a newbie to sane, so please be gentle ! <br>
I'm wondering what the highest stable framerate achievable with sane is<br>
for the purposes of using it with a framegrabber. Specifically, could<br>
you achieve 25fps on a P200 ?<br>
<p>
ps. I am not sure if an earlier message asking this question was<br>
delivered, if it was please let me know.<br>
Thanks ...<br>
<p>
<pre>
-- 
Mark Dennehy, B.A., B.A.I.		Email : <a href="mailto:Mark.Dennehy@cs.tcd.ie">Mark.Dennehy@cs.tcd.ie</a>
Research Student,
Computer Vision and Robotics Research Group,
Computer Science Dept., Trinity College Dublin		
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0155.html">Yuri Dario: "Re: Rebuild with VisualAge C++"</a>
<li> <b>Previous message:</b> <a href="0153.html">Wolfgang Kaess: "Re: Rebuild with VisualAge C++"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
