<!-- received="Wed Jun 24 03:05:46 1998 PDT" -->
<!-- sent="Wed, 24 Jun 1998 12:06:19 +0200" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Mustek 12000SP: error during read: out of memory" -->
<!-- id="" -->
<!-- inreplyto="Mustek 12000SP: error during read: out of memory" -->
<title>sane-devel: Re: Mustek 12000SP: error during read: out of memory</title>
<h1>Re: Mustek 12000SP: error during read: out of memory</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Wed, 24 Jun 1998 12:06:19 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#203">[ date ]</a><a href="index.html#203">[ thread ]</a><a href="subject.html#203">[ subject ]</a><a href="author.html#203">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Wolfgang Kaess: "General backend information"</a>
<li> <b>Previous message:</b> <a href="0202.html">Mathias Koerber: "Re: Send in your .desc files..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Have a look at my posting of May 25th in the archive.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0204.html">Wolfgang Kaess: "General backend information"</a>
<li> <b>Previous message:</b> <a href="0202.html">Mathias Koerber: "Re: Send in your .desc files..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
