<!-- received="Wed Jun 24 08:54:13 1998 PDT" -->
<!-- sent="Wed, 24 Jun 1998 11:59:49 -0400 (EDT)" -->
<!-- name="lduperval@sprint.ca" -->
<!-- email="lduperval@sprint.ca" -->
<!-- subject="Problems with sane &amp; AVA15xx" -->
<!-- id="199806241554.LAA05772@hme0.mailrouter01.sprint.ca" -->
<!-- inreplyto="" -->
<title>sane-devel: Problems with sane &amp; AVA15xx</title>
<h1>Problems with sane &amp; AVA15xx</h1>
<a href="mailto:lduperval@sprint.ca"><i>lduperval@sprint.ca</i></a><br>
<i>Wed, 24 Jun 1998 11:59:49 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#205">[ date ]</a><a href="index.html#205">[ thread ]</a><a href="subject.html#205">[ subject ]</a><a href="author.html#205">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0206.html">Goran Thyni: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Previous message:</b> <a href="0204.html">Wolfgang Kaess: "General backend information"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Goran Thyni: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0206.html">Goran Thyni: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0209.html">Oliver Neukum: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0210.html">Matto Marjanovic: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0212.html">Oliver Neukum: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0214.html">Systembetreiber: "Re: Problems with sane &amp; AVA15xx"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I'm having a bit of trouble using my AVA1502 with my Umax1220S scanner.<br>
Here is a breakdown of what I've found.<br>
<p>
The scanner is only seen if I am root. The device is there (/dev/sga).<br>
When I put a link from /dev/scanner to /dev/sga, running scanimage<br>
tries to find the device twice and then hangs the machine. Yes, the<br>
whole machine. THis is the first time this has happenend to me since I<br>
installed Linux on my PC (a few years, actually). If I'm not root, only<br>
the pnm devices are seen.<br>
<p>
Does anyone have an idea what the problem is?<br>
<p>
Also, I've noticed that when I reboot, the scanner is not recognized,<br>
whether it be by Linux or Win95. In order to get it recognized, I have<br>
to turn off the system and restart it. Any idea why this happens?<br>
<p>
Thanks in advance.<br>
<p>
Laurent<br>
<p>
<pre>
-- 
Laurent Duperval          | The opinions expressed herein do not
Systems Analyst           | represent those of this establishment.
                          | For all I know, they may not even represent
<a href="mailto:lduperval@sprint.ca">lduperval@sprint.ca</a>       | my own, depending on the time of day.
URL: <a href="http://www.geocities.com/Heartland/Pointe/5248/">http://www.geocities.com/Heartland/Pointe/5248/</a>
<p>
This election is about who's going to be the next President of the
United States!
                -- Vice President Dan Quayle, 1988
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0206.html">Goran Thyni: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Previous message:</b> <a href="0204.html">Wolfgang Kaess: "General backend information"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0206.html">Goran Thyni: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0206.html">Goran Thyni: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0209.html">Oliver Neukum: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0210.html">Matto Marjanovic: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0212.html">Oliver Neukum: "Re: Problems with sane &amp; AVA15xx"</a>
<li> <b>Reply:</b> <a href="0214.html">Systembetreiber: "Re: Problems with sane &amp; AVA15xx"</a>
<!-- reply="end" -->
</ul>
