<!-- received="Sun Jan  3 19:25:41 1999 PST" -->
<!-- sent="Sat, 26 Dec 1998 17:33:18 -0600" -->
<!-- name="Roger" -->
<!-- email="sireverlast@earthlink.net" -->
<!-- subject="Scanner support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanner support</title>
<h1>Scanner support</h1>
<b>Roger</b> (<a href="mailto:sireverlast@earthlink.net"><i>sireverlast@earthlink.net</i></a>)<br>
<i>Sat, 26 Dec 1998 17:33:18 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">John M. Mills: "Re: Sane and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0037.html">Jeffrey Perry: "ftp site for SANE dev code?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a Xerox Document Homecentre, with an attached scanner.  I was<br>
wondering if it'll work under Linux.  Thanks--Roger<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">John M. Mills: "Re: Sane and xscanimage"</a>
<li> <b>Previous message:</b> <a href="0037.html">Jeffrey Perry: "ftp site for SANE dev code?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
