<!-- received="Sun Jan  3 23:57:27 1999 PST" -->
<!-- sent="Tue, 29 Dec 1998 21:34:58 -0500" -->
<!-- name="Ellamenno Pee" -->
<!-- email="thenut@dvol.com" -->
<!-- subject="Adara Imagestar I" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Adara Imagestar I</title>
<h1>Adara Imagestar I</h1>
<b>Ellamenno Pee</b> (<a href="mailto:thenut@dvol.com"><i>thenut@dvol.com</i></a>)<br>
<i>Tue, 29 Dec 1998 21:34:58 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Felipe: "Is Genius ColorPage Vivid Pro II suported?"</a>
<li> <b>Previous message:</b> <a href="0039.html">John M. Mills: "Re: Sane and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have an Adara Imagestar I scanner.  I was wondering if you know if it<br>
is compatible with any of the scanners that SANE supports and/or if you<br>
have any planse to support it in the future.<br>
<p>
The Nut<br>
<a href="mailto:thenut@dvol.com">thenut@dvol.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Felipe: "Is Genius ColorPage Vivid Pro II suported?"</a>
<li> <b>Previous message:</b> <a href="0039.html">John M. Mills: "Re: Sane and xscanimage"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
