<!-- received="Mon Jan  4 13:25:24 1999 PST" -->
<!-- sent="Sat, 2 Jan 1999 16:55:21 +0100 (MET)" -->
<!-- name="Jan Willamowius" -->
<!-- email="jan@janhh.shnet.org" -->
<!-- subject="Scanner compatibility list" -->
<!-- id="m0zwTOb-000UJbC@janhh.shnet.org" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanner compatibility list</title>
<h1>Scanner compatibility list</h1>
<b>Jan Willamowius</b> (<a href="mailto:jan@janhh.shnet.org"><i>jan@janhh.shnet.org</i></a>)<br>
<i>Sat, 2 Jan 1999 16:55:21 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#58">[ date ]</a><a href="index.html#58">[ thread ]</a><a href="subject.html#58">[ subject ]</a><a href="author.html#58">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">LPRNG at SIF: "Twain - SANE"</a>
<li> <b>Previous message:</b> <a href="0057.html">Michelle Maynes: "abaton 300 GS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">Chris Sparks: "Re: Scanner compatibility list"</a>
<li> <b>Reply:</b> <a href="0066.html">Chris Sparks: "Re: Scanner compatibility list"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Small addition to the list:<br>
<p>
I tried the Plustek parallel port driver von a Plustek 9636T and it<br>
does _not_ work.<br>
<p>
I'll try to get documentation from Plustek.<br>
<p>
<pre>
-- 
Jan Willamowius
WWW: <a href="http://www.willamowius.de/">http://www.willamowius.de/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0059.html">LPRNG at SIF: "Twain - SANE"</a>
<li> <b>Previous message:</b> <a href="0057.html">Michelle Maynes: "abaton 300 GS"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0066.html">Chris Sparks: "Re: Scanner compatibility list"</a>
<li> <b>Reply:</b> <a href="0066.html">Chris Sparks: "Re: Scanner compatibility list"</a>
<!-- reply="end" -->
</ul>
