<!-- received="Mon Jan  4 13:25:49 1999 PST" -->
<!-- sent="Mon, 04 Jan 1999 11:13:00 -0800" -->
<!-- name="Parag Patel" -->
<!-- email="parag@cgt.com" -->
<!-- subject="FreeBSD 3.0-CURRENT CAM patch for sane-1.0" -->
<!-- id="199901041913.LAA41083@pinhead.parag.codegen.com" -->
<!-- inreplyto="" -->
<title>sane-devel: FreeBSD 3.0-CURRENT CAM patch for sane-1.0</title>
<h1>FreeBSD 3.0-CURRENT CAM patch for sane-1.0</h1>
<b>Parag Patel</b> (<a href="mailto:parag@cgt.com"><i>parag@cgt.com</i></a>)<br>
<i>Mon, 04 Jan 1999 11:13:00 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#61">[ date ]</a><a href="index.html#61">[ thread ]</a><a href="subject.html#61">[ subject ]</a><a href="author.html#61">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Parag Patel: "Re: FreeBSD 3.0-CURRENT CAM patch for sane-1.0"</a>
<li> <b>Previous message:</b> <a href="0060.html">Tor Sigurdsson: "Genius-KYE scanners ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello.  I'm not on the SANE mailing list, but I ran across a problem <br>
with the SANE port on FreeBSD 3.0-CURRENT and the latest CAM support.<br>
<p>
The problem is that the CAM code has been limited to 64K shared-data <br>
area due to some bug in combination with cdrecord/cdda2wav.  The upshot <br>
is that it can't scan anything with SANE without getting errors such as <br>
this from the kernel:<br>
<p>
cam_periph_mapmem: attempt to map 131029 bytes, which is greater than <br>
DFLTPHYS(65536)<br>
<p>
The fix is below.  With this patch, things work just fine.<br>
<p>
Thank-you for all your efforts.<br>
<p>
<p>
	-- Parag Patel<br>
<p>
<p>
<p>
*** sanei/sanei_scsi.c-org      Sun Jan  3 16:37:08 1999<br>
--- sanei/sanei_scsi.c  Sun Jan  3 16:37:11 1999<br>
***************<br>
*** 186,192 ****<br>
  #endif<br>
<p>
  #if USE == FREEBSD_CAM_INTERFACE<br>
! # define MAX_DATA     MAXPHYS<br>
  #endif<br>
<p>
  #ifndef MAX_DATA<br>
--- 186,192 ----<br>
  #endif<br>
<p>
  #if USE == FREEBSD_CAM_INTERFACE<br>
! # define MAX_DATA     DFLTPHYS<br>
  #endif<br>
<p>
  #ifndef MAX_DATA<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0062.html">Parag Patel: "Re: FreeBSD 3.0-CURRENT CAM patch for sane-1.0"</a>
<li> <b>Previous message:</b> <a href="0060.html">Tor Sigurdsson: "Genius-KYE scanners ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
