<!-- received="Tue Jan  5 07:16:43 1999 PST" -->
<!-- sent="Tue, 05 Jan 1999 10:15:35 -0500" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="[announcement] SANE 1.0 for IRIX Now Available!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: [announcement] SANE 1.0 for IRIX Now Available!</title>
<h1>[announcement] SANE 1.0 for IRIX Now Available!</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Tue, 05 Jan 1999 10:15:35 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Bernd Schroeder: "Re: Scanner Purchase Advice short list"</a>
<li> <b>Previous message:</b> <a href="0077.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP, only in gray with SANE ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi, All!<br>
<p>
Just thought I'd post a note announcing that I have SANE 1.0 binaries<br>
for IRIX available.  This distribution was built with all of the<br>
patches I posted earlier, so I guess that makes it almost 1.0.1.<br>
<p>
Please report any problems you run into to me directly.<br>
<p>
Enjoy!<br>
<p>
<pre>
-- 
______________________________________________________________________
Michael Sweet, Easy Software Products                  <a href="mailto:mike@easysw.com">mike@easysw.com</a>
Printing Software for UNIX                       <a href="http://www.easysw.com">http://www.easysw.com</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">Bernd Schroeder: "Re: Scanner Purchase Advice short list"</a>
<li> <b>Previous message:</b> <a href="0077.html">a.bolsch@ic.ac.uk: "Re: Mustek SE 12000SP, only in gray with SANE ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
