<!-- received="Tue Jan  5 22:15:07 1999 PST" -->
<!-- sent="Tue, 5 Jan 1999 23:13:58 -0700 (MST)" -->
<!-- name="Andreas Dilger" -->
<!-- email="adilger@enel.ucalgary.ca" -->
<!-- subject="Re: (FAQ) SANE Support of Parallel Port Scanners" -->
<!-- id="199901060613.XAA00657@munet-d.enel.ucalgary.ca" -->
<!-- inreplyto="36924B87.9D892B84@vt.edu" -->
<title>sane-devel: Re: (FAQ) SANE Support of Parallel Port Scanners</title>
<h1>Re: (FAQ) SANE Support of Parallel Port Scanners</h1>
<b>Andreas Dilger</b> (<a href="mailto:adilger@enel.ucalgary.ca"><i>adilger@enel.ucalgary.ca</i></a>)<br>
<i>Tue, 5 Jan 1999 23:13:58 -0700 (MST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#92">[ date ]</a><a href="index.html#92">[ thread ]</a><a href="subject.html#92">[ subject ]</a><a href="author.html#92">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Shad: "Re: 25pin SCSI"</a>
<li> <b>Previous message:</b> <a href="0091.html">Andreas Dilger: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
You write:<br>
<i>&gt; Just a helpful suggestion, and I hope it staves off more e-mails like</i><br>
<i>&gt; this one. If you wish, I'd be happy to compile the data and redo the</i><br>
<i>&gt; chart if someone can give me the information (or locations where I can</i><br>
<i>&gt; find the information) necessary to compile it.</i><br>
<p>
AFAIK, the SANE support for parallel scanners is very minimal because the<br>
manufacturers are not releasing the documentation for accessing the<br>
devices, and each is different.  You can assume that all of the listed<br>
scanners are SCSI unless otherwise noted.<br>
<p>
Cheers, Andreas<br>
<pre>
-- 
Andreas Dilger   University of Calgary  \"If a man ate a pound of pasta and
                 Micronet Research Group \ a pound of antipasto, would they
Dept of Electrical &amp; Computer Engineering \   cancel out, leaving him still
<a href="http://www-mddsp.enel.ucalgary.ca/People/adilger/">http://www-mddsp.enel.ucalgary.ca/People/adilger/</a>       hungry?" -- Dogbert
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0093.html">Shad: "Re: 25pin SCSI"</a>
<li> <b>Previous message:</b> <a href="0091.html">Andreas Dilger: "Re: Scanner Purchase Advice short list"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
