<!-- received="Thu Jan 14 17:17:57 1999 PST" -->
<!-- sent="Thu, 14 Jan 1999 17:20:12 -0800" -->
<!-- name="Jan Setje-Eilers" -->
<!-- email="setje@lunatic.org" -->
<!-- subject="Microtek E6 and 1542 under FreeBSD 2.2.2" -->
<!-- id="199901150120.RAA08686@mail.lunatic.org" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek E6 and 1542 under FreeBSD 2.2.2</title>
<h1>Microtek E6 and 1542 under FreeBSD 2.2.2</h1>
<b>Jan Setje-Eilers</b> (<a href="mailto:setje@lunatic.org"><i>setje@lunatic.org</i></a>)<br>
<i>Thu, 14 Jan 1999 17:20:12 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Dr. Andreas Bolsch: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
 Hi.<br>
<p>
 I've been trying to get a ScanMaker E6 working under FreeBSD using sane <br>
with the microtek backend. So far all i have been able to do is to <br>
generate lots of <br>
<p>
uk0(aha0:1:0): timed out <br>
uk0(aha0:1:0): timed out  AGAIN<br>
<p>
messges. Scanimage just sits for a long time (~2 minutes) and then exits.<br>
Details follow:<br>
<p>
<p>
 The first thing that seems suspicious is that the scanner shows up 8<br>
times each getting it's own unknown driver attached to it. <br>
<p>
aha0 at 0x330-0x333 irq 11 drq 5 on isa<br>
(aha0:1:0): " Scanner 600 1.90" type 6 fixed SCSI 3<br>
uk0(aha0:1:0): Unknown <br>
&lt; 2 through 6 snipped to save space &gt;<br>
(aha0:1:7): " Scanner 600 1.90" type 6 fixed SCSI 3<br>
uk7(aha0:1:7): Unknown <br>
<p>
 Does anyone running FreeBSD see (or not see) the same behavior?? This<br>
is currently my prime suspect (another manifestation of a badly wired bus).<br>
<p>
 I assume that this is either normal or something in my scsi wiring is<br>
bad causing things to show up multiple times. I am shlepping some fresh<br>
wire home tonight to try to eliminate that possibility. It is the only<br>
device on that card and i am not even sure the card is 100% - no reson to<br>
suspect it is not, but i will try hooking up something else to see if <br>
it works. There is also an ncr 53c825 wide scsi adapter in the machine,<br>
but that should not really have any effect (i suppose i should try hooking<br>
up the scanner to it, bottom line i don't want that as a permanent setup<br>
though, to avoid having the scanner hang the bus that my root disk is <br>
connected to - also the ncr does not allow me to adjust async per target <br>
- which i have been led to beleive is required by the E6??)<br>
<p>
 I assume i can wire into the db25 pin port as well and just terminate <br>
the centronics connector, rather than using the pass through centronics<br>
terminator that came with the thing (which stinks a bit too much of black<br>
magic to me). What is that game port looking plug on the back for anyway <br>
 - none of my docs mention anything short of "plug the thing in and <br>
terminate it if you need to".<br>
<p>
 find-scanner looks promising:<br>
<p>
impact:~/src/sane-1.00/tools&gt; ./find-scanner -v /dev/uk0<br>
# You may want to run this program as super-user to find all devices.<br>
# Once you found the scanner devices, be sure to adjust access<br>
# permissions as necessary.<br>
<p>
find-scanner: searching for scanners:<br>
find-scanner: checking /dev/uk0...<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
[sanei_scsi] sanei_scsi_cmd: scsi returned with status 1<br>
[sanei_scsi] sanei_scsi_cmd: scsi returned with status 1<br>
find-scanner: found scanner " Scanner 600 1.90" at device /dev/uk0<br>
find-scanner: done<br>
<p>
 just glimpsing at the code "[sanei_scsi] sanei_scsi_cmd: scsi returned with<br>
status 1" looks like a succesful return. <br>
<p>
 As a side question the microtek.conf lists:<br>
<p>
scsi * * Scanner<br>
<p>
 I assume that is the id string that is matched to see if a scanner has indeed<br>
been found. As far as i can tell my E6 calls itself " Scanner 600" or <br>
" Scanner 600 1.90" seemingly with a leading space. Should that line possibly<br>
be changed to:<br>
<p>
scsi Scanner * * <br>
<p>
 I've tried this both ways with the same results - scsi " Scanner * *" ???<br>
<p>
dll.conf has everything short of microtek commented out.<br>
<p>
 scanimage does not seem to find the scanner (or more to the point does not<br>
realize it found it).<br>
<p>
impact:~/src/sane-1.00&gt; scanimage -v -h<br>
[sanei_init_debug]: Setting debug level of dll to 128.<br>
[dll] adding backend microtek<br>
Usage: scanimage [OPTION]...<br>
<p>
Start image acquisition on a scanner device and write PNM image data to<br>
standard output.<br>
<p>
-d, --device-name=DEVICE   use a given scanner device<br>
-h, --help                 display this help message and exit<br>
-L, --list-devices         show available scanner devices<br>
-v, --verbose              give even more status messages<br>
-V, --version              print version information<br>
[dll] loading backend microtek<br>
[dll] dlopen()ing `/usr/local/lib/sane/libsane-microtek.so.1'<br>
[dll] init: initializing backend `microtek'<br>
[sanei_init_debug]: Setting debug level of microtek to 128.<br>
[microtek] sane_init:  MICROTEK says hello! (v0.10.0)<br>
[microtek] sane_init:  config- #Uncomment following line to disable "clever precalibration" routines...<br>
[microtek] sane_init:  config- #noprecal<br>
[microtek] sane_init:  config- scsi Scanner * *<br>
[microtek] sane_init:  config- /dev/uk0<br>
[microtek] attach_scanner:  /dev/uk0<br>
[microtek] attach_scanner:  opening /dev/uk0<br>
[sanei_init_debug]: Setting debug level of sanei_scsi to 128.<br>
<p>
 &lt;about 2 minutes here - i have not but could do some real timing here&gt;<br>
<p>
[microtek] attach_scanner:  sending INQUIRY<br>
<p>
 &lt;about another minute here&gt;<br>
<p>
[sanei_scsi] sanei_scsi_cmd: scsi returned with status 1<br>
[microtek] attach_scanner:  inquiry failed (Device busy)<br>
[microtek] sane_get_devices<br>
scanimage: no SANE devices found<br>
[dll] exiting<br>
[dll] calling backend `microtek's exit function<br>
[microtek] sane_exit...<br>
[microtek] sane_exit:  MICROTEK says goodbye.<br>
<p>
<p>
<p>
  Does anyone have any ideas as to what is going on? At this point i'm <br>
still trying to get things to behave without actually looking at the <br>
code (i should at least verify that the scsi bus is totally sane first).<br>
<p>
 I hope i've not made any stupid mistakes / omissions (if i did i'd be very <br>
thankfull if someone could point them out). I've gone through the archives <br>
up to late 97, and could not find anything quite like this.<br>
<p>
  thanks for any help or ideas<br>
<p>
-jan <br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Dr. Andreas Bolsch: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
