<!-- received="Fri Jan 15 03:51:27 1999 PST" -->
<!-- sent="Fri, 15 Jan 1999 11:51:10 +0000" -->
<!-- name="Dr. Andreas Bolsch" -->
<!-- email="a.bolsch@ic.ac.uk" -->
<!-- subject="Re: Horizotal offset with Mustek SE 6000 SP" -->
<!-- id="" -->
<!-- inreplyto="Horizotal offset with Mustek SE 6000 SP" -->
<title>sane-devel: Re: Horizotal offset with Mustek SE 6000 SP</title>
<h1>Re: Horizotal offset with Mustek SE 6000 SP</h1>
<b>Dr. Andreas Bolsch</b> (<a href="mailto:a.bolsch@ic.ac.uk"><i>a.bolsch@ic.ac.uk</i></a>)<br>
<i>Fri, 15 Jan 1999 11:51:10 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Heinrich Rebehn: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0117.html">Jan Setje-Eilers: "Microtek E6 and 1542 under FreeBSD 2.2.2"</a>
<li> <b>Maybe in reply to:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Heinrich Rebehn: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
My experiments with my SE-12000SP have shown that the<br>
top 2.5mm (approx.) get lost even if the scanner is<br>
instructed to start at the very top. Regarding the<br>
left edge there is an offset of less then 1mm. And<br>
the vertical scale is distorted (compared to<br>
the nominal resolution, i.e. 600dpi) by about 1%.<br>
<p>
However, 0.5inch is not acceptable. I'd suspect a<br>
mechanical defect. You might check the total scanning area with sheet of<br>
raster paper.(Not very precise<br>
though). And check whether this problems shows up<br>
under Windows, too.  <br>
 <br>
The y-coordinate zero (referenced to the triangle<br>
at the top *right*) is just multiplied by a scale<br>
factor and otherwise unaltered embedded in the<br>
SET_WINDOW command. AFAIK that value is interpreted<br>
as an unsigned number, so a negative offset (which<br>
would be necessary in your case) can't be specified.<br>
<p>
Oh, just to be sure we are thinking of the same<br>
edge: By "left" you mean left edge of a sheet, so<br>
when placed face down it's the right edge of the <br>
scanning area, isn't it?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">Heinrich Rebehn: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<li> <b>Previous message:</b> <a href="0117.html">Jan Setje-Eilers: "Microtek E6 and 1542 under FreeBSD 2.2.2"</a>
<li> <b>Maybe in reply to:</b> <a href="0116.html">Heinrich Rebehn: "Horizotal offset with Mustek SE 6000 SP"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">Heinrich Rebehn: "Re: Horizotal offset with Mustek SE 6000 SP"</a>
<!-- reply="end" -->
</ul>
