<!-- received="Mon Jan 18 20:08:42 1999 PST" -->
<!-- sent="Thu, 7 Jan 1999 07:18:41 -0500 " -->
<!-- name="De Witte, Jean P." -->
<!-- email="JPDEWITTE@dow.com" -->
<!-- subject="scanners" -->
<!-- id="199901071457.AA08591@na2.dow.com" -->
<!-- inreplyto="" -->
<title>sane-devel: scanners</title>
<h1>scanners</h1>
<b>De Witte, Jean P.</b> (<a href="mailto:JPDEWITTE@dow.com"><i>JPDEWITTE@dow.com</i></a>)<br>
<i>Thu, 7 Jan 1999 07:18:41 -0500 </i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#146">[ date ]</a><a href="index.html#146">[ thread ]</a><a href="subject.html#146">[ subject ]</a><a href="author.html#146">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">Daniel R Risacher: "Census of SANE users?"</a>
<li> <b>Next message:</b> <a href="0147.html">Bas Vermeulen: "Re: slow , mustek , se , scanexpress, lock"</a>
<li> <b>Next message:</b> <a href="0147.html">bizzach: "umax  astra 600s"</a>
<li> <b>Next message:</b> <a href="0147.html">Michal Ludwiczak: "Primax support"</a>
<li> <b>Previous message:</b> <a href="0145.html">Hans Persson: "Acer scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
Are there any plans to include the Epson FilmScan 200 in the support?<br>
Kind regards,<br>
<p>
Jean-Pierre De Witte<br>
Liquid Separations<br>
*+49-7227-913775<br>
*+49-7227-913708 <br>
<a href="mailto:jpdewitte@dow.com">mailto:jpdewitte@dow.com</a><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0147.html">Daniel R Risacher: "Census of SANE users?"</a>
<li> <b>Next message:</b> <a href="0147.html">Bas Vermeulen: "Re: slow , mustek , se , scanexpress, lock"</a>
<li> <b>Next message:</b> <a href="0147.html">bizzach: "umax  astra 600s"</a>
<li> <b>Next message:</b> <a href="0147.html">Michal Ludwiczak: "Primax support"</a>
<li> <b>Previous message:</b> <a href="0145.html">Hans Persson: "Acer scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
