<!-- received="Tue Jan 19 07:53:24 1999 PST" -->
<!-- sent="Tue, 19 Jan 99 16:50:24 -0500" -->
<!-- name="Martin Mevald" -->
<!-- email="mevald@vegagroup.cz" -->
<!-- subject="Re: Any work being done on the UMAX scanner parallel port support?" -->
<!-- id="199901191732.QAA23988@linux.vegagroup.cz" -->
<!-- inreplyto="Any work being done on the UMAX scanner parallel port support?" -->
<title>sane-devel: Re: Any work being done on the UMAX scanner parallel port support?</title>
<h1>Re: Any work being done on the UMAX scanner parallel port support?</h1>
<b>Martin Mevald</b> (<a href="mailto:mevald@vegagroup.cz"><i>mevald@vegagroup.cz</i></a>)<br>
<i>Tue, 19 Jan 99 16:50:24 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Klas Axelsson: "RE: Any work being done on the UMAX scanner parallel port support"</a>
<li> <b>Previous message:</b> <a href="0154.html">Milon Firikis: "Re: Two Questions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; Does anyone know of any development work being done on the UMAX scanner</i><br>
<i>&gt; parallel port support?</i><br>
<p>
I sniff communication with the scanner (WINE with special patches).<br>
<p>
Driver is on the way (after  two or three weeks).<br>
<p>
<p>
<pre>
--
Martin Mevald <a href="mailto:mevald@vegagroup.cz">mevald@vegagroup.cz</a> martinmv@hornet.cesnet.cz
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">Klas Axelsson: "RE: Any work being done on the UMAX scanner parallel port support"</a>
<li> <b>Previous message:</b> <a href="0154.html">Milon Firikis: "Re: Two Questions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
