<!-- received="Sun Jan 24 13:15:58 1999 PST" -->
<!-- sent="Sun, 24 Jan 1999 13:17:40 -0800" -->
<!-- name="Frank Becker" -->
<!-- email="fbecker@nortelnetworks.com" -->
<!-- subject="Re: VuegoScan Brisa 610P" -->
<!-- id="" -->
<!-- inreplyto="VuegoScan Brisa 610P" -->
<title>sane-devel: Re: VuegoScan Brisa 610P</title>
<h1>Re: VuegoScan Brisa 610P</h1>
<b>Frank Becker</b> (<a href="mailto:fbecker@nortelnetworks.com"><i>fbecker@nortelnetworks.com</i></a>)<br>
<i>Sun, 24 Jan 1999 13:17:40 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#211">[ date ]</a><a href="index.html#211">[ thread ]</a><a href="subject.html#211">[ subject ]</a><a href="author.html#211">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">becka@rz.uni-duesseldorf.de: "Re: VuegoScan Brisa 610P"</a>
<li> <b>Previous message:</b> <a href="0210.html">Steve Hammond: "Parallel scanners... the continuity"</a>
<li> <b>Maybe in reply to:</b> <a href="0200.html">Pavel Chalmoviansky: "VuegoScan Brisa 610P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0224.html">Wolfgang Goeller: "Re: VuegoScan Brisa 610P"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Kevin R. Charter wrote:<br>
<i>&gt; </i><br>
<i>&gt; Steve Hammond wrote:</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; If I realy understand there is no way to build a parallel port scanner</i><br>
<i>&gt; &gt; driver under Linux?</i><br>
<i>&gt; </i><br>
<i>&gt; It's not that it's technically impossible, just that most manufacturers</i><br>
<i>&gt; have been reluctant to give out programming information for their</i><br>
<i>&gt; parallel port scanners. If documentation isn't available, it's pretty</i><br>
<i>&gt; hard to write a reliable backend. I understand some people have tried</i><br>
<i>&gt; snooping on the parallel port using bundled scanning software under</i><br>
<i>&gt; WINE, but I'm not sure how much success they've had reverse-engineering</i><br>
<i>&gt; the communication between scanner and host. If you look back through</i><br>
<i>&gt; the list archive, you'll be able to find some discussion of this</i><br>
<i>&gt; and related issues.</i><br>
<i>&gt; </i><br>
Hi,<br>
<p>
I just subscribed to this mailing list, so this might have been<br>
mentioned before...<br>
<p>
There is a x86 simulator out there called bochs. With some minor<br>
modification to the code such that the ports your scanner is <br>
interested in aren't simulated, you might be able to get it to work<br>
or at least snoop the ports. I had some success with my logitech <br>
scanman color, but only to the point where it tried to do DMA. <br>
In the end it was easier to get it working with Andreas Beck's<br>
logitech driver (although not reliably at higher dpis)...<br>
<p>
Frank.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">becka@rz.uni-duesseldorf.de: "Re: VuegoScan Brisa 610P"</a>
<li> <b>Previous message:</b> <a href="0210.html">Steve Hammond: "Parallel scanners... the continuity"</a>
<li> <b>Maybe in reply to:</b> <a href="0200.html">Pavel Chalmoviansky: "VuegoScan Brisa 610P"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0224.html">Wolfgang Goeller: "Re: VuegoScan Brisa 610P"</a>
<!-- reply="end" -->
</ul>
