<!-- received="Sun Jan 24 13:43:00 1999 PST" -->
<!-- sent="Sun, 24 Jan 1999 15:42:42 -0600" -->
<!-- name="Kevin R. Charter" -->
<!-- email="charter@cs.rice.edu" -->
<!-- subject="Re: Parallel scanners... the continuity" -->
<!-- id="" -->
<!-- inreplyto="Parallel scanners... the continuity" -->
<title>sane-devel: Re: Parallel scanners... the continuity</title>
<h1>Re: Parallel scanners... the continuity</h1>
<b>Kevin R. Charter</b> (<a href="mailto:charter@cs.rice.edu"><i>charter@cs.rice.edu</i></a>)<br>
<i>Sun, 24 Jan 1999 15:42:42 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#213">[ date ]</a><a href="index.html#213">[ thread ]</a><a href="subject.html#213">[ subject ]</a><a href="author.html#213">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Lee Riemenschneider: "Re: Microtek E3+ and SANE 0.74 (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0212.html">becka@rz.uni-duesseldorf.de: "Re: VuegoScan Brisa 610P"</a>
<li> <b>Maybe in reply to:</b> <a href="0210.html">Steve Hammond: "Parallel scanners... the continuity"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Steve Hammond wrote:<br>
<p>
<i>&gt; Ok, so I can understand that even when a scanner is SCSI it is not a</i><br>
<i>&gt; garanteed of success too...</i><br>
<p>
There can be bugs in backends, and manufacturers may make changes<br>
to the way newer revisions of the same model work that break<br>
existing backends. I've had trouble getting the latest AGFA docs<br>
and this inevitably means the SnapScan backend might not support<br>
newer models well or at all. Unfortunately, there isn't a universal<br>
protocol for how scsi scanners are supposed to work.<br>
<p>
<i>&gt; The scapscan is the device driver developped by the Sane working group?</i><br>
<p>
Not really a "working group."  A few people (myself included) made<br>
contributions to it. Other people have done (much more with) other<br>
backends, frontends, and of course the SANE api specification and<br>
all the enabling code.<br>
<p>
Kevin<br>
<pre>
-- 
Kevin Charter                                            Grad Studies
<a href="mailto:charter@cs.rice.edu">charter@cs.rice.edu</a>                    Department of Computer Science
<a href="http://www.cs.rice.edu/~charter">http://www.cs.rice.edu/~charter</a>                       Rice University
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0214.html">Lee Riemenschneider: "Re: Microtek E3+ and SANE 0.74 (OS/2)"</a>
<li> <b>Previous message:</b> <a href="0212.html">becka@rz.uni-duesseldorf.de: "Re: VuegoScan Brisa 610P"</a>
<li> <b>Maybe in reply to:</b> <a href="0210.html">Steve Hammond: "Parallel scanners... the continuity"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
