<!-- received="Sun Jan 24 15:39:43 1999 PST" -->
<!-- sent="Sun, 24 Jan 1999 18:43:10 -0500" -->
<!-- name="Lee Riemenschneider" -->
<!-- email="lwriemen@wcic.cioe.com" -->
<!-- subject="Re: Microtek E3+ and SANE 0.74 (OS/2)" -->
<!-- id="" -->
<!-- inreplyto="Microtek E3+ and SANE 0.74 (OS/2)" -->
<title>sane-devel: Re: Microtek E3+ and SANE 0.74 (OS/2)</title>
<h1>Re: Microtek E3+ and SANE 0.74 (OS/2)</h1>
<b>Lee Riemenschneider</b> (<a href="mailto:lwriemen@wcic.cioe.com"><i>lwriemen@wcic.cioe.com</i></a>)<br>
<i>Sun, 24 Jan 1999 18:43:10 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#214">[ date ]</a><a href="index.html#214">[ thread ]</a><a href="subject.html#214">[ subject ]</a><a href="author.html#214">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>Previous message:</b> <a href="0213.html">Kevin R. Charter: "Re: Parallel scanners... the continuity"</a>
<li> <b>Maybe in reply to:</b> <a href="0167.html">Lee Riemenschneider: "Microtek E3+ and SANE 0.74 (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Bernd Schroeder wrote:<br>
<i>&gt; </i><br>
<i>&gt; On Thu, Jan 21, 1999 at 02:32:22PM +0100, Stefan Gombar wrote:</i><br>
<i>&gt; &gt; On Wed, 20 Jan 1999 06:18:24 -0500, Lee Riemenschneider wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; &gt;Has anyone gotten this configuration working?</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt;I have a Tekram DC-390F controller. find-scanner finds the device</i><br>
<i>&gt; &gt; &gt;information OK, but as "found scanner " Scanner 300A4 5.10" at device</i><br>
<i>&gt; &gt; &gt;b0t6l0".</i><br>
<i>&gt; &gt; &gt;When I run scanimage with -d microtek2:b0t6l0 --resolution 36 -x215.815</i><br>
<i>&gt; &gt; &gt;-y292.926  &gt; t.pnm, the screen shows "0:</i><br>
<i>&gt; &gt; &gt;00000000000000                      ......." the scan mechanism moves to</i><br>
<i>&gt; &gt; &gt;the start point(?), and then it locks up.</i><br>
<i>&gt; &gt; &gt;</i><br>
<i>&gt; &gt; &gt;Is this something I have set-up wrong? Do I need to compile 1.0?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Hi!</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; I have an Asus PC-200 PCI-SCSI-Controller (Symbios8xx), the screen shows also your</i><br>
<i>&gt; &gt; output, but it scans normally. The scan is fine.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; [F:\INSTALL\SANE\sane074]scanimage.exe -d microtek2:b0t6l0 --resolution 36 -x215</i><br>
<i>&gt; &gt; .815 -y292.926   1&gt;t.pnm</i><br>
<i>&gt; &gt;      0: 00000000000000                      .......</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Using Warp 4, sane 0.74, Microtek E3+ (Vobis Highscan) 'Scanner 300A4 5.10'.</i><br>
<i>&gt; </i><br>
<i>&gt; This output comes from the sense handler, which is normally called if</i><br>
<i>&gt; an error occurs. I am not familiar with OS/2, and don't know why it is</i><br>
<i>&gt; called, but all bytes 0 means 'no error'. It is probably a good idea</i><br>
<i>&gt; not to print the contents of the sense buffer, if it doesn't indicate</i><br>
<i>&gt; an error.</i><br>
<i>&gt; </i><br>
<i>&gt; So I think, that Lee's problem is more likely a problem with the SCSI setup.</i><br>
<i>&gt; It looks as if it occurs when a command is executed that actually does</i><br>
<i>&gt; a disconnect from the SCSI bus.</i><br>
<i>&gt; </i><br>
Bingo! I had disconnects disabled for the scanner. I re-enabled them and<br>
now it seems to scan just fine. I did still get the zeros.<br>
Now a question for Stefan. Are you using PMSANE? If so, does the Preview<br>
function work for you?<br>
<p>
Thanks for all the help!<br>
<pre>
-- 
Lee W. Riemenschneider   Die Hard Purdue Fan!  OS/2 User and Supporter
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0215.html">Petter Reinholdtsen: "Re: SG_BIG_BUFF woes on Linux"</a>
<li> <b>Previous message:</b> <a href="0213.html">Kevin R. Charter: "Re: Parallel scanners... the continuity"</a>
<li> <b>Maybe in reply to:</b> <a href="0167.html">Lee Riemenschneider: "Microtek E3+ and SANE 0.74 (OS/2)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
