<!-- received="Fri Jan 29 08:27:22 1999 PST" -->
<!-- sent="Fri, 29 Jan 1999 11:28:11 -0500" -->
<!-- name="Christopher W. Curtis" -->
<!-- email="ccurtis@aet-usa.com" -->
<!-- subject="Newbie: How to work it?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Newbie: How to work it?</title>
<h1>Newbie: How to work it?</h1>
<b>Christopher W. Curtis</b> (<a href="mailto:ccurtis@aet-usa.com"><i>ccurtis@aet-usa.com</i></a>)<br>
<i>Fri, 29 Jan 1999 11:28:11 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#247">[ date ]</a><a href="index.html#247">[ thread ]</a><a href="subject.html#247">[ subject ]</a><a href="author.html#247">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">justiny@newsguy.com: "Re: Newbie: How to work it?"</a>
<li> <b>Previous message:</b> <a href="0246.html">Christoph Doerbeck A242369: "Feature request for xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0248.html">justiny@newsguy.com: "Re: Newbie: How to work it?"</a>
<li> <b>Reply:</b> <a href="0248.html">justiny@newsguy.com: "Re: Newbie: How to work it?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I have a Microtek ScanMaker V310 parallel port scanner and am trying to<br>
figure out where to start to make this thing work.  I realize that it is<br>
not officially supported, but I don't even know what I need to do to try to<br>
make it work.  I have made the assumption that I need SCSI generic support<br>
compiled into my kernel, and that's all I really know.  I don't know how to<br>
make the SCSI chain operate over the parallel port.  I've compiled in<br>
PARPORT and PARIDE and all the IDE protocol modules, as well as the<br>
IDE-SCSI module.  I've also compiled in the SCSI_PPA and SCSI_IMM modules.<br>
Is this the way to go about it?  I was unable to find any specific<br>
information about what kernel support is needed by SANE.<br>
<p>
I'm running the 1.0 debian package and find-scanner is reporting nothing<br>
(except pnm devices) but I fear that it is not probing the parallel port at<br>
all.  lsmod shows no parallel port modules being loaded.  Am I completely<br>
going about this the wrong way or what?<br>
<p>
Secondly, does anyone know anything about this scanner?  I'm willing to put<br>
in some time to get a driver coded if it's not supported and not too hard.<br>
=)<br>
<p>
Thanks,<br>
Christopher<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0248.html">justiny@newsguy.com: "Re: Newbie: How to work it?"</a>
<li> <b>Previous message:</b> <a href="0246.html">Christoph Doerbeck A242369: "Feature request for xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0248.html">justiny@newsguy.com: "Re: Newbie: How to work it?"</a>
<li> <b>Reply:</b> <a href="0248.html">justiny@newsguy.com: "Re: Newbie: How to work it?"</a>
<!-- reply="end" -->
</ul>
