<!-- received="Sat Jan 30 09:57:31 1999 PST" -->
<!-- sent="30 Jan 1999 12:56:13 -0500" -->
<!-- name="Cory Kempf" -->
<!-- email="ckempf@enigami.com" -->
<!-- subject="Re: Xscanimage in freebsd" -->
<!-- id="" -->
<!-- inreplyto="Fri, 22 Jan 1999 12:27:33 +0000"" -->
<title>sane-devel: Re: Xscanimage in freebsd</title>
<h1>Re: Xscanimage in freebsd</h1>
<b>Cory Kempf</b> (<a href="mailto:ckempf@enigami.com"><i>ckempf@enigami.com</i></a>)<br>
<i>30 Jan 1999 12:56:13 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#256">[ date ]</a><a href="index.html#256">[ thread ]</a><a href="subject.html#256">[ subject ]</a><a href="author.html#256">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0257.html">Kyle: "A question about Relysis..."</a>
<li> <b>Previous message:</b> <a href="0255.html">Cory Kempf: "Re: Fax-Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
James Annesley &lt;<a href="mailto:k980705@kingston.ac.uk">k980705@kingston.ac.uk</a>&gt; writes:<br>
<p>
<i>&gt; Can I use xscanimage in FreeBSD 2.2.6?</i><br>
<i>&gt; Incidently where can I get the xscanimage plug-in</i><br>
<p>
Check out the ports directory.  There is a port for SANE under ports/graphics.<br>
<p>
+C<br>
<p>
<pre>
-- 
Thinking of purchasing RAM from the Chip Merchant?  
Please read this first: &lt;<a href="http://www.enigami.com/~ckempf/chipmerchant.html">http://www.enigami.com/~ckempf/chipmerchant.html</a>&gt;
<p>
Cory Kempf                Macintosh / Unix Consulting &amp; Software Development
<a href="mailto:ckempf@enigami.com">ckempf@enigami.com</a>        &lt;<a href="http://www.enigami.com/~ckempf/">http://www.enigami.com/~ckempf/</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0257.html">Kyle: "A question about Relysis..."</a>
<li> <b>Previous message:</b> <a href="0255.html">Cory Kempf: "Re: Fax-Scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
