<!-- received="Sat Jan 30 13:44:30 1999 PST" -->
<!-- sent="Sat, 30 Jan 1999 22:44:37 +0100" -->
<!-- name="Davide Achilli" -->
<!-- email="davide@objsystem.it" -->
<!-- subject="Re: AVA-1505AE and Microtec X6: freeze everything while scanning" -->
<!-- id="" -->
<!-- inreplyto="AVA-1505AE and Microtec X6: freeze everything while scanning" -->
<title>sane-devel: Re: AVA-1505AE and Microtec X6: freeze everything while scanning</title>
<h1>Re: AVA-1505AE and Microtec X6: freeze everything while scanning</h1>
<b>Davide Achilli</b> (<a href="mailto:davide@objsystem.it"><i>davide@objsystem.it</i></a>)<br>
<i>Sat, 30 Jan 1999 22:44:37 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#262">[ date ]</a><a href="index.html#262">[ thread ]</a><a href="subject.html#262">[ subject ]</a><a href="author.html#262">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<li> <b>Previous message:</b> <a href="0261.html">Kevin R. Charter: "Re: Scanner AGFA"</a>
<li> <b>Maybe in reply to:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Peter.Knoppers@ct.tudelft.nl">Peter.Knoppers@ct.tudelft.nl</a> wrote:<br>
<p>
<i>&gt; I would expect that. I've had a similar experience with an ISA SCSI</i><br>
<i>&gt; card for burning CD-ROMs at double-speed (300 kB/second). This would</i><br>
<i>&gt; consume 99% of the CPU-time resulting in extremely poor mouse</i><br>
<i>&gt; responsiveness. I replaced my SCSI card with a PCI type and since</i><br>
<i>&gt; then burning a CD-ROM takes only a few percent of the CPU-time and</i><br>
<i>&gt; the system as a whole remains perfectly responsive.</i><br>
<i>&gt; </i><br>
<i>&gt; Conclusion: Copying 300 kB/s to (or from) a SCSI-bus using an ISA</i><br>
<i>&gt; card is extremely CPU-intensive.</i><br>
<p>
No, in my case this is not true.  My system does NOT slow down: it<br>
freezes completely, like having control inside an low level interrupt<br>
handler or something like that.<br>
Mouse is not slow: it does not move at all.  Network adapter does not<br>
work (you can not even ping the computer) and nothing else works.  Even<br>
hard disk stops doing the usual head-move noises.<br>
This is why I think there is something wrong: I expected a slower<br>
system, but not blocked.  This means that every other activity (like<br>
network connections, ISDN connection, fax, etc.) times out.<br>
<p>
Bye.<br>
<p>
<pre>
-- 
----------------------------------------------------------------
  Davide Achilli - <a href="mailto:davide@objsystem.it">davide@objsystem.it</a>
  OBJ System Telematica - MILANO - ITALY
  <a href="http://www.objsystem.it/">http://www.objsystem.it/</a>
----------------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0263.html">John Kozan: "Re: A question about Relysis..."</a>
<li> <b>Previous message:</b> <a href="0261.html">Kevin R. Charter: "Re: Scanner AGFA"</a>
<li> <b>Maybe in reply to:</b> <a href="0230.html">Davide Achilli: "AVA-1505AE and Microtec X6: freeze everything while scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
