<!-- received="Mon Jun  7 16:29:02 1999 PDT" -->
<!-- sent="Mon, 7 Jun 1999 19:28:15 -0400 (EDT)" -->
<!-- name="Larry Snyder" -->
<!-- email="larrys@lexis-nexis.com" -->
<!-- subject="Re: UMAX 1220S not recognized" -->
<!-- id="199906072328.TAA15026@ra.lexis-nexis.com" -->
<!-- inreplyto="19990607171322.191.rocketmail@web218.mail.yahoo.com" -->
<title>sane-devel: Re: UMAX 1220S not recognized</title>
<h1>Re: UMAX 1220S not recognized</h1>
<b>Larry Snyder</b> (<a href="mailto:larrys@lexis-nexis.com"><i>larrys@lexis-nexis.com</i></a>)<br>
<i>Mon, 7 Jun 1999 19:28:15 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#36">[ date ]</a><a href="index.html#36">[ thread ]</a><a href="subject.html#36">[ subject ]</a><a href="author.html#36">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Douglas Gilbert: "Re: UMAX 1220S not recognized"</a>
<li> <b>Previous message:</b> <a href="0035.html">Egg Ham: "UMAX 1220S not recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Michelle --<br>
Check the archives (available at www.mostang.com/sane/mail.html) for<br>
how to get debugging info.  Does it work if you try it as root?<br>
My 1220S runs fine w/ sane 1.0.0, kernel 2.2.5 on an Alpha.  Are your<br>
scsi terminations/id's set properly?<br>
<p>
That's the first set of questions I'd ask, but I haven't been at this<br>
all that long.  BTW, what's the difference between an Arstec and an Astra?<br>
Mine's an Astra.  I didn't see any mention of an Arstec on umax's site.<br>
Are you sure it's a umax?<br>
<p>
Sorry I couldn't offer more help.  Lots of others can.<br>
-ls- <br>
<p>
<p>
<p>
Egg Ham &lt;<a href="mailto:eggandham@yahoo.com">eggandham@yahoo.com</a>&gt; wrote:<br>
<i>&gt; Dear Madam/Sir,</i><br>
<i>&gt; </i><br>
<i>&gt; My scanner is UMAX Arstec 1220S. It is a SCSI scanner.</i><br>
<i>&gt; I use Adaptec AHA-2940U SCSI card. I have RedHat 5.2.</i><br>
<i>&gt; I upgraded kernel to 2.2.6. I installed sane-1.0.1</i><br>
<i>&gt; patched with the umax patch.</i><br>
<i>&gt; </i><br>
<i>&gt; The kernel seems to recognize the scanner when</i><br>
<i>&gt; booting. When I cat /proc/scsi/scsi, it correctly</i><br>
<i>&gt; lists out my scanner. However, when I tried to scan</i><br>
<i>&gt; using the apps like scanimage, xscanimage and xsane,</i><br>
<i>&gt; my scanner is not recognized.</i><br>
<i>&gt; </i><br>
<i>&gt; I created a group called scanner with the ID of 43. I</i><br>
<i>&gt; added root and another user in the group. I chmod</i><br>
<i>&gt; /dev/sge to 660 and chgrp /dev/sge to scanner as</i><br>
<i>&gt; instructed by san-scsi help file. I made a soft link</i><br>
<i>&gt; of /dev/scanner pointing to /dev/sge. I edited</i><br>
<i>&gt; /usr/local/etc/sane.d/umax.conf and it looks like this</i><br>
<i>&gt; (excluded comments in the file): </i><br>
<i>&gt; </i><br>
<i>&gt;   scsi UMAX * scanner </i><br>
<i>&gt;   /dev/scanner </i><br>
<i>&gt;   /dev/sge </i><br>
<i>&gt; </i><br>
<i>&gt; I edited /usr/local/etc/sane.d/dll.conf and it looks</i><br>
<i>&gt; like this (excluded comments in the file): </i><br>
<i>&gt; </i><br>
<i>&gt;   pnm </i><br>
<i>&gt;   umax </i><br>
<i>&gt; </i><br>
<i>&gt; Now when I used xscanimage or xsane, they only list</i><br>
<i>&gt; out pnm:0 and pnm:1 as the devices to choose from.</i><br>
<i>&gt; </i><br>
<i>&gt; When I use scanimage, which I am not sure about the</i><br>
<i>&gt; command syntac, with -d umax:/dev/sge and gave an</i><br>
<i>&gt; error message like device failed to open:Invalid</i><br>
<i>&gt; Argument. When I used findscanner -v, it tried to open</i><br>
<i>&gt; the device from all /dev/sg* but all failed.</i><br>
<i>&gt; </i><br>
<i>&gt; Please help.</i><br>
<i>&gt; </i><br>
<i>&gt; Michelle</i><br>
<i>&gt; </i><br>
<i>&gt; _________________________________________________________</i><br>
<i>&gt; Do You Yahoo!?</i><br>
<i>&gt; Get your free @yahoo.com address at <a href="http://mail.yahoo.com">http://mail.yahoo.com</a></i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0037.html">Douglas Gilbert: "Re: UMAX 1220S not recognized"</a>
<li> <b>Previous message:</b> <a href="0035.html">Egg Ham: "UMAX 1220S not recognized"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
