<!-- received="Mon Jun  7 20:58:44 1999 PDT" -->
<!-- sent="Tue, 08 Jun 1999 00:02:27 -0400" -->
<!-- name="Douglas Gilbert" -->
<!-- email="dgilbert@interlog.com" -->
<!-- subject="Re: UMAX 1220S not recognized" -->
<!-- id="" -->
<!-- inreplyto="UMAX 1220S not recognized" -->
<title>sane-devel: Re: UMAX 1220S not recognized</title>
<h1>Re: UMAX 1220S not recognized</h1>
<b>Douglas Gilbert</b> (<a href="mailto:dgilbert@interlog.com"><i>dgilbert@interlog.com</i></a>)<br>
<i>Tue, 08 Jun 1999 00:02:27 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#37">[ date ]</a><a href="index.html#37">[ thread ]</a><a href="subject.html#37">[ subject ]</a><a href="author.html#37">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">David Fox: "Re: First version of modified Coolscan backend for the LS-30"</a>
<li> <b>Previous message:</b> <a href="0036.html">Larry Snyder: "Re: UMAX 1220S not recognized"</a>
<li> <b>Maybe in reply to:</b> <a href="0035.html">Egg Ham: "UMAX 1220S not recognized"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Egg Ham: "Re: UMAX 1220S not recognized"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Egg Ham wrote:<br>
<i>&gt; </i><br>
<i>&gt; Dear Madam/Sir,</i><br>
<i>&gt; </i><br>
<i>&gt; My scanner is UMAX Arstec 1220S. It is a SCSI scanner.</i><br>
<i>&gt; I use Adaptec AHA-2940U SCSI card. I have RedHat 5.2.</i><br>
<i>&gt; I upgraded kernel to 2.2.6. I installed sane-1.0.1</i><br>
<i>&gt; patched with the umax patch.</i><br>
<i>&gt; </i><br>
<i>&gt; The kernel seems to recognize the scanner when</i><br>
<i>&gt; booting. When I cat /proc/scsi/scsi, it correctly</i><br>
<i>&gt; lists out my scanner. However, when I tried to scan</i><br>
<i>&gt; using the apps like scanimage, xscanimage and xsane,</i><br>
<i>&gt; my scanner is not recognized.</i><br>
<p>
The sg driver prints out a line like:<br>
  Detected scsi generic sg? at scsi? channel ? id ? lun ?<br>
where "?" will be the appropriate letter or number.<br>
This line is output by sg for every SCSI device that<br>
is _not_ a disk, nor a tape, nor a cdrom. So you should<br>
see it for your scanner.<br>
<p>
If sg is built into the kernel, you should see it in<br>
your boot up sequence, and if it is a module then you<br>
will see it when you do a 'insmod sg'.<br>
<p>
If you are not seeing this line then something is wrong<br>
(eg sg is not in kernel).<br>
<p>
<i>&gt; I created a group called scanner with the ID of 43. I</i><br>
<i>&gt; added root and another user in the group. I chmod</i><br>
<i>&gt; /dev/sge to 660 and chgrp /dev/sge to scanner as</i><br>
<i>&gt; instructed by san-scsi help file. I made a soft link</i><br>
<i>&gt; of /dev/scanner pointing to /dev/sge. I edited</i><br>
<i>&gt; /usr/local/etc/sane.d/umax.conf and it looks like this</i><br>
<i>&gt; (excluded comments in the file):</i><br>
<i>&gt; </i><br>
<i>&gt;   scsi UMAX * scanner</i><br>
<i>&gt;   /dev/scanner</i><br>
<i>&gt;   /dev/sge</i><br>
<i>&gt; </i><br>
<i>&gt; I edited /usr/local/etc/sane.d/dll.conf and it looks</i><br>
<i>&gt; like this (excluded comments in the file):</i><br>
<i>&gt; </i><br>
<i>&gt;   pnm</i><br>
<i>&gt;   umax</i><br>
<i>&gt; </i><br>
<i>&gt; Now when I used xscanimage or xsane, they only list</i><br>
<i>&gt; out pnm:0 and pnm:1 as the devices to choose from.</i><br>
<i>&gt; </i><br>
<i>&gt; When I use scanimage, which I am not sure about the</i><br>
<i>&gt; command syntac, with -d umax:/dev/sge and gave an</i><br>
<i>&gt; error message like device failed to open:Invalid</i><br>
<i>&gt; Argument. When I used findscanner -v, it tried to open</i><br>
<i>&gt; the device from all /dev/sg* but all failed.</i><br>
<p>
Also the version of sg in 2.2.6 (sg version 2.1.31) has<br>
problems with the aic7xxx driver. Visit<br>
<a href="http://www.torque.net/sg">http://www.torque.net/sg</a><br>
and pick up sg version 2.1.32 or 2.1.34. Alternatively<br>
upgrade your kernel to 2.2.8 or 2.2.9 .<br>
<p>
You don't seem to be getting this far since the scanner<br>
would still be detected.<br>
<p>
<p>
Hope this helps.<br>
<p>
Doug Gilbert<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0038.html">David Fox: "Re: First version of modified Coolscan backend for the LS-30"</a>
<li> <b>Previous message:</b> <a href="0036.html">Larry Snyder: "Re: UMAX 1220S not recognized"</a>
<li> <b>Maybe in reply to:</b> <a href="0035.html">Egg Ham: "UMAX 1220S not recognized"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0060.html">Egg Ham: "Re: UMAX 1220S not recognized"</a>
<!-- reply="end" -->
</ul>
