<!-- received="Sun Jun 13 01:59:03 1999 PDT" -->
<!-- sent="Sun, 13 Jun 1999 11:05:15 +0200" -->
<!-- name="Petter Reinholdtsen" -->
<!-- email="pere@hungry.com" -->
<!-- subject="Re: problems increasing SG_BIG_BUFF" -->
<!-- id="199906130905.LAA00520@localhost.localhost" -->
<!-- inreplyto="problems increasing SG_BIG_BUFF" -->
<title>sane-devel: Re: problems increasing SG_BIG_BUFF</title>
<h1>Re: problems increasing SG_BIG_BUFF</h1>
<b>Petter Reinholdtsen</b> (<a href="mailto:pere@hungry.com"><i>pere@hungry.com</i></a>)<br>
<i>Sun, 13 Jun 1999 11:05:15 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#67">[ date ]</a><a href="index.html#67">[ thread ]</a><a href="subject.html#67">[ subject ]</a><a href="author.html#67">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Peter Kirchgessner: "Re: "scsi HP" in hp.conf"</a>
<li> <b>Previous message:</b> <a href="0066.html">Petter Reinholdtsen: "Missing month in mail archive webpage"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Andreas Buesching: "problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Douglas Gilbert: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Andreas Buesching]<br>
<i>&gt; So I increased SG_BIG_BUFF and compiled the kernel and sane again.</i><br>
<i>&gt; The result was: nothing. Some months ago when I used an older kernel</i><br>
<i>&gt; (2.0.x), there was an result: My scanner did not stop every 5mm to</i><br>
<i>&gt; transfer the data (it sounds horrible if it stops every 5mm).</i><br>
<p>
I beleave the newer kernel SCSI Generic (sq) driver ignores this<br>
define, and allows setting the max buffer size on a per-session basis.<br>
<p>
Look at &lt;URL:<a href="http://www.torque.net/sg/">http://www.torque.net/sg/</a>&gt; for more info.  I'm not sure<br>
if the driver is included in the kernel distribution yet, so take this<br>
info with a grain of salt. :-)<br>
<pre>
-- 
##&gt;  Petter Reinholdtsen  &lt;##  |  <a href="mailto:pere@td.org.uit.no">pere@td.org.uit.no</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0068.html">Peter Kirchgessner: "Re: "scsi HP" in hp.conf"</a>
<li> <b>Previous message:</b> <a href="0066.html">Petter Reinholdtsen: "Missing month in mail archive webpage"</a>
<li> <b>Maybe in reply to:</b> <a href="0047.html">Andreas Buesching: "problems increasing SG_BIG_BUFF"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Douglas Gilbert: "Re: problems increasing SG_BIG_BUFF"</a>
<!-- reply="end" -->
</ul>
