<!-- received="Tue Jun 22 04:47:49 1999 PDT" -->
<!-- sent="Tue, 22 Jun 1999 13:47:52 +0200 (CEST)" -->
<!-- name="scratch" -->
<!-- email="scratch@ace.ulyssis.student.kuleuven.ac.be" -->
<!-- subject="artec home handheld scanners" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: artec home handheld scanners</title>
<h1>artec home handheld scanners</h1>
<b>scratch</b> (<a href="mailto:scratch@ace.ulyssis.student.kuleuven.ac.be"><i>scratch@ace.ulyssis.student.kuleuven.ac.be</i></a>)<br>
<i>Tue, 22 Jun 1999 13:47:52 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#138">[ date ]</a><a href="index.html#138">[ thread ]</a><a href="subject.html#138">[ subject ]</a><a href="author.html#138">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Steve Springett: "Segmentation Fault"</a>
<li> <b>Previous message:</b> <a href="0137.html">Henry Miller: "Re: Spy on the SCSI-bus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I've got some time on my hands, so I've decided to give some of it to the<br>
sane project, mainly to get my scanner working in Linux :)<br>
<p>
Anyway, what I have here is an Artec handheld scanner. This is not a scsi<br>
model, it uses a small isa interface card. I haven't found any information<br>
about, ever. Could someone tell me if there are SANE backends that handle<br>
isa interfaced scanners already? That would give me a head start.<br>
<p>
It will probably be necessary to get help from Artec on this one, as it<br>
seems to be a housebuilt interface. Has the SANE project got a default<br>
mail/letter available for getting info from the manufacturer? What would<br>
be good points to bring out in such a letter to the manufacturer in order<br>
to convince them to support the Linux platform?<br>
<p>
Any help appreciated,<br>
<p>
Nico<br>
<p>
:: Nico Galoppo ::  Linux - Free power for the masses  :  ::  :::::.<br>
                ::                                                 ::<br>
                ::  scratch at ace.ulyssis.student.kuleuven.ac.be  ::<br>
                 :                 <a href="http://hq.narfum.org/~scratch">http://hq.narfum.org/~scratch</a>  ::<br>
                   .                                           .::<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0139.html">Steve Springett: "Segmentation Fault"</a>
<li> <b>Previous message:</b> <a href="0137.html">Henry Miller: "Re: Spy on the SCSI-bus"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
