<!-- received="Tue Jun 22 15:59:37 1999 PDT" -->
<!-- sent="Tue, 22 Jun 1999 23:23:27 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="37700795.BC7BB6A0@generation.net" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 22 Jun 1999 23:23:27 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#148">[ date ]</a><a href="index.html#148">[ thread ]</a><a href="subject.html#148">[ subject ]</a><a href="author.html#148">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Meino Christian Cramer: "Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F"</a>
<li> <b>Previous message:</b> <a href="0147.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 22 Jun 1999, Simon Piette wrote:<br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; Hi Simon,</i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; did you install the generic scsi driver (sg) ?</i><br>
<i>&gt; </i><br>
<i>&gt; In /etc, I did ./MAKEDEV sg . It produced sg[0-70 and sg[a-h].</i><br>
<p>
That isn't what he meant, he meant the actual (kernel level) SG driver<br>
<p>
But AFAIK you already said that find-scanner sees your scanner, so<br>
that means you MUST have SCSI generic, because it uses the SG driver<br>
to go hunting for scanners...<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0149.html">Meino Christian Cramer: "Re: SCSI-bus confusing with AVISION AV630CS/TEKRAM DC390F"</a>
<li> <b>Previous message:</b> <a href="0147.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
