<!-- received="Wed Jun 23 11:35:09 1999 PDT" -->
<!-- sent="Wed, 23 Jun 1999 20:36:02 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="New umax backend (build 6)" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: New umax backend (build 6)</title>
<h1>New umax backend (build 6)</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Wed, 23 Jun 1999 20:36:02 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#158">[ date ]</a><a href="index.html#158">[ thread ]</a><a href="subject.html#158">[ subject ]</a><a href="author.html#158">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">David Fox: "Re: Fix for grayscale scans with gamma &lt; 1.0"</a>
<li> <b>Previous message:</b> <a href="0157.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I uploaded umax-build-6 to my homepage:<br>
<a href="http://www.wolfsburg.de/~rauch/sane/sane-umax.html">http://www.wolfsburg.de/~rauch/sane/sane-umax.html</a><br>
<p>
- experimental Astra 2400S support<br>
- Genius ColorPage-HR5 (vendor KYE) support<br>
<p>
and some other changes that were necessary to get the Astra 2400S<br>
to work!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0159.html">David Fox: "Re: Fix for grayscale scans with gamma &lt; 1.0"</a>
<li> <b>Previous message:</b> <a href="0157.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
