<!-- received="Wed Jun 23 20:10:09 1999 PDT" -->
<!-- sent="Wed, 23 Jun 1999 23:15:30 -0400" -->
<!-- name="Douglas Gilbert" -->
<!-- email="dgilbert@interlog.com" -->
<!-- subject="Re: Umax 1200S on LinuxPPC R5" -->
<!-- id="" -->
<!-- inreplyto="Umax 1200S on LinuxPPC R5" -->
<title>sane-devel: Re: Umax 1200S on LinuxPPC R5</title>
<h1>Re: Umax 1200S on LinuxPPC R5</h1>
<b>Douglas Gilbert</b> (<a href="mailto:dgilbert@interlog.com"><i>dgilbert@interlog.com</i></a>)<br>
<i>Wed, 23 Jun 1999 23:15:30 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Hugo van der Kooij: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0171.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Simon Piette wrote:<br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; Oliver Rauch wrote:</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; It looks like the umax backend is not able to get an inuiry</i><br>
<i>&gt; &gt; from the scanner.</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; &gt; Are you able to use other scsi-devices via the generic scsi driver</i><br>
<i>&gt; &gt; on your computer?</i><br>
<i>&gt; &gt;</i><br>
<i>&gt; </i><br>
<i>&gt; Is it possible to test with an EZ drive?</i><br>
Yes.<br>
<p>
<i>&gt; Would I have to compile a kernel without my specific SCSI driver?</i><br>
No, you must identify your SCSI driver.<br>
<p>
<i>&gt; Any docs to refer to?</i><br>
Several docs are available ...<br>
<p>
I don't know which kernel you are using but if it is anything<br>
after 2.0 then you can go to:<br>
<a href="http://www.torque.net/sg">http://www.torque.net/sg</a><br>
and follow the utility and test programs links, get the tarball<br>
and build sg_scan and run it. This will tell you if sg is<br>
present and can detect your devices. If that works, try "sg_scan -i"<br>
to get an INQUIRY on every device. There is documentation at<br>
that site about sg as well. It shouldn't make any difference<br>
whether sg is built into the kernel or is a module.<br>
<p>
Please reply to me if you have problems compiling or running<br>
sg_scan.<br>
<p>
Doug Gilbert<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Hugo van der Kooij: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0171.html">Simon Piette: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Maybe in reply to:</b> <a href="0140.html">Simon Piette: "Umax 1200S on LinuxPPC R5"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">Oliver Rauch: "Re: Umax 1200S on LinuxPPC R5"</a>
<!-- reply="end" -->
</ul>
