<!-- received="Mon Jun 28 14:29:09 1999 PDT" -->
<!-- sent="Mon, 28 Jun 1999 23:27:41 +0200 (CDT)" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: X6EL modes under OS/2?" -->
<!-- id="199906282128.XAA31949@tocai.nline.it" -->
<!-- inreplyto="199906281832.OAA02091@skunk.cs.rochester.edu" -->
<title>sane-devel: Re: X6EL modes under OS/2?</title>
<h1>Re: X6EL modes under OS/2?</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Mon, 28 Jun 1999 23:27:41 +0200 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#229">[ date ]</a><a href="index.html#229">[ thread ]</a><a href="subject.html#229">[ subject ]</a><a href="author.html#229">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0230.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0228.html">Roderick Klein: "Re: Scanner Development"</a>
<li> <b>In reply to:</b> <a href="0227.html">joel@cs.rochester.edu: "Re: X6EL modes under OS/2?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0237.html">Bernd Schroeder: "Re: X6EL modes under OS/2?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Mon, 28 Jun 1999 14:32:34 -0400, <a href="mailto:joel@cs.rochester.edu">joel@cs.rochester.edu</a> wrote:<br>
<p>
<i>&gt;That does explain my difficulties.  Is scanimage the smallest available</i><br>
<i>&gt;executable file that includes the back end?</i><br>
<p>
no, scanimage is only a frontend. The backend code is in the DLL<br>
(libsane.dll).<br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 * <a href="http://www.quasarbbs.com/yuri">http://www.quasarbbs.com/yuri</a><br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0230.html">Douglas Gilbert: "Re: Umax 1200S on LinuxPPC R5"</a>
<li> <b>Previous message:</b> <a href="0228.html">Roderick Klein: "Re: Scanner Development"</a>
<li> <b>In reply to:</b> <a href="0227.html">joel@cs.rochester.edu: "Re: X6EL modes under OS/2?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0237.html">Bernd Schroeder: "Re: X6EL modes under OS/2?"</a>
<!-- reply="end" -->
</ul>
