<!-- received="Sun Nov  1 23:09:47 1998 PST" -->
<!-- sent="Sun, 1 Nov 1998 23:09:45 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: GNU Software Catalog: @item @code{sane}" -->
<!-- id="199811020709.XAA25333@panda.mostang.com" -->
<!-- inreplyto="199811020411.XAA25968@delysid.gnu.org" -->
<title>sane-devel: Re: GNU Software Catalog: @item @code{sane}</title>
<h1>Re: GNU Software Catalog: @item @code{sane}</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sun, 1 Nov 1998 23:09:45 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Matti Koskimies: "Sym53c416 driver problem"</a>
<li> <b>Previous message:</b> <a href="0003.html">Catalog Editor: "GNU Software Catalog: @item @code{sane}"</a>
<li> <b>In reply to:</b> <a href="0003.html">Catalog Editor: "GNU Software Catalog: @item @code{sane}"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Brian,<br>
<p>
The entry for SANE looks fine.<br>
<p>
Could you direct future correspondence to <a href="mailto:sane-maint@mostang.com">sane-maint@mostang.com</a><br>
(instead of <a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a>)?  There are several hundred<br>
subscribes on sane-devel and most of the subscribers probably don't<br>
want/need to see administrative mails.<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 1 Nov 1998 23:11:03 -0500, Catalog Editor &lt;<a href="mailto:catalog-updates@gnu.org">catalog-updates@gnu.org</a>&gt; said:</i><br>
<p>
  Brian&gt; *** BEGIN current working copy of GNU's Bulletin text<br>
<p>
  Brian&gt; @item @code{sane} SANE (Scanner Access Now Easy) is a<br>
  Brian&gt; universal scanner interface.  The value of such a universal<br>
  Brian&gt; interface is that it allows writing just one driver per<br>
  Brian&gt; image acquisition device rather than one driver for each<br>
  Brian&gt; device and application.  So, if you have three applications<br>
  Brian&gt; and four devices, traditionally you'd have had to write 12<br>
  Brian&gt; different programs.  With SANE, this number is reduced to<br>
  Brian&gt; seven: the three applications plus the four drivers.  Of<br>
  Brian&gt; course, the savings get even bigger as more and more<br>
  Brian&gt; drivers and/or applications are added.<br>
<p>
  Brian&gt; *** END Bulletin text<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Matti Koskimies: "Sym53c416 driver problem"</a>
<li> <b>Previous message:</b> <a href="0003.html">Catalog Editor: "GNU Software Catalog: @item @code{sane}"</a>
<li> <b>In reply to:</b> <a href="0003.html">Catalog Editor: "GNU Software Catalog: @item @code{sane}"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
