<!-- received="Mon Nov  2 07:03:03 1998 PST" -->
<!-- sent="Mon, 02 Nov 1998 10:01:17 -0500" -->
<!-- name="Christoph Doerbeck A242369" -->
<!-- email="cdoerbec@cso.fmr.com" -->
<!-- subject="Re: problem getting linux to recognize SCSI host adapter" -->
<!-- id="199811021501.KAA01164@cso.fmr.com" -->
<!-- inreplyto="19981102142748.10407.qmail@noel.pd.org" -->
<title>sane-devel: Re: problem getting linux to recognize SCSI host adapter</title>
<h1>Re: problem getting linux to recognize SCSI host adapter</h1>
<b>Christoph Doerbeck A242369</b> (<a href="mailto:cdoerbec@cso.fmr.com"><i>cdoerbec@cso.fmr.com</i></a>)<br>
<i>Mon, 02 Nov 1998 10:01:17 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Wolfgang Goeller: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0011.html">becka@rz.uni-duesseldorf.de: "Re: Sym53c416 driver problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
"Mike Mitten" wrote:<br>
<i>&gt; Thanks for the help, folks.  Turns out that the mystery card uses a</i><br>
<i>&gt; Logic Devices 53C80, which is a replacement for the NCR 5380, which is</i><br>
<i>&gt; supported.  I even got the 24 page data sheet from their web site, but</i><br>
<i>&gt; I don't think it'll do me much good 'cause the card's BIOS seems to</i><br>
<i>&gt; hang at boot time, looking for a non-existent device on ID 1 after</i><br>
<i>&gt; it's found the scanner on 0.  I'm thinking my best bet is to print out</i><br>
<i>&gt; the SCSI section of the hardware compatibility HOWTO and take it to</i><br>
<i>&gt; CompUSA to get, as someone else said, a real SCSI controler.</i><br>
<i>&gt; </i><br>
<p>
This could be a SCSI termination problem.  Not to discourage you from buying<br>
a good supported SCSI card....<br>
<p>
Just my 2 cents...<br>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Wolfgang Goeller: "Re: problem getting linux to recognize SCSI host adapter"</a>
<li> <b>Previous message:</b> <a href="0011.html">becka@rz.uni-duesseldorf.de: "Re: Sym53c416 driver problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
