<!-- received="Tue Nov  3 14:53:03 1998 PST" -->
<!-- sent="Tue, 3 Nov 1998 23:51:42 +0100 (MET)" -->
<!-- name="Martin Huber" -->
<!-- email="hu@garfield.m.isar.de" -->
<!-- subject="Re: pre-release available for testing" -->
<!-- id="199811032251.XAA06097@garfield.m.isar.de" -->
<!-- inreplyto="pre-release available for testing" -->
<title>sane-devel: Re: pre-release available for testing</title>
<h1>Re: pre-release available for testing</h1>
<b>Martin Huber</b> (<a href="mailto:hu@garfield.m.isar.de"><i>hu@garfield.m.isar.de</i></a>)<br>
<i>Tue, 3 Nov 1998 23:51:42 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#29">[ date ]</a><a href="index.html#29">[ thread ]</a><a href="subject.html#29">[ subject ]</a><a href="author.html#29">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Andre Couture: "accessing saned from TWAIN/Windows???"</a>
<li> <b>Previous message:</b> <a href="0028.html">Sebastian Erdmann: "Patch to make Microtek Phantom 636 SCSI (aka ScanMaker X6) work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; From: "Scott J. Kramer" &lt;<a href="mailto:sjk@lux.com">sjk@lux.com</a>&gt;</i><br>
<i>&gt; Date: Fri, 30 Oct 1998 23:10:07 -1000</i><br>
<i>&gt; .......</i><br>
<i>&gt; </i><br>
<i>&gt; On Fri, 30-Oct-1998 @ 23:42, David Mosberger-Tang wrote:</i><br>
<i>&gt; &gt; Subject: pre-release available for testing</i><br>
<i>&gt; </i><br>
<i>&gt; [...]</i><br>
<i>&gt; </i><br>
<i>&gt; Hi David,</i><br>
<i>&gt; </i><br>
<i>&gt; Just grabbed sane-pre0.75.tar.gz and diff'd it with sane-0.74, and...</i><br>
<i>&gt; </i><br>
<i>&gt; I'd like to suggest upgrading to at least version 1.2 of libtool --</i><br>
<i>&gt; that was what was necessary for me to build sane-0.74 for Solaris</i><br>
<i>&gt; 2.5.1 (gcc-2.8.1).  Otherwise, the `make' produces core dumps when</i><br>
<i>&gt; attempting to create executables under frontend/.libs:</i><br>
<i>&gt; </i><br>
<i>&gt;   ...</i><br>
<i>&gt;   making all in frontend</i><br>
<i>&gt;   make[1]: Entering directory `/opt/src/local/sane-0.74/frontend'</i><br>
<i>&gt;   gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include </i><br>
-I/usr/local/include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/opt/local/etc/sane.d  <br>
        -DPATH_SANE_DATA_DIR=/opt/local/share           -DV_MAJOR=0 -DV_MINOR=74 <br>
-O2 -Wall -I/opt/X11/lib/glib/include -I/opt/X11/include -I/opt/X11R6.3/include <br>
scanimage.c<br>
<i>&gt;   mkdir .libs</i><br>
<i>&gt;   gcc -s -o .libs/scanimage scanimage.o -R/opt/local/lib </i><br>
../backend/.libs/libsane.so ../lib/liblib.a -ldl -lsocket -lnsl -lintl -lm<br>
<i>&gt;   creating scanimage</i><br>
<i>&gt;   Segmentation Fault - core dumped</i><br>
<i>&gt;   gcc -c -DHAVE_CONFIG_H -I. -I. -I../include -I../include </i><br>
-I/usr/local/include -D_GNU_SOURCE -DPATH_SANE_CONFIG_DIR=/opt/local/etc/sane.d  <br>
        -DPATH_SANE_DATA_DIR=/opt/local/share           -DV_MAJOR=0 -DV_MINOR=74 <br>
-O2 -Wall -I/opt/X11/lib/glib/include -I/opt/X11/include -I/opt/X11R6.3/include <br>
xscanimage.c<br>
<i>&gt;   ...</i><br>
<i>&gt; </i><br>
<i>&gt; That doesn't show the call to the libtool script, but the "creating</i><br>
<i>&gt; scanimage" message is from it.  I tracked the trouble to some sort</i><br>
<i>&gt; of printf command argument overflow bug; I didn't save the details,</i><br>
<i>&gt; sorry, and I'm too lazy/busy to go thru the drill that I did last</i><br>
<i>&gt; month to isolate it. :-)  To my knowledge, no patch exists.</i><br>
<i>&gt; </i><br>
<i>&gt; I grabbed ltconfig and ltmain.sh files from the gtk+1.0.5 distribution</i><br>
<i>&gt; and those generated a working libtools script.  The difference that</i><br>
<i>&gt; matters is the gtk+ ltconfig does tests for a working echo command</i><br>
<i>&gt; before the test for printf.</i><br>
<i>&gt; </i><br>
<i>&gt; I haven't tried compiled sane-pre0.75 yet, but I'm certain it will</i><br>
<i>&gt; fail unless I do the libtool upgrade as I did for sane-0.74.  I'll</i><br>
<i>&gt; let you know if there are any other Solaris-type troubles with 0.75,</i><br>
<i>&gt; too.</i><br>
<i>&gt; </i><br>
<i>&gt; Thanx much to all SANE authors for writing/providing this cool</i><br>
<i>&gt; software package.  I've converted an old Sun IPX into a "scanner</i><br>
<i>&gt; server" using saned and it works just dandy thru gimp+xscanimage</i><br>
<i>&gt; running on an SS5.  Sometimes the xscanimage plugin crashes, but</i><br>
<i>&gt; that's only a minor nuisance 'cuz I'm not doing anything serious</i><br>
<i>&gt; enough to care... I'd rather that than be forced to use a PC to</i><br>
<i>&gt; run the scanner. :-)</i><br>
<i>&gt; </i><br>
<p>
I compiled sane-0.74 as well as sane-pre0.75 on Solaris 2.6 sparc<br>
and x86 without any errors.<br>
<p>
  --martin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0030.html">Andre Couture: "accessing saned from TWAIN/Windows???"</a>
<li> <b>Previous message:</b> <a href="0028.html">Sebastian Erdmann: "Patch to make Microtek Phantom 636 SCSI (aka ScanMaker X6) work"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
