<!-- received="Wed Nov  4 07:41:59 1998 PST" -->
<!-- sent="Wed, 04 Nov 1998 12:17:02 +0000" -->
<!-- name="Jon Schneider" -->
<!-- email="jons@sdl.ug.eds.com" -->
<!-- subject="Re: problem getting linux to recognize SCSI host adapter" -->
<!-- id="" -->
<!-- inreplyto="problem getting linux to recognize SCSI host adapter" -->
<title>sane-devel: Re: problem getting linux to recognize SCSI host adapter</title>
<h1>Re: problem getting linux to recognize SCSI host adapter</h1>
<b>Jon Schneider</b> (<a href="mailto:jons@sdl.ug.eds.com"><i>jons@sdl.ug.eds.com</i></a>)<br>
<i>Wed, 04 Nov 1998 12:17:02 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#38">[ date ]</a><a href="index.html#38">[ thread ]</a><a href="subject.html#38">[ subject ]</a><a href="author.html#38">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">James Carter: "hporig driver"</a>
<li> <b>Previous message:</b> <a href="0037.html">Hunter, Peter: "Question."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; It came set on 5, but the card hung looking for 0, so I changed it to</i><br>
<i>&gt; 0. The card finds the scanner now, but still hangs looking for 1.</i><br>
<i>&gt; Oh, and the SCSI terminator is attached to the scanner, too.</i><br>
<p>
I think I would remove or failing that disable the ROM on board.<br>
If it isn't in a socket you might be able to lift and tie one pin.<br>
<p>
If you don't know how (and I can't guarantee being able to help) you<br>
can scan us a picture of it.<br>
<p>
	Jon<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0039.html">James Carter: "hporig driver"</a>
<li> <b>Previous message:</b> <a href="0037.html">Hunter, Peter: "Question."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
