<!-- received="Sat Nov  7 06:41:19 1998 PST" -->
<!-- sent="Sat, 07 Nov 1998 15:38:56 +0100" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: Sane v.74 for OS/2 and Acer Prism SCSI" -->
<!-- id="199811071439.PAA11748@tocai.nline.it" -->
<!-- inreplyto="Sane v.74 for OS/2 and Acer Prism SCSI" -->
<title>sane-devel: Re: Sane v.74 for OS/2 and Acer Prism SCSI</title>
<h1>Re: Sane v.74 for OS/2 and Acer Prism SCSI</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Sat, 07 Nov 1998 15:38:56 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Dominik Strasser: "Mustek Paragon 1200SP"</a>
<li> <b>Previous message:</b> <a href="0058.html">Pkirchg@aol.com: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Neil Zampella: "Re: Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Fri, 06 Nov 1998 17:07:13 -0500, Neil Zampella wrote:<br>
<p>
<i>&gt;when I use the v.74 version I get:</i><br>
<p>
it's a bug, that I should address soon.<br>
<p>
<i>&gt;So the system is definitely seeing something ... however, I can't scan as the device isn't recognized by any of </i><br>
<i>&gt;the 'back ends'.    Any assistance or advice would be appreciated !!</i><br>
<p>
find.scanner finds everything that is a scsi device, but you need a backend to drive your scanner model. <br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Dominik Strasser: "Mustek Paragon 1200SP"</a>
<li> <b>Previous message:</b> <a href="0058.html">Pkirchg@aol.com: "Re: New pretest available [was: Re: available for testing: Is delay Possible?]"</a>
<li> <b>Maybe in reply to:</b> <a href="0056.html">Neil Zampella: "Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0072.html">Neil Zampella: "Re: Sane v.74 for OS/2 and Acer Prism SCSI"</a>
<!-- reply="end" -->
</ul>
