<!-- received="Wed Nov 18 00:06:52 1998 PST" -->
<!-- sent="Wed, 18 Nov 1998 09:05:26 +0100 (MET)" -->
<!-- name="Danilo Godec" -->
<!-- email="danci@kibla.org" -->
<!-- subject="Re: Mustek Parallel?" -->
<!-- id="" -->
<!-- inreplyto="Pine.LNX.4.02.9811171452360.153-100000@jeffd.i2k.net" -->
<title>sane-devel: Re: Mustek Parallel?</title>
<h1>Re: Mustek Parallel?</h1>
<b>Danilo Godec</b> (<a href="mailto:danci@kibla.org"><i>danci@kibla.org</i></a>)<br>
<i>Wed, 18 Nov 1998 09:05:26 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Ken Terrell: "Re: Mustek Parallel?"</a>
<li> <b>Previous message:</b> <a href="0139.html">Pkirchg@aol.com: "Re: HP C6270 works with scan-hp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Is there any chance that my scanner / Primax Direct 4800D / is somewhat<br>
compatible with Mustek parallel port models? Or any other parallel port<br>
scanner that Sane might support in (near) future? <br>
<p>
    D.<br>
<p>
PS.: I there anyone working on Twain-to-saned yet? I'd really like to see<br>
those things get alive (both, my scanner and Twain for Sane), but<br>
unfortunately I can't be much more than a beta tester. I don't speak C. :/<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">Ken Terrell: "Re: Mustek Parallel?"</a>
<li> <b>Previous message:</b> <a href="0139.html">Pkirchg@aol.com: "Re: HP C6270 works with scan-hp"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
