<!-- received="Wed Nov 18 21:11:36 1998 PST" -->
<!-- sent="Wed, 18 Nov 1998 16:13:10 -0800" -->
<!-- name="Joaquin Menchaca" -->
<!-- email="dont@spam.me" -->
<!-- subject="Just check this stuff out" -->
<!-- id="36536295.A49CB0F@spam.me" -->
<!-- inreplyto="" -->
<title>sane-devel: Just check this stuff out</title>
<h1>Just check this stuff out</h1>
<b>Joaquin Menchaca</b> (<a href="mailto:dont@spam.me"><i>dont@spam.me</i></a>)<br>
<i>Wed, 18 Nov 1998 16:13:10 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#152">[ date ]</a><a href="index.html#152">[ thread ]</a><a href="subject.html#152">[ subject ]</a><a href="author.html#152">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Greg McGee: "Microtek scanner V600"</a>
<li> <b>Previous message:</b> <a href="0151.html">John van den Heuvel: "[Fwd: UMAX Mirage IIse support??]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I cannot beleive that I have never heard of this.  This stuff is simply<br>
awesome.<br>
I wanted to make a program for my Apple ColorOne Scanner for Windows<br>
someday and I have the SCSI Block Diagrams for my scanner published<br>
by Apple.  But I was even amazed that this is already done.<br>
<p>
Wow, I am completely impressed!!!  I like the comment TWAIN is not SANE.<br>
<p>
I completely agree with that.<br>
<p>
I hope you guys keep up the good work.<br>
<p>
Anyways, I just wanted to drop a praise.<br>
<p>
ciao,<br>
 Joaquin<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0153.html">Greg McGee: "Microtek scanner V600"</a>
<li> <b>Previous message:</b> <a href="0151.html">John van den Heuvel: "[Fwd: UMAX Mirage IIse support??]"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
