<!-- received="Wed Nov 18 21:11:27 1998 PST" -->
<!-- sent="Wed, 18 Nov 1998 11:43:16 -0800" -->
<!-- name="Greg McGee" -->
<!-- email="gjmcgee@uswest.net" -->
<!-- subject="Microtek scanner V600" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek scanner V600</title>
<h1>Microtek scanner V600</h1>
<b>Greg McGee</b> (<a href="mailto:gjmcgee@uswest.net"><i>gjmcgee@uswest.net</i></a>)<br>
<i>Wed, 18 Nov 1998 11:43:16 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Ben Jones: "Any hope for Mustek A3 EP (not SCSI)?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Joaquin Menchaca: "Just check this stuff out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
All that is required to get the Microtek V600 working under SANE is add<br>
"Scanner 600A4" to the microtek2.desc file.<br>
All funtions appear to work well, Have had one buss hang that woldn't<br>
time out when trying to do second preview after scan in xscanimage. One<br>
should note that scanner does same thing on first scans after  power-up<br>
on both Mac and Amiga scanner software, they just reset scsi buss and<br>
scanner to fix after timeout.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Ben Jones: "Any hope for Mustek A3 EP (not SCSI)?"</a>
<li> <b>Previous message:</b> <a href="0152.html">Joaquin Menchaca: "Just check this stuff out"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
