<!-- received="Thu Nov 19 07:25:08 1998 PST" -->
<!-- sent="Thu, 19 Nov 1998 16:20:33 +0100" -->
<!-- name="Andreas Schrell" -->
<!-- email="schrell@wupperonline.de" -->
<!-- subject="Re: News from Minolta" -->
<!-- id="" -->
<!-- inreplyto="News from Minolta" -->
<title>sane-devel: Re: News from Minolta</title>
<h1>Re: News from Minolta</h1>
<b>Andreas Schrell</b> (<a href="mailto:schrell@wupperonline.de"><i>schrell@wupperonline.de</i></a>)<br>
<i>Thu, 19 Nov 1998 16:20:33 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#163">[ date ]</a><a href="index.html#163">[ thread ]</a><a href="subject.html#163">[ subject ]</a><a href="author.html#163">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Michael K. Johnson: "Re: News from Minolta"</a>
<li> <b>Previous message:</b> <a href="0162.html">Sebastian Erdmann: "Patch for Microtek ScanMaker X6 (microtek2 backend)"</a>
<li> <b>Maybe in reply to:</b> <a href="0157.html">David Rose: "News from Minolta"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Michael K. Johnson: "Re: News from Minolta"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello David,<br>
<p>
here is one of your alpha/beta testers...<br>
<p>
Good luck!<br>
<p>
Andreas Schrell<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0164.html">Michael K. Johnson: "Re: News from Minolta"</a>
<li> <b>Previous message:</b> <a href="0162.html">Sebastian Erdmann: "Patch for Microtek ScanMaker X6 (microtek2 backend)"</a>
<li> <b>Maybe in reply to:</b> <a href="0157.html">David Rose: "News from Minolta"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0164.html">Michael K. Johnson: "Re: News from Minolta"</a>
<!-- reply="end" -->
</ul>
