<!-- received="Thu Nov 19 09:00:24 1998 PST" -->
<!-- sent="Thu, 19 Nov 1998 09:02:26 -0800" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Re: forwarded message from Richard Stallman" -->
<!-- id="98111909031800.17206@patches" -->
<!-- inreplyto="forwarded message from Richard Stallman" -->
<title>sane-devel: Re: forwarded message from Richard Stallman</title>
<h1>Re: forwarded message from Richard Stallman</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Thu, 19 Nov 1998 09:02:26 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#167">[ date ]</a><a href="index.html#167">[ thread ]</a><a href="subject.html#167">[ subject ]</a><a href="author.html#167">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Richard Reuters: "Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Previous message:</b> <a href="0166.html">Christian Ordig: "Primax scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0165.html">David Mosberger-Tang: "forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0188.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Next in thread:</b> <a href="0169.html">Michael K. Johnson: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Reply:</b> <a href="0188.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 19 Nov 1998, you wrote:<br>
<i>&gt;&gt;Does anyone who contributed to SANE have reservations against SANE</i><br>
<i>&gt;becoming a GNU program?  I think making SANE a GNU program would be</i><br>
<i>&gt;beneficial to both parties (SANE developers &amp; FSF).</i><br>
<i>&gt;</i><br>
<p>
Does that mean that you couldn't have a Java front-end, or ports to non-GPL'd<br>
OS's like OS/2 or BE?<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0168.html">Richard Reuters: "Scn2_90.zip &amp; 9a.zip"</a>
<li> <b>Previous message:</b> <a href="0166.html">Christian Ordig: "Primax scanner"</a>
<li> <b>Maybe in reply to:</b> <a href="0165.html">David Mosberger-Tang: "forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0188.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Next in thread:</b> <a href="0169.html">Michael K. Johnson: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Reply:</b> <a href="0188.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<!-- reply="end" -->
</ul>
