<!-- received="Sat Nov 21 16:23:06 1998 PST" -->
<!-- sent="Sat, 21 Nov 1998 16:23:06 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: forwarded message from Richard Stallman" -->
<!-- id="199811220023.QAA24152@panda.mostang.com" -->
<!-- inreplyto="98111909031800.17206@patches" -->
<title>sane-devel: Re: forwarded message from Richard Stallman</title>
<h1>Re: forwarded message from Richard Stallman</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Sat, 21 Nov 1998 16:23:06 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Previous message:</b> <a href="0187.html">David Mosberger-Tang: "Re: Output filters for xscanimage:a simple attempt"</a>
<li> <b>In reply to:</b> <a href="0167.html">Jeff Freedman: "Re: forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Michael K. Johnson: "Re: forwarded message from Richard Stallman"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 19 Nov 1998 09:02:26 -0800, Jeff Freedman &lt;<a href="mailto:jsf@hevanet.com">jsf@hevanet.com</a>&gt; said:</i><br>
<p>
  Jeff&gt; On Thu, 19 Nov 1998, you wrote:<br>
<i>  &gt;&gt;&gt; Does anyone who contributed to SANE have reservations against</i><br>
<i>  &gt;&gt;&gt; SANE</i><br>
<i>  &gt;&gt; becoming a GNU program?  I think making SANE a GNU program would</i><br>
<i>  &gt;&gt; be beneficial to both parties (SANE developers &amp; FSF).</i><br>
<i>  &gt;&gt; </i><br>
<p>
  Jeff&gt; Does that mean that you couldn't have a Java front-end, or<br>
  Jeff&gt; ports to non-GPL'd OS's like OS/2 or BE?<br>
<p>
No, not at all.  I think it says not to _recommend_ non-free programs,<br>
but it doesn't say not to support them.  Most GNU programs work even<br>
under Win32.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">David Mosberger-Tang: "Re: forwarded message from Richard Stallman"</a>
<li> <b>Previous message:</b> <a href="0187.html">David Mosberger-Tang: "Re: Output filters for xscanimage:a simple attempt"</a>
<li> <b>In reply to:</b> <a href="0167.html">Jeff Freedman: "Re: forwarded message from Richard Stallman"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0169.html">Michael K. Johnson: "Re: forwarded message from Richard Stallman"</a>
<!-- reply="end" -->
</ul>
