<!-- received="Mon Nov 23 14:30:35 1998 PST" -->
<!-- sent="Mon, 23 Nov 1998 14:30:29 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: snappy support" -->
<!-- id="199811232230.OAA05677@panda.mostang.com" -->
<!-- inreplyto="365980BC.34A8FD5F@enteract.com" -->
<title>sane-devel: Re: snappy support</title>
<h1>Re: snappy support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 23 Nov 1998 14:30:29 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#229">[ date ]</a><a href="index.html#229">[ thread ]</a><a href="subject.html#229">[ subject ]</a><a href="author.html#229">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0230.html">David Mosberger-Tang: "Re: SANE 1.00 configuration (libjpeg)"</a>
<li> <b>Previous message:</b> <a href="0228.html">Nils Juergens: "Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 23 Nov 1998 09:35:24 -0600, Jason Scott Gessner &lt;<a href="mailto:gessner@enteract.com">gessner@enteract.com</a>&gt; said:</i><br>
<p>
  Jason&gt; hello sane developers!  I had previously written to PLAY,<br>
  Jason&gt; Inc. to inquire about linux support for my great little<br>
  Jason&gt; snappy video grabber and they said, humorously, that they<br>
  Jason&gt; only supported 100% IBM compatible systems (funny because<br>
  Jason&gt; redhat is running on my IBM Aptiva.  Oh well).<br>
<p>
  Jason&gt; So they said no, but I wanted to ask you guys &amp; gals if you<br>
  Jason&gt; had any plans for supporting it.<br>
<p>
I would be happy to include a driver for this device as soon as<br>
someone submits a backend for it.  I don't know of anyone actively<br>
working on such a backend however.  Perhaps you'd like to pursue this<br>
project?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0230.html">David Mosberger-Tang: "Re: SANE 1.00 configuration (libjpeg)"</a>
<li> <b>Previous message:</b> <a href="0228.html">Nils Juergens: "Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
