<!-- received="Mon Nov 23 15:02:21 1998 PST" -->
<!-- sent="Mon, 23 Nov 98 17:14:50 " -->
<!-- name="Volker Beyerle" -->
<!-- email="jaa@wildber.aball.de" -->
<!-- subject="microtek 330" -->
<!-- id="m0zi4yg-000IwLC@harvey.aball.de" -->
<!-- inreplyto="" -->
<title>sane-devel: microtek 330</title>
<h1>microtek 330</h1>
<b>Volker Beyerle</b> (<a href="mailto:jaa@wildber.aball.de"><i>jaa@wildber.aball.de</i></a>)<br>
<i>Mon, 23 Nov 98 17:14:50 </i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#234">[ date ]</a><a href="index.html#234">[ thread ]</a><a href="subject.html#234">[ subject ]</a><a href="author.html#234">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Chris Pinkham: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0233.html">Angel Orille-Franz: "Mustek MFC-08000CZ suffers damage with y_range.max=292.0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0245.html">Bernd Schroeder: "Re: microtek 330"</a>
<li> <b>Reply:</b> <a href="0245.html">Bernd Schroeder: "Re: microtek 330"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello!<br>
<p>
Some days ago David Mosberger-Tang announced Sane 1.0, <br>
between other he wrote:<br>
<p>
************<br>
* Updated Microtek2 backend<br>
  - Added support for ScanMaker 330, ScanMaker 636, ScanMaker E3plus,<br>
    ScanMaker X6 and Phantom 636.<br>
  - Other improvements (this includes support for automatic document<br>
feeders<br>
    and transparency adapters, missing option descriptions were added).<br>
  - Updated the manual page.<br>
*********<br>
<p>
1) Does this mean, that up to now the Microtek Scanmaker 330 wasn't<br>
supported? (it could explain, why I was not able to adress this scanner<br>
......)<br>
<p>
2) Can Yuri Dario already say, when he will be able to port it to OS/2?<br>
<p>
byebye,<br>
Volker<br>
--------------------------------<br>
<a href="mailto:jaa@wildber.aball.de">jaa@wildber.aball.de</a><br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0235.html">Chris Pinkham: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0233.html">Angel Orille-Franz: "Mustek MFC-08000CZ suffers damage with y_range.max=292.0"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0245.html">Bernd Schroeder: "Re: microtek 330"</a>
<li> <b>Reply:</b> <a href="0245.html">Bernd Schroeder: "Re: microtek 330"</a>
<!-- reply="end" -->
</ul>
