<!-- received="Mon Nov 23 19:24:50 1998 PST" -->
<!-- sent="Mon, 23 Nov 98 22:17:11 -0500" -->
<!-- name="Frederick" -->
<!-- email="niles@axp745.gsfc.nasa.gov" -->
<!-- subject="sane-1.00-patch" -->
<!-- id="199811240317.WAA27496@axp745.gsfc.nasa.gov" -->
<!-- inreplyto="" -->
<title>sane-devel: sane-1.00-patch</title>
<h1>sane-1.00-patch</h1>
<b>Frederick</b> (<a href="mailto:niles@axp745.gsfc.nasa.gov"><i>niles@axp745.gsfc.nasa.gov</i></a>)<br>
<i>Mon, 23 Nov 98 22:17:11 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#237">[ date ]</a><a href="index.html#237">[ thread ]</a><a href="subject.html#237">[ subject ]</a><a href="author.html#237">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">Chris Pinkham: "Re: sane-backends patch"</a>
<li> <b>Previous message:</b> <a href="0236.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here's a patch I applied to make sane-1.00 happy with egcs-1.1b.<br>
They seem like pretty innocent changes.  What do you think?<br>
<p>
	Rick Niles.<br>
<p>
------<br>
diff -r -cp sane-1.00/backend/abaton.c sane-1.00.new/backend/abaton.c<br>
*** sane-1.00/backend/abaton.c	Sat Nov 21 21:54:14 1998<br>
--- sane-1.00.new/backend/abaton.c	Mon Nov 23 21:17:18 1998<br>
*************** sane_control_option (SANE_Handle handle,<br>
*** 1113,1119 ****<br>
  <br>
  	case OPT_Y_RESOLUTION:<br>
  	  if (s-&gt;val[OPT_PREVIEW].w || s-&gt;val[OPT_RESOLUTION_BIND].w) {<br>
! 	    s-&gt;val[OPT_X_RESOLUTION] = *(SANE_Word *)val;<br>
  	    if (info)<br>
  	      *info |= SANE_INFO_RELOAD_OPTIONS;<br>
  	  }<br>
--- 1113,1119 ----<br>
  <br>
  	case OPT_Y_RESOLUTION:<br>
  	  if (s-&gt;val[OPT_PREVIEW].w || s-&gt;val[OPT_RESOLUTION_BIND].w) {<br>
! 	    s-&gt;val[OPT_X_RESOLUTION] = (Option_Value) *(SANE_Word *) val;<br>
  	    if (info)<br>
  	      *info |= SANE_INFO_RELOAD_OPTIONS;<br>
  	  }<br>
diff -r -cp sane-1.00/backend/agfafocus.c sane-1.00.new/backend/agfafocus.c<br>
*** sane-1.00/backend/agfafocus.c	Thu Oct 29 01:52:32 1998<br>
--- sane-1.00.new/backend/agfafocus.c	Mon Nov 23 21:25:06 1998<br>
*************** read_data (AgfaFocus_Scanner * s, SANE_B<br>
*** 774,786 ****<br>
  <br>
    /* Reverse: */<br>
    if (s-&gt;bpp != 1)<br>
!     if (s-&gt;bpp != 6)<br>
!       for (i = 0; i &lt; size; i++)<br>
! 	buf[i] = 255 - buf[i];<br>
!     else<br>
!       for (i = 0; i &lt; size; i++)<br>
! 	buf[i] = 255 - ((buf[i] * 256.0f) / 64.0f);<br>
! 		  <br>
    s-&gt;lines_available -= lines;<br>
  <br>
    return SANE_STATUS_GOOD;<br>
--- 774,788 ----<br>
  <br>
    /* Reverse: */<br>
    if (s-&gt;bpp != 1)<br>
!     {<br>
!       if (s-&gt;bpp != 6)<br>
! 	for (i = 0; i &lt; size; i++)<br>
! 	  buf[i] = 255 - buf[i];<br>
!       else<br>
! 	for (i = 0; i &lt; size; i++)<br>
! 	  buf[i] = 255 - ((buf[i] * 256.0f) / 64.0f);<br>
!     }<br>
!   <br>
    s-&gt;lines_available -= lines;<br>
  <br>
    return SANE_STATUS_GOOD;<br>
diff -r -cp sane-1.00/backend/qcam.c sane-1.00.new/backend/qcam.c<br>
*** sane-1.00/backend/qcam.c	Fri Jul 24 01:34:07 1998<br>
--- sane-1.00.new/backend/qcam.c	Mon Nov 23 21:29:29 1998<br>
*************** reader_process (QC_Scanner *s, int in_fd<br>
*** 1047,1053 ****<br>
  static SANE_Status<br>
  attach (const char *devname, QC_Device **devp)<br>
  {<br>
!   int i, n1, n2, s1, s2, cmd, port, force_unidir;<br>
    SANE_Status result;<br>
    QC_Device * q;<br>
    char *endp;<br>
--- 1047,1053 ----<br>
  static SANE_Status<br>
  attach (const char *devname, QC_Device **devp)<br>
  {<br>
!   int i, n1=0, n2, s1=0, s2, cmd, port, force_unidir;<br>
    SANE_Status result;<br>
    QC_Device * q;<br>
    char *endp;<br>
diff -r -cp sane-1.00/backend/umax.c sane-1.00.new/backend/umax.c<br>
*** sane-1.00/backend/umax.c	Tue Nov 10 00:28:12 1998<br>
--- sane-1.00.new/backend/umax.c	Mon Nov 23 21:59:54 1998<br>
***************<br>
*** 101,118 ****<br>
  #define DBG_sane_option 13<br>
  <br>
  <br>
- /* ------------------------------------------------------------ SANE DEFINES ------------------------------- */<br>
- <br>
- <br>
- #define BACKEND_NAME     umax<br>
- #define UMAX_CONFIG_FILE "umax.conf"<br>
- #define MM_PER_INCH	 25.4<br>
- <br>
- #ifndef PATH_MAX<br>
- #define PATH_MAX         1024<br>
- #endif<br>
- <br>
- <br>
  /* ------------------------------------------------------------ INCLUDES ----------------------------------- */<br>
  <br>
  <br>
--- 101,106 ----<br>
***************<br>
*** 153,158 ****<br>
--- 141,158 ----<br>
  #include "umax.h"<br>
  #include "sane/sanei_backend.h"<br>
  #include "sane/sanei_config.h"<br>
+ <br>
+ <br>
+ /* ------------------------------------------------------------ SANE DEFINES ------------------------------- */<br>
+ <br>
+ <br>
+ #define BACKEND_NAME     umax<br>
+ #define UMAX_CONFIG_FILE "umax.conf"<br>
+ #define MM_PER_INCH	 25.4<br>
+ <br>
+ #ifndef PATH_MAX<br>
+ #define PATH_MAX         1024<br>
+ #endif<br>
  <br>
  <br>
  /* ------------------------------------------------------------ STRINGDEFINITIONS -------------------------- */<br>
Only in sane-1.00.new/include: Makefile<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0238.html">Chris Pinkham: "Re: sane-backends patch"</a>
<li> <b>Previous message:</b> <a href="0236.html">becka@rz.uni-duesseldorf.de: "Re: Mustek 12000 SP not working"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
