<!-- received="Tue Nov 24 03:27:17 1998 PST" -->
<!-- sent="Tue, 24 Nov 1998 13:27:02 +0200" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: Too many options for xscanimage" -->
<!-- id="" -->
<!-- inreplyto="Too many options for xscanimage" -->
<title>sane-devel: Re: Too many options for xscanimage</title>
<h1>Re: Too many options for xscanimage</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Tue, 24 Nov 1998 13:27:02 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#240">[ date ]</a><a href="index.html#240">[ thread ]</a><a href="subject.html#240">[ subject ]</a><a href="author.html#240">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0239.html">John Brush: "What do I need to do to get high res?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Chris Pinkham wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt; Yes, there already is the "advanced" option concept.  If you mark an</i><br>
<i>&gt; &gt; option as advanced, graphical interfaces such as xscanimage will</i><br>
<i>&gt; </i><br>
<i>&gt; I don't know if it is relevant to the backend that started this discussion,</i><br>
<i>&gt; but one thing I did recently with the Artec backend was make sure that only</i><br>
<i>&gt; relevant options are displayed.  I think I got the idea from either the</i><br>
<i>&gt; Microtek or Umax backend.</i><br>
<i>&gt; </i><br>
<p>
[snip]<br>
<p>
<p>
I am using the same policy in the apple backend. I disable non valid<br>
options. I also utilize the idea of the ADVANCED bit in the options. I<br>
still have problem in the xscanimage when the user desires to see all<br>
the available options, and yes I have gone options nuts already :-)<br>
<p>
The notebook look will be a great relief...<br>
<p>
	Milon Firikis<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0241.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<li> <b>Previous message:</b> <a href="0239.html">John Brush: "What do I need to do to get high res?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
