<!-- received="Tue Nov 24 09:49:58 1998 PST" -->
<!-- sent="Tue, 24 Nov 1998 12:48:56 -0500 (EST)" -->
<!-- name="danielroberts@technologist.com" -->
<!-- email="danielroberts@technologist.com" -->
<!-- subject="Logitech Scanman Driver" -->
<!-- id="98112412485633.00871@web01.iname.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Logitech Scanman Driver</title>
<h1>Logitech Scanman Driver</h1>
<a href="mailto:danielroberts@technologist.com"><i>danielroberts@technologist.com</i></a><br>
<i>Tue, 24 Nov 1998 12:48:56 -0500 (EST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#243">[ date ]</a><a href="index.html#243">[ thread ]</a><a href="subject.html#243">[ subject ]</a><a href="author.html#243">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<li> <b>Previous message:</b> <a href="0242.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<li> <b>Reply:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I have two Logitech Scanmans here (hand-held scanners), and I am wondering if anyone out there is developing a driver for them...  I have heard rumors that a driver for them is being developed...  Is it true?  If so, I would like to assist in testing it.<br>
<p>
---------------------------------------------------<br>
Get free personalized email at <a href="http://www.iname.com">http://www.iname.com</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<li> <b>Previous message:</b> <a href="0242.html">Oliver Rauch: "Re: Too many options for xscanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<li> <b>Reply:</b> <a href="0244.html">becka@rz.uni-duesseldorf.de: "Re: Logitech Scanman Driver"</a>
<!-- reply="end" -->
</ul>
