<!-- received="Thu Nov 26 11:51:28 1998 PST" -->
<!-- sent="Wed, 25 Nov 1998 14:46:06 +0100 (CET)" -->
<!-- name="Alberto Porta" -->
<!-- email="porta@poboxes.com" -->
<!-- subject="Epson GT-5500 Success!!" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Epson GT-5500 Success!!</title>
<h1>Epson GT-5500 Success!!</h1>
<b>Alberto Porta</b> (<a href="mailto:porta@poboxes.com"><i>porta@poboxes.com</i></a>)<br>
<i>Wed, 25 Nov 1998 14:46:06 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#253">[ date ]</a><a href="index.html#253">[ thread ]</a><a href="subject.html#253">[ subject ]</a><a href="author.html#253">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0254.html">Debi-Lee Wilkinson: "parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0252.html">Andre Couture: "AT3 command reference doc... I received it!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
I'm using Sane 1.00 and the SCSI scanner Epson GT 5500 Rev: 1.01 (the<br>
SCSI controller is a Adaptec AVA-1505 AE/AI) ;<br>
I have no problems to scan image.<br>
Thank you very much to all SANE team for your great work. <br>
<p>
<p>
					Bye Alberto<br>
		<br>
<pre>
--
Alberto Porta                         Debian 2.0 Linux User
e-mail &lt;<a href="mailto:porta@poboxes.com">porta@poboxes.com</a>&gt; 
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0254.html">Debi-Lee Wilkinson: "parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0252.html">Andre Couture: "AT3 command reference doc... I received it!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
