<!-- received="Sun Nov 29 22:55:14 1998 PST" -->
<!-- sent="Mon, 30 Nov 1998 01:53:40 EST" -->
<!-- name="Pkirchg@aol.com" -->
<!-- email="Pkirchg@aol.com" -->
<!-- subject="Re: problem with HP C6270A (Scanjet ADF) using ADF" -->
<!-- id="" -->
<!-- inreplyto="problem with HP C6270A (Scanjet ADF) using ADF" -->
<title>sane-devel: Re: problem with HP C6270A (Scanjet ADF) using ADF</title>
<h1>Re: problem with HP C6270A (Scanjet ADF) using ADF</h1>
<a href="mailto:Pkirchg@aol.com"><i>Pkirchg@aol.com</i></a><br>
<i>Mon, 30 Nov 1998 01:53:40 EST</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#291">[ date ]</a><a href="index.html#291">[ thread ]</a><a href="subject.html#291">[ subject ]</a><a href="author.html#291">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0292.html">Christian Frank: "Relisys Scanner"</a>
<li> <b>Previous message:</b> <a href="0290.html">Christian Grigis: "Re: Patch for Microtek ScanMaker X6 (microtek2 backend)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; If I put the sheet into the document feeder and call "scanimage":</i><br>
<i>&gt; 1) The feeder takes the sheet</i><br>
<i>&gt; 2) It waits a few seconds and the sound indicates that the carriage starts</i><br>
<i>&gt; to move, but the sheet remains fixed</i><br>
<i>&gt; 3) The feeder outputs the sheet</i><br>
<p>
Hello,<br>
<p>
currently there is no special support for the ADF. It seems that the<br>
backend inquires the imageable area when the paper is not loaded onto<br>
the scanner. In that case the scanner does not know the size of the sheet<br>
and reports a zero y-extent. Or if you try to specify the size, it would<br>
exceed<br>
the size that is known to the scanner and it will generate an error.<br>
I will try to find a solution. But up to then I think you cant use the ADF.<br>
<p>
Sincerely<br>
<p>
Peter<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0292.html">Christian Frank: "Relisys Scanner"</a>
<li> <b>Previous message:</b> <a href="0290.html">Christian Grigis: "Re: Patch for Microtek ScanMaker X6 (microtek2 backend)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
