<!-- received="Tue Jul  1 06:36:45 1997 MST" -->
<!-- sent="Tue, 01 Jul 1997 11:40:34 +0200" -->
<!-- name="Frank Weigel" -->
<!-- email="frank@frawei.inka.de" -->
<!-- subject="Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning" -->
<!-- id="9707010821.ZM26401@medchem2.pharmazie.uni-halle.de" -->
<!-- inreplyto="problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning" -->
<title>sane-devel: Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</title>
<h1>Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</h1>
<b>Frank Weigel</b> (<a href="mailto:frank@frawei.inka.de"><i>frank@frawei.inka.de</i></a>)<br>
<i>Tue, 01 Jul 1997 11:40:34 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#1">[ date ]</a><a href="index.html#1">[ thread ]</a><a href="subject.html#1">[ subject ]</a><a href="author.html#1">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">David Mosberger-Tang: "language"</a>
<li> <b>Previous message:</b> <a href="0000.html">Mathias Weigt: "Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Mathias,<br>
<p>
Mathias Weigt (Stud. 94) wrote:<br>
<i>&gt; =</i><br>
<p>
<i>&gt; Servus !</i><br>
<i>&gt; =</i><br>
<p>
<i>&gt; &gt; "I've got some problems scanning in color. Every time I want to scan =</i><br>
I<br>
 =<br>
<p>
<i>&gt; Was f=FCr einen Scanner genau hast Du ?</i><br>
<p>
MFS-12000CX, Firmware 2.71<br>
<p>
<i>&gt; Ich hab einen MFS-06000CX und freue</i><br>
<i>&gt; mich =FCber jeden, der die 3-pass Lobby st=E4rkt. Leider mangelt es mir=</i><br>
 an<br>
<i>&gt; programmiertechnischem Geschick, manche Probleme selbst zu beheben.</i><br>
Das gleiche Problem wie bei mir...<br>
<p>
<i>&gt; Ich hatte gestern auch Probleme zu scannen und glaube, das dies erst se=</i><br>
it<br>
<i>&gt; SANE 0.6 der Fall ist. Probier doch einfach mal Version 0.57 oder fr=FC=</i><br>
her, da<br>
<i>&gt; m=FC=DFte es noch funktionieren. =</i><br>
<p>
Hm, Version 0.54 habe ich noch nicht compiliert bekommen, habe mich aber<br>
noch nicht so extrem mit dieser Version beschaeftigt.<br>
<p>
<i>&gt;Leider kann ich in den n=E4chsten Tagen nicht selber</i><br>
<i>&gt; der Sache auf den Grund gehen (kann ja auch an meinem System liegen), d=</i><br>
a ich<br>
<i>&gt; meinen Rechner nicht anschlie=DFen kann. Trotzdem Color Scannen mit MUS=</i><br>
TEK 3-pass<br>
<i>&gt; ist unter SANE (noch) nicht zu empfehlen, weil konkurrenzlos langsam.</i><br>
Hm, das macht mir eigentlich nicht soviel aus, hauptsache ich brauche<br>
Windoof nicht mehr und kann es endlich von der Platte werfen!<br>
<p>
<i>&gt; Es gibt (f=FCr die Zwischenzeit) aber noch zwei weitere Programme f=FCr=</i><br>
 MUSTEK, von<br>
<i>&gt; welchen ich das eine erfolgreich getestet habe und nutze.</i><br>
<i>&gt; =</i><br>
<p>
<i>&gt; <a href="http://www4.informatik.uni-erlangen.de/~aoaugust/mustek/mustek.html">http://www4.informatik.uni-erlangen.de/~aoaugust/mustek/mustek.html</a></i><br>
<i>&gt;  funktioniert bei mir sehr gut.</i><br>
Danke fuer den Tip, gleich mal schauen.<br>
 =<br>
<p>
<i>&gt; Das andere ist ein Gimp-plugin von Matthias Greim (angus@uni-paderborn.=</i><br>
de).<br>
<i>&gt; Nennt sich glaube ich Mscan-0.2 oder so...</i><br>
Hm, das unterstuetzt -sowei ich weiss- meinen Scanner noch nicht.<br>
 =<br>
<p>
<i>&gt; Viel Spa=DF noch...</i><br>
Den werde ich haben...<br>
<p>
Frank =<br>
<p>
<pre>
--
"2000 Jahre rumhaengen ist sowieso kein Vorbild f=FCr deutsche
Schueler..."
                              F. Kueppersbusch zum Kruzifix(urteil)
WWW: <a href="http://www.inka.de/~frawei/">http://www.inka.de/~frawei/</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0002.html">David Mosberger-Tang: "language"</a>
<li> <b>Previous message:</b> <a href="0000.html">Mathias Weigt: "Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
