<!-- received="Tue Jul  1 12:50:53 1997 MST" -->
<!-- sent="Tue, 1 Jul 1997 21:35:24 +0200" -->
<!-- name="Thomas Blume" -->
<!-- email="mblum1@tc9.uni-paderborn.de" -->
<!-- subject="Re: forwarded message from Andre Kunth" -->
<!-- id="9707011935.AA12021@tc9.uni-paderborn.de" -->
<!-- inreplyto="forwarded message from Andre Kunth" -->
<title>sane-devel: Re: forwarded message from Andre Kunth</title>
<h1>Re: forwarded message from Andre Kunth</h1>
<b>Thomas Blume</b> (<a href="mailto:mblum1@tc9.uni-paderborn.de"><i>mblum1@tc9.uni-paderborn.de</i></a>)<br>
<i>Tue, 1 Jul 1997 21:35:24 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#7">[ date ]</a><a href="index.html#7">[ thread ]</a><a href="subject.html#7">[ subject ]</a><a href="author.html#7">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">beanbek@nuyums.trinet.bc.ca: "sane-0.6 compile errors"</a>
<li> <b>Previous message:</b> <a href="0006.html">David Mosberger-Tang: "Re: fix for sane-0.6, need testers."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I'm forwarding this mail since I believe somebody else on this list is</i><br>
<i>&gt; having the same scanner and firmware.  I don't recall what the state</i><br>
<i>&gt; is with respect to the MFS-12000SP.  Maybe those with the same scanner</i><br>
<i>&gt; can provide some insight?</i><br>
<i>&gt; </i><br>
<i>&gt;     --david</i><br>
<i>&gt; </i><br>
[...]<br>
<p>
<i>&gt; we are running a MFS12000SP Scanner from Mustek (Firmware 1.02).</i><br>
<i>&gt; I got sane-0.57 (the only programm works somehow with the Mustek) under</i><br>
<i>&gt; Linux and tried out certain things.</i><br>
<i>&gt; BUT: The only resolution which works correctly is 36dpi (!). That means</i><br>
<i>&gt; the Scanner behaves normal in this Mode. (Colormode)</i><br>
<i>&gt; Increasing the resolution to significantly over 100dpi results in a</i><br>
<i>&gt; scanner, which is scattering wildly. </i><br>
<i>&gt; Additionally 600dpi in Grayscale-Mode results in a scanner, which</i><br>
<i>&gt; runs out of range and bounces (the progress bar is much slower than the</i><br>
<i>&gt; scanner reaches its bounds :-)</i><br>
<i>&gt; In debugging mode only 4096 Bytes are transfered at once, although</i><br>
<i>&gt; SG_BIG_BUFF is much bigger and I hope also in affect.</i><br>
<i>&gt; </i><br>
<i>&gt; I'm using a PPro 200 with Linux-Kernel 2.0.27</i><br>
<p>
- The 1200SP (1.02) does not need the line distance fix, so you should<br>
run configure with the corresponding option. <br>
<p>
- You should set SG_BIG_BUF to 128*1024-512 and recompile the kernel<br>
(and sane!) to make it aware of the change.<br>
<p>
- from my experience with this device the scan area is set correctly<br>
by sane, but under certain conditions which I could not reproduce, the<br>
scanner in fact starts a scan without resetting.<br>
<p>
Bye,<br>
<p>
	Thomas<br>
<p>
<p>
<pre>
---
Thomas Blume                          &lt;<a href="mailto:mblum1@hrz.uni-paderborn.de">mblum1@hrz.uni-paderborn.de</a>&gt;
Technische Chemie und Chemische Verfahrenstechnik, UNI-GH-Paderborn
Tel.: +49 5251 602598                          Fax: +49 5251 603244
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0008.html">beanbek@nuyums.trinet.bc.ca: "sane-0.6 compile errors"</a>
<li> <b>Previous message:</b> <a href="0006.html">David Mosberger-Tang: "Re: fix for sane-0.6, need testers."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
