<!-- received="Sun Jul  6 09:47:12 1997 MST" -->
<!-- sent="Sun, 6 Jul 1997 09:27:06 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: SANE and AIX" -->
<!-- id="199707061627.JAA08783@panda.mosberger" -->
<!-- inreplyto="19970706124808.32843@adm1jed" -->
<title>sane-devel: Re: SANE and AIX</title>
<h1>Re: SANE and AIX</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 6 Jul 1997 09:27:06 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#23">[ date ]</a><a href="index.html#23">[ thread ]</a><a href="subject.html#23">[ subject ]</a><a href="author.html#23">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: SANE and AIX"</a>
<li> <b>Previous message:</b> <a href="0022.html">David Mosberger-Tang: "QuickCam owners: free VIDEC campaign"</a>
<li> <b>In reply to:</b> <a href="0021.html">Rogan Dawes: "SANE and AIX"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0024.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: SANE and AIX"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 6 Jul 1997 12:48:08 +0200, Rogan Dawes &lt;<a href="mailto:rdawes@jhbelec.co.za">rdawes@jhbelec.co.za</a>&gt; said:</i><br>
<p>
  Rogan&gt; Well, I managed to do a SCSI enquiry, without having to<br>
  Rogan&gt; define a device especially for the purpose, but the program<br>
  Rogan&gt; had to be run as root.<br>
<p>
Great news!<br>
<p>
  Rogan&gt; This was because I needed permission to open the host<br>
  Rogan&gt; adapter.  I confess that I don't see any clean way around<br>
  Rogan&gt; this.  I guess that I will have to try to write some kind of<br>
  Rogan&gt; stub device that will accept SCSI commands and return the<br>
  Rogan&gt; results using the IOCTL mechanism.  Sounds like fun.<br>
<p>
Another option is to use saned.  As long as saned has access and the<br>
hostname of a user is listed in /usr/local/etc/saned.conf, then the<br>
user will be able to access the scanner.  Avoiding setuid problems was<br>
one of the reasons to write saned, btw.<br>
<p>
I don't think I'd recommend that for development, but once the AIX<br>
support works, it should provide a clean solution.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0024.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: SANE and AIX"</a>
<li> <b>Previous message:</b> <a href="0022.html">David Mosberger-Tang: "QuickCam owners: free VIDEC campaign"</a>
<li> <b>In reply to:</b> <a href="0021.html">Rogan Dawes: "SANE and AIX"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0024.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: SANE and AIX"</a>
<!-- reply="end" -->
</ul>
