<!-- received="Fri Jul 11 11:09:36 1997 MST" -->
<!-- sent="Fri, 11 Jul 1997 13:35:22 -0400" -->
<!-- name="Michael Sweet" -->
<!-- email="mike@easysw.com" -->
<!-- subject="Re: Any ports to Irix6.3?" -->
<!-- id="199707111638.JAA24147@panda.mosberger" -->
<!-- inreplyto="Any ports to Irix6.3?" -->
<title>sane-devel: Re: Any ports to Irix6.3?</title>
<h1>Re: Any ports to Irix6.3?</h1>
<b>Michael Sweet</b> (<a href="mailto:mike@easysw.com"><i>mike@easysw.com</i></a>)<br>
<i>Fri, 11 Jul 1997 13:35:22 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Andrew Kuchling: "Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0031.html">David Mosberger-Tang: "Re: Any ports to Irix6.3?"</a>
<li> <b>Maybe in reply to:</b> <a href="0030.html">Antonio Scotti: "Any ports to Irix6.3?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
David Mosberger-Tang wrote:<br>
<i>&gt; </i><br>
<i>&gt; &gt;&gt;&gt;&gt;&gt; On Fri, 11 Jul 1997 18:08:22 +0200, Antonio Scotti &lt;<a href="mailto:ascotti@enefecto.es">ascotti@enefecto.es</a>&gt; said:</i><br>
<i>&gt; </i><br>
<i>&gt;   Antonio&gt; Hi SANE guys, I am going to develop an application the</i><br>
<i>&gt;   Antonio&gt; needs to use scanner capabilities on SGI O2 under Irix6.3</i><br>
<i>&gt;   Antonio&gt; Is there any port to this platform?  If not are there any</i><br>
<i>&gt;   Antonio&gt; plans make one?  How about the Irix5.3 release, has anyone</i><br>
<i>&gt;   Antonio&gt; one tested it on Irix6.3?  Thanks in advance,</i><br>
<i>&gt; </i><br>
<i>&gt; I don't have access to Irix6.3.  Why not download sane-0.61 and see</i><br>
<i>&gt; how it goes?  I certainly do not anticipate any major problems.</i><br>
<p>
The only problem will be the lack of SCSI support (true for all<br>
versions of IRIX right now).  I've been looking at doing the code<br>
for IRIX (and Solaris, if necessary) so SANE will have SCSI support<br>
across the board...<br>
<p>
<pre>
-- 
________________________________________________________________________
 Mike Sweet        Software for SGI and Sun      Easy Software Products
 (301) 373-9603          Workstations          44145 Airport View Drive
 mike@easysw.com    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636
<p>
        SUPPORT THE ANTI-SPAM AMENDMENT! - <a href="http://www.cauce.org">http://www.cauce.org</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Andrew Kuchling: "Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0031.html">David Mosberger-Tang: "Re: Any ports to Irix6.3?"</a>
<li> <b>Maybe in reply to:</b> <a href="0030.html">Antonio Scotti: "Any ports to Irix6.3?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
