<!-- received="Fri Jul 11 19:00:40 1997 MST" -->
<!-- sent="Fri, 11 Jul 1997 18:22:19 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Difficulties finding my scanner." -->
<!-- id="199707120122.SAA07789@panda.mosberger" -->
<!-- inreplyto="199707112336.TAA00278@localhost" -->
<title>sane-devel: Re: Difficulties finding my scanner.</title>
<h1>Re: Difficulties finding my scanner.</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Fri, 11 Jul 1997 18:22:19 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Previous message:</b> <a href="0033.html">Andrew Kuchling: "Hangs with B&amp;W QuickCam"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Reply:</b> <a href="0035.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Reply:</b> <a href="0036.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Fri, 11 Jul 1997 18:22:38 -0700, Jesse Hughes &lt;<a href="mailto:jesse%22@cmu.edu">jesse+@cmu.edu</a>&gt; said:</i><br>
<p>
  Jesse&gt; Hey ho.  I just installed a scanner, and Linux can't seem to<br>
  Jesse&gt; find it.  Here's what saned tells me:<br>
<p>
  Jesse&gt; root:/home/jesse$ saned -d128<br>
  Jesse&gt; saned: could not find `saned' service (Unknown error)<br>
  Jesse&gt; saned: using default port 6566<br>
<p>
saned is the network daemon.  Are you sure that's what you want?  The<br>
warning message is harmless but you can get rid of it by following the<br>
instructions in saned(1).<br>
<p>
  Jesse&gt; The scanner comes with an interface card.  It was suggested<br>
  Jesse&gt; that this card might end up being assigned /dev/sga or<br>
  Jesse&gt; something, but that doesn't seem to be the case.  What do I<br>
  Jesse&gt; do?<br>
<p>
You don't have to run saned in order to access the scanner.  Try<br>
scanimage or xscanimage instead.<br>
<p>
Are you trying this with the ImageReader scanner that you mentioned<br>
Wednesday?  If so, I'm not too hopeful that it will work.  If so, you<br>
could try track things down by requesting additional info by setting<br>
the appropriate environment variables to a large value (say 128).  The<br>
environment variables are described in the man-pages (things like<br>
SANE_DEBUG_MUSTEK, SANE_DEBUG_UMAX, and SANE_DEBUG_SANEI_SCSI are most<br>
relevant, though SANE_DEBUG_DLL may come in handy, too).<br>
<p>
	       --david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Previous message:</b> <a href="0033.html">Andrew Kuchling: "Hangs with B&amp;W QuickCam"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Reply:</b> <a href="0035.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<li> <b>Reply:</b> <a href="0036.html">David Mosberger-Tang: "Re: Difficulties finding my scanner."</a>
<!-- reply="end" -->
</ul>
