<!-- received="Sat Jul 12 13:18:43 1997 MST" -->
<!-- sent="Sat, 12 Jul 1997 12:45:36 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: system hangs with umax Astra 1200S / freebsd" -->
<!-- id="199707121945.MAA17202@panda.mosberger" -->
<!-- inreplyto="199707120704.DAA20731@tarsier.colo.erols.net" -->
<title>sane-devel: Re: system hangs with umax Astra 1200S / freebsd</title>
<h1>Re: system hangs with umax Astra 1200S / freebsd</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sat, 12 Jul 1997 12:45:36 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Amancio Hasty: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0040.html">David Mosberger-Tang: "related projects info added to home page"</a>
<li> <b>In reply to:</b> <a href="0038.html">eric: "system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0043.html">eric: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Reply:</b> <a href="0043.html">eric: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Reply:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Reply:</b> <a href="0049.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sat, 12 Jul 1997 03:04:59 -0400 (EDT), eric &lt;<a href="mailto:eric@tarsier.colo.erols.net">eric@tarsier.colo.erols.net</a>&gt; said:</i><br>
<p>
  Eric&gt; I added "Astra 1200S " to the list of umax scanners recognized<br>
  Eric&gt; on the hope that it would be more or less like the Astra 600S<br>
  Eric&gt; which was already listed.<br>
<p>
  Eric&gt; scanimage -L lists the scanner as umax:/dev/uk0 as it should,<br>
  Eric&gt; the kernel recognizes the scanner, but when I try to any type<br>
  Eric&gt; of scan, the entire system hangs solid and needs to be<br>
  Eric&gt; power-cycled.<br>
<p>
  Eric&gt; In debugging mode: <br>
  Eric&gt; [umax]<br>
  Eric&gt; grabbing scanner<br>
  Eric&gt; scanner ready<br>
  Eric&gt; scanner reserved<br>
  Eric&gt; trying to reposition scanner ...<br>
  Eric&gt; scanner ready<br>
  Eric&gt; scanner repositioned<br>
  Eric&gt; set_window_param<br>
  Eric&gt; window descriptor block created with 82 bytes<br>
<p>
  Eric&gt; and at this point the system hangs completely and needs to be<br>
  Eric&gt; reset.<br>
<p>
  Eric&gt; Can anyone suggest what might be wrong?<br>
<p>
Hmmh, what version of FreeBSD and what SCSI controller are you using?<br>
I find it strange that a user-level SCSI program would hang the entire<br>
system.  I suppose it might be possible for the scanner to block the<br>
SCSI bus if something bad happens, but it should not lock up the<br>
entire system.  Hence I wonder whether the problem might be with the<br>
generic SCSI driver, rather than the UMAX backend.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Amancio Hasty: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Previous message:</b> <a href="0040.html">David Mosberger-Tang: "related projects info added to home page"</a>
<li> <b>In reply to:</b> <a href="0038.html">eric: "system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0043.html">eric: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Reply:</b> <a href="0043.html">eric: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Reply:</b> <a href="0044.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<li> <b>Reply:</b> <a href="0049.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- reply="end" -->
</ul>
