<!-- received="Sun Jul 13 02:01:17 1997 MST" -->
<!-- sent="Sun, 13 Jul 1997 01:25:43 -0700" -->
<!-- name="Amancio Hasty" -->
<!-- email="hasty@rah.star-gate.com" -->
<!-- subject="Re: Gimp using sane to acquire images?" -->
<!-- id="199707130825.BAA02422@rah.star-gate.com" -->
<!-- inreplyto="Gimp using sane to acquire images?" -->
<title>sane-devel: Re: Gimp using sane to acquire images?</title>
<h1>Re: Gimp using sane to acquire images?</h1>
<b>Amancio Hasty</b> (<a href="mailto:hasty@rah.star-gate.com"><i>hasty@rah.star-gate.com</i></a>)<br>
<i>Sun, 13 Jul 1997 01:25:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#47">[ date ]</a><a href="index.html#47">[ thread ]</a><a href="subject.html#47">[ subject ]</a><a href="author.html#47">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Previous message:</b> <a href="0046.html">eric: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">eric: "Gimp using sane to acquire images?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Reply:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
The problem lies with the configure script in that it does not<br>
have a good mechanism for locating include files in a system.<br>
Actually, it is a problem with the autoconf m4 macros for not<br>
making facility similar for locating X available for other<br>
libraries, programs, and include files.<br>
<p>
	Amancio<br>
<p>
<i>&gt;From The Desk Of eric :</i><br>
<i>&gt; Once again, responding to my own message. :) </i><br>
<i>&gt; </i><br>
<i>&gt; It turns out that under FreeBSD, configure was not succeeding in finding all</i><br>
<i>&gt; the necessary include files for libgimp, because the glib.h file by default</i><br>
<i>&gt; tries to include "glibconfig.h" where it should be including </i><br>
<i>&gt; "glib/glibconfig.h" since all the glib include files seem to get installed</i><br>
<i>&gt; in .../include/glib/*.h. </i><br>
<i>&gt; After "fixing" glib.h, configure was satisfied that glib and thus libgimp</i><br>
<i>&gt; were present, and built the "gimpified" version of xscanimage. </i><br>
<i>&gt; Maybe someone else is having the same problem and will be demystified now. </i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; On Sun, Jul 13, 1997 at 02:15:57AM -0400, eric wrote:</i><br>
<i>&gt; &gt; What needs to be done to make gimp know that it can use *scanimage to </i><br>
<i>&gt; &gt; acquire images? I can't seem to find any documentation that says any more</i><br>
<i>&gt; &gt; than that it is possible. I've build the frontends with the latest gtk+</i><br>
<i>&gt; &gt; library and libgimp installed, etc... What else do I have to do, or where</i><br>
<i>&gt; &gt; is the documentation that seems to be eluding me? :) </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; this is FreeBSD 2.2.2 incidentally. </i><br>
<i>&gt; &gt; </i><br>
<i>&gt; &gt; 				eric</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a></i><br>
<i>&gt; To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a></i><br>
<i>&gt; </i><br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Previous message:</b> <a href="0046.html">eric: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Maybe in reply to:</b> <a href="0045.html">eric: "Gimp using sane to acquire images?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<li> <b>Reply:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<!-- reply="end" -->
</ul>
