<!-- received="Sun Jul 13 10:35:47 1997 MST" -->
<!-- sent="Sun, 13 Jul 1997 10:02:43 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: system hangs with umax Astra 1200S / freebsd" -->
<!-- id="199707131702.KAA20855@panda.mosberger" -->
<!-- inreplyto="199707121945.MAA17202@panda.mosberger" -->
<title>sane-devel: Re: system hangs with umax Astra 1200S / freebsd</title>
<h1>Re: system hangs with umax Astra 1200S / freebsd</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 13 Jul 1997 10:02:43 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#49">[ date ]</a><a href="index.html#49">[ thread ]</a><a href="subject.html#49">[ subject ]</a><a href="author.html#49">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Guido Muesch: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<li> <b>In reply to:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Amancio Hasty: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Sun, 13 Jul 1997 07:39:00 -0700, Gordon Matzigkeit &lt;<a href="mailto:gord@m-tech.ab.ca">gord@m-tech.ab.ca</a>&gt; said:</i><br>
<p>
  Gord&gt; Right now I'm running my ScanJet 4p with an AHA1522 under<br>
  Gord&gt; Linux without any problems, and as I said before, it also<br>
  Gord&gt; worked under NetBSD.<br>
<p>
  Gord&gt; Thanks for any comments you folks may have.  I'd really like<br>
  Gord&gt; to figure out if this behaviour is a driver bug, so that the<br>
  Gord&gt; FreeBSD folks can fix it (if it isn't fixed already)! :)<br>
<p>
Also, if you guys can tell me exactly which driver/controller works<br>
under which version of FreeBSD, I'll be glad to add a section to the<br>
sane-scsi(5) man page.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0050.html">Guido Muesch: "Re: Hangs with B&amp;W QuickCam"</a>
<li> <b>Previous message:</b> <a href="0048.html">David Mosberger-Tang: "Re: Gimp using sane to acquire images?"</a>
<li> <b>In reply to:</b> <a href="0041.html">David Mosberger-Tang: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">Amancio Hasty: "Re: system hangs with umax Astra 1200S / freebsd"</a>
<!-- reply="end" -->
</ul>
