<!-- received="Wed Jul 16 14:53:59 1997 MST" -->
<!-- sent="Wed, 16 Jul 1997 14:43:27 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: sane v0.61 on SCO" -->
<!-- id="199707162143.OAA12907@panda.mosberger" -->
<!-- inreplyto="199707162114.RAA22530@linux.nycmetro.com" -->
<title>sane-devel: Re: sane v0.61 on SCO</title>
<h1>Re: sane v0.61 on SCO</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 16 Jul 1997 14:43:27 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#76">[ date ]</a><a href="index.html#76">[ thread ]</a><a href="subject.html#76">[ subject ]</a><a href="author.html#76">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">David Mosberger-Tang: "Mustek 3-pass scanner test code"</a>
<li> <b>Previous message:</b> <a href="0075.html">David Mosberger-Tang: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>In reply to:</b> <a href="0074.html">Billy the expert skier!: "sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<li> <b>Reply:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Wed, 16 Jul 1997 17:14:59 -0400 (EDT), Billy the expert skier! &lt;<a href="mailto:druid@linux.nycmetro.com">druid@linux.nycmetro.com</a>&gt; said:</i><br>
<p>
  Billy&gt; I am new to this mailing list, so please try to bear with<br>
  Billy&gt; me. I recently got interested with sane about 2 weeks ago,<br>
  Billy&gt; and when version 0.61 came out, I finally got it compiled on<br>
  Billy&gt; my SCO box.<br>
<p>
For completeness, can you tell me what compiler (and version) you were<br>
using?  Also, does shared library/dynamic linking support work under<br>
SCO?  (Send me the file config.cache if you don't know about the<br>
latter two.)<br>
<p>
  Billy&gt; Here is my setup: FreeSCO OpenServer 5 (3.2v5.0.2) gimp<br>
  Billy&gt; v0.99.10 (yes yes, I got this compiled in sco too ;-) sane<br>
  Billy&gt; v0.61 Mustek Scanner MFS-12000CX with it's own SCSI supplied<br>
  Billy&gt; interface card (ISA)<br>
<p>
  Billy&gt; I can't believe I actually got this thing compiled in sco.. I<br>
  Billy&gt; had to specifically tell the ./configure script where my gtk+<br>
  Billy&gt; stuff was, and even still, it didn't "find" &lt;libgimp/gimp.h&gt;<br>
  Billy&gt; So I made one tiny change to ./configure to find gimp.h I<br>
  Billy&gt; changed that line where it checks for &lt;libgimp/gimp.h&gt; to<br>
  Billy&gt; this: if eval "test \"`echo '$ac_cv_header_'$ac_safe`\" =<br>
  Billy&gt; no"; then --<br>
<p>
Yes, I'm sorry about that.  It's actually a bug in the gimp, but I<br>
should fix the gtk tar ball (there just ain't enough time to do<br>
everything).<br>
<p>
  Billy&gt; Anyway, now that I got the entire sane v0.61 package compiled<br>
  Billy&gt; and installed on my SCO box, I have somewhat of a dilemma.<br>
  Billy&gt; How do I get SCO to recognize my scanner??  It would be quite<br>
  Billy&gt; a shame if I couldn't get this done, considering that I got<br>
  Billy&gt; sane v0.61 compiled (scanimage, xscanimage, xcam, etc..)<br>
  Billy&gt; Does anyone know if this is possible in SCO??  And if so, how<br>
  Billy&gt; can it be accomplished? I assume the kernel has to be<br>
  Billy&gt; relinked with Scanner support (scsi). Maybe the 'mkdev'<br>
  Billy&gt; command or 'mknod' command? Please help!!! I want to be able<br>
  Billy&gt; to use my scanner in sco! :) I'll probably post this in<br>
  Billy&gt; comp.unix.sco.misc also.<br>
<p>
You need to find out whether there is a generic SCSI driver for SCO<br>
and then add the necessary support to sanei/sanei_scsi.c.  For<br>
somebody in the knows, this should be fairly quick to do, but I'm<br>
afraid I know next to nothing about the current SCO (has been 6+ years<br>
since I last work with SCO UNIX...).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0077.html">David Mosberger-Tang: "Mustek 3-pass scanner test code"</a>
<li> <b>Previous message:</b> <a href="0075.html">David Mosberger-Tang: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>In reply to:</b> <a href="0074.html">Billy the expert skier!: "sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<li> <b>Reply:</b> <a href="0080.html">Billy the expert skier!: "Re: sane v0.61 on SCO"</a>
<!-- reply="end" -->
</ul>
