<!-- received="Thu Jul 17 18:00:53 1997 MST" -->
<!-- sent="Thu, 17 Jul 1997 20:45:33 -0400 (EDT)" -->
<!-- name="Billy the expert skier!" -->
<!-- email="druid@linux.nycmetro.com" -->
<!-- subject="Re: sane v0.61 on SCO" -->
<!-- id="199707180045.UAA28401@linux.nycmetro.com" -->
<!-- inreplyto="199707162143.OAA12907@panda.mosberger" -->
<title>sane-devel: Re: sane v0.61 on SCO</title>
<h1>Re: sane v0.61 on SCO</h1>
<b>Billy the expert skier!</b> (<a href="mailto:druid@linux.nycmetro.com"><i>druid@linux.nycmetro.com</i></a>)<br>
<i>Thu, 17 Jul 1997 20:45:33 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#80">[ date ]</a><a href="index.html#80">[ thread ]</a><a href="subject.html#80">[ subject ]</a><a href="author.html#80">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<li> <b>Previous message:</b> <a href="0079.html">David Mosberger-Tang: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>In reply to:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<li> <b>Reply:</b> <a href="0081.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;   Billy&gt; I am new to this mailing list, so please try to bear with</i><br>
<i>&gt;   Billy&gt; me. I recently got interested with sane about 2 weeks ago,</i><br>
<i>&gt;   Billy&gt; and when version 0.61 came out, I finally got it compiled on</i><br>
<i>&gt;   Billy&gt; my SCO box.</i><br>
<i>&gt;</i><br>
<i>&gt; For completeness, can you tell me what compiler (and version) you were</i><br>
<i>&gt; using?  Also, does shared library/dynamic linking support work under</i><br>
<i>&gt; SCO?  (Send me the file config.cache if you don't know about the</i><br>
<i>&gt; latter two.)</i><br>
<p>
I used the C compiler (cc) that comes with SCO OpenServer 5 (3.2v5.0.2)<br>
and GNU's make (v3.75)  I configured sane v0.61 with --disable-shared<br>
I think it might also compile without any configure options, but<br>
--disable-shared worked fine for me (might be better this way too)<br>
<p>
-----snip here-----<br>
druid:~$ cc -V<br>
SCO UNIX Development System  Release 5.0.0a 16Mar95<br>
Usage: cc [ options ] files ...<br>
druid:~$ make -v<br>
GNU Make version 3.75, by Richard Stallman and Roland McGrath.<br>
Copyright (C) 1988, 89, 90, 91, 92, 93, 94, 95, 96<br>
	Free Software Foundation, Inc.<br>
This is free software; see the source for copying conditions.<br>
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A<br>
PARTICULAR PURPOSE.<br>
<p>
Report bugs to &lt;<a href="mailto:bug-gnu-utils@prep.ai.mit.edu">bug-gnu-utils@prep.ai.mit.edu</a>&gt;.<br>
-----snip there-----<br>
<p>
Anything else you'd like to know, you can ftp the binary distribution I<br>
made (.tar.gz) of sane v0.61 on my sco box... you or anyone else that is<br>
interested, can get it from:  ftp.nycmetro.com  directory /sco<br>
<p>
<p>
<i>&gt; You need to find out whether there is a generic SCSI driver for SCO</i><br>
<i>&gt; and then add the necessary support to sanei/sanei_scsi.c.  For</i><br>
<i>&gt; somebody in the knows, this should be fairly quick to do, but I'm</i><br>
<i>&gt; afraid I know next to nothing about the current SCO (has been 6+ years</i><br>
<i>&gt; since I last work with SCO UNIX...).</i><br>
<i>&gt; </i><br>
<i>&gt; 	--david</i><br>
<p>
I posted this (my post and your reply) to both comp.unix.sco.misc and<br>
comp.unix.sco.programmer in hopes of someone on there that can accomplish<br>
this :)  Look for the subject "SANE (Scanner) in SCO - help!" on there.<br>
<p>
Billy<br>
<p>
P.S. I think you can put SCO OpenServer 5.x support in the sane.lsm file,<br>
eh? :)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0081.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<li> <b>Previous message:</b> <a href="0079.html">David Mosberger-Tang: "Re: mustek: timeout after scan and cmd line parser bug"</a>
<li> <b>In reply to:</b> <a href="0076.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0081.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<li> <b>Reply:</b> <a href="0081.html">David Mosberger-Tang: "Re: sane v0.61 on SCO"</a>
<!-- reply="end" -->
</ul>
