<!-- received="Tue Jul 22 08:35:07 1997 MST" -->
<!-- sent="Tue, 22 Jul 1997 08:03:09 -0700 (PDT)" -->
<!-- name="Phil Ptkwt Kristin" -->
<!-- email="ptkwt@teleport.com" -->
<!-- subject="Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??" -->
<!-- id="199707221503.IAA08551@linda.teleport.com" -->
<!-- inreplyto="199707221320.JAA25305@nigel.redhat.com" -->
<title>sane-devel: Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</title>
<h1>Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??</h1>
<b>Phil Ptkwt Kristin</b> (<a href="mailto:ptkwt@teleport.com"><i>ptkwt@teleport.com</i></a>)<br>
<i>Tue, 22 Jul 1997 08:03:09 -0700 (PDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Kolja Waschk: "More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>In reply to:</b> <a href="0114.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; </i><br>
<i>&gt; Have you tried the latest umax package (NOT sane, umax) and built the</i><br>
<i>&gt; umax-cli program?  Does it give you the same results?</i><br>
<i>&gt; </i><br>
<i>&gt; michaelkjohnson</i><br>
<i>&gt; </i><br>
<p>
Where does one find this umax package?  Is it a totally seperate package from<br>
sane?<br>
<p>
Thanks,<br>
<p>
Phil Tomson<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">Kolja Waschk: "More on Mustek 8000SP adventures..."</a>
<li> <b>Previous message:</b> <a href="0115.html">Tristan Tarrant: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<li> <b>In reply to:</b> <a href="0114.html">Michael K. Johnson: "Re: Help: Umax Vista-S6E / umax-sane problem: problem FOUND??"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
