<!-- received="Thu May 15 07:55:14 1997 MST" -->
<!-- sent="Thu, 15 May 1997 07:25:35 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: [patch] Re: sane-0.57 available" -->
<!-- id="199705151425.HAA20538@panda.mosberger" -->
<!-- inreplyto="199705150739.JAA30562@hoggle.syscomp.de" -->
<title>sane-devel: Re: [patch] Re: sane-0.57 available</title>
<h1>Re: [patch] Re: sane-0.57 available</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 15 May 1997 07:25:35 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#3">[ date ]</a><a href="index.html#3">[ thread ]</a><a href="subject.html#3">[ subject ]</a><a href="author.html#3">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Mosberger-Tang: "Re: ScanJet 4p and sane"</a>
<li> <b>Previous message:</b> <a href="0002.html">Matthias Lautner: "Re: [patch] Re: sane-0.57 available"</a>
<li> <b>In reply to:</b> <a href="0002.html">Matthias Lautner: "Re: [patch] Re: sane-0.57 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 15 May 1997 09:39:24 +0200 (MET DST), Matthias Lautner &lt;l=</i><br>
<a href="mailto:autner@hoggle.syscomp.de">autner@hoggle.syscomp.de</a>&gt; said:<br>
<p>
  Matthias&gt; Hi!  First some technical data about my scanner: The<br>
  Matthias&gt; scanner is labeled MFS-12000CX [mustek] attach: firmware<br>
  Matthias&gt; revision 2.71 [mustek] attach: found Mustek scanner model<br>
  Matthias&gt; MFS-12000CX (flatbed scanner), 3-pass<br>
<p>
Thanks for the info!<br>
<p>
  Matthias&gt; I implemented the patch for contrast &amp; brightness Now the<br>
  Matthias&gt; maximum range in the brightness controll of xscanimage is<br>
  Matthias&gt; -36% .. 36% and -84% .. 84% for contrast. Is this right?<br>
<p>
Yup, according to the manual, that's correct.<br>
<p>
  Matthias&gt; The brightness and contrast is still calculated wrong for<br>
  Matthias&gt; 3-pass mustek scanners.  The result ranges from 1 to 24,<br>
  Matthias&gt; it should be 0 to 24.  change in function<br>
  Matthias&gt; encode_percentage() in mustek.c code =3D (int) ((value /<br>
  Matthias&gt; quant) + 0.5) + 0x0c; to code =3D (int) ((value / quant) +<br>
  Matthias&gt; 12.5);<br>
<p>
Ah, right, the negative values get truncated in the "wrong" direction.<br>
I changed my source to your (working) version.<br>
<p>
  Matthias&gt; The errors: "Failed to set value of option<br>
  Matthias&gt; red-gamma-table: Device busy."  between the passes of a<br>
  Matthias&gt; 3-pass scan originates in a call to gsg_sync(dialog) in<br>
  Matthias&gt; the function scan_start(void) in xscanimage.c.  It seems,<br>
  Matthias&gt; that a redraw of the gamma tables send the gamma values to<br>
  Matthias&gt; the scanner (which doesn=B4t want to be disturbed while<br>
  Matthias&gt; working.)<br>
<p>
Ouch.  I'll look into this.<br>
<p>
  Matthias&gt; I enabled brightness and contrast in color mode. It works<br>
  Matthias&gt; pretty!<br>
<p>
Great!  I changed the sources so the brightness/contrast controls are<br>
enabled for 3-pass scanners.<br>
<p>
  Matthias&gt; The progress bar stops at each scan after about 90% and<br>
  Matthias&gt; proceeds to 100% on the next pass of a 3 pass scan.  The<br>
  Matthias&gt; value of the bar is calculated right, but it is not<br>
  Matthias&gt; updated on the screen.<br>
<p>
Hmmh, could you try putting:<br>
<p>
      if (ScanWin.input_tag &lt; 0)<br>
=09while (gdk_events_pending ())<br>
=09  gtk_main_iteration ();<br>
<p>
right below:<br>
<p>
=09  if (status =3D=3D SANE_STATUS_EOF)<br>
=09    {<br>
<p>
in xscanimage.c and see whether that helps (just search for<br>
SANE_STATUS_EOF---there is only one in the entire file).<br>
<p>
  Matthias&gt; My scanner manual says that there are 12 internal patterns<br>
  Matthias&gt; for halftone scanning. How can they be activated.<br>
<p>
The docs I have make no mention of builtin halftone patterns, so I<br>
don't know how to select them (does any other Mustek scanner program<br>
support this?  if so, maybe you could find out from there).<br>
<p>
  Matthias&gt; Does<br>
  Matthias&gt; anybody knows something about the format of customized<br>
  Matthias&gt; half-tone patterns?<br>
<p>
I don't.<br>
<p>
=09--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0004.html">David Mosberger-Tang: "Re: ScanJet 4p and sane"</a>
<li> <b>Previous message:</b> <a href="0002.html">Matthias Lautner: "Re: [patch] Re: sane-0.57 available"</a>
<li> <b>In reply to:</b> <a href="0002.html">Matthias Lautner: "Re: [patch] Re: sane-0.57 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
