<!-- received="Thu May 15 10:54:11 1997 MST" -->
<!-- sent="Thu, 15 May 1997 10:40:15 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: ScanJet 4p and sane" -->
<!-- id="199705151740.KAA21591@panda.mosberger" -->
<!-- inreplyto="Pine.SUN.3.90.970515192553.6935A-100000@sun46" -->
<title>sane-devel: Re: ScanJet 4p and sane</title>
<h1>Re: ScanJet 4p and sane</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 15 May 1997 10:40:15 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#4">[ date ]</a><a href="index.html#4">[ thread ]</a><a href="subject.html#4">[ subject ]</a><a href="author.html#4">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Fritz Jetzek: "gtk"</a>
<li> <b>Previous message:</b> <a href="0003.html">David Mosberger-Tang: "Re: [patch] Re: sane-0.57 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 15 May 1997 10:43:11 -0700, Myslik Vladimir student 4_96_97 k336 &lt;<a href="mailto:xmyslik@sun.felk.cvut.cz">xmyslik@sun.felk.cvut.cz</a>&gt; said:</i><br>
<p>
  Myslik&gt; Hello developers, I had no success with sane-0.55 and our<br>
  Myslik&gt; school HP Scanjet 4p scanner.  I uncommented hp in<br>
  Myslik&gt; sane.d/dll.conf and set the symlink /dev/scanner -&gt; sga The<br>
  Myslik&gt; system loads sg module whenever I start saned, but the<br>
  Myslik&gt; device list doesn't show anything.(scanimage -L)<br>
<p>
  Myslik&gt; PLease let me know if I missed something and others' 4p<br>
  Myslik&gt; scanners work with this.<br>
<p>
Does your system have a symlink from /usr/include/scsi to<br>
/usr/src/linux/include/scsi?  If not, do one of the following:<br>
<p>
	(a) create the symlink and then rebuild everything from scratch<br>
<p>
	(b) upgrade to sane-0.57 and rebuild everything from scratch<br>
<p>
I'd recommend (b), since there were various bug-fixes between 0.55 and<br>
0.57 (and the diffs are relatively small).  To rebuild SANE, do:<br>
<p>
	$ make distclean<br>
	$ ./configure ...whatever options you want/need...<br>
	$ make<br>
	$ su<br>
	$ make install<br>
<p>
If this doesn't fix the problem, could you send me the output you get<br>
with:<br>
<p>
	SANE_DEBUG_SANEI_SCSI=128 SANE_DEBUG_HP=128 SANE_DEBUG_DLL=128 \<br>
		scanimage -d hp -h<br>
<p>
Once things work, would you mind sending me the output you get with:<br>
<p>
	SANE_DEBUG_HP=1 scanimage -d hp -h &gt;/dev/null<br>
<p>
Good luck!<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0005.html">Fritz Jetzek: "gtk"</a>
<li> <b>Previous message:</b> <a href="0003.html">David Mosberger-Tang: "Re: [patch] Re: sane-0.57 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
