<!-- received="Sun May 25 11:34:29 1997 MST" -->
<!-- sent="Sun, 25 May 1997 10:57:40 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: HP support" -->
<!-- id="199705251757.KAA04773@panda.mosberger" -->
<!-- inreplyto="3380A504.547C1C4B@aibon.ping.de" -->
<title>sane-devel: Re: HP support</title>
<h1>Re: HP support</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 25 May 1997 10:57:40 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#10">[ date ]</a><a href="index.html#10">[ thread ]</a><a href="subject.html#10">[ subject ]</a><a href="author.html#10">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Worawut Wisutmethangoon: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0009.html">David Mosberger-Tang: "Re: SANE hp driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 19 May 1997 12:21:24 -0700, Sascha Ziemann &lt;<a href="mailto:szi@aibon.ping.de">szi@aibon.ping.de</a>&gt; said:</i><br>
<p>
  Sascha&gt; Hi, who is working on the HP Support. I get allways a core<br>
  Sascha&gt; if I want to use the preview window (not enough colormap<br>
  Sascha&gt; entries). Scanning without preview works. But for that I<br>
  Sascha&gt; could have used hpscanimage. I would like to help a bit, if<br>
  Sascha&gt; I can.<br>
<p>
What version of SANE and gtk are you using?  There are known problems<br>
with older versions of GTK but sane-0.57.tar.gz with<br>
gtk+970426-davidm.tar.gz works as far as I know (both can be found at<br>
the SANE ftp site).<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0011.html">Worawut Wisutmethangoon: "Re: HP support"</a>
<li> <b>Previous message:</b> <a href="0009.html">David Mosberger-Tang: "Re: SANE hp driver"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
