<!-- received="Wed May 28 18:44:06 1997 MST" -->
<!-- sent="28 May 1997 19:29:00 -0600" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@m-tech.ab.ca" -->
<!-- subject="Re: HP support" -->
<!-- id="199705281624.JAA07110@panda.mosberger" -->
<!-- inreplyto="Wed, 28 May 1997 08:58:32 -0700" -->
<title>sane-devel: Re: HP support</title>
<h1>Re: HP support</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@m-tech.ab.ca"><i>gord@m-tech.ab.ca</i></a>)<br>
<i>28 May 1997 19:29:00 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#33">[ date ]</a><a href="index.html#33">[ thread ]</a><a href="subject.html#33">[ subject ]</a><a href="author.html#33">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Bellerophon: "Logitech Support ?"</a>
<li> <b>Previous message:</b> <a href="0032.html">Gordon Matzigkeit: "Re: image buffering"</a>
<li> <b>In reply to:</b> <a href="0030.html">David Mosberger-Tang: "Re: HP support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Reply:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt; David Mosberger-Tang writes:</i><br>
<p>
 DM&gt; Can somebody with an HP scanner change the HP backend to use the<br>
 DM&gt; pixel unit commands instead of the decipoint commands?  It's not<br>
 DM&gt; too hard and I could do it, except that I don't have time and<br>
 DM&gt; that it's not much fun to write code that I can't test.<br>
<p>
I wouldn't be suprised if using pixel commands fixes *all* the image<br>
skew problems I've been having with SANE.  So, I'd be more than happy<br>
to write code and test.<br>
<p>
 DM&gt; If you need docs, I _think_ it would be no problem if I'd give<br>
 DM&gt; you the relevant PDF file that HP puts out.<br>
<p>
Please, I'd appreciate it.  I don't know if I'll have time to tackle<br>
it, but I'd sure be willing to give it a shot.<br>
<p>
<pre>
-- 
  Gord Matzigkeit   | Proudly running pieces of the GNU operating system.
 gord@m-tech.ab.ca  |  Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0034.html">Bellerophon: "Logitech Support ?"</a>
<li> <b>Previous message:</b> <a href="0032.html">Gordon Matzigkeit: "Re: image buffering"</a>
<li> <b>In reply to:</b> <a href="0030.html">David Mosberger-Tang: "Re: HP support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Reply:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<!-- reply="end" -->
</ul>
