<!-- received="Wed May 28 19:49:41 1997 MST" -->
<!-- sent="Wed, 28 May 1997 13:25:50 -0400" -->
<!-- name="Bellerophon" -->
<!-- email="bellerophon@pobox.com" -->
<!-- subject="Logitech Support ?" -->
<!-- id="199705281725.NAA01034@orion.webexpert.net" -->
<!-- inreplyto="" -->
<title>sane-devel: Logitech Support ?</title>
<h1>Logitech Support ?</h1>
<b>Bellerophon</b> (<a href="mailto:bellerophon@pobox.com"><i>bellerophon@pobox.com</i></a>)<br>
<i>Wed, 28 May 1997 13:25:50 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0033.html">Gordon Matzigkeit: "Re: HP support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">David Mosberger-Tang: "Re: Logitech Support ?"</a>
<li> <b>Reply:</b> <a href="0036.html">David Mosberger-Tang: "Re: Logitech Support ?"</a>
<li> <b>Reply:</b> <a href="0050.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech Support ?"</a>
<li> <b>Maybe reply:</b> <a href="0054.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Maybe reply:</b> <a href="0057.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Maybe reply:</b> <a href="0066.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I've got a Logitech PageScan Color, through a parallel interface.  Is there <br>
any support for this through SANE?  Is there any support other than SANE for <br>
Linux?  I've seen drivers for the ScanMan through a specialized interface <br>
card, but this doesn't seem to work for the PageScan.<br>
<p>
Thanks!<br>
_________________________________________________________________________<br>
<p>
 This email is not designed or intended for use or resale as on-line<br>
 control equipment in hazardous environments requiring fail-safe<br>
 performance, such as in the operation of nuclear facilities, aircraft<br>
 navigation or communication systems, air traffic control, direct life<br>
 support machines, or weapons systems, in which the failure of the<br>
 software could lead directly to death, personal injury, or severe<br>
 physical or environmental damage ("high risk activities").<br>
_________________________________________________________________________<br>
<p>
Patricia Rutins  **   <a href="http://www.pobox.com/~rutins">http://www.pobox.com/~rutins</a>   **  <a href="mailto:rutins@pobox.com">rutins@pobox.com</a><br>
_________________________________________________________________________<br>
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0033.html">Gordon Matzigkeit: "Re: HP support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0036.html">David Mosberger-Tang: "Re: Logitech Support ?"</a>
<li> <b>Reply:</b> <a href="0036.html">David Mosberger-Tang: "Re: Logitech Support ?"</a>
<li> <b>Reply:</b> <a href="0050.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech Support ?"</a>
<li> <b>Maybe reply:</b> <a href="0054.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Maybe reply:</b> <a href="0057.html">Bellerophon: "Re: Logitech Support ?"</a>
<li> <b>Maybe reply:</b> <a href="0066.html">Bellerophon: "Re: Logitech Support ?"</a>
<!-- reply="end" -->
</ul>
