<!-- received="Thu May 29 16:48:19 1997 MST" -->
<!-- sent="Thu, 29 May 1997 16:22:04 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: xcam/xscanimage hangs w/ SANE 0.57" -->
<!-- id="199705292322.QAA19998@panda.mosberger" -->
<!-- inreplyto="19970529173753.12106@zorak.gsfc.nasa.gov" -->
<title>sane-devel: Re: xcam/xscanimage hangs w/ SANE 0.57</title>
<h1>Re: xcam/xscanimage hangs w/ SANE 0.57</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Thu, 29 May 1997 16:22:04 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Gordon Matzigkeit: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0040.html">Mark Cornick: "xcam/xscanimage hangs w/ SANE 0.57"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Thu, 29 May 1997 17:37:53 -0400, Mark Cornick &lt;<a href="mailto:mcornick@zorak.gsfc.nasa.gov">mcornick@zorak.gsfc.nasa.gov</a>&gt; said:</i><br>
<p>
  Mark&gt; I've got a problem that's completely baffled me. A few days<br>
  Mark&gt; ago I installed SANE 0.57, which I use with a color QuickCam<br>
  Mark&gt; (on /dev/lp1, with the port in ECP mode.) This worked fine<br>
  Mark&gt; until today. In xcam, I hit "play", get one image, and then<br>
  Mark&gt; xcam hangs (no new images, can't pull down menus or click<br>
  Mark&gt; buttons, etc.) A similar thing happens with xscanimage - I can<br>
  Mark&gt; scan one preview image, then the program hangs if I try to<br>
  Mark&gt; scan another image.<br>
<p>
  Mark&gt; I've tried undoing everything I've changed in the past day or<br>
  Mark&gt; so (different color depths, different window managers, etc.)<br>
  Mark&gt; and nothing changes. I've tried running as root, and it does<br>
  Mark&gt; the same thing (I have xcam/xscanimage/scanimage installed<br>
  Mark&gt; setuid root so I can run them as non-root.) I did upgrade to<br>
  Mark&gt; Red Hat 4.2 a few days ago, but all was well yesterday with<br>
  Mark&gt; 4.2 running (at least, I think so.)  scanimage still grabs<br>
  Mark&gt; images just fine, and the QuickCam shows up in a scanimage -L.<br>
<p>
Hmmh, I seem to vaguely recall that ECP may cause problems with QCam.<br>
I suppose you could try switching it into regular bidirectional mode,<br>
but I doubt that's the problem given that things used to work for you.<br>
<p>
Another potential problem source is /tmp/LOCK.qcam.0x&lt;port-addr&gt;.<br>
It's a lockfile that controls access to the camera.  If something goes<br>
wrong, that lock might not be released properly (though I haven't seen<br>
any problems with this in a long time).<br>
<p>
Rather than the strace output, it would be more useful to have the<br>
debug output you get with environment variables SANE_DEBUG_QCAM and<br>
SANE_DEBUG_DLL set to 128.  That should at least give an idea of where<br>
the camera gets stuck.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">Gordon Matzigkeit: "Re: image buffering"</a>
<li> <b>Previous message:</b> <a href="0040.html">Mark Cornick: "xcam/xscanimage hangs w/ SANE 0.57"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
