<!-- received="Fri May 30 06:47:02 1997 MST" -->
<!-- sent="Fri, 30 May 1997 09:21:41 -0400" -->
<!-- name="Mark Cornick" -->
<!-- email="mcornick@zorak.gsfc.nasa.gov" -->
<!-- subject="Re: xcam/xscanimage hangs w/ SANE 0.57" -->
<!-- id="199705301305.JAA16982@nigel.redhat.com" -->
<!-- inreplyto="199705292322.QAA19998@panda.mosberger" -->
<title>sane-devel: Re: xcam/xscanimage hangs w/ SANE 0.57</title>
<h1>Re: xcam/xscanimage hangs w/ SANE 0.57</h1>
<b>Mark Cornick</b> (<a href="mailto:mcornick@zorak.gsfc.nasa.gov"><i>mcornick@zorak.gsfc.nasa.gov</i></a>)<br>
<i>Fri, 30 May 1997 09:21:41 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">David Mosberger-Tang: "Re: xcam/xscanimage hangs w/ SANE 0.57"</a>
<li> <b>Previous message:</b> <a href="0045.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>In reply to:</b> <a href="0042.html">Gordon Matzigkeit: "Re: image buffering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0049.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Reply:</b> <a href="0049.html">David Mosberger-Tang: "Re: image buffering"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, May 29, 1997 at 04:22:04PM -0700, David Mosberger-Tang wrote:<br>
<i>&gt; Hmmh, I seem to vaguely recall that ECP may cause problems with QCam.</i><br>
<i>&gt; I suppose you could try switching it into regular bidirectional mode,</i><br>
<i>&gt; but I doubt that's the problem given that things used to work for you.</i><br>
<p>
I tried it with the port in plain bidirectional mode (my BIOS calls it<br>
"PS/2 mode"), same thing. I had the port in ECP mode because the qcam<br>
seemed to be more consistently detected that way (??? - the port is in<br>
PS/2 mode now and the camera gets detected every time - ???)<br>
<p>
<i>&gt; Another potential problem source is /tmp/LOCK.qcam.0x&lt;port-addr&gt;.</i><br>
<i>&gt; It's a lockfile that controls access to the camera.  If something goes</i><br>
<i>&gt; wrong, that lock might not be released properly (though I haven't seen</i><br>
<i>&gt; any problems with this in a long time).</i><br>
<p>
Hm, the /tmp/LOCK files do seem to be sticking around a long<br>
time. It's Fri May 30 09:17:42 EDT 1997 right now, and I have:<br>
-rw-r--r--   1 root     problem         0 May 29 10:16 LOCK.qcam.0x378<br>
in /tmp. (I have a cron job that does scanimage once per minute.)<br>
<p>
<i>&gt; Rather than the strace output, it would be more useful to have the</i><br>
<i>&gt; debug output you get with environment variables SANE_DEBUG_QCAM and</i><br>
<i>&gt; SANE_DEBUG_DLL set to 128.  That should at least give an idea of where</i><br>
<i>&gt; the camera gets stuck.</i><br>
<p>
OK, here it is... I started xcam, clicked "play", got one image and<br>
the hang, then interrupted it with ^C:<br>
<p>
[sanei_init_debug]: Setting debug level of dll to 128.<br>
[dll] adding backend pnm<br>
[dll] ...already there<br>
[dll] adding backend mustek<br>
[dll] ...already there<br>
[dll] adding backend hp<br>
[dll] ...already there<br>
[dll] adding backend qcam<br>
[dll] ...already there<br>
[dll] init: initializing backend `qcam'<br>
[sanei_init_debug]: Setting debug level of qcam to 128.<br>
[qcam] qc_lock_wait: acquiring lock for 0x378<br>
[qcam] qc_lock_wait: got lock for 0x378<br>
[qcam] attach: found QuickCam version 0x10<br>
[qcam] qc_send: sent 0x1d, camera echoed 0x78<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] attach: resetting black_level<br>
[qcam] qc_getstatus: status=0x02<br>
[qcam] qc_lock_wait: releasing lock for 0x378<br>
[dll] init: initializing backend `mustek'<br>
[dll] init: initializing backend `pnm'<br>
[dll] init: initializing backend `net'<br>
[dll] init: initializing backend `hp'<br>
[qcam] open(0x378)<br>
[dll] control_option(handle=0x8066bc0,option=0,action=0,value=0xbffff668,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=1)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=2)<br>
[dll] control_option(handle=0x8066bc0,option=2,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=3)<br>
[dll] control_option(handle=0x8066bc0,option=3,action=0,value=0x8067390,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=4)<br>
[dll] control_option(handle=0x8066bc0,option=4,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=5)<br>
[dll] control_option(handle=0x8066bc0,option=5,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=6)<br>
[dll] control_option(handle=0x8066bc0,option=6,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=7)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=8)<br>
[dll] control_option(handle=0x8066bc0,option=8,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=9)<br>
[dll] control_option(handle=0x8066bc0,option=9,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=10)<br>
[dll] control_option(handle=0x8066bc0,option=10,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=11)<br>
[dll] control_option(handle=0x8066bc0,option=11,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=12)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=13)<br>
[dll] control_option(handle=0x8066bc0,option=13,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=14)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=15)<br>
[dll] control_option(handle=0x8066bc0,option=15,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=16)<br>
[dll] control_option(handle=0x8066bc0,option=16,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=17)<br>
[dll] control_option(handle=0x8066bc0,option=17,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=18)<br>
[dll] control_option(handle=0x8066bc0,option=18,action=0,value=0xbffff53c,info=(nil))<br>
[dll] get_parameters(handle=0x8066bc0,params=0x805b310)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=1)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=2)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=3)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=4)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=5)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=6)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=7)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=8)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=9)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=10)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=11)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=12)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=13)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=14)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=15)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=16)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=17)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=18)<br>
[dll] start(handle=0x8066bc0)<br>
[qcam] qc_lock_wait: acquiring lock for 0x378<br>
[qcam] qc_lock_wait: got lock for 0x378<br>
[qcam] qc_getstatus: status=0x02<br>
[qcam] start: black_level=0<br>
[qcam] qc_getstatus: status=0xc2<br>
[qcam] qc_getstatus: status=0xc2<br>
[qcam] qc_getstatus: status=0xc2<br>
[qcam] qc_getstatus: status=0xc2<br>
[qcam] qc_getstatus: status=0xc2<br>
[qcam] qc_getstatus: status=0x02<br>
[qcam] sane_start: top=0, left=5, white=150, bright=135, contr=104<br>
[qcam] start: unidir 246 lines of 330 pixels each (243540 bytes) =&gt; 330x246<br>
[qcam] scanmode (before increment): 0x18<br>
[dll] get_parameters(handle=0x8066bc0,params=0x805b310)<br>
[dll] set_io_mode(handle=0x8066bc0,nonblocking=1)<br>
[dll] get_select_fd(handle=0x8066bc0,fdp=0xbffff4d0)<br>
[qcam] reader_process: got request for 243540 bytes<br>
[qcam] reader_process: frame complete<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=0,max_len=32768,len=32768)<br>
[qcam] qc_lock_wait: releasing lock for 0x378<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=4096,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=4096,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=8192,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=8192,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=12288,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=12288,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=16384,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=16384,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=20480,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=20480,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=24576,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=24576,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=28672,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=28672,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=32768,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=32768,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=36864,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=36864,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=40960,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=40960,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=45056,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=45056,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=49152,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=49152,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=53248,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=53248,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=57344,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=57344,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=61440,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=61440,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=65536,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=65536,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=69632,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=69632,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=73728,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=73728,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=77824,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=77824,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=81920,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=81920,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=86016,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=86016,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=90112,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=90112,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=94208,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=94208,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=98304,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=98304,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=102400,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=102400,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=106496,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=106496,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=110592,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=110592,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=114688,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=114688,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=118784,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=118784,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=122880,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=122880,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=126976,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=126976,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=131072,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=131072,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=135168,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=135168,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=139264,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=139264,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=143360,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=143360,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=147456,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=147456,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=151552,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=151552,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=155648,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=155648,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=159744,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=159744,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=163840,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=163840,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=167936,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=167936,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=172032,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=172032,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=176128,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=176128,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=180224,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=180224,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=184320,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=184320,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=188416,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=188416,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=192512,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=192512,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=196608,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=196608,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=200704,max_len=32767,len=32767)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=200704,max_len=32767,len=32767)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=204800,max_len=32766,len=32766)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=204800,max_len=32766,len=32766)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=208896,max_len=32768,len=32768)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=208896,max_len=32768,len=32768)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=212992,max_len=32767,len=30548)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=212992,max_len=32767,len=30548)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=217088,max_len=32766,len=26452)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=217088,max_len=32766,len=26452)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=221184,max_len=32768,len=22356)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=221184,max_len=32768,len=22356)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=225280,max_len=32767,len=18260)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=225280,max_len=32767,len=18260)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=229376,max_len=32766,len=14164)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=229376,max_len=32766,len=14164)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=233472,max_len=32768,len=10068)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330c,num_bytes=233472,max_len=32768,len=10068)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=237568,max_len=32767,len=5972)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330d,maxlen=32767,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330d,num_bytes=237568,max_len=32767,len=5972)<br>
[qcam] read: got 4096 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=241664,max_len=32766,len=1876)<br>
[qcam] read: no more data available<br>
[dll] read(handle=0x8066bc0,data=0x805330e,maxlen=32766,lenp=0xbffff700)<br>
[qcam] read(buf=0x805330e,num_bytes=241664,max_len=32766,len=1876)<br>
[qcam] read: got 1876 bytes<br>
[dll] read(handle=0x8066bc0,data=0x805330c,maxlen=32768,lenp=0xbffff700)<br>
[dll] cancel(handle=0x8066bc0)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=1)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=2)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=3)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=4)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=5)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=6)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=7)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=8)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=9)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=10)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=11)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=12)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=13)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=14)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=15)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=16)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=17)<br>
[dll] get_option_descriptor(handle=0x8066bc0,option=18)<br>
[dll] start(handle=0x8066bc0)<br>
[qcam] qc_lock_wait: acquiring lock for 0x378<br>
[qcam] qc_lock_wait: got lock for 0x378<br>
[qcam] qc_send: sent 0x2d, camera echoed 0xf6<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] qc_send: sent 0x02, camera echoed 0xf6<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] qc_send: sent 0x29, camera echoed 0xf6<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] qc_getstatus: status=0xf6<br>
[qcam] qc_send: sent 0x29, camera echoed 0xf6<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] qc_getstatus: status=0xf6<br>
[qcam] qc_send: sent 0x29, camera echoed 0x86<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] qc_getstatus: status=0x88<br>
[qcam] qc_send: sent 0x29, camera echoed 0x87<br>
[qcam] qc_send: (re-read does not help)<br>
[qcam] sighandler: got signal 2<br>
[qcam] reader_process: sending signal ACK<br>
[dll] exiting<br>
[dll] calling backend `qcam's exit function<br>
[dll] calling backend `mustek's exit function<br>
[dll] calling backend `pnm's exit function<br>
[dll] calling backend `net's exit function<br>
[dll] calling backend `hp's exit function<br>
<p>
<pre>
-- 
Mark Cornick / HSTX/NASA Goddard Space Flight Center, Code 922
<a href="mailto:mcornick@zorak.gsfc.nasa.gov">mcornick@zorak.gsfc.nasa.gov</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">David Mosberger-Tang: "Re: xcam/xscanimage hangs w/ SANE 0.57"</a>
<li> <b>Previous message:</b> <a href="0045.html">Michael K. Johnson: "Re: image buffering"</a>
<li> <b>In reply to:</b> <a href="0042.html">Gordon Matzigkeit: "Re: image buffering"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0049.html">David Mosberger-Tang: "Re: image buffering"</a>
<li> <b>Reply:</b> <a href="0049.html">David Mosberger-Tang: "Re: image buffering"</a>
<!-- reply="end" -->
</ul>
