<!-- received="Thu Jun  5 01:16:06 1997 MST" -->
<!-- sent="Thu, 5 Jun 1997 09:51:39 +0200 (MET DST)" -->
<!-- name="Guido Muesch" -->
<!-- email="odiug@faho.rwth-aachen.de" -->
<!-- subject="Re: Sane newbie questions.." -->
<!-- id="199706050751.JAA00453@darkstar.faho.rwth-aachen.de" -->
<!-- inreplyto="Pine.LNX.3.95.970604223401.15700B-100000@electron.phys.dal.ca" -->
<title>sane-devel: Re: Sane newbie questions..</title>
<h1>Re: Sane newbie questions..</h1>
<b>Guido Muesch</b> (<a href="mailto:odiug@faho.rwth-aachen.de"><i>odiug@faho.rwth-aachen.de</i></a>)<br>
<i>Thu, 5 Jun 1997 09:51:39 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#62">[ date ]</a><a href="index.html#62">[ thread ]</a><a href="subject.html#62">[ subject ]</a><a href="author.html#62">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Gordon Matzigkeit: "LD_LIBRARY_PATH [was: Re: Sane newbie questions..]"</a>
<li> <b>Previous message:</b> <a href="0061.html">Jim Chisholm: "Sane newbie questions.."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Gordon Matzigkeit: "LD_LIBRARY_PATH [was: Re: Sane newbie questions..]"</a>
<li> <b>Reply:</b> <a href="0063.html">Gordon Matzigkeit: "LD_LIBRARY_PATH [was: Re: Sane newbie questions..]"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On  4 Jun, Jim Chisholm wrote:<br>
<i>&gt; [..]</i><br>
<i>&gt; I greatly appologize for re-hashing something that is undoubtedly in the</i><br>
<i>&gt; fine documentation (somewhere) but I'm stumped.</i><br>
<i>&gt; </i><br>
<i>&gt; Any assistance or tips would be greatly appreciated; David..thank you this</i><br>
<i>&gt; looks like</i><br>
<i>&gt; a beautiful piece of work if only I could get it to fire up with my poor</i><br>
<i>&gt; little black&amp;white qcam...</i><br>
Unfortunatly the BW QuickCam does not work (yet) with SANE. I have<br>
found a few bugs (some time ago) but that was not all. Someone else<br>
(Alex Belits) promised to convert his driver into a SANE backend. David<br>
has 'only' a Color QuickCam and cannot debug this further.<br>
<p>
With your problem I think I had the same problem. I had to set<br>
LD_LIBRARY_PATH to /usr/local/lib explicitly. Adding /usr/local/lib to<br>
/etc/ld.so.conf did not work. (But this could have also been a problem<br>
of my current ld.so version, I have not looked into that for some time)<br>
<p>
Ciao<br>
  Guido<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0063.html">Gordon Matzigkeit: "LD_LIBRARY_PATH [was: Re: Sane newbie questions..]"</a>
<li> <b>Previous message:</b> <a href="0061.html">Jim Chisholm: "Sane newbie questions.."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0063.html">Gordon Matzigkeit: "LD_LIBRARY_PATH [was: Re: Sane newbie questions..]"</a>
<li> <b>Reply:</b> <a href="0063.html">Gordon Matzigkeit: "LD_LIBRARY_PATH [was: Re: Sane newbie questions..]"</a>
<!-- reply="end" -->
</ul>
