<!-- received="Wed Jun 18 12:00:00 1997 MST" -->
<!-- sent="Thu, 19 Jun 1997 03:54:18 +0900" -->
<!-- name="nogaya@mbox.kyoto-inet.or.jp" -->
<!-- email="nogaya@mbox.kyoto-inet.or.jp" -->
<!-- subject="Need help for HP scanjet backend" -->
<!-- id="199706181853.DAA27387@gwB.kyoto-inet.or.jp" -->
<!-- inreplyto="" -->
<title>sane-devel: Need help for HP scanjet backend</title>
<h1>Need help for HP scanjet backend</h1>
<a href="mailto:nogaya@mbox.kyoto-inet.or.jp"><i>nogaya@mbox.kyoto-inet.or.jp</i></a><br>
<i>Thu, 19 Jun 1997 03:54:18 +0900</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#112">[ date ]</a><a href="index.html#112">[ thread ]</a><a href="subject.html#112">[ subject ]</a><a href="author.html#112">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">William L. Sebok: "Mustek MFS-08000SP"</a>
<li> <b>Previous message:</b> <a href="0111.html">Mathias Weigt: "Unidentified subject!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi.<br>
<p>
I made quick-dirty hack to SANE-0.6 for HP ScanJet 5P,<br>
but no more time for test and clean-up.<br>
Is there anyone for help?<br>
<p>
BTW, I checked it on FreeBSD 2.2.2-RELEASE.<br>
Garbage in the patch file should be ignored.<br>
<pre>
-- 
                                       <a href="mailto:nogaya@mbox.kyoto-inet.or.jp">nogaya@mbox.kyoto-inet.or.jp</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0113.html">William L. Sebok: "Mustek MFS-08000SP"</a>
<li> <b>Previous message:</b> <a href="0111.html">Mathias Weigt: "Unidentified subject!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
