<!-- received="Mon Jun 23 19:56:18 1997 MST" -->
<!-- sent="Mon, 23 Jun 1997 22:40:37 -0400" -->
<!-- name="Jeff Tranter" -->
<!-- email="tranter@pobox.com" -->
<!-- subject="Questions on SANE - backend for Epson PhotoPC" -->
<!-- id="199706232202.PAA27303@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: Questions on SANE - backend for Epson PhotoPC</title>
<h1>Questions on SANE - backend for Epson PhotoPC</h1>
<b>Jeff Tranter</b> (<a href="mailto:tranter@pobox.com"><i>tranter@pobox.com</i></a>)<br>
<i>Mon, 23 Jun 1997 22:40:37 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#140">[ date ]</a><a href="index.html#140">[ thread ]</a><a href="subject.html#140">[ subject ]</a><a href="author.html#140">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">David Mosberger-Tang: "Re: Questions on SANE - backend for Epson PhotoPC"</a>
<li> <b>Previous message:</b> <a href="0139.html">Marc Roland: "600II-CD und AVA-1505"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm working on a SANE back end for the Epson PhotoPC. So far I<br>
have a rough prototype of the controls for the GUI, and have<br>
figured out how to control the camera using Eugene Crosser's<br>
photopc library. I have a couple of questions:<br>
<p>
How do I get advanced options to show up in xcam/xscanimage as a<br>
separate page? The screen dump on the web site shows a GUI with index<br>
tabs showing advanced options. I tried doing what the other drivers<br>
did -- had a group with the SANE_CAP_ADVANCED capability set, but it<br>
just makes the options in the group invisible when running xcam.<br>
Xscanimage does allow controlling if the advanced options are shown.<br>
Am I missing something or does this feature not work? (I'm using<br>
Sane 0.5 by the way, I haven't upgraded to 0.6).<br>
<p>
How do I handle a function that returns a non-graphical response from<br>
the camera (e.g. ask the camera to return the number of stored<br>
images or battery status)? I had a few ideas:<br>
- return a "fake" image that has a representation of all of the camera<br>
  settings (similar to the LCD display on the camera)<br>
- simply send the info as text to standard output (ugly)<br>
- call functions in the gtk library to display it in a dialog box<br>
  (probably not a good thing for a back end to do)<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0141.html">David Mosberger-Tang: "Re: Questions on SANE - backend for Epson PhotoPC"</a>
<li> <b>Previous message:</b> <a href="0139.html">Marc Roland: "600II-CD und AVA-1505"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
