<!-- received="Tue Jun 24 17:18:13 1997 MST" -->
<!-- sent="25 Jun 1997 01:49:27 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="Re: sane compile probs with gtk" -->
<!-- id="5opme7$qf3$1@dumbo.und.zoff" -->
<!-- inreplyto="sane compile probs with gtk" -->
<title>sane-devel: Re: sane compile probs with gtk</title>
<h1>Re: sane compile probs with gtk</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>25 Jun 1997 01:49:27 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#151">[ date ]</a><a href="index.html#151">[ thread ]</a><a href="subject.html#151">[ subject ]</a><a href="author.html#151">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Michael J. Long: "Re: Microtek E3 Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0150.html">Christophe Zwecker: "what is backtracking ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Christophe Zwecker: "sane compile probs with gtk"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">Christophe Zwecker: "Re: sane compile probs with gtk"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
[Posted and mailed]<br>
<p>
David Mosberger-Tang &lt;<a href="mailto:davidm@azstarnet.com">davidm@azstarnet.com</a>&gt; wrote:<br>
<i>&gt;</i><br>
<i>&gt;There is also a patch relative to the gimp-0.99.10 version that might</i><br>
<i>&gt;save you some downloading.  The file name is gtk+960606.tar.gz for the</i><br>
<i>&gt;full tar ball, gtk+960606-davidm.diff.gz for the diffs (yes, I realize</i><br>
<i>&gt;I'm living in 1997, but that typo has made its way into a couple of</i><br>
<i>&gt;mails already, so I won't change it).</i><br>
<p>
Hey great, now it works and I am really stunned: it looks beautiful !<br>
ok now I have 2 more questions:<br>
<p>
1. How can I invoke xscanimage from within gimp (btw could it be that<br>
gimp is kind of unstable right know?<br>
I somehow don't have the Gimp manpage, and in xscanimages manpage it<br>
says nothing...<br>
<p>
2. is that bad that whenever I scan I get this in messages:<br>
Jun 25 01:36:55 dumbo kernel: ncr53c810-0-&lt;target 6, lun 0&gt;: extraneous data discarded.<br>
Jun 25 01:36:55 dumbo kernel: ncr53c810-0-&lt;target 6, lun 0&gt;: COMMAND<br>
FAILED (9 0) @00ffe018. <br>
<p>
oh, and I noticed that in the preview window and in GIMP itself aswell<br>
thw picture kind of gets broken and pieces move around abit, the pic<br>
gets mixed up. Is that due a buggy gtk ? Has anybody else experienced<br>
that ?<br>
<p>
ok thx for sane anyways - I love it<br>
<p>
bye<br>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0152.html">Michael J. Long: "Re: Microtek E3 Scanner Support"</a>
<li> <b>Previous message:</b> <a href="0150.html">Christophe Zwecker: "what is backtracking ?"</a>
<li> <b>Maybe in reply to:</b> <a href="0146.html">Christophe Zwecker: "sane compile probs with gtk"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0166.html">Christophe Zwecker: "Re: sane compile probs with gtk"</a>
<!-- reply="end" -->
</ul>
