<!-- received="Tue Jun 24 17:25:29 1997 MST" -->
<!-- sent="Wed, 25 Jun 1997 01:58:37 +0200" -->
<!-- name="Christophe Zwecker" -->
<!-- email="doc@rrz.uni-hamburg.de" -->
<!-- subject="xscanimage - how to make device default" -->
<!-- id="33B05F2D.1F5CD3EC@rrz.uni-hamburg.de" -->
<!-- inreplyto="" -->
<title>sane-devel: xscanimage - how to make device default</title>
<h1>xscanimage - how to make device default</h1>
<b>Christophe Zwecker</b> (<a href="mailto:doc@rrz.uni-hamburg.de"><i>doc@rrz.uni-hamburg.de</i></a>)<br>
<i>Wed, 25 Jun 1997 01:58:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">David Mosberger-Tang: "Re: sane compile probs with gtk"</a>
<li> <b>Previous message:</b> <a href="0152.html">Michael J. Long: "Re: Microtek E3 Scanner Support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0155.html">David Mosberger-Tang: "Re: xscanimage - how to make device default"</a>
<li> <b>Reply:</b> <a href="0155.html">David Mosberger-Tang: "Re: xscanimage - how to make device default"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<p>
on startup I get asked between 2  pnm devices and my mustek scanner. How<br>
can I make the mustek scanner default so I don't get asked anymore ?<br>
<p>
bye<br>
<pre>
-- 
<p>
   Christophe
<p>
----------------------------------------------------------------------
Christophe Zwecker                email:      <a href="mailto:doc@rrz.uni-hamburg.de">doc@rrz.uni-hamburg.de</a>
Hamburg, Germany                    fax:      49 40 22715433  
----------------------------------------------------------------------
<p>
In newsgroups please reply also by email - thanks
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">David Mosberger-Tang: "Re: sane compile probs with gtk"</a>
<li> <b>Previous message:</b> <a href="0152.html">Michael J. Long: "Re: Microtek E3 Scanner Support"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0155.html">David Mosberger-Tang: "Re: xscanimage - how to make device default"</a>
<li> <b>Reply:</b> <a href="0155.html">David Mosberger-Tang: "Re: xscanimage - how to make device default"</a>
<!-- reply="end" -->
</ul>
