<!-- received="Wed Jun 25 20:18:51 1997 MST" -->
<!-- sent="Wed, 25 Jun 1997 20:01:29 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="new SANE home" -->
<!-- id="199706260301.UAA22893@panda.mosberger" -->
<!-- inreplyto="199706211701.NAA13593@nigel.redhat.com" -->
<title>sane-devel: new SANE home</title>
<h1>new SANE home</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Wed, 25 Jun 1997 20:01:29 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#165">[ date ]</a><a href="index.html#165">[ thread ]</a><a href="subject.html#165">[ subject ]</a><a href="author.html#165">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">Christophe Zwecker: "Re: sane compile probs with gtk"</a>
<li> <b>Previous message:</b> <a href="0164.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech handheld scaner???"</a>
<li> <b>In reply to:</b> <a href="0127.html">Michael K. Johnson: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Have you heard anything from Ted yet regarding the new SANE home?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0166.html">Christophe Zwecker: "Re: sane compile probs with gtk"</a>
<li> <b>Previous message:</b> <a href="0164.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Logitech handheld scaner???"</a>
<li> <b>In reply to:</b> <a href="0127.html">Michael K. Johnson: "Re: Problem compiling umax-driver with glibc-2.03"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
