<!-- received="Sun Jun 29 18:26:47 1997 MST" -->
<!-- sent="Sun, 29 Jun 1997 18:19:10 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: Ricoh FS2" -->
<!-- id="199706300119.SAA05764@panda.mosberger" -->
<!-- inreplyto="199706300035.CAA12211@orsy.dtek.chalmers.se" -->
<title>sane-devel: Re: Ricoh FS2</title>
<h1>Re: Ricoh FS2</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Sun, 29 Jun 1997 18:19:10 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#168">[ date ]</a><a href="index.html#168">[ thread ]</a><a href="subject.html#168">[ subject ]</a><a href="author.html#168">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Rogan Dawes: "Re: Compiling on AIX"</a>
<li> <b>Previous message:</b> <a href="0167.html">Bj|rn Augustsson: "Ricoh FS2"</a>
<li> <b>In reply to:</b> <a href="0167.html">Bj|rn Augustsson: "Ricoh FS2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 30 Jun 1997 02:35:40 +0200 (MET DST), Bj|rn Augustsson &lt;<a href="mailto:d3august@dtek.chalmers.se">d3august@dtek.chalmers.se</a>&gt; said:</i><br>
<p>
  Bjorn&gt; Hi!  We just got a new scanner at our site, and I'm wondering<br>
  Bjorn&gt; if there is any SANE support for it. I looked through the<br>
  Bjorn&gt; site and the archives, and I couldn't find the word "ricoh"<br>
  Bjorn&gt; anywhere.<br>
<p>
You're the first to mention Ricoh scanners on this list, so, yes,<br>
there is no support in SANE yet.<br>
<p>
  Bjorn&gt; It's a SCSI scanner (claims to be TWAIN compatible), the<br>
  Bjorn&gt; machines around it are Sparc with Solaris (2.5.1, currently).<br>
<p>
The "TWAIN compatible" doesn't mean much, unfortunately.  All it means<br>
that there is a TWAIN driver for Windoze and/or Mac.<br>
<p>
  Bjorn&gt; Is it some sort of OEM name for another scanner or something?<br>
<p>
Could be.  Let's hope so.<br>
<p>
  Bjorn&gt; Or is it simply so, that noone with such a scanner has<br>
  Bjorn&gt; written a driver yet?<br>
<p>
  Bjorn&gt; Is there any work being done on a driver for this scanner?<br>
<p>
Not that I know of.<br>
<p>
  Bjorn&gt; I'd be interested in helping out...<br>
<p>
As a start, do you know what the SCSI id of the scanner is?  That<br>
might give a clue as to whether it might be compatible with something<br>
else.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0169.html">Rogan Dawes: "Re: Compiling on AIX"</a>
<li> <b>Previous message:</b> <a href="0167.html">Bj|rn Augustsson: "Ricoh FS2"</a>
<li> <b>In reply to:</b> <a href="0167.html">Bj|rn Augustsson: "Ricoh FS2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
