<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Wed 14 May 1997 - 17:53:44 MST</i><br>
<b>Ending:</b> <i>Mon 30 Jun 1997 - 10:06:02 MST</i><br>
<b>Messages:</b> 173
<p>
<ul>
<li> <a href="0000.html"><b>Re: Scanner and Printer - Copier</b></a> <a name="0"><i>David Mosberger-Tang</i></a>
<li> <a href="0001.html"><b>Re: News from Mustek 600 II CD</b></a> <a name="1"><i>David Mosberger-Tang</i></a>
<li> <a href="0002.html"><b>Re: [patch] Re: sane-0.57 available</b></a> <a name="2"><i>Matthias Lautner</i></a>
<li> <a href="0003.html"><b>Re: [patch] Re: sane-0.57 available</b></a> <a name="3"><i>David Mosberger-Tang</i></a>
<li> <a href="0004.html"><b>Re: ScanJet 4p and sane</b></a> <a name="4"><i>David Mosberger-Tang</i></a>
<li> <a href="0005.html"><b>gtk</b></a> <a name="5"><i>Fritz Jetzek</i></a>
<li> <a href="0006.html"><b>Re: problems with mscan-0.1 and paragon 600IICD</b></a> <a name="6"><i>David Mosberger-Tang</i></a>
<li> <a href="0007.html"><b>Re: mustek-probs: color, preview</b></a> <a name="7"><i>David Mosberger-Tang</i></a>
<li> <a href="0008.html"><b>Re: Looking for scanner software</b></a> <a name="8"><i>David Mosberger-Tang</i></a>
<li> <a href="0009.html"><b>Re: SANE hp driver</b></a> <a name="9"><i>David Mosberger-Tang</i></a>
<li> <a href="0010.html"><b>Re: HP support</b></a> <a name="10"><i>David Mosberger-Tang</i></a>
<li> <a href="0011.html"><b>Re: HP support</b></a> <a name="11"><i>Worawut Wisutmethangoon</i></a>
<li> <a href="0012.html"><b>Re: HP support</b></a> <a name="12"><i>Michael K. Johnson</i></a>
<li> <a href="0013.html"><b>Re: problems with mscan-0.1 and paragon 600IICD</b></a> <a name="13"><i>Thomas Blume</i></a>
<li> <a href="0014.html"><b>Re: mustek-probs: color, preview</b></a> <a name="14"><i>Thomas Blume</i></a>
<li> <a href="0015.html"><b>Re: problems with mscan-0.1 and paragon 600IICD</b></a> <a name="15"><i>David Mosberger-Tang</i></a>
<li> <a href="0016.html"><b>Re: HP support</b></a> <a name="16"><i>David Mosberger-Tang</i></a>
<li> <a href="0017.html"><b>Re: mustek-probs: color, preview</b></a> <a name="17"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0018.html"><b>a priori image dimensions</b></a> <a name="18"><i>Gordon Matzigkeit</i></a>
<li> <a href="0019.html"><b>Re: a priori image dimensions</b></a> <a name="19"><i>David Mosberger-Tang</i></a>
<li> <a href="0020.html"><b>Re: a priori image dimensions</b></a> <a name="20"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0021.html"><b>Re: HP support</b></a> <a name="21"><i>Dr. Michael Grimm</i></a>
<li> <a href="0022.html"><b>Re: SANE/TWAIN</b></a> <a name="22"><i>David Mosberger-Tang</i></a>
<li> <a href="0023.html"><b>Re: HP support</b></a> <a name="23"><i>David Mosberger-Tang</i></a>
<li> <a href="0024.html"><b>Question regarding known support: HP1150C Officejet PPA scanner</b></a> <a name="24"><i>Rick Stuart</i></a>
<li> <a href="0025.html"><b>Re: HP support</b></a> <a name="25"><i>Worawut Wisutmethangoon</i></a>
<li> <a href="0026.html"><b>Re: HP support</b></a> <a name="26"><i>David Mosberger-Tang</i></a>
<li> <a href="0027.html"><b>Re: SANE/TWAIN</b></a> <a name="27"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0028.html"><b>Re: SANE/TWAIN</b></a> <a name="28"><i>David Mosberger-Tang</i></a>
<li> <a href="0029.html"><b>image buffering</b></a> <a name="29"><i>Mathias Weigt</i></a>
<li> <a href="0030.html"><b>Re: HP support</b></a> <a name="30"><i>David Mosberger-Tang</i></a>
<li> <a href="0031.html"><b>Re: image buffering</b></a> <a name="31"><i>David Mosberger-Tang</i></a>
<li> <a href="0032.html"><b>Re: image buffering</b></a> <a name="32"><i>Gordon Matzigkeit</i></a>
<li> <a href="0033.html"><b>Re: HP support</b></a> <a name="33"><i>Gordon Matzigkeit</i></a>
<li> <a href="0034.html"><b>Logitech Support ?</b></a> <a name="34"><i>Bellerophon</i></a>
<li> <a href="0035.html"><b>Re: image buffering</b></a> <a name="35"><i>David Mosberger-Tang</i></a>
<li> <a href="0036.html"><b>Re: Logitech Support ?</b></a> <a name="36"><i>David Mosberger-Tang</i></a>
<li> <a href="0037.html"><b>Re: Question regarding known support: HP1150C Officejet PPA scanner</b></a> <a name="37"><i>David Mosberger-Tang</i></a>
<li> <a href="0038.html"><b>Re: image buffering</b></a> <a name="38"><i>Michael K. Johnson</i></a>
<li> <a href="0039.html"><b>Re: image buffering</b></a> <a name="39"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0040.html"><b>xcam/xscanimage hangs w/ SANE 0.57</b></a> <a name="40"><i>Mark Cornick</i></a>
<li> <a href="0041.html"><b>Re: xcam/xscanimage hangs w/ SANE 0.57</b></a> <a name="41"><i>David Mosberger-Tang</i></a>
<li> <a href="0042.html"><b>Re: image buffering</b></a> <a name="42"><i>Gordon Matzigkeit</i></a>
<li> <a href="0043.html"><b>Re: image buffering</b></a> <a name="43"><i>David Mosberger-Tang</i></a>
<li> <a href="0044.html"><b>mustek-probs: color, preview</b></a> <a name="44"><i>Andreas Gaumann</i></a>
<li> <a href="0045.html"><b>Re: image buffering</b></a> <a name="45"><i>Michael K. Johnson</i></a>
<li> <a href="0046.html"><b>Re: xcam/xscanimage hangs w/ SANE 0.57</b></a> <a name="46"><i>Mark Cornick</i></a>
<li> <a href="0047.html"><b>Re: xcam/xscanimage hangs w/ SANE 0.57</b></a> <a name="47"><i>David Mosberger-Tang</i></a>
<li> <a href="0048.html"><b>Re: mustek-probs: color, preview</b></a> <a name="48"><i>David Mosberger-Tang</i></a>
<li> <a href="0049.html"><b>Re: image buffering</b></a> <a name="49"><i>David Mosberger-Tang</i></a>
<li> <a href="0050.html"><b>Re: Logitech Support ?</b></a> <a name="50"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0051.html"><b>small change to network protocol</b></a> <a name="51"><i>David Mosberger-Tang</i></a>
<li> <a href="0052.html"><b>Re: small change to network protocol</b></a> <a name="52"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0053.html"><b>Re: small change to network protocol</b></a> <a name="53"><i>David Mosberger-Tang</i></a>
<li> <a href="0054.html"><b>Re: Logitech Support ?</b></a> <a name="54"><i>Bellerophon</i></a>
<li> <a href="0055.html"><b>Re: Logitech Support ?</b></a> <a name="55"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0056.html"><b>Re: Mustek Paragon II CD works</b></a> <a name="56"><i>David Mosberger-Tang</i></a>
<li> <a href="0057.html"><b>Re: Logitech Support ?</b></a> <a name="57"><i>Bellerophon</i></a>
<li> <a href="0058.html"><b>Driver for Genius Color Page-CS</b></a> <a name="58"><i>Rildo Pragana</i></a>
<li> <a href="0059.html"><b>Re: Logitech Support ?</b></a> <a name="59"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0060.html"><b>Re: Driver for Genius Color Page-CS</b></a> <a name="60"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0061.html"><b>Sane newbie questions..</b></a> <a name="61"><i>Jim Chisholm</i></a>
<li> <a href="0062.html"><b>Re: Sane newbie questions..</b></a> <a name="62"><i>Guido Muesch</i></a>
<li> <a href="0063.html"><b>LD_LIBRARY_PATH [was: Re: Sane newbie questions..]</b></a> <a name="63"><i>Gordon Matzigkeit</i></a>
<li> <a href="0064.html"><b>Microtek?</b></a> <a name="64"><i>Hallow</i></a>
<li> <a href="0065.html"><b>Re: Microtek?</b></a> <a name="65"><i>Michael J. Long</i></a>
<li> <a href="0066.html"><b>Re: Logitech Support ?</b></a> <a name="66"><i>Bellerophon</i></a>
<li> <a href="0067.html"><b>Re: GTK and the curve widget</b></a> <a name="67"><i>David Mosberger-Tang</i></a>
<li> <a href="0068.html"><b>Back end for Epson PhotoPC 500</b></a> <a name="68"><i>Jeff Tranter</i></a>
<li> <a href="0069.html"><b>Mustek's DTCT-436E doesn't run under Linux</b></a> <a name="69"><i>Christoph Lorenz</i></a>
<li> <a href="0070.html"><b>SANE 0.57 on Solaris 2.5</b></a> <a name="70"><i>Tristan Tarrant</i></a>
<li> <a href="0071.html"><b>Re: Mustek's DTCT-436E doesn't run under Linux</b></a> <a name="71"><i>David Mosberger-Tang</i></a>
<li> <a href="0072.html"><b>Re: SANE 0.57 on Solaris 2.5</b></a> <a name="72"><i>David Mosberger-Tang</i></a>
<li> <a href="0073.html"><b>ScanJet 5p working with SANE</b></a> <a name="73"><i>Rodger Donaldson</i></a>
<li> <a href="0074.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="74"><i>David Mosberger-Tang</i></a>
<li> <a href="0075.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="75"><i>Sascha Ziemann</i></a>
<li> <a href="0076.html"><b>umax-backend</b></a> <a name="76"><i>orauch@physik.uni-osnabrueck.de</i></a>
<li> <a href="0077.html"><b>Re: umax-backend</b></a> <a name="77"><i>Tristan Tarrant</i></a>
<li> <a href="0078.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="78"><i>David Mosberger-Tang</i></a>
<li> <a href="0079.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="79"><i>David Mosberger-Tang</i></a>
<li> <a href="0080.html"><b>SANE v0.6 released!</b></a> <a name="80"><i>David Mosberger-Tang</i></a>
<li> <a href="0081.html"><b>Sane on NeXT/OpenStep - a plea for help</b></a> <a name="81"><i>Neville Wilford</i></a>
<li> <a href="0082.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="82"><i>Michael K. Johnson</i></a>
<li> <a href="0083.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="83"><i>Gordon Matzigkeit</i></a>
<li> <a href="0084.html"><b>sane-0.6.tar.gz is bad</b></a> <a name="84"><i>Gordon Matzigkeit</i></a>
<li> <a href="0085.html"><b>Re: sane-0.6.tar.gz is bad</b></a> <a name="85"><i>David Mosberger-Tang</i></a>
<li> <a href="0086.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="86"><i>Sascha Ziemann</i></a>
<li> <a href="0087.html"><b>Re: sane-0.6.tar.gz is bad</b></a> <a name="87"><i>Michael K. Johnson</i></a>
<li> <a href="0088.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="88"><i>Neville Wilford</i></a>
<li> <a href="0089.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="89"><i>David Mosberger-Tang</i></a>
<li> <a href="0090.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="90"><i>David Mosberger-Tang</i></a>
<li> <a href="0091.html"><b>gtk libraries on Linux</b></a> <a name="91"><i>David Mosberger-Tang</i></a>
<li> <a href="0092.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="92"><i>Neville Wilford</i></a>
<li> <a href="0093.html"><b>Re: ScanJet 5p working with SANE</b></a> <a name="93"><i>David Mosberger-Tang</i></a>
<li> <a href="0094.html"><b>xscanimage redraw-error</b></a> <a name="94"><i>orauch@physik.uni-osnabrueck.de</i></a>
<li> <a href="0095.html"><b>Re: xscanimage redraw-error</b></a> <a name="95"><i>David Mosberger-Tang</i></a>
<li> <a href="0096.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="96"><i>Gordon Matzigkeit</i></a>
<li> <a href="0097.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="97"><i>David Mosberger-Tang</i></a>
<li> <a href="0098.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="98"><i>Raymond A. Ingles</i></a>
<li> <a href="0099.html"><b>Re: Sane on NeXT/OpenStep - a plea for help</b></a> <a name="99"><i>David Mosberger-Tang</i></a>
<li> <a href="0100.html"><b>Can't compile sane-0.6 on Linux</b></a> <a name="100"><i>Guenther Beulshausen</i></a>
<li> <a href="0101.html"><b>B&amp;W qcam with SANE 0.6</b></a> <a name="101"><i>Andrew Kuchling</i></a>
<li> <a href="0102.html"><b>Re: B&amp;W qcam with SANE 0.6</b></a> <a name="102"><i>David Mosberger-Tang</i></a>
<li> <a href="0103.html"><b>SANE 0.6 configure</b></a> <a name="103"><i>Guido Muesch</i></a>
<li> <a href="0104.html"><b>Re: B&amp;W qcam with SANE 0.6</b></a> <a name="104"><i>Andrew Kuchling</i></a>
<li> <a href="0105.html"><b>Re: B&amp;W qcam with SANE 0.6</b></a> <a name="105"><i>David Mosberger-Tang</i></a>
<li> <a href="0106.html"><b>Re: B&amp;W qcam with SANE 0.6</b></a> <a name="106"><i>Guido Muesch</i></a>
<li> <a href="0107.html"><b>Re: B&amp;W qcam with SANE 0.6</b></a> <a name="107"><i>David Mosberger-Tang</i></a>
<li> <a href="0108.html"><b>Re: B&amp;W qcam with SANE 0.6</b></a> <a name="108"><i>Andrew Kuchling</i></a>
<li> <a href="0109.html"><b>B&amp;W qcam: Curiouser...</b></a> <a name="109"><i>Andrew Kuchling</i></a>
<li> <a href="0110.html"><b>Re: You have been removed from the list</b></a> <a name="110"><i>David Mosberger-Tang</i></a>
<li> <a href="0111.html"><b>Unidentified subject!</b></a> <a name="111"><i>Mathias Weigt</i></a>
<li> <a href="0112.html"><b>Need help for HP scanjet backend</b></a> <a name="112"><i>nogaya@mbox.kyoto-inet.or.jp</i></a>
<li> <a href="0113.html"><b>Mustek MFS-08000SP</b></a> <a name="113"><i>William L. Sebok</i></a>
<li> <a href="0114.html"><b>Re: Mustek MFS-08000SP</b></a> <a name="114"><i>David Mosberger-Tang</i></a>
<li> <a href="0115.html"><b>QuickCam bit depth wired to 8: why?</b></a> <a name="115"><i>Andrew Kuchling</i></a>
<li> <a href="0116.html"><b>Re: QuickCam bit depth wired to 8: why?</b></a> <a name="116"><i>David Mosberger-Tang</i></a>
<li> <a href="0117.html"><b>Re: QuickCam bit depth wired to 8: why?</b></a> <a name="117"><i>Andrew Kuchling</i></a>
<li> <a href="0118.html"><b>Re: QuickCam bit depth wired to 8: why?</b></a> <a name="118"><i>David Mosberger-Tang</i></a>
<li> <a href="0119.html"><b>Re: QuickCam bit depth wired to 8: why?</b></a> <a name="119"><i>David Mosberger-Tang</i></a>
<li> <a href="0120.html"><b>Re: QuickCam bit depth wired to 8: why?</b></a> <a name="120"><i>Andrew Kuchling</i></a>
<li> <a href="0121.html"><b>Problem compiling umax-driver with glibc-2.03</b></a> <a name="121"><i>Mathias Weigt</i></a>
<li> <a href="0122.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="122"><i>David Mosberger-Tang</i></a>
<li> <a href="0123.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="123"><i>Michael K. Johnson</i></a>
<li> <a href="0124.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="124"><i>David Mosberger-Tang</i></a>
<li> <a href="0125.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="125"><i>David Mosberger-Tang</i></a>
<li> <a href="0126.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="126"><i>Michael K. Johnson</i></a>
<li> <a href="0127.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="127"><i>Michael K. Johnson</i></a>
<li> <a href="0128.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="128"><i>Andrew Kuchling</i></a>
<li> <a href="0129.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="129"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0130.html"><b>umax-backend</b></a> <a name="130"><i>orauch@physik.uni-osnabrueck.de</i></a>
<li> <a href="0131.html"><b>Re: Problem compiling umax-driver with glibc-2.03</b></a> <a name="131"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0132.html"><b>Problems with sane-0.6/UMAX S-12 and gimp 0.99.10</b></a> <a name="132"><i>Guenther Beulshausen</i></a>
<li> <a href="0133.html"><b>Re: Problems with sane-0.6/UMAX S-12 and gimp 0.99.10</b></a> <a name="133"><i>David Mosberger-Tang</i></a>
<li> <a href="0134.html"><b>Re: Problems with sane-0.6/UMAX S-12 and gimp 0.99.10</b></a> <a name="134"><i>Clemens Oertel</i></a>
<li> <a href="0135.html"><b>Mustek 600CD &amp; Buslogic  error on sane 0.6</b></a> <a name="135"><i>Christophe Zwecker</i></a>
<li> <a href="0136.html"><b>Re: Mustek 600CD &amp; Buslogic  error on sane 0.6</b></a> <a name="136"><i>David Mosberger-Tang</i></a>
<li> <a href="0137.html"><b>Re: Mustek 600CD &amp; Buslogic error on sane 0.6</b></a> <a name="137"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0138.html"><b>Re: Mustek 600CD &amp; Buslogic error on sane 0.6</b></a> <a name="138"><i>David Mosberger-Tang</i></a>
<li> <a href="0139.html"><b>600II-CD und AVA-1505</b></a> <a name="139"><i>Marc Roland</i></a>
<li> <a href="0140.html"><b>Questions on SANE - backend for Epson PhotoPC</b></a> <a name="140"><i>Jeff Tranter</i></a>
<li> <a href="0141.html"><b>Re: Questions on SANE - backend for Epson PhotoPC</b></a> <a name="141"><i>David Mosberger-Tang</i></a>
<li> <a href="0142.html"><b>Re: 600II-CD und AVA-1505</b></a> <a name="142"><i>David Mosberger-Tang</i></a>
<li> <a href="0143.html"><b>Re: 600II-CD and AVA-1505</b></a> <a name="143"><i>Mathias Weigt</i></a>
<li> <a href="0144.html"><b>Microtek E3 Scanner Support</b></a> <a name="144"><i>Music Entertainment Group</i></a>
<li> <a href="0145.html"><b>RE: Microtek E3 Scanner Support</b></a> <a name="145"><i>Clemens Oertel</i></a>
<li> <a href="0146.html"><b>sane compile probs with gtk</b></a> <a name="146"><i>Christophe Zwecker</i></a>
<li> <a href="0147.html"><b>strange library problems solved</b></a> <a name="147"><i>Guido Muesch</i></a>
<li> <a href="0148.html"><b>Re: sane compile probs with gtk</b></a> <a name="148"><i>David Mosberger-Tang</i></a>
<li> <a href="0149.html"><b>Re: strange library problems solved</b></a> <a name="149"><i>David Mosberger-Tang</i></a>
<li> <a href="0150.html"><b>what is backtracking ?</b></a> <a name="150"><i>Christophe Zwecker</i></a>
<li> <a href="0151.html"><b>Re: sane compile probs with gtk</b></a> <a name="151"><i>Christophe Zwecker</i></a>
<li> <a href="0152.html"><b>Re: Microtek E3 Scanner Support</b></a> <a name="152"><i>Michael J. Long</i></a>
<li> <a href="0153.html"><b>xscanimage - how to make device default</b></a> <a name="153"><i>Christophe Zwecker</i></a>
<li> <a href="0154.html"><b>Re: sane compile probs with gtk</b></a> <a name="154"><i>David Mosberger-Tang</i></a>
<li> <a href="0155.html"><b>Re: xscanimage - how to make device default</b></a> <a name="155"><i>David Mosberger-Tang</i></a>
<li> <a href="0156.html"><b>RE: Microtek E3 Scanner Support</b></a> <a name="156"><i>Warren Early</i></a>
<li> <a href="0157.html"><b>Re: what is backtracking ?</b></a> <a name="157"><i>Michael J. Long</i></a>
<li> <a href="0158.html"><b>Re: sane compile probs with gtk</b></a> <a name="158"><i>David Mosberger-Tang</i></a>
<li> <a href="0159.html"><b>Re: Logitech handheld scaner???</b></a> <a name="159"><i>David Mosberger-Tang</i></a>
<li> <a href="0160.html"><b>Re: Logitech handheld scaner???</b></a> <a name="160"><i>Erik Troan</i></a>
<li> <a href="0161.html"><b>Re: Logitech handheld scaner???</b></a> <a name="161"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0162.html"><b>Re: Logitech handheld scaner???</b></a> <a name="162"><i>Erik Troan</i></a>
<li> <a href="0163.html"><b>Re: what is backtracking ?</b></a> <a name="163"><i>Christophe Zwecker</i></a>
<li> <a href="0164.html"><b>Re: Logitech handheld scaner???</b></a> <a name="164"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a>
<li> <a href="0165.html"><b>new SANE home</b></a> <a name="165"><i>David Mosberger-Tang</i></a>
<li> <a href="0166.html"><b>Re: sane compile probs with gtk</b></a> <a name="166"><i>Christophe Zwecker</i></a>
<li> <a href="0167.html"><b>Ricoh FS2</b></a> <a name="167"><i>Bj|rn Augustsson</i></a>
<li> <a href="0168.html"><b>Re: Ricoh FS2</b></a> <a name="168"><i>David Mosberger-Tang</i></a>
<li> <a href="0169.html"><b>Re: Compiling on AIX</b></a> <a name="169"><i>Rogan Dawes</i></a>
<li> <a href="0170.html"><b>forwarded message from Andre Kunth</b></a> <a name="170"><i>David Mosberger-Tang</i></a>
<li> <a href="0171.html"><b>problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</b></a> <a name="171"><i>Frank Weigel</i></a>
<li> <a href="0172.html"><b>Re: problems: Sane 0.6, Mustek 3-pass, NCR 810, Linux, COLOR-scanning</b></a> <a name="172"><i>David Mosberger-Tang</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Mon 30 Jun 1997 - 10:06:02 MST</i><br>
<b>Archived on:</b> <i>Tue Sep 30 1997 - 21:19:24 MST</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
