<!-- received="Mon Jan  5 14:44:20 1998 PST" -->
<!-- sent="Mon, 5 Jan 1998 14:47:35 -0800" -->
<!-- name="Paul Walker" -->
<!-- email="pwalker@hifn.com" -->
<!-- subject="RE: UMAX 1200S SCSI CARD" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: RE: UMAX 1200S SCSI CARD</title>
<h1>RE: UMAX 1200S SCSI CARD</h1>
<b>Paul Walker</b> (<a href="mailto:pwalker@hifn.com"><i>pwalker@hifn.com</i></a>)<br>
<i>Mon, 5 Jan 1998 14:47:35 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Michael K. Johnson: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0019.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; ----------</i><br>
<i>&gt; From:</i><br>
<i>&gt; <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>[SMTP:Oliver.Rauch@Wolfsburg.DE]</i><br>
<i>&gt; Sent: 	Monday, January 05, 1998 11:55 AM</i><br>
<i>&gt; To: 	<a href="mailto:sane-devel@mostang.com">sane-devel@mostang.com</a></i><br>
<i>&gt; Subject: 	Re: UMAX 1200S SCSI CARD</i><br>
<i>&gt; </i><br>
<i>&gt; Hello Paul,</i><br>
<i>&gt; </i><br>
<i>&gt; &gt; My Astra 1200S does not have a 50 pin Centronix connector.  It has a</i><br>
<i>&gt; 25</i><br>
<i>&gt; &gt; pin DB-F</i><br>
<i>&gt; &gt; connector.</i><br>
<i>&gt; </i><br>
<i>&gt; Hm, is there only one scsi-connector on the Astra 1200S?</i><br>
<i>&gt; On the "older" scanners (S12, S6E ...), there is a</i><br>
<i>&gt; 25 pin SUB D and a 50 pin Centronix connector.</i><br>
<i>&gt; </i><br>
<i>&gt; If there is only one connector, how do you terminate the bus or</i><br>
<i>&gt; does the scanner always terminate the bus?</i><br>
There are two connectors.  They are the same type as would commonly<br>
be used for an RS-232 serial connection.  A terminator that will attach<br>
directly to either of the connectors is supplied with the unit.<br>
<p>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail</i><br>
<i>&gt; <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<i>&gt; </i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Michael K. Johnson: "Re: UMAX 1200S SCSI CARD"</a>
<li> <b>Previous message:</b> <a href="0019.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
