<!-- received="Mon Jan  5 15:23:04 1998 PST" -->
<!-- sent="Mon, 05 Jan 1998 18:23:32 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: UMAX 1200S SCSI CARD" -->
<!-- id="199801052323.SAA20058@tristan.redhat.com" -->
<!-- inreplyto="UMAX 1200S SCSI CARD" -->
<title>sane-devel: Re: UMAX 1200S SCSI CARD</title>
<h1>Re: UMAX 1200S SCSI CARD</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Mon, 05 Jan 1998 18:23:32 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#21">[ date ]</a><a href="index.html#21">[ thread ]</a><a href="subject.html#21">[ subject ]</a><a href="author.html#21">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<li> <b>Previous message:</b> <a href="0020.html">Paul Walker: "RE: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0022.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<li> <b>Reply:</b> <a href="0022.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<li> <b>Reply:</b> <a href="0024.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> writes:<br>
<i>&gt;I am using a NCR53C810 and a NCR/SymbiosLogic 53C860 and</i><br>
<i>&gt;while I am scanning (using the bsd-driver) I am not able</i><br>
<i>&gt;to access the disks for a while!</i><br>
<p>
Hmmmmm.  Well, maybe I was wrong about the 53c810, but I'm pretty<br>
sure that I'm right about the BusLogic.  I'm currently running<br>
the scanner off a 810, but it doesn't currently have drives<br>
attached.  The BusLogic I know had drives attached, and I am<br>
pretty sure that I could access them at the same time.<br>
<p>
But without testing it again (would be difficult, since my current<br>
BusLogic is a 958...) I can't say for sure.<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0022.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<li> <b>Previous message:</b> <a href="0020.html">Paul Walker: "RE: UMAX 1200S SCSI CARD"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0022.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<li> <b>Reply:</b> <a href="0022.html">Raymond A. Ingles: "DTC3181A card usable in Linux?"</a>
<li> <b>Reply:</b> <a href="0024.html">Oliver.Rauch@Wolfsburg.DE: "Re: UMAX 1200S SCSI CARD"</a>
<!-- reply="end" -->
</ul>
