<!-- received="Sun Jan 11 05:42:02 1998 PST" -->
<!-- sent="Sun, 11 Jan 1998 14:08:40 +0100 (MET)" -->
<!-- name="Peter Daum" -->
<!-- email="gator@cs.tu-berlin.de" -->
<!-- subject="Re: umax-backend" -->
<!-- id="" -->
<!-- inreplyto="199801102020.VAA01365@Babylon5.wolfsburg.de" -->
<title>sane-devel: Re: umax-backend</title>
<h1>Re: umax-backend</h1>
<b>Peter Daum</b> (<a href="mailto:gator@cs.tu-berlin.de"><i>gator@cs.tu-berlin.de</i></a>)<br>
<i>Sun, 11 Jan 1998 14:08:40 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#34">[ date ]</a><a href="index.html#34">[ thread ]</a><a href="subject.html#34">[ subject ]</a><a href="author.html#34">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0033.html">Bernd Seemann: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0032.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 10 Jan 1998 <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a> wrote:<br>
<p>
<i>&gt; Hello UMAX-BACKEND-USERS!</i><br>
<i>&gt; </i><br>
<i>&gt; I propably will change the inquiry-command in the umax-driver.</i><br>
<i>&gt; But before I do that, I would like to know if the change command</i><br>
<i>&gt; works with all scanners. So please could you try the following change:</i><br>
[...]<br>
<i>&gt; Please tell me, if it works or not.</i><br>
<p>
Hi,<br>
<p>
I am not sure, how noticable the effect would be if your change<br>
didn't work, but as far as I can tell, everything still works as<br>
before (UMAX Astra 1200S).<br>
<p>
Bye,<br>
               Peter<br>
<pre>
-- 
     | Peter Daum (<a href="mailto:gator@cs.tu-berlin.de">gator@cs.tu-berlin.de</a>)        __o   (+49 30)
     | <a href="http://www.cs.tu-berlin.de/~gator">http://www.cs.tu-berlin.de/~gator</a>       _'\&lt;_  691 46 35
     | pgp messages welcome!                 _(_)/(_) ___________
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<li> <b>Previous message:</b> <a href="0033.html">Bernd Seemann: "Re: umax-backend"</a>
<li> <b>In reply to:</b> <a href="0032.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0035.html">Nicolas Lucas de Peslouan: "Re: umax-backend"</a>
<!-- reply="end" -->
</ul>
