<!-- received="Sun Jan 18 08:36:35 1998 PST" -->
<!-- sent="Sat, 17 Jan 1998 12:57:15 +0100 (MET)" -->
<!-- name="Frank Kardel" -->
<!-- email="kardel@acm.org" -->
<!-- subject="support for HP 6100C" -->
<!-- id="199801171157.MAA26786@Flinx.kardel.de" -->
<!-- inreplyto="" -->
<title>sane-devel: support for HP 6100C</title>
<h1>support for HP 6100C</h1>
<b>Frank Kardel</b> (<a href="mailto:kardel@acm.org"><i>kardel@acm.org</i></a>)<br>
<i>Sat, 17 Jan 1998 12:57:15 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Martin Huber: "Re: support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0068.html">oli@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Martin Huber: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0070.html">Martin Huber: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0081.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0118.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0119.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi developers,<br>
<p>
has anyone checked wether the SANE HP support supports the<br>
HP 6100C scanner ?<br>
<p>
Regards,<br>
  Frank Kardel<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Martin Huber: "Re: support for HP 6100C"</a>
<li> <b>Previous message:</b> <a href="0068.html">oli@Wolfsburg.DE: "umax-backend"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0070.html">Martin Huber: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0070.html">Martin Huber: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0081.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0118.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<li> <b>Reply:</b> <a href="0119.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
