<!-- received="Mon Jan 19 06:40:59 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 12:33:38 +0100 (MET)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: support for HP 6100C" -->
<!-- id="m0xuFSU-0000XUC@charon.beck-sw.de" -->
<!-- inreplyto="34C2FDA2.41E71DDD@tu-harburg.de" -->
<title>sane-devel: Re: support for HP 6100C</title>
<h1>Re: support for HP 6100C</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 19 Jan 1998 12:33:38 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#75">[ date ]</a><a href="index.html#75">[ thread ]</a><a href="subject.html#75">[ subject ]</a><a href="author.html#75">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Andreas Pohl: "Agfa Snapscan with Sane"</a>
<li> <b>Previous message:</b> <a href="0074.html">descarte@arcana.co.uk: "Sane 0.68 with Gimp 0.99.7"</a>
<li> <b>In reply to:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">David Mosberger-Tang: "Re: support for HP 6100C"</a>
<li> <b>Next in thread:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I tried the HP 6100 last week, Sane even refused to recognize it as a</i><br>
<i>&gt; scanner. I therefor thing that I made a mistake. </i><br>
<i>&gt; </i><br>
<i>&gt; If anybody could tell me what to do, I could try the HP 6100 again. I'm</i><br>
<i>&gt; using the latest sane version  and tried scanimage (there is a small</i><br>
<i>&gt; problem with xscanimage and the actual gtk?) with</i><br>
<i>&gt; </i><br>
<i>&gt; /&gt; scanimage -d hp:/dev/sgd</i><br>
<i>&gt; </i><br>
<i>&gt; all I get is</i><br>
<i>&gt; </i><br>
<i>&gt; open of /dev/sgd failed: invalid argument</i><br>
<p>
Are you sure sgd is the right device ?<br>
<p>
The letters do _NOT_ correspond to SCSI ID, but to the logical number of the<br>
device which is gotten by counting the devices starting with the lowest SCSI <br>
ID. I.e. if there are "holes" in the chain, you get other letters than the<br>
ID would make you expect.<br>
<p>
I.e. if you have IDs 0,1,3,4,6 this means 0=sga 1=sgb 3=sgc 4=sgd 6=sge.<br>
<p>
Other than that check if you have sufficient permission and eventually try <br>
an strace dump or setting SANE_DEBUG_SCSI (hope I got it right, recheck with<br>
documentation).<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt;
========  GGI - The Right Thing To Do : <a href="http://synergy.foo.net/~ggi/">http://synergy.foo.net/~ggi/</a>  ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0076.html">Andreas Pohl: "Agfa Snapscan with Sane"</a>
<li> <b>Previous message:</b> <a href="0074.html">descarte@arcana.co.uk: "Sane 0.68 with Gimp 0.99.7"</a>
<li> <b>In reply to:</b> <a href="0073.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0122.html">David Mosberger-Tang: "Re: support for HP 6100C"</a>
<li> <b>Next in thread:</b> <a href="0078.html">Carsten Zerbst: "Re: support for HP 6100C"</a>
<!-- reply="end" -->
</ul>
