<!-- received="Mon Jan 19 14:51:17 1998 PST" -->
<!-- sent="Mon, 19 Jan 1998 17:50:51 -0500" -->
<!-- name="Michael K. Johnson" -->
<!-- email="johnsonm@redhat.com" -->
<!-- subject="Re: Lockups on Astra 610s" -->
<!-- id="199801192250.RAA32460@lacrosse.redhat.com" -->
<!-- inreplyto="Lockups on Astra 610s" -->
<title>sane-devel: Re: Lockups on Astra 610s</title>
<h1>Re: Lockups on Astra 610s</h1>
<b>Michael K. Johnson</b> (<a href="mailto:johnsonm@redhat.com"><i>johnsonm@redhat.com</i></a>)<br>
<i>Mon, 19 Jan 1998 17:50:51 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#83">[ date ]</a><a href="index.html#83">[ thread ]</a><a href="subject.html#83">[ subject ]</a><a href="author.html#83">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">David Mosberger-Tang: "Re: Agfa Snapscan with Sane"</a>
<li> <b>Previous message:</b> <a href="0082.html">William T Wilson: "Lockups on Astra 610s"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">William T Wilson: "Lockups on Astra 610s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
William T Wilson writes:<br>
<i>&gt;I am using a T130B SCSI card to connect the scanner to.</i><br>
<p>
I'm *guessing* that this card isn't handling the SCSI bus resets<br>
very well.<br>
<p>
If you don't value your data, you might want to consider trying<br>
Linux 2.1.79 to see if this improves; the error handling in the<br>
mid-level SCSI driver was improved recently and that might help.<br>
<p>
Just a thought...<br>
<p>
michaelkjohnson<br>
<p>
"Magazines all too frequently lead to books and should be regarded by the<br>
 prudent as the heavy petting of literature."            -- Fran Lebowitz<br>
                        <a href="http://www.amazon.com/exec/obidos/ISBN=0201308215">http://www.amazon.com/exec/obidos/ISBN=0201308215</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0084.html">David Mosberger-Tang: "Re: Agfa Snapscan with Sane"</a>
<li> <b>Previous message:</b> <a href="0082.html">William T Wilson: "Lockups on Astra 610s"</a>
<li> <b>Maybe in reply to:</b> <a href="0082.html">William T Wilson: "Lockups on Astra 610s"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
