<!-- received="Tue Jan 20 00:28:41 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 09:24:08 +0100 (CET)" -->
<!-- name="Henning Sauer" -->
<!-- email="hsauer@marnie.teuto.de" -->
<!-- subject="xerox settings for DINA4" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: xerox settings for DINA4</title>
<h1>xerox settings for DINA4</h1>
<b>Henning Sauer</b> (<a href="mailto:hsauer@marnie.teuto.de"><i>hsauer@marnie.teuto.de</i></a>)<br>
<i>Tue, 20 Jan 1998 09:24:08 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#86">[ date ]</a><a href="index.html#86">[ thread ]</a><a href="subject.html#86">[ subject ]</a><a href="author.html#86">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Sascha Ziemann: "Re: Paragon 1200SP mit falschen Farben"</a>
<li> <b>Previous message:</b> <a href="0085.html">David Mosberger-Tang: "Re: HP ScanJet 5P supported or not"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Michael Sweet: "Re: xerox settings for DINA4"</a>
<li> <b>Reply:</b> <a href="0092.html">Michael Sweet: "Re: xerox settings for DINA4"</a>
<li> <b>Reply:</b> <a href="0099.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<li> <b>Reply:</b> <a href="0146.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
the xerox script that comes with sane-0.68 seems to expect the width and<br>
length in inches and as here in Germany we use the metric system and I<br>
would like to copy DINA4 papers I'm searching for the right settings for<br>
DINA4.<br>
<p>
Bye,<br>
Henning<br>
<p>
----------------------------------<br>
E-Mail: Henning Sauer &lt;<a href="mailto:hsauer@marnie.teuto.de">hsauer@marnie.teuto.de</a>&gt;<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0087.html">Sascha Ziemann: "Re: Paragon 1200SP mit falschen Farben"</a>
<li> <b>Previous message:</b> <a href="0085.html">David Mosberger-Tang: "Re: HP ScanJet 5P supported or not"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0092.html">Michael Sweet: "Re: xerox settings for DINA4"</a>
<li> <b>Reply:</b> <a href="0092.html">Michael Sweet: "Re: xerox settings for DINA4"</a>
<li> <b>Reply:</b> <a href="0099.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<li> <b>Reply:</b> <a href="0146.html">Joachim Woll: "Re: xerox settings for DINA4"</a>
<!-- reply="end" -->
</ul>
