<!-- received="Tue Jan 20 09:17:21 1998 PST" -->
<!-- sent="Tue, 20 Jan 1998 17:48:39 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Backend." -->
<!-- id="199801201648.RAA00312@Babylon5.wolfsburg.de" -->
<!-- inreplyto="34C49D67.1DB23D37@usa.net" -->
<title>sane-devel: Re: Umax Backend.</title>
<h1>Re: Umax Backend.</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Tue, 20 Jan 1998 17:48:39 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#94">[ date ]</a><a href="index.html#94">[ thread ]</a><a href="subject.html#94">[ subject ]</a><a href="author.html#94">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Rogier Wolff: "Re: Paragon 1200SP mit falschen Farben"</a>
<li> <b>Previous message:</b> <a href="0093.html">Preston Brown: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Nicolas,<br>
<p>
<i>&gt; I grepped the files for "Astra 610", and find something in a file called</i><br>
<i>&gt; h6900010.rtf, which apparently deal with Astra 600S, Astra 610S and S6E.</i><br>
<i>&gt; </i><br>
<i>&gt; Does anyone already have this ? if not, does anyone want it ? :-) </i><br>
<i>&gt; (Oliver, already repaired your / filesystem ? :-)</i><br>
<p>
Yes, my root-filesystem is ok again!<br>
and<br>
Yes: I would like to have that file!<br>
<p>
Please could you send it to me?!<br>
<p>
Thanks<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0095.html">Rogier Wolff: "Re: Paragon 1200SP mit falschen Farben"</a>
<li> <b>Previous message:</b> <a href="0093.html">Preston Brown: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
