<!-- received="Thu Jan 22 12:03:15 1998 PST" -->
<!-- sent="Thu, 22 Jan 1998 19:23:41 +0100 (CET)" -->
<!-- name="Henning Sauer" -->
<!-- email="hsauer@marnie.teuto.de" -->
<!-- subject="Re: xerox settings for DINA4" -->
<!-- id="" -->
<!-- inreplyto="199801210945.KAA01076@cave.BitWizard.nl" -->
<title>sane-devel: Re: xerox settings for DINA4</title>
<h1>Re: xerox settings for DINA4</h1>
<b>Henning Sauer</b> (<a href="mailto:hsauer@marnie.teuto.de"><i>hsauer@marnie.teuto.de</i></a>)<br>
<i>Thu, 22 Jan 1998 19:23:41 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#124">[ date ]</a><a href="index.html#124">[ thread ]</a><a href="subject.html#124">[ subject ]</a><a href="author.html#124">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Martin Huber: "Re: sane-0.69, finally!"</a>
<li> <b>Previous message:</b> <a href="0123.html">Nicolas Lucas de Peslouan: "Re: Umax Backend."</a>
<li> <b>In reply to:</b> <a href="0106.html">Rogier Wolff: "Re: xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 21-Jan-98 Rogier Wolff wrote:<br>
<p>
<i>&gt;&gt; Unfortionately this does still lead to same result that copy of the</i><br>
<i>&gt;&gt; page</i><br>
<i>&gt;&gt; is smaller than the orginal. I get the following warning "pnmtops:</i><br>
<i>&gt;&gt; warning, image too large for page, rescaling to 0.215078". How can I</i><br>
<i>&gt;&gt; change this so that when I copy a DINA4 page the copy is really a copy</i><br>
<i>&gt;&gt; and</i><br>
<i>&gt;&gt; not a scaled down copy ?</i><br>
<i>&gt; </i><br>
<i>&gt; Read the manual of pnmtops. I was on the verge of doing it myself, but</i><br>
<i>&gt; you should be able to do that yourself....</i><br>
<i>&gt;</i><br>
Sorry, but I didn't find anything that seemed to be useful to solve this<br>
problem in the pnmtops manpage.<br>
<p>
Bye,<br>
Henning<br>
<p>
----------------------------------<br>
E-Mail: Henning Sauer &lt;<a href="mailto:hsauer@marnie.teuto.de">hsauer@marnie.teuto.de</a>&gt;<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0125.html">Martin Huber: "Re: sane-0.69, finally!"</a>
<li> <b>Previous message:</b> <a href="0123.html">Nicolas Lucas de Peslouan: "Re: Umax Backend."</a>
<li> <b>In reply to:</b> <a href="0106.html">Rogier Wolff: "Re: xerox settings for DINA4"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
