<!-- received="Thu Jan 22 16:16:23 1998 PST" -->
<!-- sent="Fri, 23 Jan 1998 00:05:35 +0100 (MET)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: Umax Backend." -->
<!-- id="199801222305.AAA00291@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199801220626.WAA25573@panda.mostang.com" -->
<title>sane-devel: Re: Umax Backend.</title>
<h1>Re: Umax Backend.</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Fri, 23 Jan 1998 00:05:35 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#127">[ date ]</a><a href="index.html#127">[ thread ]</a><a href="subject.html#127">[ subject ]</a><a href="author.html#127">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">David Mosberger-Tang: "Re: Sane 0.68 with Gimp 0.99.7"</a>
<li> <b>Previous message:</b> <a href="0126.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>In reply to:</b> <a href="0113.html">David Mosberger-Tang: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">William T Wilson: "Re: Umax Backend."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello David, Hello Roger,<br>
<p>
<i>&gt; I think Roger has a point.  If there is reason to believe that Umax</i><br>
<i>&gt; has no problem with wide distribution of these documents, I'd be happy</i><br>
<i>&gt; to make them available on the SANE ftp site.</i><br>
<p>
I think we have another chance:<br>
<p>
on the german umax-website there are 3 umax-docs available,<br>
as far as I see there is only the Astra 6X0S file missing.<br>
So why don't set a link to it ?<br>
<p>
see: www.umax.de<br>
exact position will be posted next time!<br>
<p>
bye<br>
Oliver<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0128.html">David Mosberger-Tang: "Re: Sane 0.68 with Gimp 0.99.7"</a>
<li> <b>Previous message:</b> <a href="0126.html">Oliver.Rauch@Wolfsburg.DE: "umax-backend"</a>
<li> <b>In reply to:</b> <a href="0113.html">David Mosberger-Tang: "Re: Umax Backend."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0115.html">William T Wilson: "Re: Umax Backend."</a>
<!-- reply="end" -->
</ul>
