<!-- received="Fri Jan 23 10:47:41 1998 PST" -->
<!-- sent="Fri, 23 Jan 1998 20:51:18 +0200" -->
<!-- name="Vassilis Virvilis" -->
<!-- email="vasvir@iit.nrcps.ariadne-t.gr" -->
<!-- subject="Q: Developing a backend" -->
<!-- id="34C8E6A6.2CA33BB@iit.nrcps.ariadne-t.gr" -->
<!-- inreplyto="" -->
<title>sane-devel: Q: Developing a backend</title>
<h1>Q: Developing a backend</h1>
<b>Vassilis Virvilis</b> (<a href="mailto:vasvir@iit.nrcps.ariadne-t.gr"><i>vasvir@iit.nrcps.ariadne-t.gr</i></a>)<br>
<i>Fri, 23 Jan 1998 20:51:18 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Previous message:</b> <a href="0141.html">Oliver.Rauch@Wolfsburg.DE: "Re: Parallel driver for umax under linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">David Mosberger-Tang: "Re: Q: Developing a backend"</a>
<li> <b>Reply:</b> <a href="0179.html">David Mosberger-Tang: "Re: Q: Developing a backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello<br>
<p>
test. Is this coming out? Hope so<br>
<p>
A friend of mine gave me that to send over the Internet:<br>
<p>
-------------------------------------------------------------------<br>
<p>
OK I am developing one (SCSI) backend and I am in a very premature<br>
state. I would like to ask some things in order to speed me up a little.<br>
<p>
1<br>
Does the below statement make any sense<br>
<p>
c=SANE_UNFIX(a+b);<br>
<p>
Is this somewhere close to c=SANE_UNFIX(a) + SANE_UNFIX(b);<br>
<p>
which one should be used?<br>
<p>
2<br>
I noticed my sane_read is called with a buffer of 32768. Why is that?<br>
Has anything to do with SCSI_SG_BUF (or whatever the name is).<br>
<p>
3<br>
Should be the sane_controlo_option Reentrant? If not how am I going to<br>
handle complex dependancies without code doubling? I don't have this one<br>
very clear in my mind. I will be more specific when I 'll have my code<br>
handy...<br>
<p>
4<br>
My backend is based on sane-0.68. What issues must have in mind in order<br>
to be most portable with the newer sane's. Does the API changed?<br>
<p>
					Milon FirikHs<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<li> <b>Previous message:</b> <a href="0141.html">Oliver.Rauch@Wolfsburg.DE: "Re: Parallel driver for umax under linux"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0179.html">David Mosberger-Tang: "Re: Q: Developing a backend"</a>
<li> <b>Reply:</b> <a href="0179.html">David Mosberger-Tang: "Re: Q: Developing a backend"</a>
<!-- reply="end" -->
</ul>
