<!-- received="Fri Jan 23 13:18:35 1998 PST" -->
<!-- sent="Fri, 23 Jan 1998 22:17:25 +0100 (CET)" -->
<!-- name="Stefan Weiser" -->
<!-- email="stefan@darmstadt.netsurf.de" -->
<!-- subject="Parse error when compiling xscanimage.c as a gimp-plug-in" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Parse error when compiling xscanimage.c as a gimp-plug-in</title>
<h1>Parse error when compiling xscanimage.c as a gimp-plug-in</h1>
<b>Stefan Weiser</b> (<a href="mailto:stefan@darmstadt.netsurf.de"><i>stefan@darmstadt.netsurf.de</i></a>)<br>
<i>Fri, 23 Jan 1998 22:17:25 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Brian Hall: "configuring/using xscanimage"</a>
<li> <b>Previous message:</b> <a href="0143.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I tried to make sane 0.63 on a S.u.S.E. linux system. Everything went fine<br>
except for the compilation of xscanimage.c.<br>
<p>
Whereas scanimage was build well and produces results with my mustek<br>
scanner, compiling xscanimage resulted in the following error messages:<br>
<p>
xscanimage.c:55: parse error before `GParam'<br>
xscanimage.c:58: parse error before `PLUG_IN_INFO'<br>
xscanimage.c:60: warning: initialization makes integer from pointer<br>
without a cast<br>
xscanimage.c:61: warning: excess elements in scalar initializer after<br>
`PLUG_IN_INFO'<br>
xscanimage.c:62: warning: excess elements in scalar initializer after<br>
`PLUG_IN_INFO'<br>
xscanimage.c:63: warning: excess elements in scalar initializer after<br>
`PLUG_IN_INFO'<br>
<p>
etc. etc.<br>
<p>
The necessary include files of the gtk 0.0.971025-2 library are installed.<br>
<p>
I have no idea what the mistake might be; could you help me further?<br>
<p>
Thanks in advance<br>
 Stefan Weiser<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Brian Hall: "configuring/using xscanimage"</a>
<li> <b>Previous message:</b> <a href="0143.html">Jonathan Buzzard: "Re: Parallel driver for umax under linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
