<!-- received="Tue Jan 27 03:10:28 1998 PST" -->
<!-- sent="Tue, 27 Jan 1998 12:11:19 +0100" -->
<!-- name="Varga Attila" -->
<!-- email="avarga@GEOMETRIA.hu" -->
<!-- subject="PH600D scanner" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: PH600D scanner</title>
<h1>PH600D scanner</h1>
<b>Varga Attila</b> (<a href="mailto:avarga@GEOMETRIA.hu"><i>avarga@GEOMETRIA.hu</i></a>)<br>
<i>Tue, 27 Jan 1998 12:11:19 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#185">[ date ]</a><a href="index.html#185">[ thread ]</a><a href="subject.html#185">[ subject ]</a><a href="author.html#185">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0184.html">Jamie Zawinski: "Re: sane 0.69, Irix 6.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I'm Attila Z. Varga, (Budapest, Hungary) and a VERY beginner in Linux. <br>
I have a RedHat 5.0 Linux distribution and I will just change to Linux<br>
from Windows.<br>
<p>
Under Win95, I use a flatbed scanner with parallel port interface named<br>
"Philips PH600D". The all what is written its brief slip of paper, that<br>
it's a "Reap Technology Ltd." product (L.A. Industry City, CA), but this<br>
firm seems be disappeared. Nobody know this firm and type, they are<br>
completely unaccessible via internet. ("URL not found" or an other firm<br>
at their address :-( )<br>
<p>
A CD-ROM was supported to the scanner with a TWAIN16/32 interface and<br>
nothing any. <br>
No technical specification or any other doc.<br>
<p>
What can I do to use this scanner with RH Linux? <br>
<p>
Help or advices will be appreciated:<br>
<p>
Attila Varga<br>
 <br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0186.html">Nicolas Lucas de Peslouan: "Re: Astra 6X0S-patch available"</a>
<li> <b>Previous message:</b> <a href="0184.html">Jamie Zawinski: "Re: sane 0.69, Irix 6.3"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
