<!-- received="Fri May  1 18:58:46 1998 PDT" -->
<!-- sent="Fri, 1 May 1998 21:59:53 -0400" -->
<!-- name="root@melmac.rox.the-internet.org" -->
<!-- email="root@melmac.rox.the-internet.org" -->
<!-- subject="linux and sane" -->
<!-- id="199805020159.VAA14929@melmac.rox.the-internet.org" -->
<!-- inreplyto="" -->
<title>sane-devel: linux and sane</title>
<h1>linux and sane</h1>
<a href="mailto:root@melmac.rox.the-internet.org"><i>root@melmac.rox.the-internet.org</i></a><br>
<i>Fri, 1 May 1998 21:59:53 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#9">[ date ]</a><a href="index.html#9">[ thread ]</a><a href="subject.html#9">[ subject ]</a><a href="author.html#9">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">68683w: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0008.html">Warren Early: "Re: Agfa Arcus II"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0014.html">Oliver.Rauch@Wolfsburg.DE: "Re: linux and sane"</a>
<li> <b>Reply:</b> <a href="0014.html">Oliver.Rauch@Wolfsburg.DE: "Re: linux and sane"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
WHenever i get to /usr/include/linux/limits.h:14: warning: `PATH_MAX' redefined<br>
umax.c:81: warning: this is the location of the previous definition<br>
in the compile, it locks and doesnt go any farther? i run slackware linux<br>
3.4 kernel 2.1.97 on a p133.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0010.html">68683w: "(no subject)"</a>
<li> <b>Previous message:</b> <a href="0008.html">Warren Early: "Re: Agfa Arcus II"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0014.html">Oliver.Rauch@Wolfsburg.DE: "Re: linux and sane"</a>
<li> <b>Reply:</b> <a href="0014.html">Oliver.Rauch@Wolfsburg.DE: "Re: linux and sane"</a>
<!-- reply="end" -->
</ul>
