<!-- received="Sat May  2 00:54:01 1998 PDT" -->
<!-- sent="Sat, 2 May 1998 09:51:09 +0200 (MET DST)" -->
<!-- name="Oliver.Rauch@Wolfsburg.DE" -->
<!-- email="Oliver.Rauch@Wolfsburg.DE" -->
<!-- subject="Re: linux and sane" -->
<!-- id="199805020751.JAA00249@Babylon5.wolfsburg.de" -->
<!-- inreplyto="199805020159.VAA14929@melmac.rox.the-internet.org" -->
<title>sane-devel: Re: linux and sane</title>
<h1>Re: linux and sane</h1>
<a href="mailto:Oliver.Rauch@Wolfsburg.DE"><i>Oliver.Rauch@Wolfsburg.DE</i></a><br>
<i>Sat, 2 May 1998 09:51:09 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#14">[ date ]</a><a href="index.html#14">[ thread ]</a><a href="subject.html#14">[ subject ]</a><a href="author.html#14">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Philip Balister: "UMAX 1200S workds"</a>
<li> <b>Previous message:</b> <a href="0013.html">Slana: "(no subject)"</a>
<li> <b>In reply to:</b> <a href="0009.html">root@melmac.rox.the-internet.org: "linux and sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; WHenever i get to /usr/include/linux/limits.h:14: warning: `PATH_MAX' redefined</i><br>
<i>&gt; umax.c:81: warning: this is the location of the previous definition</i><br>
<i>&gt; in the compile, it locks and doesnt go any farther? i run slackware linux</i><br>
<i>&gt; 3.4 kernel 2.1.97 on a p133.</i><br>
<p>
Please list the exact erros while compiling, such a warning should not<br>
abort compiling!<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0015.html">Philip Balister: "UMAX 1200S workds"</a>
<li> <b>Previous message:</b> <a href="0013.html">Slana: "(no subject)"</a>
<li> <b>In reply to:</b> <a href="0009.html">root@melmac.rox.the-internet.org: "linux and sane"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
