<!-- received="Tue May  5 21:18:48 1998 PDT" -->
<!-- sent="Tue, 5 May 1998 21:18:39 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: configure --disable-static?" -->
<!-- id="199805060418.VAA05822@panda.mostang.com" -->
<!-- inreplyto="2m3ef7933m.fsf@lilia.hypercore.co.jp" -->
<title>sane-devel: Re: configure --disable-static?</title>
<h1>Re: configure --disable-static?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 5 May 1998 21:18:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#51">[ date ]</a><a href="index.html#51">[ thread ]</a><a href="subject.html#51">[ subject ]</a><a href="author.html#51">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Jim Ford: "Re: Info Request: UMAX Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0050.html">Matto Marjanovic: "Re: Microtek E6 - mode_sense_1 problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0097.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0101.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On 21 Apr 1998 14:05:17 +0900, Kaz Sasayama &lt;<a href="mailto:Kaz.Sasayama@hypercore.co.jp">Kaz.Sasayama@hypercore.co.jp</a>&gt; said:</i><br>
<p>
  Kaz&gt; I tried to build 0.72 with the --disable-static configure<br>
  Kaz&gt; option, and noticed the compilation stopped at find-scanner.<br>
  Kaz&gt; Is it possible to fix this problem in a future release?<br>
<p>
This really is a problem with libtool.  It currently does not provide<br>
a means to _force_ generating both .o and .lo files, which is<br>
necessary for SANE as some files are used both as shared objects (in<br>
libsane*.so) and as normal objects (in the frontends).<br>
<p>
If libtool gets fixed, it would be easy to make SANE work with<br>
--disable-static.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0052.html">Jim Ford: "Re: Info Request: UMAX Astra 1200S"</a>
<li> <b>Previous message:</b> <a href="0050.html">Matto Marjanovic: "Re: Microtek E6 - mode_sense_1 problem"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0096.html">Kaz Sasayama: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0097.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<li> <b>Reply:</b> <a href="0101.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<!-- reply="end" -->
</ul>
