<!-- received="Fri May  8 15:54:19 1998 PDT" -->
<!-- sent="Sat, 9 May 1998 00:49:34 +0200" -->
<!-- name="Bernd Schroeder" -->
<!-- email="bernd@aquila.muc.de" -->
<!-- subject="Re: Backend for Microtek SCSI-II scanners" -->
<!-- id="" -->
<!-- inreplyto="m0yXUoZ-000J3sC@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: Backend for Microtek SCSI-II scanners</title>
<h1>Re: Backend for Microtek SCSI-II scanners</h1>
<b>Bernd Schroeder</b> (<a href="mailto:bernd@aquila.muc.de"><i>bernd@aquila.muc.de</i></a>)<br>
<i>Sat, 9 May 1998 00:49:34 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#100">[ date ]</a><a href="index.html#100">[ thread ]</a><a href="subject.html#100">[ subject ]</a><a href="author.html#100">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<li> <b>Previous message:</b> <a href="0099.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>In reply to:</b> <a href="0082.html">Matto Marjanovic: "Re: Backend for Microtek SCSI-II scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
On Thu, May 07, 1998 at 01:50:39PM -0400, Matto Marjanovic wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Cool!  That was fast.</i><br>
<i>&gt; </i><br>
<i>&gt; Have you decided what to name it?  Perhaps "microtek2" or "microtekII",</i><br>
<i>&gt;  since it's for the SCSI-2 scanners.</i><br>
<p>
Currently it's called m6, but I think I will rename it to microtek2. If<br>
anybody has better suggestions...<br>
<p>
Before I started to write this backend I considered to modify the sources of <br>
your existing backend for the Microtek scanners. But IMHO the differences<br>
in the command sets and the scanner capabilities are too big to make<br>
one source of it.<br>
<p>
At present I am working on the source code to do some minor changes mainly<br>
concerning the debugging capabilities. I didn't find the time to do anything<br>
yesterday and the day before yesterday, but I hope to get things done<br>
this weekend. I will then post another mail in this mailinglist.<br>
<p>
<i>&gt; If you put anything informative about your backend on-line, I'll add a</i><br>
<i>&gt;  pointer in the web page of the 'old' microtek backend.  I'm sure there</i><br>
<i>&gt;  are plenty of interested users out there.</i><br>
<p>
Ok, if informative things will exist, I will inform you.<br>
<p>
Bernd<br>
<p>
<pre>
-- 
Bernd Schroeder 
Email: <a href="mailto:bernd@aquila.muc.de">mailto:bernd@aquila.muc.de</a>
PGP public key available: <a href="mailto:pgp@aquila.muc.de">mailto:pgp@aquila.muc.de</a> | Subject: send key 
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0101.html">David Mosberger-Tang: "Re: configure --disable-static?"</a>
<li> <b>Previous message:</b> <a href="0099.html">Oliver.Rauch@Wolfsburg.DE: "Re: [umax] Can't use 10-bit scan: "preview cannot handle depth 16""</a>
<li> <b>In reply to:</b> <a href="0082.html">Matto Marjanovic: "Re: Backend for Microtek SCSI-II scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
