<!-- received="Mon May 11 22:42:40 1998 PDT" -->
<!-- sent="Mon, 11 May 1998 22:42:39 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="sane 0.73 pre-test patch" -->
<!-- id="199805120542.WAA23830@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: sane 0.73 pre-test patch</title>
<h1>sane 0.73 pre-test patch</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Mon, 11 May 1998 22:42:39 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#132">[ date ]</a><a href="index.html#132">[ thread ]</a><a href="subject.html#132">[ subject ]</a><a href="author.html#132">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Rogier Wolff: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0163.html">Matto Marjanovic: "Re: sane 0.73 pre-test patch"</a>
<li> <b>Reply:</b> <a href="0163.html">Matto Marjanovic: "Re: sane 0.73 pre-test patch"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A pre-test patch for sane 0.73 is available at:<br>
<p>
  <a href="ftp://ftp.mostang.com/pub/sane/beta/sane-pre0.73.diff.gz">ftp://ftp.mostang.com/pub/sane/beta/sane-pre0.73.diff.gz</a><br>
<p>
It's a patch that's relative to sane-0.72.tar.gz.  This patch should<br>
be considered experimental, so don't yell at me if it doesn't work<br>
perfectly.<br>
<p>
I'm making this patch available so interested folks can test the new<br>
Linux support for specifying SCSI devices.  As mentioned in an earlier<br>
mail, under Linux it is now possible to specify a SCSI device name in<br>
the form of:<br>
<p>
  scsi VENDOR MODEL BUS CHANNEL ID LUN<br>
<p>
Where VENDOR and MODEL are the vendor and model strings as reported in<br>
/proc/scsi/scsi (if the string contains whitespace, enclose the string<br>
in double-quotes).  BUS, CHANNEL, ID and LUN are the scsi bus,<br>
channel, id and logical unit number of the device (as reported in<br>
/proc/scsi/scsi).  To allow any value for a particular field, use an<br>
asterisks (*).  Also, if you leave out the last couple of fields,<br>
things behave as if you had specified asterisks for the left out<br>
fields.<br>
<p>
For example:<br>
<p>
	scsi MUSTEK * * * * *<br>
and<br>
	scsi MUSTEK<br>
<p>
are equivalent and both specify that any scsi device with a vendor of<br>
MUSTEK should be probed.<br>
<p>
As another example, the string:<br>
<p>
	scsi * * 2<br>
<p>
would request that all scsi devices on bus number 2 are probed as<br>
scanners.<br>
<p>
Now the idea is that we change each backend's .conf file so that a new<br>
user should be able to get SANE going without having to touch the<br>
.conf files at all.  To this end, the Mustek .conf file now reads like<br>
this:<br>
<p>
------------------------------------------------------------------<br>
option strip-height 1<br>
<p>
scsi MUSTEK<br>
  option linedistance-fix<br>
  option lineart-fix		# lineart may be faster with this option off.<br>
<p>
scsi SCANNER<br>
  option linedistance-fix<br>
  option lineart-fix		# lineart may be faster with this option off.<br>
<p>
/dev/scanner<br>
  option linedistance-fix<br>
  option lineart-fix		# lineart may be faster with this option off.<br>
------------------------------------------------------------------<br>
<p>
The "scsi MUSTEK" is there to catch all older scanners whereas the<br>
"scsi SCANNER" line is there for newer Mustek scanners that use the<br>
"SCANNER" string as the vendor id.  Note that nothing bad will<br>
(should) happen if another vendor's scanner also identifies itself<br>
with a vendor string of "SCANNER".  This is because the Mustek backend<br>
itself checks to make sure that it's really talking to a Mustek<br>
scanner before proceeding.  The "/dev/scanner" line remains there so<br>
that things will continue to work on platforms that do not support the<br>
new sanei_scsi_find_devices() call (only Linux supports this right<br>
now).<br>
<p>
Oliver has already made the analogous changes to the umax.conf file<br>
and if you send me the necessary changes for the other configuration<br>
files, I'll try to integrate them before releasing sane-0.73.  Also,<br>
if you implement sanei_scsi_find_devcies() for platforms other than<br>
Linux, I'd be glad to integrate such code.<br>
<p>
Happy hacking,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0133.html">Rogier Wolff: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0131.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0163.html">Matto Marjanovic: "Re: sane 0.73 pre-test patch"</a>
<li> <b>Reply:</b> <a href="0163.html">Matto Marjanovic: "Re: sane 0.73 pre-test patch"</a>
<!-- reply="end" -->
</ul>
