<!-- received="Tue May 12 06:43:06 1998 PDT" -->
<!-- sent="Tue, 12 May 1998 07:42:17 -0600" -->
<!-- name="Craig Ruff" -->
<!-- email="cruff@niwot.scd.ucar.edu" -->
<!-- subject="Re: HP Photoscan" -->
<!-- id="" -->
<!-- inreplyto="880be9f.3555fb92@aol.com" -->
<title>sane-devel: Re: HP Photoscan</title>
<h1>Re: HP Photoscan</h1>
<b>Craig Ruff</b> (<a href="mailto:cruff@niwot.scd.ucar.edu"><i>cruff@niwot.scd.ucar.edu</i></a>)<br>
<i>Tue, 12 May 1998 07:42:17 -0600</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#136">[ date ]</a><a href="index.html#136">[ thread ]</a><a href="subject.html#136">[ subject ]</a><a href="author.html#136">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Nils Schuller: "whole system locked"</a>
<li> <b>Previous message:</b> <a href="0135.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, May 10, 1998 at 03:10:06PM -0400, Pkirchg wrote:<br>
<i>&gt; &gt;  It looks like HP only provides a driver for win95, but the device is</i><br>
<i>&gt; &gt;  SCSI-II, and the box says it's twain compliant.</i><br>
<p>
I'm using it successfully on my Adaptec 7880 (aka 2940 UW) motherboard SCSI.<br>
<p>
<i>&gt; I asked HP for information about the scanner, but they told me there</i><br>
<i>&gt; is no information available.</i><br>
<p>
I too, have not gotten any response when I asked the Photo Scanner<br>
contact listed in the PhotoSmart developer's kit.<br>
<p>
<i>&gt; It is quite good. But the quality of the backend which I am just working</i><br>
<i>&gt; on is not as good as the Win95 Software you will get with the scanner</i><br>
<i>&gt; (missing automatic contrast settings, color inversion for negatives,</i><br>
<i>&gt; scanning slides/negatives slower by a factor of 2 at 2400 dpi).</i><br>
<p>
I have a method for correcting for the negative's orange mask and <br>
inverting it to a positive.  It seems to be fairly good, giving<br>
a result that is similar to the Win95 software for the scanner.<br>
Now if we can get automatic frame location, we could automatically<br>
scan a negative strip.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0137.html">Nils Schuller: "whole system locked"</a>
<li> <b>Previous message:</b> <a href="0135.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
