<!-- received="Wed May 13 09:33:44 1998 PDT" -->
<!-- sent="Wed, 13 May 1998 18:19:45 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: Win32 TWAIN DLL to interface with SANE" -->
<!-- id="m0yZeFu-0000XrC@charon.beck-sw.de" -->
<!-- inreplyto="00af01bd7de7$51cda170$2100a8c0@bmacy.ata.strobe.net" -->
<title>sane-devel: Re: Win32 TWAIN DLL to interface with SANE</title>
<h1>Re: Win32 TWAIN DLL to interface with SANE</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 13 May 1998 18:19:45 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#153">[ date ]</a><a href="index.html#153">[ thread ]</a><a href="subject.html#153">[ subject ]</a><a href="author.html#153">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Michael Sweet: "SANE 0.72 now available for IRIX!"</a>
<li> <b>Previous message:</b> <a href="0152.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0161.html">David Mosberger-Tang: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Reply:</b> <a href="0161.html">David Mosberger-Tang: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; Actually, I'm not interested at all in a C API implementation of the DLL (I</i><br>
<i>&gt; don't believe  SANE has been ported to Win32). </i><br>
<p>
Hmm - if someone wants to do this, the CYWIN Library might be a good point <br>
to start out from. <br>
<p>
<i>&gt; I want to write a TWAIN DLL that communicates to saned on my Linux box. </i><br>
<p>
YES - This would be _very_ nice to have. If you have experience in that<br>
field, please do so.<br>
<p>
<i>&gt; As far as I can tell the only way to communicate with saned over a </i><br>
<i>&gt; network is RPC -- If I'm wrong *please* tell me, I'd be happy to be wrong :)</i><br>
<p>
Well - the only one that _has been implemented_.<br>
<p>
saned and the net dll are _examples_ and the "native" protocol of how to <br>
route SANE data through a network.<br>
<p>
It the RPC mechanism causes much trouble on the WIN side, you can always <br>
write something like a winsaned.<br>
<p>
At worst, we'd need a single machine (kind of a proxy) running such a <br>
winsaned on the net that can be asked to connect to any other server <br>
via saned :-).<br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0154.html">Michael Sweet: "SANE 0.72 now available for IRIX!"</a>
<li> <b>Previous message:</b> <a href="0152.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0161.html">David Mosberger-Tang: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<li> <b>Reply:</b> <a href="0161.html">David Mosberger-Tang: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- reply="end" -->
</ul>
