<!-- received="Wed May 13 11:39:43 1998 PDT" -->
<!-- sent="Wed, 13 May 1998 20:39:26 +0200 (CEST)" -->
<!-- name="=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=" -->
<!-- email="mikko@securitydynamics.com" -->
<!-- subject="Re: problems with snapscan and scanimage" -->
<!-- id="" -->
<!-- inreplyto="3559618A.5AAE4B9F@sero.org" -->
<title>sane-devel: Re: problems with snapscan and scanimage</title>
<h1>Re: problems with snapscan and scanimage</h1>
<b>=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=</b> (<a href="mailto:mikko@securitydynamics.com"><i>mikko@securitydynamics.com</i></a>)<br>
<i>Wed, 13 May 1998 20:39:26 +0200 (CEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#155">[ date ]</a><a href="index.html#155">[ thread ]</a><a href="subject.html#155">[ subject ]</a><a href="author.html#155">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0154.html">Michael Sweet: "SANE 0.72 now available for IRIX!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Wed, 13 May 1998, KH Jeron wrote:<br>
<p>
<i>&gt; now my snapscan 310 (sane 0.72) seems to work.</i><br>
<i>&gt; the only problem is, that scanimage just scans the right corner on the bottom of a</i><br>
<i>&gt; piece of paper.</i><br>
<p>
You're right.  I never even considered non-interactive scanning before...<br>
<p>
<i>&gt; the paper size is 21 cm x 29,7 cm but the scanned area is just about 8 cm x  10</i><br>
<i>&gt; cm.</i><br>
<i>&gt; i have no idea why this happens.</i><br>
<p>
But I do :-)  These lines in snapscan.c provide a clue:<br>
<p>
#define DEFAULT_BRX  SANE_FIX(152.0)	/* 6x4 photo size */<br>
#define DEFAULT_BRY  SANE_FIX(101.0)<br>
<p>
It is the default size if none is specified.  "scanimage -h" lists all<br>
device-specific options.  You can (among other things) set the corners<br>
of the scanning area, or try one of the predefined paper sizes, e.g.:<br>
<p>
	scanimage --predef-window 8.5x11<br>
<p>
<p>
	Regards,<br>
	/Mikko<br>
<p>
<p>
 Mikko Tyo"la"ja"rvi________________________________mikko@securitydynamics.com<br>
 SecurityDynamics<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0156.html">charter@cs.ualberta.ca: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0154.html">Michael Sweet: "SANE 0.72 now available for IRIX!"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
