<!-- received="Thu May 14 08:59:41 1998 PDT" -->
<!-- sent="Thu, 14 May 1998 09:00:16 -0700" -->
<!-- name="Jeff Freedman" -->
<!-- email="jsf@hevanet.com" -->
<!-- subject="Using NET backend" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Using NET backend</title>
<h1>Using NET backend</h1>
<b>Jeff Freedman</b> (<a href="mailto:jsf@hevanet.com"><i>jsf@hevanet.com</i></a>)<br>
<i>Thu, 14 May 1998 09:00:16 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#172">[ date ]</a><a href="index.html#172">[ thread ]</a><a href="subject.html#172">[ subject ]</a><a href="author.html#172">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Warren Early: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0171.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Reply:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Reply:</b> <a href="0185.html">Jeff Freedman: "Re: Using NET backend"</a>
<li> <b>Reply:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm trying out the "net" backend of the .72 release with a Microtek E3,<br>
Adaptec 2940, and Redhat Linux 5.0.  It starts to work (in the "Preview"<br>
dialog of xscanimage); but after what seems like one pass, xscanimage<br>
freezes up.  From then on, the scanner is unusable until I reboot.  If I<br>
try "scanimage -L", scanimage just hangs until I kill it.<br>
<p>
Scanimage works fine if I use the Microtek backend directly.  Also, is<br>
there some way to reset the scanner or SCSI card when it locks up like<br>
this?  Cycling the power on the scanner doesn't help.<br>
<p>
Thanks!<br>
<p>
-- Jeff<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0173.html">Warren Early: "Re: problems with snapscan and scanimage"</a>
<li> <b>Previous message:</b> <a href="0171.html">Brian Macy: "Re: Win32 TWAIN DLL to interface with SANE"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Reply:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Reply:</b> <a href="0185.html">Jeff Freedman: "Re: Using NET backend"</a>
<li> <b>Reply:</b> <a href="0247.html">Matto Marjanovic: "Re: Using NET backend"</a>
<!-- reply="end" -->
</ul>
