<!-- received="Fri May 15 11:21:17 1998 PDT" -->
<!-- sent="Fri, 15 May 1998 14:20:23 -0400 (EDT)" -->
<!-- name="Matto Marjanovic" -->
<!-- email="maddog@mir.com" -->
<!-- subject="Re: Unresolved symbol ..." -->
<!-- id="m0yaP5j-000J34C@yoo-hoo.ai.mit.edu" -->
<!-- inreplyto="Unresolved symbol ..." -->
<title>sane-devel: Re: Unresolved symbol ...</title>
<h1>Re: Unresolved symbol ...</h1>
<b>Matto Marjanovic</b> (<a href="mailto:maddog@mir.com"><i>maddog@mir.com</i></a>)<br>
<i>Fri, 15 May 1998 14:20:23 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#182">[ date ]</a><a href="index.html#182">[ thread ]</a><a href="subject.html#182">[ subject ]</a><a href="author.html#182">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0184.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
   Date: Fri, 15 May 1998 18:24:58 +0200<br>
   From: Brian Schau &lt;<a href="mailto:bsc@fleggaard.dk">bsc@fleggaard.dk</a>&gt;<br>
<p>
   I just compiled sane-0.72 + pre-0.73 patch.   Upon starting xscanimage I<br>
   get:<br>
<p>
	   xscanimage: can't resolve symbol 'attach'<br>
<p>
In microtek.c, the function 'attach' should be 'attach_scanner'.<br>
I sent a micro-patch to this list, accompanied by some late-night ravings<br>
 about the scsi config. code.<br>
<p>
-mm<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0183.html">Matto Marjanovic: "Re: Using NET backend"</a>
<li> <b>Previous message:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0181.html">Brian Schau: "Unresolved symbol ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0184.html">Brian Schau: "Re: Unresolved symbol ..."</a>
<!-- reply="end" -->
</ul>
