<!-- received="Tue May 19 13:39:15 1998 PDT" -->
<!-- sent="Tue, 19 May 1998 13:38:22 -0700" -->
<!-- name="Brian Macy" -->
<!-- email="bmacy@sunshinecomputing.com" -->
<!-- subject="Odd SCSI messages...." -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Odd SCSI messages....</title>
<h1>Odd SCSI messages....</h1>
<b>Brian Macy</b> (<a href="mailto:bmacy@sunshinecomputing.com"><i>bmacy@sunshinecomputing.com</i></a>)<br>
<i>Tue, 19 May 1998 13:38:22 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#211">[ date ]</a><a href="index.html#211">[ thread ]</a><a href="subject.html#211">[ subject ]</a><a href="author.html#211">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Michael K. Johnson: "Re: Odd SCSI messages...."</a>
<li> <b>Previous message:</b> <a href="0210.html">Bob van der Poel: "Re: configure for gtk"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0212.html">Michael K. Johnson: "Re: Odd SCSI messages...."</a>
<li> <b>Reply:</b> <a href="0212.html">Michael K. Johnson: "Re: Odd SCSI messages...."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I have a DEC Alpha RedHat Linux 5.0 Box with SANE working on it. I notice I<br>
get odd messages when executing find-scanner. Things like SCSI bus resets<br>
and what not. It works perfectly fine when I scan things but I am wondering<br>
if these SCSI messages are normal.<br>
<p>
Brian Macy<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0212.html">Michael K. Johnson: "Re: Odd SCSI messages...."</a>
<li> <b>Previous message:</b> <a href="0210.html">Bob van der Poel: "Re: configure for gtk"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0212.html">Michael K. Johnson: "Re: Odd SCSI messages...."</a>
<li> <b>Reply:</b> <a href="0212.html">Michael K. Johnson: "Re: Odd SCSI messages...."</a>
<!-- reply="end" -->
</ul>
