<!-- received="Fri May 22 16:04:49 1998 PDT" -->
<!-- sent="Fri, 22 May 1998 19:04:08 +0700" -->
<!-- name="Rob Fargher" -->
<!-- email="fargher@POBoxes.com" -->
<!-- subject="Re: Non Disclosure Agreements" -->
<!-- id="199805222332.TAA14112@emerald.accessv.com" -->
<!-- inreplyto="Non Disclosure Agreements" -->
<title>sane-devel: Re: Non Disclosure Agreements</title>
<h1>Re: Non Disclosure Agreements</h1>
<b>Rob Fargher</b> (<a href="mailto:fargher@POBoxes.com"><i>fargher@POBoxes.com</i></a>)<br>
<i>Fri, 22 May 1998 19:04:08 +0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#232">[ date ]</a><a href="index.html#232">[ thread ]</a><a href="subject.html#232">[ subject ]</a><a href="author.html#232">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0233.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Previous message:</b> <a href="0231.html">becka@rz.uni-duesseldorf.de: "Re: NT frontend"</a>
<li> <b>Maybe in reply to:</b> <a href="0218.html">Dave Restall - System Administrator: "Non Disclosure Agreements"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Thu, 21 May 1998 20:44:49 -0700, David Mosberger-Tang wrote:<br>
<p>
Andy&gt;There are strong arguments on your side:<br>
<p>
Andy&gt;  1. SANE works on far over a dozen different architectures. You<br>
Andy&gt;  can't make binaries for all of them.<br>
<p>
... [edit] ...<br>
<p>
David&gt; 4. All good scanner companies make their protocols available (UMAX,<br>
<i>&gt;   Microtek, HP, ...).  Surely they wouldn't want to be left out of</i><br>
<i>&gt;   the club? ;-)</i><br>
<p>
5.  Given that SANE works on far over a dozen different architectures and that <br>
     all good scanner companies make their protocols available, they are at a <br>
     competitive disadvantage.  Having their hardware supported by SANE<br>
     both "levels the playing field"  and broadens their market.  At no cost to <br>
     them.<br>
<p>
Cheers,<br>
Rob<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0233.html">Brian Macy: "Re: NT frontend"</a>
<li> <b>Previous message:</b> <a href="0231.html">becka@rz.uni-duesseldorf.de: "Re: NT frontend"</a>
<li> <b>Maybe in reply to:</b> <a href="0218.html">Dave Restall - System Administrator: "Non Disclosure Agreements"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
