<!-- received="Mon May 25 09:59:46 1998 PDT" -->
<!-- sent="Mon, 25 May 1998 12:48:25 +0200" -->
<!-- name="Feico Dillema" -->
<!-- email="dillema@acm.org" -->
<!-- subject="RICOH Backend for SANE" -->
<!-- id="199805251048.MAA24737@hyper.huygens.org" -->
<!-- inreplyto="" -->
<title>sane-devel: RICOH Backend for SANE</title>
<h1>RICOH Backend for SANE</h1>
<b>Feico Dillema</b> (<a href="mailto:dillema@acm.org"><i>dillema@acm.org</i></a>)<br>
<i>Mon, 25 May 1998 12:48:25 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#255">[ date ]</a><a href="index.html#255">[ thread ]</a><a href="subject.html#255">[ subject ]</a><a href="author.html#255">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0256.html">David Mosberger-Tang: "Re: RICOH Backend for SANE"</a>
<li> <b>Previous message:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0256.html">David Mosberger-Tang: "Re: RICOH Backend for SANE"</a>
<li> <b>Reply:</b> <a href="0256.html">David Mosberger-Tang: "Re: RICOH Backend for SANE"</a>
<li> <b>Reply:</b> <a href="0268.html">Feico Dillema: "Re: RICOH Backend for SANE"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
This weekend I wrote an preliminary SANE backend for my Ricoh scanner. It<br>
still needs some cleaning up and experimental testing (I couldn't get the <br>
tech-docs without the NDA thing), but it's basically operational. It runs<br>
at least on my NetBSD-i386-1.3.1 machine with sane-0.72.<br>
<p>
I'd like to know if there's any interest out there for support of Ricoh<br>
scanners. My current backend just works with my own scanner, a greyscale<br>
Ricoh RS632 (IS60). I think the Ricoh IS410, FS1 and IS50 are pretty <br>
similar so if somebody likes support for one of those I'd like to hear it<br>
(it is I need a tester for a scanner to support one).<br>
<p>
BTW: Nice work! Thx to the SANE-people...<br>
<p>
Feico Dillema<br>
<p>
  -- Install NetBSD as first step in your MS-ware 12-step recovery program<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0256.html">David Mosberger-Tang: "Re: RICOH Backend for SANE"</a>
<li> <b>Previous message:</b> <a href="0254.html">Oliver.Rauch@Wolfsburg.DE: "Re: new UMAX-Patch available"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0256.html">David Mosberger-Tang: "Re: RICOH Backend for SANE"</a>
<li> <b>Reply:</b> <a href="0256.html">David Mosberger-Tang: "Re: RICOH Backend for SANE"</a>
<li> <b>Reply:</b> <a href="0268.html">Feico Dillema: "Re: RICOH Backend for SANE"</a>
<!-- reply="end" -->
</ul>
