<!-- received="Mon May 25 16:46:08 1998 PDT" -->
<!-- sent="Tue, 26 May 1998 00:35:40 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: sane" -->
<!-- id="m0ye5qH-0000XWC@charon.beck-sw.de" -->
<!-- inreplyto="199805251211.MAA101680@out2.ibm.net" -->
<title>sane-devel: Re: sane</title>
<h1>Re: sane</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Tue, 26 May 1998 00:35:40 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#261">[ date ]</a><a href="index.html#261">[ thread ]</a><a href="subject.html#261">[ subject ]</a><a href="author.html#261">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0260.html">Paul D. Robertson: "Re: [long] Overall usage impressions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt;   I am not sure if you are the correct person to send this to but here </i><br>
<i>&gt; goes.....I have been using sane since the 661 release and love the program.  </i><br>
<i>&gt; Recently, IBM released a new version of the adeptec scsi driver </i><br>
<i>&gt; (aic7870.add) about two weeks old now.  I installed this new driver and </i><br>
<i>&gt; now when I start sane (I use pmsane as the front end), I get a message </i><br>
<i>&gt; that scanimage.exe cannot find any scanners.</i><br>
<p>
Hmm - I neither know much of OS/2, nor of the SCSI adapter/driver in question,<br>
nor of the HP backend. I will forward your mail to the SANE mailing list (see<br>
CC:), to see, if someone is more familiar with the topic.<br>
You might want to join the ML or check the archives in the next time.<br>
<p>
<i>&gt;   If I use find-scanner.exe it reports the proper scanner attached </i><br>
<i>&gt; (HP scanjet IIc).  If after using find-scanner.exe, I still get the </i><br>
<i>&gt; message that it can't find any scanner.</i><br>
<i>&gt;   If I put back the original aic7870.add file, it works again.  </i><br>
<p>
Hmm -looks like a driver problem, then. Is there any significant benefit in<br>
using the "new" driver ?<br>
<p>
<i>&gt; Has anyone else found a problem with it?  Or am I all alone?</i><br>
<p>
<i>&gt;   If you are not the right person to send this to, can you tell me who </i><br>
<i>&gt; to ask?  My system is a home built p200, all scsi (off of an adaptec </i><br>
<i>&gt; 2940 uw card), hp scanjet IIc scanner, 128 meg mem.</i><br>
<i>&gt; </i><br>
<i>&gt; Thank you for your time.</i><br>
<i>&gt; </i><br>
<i>&gt; Regards,</i><br>
<i>&gt; Phil</i><br>
<i>&gt; </i><br>
<i>&gt; Philip Bernstein</i><br>
<i>&gt; <a href="mailto:ppberns@ibm.net">ppberns@ibm.net</a></i><br>
<i>&gt; </i><br>
<i>&gt; OS/2 and Java Because there is Choice</i><br>
<p>
CU,Andy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
========  GGI - The Right Thing To Do : <a href="http://www.ggi-project.org/">http://www.ggi-project.org/</a>   ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0262.html">John Labovitz: "Re: [long] Overall usage impressions"</a>
<li> <b>Previous message:</b> <a href="0260.html">Paul D. Robertson: "Re: [long] Overall usage impressions"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
