<!-- received="Sat May 30 13:30:35 1998 PDT" -->
<!-- sent="Sat, 30 May 1998 23:29:13 +0300" -->
<!-- name="Dominique Pivard" -->
<!-- email="domi@kenavo.fi" -->
<!-- subject="Umax Astra 1220S supported?" -->
<!-- id="199805302030.XAA25055@lohi.clinet.fi" -->
<!-- inreplyto="" -->
<title>sane-devel: Umax Astra 1220S supported?</title>
<h1>Umax Astra 1220S supported?</h1>
<b>Dominique Pivard</b> (<a href="mailto:domi@kenavo.fi"><i>domi@kenavo.fi</i></a>)<br>
<i>Sat, 30 May 1998 23:29:13 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#301">[ date ]</a><a href="index.html#301">[ thread ]</a><a href="subject.html#301">[ subject ]</a><a href="author.html#301">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">Dave Restall - System Administrator: "Yet more Non Disclosure Agreements."</a>
<li> <b>Previous message:</b> <a href="0300.html">Nicholas Chan: "OS/2 Development"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm considering the purchase of a Umax Astra 1220S, which I plan to<br>
connect to my Adaptec 2940 SCSI adapter and use under OS/2.<br>
<p>
In the Umax backend page, the Astra 1200S is listed as supported but there<br>
is no mention of the newer 1220S. Is the 1220S supported by SANE?<br>
<p>
Thanks,<br>
<p>
Dominique<br>
<pre>
-- 
-----------------------------------------------------------
Dominique Pivard &lt;<a href="mailto:domi@kenavo.fi">domi@kenavo.fi</a>&gt;
Helsinki, Finland
-----------------------------------------------------------
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0302.html">Dave Restall - System Administrator: "Yet more Non Disclosure Agreements."</a>
<li> <b>Previous message:</b> <a href="0300.html">Nicholas Chan: "OS/2 Development"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
