<!-- received="Sun May 31 10:20:29 1998 PDT" -->
<!-- sent="Sat, 30 May 1998 21:11:41 GMT" -->
<!-- name="Dave Restall - System Administrator" -->
<!-- email="dave@restall.net" -->
<!-- subject="Yet more Non Disclosure Agreements." -->
<!-- id="199805302111.VAA01937@restallnet.demon.co.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: Yet more Non Disclosure Agreements.</title>
<h1>Yet more Non Disclosure Agreements.</h1>
<b>Dave Restall - System Administrator</b> (<a href="mailto:dave@restall.net"><i>dave@restall.net</i></a>)<br>
<i>Sat, 30 May 1998 21:11:41 GMT</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#302">[ date ]</a><a href="index.html#302">[ thread ]</a><a href="subject.html#302">[ subject ]</a><a href="author.html#302">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0303.html">akiraly@studi.unizh.ch: "sane &amp; umac-astra 610s"</a>
<li> <b>Previous message:</b> <a href="0301.html">Dominique Pivard: "Umax Astra 1220S supported?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0304.html">Hugo van der Kooij: "Re: Yet more Non Disclosure Agreements."</a>
<li> <b>Reply:</b> <a href="0304.html">Hugo van der Kooij: "Re: Yet more Non Disclosure Agreements."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
I've now received a new NDA from PIE and as I'm not well versed in NDA's<br>
I would like a second opinion on it's text, consequently, I'd like to<br>
post a copy of the NDA to the list (it's about 10k long), are there any<br>
major objections to this ?  I have asked the permission of PIE to post<br>
it and they modified it slightly from original when I stressed that I<br>
wanted it to develop a SANE driver and release the drivers under GPL.<br>
<p>
So far, PIE seem to have been very positive, a few quotes :-<br>
<p>
<i>&gt; The aim of this agreement is just to ensure that the document that we will</i><br>
<i>&gt; send to you will not be distributed to anybody else without our consent.</i><br>
<i>&gt; Anybody who wish to have a copy of the same document will have to ask us,</i><br>
<i>&gt; and we will provide it to him after he signs an identical Non Disclosure</i><br>
<i>&gt; Agreement.</i><br>
<i>&gt; </i><br>
<i>&gt; The drivers or other software that you will develop using this</i><br>
<i>&gt; documentation, can be distributed freely.</i><br>
<p>
They would also like information back from me about how other vendors<br>
deal with NDA's and SANE etc.  In response to my previous mail, many<br>
people mentioned HP, Mustek etc.  for this I have two questions :-<br>
<p>
1) Could other people respond with details about how other suppliers<br>
divulge information.<br>
<p>
2) Does anybody have any objections to me quoting some of their mail<br>
back to PIE ?<br>
<p>
Sorry to keep on about this but I think it's important.<br>
<p>
Regards,<br>
<p>
<p>
Dave Restall.<br>
mail/sane/980530.tx                                        sane<br>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
+ Dave Restall              Internet Intranet Resourcing Consultancy Limited +<br>
+ Tel. +44 (0) 1287 653003  Mob. +44 (0) 973 831245 Fax. +44 (0) 1287 653440 +<br>
+ email : <a href="mailto:dave@iirc.net">dave@iirc.net</a>       dave@restall.net     Web : <a href="http://www.iirc.net">http://www.iirc.net</a> +<br>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
+ If you can't see                          o      _     _         _         +<br>
+ the picture --------- __o       __o      /\_   _ \\o  (_)\__/o  (_)        +<br>
+ try a fixed ------- _`\&lt;,_    _`\&lt;,_    _&gt;(_) (_)/&lt;_    \_| \   _|/' \/    +<br>
+ space font  ------ (_)/ (_)  (_)/ (_)  (_)  ROCKS (_)   (_)    (_)'  _\o_  +<br>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0303.html">akiraly@studi.unizh.ch: "sane &amp; umac-astra 610s"</a>
<li> <b>Previous message:</b> <a href="0301.html">Dominique Pivard: "Umax Astra 1220S supported?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0304.html">Hugo van der Kooij: "Re: Yet more Non Disclosure Agreements."</a>
<li> <b>Reply:</b> <a href="0304.html">Hugo van der Kooij: "Re: Yet more Non Disclosure Agreements."</a>
<!-- reply="end" -->
</ul>
