<!-- received="Sun May 31 13:43:33 1998 PDT" -->
<!-- sent="Sun, 31 May 1998 22:46:57 +0200 (MET DST)" -->
<!-- name="Daniel Deckers" -->
<!-- email="fh5y076@public.uni-hamburg.de" -->
<!-- subject="[PATCH] Fix re: Mustek Scan Express 12000SP Problems" -->
<!-- id="199805312042.WAA20426@public.uni-hamburg.de" -->
<!-- inreplyto="Mustek Scan Express 12000SP Problems" -->
<title>sane-devel: [PATCH] Fix re: Mustek Scan Express 12000SP Problems</title>
<h1>[PATCH] Fix re: Mustek Scan Express 12000SP Problems</h1>
<b>Daniel Deckers</b> (<a href="mailto:fh5y076@public.uni-hamburg.de"><i>fh5y076@public.uni-hamburg.de</i></a>)<br>
<i>Sun, 31 May 1998 22:46:57 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#306">[ date ]</a><a href="index.html#306">[ thread ]</a><a href="subject.html#306">[ subject ]</a><a href="author.html#306">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0307.html">Thomas S Dorr: "RE: xscanimage and the gimp"</a>
<li> <b>Previous message:</b> <a href="0305.html">Hugo van der Kooij: "Re: sane &amp; umac-astra 610s"</a>
<li> <b>Maybe in reply to:</b> <a href="0293.html">Ole Gerden: "Mustek Scan Express 12000SP Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Ole Gerden wrote:<br>
<p>
<i>&gt;I have got a Mustek Scanexpress 12000SP and have another problem:</i><br>
<i>&gt;Scanning in gray- and colourmode only works correct in low resolution or</i><br>
<i>&gt;if the scanwidth is reduced. In other modes the result contains</i><br>
<i>&gt;some horizontal stripes in irregular distances. It seems so that the</i><br>
<i>&gt;imagedata in these stripes is shifted to the left or right. In these</i><br>
<i>&gt;memory-hungry modes the scanner also sometimes pauses while scanning</i><br>
<i>&gt;(undependant of strip-height). But I do not know if this normal.</i><br>
<p>
I have been experiencing the same problem with a Mustek MFS-12000SP<br>
(firmware v1.02) and found this was caused by sending the gamma correction<br>
values to the scanner twice. The following patch completely cured this<br>
problem for me (it also removes two superfluous lines of code):<br>
<p>
<i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</i><br>
--- sane-0.73/backend/mustek.c	Sat May 16 08:23:51 1998<br>
+++ sane-0.73/backend/mustek.c	Sun May 31 22:18:00 1998<br>
@@ -2703,18 +2703,11 @@<br>
 <br>
   s-&gt;scanning = SANE_TRUE;<br>
 <br>
-  status = send_gamma_table (s);<br>
-  if (status != SANE_STATUS_GOOD)<br>
-    goto stop_scanner_and_return;<br>
-<br>
   status = start_scan (s);<br>
   if (status != SANE_STATUS_GOOD)<br>
     goto stop_scanner_and_return;<br>
 <br>
   status = send_gamma_table (s);<br>
-  if (status != SANE_STATUS_GOOD)<br>
-    goto stop_scanner_and_return;<br>
-<br>
   if (status != SANE_STATUS_GOOD)<br>
     goto stop_scanner_and_return;<br>
 <br>
<i>&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</i><br>
<p>
NB. The scanner works fine unless "option linedistance-fix" is set; so try<br>
without this option first. Please report back whether this patch works for<br>
your Scanexpress (which firmware version?).<br>
<p>
Could people with other Mustek scanners please check if this patch has any<br>
adverse effects for them?<br>
<p>
Hope this helps (without triggering new problems :-/),<br>
Dan<br>
<p>
<pre>
-- 
<a href="mailto:Daniel_Deckers@public.uni-hamburg.de">Daniel_Deckers@public.uni-hamburg.de</a>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0307.html">Thomas S Dorr: "RE: xscanimage and the gimp"</a>
<li> <b>Previous message:</b> <a href="0305.html">Hugo van der Kooij: "Re: sane &amp; umac-astra 610s"</a>
<li> <b>Maybe in reply to:</b> <a href="0293.html">Ole Gerden: "Mustek Scan Express 12000SP Problems"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
