<!-- received="Thu Mar  5 18:11:47 1998 PST" -->
<!-- sent="Fri, 06 Mar 1998 00:45:16 +0000" -->
<!-- name="NuCLeaR" -->
<!-- email="nuke@vortex.earthport.com" -->
<!-- subject="Sane Gimp OS/2 support" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Sane Gimp OS/2 support</title>
<h1>Sane Gimp OS/2 support</h1>
<b>NuCLeaR</b> (<a href="mailto:nuke@vortex.earthport.com"><i>nuke@vortex.earthport.com</i></a>)<br>
<i>Fri, 06 Mar 1998 00:45:16 +0000</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#19">[ date ]</a><a href="index.html#19">[ thread ]</a><a href="subject.html#19">[ subject ]</a><a href="author.html#19">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">asbesto: "Mustek parallel scanner"</a>
<li> <b>Previous message:</b> <a href="0018.html">Matt Gundry: "Re: Sane rpm installation problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I am not sure how Sane works with the Gimp, but I know that the Gimp has<br>
been released for OS/2 (for testing anyway) so that it may be able to<br>
use Sane. Just letting you know so you can update it if necessary.<br>
<p>
        Brian Smith<br>
        OS/2 and Linux user.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0020.html">asbesto: "Mustek parallel scanner"</a>
<li> <b>Previous message:</b> <a href="0018.html">Matt Gundry: "Re: Sane rpm installation problem"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
