<!-- received="Sat Mar  7 03:58:52 1998 PST" -->
<!-- sent="Sat, 7 Mar 1998 12:58:13 +0100 (CET)" -->
<!-- name="=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=" -->
<!-- email="mikko@dynas.se" -->
<!-- subject="Re: Agfa SnapScan 310?" -->
<!-- id="" -->
<!-- inreplyto="m367lrw01y.fsf@a11b.vp.ton.tut.fi" -->
<title>sane-devel: Re: Agfa SnapScan 310?</title>
<h1>Re: Agfa SnapScan 310?</h1>
<b>=?ISO-8859-1?Q?Mikko_Ty=F6l=E4j=E4rvi?=</b> (<a href="mailto:mikko@dynas.se"><i>mikko@dynas.se</i></a>)<br>
<i>Sat, 7 Mar 1998 12:58:13 +0100 (CET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#39">[ date ]</a><a href="index.html#39">[ thread ]</a><a href="subject.html#39">[ subject ]</a><a href="author.html#39">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Oliver.Rauch@Wolfsburg.DE: "Re: faint vertical stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0038.html">Bjoern Chyba: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On 7 Mar 1998, Samuli Ylinen wrote:<br>
<p>
<i>&gt; Agfa SnapScan is sold quite cheaply here in Finland (for a month). </i><br>
<p>
In Sweden too...<br>
<p>
<i>&gt; What's the situation with it and Sane? The whole SnapScan </i><br>
<i>&gt; driver is beta... And there are some patches for SnapScan 310.</i><br>
<p>
Most of the patches are already applied to the 0.71 release, I think.<br>
<p>
<i>&gt; How is it working now? Does anybody know which SCSI-adapter</i><br>
<i>&gt; comes in SnapScan 310 package?</i><br>
<i>&gt; </i><br>
<p>
It works fairly well.  300x600 doesn't work yet, and there are some<br>
problems running it as a gimp plugin, but someone is likely to fix<br>
that before long (not promising I will be the one to do it, though).<br>
<p>
Assuming Agfa sells the same package in Finland as they do in Sweden,<br>
(highly likely) the SCSI card is an Adaptec 1505 Plug-and-Play (the<br>
chip was labelled AIC 6365, I think - but I'm not about to open the<br>
machine right now).  Anyway, disabling plug-and-pray using the<br>
configuration program on one of the CDs made it work with FreeBSD at<br>
least.  My guess is it will work with anything having an aic driver,<br>
or claiming to support the Adaptec 1505.<br>
<p>
	Regards,<br>
	/Mikko<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0040.html">Oliver.Rauch@Wolfsburg.DE: "Re: faint vertical stripes while scanning"</a>
<li> <b>Previous message:</b> <a href="0038.html">Bjoern Chyba: "(no subject)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
