<!-- received="Tue Mar 17 08:50:42 1998 PST" -->
<!-- sent="Tue, 17 Mar 1998 11:50:04 -0500" -->
<!-- name="Christoph Doerbeck" -->
<!-- email="doerbeck@dma.isg.mot.com" -->
<!-- subject="Comments on my presentation outline" -->
<!-- id="199803171650.LAA07187@prospero.dma.isg.mot.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Comments on my presentation outline</title>
<h1>Comments on my presentation outline</h1>
<b>Christoph Doerbeck</b> (<a href="mailto:doerbeck@dma.isg.mot.com"><i>doerbeck@dma.isg.mot.com</i></a>)<br>
<i>Tue, 17 Mar 1998 11:50:04 -0500</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#113">[ date ]</a><a href="index.html#113">[ thread ]</a><a href="subject.html#113">[ subject ]</a><a href="author.html#113">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Previous message:</b> <a href="0112.html">theo borm: "Re: MicroTek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On march 18th, I'll be taking my newly acquired skills of scanning<br>
with SANE to new heights when I present a demo at the Boston area<br>
linux users group meeting.  I have a rough document which outlines<br>
my talk, and I would like for the SANE community to glance it over<br>
and make any suggestions/corrections.<br>
<p>
I'm no expect in this field, so please read with that in mind...<br>
<p>
www.ici.net/cust_pages/linuxguy<br>
<p>
Thanks in advance for any tips...<br>
<p>
<p>
- Christoph<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0114.html">Leigh Orf: "Re: memory leak: Microtek E6 / aha152x / RH 5.0"</a>
<li> <b>Previous message:</b> <a href="0112.html">theo borm: "Re: MicroTek scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
