<!-- received="Wed Mar 18 10:38:33 1998 PST" -->
<!-- sent="Wed, 18 Mar 1998 10:38:32 -0800" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@mostang.com" -->
<!-- subject="Re: An offical SANE FAQ" -->
<!-- id="199803181838.KAA21627@panda.mostang.com" -->
<!-- inreplyto="An offical SANE FAQ" -->
<title>sane-devel: Re: An offical SANE FAQ</title>
<h1>Re: An offical SANE FAQ</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@mostang.com"><i>davidm@mostang.com</i></a>)<br>
<i>Wed, 18 Mar 1998 10:38:32 -0800</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#122">[ date ]</a><a href="index.html#122">[ thread ]</a><a href="subject.html#122">[ subject ]</a><a href="author.html#122">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">-==-: "Microtek Scanmaker E3"</a>
<li> <b>Previous message:</b> <a href="0121.html">Christoph Doerbeck: "An offical SANE FAQ"</a>
<li> <b>Maybe in reply to:</b> <a href="0121.html">Christoph Doerbeck: "An offical SANE FAQ"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
A FAQ on SANE and scanners in general would be great.<br>
<p>
On a related topic: the Linux Journal article on the SANE web site is<br>
so popular that I need to start thinking about finding mirror sites<br>
for the SANE web site.  If anyone is running a mirror or would like to<br>
run one, please let me know.<br>
<p>
Thanks,<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0123.html">-==-: "Microtek Scanmaker E3"</a>
<li> <b>Previous message:</b> <a href="0121.html">Christoph Doerbeck: "An offical SANE FAQ"</a>
<li> <b>Maybe in reply to:</b> <a href="0121.html">Christoph Doerbeck: "An offical SANE FAQ"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
