<!-- received="Sat Mar 28 04:32:12 1998 PST" -->
<!-- sent="Sat, 28 Mar 1998 13:31:24 +0100 (MET)" -->
<!-- name="Hugo van der Kooij" -->
<!-- email="hvdkooij@caiw.nl" -->
<!-- subject="Road ahead?" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Road ahead?</title>
<h1>Road ahead?</h1>
<b>Hugo van der Kooij</b> (<a href="mailto:hvdkooij@caiw.nl"><i>hvdkooij@caiw.nl</i></a>)<br>
<i>Sat, 28 Mar 1998 13:31:24 +0100 (MET)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#193">[ date ]</a><a href="index.html#193">[ thread ]</a><a href="subject.html#193">[ subject ]</a><a href="author.html#193">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0194.html">Hugo van der Kooij: "Re: When will SANE we gtk+-0.99.8 compliant?"</a>
<li> <b>Previous message:</b> <a href="0192.html">Arnoud de Geus: "When will SANE we gtk+-0.99.8 compliant?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
So what is planned for SANE in the short future?<br>
<p>
As SANE is somewhat related to GIMP and GTK I would suggest that, unless<br>
we feel that SANE is having (serious) bugs, that we should bring the lot<br>
to version 1.0 and adopt the linux kernel like version numbers.<br>
<p>
So 1.0 would be the official one. bugfixes will result in 1.0.1, 1.0.2 and<br>
so on and development will be done with version 1.1.x numbers.<br>
<p>
Any thoughts on this proposal? <br>
<p>
Hugo.<br>
<p>
	+------------------------+------------------------------+<br>
<i>	| Hugo van der Kooij     | <a href="mailto:Hugo.van.der.Kooij@caiw.nl">Hugo.van.der.Kooij@caiw.nl</a>   |</i><br>
<i>	| Oranje Nassaustraat 16 | <a href="http://www.caiw.nl/~hvdkooij">http://www.caiw.nl/~hvdkooij</a> |</i><br>
<i>	| 3155 VJ  Maasland      | (De man met de rode hoed)    |</i><br>
	+------------------------+------------------------------+<br>
    "Computers let you make more mistakes faster than any other invention in <br>
      human history, with the possible exception of handguns and tequila."<br>
		(Mitch Radcliffe)<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0194.html">Hugo van der Kooij: "Re: When will SANE we gtk+-0.99.8 compliant?"</a>
<li> <b>Previous message:</b> <a href="0192.html">Arnoud de Geus: "When will SANE we gtk+-0.99.8 compliant?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
