<!-- received="Tue Mar 31 10:27:37 1998 PST" -->
<!-- sent="Tue, 31 Mar 1998 18:23:43 +0200" -->
<!-- name="zerbst@tu-harburg.de" -->
<!-- email="zerbst@tu-harburg.de" -->
<!-- subject="Microtek 35t +" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek 35t +</title>
<h1>Microtek 35t +</h1>
<a href="mailto:zerbst@tu-harburg.de"><i>zerbst@tu-harburg.de</i></a><br>
<i>Tue, 31 Mar 1998 18:23:43 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#220">[ date ]</a><a href="index.html#220">[ thread ]</a><a href="subject.html#220">[ subject ]</a><a href="author.html#220">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Gordon Matzigkeit: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0219.html">Gordon Matzigkeit: "Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello,<br>
<p>
I just tried the Microtek Scanmaker 35t +, using scanimage version 0.69<br>
with the Microtek backend. Unfortunately the test was unsucsessfully,<br>
bouncing me back to Win3.1.<br>
<p>
The error messages are:<br>
<p>
[sanei_init_debug]: Setting debug level of microtek to 128.<br>
[microtek] sane_init:  MICROTEK says hello! (v0.4)<br>
[microtek] sane_init:  config- #Uncomment the following if you are tired<br>
of seei<br>
ng the dump of the<br>
[microtek] sane_init:  config- # scanner INQUIRY every time the backend<br>
starts u<br>
p...<br>
[microtek] sane_init:  config- #nodump<br>
[microtek] sane_init:  config- /dev/sgc[microtek] attach_scanner: <br>
/dev/sgc<br>
[microtek] attach_scanner:  opening /dev/sgc<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] attach_scanner:  device doesn't look like a Microtek<br>
scanner.[microte<br>
k] dump_suspect_inquiry...<br>
========== Scanner Inquiry Block ==========<br>
06 31 19 01 5b 00 00 00 4d 49 43 52 4f 54 45 4b <br>
53 63 61 6e 4d 61 6b 65 72 20 33 35 74 2b 20 20 <br>
31 2e 35 30 53 43 53 49 20 46 2f 57 56 33 2e 34 <br>
20 43 54 4c 35 33 38 30 03 ef 8c c2 80 ec 62 23 <br>
01 03 23 01 00 83 00 01 0e 0e 01 05 00 00 00 00 <br>
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ff <br>
<p>
========== Scanner Inquiry Report ==========<br>
===== Scanner ID...<br>
Device Type Code: 0x06<br>
Model Code: 0x62<br>
Vendor Name: 'MICROTEK'   Model Name: 'ScanMaker 35t+  '<br>
Firmware Rev: '1.50'<br>
SCSI F/W version: 3.1     Scanner F/W version: 1.9<br>
Response data format: 0x01<br>
<p>
[microtek] sane_open<br>
[microtek] attach_scanner:  /dev/sgc<br>
[microtek] attach_scanner:  opening /dev/sgc<br>
[microtek] attach_scanner:  sending INQUIRY<br>
[microtek] id_microtek...<br>
[microtek] attach_scanner:  device doesn't look like a Microtek<br>
scanner.[microte<br>
k] dump_suspect_inquiry...<br>
<p>
.<br>
.<br>
.<br>
<p>
scanimage: open of device microtek:/dev/sgc failed: Invalid argument<br>
[microtek] sane_exit...<br>
[microtek] sane_exit:  MICROTEK says goodbye.<br>
<p>
Is someone planing to support the above scanner? Could I help in any<br>
way?<br>
<p>
Bye, Carsten<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0221.html">Gordon Matzigkeit: "Re: Patch to 0.71 spec file"</a>
<li> <b>Previous message:</b> <a href="0219.html">Gordon Matzigkeit: "Patch to 0.71 spec file"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
