<!-- received="Tue Mar 18 20:22:52 1997 MST" -->
<!-- sent="Tue, 18 Mar 1997 21:09:45 -0600 (CST)" -->
<!-- name="Nem W Schlecht" -->
<!-- email="nem@abattoir.cc.ndsu.nodak.edu" -->
<!-- subject="Microtek Sane Backend" -->
<!-- id="199703190309.VAA02119@abattoir.cc.ndsu.nodak.edu" -->
<!-- inreplyto="" -->
<title>sane-devel: Microtek Sane Backend</title>
<h1>Microtek Sane Backend</h1>
<b>Nem W Schlecht</b> (<a href="mailto:nem@abattoir.cc.ndsu.nodak.edu"><i>nem@abattoir.cc.ndsu.nodak.edu</i></a>)<br>
<i>Tue, 18 Mar 1997 21:09:45 -0600 (CST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#17">[ date ]</a><a href="index.html#17">[ thread ]</a><a href="subject.html#17">[ subject ]</a><a href="author.html#17">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">David Mosberger-Tang: "Re: Microtek Sane Backend"</a>
<li> <b>Previous message:</b> <a href="0016.html">David Mosberger-Tang: "Re: QuickCam drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0018.html">David Mosberger-Tang: "Re: Microtek Sane Backend"</a>
<li> <b>Maybe reply:</b> <a href="0018.html">David Mosberger-Tang: "Re: Microtek Sane Backend"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
  Just to let everybody on the list know.. I've gotten Jan S.'s mtekscan<br>
command line program working and will soon start working on a SANE backend.<br>
I've already started and am half done with a port of the scsi stuff to my<br>
machine.  One problem, though.  It appears that the Linux stuff is pretty<br>
low-level.  My stuff is actually pretty similar, but with one major<br>
difference.  There is a structure that is used for SCSI communications, but<br>
it requires setting either a READ or WRITE flag.  I'm debating whether I<br>
will be able to just simply say that all 0x1b commands (or whatever) are<br>
WRITEs and whatnot, which would mean that there is no change in having to<br>
call the sanei_scsi_cmd(), or require an addition argument, namely a flag,<br>
which would require a change to the API.<br>
  I would prefer the API change, and then just have the Linux SCSI module<br>
ignore the flag, but this presents a problem to the Linux programmers, in<br>
that they wouldn't know whether to use a READ or a WRITE - I'm not even<br>
sure in some cases, I just kinda guessed. :-(<br>
  Any comments?<br>
<p>
<pre>
-- 
Nem W Schlecht                  <a href="mailto:nem@plains.nodak.edu">nem@plains.nodak.edu</a>
NDUS UNIX SysAdmin         <a href="http://www.nodak.edu/~nem">http://www.nodak.edu/~nem</a>
"Perl did the magic.  I just waved the wand."
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0018.html">David Mosberger-Tang: "Re: Microtek Sane Backend"</a>
<li> <b>Previous message:</b> <a href="0016.html">David Mosberger-Tang: "Re: QuickCam drivers"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0018.html">David Mosberger-Tang: "Re: Microtek Sane Backend"</a>
<li> <b>Maybe reply:</b> <a href="0018.html">David Mosberger-Tang: "Re: Microtek Sane Backend"</a>
<!-- reply="end" -->
</ul>
