<!-- received="Wed Apr  2 13:08:53 1997 MST" -->
<!-- sent="02 Apr 1997 12:03:59 -0700" -->
<!-- name="Gordon Matzigkeit" -->
<!-- email="gord@m-tech.ab.ca" -->
<!-- subject="0.50: xscan parameters label problems" -->
<!-- id="199704021429.HAA18195@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: 0.50: xscan parameters label problems</title>
<h1>0.50: xscan parameters label problems</h1>
<b>Gordon Matzigkeit</b> (<a href="mailto:gord@m-tech.ab.ca"><i>gord@m-tech.ab.ca</i></a>)<br>
<i>02 Apr 1997 12:03:59 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#41">[ date ]</a><a href="index.html#41">[ thread ]</a><a href="subject.html#41">[ subject ]</a><a href="author.html#41">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">David Mosberger-Tang: "Re: 0.50: xscan parameters label problems"</a>
<li> <b>Previous message:</b> <a href="0040.html">David Mosberger-Tang: "Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?="</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">David Mosberger-Tang: "Re: 0.50: xscan parameters label problems"</a>
<li> <b>Maybe reply:</b> <a href="0042.html">David Mosberger-Tang: "Re: 0.50: xscan parameters label problems"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
When I set my PINT scanner to scan really big, high resolution<br>
pictures, xscan doesn't like me.<br>
<p>
Here is the standard output:<br>
<p>
new params: 746x1296: 22.1 MB<br>
new params: 1007x1750: 40.3 MB<br>
new params: 1537x2670: 93.9 MB<br>
new params: 2066x3589: 169.7 MB<br>
new params: 2595x4509: -148676209.-6 B<br>
new params: 3125x5429: -22321729.-6 B<br>
<p>
As you see, the parameters overflow.<br>
<p>
Also, the ``new params'' aren't displayed when I change the scanning<br>
mode from color to grayscale and vice versa.  I have to change some<br>
other attribute to get them redisplayed.<br>
<p>
And finally, xscan displays nothing in the window when the params<br>
exceed 19 chars (or whatever the size of "x: . MB" plus 11 digits is),<br>
e.g. when ``new params'' shows that the output file is greater than<br>
100 MB in size.<br>
<p>
Thanks,<br>
<p>
<pre>
-- 
  Gord Matzigkeit   | Proudly running pieces of the GNU operating system.
 gord@m-tech.ab.ca  |  Jacques Cousteau loved programming in assembler.
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0042.html">David Mosberger-Tang: "Re: 0.50: xscan parameters label problems"</a>
<li> <b>Previous message:</b> <a href="0040.html">David Mosberger-Tang: "Re: =?iso-8859-1?Q?MUSTEK=3A_color_scanning_still_doesn=B4t_work?="</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0042.html">David Mosberger-Tang: "Re: 0.50: xscan parameters label problems"</a>
<li> <b>Maybe reply:</b> <a href="0042.html">David Mosberger-Tang: "Re: 0.50: xscan parameters label problems"</a>
<!-- reply="end" -->
</ul>
