<!-- received="Fri May  2 17:53:21 1997 MST" -->
<!-- sent="Fri, 2 May 1997 20:45:48 -0400 (EDT)" -->
<!-- name="John Kodis" -->
<!-- email="kodis@kodis.jagunet.com" -->
<!-- subject="Kodak ds-20 camera interface" -->
<!-- id="199705030045.UAA06482@kodis.jagunet.com" -->
<!-- inreplyto="199705030017.RAA27260@web.azstarnet.com" -->
<title>sane-devel: Kodak ds-20 camera interface</title>
<h1>Kodak ds-20 camera interface</h1>
<b>John Kodis</b> (<a href="mailto:kodis@kodis.jagunet.com"><i>kodis@kodis.jagunet.com</i></a>)<br>
<i>Fri, 2 May 1997 20:45:48 -0400 (EDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#96">[ date ]</a><a href="index.html#96">[ thread ]</a><a href="subject.html#96">[ subject ]</a><a href="author.html#96">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Andy Thaller: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<li> <b>Previous message:</b> <a href="0095.html">David  Mosberger: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<li> <b>In reply to:</b> <a href="0095.html">David  Mosberger: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">David Mosberger-Tang: "Re: Kodak ds-20 camera interface"</a>
<li> <b>Reply:</b> <a href="0102.html">David Mosberger-Tang: "Re: Kodak ds-20 camera interface"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm considering the purchase of a Kodak ds-20 digital camera, and was<br>
wondering if anyone had explored the possibility of developing a SANE<br>
interface for one of these devices.<br>
<p>
<i>&gt;From my preliminary investigation, I've learned that this camera</i><br>
interfaces through a standard serial port, and that there are binary<br>
object libraries available for Wintel, Mac and Mac PPC platforms.<br>
I've been unable to turn up any source code or description of the<br>
serial protocol used.<br>
<p>
Developing a SANE interface seems like it could be an interesting<br>
project.  I wondered if anyone else had explored this possibility<br>
further, and if so, what was discovered.<br>
<p>
-- John Kodis, SANE developer-wannabe.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0097.html">Andy Thaller: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<li> <b>Previous message:</b> <a href="0095.html">David  Mosberger: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<li> <b>In reply to:</b> <a href="0095.html">David  Mosberger: "Re: MFS-6000CX (id MSF-06000CZ) and Future Domain"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0102.html">David Mosberger-Tang: "Re: Kodak ds-20 camera interface"</a>
<li> <b>Reply:</b> <a href="0102.html">David Mosberger-Tang: "Re: Kodak ds-20 camera interface"</a>
<!-- reply="end" -->
</ul>
