<!-- received="Sat May  3 18:02:18 1997 MST" -->
<!-- sent="Sat, 3 May 1997 20:01:11 -0400" -->
<!-- name="John Kodis" -->
<!-- email="kodis@jagunet.com" -->
<!-- subject="Re: Kodak ds-20 camera interface" -->
<!-- id="199705032257.PAA31162@panda.mosberger" -->
<!-- inreplyto="199705032257.PAA31162@panda.mosberger" -->
<title>sane-devel: Re: Kodak ds-20 camera interface</title>
<h1>Re: Kodak ds-20 camera interface</h1>
<b>John Kodis</b> (<a href="mailto:kodis@jagunet.com"><i>kodis@jagunet.com</i></a>)<br>
<i>Sat, 3 May 1997 20:01:11 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#103">[ date ]</a><a href="index.html#103">[ thread ]</a><a href="subject.html#103">[ subject ]</a><a href="author.html#103">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Andreas Kabel: "MFC-08000CZ"</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "Re: Kodak ds-20 camera interface"</a>
<li> <b>In reply to:</b> <a href="0104.html">Andreas Kabel: "MFC-08000CZ"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, May 03, 1997 at 03:57:21PM -0700, David Mosberger-Tang wrote:<br>
<p>
<i>&gt; Have you tried contacting Kodak?  I'd hope they wouldn't mind making</i><br>
<i>&gt; the protocol specs available.  If you do contact them, be sure to</i><br>
<i>&gt; explain how making the specs available could (positively) affect their</i><br>
<i>&gt; sales.  In my experience, companies are more willing to make docs</i><br>
<i>&gt; available once they understand what you're up to.</i><br>
<p>
I've hit their web page, and signed up for their developer's program.<br>
They provide object libraries to access the camera from Wintel, Mac,<br>
and Mac PPC platforms but offer scant little documentation save for<br>
instructions on using these libraries.<br>
<p>
The most worrisome sign I've noted are referrences to the proprietary<br>
image compression format used by the dc-20.  My guess is that when<br>
they say propriety they mean that the source code and algorithms are<br>
not going to be generally available.<br>
<p>
I'd expect that I could reverse-engineer the serial protocol used to<br>
transfer the imagery out of the camera, but if they're transferring<br>
compressed data using some non-standard compression method comparable<br>
in complexity to the JPEG compression used by most other cameras, I'm<br>
afraid that the conversion of the compressed data stream into a usable<br>
raster image is likely to be more difficult a task than I'm prepared<br>
to tackle.<br>
<p>
<p>
<i>&gt; Yes, digital cameras are starting to become an interesting alternative</i><br>
<i>&gt; to film cameras and it would be great to have support for them in</i><br>
<i>&gt; SANE.</i><br>
<p>
They're cheap, convienent, and offer adequate resolution for many<br>
tasks.  If the need for a Wintel platform in order to get at the data<br>
could be eliminated, they'd be even better.<br>
<p>
-- John Kodis.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0104.html">Andreas Kabel: "MFC-08000CZ"</a>
<li> <b>Previous message:</b> <a href="0102.html">David Mosberger-Tang: "Re: Kodak ds-20 camera interface"</a>
<li> <b>In reply to:</b> <a href="0104.html">Andreas Kabel: "MFC-08000CZ"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
