<!-- received="Tue May  6 20:10:42 1997 MST" -->
<!-- sent="Tue, 6 May 1997 19:56:01 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="[patch] small but important fix for MFC-8000CZ" -->
<!-- id="199705070256.TAA22648@panda.mosberger" -->
<!-- inreplyto="" -->
<title>sane-devel: [patch] small but important fix for MFC-8000CZ</title>
<h1>[patch] small but important fix for MFC-8000CZ</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 6 May 1997 19:56:01 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#116">[ date ]</a><a href="index.html#116">[ thread ]</a><a href="subject.html#116">[ subject ]</a><a href="author.html#116">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek Paragon CD II"</a>
<li> <b>Previous message:</b> <a href="0115.html">David Mosberger-Tang: "Re: Mustek Paragon CD II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Here is a small fix for the MFC-08000CZ scanners.  It's rather<br>
important since the old code may cause permanent damage to the<br>
scanner.<br>
<p>
	--david<br>
<p>
--- ./mustek.c-old	Tue Apr 22 18:42:51 1997<br>
+++ ./mustek.c	Mon May  5 11:55:43 1997<br>
@@ -289,20 +297,20 @@<br>
     }<br>
   else if (strncmp (model_name, "MSF-06000SP", 11) == 0)<br>
     {<br>
-      dev-&gt;x_range.max = SANE_FIX (220);	/* measured */<br>
-      dev-&gt;y_range.max = SANE_FIX (360);	/* measured */<br>
+      dev-&gt;x_range.max = SANE_FIX (220);		/* measured */<br>
+      dev-&gt;y_range.max = SANE_FIX (360);		/* measured */<br>
       dev-&gt;dpi_range.max = SANE_FIX (600);<br>
     }<br>
   else if (strncmp (model_name, "MFC-08000CZ", 11) == 0)<br>
     {<br>
-      dev-&gt;x_range.max = SANE_FIX (8.5 * MM_PER_INCH);  /* is this correct? */<br>
-      dev-&gt;y_range.max = SANE_FIX (14.0 * MM_PER_INCH); /* is this correct? */<br>
+      dev-&gt;x_range.max = SANE_FIX (220.0);		/* measured */<br>
+      dev-&gt;y_range.max = SANE_FIX (300.0);		/* measured */<br>
       dev-&gt;dpi_range.max = SANE_FIX (800);<br>
     }<br>
   else if (strncmp (model_name, "MFC-06000CZ", 11) == 0)<br>
     {<br>
-      dev-&gt;x_range.max = SANE_FIX (220.0);	/* measured */<br>
-      dev-&gt;y_range.max = SANE_FIX (300.0);	/* measured */<br>
+      dev-&gt;x_range.max = SANE_FIX (220.0);		/* measured */<br>
+      dev-&gt;y_range.max = SANE_FIX (300.0);		/* measured */<br>
       dev-&gt;dpi_range.max = SANE_FIX (600);<br>
     }<br>
   /* No documentation for these, but they do exist.  Duh... */<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0117.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek Paragon CD II"</a>
<li> <b>Previous message:</b> <a href="0115.html">David Mosberger-Tang: "Re: Mustek Paragon CD II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
