<!-- received="Wed May  7 02:37:22 1997 MST" -->
<!-- sent="Wed, 7 May 1997 11:25:10 +0200 (MET DST)" -->
<!-- name="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- email="becka@sunserver1.rz.uni-duesseldorf.de" -->
<!-- subject="Re: Mustek Paragon CD II" -->
<!-- id="199705070925.LAA07785@sunserver1.rz.uni-duesseldorf.de" -->
<!-- inreplyto="199705070238.TAA22579@panda.mosberger" -->
<title>sane-devel: Re: Mustek Paragon CD II</title>
<h1>Re: Mustek Paragon CD II</h1>
<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de"><i>becka@sunserver1.rz.uni-duesseldorf.de</i></a><br>
<i>Wed, 7 May 1997 11:25:10 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#117">[ date ]</a><a href="index.html#117">[ thread ]</a><a href="subject.html#117">[ subject ]</a><a href="author.html#117">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Michael K. Johnson: "Re: Mustek Paragon CD II"</a>
<li> <b>Previous message:</b> <a href="0116.html">David Mosberger-Tang: "[patch] small but important fix for MFC-8000CZ"</a>
<li> <b>In reply to:</b> <a href="0115.html">David Mosberger-Tang: "Re: Mustek Paragon CD II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;   Sven&gt; So far... Has anyone of you heard of similar experiences? Do</i><br>
<i>&gt;   Sven&gt; you know someone who uses this model with Linux? Any ideas how</i><br>
<i>&gt;   Sven&gt; to solve this?</i><br>
<i>&gt; There was one other report: that scanner got damaged because the scan</i><br>
<i>&gt; area length was wrong.  What is the SCSI id string you get for your</i><br>
<i>&gt; scanner?  If it is MFC-08000CZ, then this might explain the problem.</i><br>
I had a similar problem, too. My MFS-12000SP was once configured to have a<br>
_slightly_ too large scanning area which caused a nasty sound when it<br>
hit the bottom of the scanning area. Fortunately the mechanics were not<br>
damaged, but readjusted themselves correctly, after I had turned the<br>
scanner off and on again.<br>
<p>
We should probably place a "big fat warning" somewhere to tell people<br>
to try with small scan areas first.<br>
<p>
<i>&gt; How did the scanner go "crazy"?  Did it start scaning normally and</i><br>
<i>&gt; then when it hit the end of the scan surface it got very noisy?  If</i><br>
<i>&gt; so, that would explain a lot.</i><br>
I will try to check, as I probably know the "victim".<br>
(Sven: It was Rio, right ?)<br>
<p>
<i>&gt; In any case, I'm sorry to hear that the mustek backend fried your</i><br>
<i>&gt; scanner.  I hope it's still under warranty and that you'll get a</i><br>
<i>&gt; replacement quickly.  Before wasting another scanner, could you send</i><br>
<i>&gt; me the following info:</i><br>
<i>&gt; </i><br>
<i>&gt; 	- SCSI id string you get at boot up (something like MFC-08000CZ)</i><br>
Only "Scanner", if my guess above is right. This seems to be the new<br>
firmware &gt;2.0 . I suppose they have done this to make OEMing easier ...<br>
<p>
I have had another complaint about these scanner types not working<br>
correctly, but this seemed to be rather a problem of the adaptor.<br>
<p>
I will report about that, when I hear more from it.<br>
<p>
CU,ANdy<br>
<p>
P.S.: Could you tell your Mustek contact, that it would be a good idea to<br>
      spend an extra $2 for a hardware switch which prevents the carrier<br>
      from hitting into the bottom ?<br>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:becka@sunserver1.rz.uni-duesseldorf.de">becka@sunserver1.rz.uni-duesseldorf.de</a>&gt;
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0118.html">Michael K. Johnson: "Re: Mustek Paragon CD II"</a>
<li> <b>Previous message:</b> <a href="0116.html">David Mosberger-Tang: "[patch] small but important fix for MFC-8000CZ"</a>
<li> <b>In reply to:</b> <a href="0115.html">David Mosberger-Tang: "Re: Mustek Paragon CD II"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
