<!-- received="Tue May 13 07:43:04 1997 MST" -->
<!-- sent="Tue, 13 May 1997 07:28:47 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="davidm@azstarnet.com" -->
<!-- subject="Re: no mustek device - MFS6000SP" -->
<!-- id="199705131428.HAA10523@panda.mosberger" -->
<!-- inreplyto="9705131401.AA18490@appl2.hrz.uni-siegen.de" -->
<title>sane-devel: Re: no mustek device - MFS6000SP</title>
<h1>Re: no mustek device - MFS6000SP</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:davidm@azstarnet.com"><i>davidm@azstarnet.com</i></a>)<br>
<i>Tue, 13 May 1997 07:28:47 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#144">[ date ]</a><a href="index.html#144">[ thread ]</a><a href="subject.html#144">[ subject ]</a><a href="author.html#144">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Matthias Lautner: "Re: sane-0.57 available"</a>
<li> <b>Previous message:</b> <a href="0143.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek Scanner distorted image lines"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 13 May 1997 07:11:13 -0700, Andreas Gaumann &lt;<a href="mailto:gg261@appl2.hrz.uni-siegen.de">gg261@appl2.hrz.uni-siegen.de</a>&gt; said:</i><br>
<p>
  Andreas&gt; Hello, since a view days I try to use sane-0.56 on a Mustek<br>
  Andreas&gt; MFS-06000SP. (The SCSI-Controller is an ASUS SC200<br>
  Andreas&gt; (NCR53c810)). But scanimage says that there is only the<br>
  Andreas&gt; pnm-device. The mustek-device is not found.  In the file<br>
<p>
Does your system have a symlink from /usr/include/scsi to<br>
/usr/src/kernel/include/scsi?  If not, that would explain the problem.<br>
Either create the symlink, or apply the sane-0.56-0.57.diff.gz patch,<br>
then do "make distclean" and rebuild SANE.<br>
<p>
	--david<br>
<p>
PS: The 0x7f characters in the inquiry result are normal for Mustek<br>
    scanners.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.azstarnet.com/~axplinux/sane/">http://www.azstarnet.com/~axplinux/sane/</a>
To unsubscribe: mail -s unsubscribe <a href="mailto:sane-devel-request@listserv.azstarnet.com">sane-devel-request@listserv.azstarnet.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0145.html">Matthias Lautner: "Re: sane-0.57 available"</a>
<li> <b>Previous message:</b> <a href="0143.html">becka@sunserver1.rz.uni-duesseldorf.de: "Re: Mustek Scanner distorted image lines"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
