<!-- received="Thu Jul  2 19:12:05 1998 PDT" -->
<!-- sent="Fri, 3 Jul 1998 00:10:47 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="STOP asking me for Win drivers !" -->
<!-- id="m0yrrZ1-0000ZdC@charon.beck-sw.de" -->
<!-- inreplyto="" -->
<title>sane-devel: STOP asking me for Win drivers !</title>
<h1>STOP asking me for Win drivers !</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Fri, 3 Jul 1998 00:10:47 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#8">[ date ]</a><a href="index.html#8">[ thread ]</a><a href="subject.html#8">[ subject ]</a><a href="author.html#8">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Michael Land Morgan: "Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0007.html">Oliver Neukum: "Re: which driver ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Rogier Wolff: "Re: STOP asking me for Win drivers !"</a>
<li> <b>Reply:</b> <a href="0069.html">Rogier Wolff: "Re: STOP asking me for Win drivers !"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Disclaimer: Sorry for bloating the list with that.<br>
<p>
I am actually quite sure that it won't help anything, but it is getting on <br>
my nerves.<br>
<p>
I don't know, if I am the only one, but I receive around 3 Mails a week<br>
asking me to send someone Win95 driver disks for some weird hardware.<br>
<p>
SCSI cards, Scanners, Printers, ... whatever.<br>
<p>
And those that react to my "sorry, can't - never seen such a beast and don't<br>
work with win" replies tell me they snatched my address here.<br>
<p>
So let's hope this helps.<br>
<p>
<p>
However some of those mails originate from strange anonymous mail accounts,<br>
though the sender claims to be part of some organization that should have<br>
its own Emailing system. So I am getting the impression, that there are<br>
a few sneaky lawyers out there trying to trick me into illegally distributing<br>
software and then sueing me for it. A few lawyers here in Germany are famous<br>
for such dirty tricks ... So take care, folks.<br>
<p>
CU,ANdy<br>
<p>
<pre>
-- 
= Andreas Beck                    |  Email :  &lt;<a href="mailto:andreas.beck@ggi-project.org">andreas.beck@ggi-project.org</a>&gt; =
========  GGI - The Right Thing To Do : <a href="http://www.ggi-project.org/">http://www.ggi-project.org/</a>   ========
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0009.html">Michael Land Morgan: "Suggestions?  Microtek ScanMaker X6?"</a>
<li> <b>Previous message:</b> <a href="0007.html">Oliver Neukum: "Re: which driver ?"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0069.html">Rogier Wolff: "Re: STOP asking me for Win drivers !"</a>
<li> <b>Reply:</b> <a href="0069.html">Rogier Wolff: "Re: STOP asking me for Win drivers !"</a>
<!-- reply="end" -->
</ul>
