<!-- received="Tue Jul  7 09:37:33 1998 PDT" -->
<!-- sent="Mon, 06 Jul 1998 23:19:37 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: Send in your .desc files..." -->
<!-- id="" -->
<!-- inreplyto="Send in your .desc files..." -->
<title>sane-devel: Re: Send in your .desc files...</title>
<h1>Re: Send in your .desc files...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 06 Jul 1998 23:19:37 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#20">[ date ]</a><a href="index.html#20">[ thread ]</a><a href="subject.html#20">[ subject ]</a><a href="author.html#20">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Richard Reuters: "New OS/2 frontend for SANE"</a>
<li> <b>Previous message:</b> <a href="0019.html">Peter Leif Rasmussen: "Support for Umax Astra 1220S/P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
<i>&gt; A .desc template is included at the end of this message.</i><br>
<p>
 This is the umax.desc-file:<br>
<p>
Bye<br>
Oliver<br>
<p>
;<br>
; SANE Backend specification file<br>
;<br>
; It's basically emacs-lisp --- so ";" indicates comment to end of line.<br>
; All syntactic elements are keyword tokens, followed by a string or<br>
;  keyword argument, as specified.<br>
;<br>
; ":backend" *must* be specified.<br>
; All other information is optional (but what good is the file without it?).<br>
;<br>
<p>
:backend "umax"                   ; name of backend<br>
:version "0.73l"                  ; version of backend<br>
:status :beta                     ; :alpha, :beta, :stable, :new<br>
:manpage "sane-umax"              ; name of manpage (if it exists)<br>
:url "<a href="http://www.wolfsburg.de/~rauch/">http://www.wolfsburg.de/~rauch/</a>" ; backend's web page<br>
<p>
:devicetype :scanner              ; start of a list of devices....<br>
                                  ; other types:  :stillcam, :vidcam,<br>
                                  ;               :meta, :api<br>
<p>
:mfg "UMAX"                       ; name a manufacturer<br>
:url "<a href="http://www.umax.com/">http://www.umax.com/</a>"<br>
:model "Vista S6"                 ; name models for above-specified mfg.<br>
:model "Vista S6E"<br>
:model "UMAX S-6E"<br>
:model "UMAX S-6EG"<br>
:model "Vista-S8"<br>
:model "Supervista S-12"<br>
:model "UMAX S-12"<br>
:model "UMAX S-12G"<br>
:model "Astra 600S"<br>
:model "Astra 610S"<br>
:model "Astra 1200S"<br>
:model "Astra 1220S"<br>
:model "UC 630"<br>
:model "UG 630"<br>
:model "UG 80"<br>
:model "Vista-T630"<br>
:model "PSD"<br>
:model "PL-II"<br>
:model "Office"<br>
<p>
:mfg "Escom"                      ; another manufacturer...<br>
:model "Image Scanner 256"<br>
<p>
:mfg "Linotype Hell"              ; another manufacturer...<br>
:model "Jade"<br>
:comment "SCSI-ID=Office"<br>
<p>
<p>
; :comment and :url specifiers are optional after :mfg, :model, :desc,<br>
;  and at the top-level.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0021.html">Richard Reuters: "New OS/2 frontend for SANE"</a>
<li> <b>Previous message:</b> <a href="0019.html">Peter Leif Rasmussen: "Support for Umax Astra 1220S/P"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
