<!-- received="Mon Jul 13 07:10:18 1998 PDT" -->
<!-- sent="Mon, 13 Jul 1998 15:09:47 +0100 (BST)" -->
<!-- name="Ian Grant" -->
<!-- email="I.A.N.Grant@damtp.cam.ac.uk" -->
<!-- subject="SANE and saned" -->
<!-- id="Pine.OSF.3.96.980713144743.4350I-100000@quark.amtp.cam.ac.uk" -->
<!-- inreplyto="" -->
<title>sane-devel: SANE and saned</title>
<h1>SANE and saned</h1>
<b>Ian Grant</b> (<a href="mailto:I.A.N.Grant@damtp.cam.ac.uk"><i>I.A.N.Grant@damtp.cam.ac.uk</i></a>)<br>
<i>Mon, 13 Jul 1998 15:09:47 +0100 (BST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#40">[ date ]</a><a href="index.html#40">[ thread ]</a><a href="subject.html#40">[ subject ]</a><a href="author.html#40">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Matto Marjanovic: "Re: scanimage crash (Microtek E3)"</a>
<li> <b>Previous message:</b> <a href="0039.html">Michael Ginolas: "scanimage crash"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">David Mosberger-Tang: "Re: SANE and saned"</a>
<li> <b>Reply:</b> <a href="0119.html">David Mosberger-Tang: "Re: SANE and saned"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
I'm running a tcp-wrappered saned on a linux box and accessing it from<br>
Digital Unix machines and Intel Linux machines across the network. It<br>
works well, except I don't understand how the saned.conf file works. I<br>
have no saned.conf file anywhere and saned seems to talk to anyone the tcp<br>
wrappers let through. As it happens this suits me fine: I didn't want to<br>
have to explicitly list all 100-odd hosts on our network. But I expected,<br>
from the description in the saned man page, that I would have to do this.<br>
What are the circumstances in which saned.conf is used? <br>
<p>
Also, the saned man page claims that saned and the net backend use service<br>
'sane' when in fact they look for 'saned'. Most of the time this is not a<br>
problem, because when they fail to find saned listed in /etc/services they<br>
silently fall back to the default service number 6566. If one wants to<br>
change the service number from the default though, it won't work, because<br>
the programs will still fall back to 6566.<br>
<p>
Apart from these trivial points, I'm hugely impressed by how good SANE and<br>
xscanimage etc. are.  Well done those people. <br>
<p>
Once I've given the version of xscanimage and the net backend a thorough<br>
testing on Digital Unix I'll send in a report and we can declare 0.73<br>
at least partly tested and found working on DU 4.00 (I still want to try<br>
getting the SCSI/CAM on DU working though. I'm waiting for someone to tell<br>
me what to do.)<br>
<p>
Ian<br>
<p>
-----------------------------------------------------------------------------<br>
Ian Grant, Computer Officer (HEP group), DAMTP, Silver St., Cambridge CB3 9EW<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0041.html">Matto Marjanovic: "Re: scanimage crash (Microtek E3)"</a>
<li> <b>Previous message:</b> <a href="0039.html">Michael Ginolas: "scanimage crash"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0119.html">David Mosberger-Tang: "Re: SANE and saned"</a>
<li> <b>Reply:</b> <a href="0119.html">David Mosberger-Tang: "Re: SANE and saned"</a>
<!-- reply="end" -->
</ul>
