<!-- received="Thu Jul 16 18:13:40 1998 PDT" -->
<!-- sent="Fri, 17 Jul 1998 03:12:29 +0200" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: SCSI-II scanner command list - specification file - common lib" -->
<!-- id="" -->
<!-- inreplyto="SCSI-II scanner command list - specification file - common lib" -->
<title>sane-devel: Re: SCSI-II scanner command list - specification file - common lib</title>
<h1>Re: SCSI-II scanner command list - specification file - common lib</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Fri, 17 Jul 1998 03:12:29 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#66">[ date ]</a><a href="index.html#66">[ thread ]</a><a href="subject.html#66">[ subject ]</a><a href="author.html#66">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0065.html">Craig Ruff: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello<br>
<p>
<i>&gt; I've tried SANE 0.73 on my linux 2.0.30 with a LEO scanner. It did not</i><br>
<i>&gt; work and it will not work (anyway my question is not related to my</i><br>
<i>&gt; scanner).</i><br>
<p>
LEO is only a marketing - brand. Chances are very high, that some<br>
existing drivers might work.<br>
I would get as much technical information as possible for your<br>
Scanner. Than compare it with some wellknown Scanners.<br>
My first look would be at the maximum resolution for grey:<br>
If it can do 10-Bit it's most likely a Agfa-Snapscan-310-clone<br>
In that case: Report the exact info for your Scanner<br>
according to the boot-mesg so that even others can benefit from<br>
modified sources. For yourself: Have a look at snapscan.h :-)<br>
It's really easy.<br>
If grey-resolution is 8-bit: Look for colour-resolution and try in <br>
that order:<br>
UMAX<br>
Microtek<br>
Mustek<br>
You have to do in almost any case only minor changes<br>
to the source to make your LEO work.<br>
regards<br>
wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0067.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0065.html">Craig Ruff: "Re: HP PhotoSmart programming info?"</a>
<li> <b>Maybe in reply to:</b> <a href="0051.html">Sreenivasa Sista: "SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0067.html">Matto Marjanovic: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- reply="end" -->
</ul>
