<!-- received="Sun Jul 19 00:13:34 1998 PDT" -->
<!-- sent="Fri, 17 Jul 1998 08:32:41 +0200 (MEST)" -->
<!-- name="Rogier Wolff" -->
<!-- email="R.E.Wolff@BitWizard.nl" -->
<!-- subject="Re: STOP asking me for Win drivers !" -->
<!-- id="199807170632.IAA00401@cave.BitWizard.nl" -->
<!-- inreplyto="m0yrrZ1-0000ZdC@charon.beck-sw.de" -->
<title>sane-devel: Re: STOP asking me for Win drivers !</title>
<h1>Re: STOP asking me for Win drivers !</h1>
<b>Rogier Wolff</b> (<a href="mailto:R.E.Wolff@BitWizard.nl"><i>R.E.Wolff@BitWizard.nl</i></a>)<br>
<i>Fri, 17 Jul 1998 08:32:41 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#69">[ date ]</a><a href="index.html#69">[ thread ]</a><a href="subject.html#69">[ subject ]</a><a href="author.html#69">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<li> <b>In reply to:</b> <a href="0008.html">becka@rz.uni-duesseldorf.de: "STOP asking me for Win drivers !"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<i>&gt; </i><br>
<i>&gt; Disclaimer: Sorry for bloating the list with that.</i><br>
<i>&gt; </i><br>
<i>&gt; I am actually quite sure that it won't help anything, but it is getting on </i><br>
<i>&gt; my nerves.</i><br>
<i>&gt; </i><br>
<i>&gt; I don't know, if I am the only one, but I receive around 3 Mails a week</i><br>
<i>&gt; asking me to send someone Win95 driver disks for some weird hardware.</i><br>
<p>
I'm getting them too. However, not as much as you. <br>
They started pretty suddenly. <br>
<p>
					Roger.<br>
<p>
<pre>
-- 
Actor asks a collegue: "To what do you owe your success in acting?"
Answer: "Honesty. Once you've learned how to fake that, you've got it made."
-------- Custom Linux device drivers for sale! Call for a quote. ----------
Email: <a href="mailto:R.E.Wolff@BitWizard.nl">R.E.Wolff@BitWizard.nl</a> || Tel: +31-15-2137555 || FAX: +31-15-2138217
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0070.html">Sreenivasa Sista: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<li> <b>Previous message:</b> <a href="0068.html">Michael Sweet: "Re: HP PhotoSmart programming info?"</a>
<li> <b>In reply to:</b> <a href="0008.html">becka@rz.uni-duesseldorf.de: "STOP asking me for Win drivers !"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
