<!-- received="Sun Jul 19 15:18:22 1998 PDT" -->
<!-- sent="Mon, 20 Jul 1998 00:16:55 +0200 (MEST)" -->
<!-- name="Goetz Bock" -->
<!-- email="bg@wod.x.nu" -->
<!-- subject="Re: ocr" -->
<!-- id="" -->
<!-- inreplyto="35B22E8E.33CA2D2F@kootenay.com" -->
<title>sane-devel: Re: ocr</title>
<h1>Re: ocr</h1>
<b>Goetz Bock</b> (<a href="mailto:bg@wod.x.nu"><i>bg@wod.x.nu</i></a>)<br>
<i>Mon, 20 Jul 1998 00:16:55 +0200 (MEST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#78">[ date ]</a><a href="index.html#78">[ thread ]</a><a href="subject.html#78">[ subject ]</a><a href="author.html#78">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">becka@rz.uni-duesseldorf.de: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0077.html">charter@cs.ualberta.ca: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sun, 19 Jul 1998, Bob van der Poel wrote:<br>
<p>
<i>&gt; Anyone working on any OCR software? </i><br>
<p>
Probably there is: (from an old mail)<br>
<p>
--- cut ---<br>
A mailing list has been started for discussion of the design and<br>
implementation of a freeware Optical Character Recognition program for<br>
Unix.  <br>
<p>
[...]<br>
<p>
The mailing list is managed by Majordomo.  To subscribe, send an<br>
e-mail message to majordomo@icemark.ch with "subscribe ocr" in the<br>
body (not the subject) of the message.  Many thanks to Benedikt Heinen<br>
for hosting the list.<br>
--- cut ---<br>
<p>
Cu, Goetz.<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0079.html">becka@rz.uni-duesseldorf.de: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0077.html">charter@cs.ualberta.ca: "Re: SCSI-II scanner command list - specification file - common lib"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
