<!-- received="Mon Jul 20 00:25:28 1998 PDT" -->
<!-- sent="17 Jul 1998 13:36:00 +0200" -->
<!-- name="Giovanni Iachello" -->
<!-- email="giac@dei.unipd.it" -->
<!-- subject="Scanmaker 630 and Adaptec 2940UW" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Scanmaker 630 and Adaptec 2940UW</title>
<h1>Scanmaker 630 and Adaptec 2940UW</h1>
<b>Giovanni Iachello</b> (<a href="mailto:giac@dei.unipd.it"><i>giac@dei.unipd.it</i></a>)<br>
<i>17 Jul 1998 13:36:00 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#88">[ date ]</a><a href="index.html#88">[ thread ]</a><a href="subject.html#88">[ subject ]</a><a href="author.html#88">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">Wolfgang Goeller: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0087.html">becka@rz.uni-duesseldorf.de: "Re: ocr (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hello everybody!<br>
<p>
I've tried to use sane 0.73 to scan with a scanmaker 630 connected to<br>
an adaptec 2940UW, with a 16-&gt;8 bit SCSI cable. This adapter is<br>
"unofficially supported" by Microtek, but scanning does not work<br>
properly. The scanner is identified by the kernel and by the sane<br>
driver, the light turns on, and starts moving, but then the scanning<br>
blocks and scanimage hangs. It seems like some buffer overrun, but I<br>
did not enable the large kernel buffers.<br>
<p>
Did somebody manage to make the ScanMaker 630 work with and adaptec<br>
2940? (I would prefer to sell the 1505 they gave me with the scanner)<br>
<p>
Giovanni Iachello<br>
<a href="mailto:giac@dei.unipd.it">giac@dei.unipd.it</a><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0089.html">Wolfgang Goeller: "Re: ocr"</a>
<li> <b>Previous message:</b> <a href="0087.html">becka@rz.uni-duesseldorf.de: "Re: ocr (fwd)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
