<!-- received="Mon Jul 20 00:58:28 1998 PDT" -->
<!-- sent="Mon, 20 Jul 1998 09:57:02 +0200" -->
<!-- name="Wolfgang Goeller" -->
<!-- email="wgoeller@active.ch" -->
<!-- subject="Re: ocr" -->
<!-- id="" -->
<!-- inreplyto="ocr" -->
<title>sane-devel: Re: ocr</title>
<h1>Re: ocr</h1>
<b>Wolfgang Goeller</b> (<a href="mailto:wgoeller@active.ch"><i>wgoeller@active.ch</i></a>)<br>
<i>Mon, 20 Jul 1998 09:57:02 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#89">[ date ]</a><a href="index.html#89">[ thread ]</a><a href="subject.html#89">[ subject ]</a><a href="author.html#89">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Wolfgang Goeller: "Re: ocr (fwd)"</a>
<li> <b>Previous message:</b> <a href="0088.html">Giovanni Iachello: "Scanmaker 630 and Adaptec 2940UW"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Bob van der Poel: "ocr"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Yuri Dario: "Re: ocr"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; As someone else aready said...that's a lot of $ for someone used</i><br>
<i>&gt; to free software. I certainly couldn't justify that much for the use</i><br>
<i>&gt; I'll be putting it to (of course, if you are using this for a business</i><br>
<i>&gt; pupose then it is not a big deal). BTW, it is nice to see commercial</i><br>
<i>&gt; support growing for Linux.</i><br>
<p>
I've tried vividatas OCR-software. It's - as they say - based on<br>
OMNIPAGE. I've got the chance to compare it to omnipage 6 for<br>
windows 3.11 - it's amazing how much faster the windows 3.11 version<br>
gets ready. The accuracy of the windows-version (16-Bit) is better,<br>
speed is faster. And - not to forget - price is substantially lower.<br>
Meanwhile I use wabi and the OCR-software that came with my scanner.<br>
That's also faster than the vividata-solution and has about the same<br>
accuracy. (OCR - software free with the scanner, wabi for about $ 100)<br>
I admit: It's not elegant, but it works.<br>
<p>
regards<br>
wolfgang<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0090.html">Wolfgang Goeller: "Re: ocr (fwd)"</a>
<li> <b>Previous message:</b> <a href="0088.html">Giovanni Iachello: "Scanmaker 630 and Adaptec 2940UW"</a>
<li> <b>Maybe in reply to:</b> <a href="0075.html">Bob van der Poel: "ocr"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0096.html">Yuri Dario: "Re: ocr"</a>
<!-- reply="end" -->
</ul>
