<!-- received="Tue Jul 21 21:28:11 1998 PDT" -->
<!-- sent="Tue, 21 Jul 1998 21:28:09 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: shmem in backends?" -->
<!-- id="199807220428.VAA02458@panda.mostang.com" -->
<!-- inreplyto="m0yyjPi-000J3sC@yoo-hoo.ai.mit.edu" -->
<title>sane-devel: Re: shmem in backends?</title>
<h1>Re: shmem in backends?</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 21 Jul 1998 21:28:09 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#118">[ date ]</a><a href="index.html#118">[ thread ]</a><a href="subject.html#118">[ subject ]</a><a href="author.html#118">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">David Mosberger-Tang: "Re: SANE and saned"</a>
<li> <b>Previous message:</b> <a href="0117.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<li> <b>In reply to:</b> <a href="0117.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Tue, 21 Jul 1998 16:53:34 -0400 (EDT), Matto Marjanovic &lt;<a href="mailto:maddog@mir.com">maddog@mir.com</a>&gt; said:</i><br>
<p>
  Matto&gt; Anyhow, threads do seem more apropos than a full-process<br>
  Matto&gt; fork, because of the unnecessary bit-slinging overhead you<br>
  Matto&gt; incur copying scanner data back to a parent process.  (Yeah,<br>
  Matto&gt; the scanner head is such a time-limiter it probably doesn't<br>
  Matto&gt; matter, but it can't hurt to try to be as efficient as<br>
  Matto&gt; possible.)<br>
<p>
It will hurt portability and that's painful if there is no significant<br>
gain from it.<br>
<p>
  Matto&gt; Is there a well-established, portable thread standard that I<br>
  Matto&gt; could code with?  (Posix threads?)  Any suggestions on what<br>
  Matto&gt; manpages to start with?<br>
<p>
pthreads are standard for POSIX environments nowadays but as I said<br>
above I'd recommend not to use them unless absolutely necessary.  For<br>
one thing, SANE runs on platforms as ancient as Apollo DomainOS and I<br>
don't think it's good to break SANE for those older platforms unless<br>
necessary.<br>
<p>
What might be a good idea is to abstract the functionality required by<br>
the SANE backends so it can be implemented either using fork() or<br>
threads (much like there are currently platform-dependent versions to<br>
access the SCSI interface).  That way, platforms supporing pthreads<br>
and OS/2 could use threads whereas the older platforms would continue<br>
to use fork().  Yuri, is this what your working on?<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0119.html">David Mosberger-Tang: "Re: SANE and saned"</a>
<li> <b>Previous message:</b> <a href="0117.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<li> <b>In reply to:</b> <a href="0117.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
