<!-- received="Tue Jul 21 21:58:59 1998 PDT" -->
<!-- sent="Tue, 21 Jul 1998 21:58:56 -0700" -->
<!-- name="David Mosberger-Tang" -->
<!-- email="David.Mosberger@acm.org" -->
<!-- subject="Re: SANE and saned" -->
<!-- id="199807220458.VAA02571@panda.mostang.com" -->
<!-- inreplyto="Pine.OSF.3.96.980713144743.4350I-100000@quark.amtp.cam.ac.uk" -->
<title>sane-devel: Re: SANE and saned</title>
<h1>Re: SANE and saned</h1>
<b>David Mosberger-Tang</b> (<a href="mailto:David.Mosberger@acm.org"><i>David.Mosberger@acm.org</i></a>)<br>
<i>Tue, 21 Jul 1998 21:58:56 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#119">[ date ]</a><a href="index.html#119">[ thread ]</a><a href="subject.html#119">[ subject ]</a><a href="author.html#119">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<li> <b>Previous message:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>In reply to:</b> <a href="0040.html">Ian Grant: "SANE and saned"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt;&gt;&gt;&gt;&gt; On Mon, 13 Jul 1998 15:09:47 +0100 (BST), Ian Grant &lt;<a href="mailto:I.A.N.Grant@damtp.cam.ac.uk">I.A.N.Grant@damtp.cam.ac.uk</a>&gt; said:</i><br>
<p>
  Ian&gt; I'm running a tcp-wrappered saned on a linux box and accessing<br>
  Ian&gt; it from Digital Unix machines and Intel Linux machines across<br>
  Ian&gt; the network. It works well, except I don't understand how the<br>
  Ian&gt; saned.conf file works. I have no saned.conf file anywhere and<br>
  Ian&gt; saned seems to talk to anyone the tcp wrappers let through.<br>
<p>
Is it possible that all hosts are listed in /etc/hosts.equiv?  As per<br>
saned man-page:<br>
<p>
  FILES<br>
       /etc/hosts.equiv<br>
              The  hosts  listed  in  this  file are permitted to<br>
              access all local SANE devices.  Caveat:  this  file<br>
              imposes  serious  security risks and its use is not<br>
              recommended.<br>
<p>
Note: I'd recommend against using /etc/hosts.equiv for security<br>
reasons, but if a host is listed in /etc/hosts.equiv already, there is<br>
little point in saned denying access to such a host.<br>
<p>
  Ian&gt; Also, the saned man page claims that saned and the net backend<br>
  Ian&gt; use service 'sane' when in fact they look for 'saned'.<br>
<p>
Oops, this is indeed a bug in saned.  The next version of SANE will<br>
have this corrected.  Unfortunately, this will break existing<br>
installations, but the service name definitely shouldn't have a `d'<br>
appended.<br>
<p>
Thanks for finding this!<br>
<p>
  Ian&gt; Once I've given the version of xscanimage and the net backend a<br>
  Ian&gt; thorough testing on Digital Unix I'll send in a report and we<br>
  Ian&gt; can declare 0.73 at least partly tested and found working on DU<br>
  Ian&gt; 4.00 (I still want to try getting the SCSI/CAM on DU working<br>
  Ian&gt; though. I'm waiting for someone to tell me what to do.)<br>
<p>
Yes, working CAM support would be nice.  I can't tell you what to do<br>
other than "try it out and see what breaks".  Be careful though when<br>
playing with this as faulty SCSI code could harm other SCSI devices.<br>
<p>
	--david<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<li> <b>Previous message:</b> <a href="0118.html">David Mosberger-Tang: "Re: shmem in backends?"</a>
<li> <b>In reply to:</b> <a href="0040.html">Ian Grant: "SANE and saned"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
