<!-- received="Thu Jul 23 12:56:54 1998 PDT" -->
<!-- sent="Thu, 23 Jul 1998 15:57:45 -0400" -->
<!-- name="Chinedum Osuji" -->
<!-- email="cosuji@uzi.mit.edu" -->
<!-- subject="Re: problems with sgi/umax" -->
<!-- id="" -->
<!-- inreplyto="problems with sgi/umax" -->
<title>sane-devel: Re: problems with sgi/umax</title>
<h1>Re: problems with sgi/umax</h1>
<b>Chinedum Osuji</b> (<a href="mailto:cosuji@uzi.mit.edu"><i>cosuji@uzi.mit.edu</i></a>)<br>
<i>Thu, 23 Jul 1998 15:57:45 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#142">[ date ]</a><a href="index.html#142">[ thread ]</a><a href="subject.html#142">[ subject ]</a><a href="author.html#142">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">John M. Mills: "Scanimage/Xscanimage setup information sought"</a>
<li> <b>Previous message:</b> <a href="0141.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Chinedum Osuji: "Re: problems with sgi/umax"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi,<br>
<p>
	Anyone out there ever run into the following with SGI/UMAX: Previews<br>
and scans are all fine, at all resolutions and with color and or<br>
transparency adapter, but only for scan files that do not equal or<br>
exceed 4MB in size! For such scans, the scanner just stops a few seconds<br>
into the scan, and a black or "black with white patches" image is<br>
produced. When such a thing occurs, the little status bar that monitors<br>
transfer of data to GIMP or whatever is blank. i.e. The box appears, but<br>
no words or status bar is visible.<br>
<p>
System is IRIX 6.2 on Indigo2. Scanner is Astra 1200S. Everything else<br>
appears to work fine, though!<br>
<p>
<p>
Michael Sweet wrote:<br>
<i>&gt; </i><br>
________________________________________________<br>
<i>&gt;  Mike Sweet         Software for HP, SGI,        Easy Software Products</i><br>
<i>&gt;  (301) 373-9603     and Sun Workstations       44145 Airport View Drive</i><br>
<i>&gt;  <a href="mailto:mike@easysw.com">mike@easysw.com</a>    <a href="http://www.easysw.com">http://www.easysw.com</a>    Hollywood, Maryland  20636</i><br>
<i>&gt; </i><br>
<i>&gt; --</i><br>
<i>&gt; Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a></i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0143.html">John M. Mills: "Scanimage/Xscanimage setup information sought"</a>
<li> <b>Previous message:</b> <a href="0141.html">Matto Marjanovic: "Re: shmem in backends?"</a>
<li> <b>Maybe in reply to:</b> <a href="0120.html">vp00955@hp2.vpn.at: "problems with sgi/umax"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0149.html">Chinedum Osuji: "Re: problems with sgi/umax"</a>
<!-- reply="end" -->
</ul>
