<!-- received="Mon Aug  2 09:36:35 1999 PDT" -->
<!-- sent="Mon, 2 Aug 1999 18:37:07 +0200" -->
<!-- name="Ewald R. de Wit" -->
<!-- email="ewald@pobox.com" -->
<!-- subject="Re: xsane-0.31 available" -->
<!-- id="" -->
<!-- inreplyto="37A5AABC.6FCBA33B@wolfsburg.de" -->
<title>sane-devel: Re: xsane-0.31 available</title>
<h1>Re: xsane-0.31 available</h1>
<b>Ewald R. de Wit</b> (<a href="mailto:ewald@pobox.com"><i>ewald@pobox.com</i></a>)<br>
<i>Mon, 2 Aug 1999 18:37:07 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#12">[ date ]</a><a href="index.html#12">[ thread ]</a><a href="subject.html#12">[ subject ]</a><a href="author.html#12">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0011.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch (<a href="mailto:oliver.rauch@Wolfsburg.DE">oliver.rauch@Wolfsburg.DE</a>) wrote:<br>
<i>&gt; that is the reason why I renamed it!</i><br>
<i>&gt; The frontend does not need to know how the alpha channel</i><br>
<i>&gt; is generated, so it is better to name it alpha than infrared.</i><br>
<p>
I feel it's a bit stupid and confusing to call it the alpha channel.<br>
Alpha channel has a very well defined and established meaning in the<br>
graphics world. Just because you can dump the infrared data into the<br>
4th channel of a file doesn't make this data 'alpha' in any way. If<br>
you look at the SANE standard, it defines the red channel as 'data<br>
from the red spectral band', etc. , so why would the infrared channel<br>
be treated differently.<br>
<p>
Should scanners in the future support a different sort of 4th channel,<br>
lets say height, then it should get it's own SANE_FRAME name (eg RGBH<br>
or something).<br>
<p>
The SANE_FRAME name tells the frontend what sort of data it is that it<br>
receives. Perhaps your frontend isn't interested in this but other<br>
frontends might.<br>
<p>
<pre>
-- 
  --  Ewald
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0013.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<li> <b>Previous message:</b> <a href="0011.html">Oliver Rauch: "Re: xsane-0.31 available"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
