<!-- received="Tue Aug  3 13:44:25 1999 PDT" -->
<!-- sent="Tue, 3 Aug 1999 21:45:48 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="Re: RGBI (was Re: xsane-0.31 available)" -->
<!-- id="" -->
<!-- inreplyto="37A73242.333550AC@wolfsburg.de" -->
<title>sane-devel: Re: RGBI (was Re: xsane-0.31 available)</title>
<h1>Re: RGBI (was Re: xsane-0.31 available)</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Tue, 3 Aug 1999 21:45:48 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#32">[ date ]</a><a href="index.html#32">[ thread ]</a><a href="subject.html#32">[ subject ]</a><a href="author.html#32">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Stephen Williams: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0031.html">regis rampnoux: "Re: Sane + FreeBSD 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver, please use a mail client which can do proper line wrap, it is<br>
getting annoying to keep reformatting your text so that it is readable<br>
in the replies.<br>
<p>
On Tue, 3 Aug 1999, Oliver Rauch wrote:<br>
<i>&gt; It is not good to add one format that does not make sense. So we should</i><br>
<i>&gt; not wait until we have 5 bad formats.</i><br>
<i>&gt; </i><br>
<i>&gt; I don`t say that we should not add SANE_FRAME_INFRARED or RGBI.</i><br>
<i>&gt; I only say it does not make any sense if we do not define how to save</i><br>
<i>&gt; and handle them.</i><br>
<i>&gt; </i><br>
<i>&gt; As long as there is no file format for RGBIr and another one for RGBUv</i><br>
<i>&gt; and we have to handle it the same way and ony the user knows the difference,</i><br>
<i>&gt; why should we add two different formats for this.</i><br>
<p>
Stop obsessing over file formats Oliver. If all you are going to do is<br>
save it as a JPEG and put it on the web, then just don't choose "Infrared<br>
mode" from the Coolscan backend.<br>
<p>
To handle RGBI you should apply a filter which can compensate for the<br>
scratches, prints, dust etc. revealed on the Infrared channel. You also<br>
need to compensate for the leakage between RED and IR detection.<br>
<p>
If a frontend doesn't have such a filter, it has two choices -- it can<br>
refuse to handle the unknown FRAME type, or it could send the data for<br>
post-processing in another application. I really DO NOT CARE whether<br>
XSane can handle this, or not -- just so long as SANE makes it possible<br>
for someone to write a SANE-compliant application which does it.<br>
<p>
Understand me here Oliver -- this is not about adding features to<br>
XSane, or not adding them, it is about supporting the Coolscan in SANE<br>
<p>
I want to call these frames RGBI because that is what they are. There<br>
are no backends which will support "alpha" data or "height" data or<br>
any other kind of extra data, but there IS a backend which creates<br>
"infrared" data, so I want a frame format for it.<br>
<p>
I can't see any reason why XSane shouldn't _save_ RGBI data into RGBA<br>
file formats for use in another application, but that's no reason not<br>
to call the data "RGBI" when it is sent from SANE to my imaginary RGBI<br>
capable film-scanner frontend.<br>
<p>
Finally, since you're so interested, I suspect you could use the<br>
additional channels sense in TIFF to support saving files with IR<br>
data, and most good import filters would do something sensible (ie<br>
not treat it as alpha) when you load it. Exporting properly to Gimp<br>
would be nice too.<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0033.html">Stephen Williams: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0031.html">regis rampnoux: "Re: Sane + FreeBSD 3.2"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
