<!-- received="Tue Aug  3 22:40:59 1999 PDT" -->
<!-- sent="Wed, 4 Aug 1999 06:42:30 +0100 (GMT)" -->
<!-- name="Nick Lamb" -->
<!-- email="njl98r@ecs.soton.ac.uk" -->
<!-- subject="JPEG scanner stuff" -->
<!-- id="" -->
<!-- inreplyto="199908040520.WAA03493@icarus.com" -->
<title>sane-devel: JPEG scanner stuff</title>
<h1>JPEG scanner stuff</h1>
<b>Nick Lamb</b> (<a href="mailto:njl98r@ecs.soton.ac.uk"><i>njl98r@ecs.soton.ac.uk</i></a>)<br>
<i>Wed, 4 Aug 1999 06:42:30 +0100 (GMT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#46">[ date ]</a><a href="index.html#46">[ thread ]</a><a href="subject.html#46">[ subject ]</a><a href="author.html#46">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Steve Gunnell: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0045.html">Stephen Williams: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>In reply to:</b> <a href="0045.html">Stephen Williams: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Tue, 3 Aug 1999, Stephen Williams wrote:<br>
<p>
<i>&gt; I'm with you. And in fact I eagerly await SANE_FRAME_JFIF as that</i><br>
<i>&gt; is a prerequisite for writing SANE drivers for some beasts facing</i><br>
<i>&gt; me now. My JFIF image should be treated as RAW be any SANE application</i><br>
<i>&gt; that doesn't want to deal with JFIF images, though is should be asking</i><br>
<i>&gt; for image data in a format it does understand, instead.</i><br>
<p>
Right - now this is a discussion I'm interested in having<br>
<p>
What exactly comes out of your scanners? Is it just a JFIF standard<br>
header followed by JPEG image data?<br>
<p>
Nick.<br>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0047.html">Steve Gunnell: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>Previous message:</b> <a href="0045.html">Stephen Williams: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<li> <b>In reply to:</b> <a href="0045.html">Stephen Williams: "Re: SANE_FRAME Formats (was Re: xsane-0.31 available)"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
