<!-- received="Wed Aug  4 18:32:54 1999 PDT" -->
<!-- sent="Wed, 04 Aug 1999 19:38:36 -0600 (MDT)" -->
<!-- name="Joe Waters" -->
<!-- email="jpw@aegistech.com" -->
<!-- subject="Microtek ScanMaker V6USL" -->
<!-- id="" -->
<!-- inreplyto="19990804221637.A15320@rz.uni-duesseldorf.de" -->
<title>sane-devel: Microtek ScanMaker V6USL</title>
<h1>Microtek ScanMaker V6USL</h1>
<b>Joe Waters</b> (<a href="mailto:jpw@aegistech.com"><i>jpw@aegistech.com</i></a>)<br>
<i>Wed, 04 Aug 1999 19:38:36 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#59">[ date ]</a><a href="index.html#59">[ thread ]</a><a href="subject.html#59">[ subject ]</a><a href="author.html#59">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Lee Bartolotti: "Re: Microtek ScanMaker V6USL"</a>
<li> <b>Previous message:</b> <a href="0058.html">Andreas Beck: "Re: scanimage and HP scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Bernd Schroeder: "Re: Microtek ScanMaker V6USL"</a>
<li> <b>Reply:</b> <a href="0068.html">Bernd Schroeder: "Re: Microtek ScanMaker V6USL"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
I've just subscribed to this list so I apologize if I'm violating<br>
etiquette -- I browsed the list archives and haven't seen a solution to<br>
this one (though lacking a search function I might have missed it)...<br>
<p>
I recently purchased a Microtek ScanMaker V6USL -- this is a 14" legal<br>
length scanner that has both SCSI and USB ports.  It's recognized by my<br>
linux system (2.2.10) on my scsi card (the modified Advansys card that<br>
comes with the Iomega Buz) but I can't get it to scan with 1.0.1<br>
version of sane.  It appears to recognize the device, but generates an<br>
I/O error.  Here's the output from scanimage -d microtek2:/dev/scanner :<br>
<p>
---------------8&lt;--------------------8&lt;-----------------<br>
<p>
(falc@attila) /usr/src/sane-1.0.1 # scanimage -d microtek2:/dev/scanner<br>
Scanner attributes from device structure<br>
========================================<br>
Scanner ID...<br>
~~~~~~~~~~~~~<br>
  Vendor Name:        '        '<br>
  Model Name:         'Scanner V6USL   '<br>
  Revision:           '1.00'<br>
  Model Code:         0xa3 (ScanMaker V6USL)<br>
  Device Type Code:   0x06 (Scanner),<br>
  Scanner type:       Flatbed scanner<br>
  Supported options:  Automatic document feeder: No<br>
                      Transparency media adapter: No<br>
                      Auto paper detecting: No<br>
                      Advanced picture system: No<br>
                      Stripes: No<br>
                      Slides: No<br>
  Scan button:        Yes<br>
Imaging Capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~<br>
  Color scanner:      Yes<br>
  Number passes:      1 pass<br>
  Resolution:         X-max:   600 dpi<br>
                      Y-max:  1200 dpi<br>
  Geometry:           Geometric width:  5100 pts (8.50'')<br>
                      Geometric height: 8400 pts (14.00'')<br>
  Optical resol.  :   600<br>
  Modes:              Lineart:      Yes<br>
                      Halftone:     No<br>
                      Gray:         Yes<br>
                      Color:        Yes<br>
  Depths:             Nibble Gray:  Yes<br>
                      10-bit-color: No<br>
                      12-bit-color: yes<br>
  d/l of HT pattern:  No<br>
  Builtin HT patt.:   0<br>
  LUT capabilities:   4096 words<br>
Miscellaneous capabilities...<br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  Data format:        Line by line in concatenated sequence,<br>
                      without color indicator<br>
  Color Sequence:     B - G - R<br>
  CCD gap:            4 lines<br>
  CCD pixels:         5100<br>
  Calib wh str loc:   -354<br>
  Max calib space:    118<br>
  Number of lens:     1<br>
  Max no of windows:  1<br>
  Sh trnsf func equ:  0<br>
  Buffer type:        Ring<br>
  FEPROM:             No<br>
     0: f00005ffffffe91f 0000000024000000    ........ ....$...<br>
    16: 2a00030000610060 0000000001000200    *....a.` ........<br>
    32: 030004000500                        ......<br>
scanimage: sane_start: Error during device I/O<br>
(falc@attila) /usr/src/sane-1.0.1 #<br>
<p>
---------------8&lt;--------------8&lt;----------------<br>
<p>
I'm especially puzzled (aside from the I/O error) by the lack of a<br>
vendor name -- I haven't looked at the backend code yet, but is it<br>
possible that this device can be made to work with command-line options?<br>
<p>
After reading through the email archives I tried Bernd Schroeder's<br>
patch (referenced in a thread about the ScanMaker IV) from <br>
<p>
<a href="ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.8.280799.tar.gz">ftp://ftp.muc.de/people/bernds/mtek2/microtek2-pre0.8.280799.tar.gz</a> <br>
<p>
but that seems to lock the process cold with no output.  The rest of<br>
the system (including other scsi devices) seem to work fine, but the<br>
scanimage process appears to block or go into a loop.<br>
<p>
Anybody have any ideas?  Did I post the right debug output?  Please let<br>
me know if you need different information -- I just downloaded and<br>
compiled the sane sources today so I'm not real familiar with all of<br>
the debug environments and log files yet...<br>
<p>
Joe Waters<br>
<pre>
---
Joe Waters (<a href="mailto:jpw@aegistech.com">jpw@aegistech.com</a>) Aegis Simulation Technologies
Shoot stuff.   Break things.  Impress your friends.
We can help.  Play BFRIS.  <a href="http://www.aegistech.com">http://www.aegistech.com</a>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0060.html">Lee Bartolotti: "Re: Microtek ScanMaker V6USL"</a>
<li> <b>Previous message:</b> <a href="0058.html">Andreas Beck: "Re: scanimage and HP scanners"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0068.html">Bernd Schroeder: "Re: Microtek ScanMaker V6USL"</a>
<li> <b>Reply:</b> <a href="0068.html">Bernd Schroeder: "Re: Microtek ScanMaker V6USL"</a>
<!-- reply="end" -->
</ul>
