<!-- received="Sat Aug 14 20:08:44 1999 PDT" -->
<!-- sent="Sat, 14 Aug 1999 20:06:01 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="199908150306.UAA04242@icarus.com" -->
<!-- inreplyto="Pine.LNX.4.10.9908150331510.20001-100000@chef.ecs.soton.ac.uk" -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Sat, 14 Aug 1999 20:06:01 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#157">[ date ]</a><a href="index.html#157">[ thread ]</a><a href="subject.html#157">[ subject ]</a><a href="author.html#157">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Henry Miller: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0156.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Sat, 14 Aug 1999, Stephen Williams wrote:<br>
<p>
<i>&gt; So all I'm looking for at the moment is some sort of means to negotiate</i><br>
<i>&gt; frame formats.</i><br>
<p>
<p>
<a href="mailto:njl98r@ecs.soton.ac.uk">njl98r@ecs.soton.ac.uk</a> said:<br>
<i>&gt; Ok. IIRC Your scanners can do RGB, but prefer not to for speed</i><br>
<i>&gt; reasons? </i><br>
<p>
No, but I can decompress in software. The IJG library works well<br>
enough for that, and I see no reason to require that slow/simple<br>
apps be required to deal with silly hardware constraints.<br>
<p>
<p>
<a href="mailto:njl98r@ecs.soton.ac.uk">njl98r@ecs.soton.ac.uk</a> said:<br>
<i>&gt; OPTION ONE -- If the backend knows before sending any data how much</i><br>
<i>&gt; there will be exactly in the JFIF image.</i><br>
<p>
6 one, 1/2dozen the other, though I think it best in general to support<br>
reading to the end of file and not expecting the size be known a priori.<br>
ISIS works this way. However, *I* will be able to handle option 1 because<br>
I get the byte count directly from the scanner, so its your own foot:-)<br>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0158.html">Henry Miller: "Re: Starting a discussion about SANE and TWAIN..."</a>
<li> <b>Previous message:</b> <a href="0156.html">Nick Lamb: "Re: Starting a discussion about SANE and TWAIN..."</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
