<!-- received="Sun Aug 15 08:55:24 1999 PDT" -->
<!-- sent="Sun, 15 Aug 1999 12:00:50 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SG_BIG_BUFF, glibc 2.1 weirdness ..." -->
<!-- id="" -->
<!-- inreplyto="SG_BIG_BUFF, glibc 2.1 weirdness ..." -->
<title>sane-devel: Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</title>
<h1>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Sun, 15 Aug 1999 12:00:50 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#164">[ date ]</a><a href="index.html#164">[ thread ]</a><a href="subject.html#164">[ subject ]</a><a href="author.html#164">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Oliver Rauch: "Re: SANE V2 - past discussions. A summary."</a>
<li> <b>Previous message:</b> <a href="0163.html">Petter Reinholdtsen: "SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0163.html">Petter Reinholdtsen: "SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Andreas Beck: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Andreas Beck wrote:<br>
<p>
<i>&gt; Hi folks. I just went almost mad tracking a very strange problem with sane</i><br>
<i>&gt; 1.0.0, kernel 2.2.5 and glibc 2.1. I do not know, if it is fixed in 1.0.1.</i><br>
<i>&gt; If so, please disregard this mail.</i><br>
<p>
I run linux-2.2.5/x86 and sane-1.0.1 (SuSE-6.1)<br>
after I changed the SG_BIG_BUFF to 128K in both sg.h files and recompiled the<br>
kernel and sane everything works fine!<br>
<p>
<p>
<i>&gt;</i><br>
<i>&gt; O.K. - the problem is as follows:</i><br>
<i>&gt;</i><br>
<i>&gt; I wanted to increase SG_BIG_BUFF to get less scanner stops and thus increase</i><br>
<i>&gt; throughput.</i><br>
<i>&gt;</i><br>
<i>&gt; Error #1: I had been told, that 256k were safe. This is correct, but only</i><br>
<i>&gt; for Linux/alpha. The correct boundary is 32*PAGE_SIZE, wich is 4k*32=128k</i><br>
<i>&gt; for Intel, but 8k*32=256k for Alpha.</i><br>
<i>&gt;</i><br>
<i>&gt; We should put that information in a README within SANE, not in the</i><br>
<i>&gt; sg-readme, which is pretty obscure to find.</i><br>
<p>
In the manpage sane-scsi there is written:<br>
XX Unless  a  system  is  seriously<br>
XX       short  on memory, it is recommended to increase this value<br>
XX       to the maximum legal value of  128*1024-512=130560  bytes.<br>
<p>
<i>&gt; Now the big one that made me pull my hair:</i><br>
<i>&gt;</i><br>
<i>&gt; Glibc installs its _own_ scsi.h and sg.h, which are different from the</i><br>
<i>&gt; kernel. Thus is you only edit sg.h from the Linux subdirectory you get very</i><br>
<i>&gt; very weird behaviour:</i><br>
<p>
This is something that should be changed in ther kernel surces/glic.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0165.html">Oliver Rauch: "Re: SANE V2 - past discussions. A summary."</a>
<li> <b>Previous message:</b> <a href="0163.html">Petter Reinholdtsen: "SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<li> <b>Maybe in reply to:</b> <a href="0163.html">Petter Reinholdtsen: "SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0174.html">Andreas Beck: "Re: SG_BIG_BUFF, glibc 2.1 weirdness ..."</a>
<!-- reply="end" -->
</ul>
