<!-- received="Mon Aug 16 01:31:20 1999 PDT" -->
<!-- sent="Mon, 16 Aug 1999 10:29:56 +0200 (MET DST)" -->
<!-- name="becka@rz.uni-duesseldorf.de" -->
<!-- email="becka@rz.uni-duesseldorf.de" -->
<!-- subject="Re: 2 scanners under Linux" -->
<!-- id="199908160829.KAA02505@zeus.rz.uni-duesseldorf.de" -->
<!-- inreplyto="37B7C44A.8328C9AE@ruhr-uni-bochum.de" -->
<title>sane-devel: Re: 2 scanners under Linux</title>
<h1>Re: 2 scanners under Linux</h1>
<a href="mailto:becka@rz.uni-duesseldorf.de"><i>becka@rz.uni-duesseldorf.de</i></a><br>
<i>Mon, 16 Aug 1999 10:29:56 +0200 (MET DST)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#192">[ date ]</a><a href="index.html#192">[ thread ]</a><a href="subject.html#192">[ subject ]</a><a href="author.html#192">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Ewald R. de Wit: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0191.html">Sebastian Ahrens: "2 scanners under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi !<br>
<p>
<i>&gt; I've got a problem with two scsi-scanners under Linux. How can I make</i><br>
<i>&gt; both accesible? According to /proc/scsi/scsi both are recognized in the</i><br>
<i>&gt; system. I am running a SuSE 6.1 Linux; the yast menu allows only one</i><br>
<i>&gt; scanner to be installed and when doing it manually there is the problem</i><br>
<i>&gt; with the ln -s for /dev/scanner: Which one should I let the symlink</i><br>
<i>&gt; point to?</i><br>
<p>
None. Or create /dev/scanner1 and /dev/scanner2.<br>
<p>
The point is, that you have to edit the sane configuration files.<br>
<p>
They are usually located in $prefix/etc/sane.d/, where prefix should <br>
be /usr for distributions. It might however be, that SuSe put it directly to <br>
/etc. You have to edit the &lt;scannertype&gt;.conf file (e.g. mustek.conf)<br>
and list the appropriate devices. <br>
<p>
Moreover, if you want to scan as non-root, you might want to use mknod to <br>
create real aliases instead of the symlinks and give them appropriate <br>
permissions. I'd suggest to create a group "sane" or "scanner", add the<br>
appropriate users in, chgrp the device nodes to it, and make sure the<br>
scanner devices are group-read/write (yes, write is needed).<br>
<p>
CU, ANdy<br>
<p>
<pre>
-- 
Andreas Beck              |  Email :  &lt;<a href="mailto:Andreas.Beck@ggi-project.org">Andreas.Beck@ggi-project.org</a>&gt;
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0193.html">Ewald R. de Wit: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0191.html">Sebastian Ahrens: "2 scanners under Linux"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
