<!-- received="Mon Aug 16 21:29:54 1999 PDT" -->
<!-- sent="Mon, 16 Aug 1999 23:48:41 -0400" -->
<!-- name="Tom Martone" -->
<!-- email="tom@martoneconsulting.com" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="SANE V2" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Tom Martone</b> (<a href="mailto:tom@martoneconsulting.com"><i>tom@martoneconsulting.com</i></a>)<br>
<i>Mon, 16 Aug 1999 23:48:41 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#198">[ date ]</a><a href="index.html#198">[ thread ]</a><a href="subject.html#198">[ subject ]</a><a href="author.html#198">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Petter Reinholdtsen: "CVS unstable development tree"</a>
<li> <b>Previous message:</b> <a href="0197.html">Joachim Heidemeier: "microtek X6 advance and TMA"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
<a href="mailto:becka@rz.uni-duesseldorf.de">becka@rz.uni-duesseldorf.de</a> wrote:<br>
<p>
<i>&gt; &gt; &gt; I am fully with you, that SANE is intended for scanners, and should target</i><br>
<i>&gt; &gt; &gt; images, but if we can add other file types at no cost, Why not ?</i><br>
<i>&gt; &gt; I'd just add that the G31D, G32D, and G42D need the getparm stuff.  These</i><br>
<i>&gt; &gt; datastreams do not have the height and width encoded within them, but these</i><br>
<i>&gt; &gt; are necessary to decoding.  You also need the resolution(s) which can be</i><br>
<i>&gt; &gt; gotten by querying the option(s).</i><br>
<i>&gt; </i><br>
<i>&gt; I see. I also do not say, that the parameter struct shall always be empty</i><br>
<i>&gt; or bogus, if we use the MIME transfer type.</i><br>
<i>&gt; </i><br>
<i>&gt; If a field makes sense, we should fill it out reasonably.</i><br>
I think it would be adviseable to clearly define what the requirements<br>
are in terms of the values in the parameter struct for each frame<br>
type.  I think that if you set out to define that for the MIME frame<br>
type that you propose, you may have a long definition that will <br>
refer to different requirements for the different types of data <br>
encoded in the MIME stream.  Then, since the MIME is designed to be<br>
extensible, you'll have undefined behavior for any encoded type<br>
that's added after you write the description.  How would you word<br>
this in the standard?<br>
<p>
<i>&gt; &gt; (It'd be nice to have the resolution(s)</i><br>
<i>&gt; &gt; in the SANE_Parameter structure, but not at all necessary).</i><br>
<i>&gt; </i><br>
<i>&gt; O.K. - I see the point in this. So it seems necessary to extend the params</i><br>
<i>&gt; struct anyway - right ?</i><br>
I'm saying that it would be nice, but I realize that changing the <br>
SANE_Parameter structure would be a more serious change, maybe resulting<br>
in a major version.  I'm sure there are other things that might be useful<br>
there, too.  I don't think changing the SANE_Parameters structure is<br>
necessary, since the resolution(s) are fairly easily obtainable through<br>
SANE options.  My preference would be to add the frame types without<br>
modification to the SANE_Parameters structure, and handle the whole<br>
thing as a minor release.  If, in a major release, the SANE_Parameters<br>
were changed, the resolutions would be a good addition.<br>
<p>
<i>&gt; &gt; I think the MIME idea has merit *in addition* to the frame types that</i><br>
<i>&gt; &gt; I proposed earlier.  When MIME will be used *instead*, then I'm unhappy.</i><br>
<i>&gt; </i><br>
<i>&gt; You are proposing something in between of 5-10 new frametypes. And</i><br>
<i>&gt; frametypes are very indescriptive with respect to binary compatibility.</i><br>
You raise the point of binary compatibility which needs serious <br>
attention.  I'm certainly no expert with regards to that, but could you<br>
tell me how the MIME frame type avoids the issue or handles it properly?<br>
formats, they are rigorously defined and meant to be cross-platform.<br>
The genesis of these formats was in the telecommunications area for<br>
facsimile transmission.  How does this break binary compatibility?<br>
I guess that saned is the key piece here, because it can potentially<br>
transfer data between different platforms.  The issues with the CCITT<br>
formats would be color-sex (is 0 white or black?) and bit-sex (what<br>
is the order of the bits within the byte).  Do we need to define<br>
the formats further, (e.g. specifying LSB/MSB, etc)?  I defer to you<br>
on this.  <br>
<p>
<i>&gt; You can convey any information you can put into a frametype in a string</i><br>
<i>&gt; as well. And a string can be displayed to the user or looked up in a</i><br>
<i>&gt; user-readable/writeable database to find something to do with the data.</i><br>
Strings are nice, I agree.   Here's a snippet from scanimage and another<br>
snippet from xscanimage.  They are converting the existing frametype<br>
numbers into strings for presentation to the user.  We could probably<br>
benefit from adding a utility function (in sanei directory?) which<br>
returns the string representation for a frametype.  When a frametype<br>
is added, so is the string.  Then we can display consistent strings <br>
to the user.<br>
<p>
from scanimage.c<br>
  static const char *format_name[] =<br>
    {<br>
      "gray", "RGB", "red", "green", "blue"<br>
    };<br>
  ...<br>
  fprintf (stderr, "%s: acquiring %s frame\n", prog_name,<br>
        format_name[parm.format]);<br>
<p>
<p>
from xscanimage.c<br>
  switch (scan_win.param.format)<br>
    {<br>
    case SANE_FRAME_RGB:        frame_type = "RGB"; break;<br>
    case SANE_FRAME_RED:        frame_type = "red"; break;<br>
    case SANE_FRAME_GREEN:      frame_type = "green"; break;<br>
    case SANE_FRAME_BLUE:       frame_type = "blue"; break;<br>
    case SANE_FRAME_GRAY:       frame_type = "gray"; break;<br>
    }<br>
<p>
<i>&gt; &gt; I think the multiple image frametypes are deserving of first class</i><br>
<i>&gt; &gt; attention (e.g. their own frame types).</i><br>
<i>&gt; </i><br>
<i>&gt; Note, that this is very bad for binary compatibility. If you get a backend</i><br>
<i>&gt; that is newer than your frontend (not unusual, once manufacturer's start</i><br>
<i>&gt; making backends), chances are, that you find it is willing to transmit in</i><br>
<i>&gt; an unknown frametype. There is no reasonable way to find out, what this</i><br>
<i>&gt; number means.</i><br>
<i>&gt; </i><br>
<i>&gt; A string gives the chance to ask the user.</i><br>
Adding the string to the SANE_Parameters struct now breaks binary<br>
compatibility, too, and in a more incompatible way, I think.  <br>
If the backend provides a basic format as the default transmission<br>
format, (there seems to be agreement on this), the user of the older<br>
frontend has to select a different format to get the "unknown" format<br>
sent.<br>
<p>
<i>&gt; &gt; The MIME frametype has the advantage of extensibility, but seems to</i><br>
<i>&gt; &gt; require more smarts in the  frontend.</i><br>
<i>&gt; </i><br>
<i>&gt; Apart from replacing a switch() with a chain of if (strcmp()==) else if ...</i><br>
<i>&gt; I see no difference.</i><br>
It seems as though we have to become MIME parsers to get at any image data<br>
other than _GRAY, _RBG, _RED, _BLUE, and _GREEN.  We also hand over the<br>
MIME the job of defining the image transmission formats and my system's<br>
MIME database does not have _G42D, _G32D, _G31D and _JBIG.  I guess the<br>
_JFIF is equivalent to image/jpeg, so you have one out of the five<br>
addressed in my MIME database.  Maybe I need to enhance my MIME database?  <br>
These are the image formats that I see:<br>
<p>
image/gif                       gif<br>
image/ief                       ief<br>
image/jpeg                      jpe jpeg jpg<br>
image/x-portable-bitmap         pbm<br>
image/x-portable-graymap        pgm<br>
image/x-portable-anymap         pnm<br>
image/x-portable-pixmap         ppm<br>
image/x-cmu-raster              ras<br>
image/x-rgb                     rgb<br>
image/tiff                      tif tiff<br>
image/x-xbitmap                 xbm<br>
image/x-xpixmap                 xpm<br>
image/x-xwindowdump             xwd<br>
<p>
<p>
<i>&gt; I do not see a difference in complexity.</i><br>
<i>&gt; </i><br>
<i>&gt; &gt;   switch(parms.frametype) {</i><br>
<i>&gt; &gt;         case FT_JPG:...</i><br>
<i>&gt; &gt;         case FT_TIFFG3:...</i><br>
<i>&gt; &gt;         case FT_MIME:</i><br>
<i>&gt; &gt;            if (strcmp(parms.mimetype,"image/jpeg")==0) {</i><br>
<i>&gt; &gt;               ...</i><br>
<i>&gt; &gt;            } else if (strcmp(parms.mimetype,"image/tiffg3")==0) {</i><br>
<i>&gt; &gt;               ...</i><br>
<i>&gt; &gt;            }</i><br>
<i>&gt; &gt;   }</i><br>
<i>&gt; </i><br>
<i>&gt; Why at all having the extra types, then ?</i><br>
I made a sloppy example here.  Sorry for the confusion.  But given a<br>
well defined, _G42D, _G32D, _G31D and _JFIF, no backend writer would<br>
choose to send that data MIME encoded.  So my example should show things<br>
like "audio/ulaw", "video/x-msvideo", and other futuristic things as<br>
the targets of the strcmp.<br>
<p>
Or look at it another way.  Would you suggest sending the good old _GRAY<br>
and _RGB as "image/x-portable-bitmap", "image/x-portable-graymap", <br>
"image/x-portable-anymap"?<br>
<p>
<i>&gt; The point is: If an application wants to handle a frametype, it needs to</i><br>
<i>&gt; know it. If it knows the frametype, it as well knows the mimetype, as there</i><br>
<i>&gt; is a 1:1 relation.</i><br>
What would be the 1:1 relation to _RED, _BLUE, and _GREEN on the MIME<br>
side?<br>
<p>
<i>&gt; &gt; I think the image formats proposed earlier (JFIF, G31D, G32D, G42D, and JBIG)</i><br>
<i>&gt; &gt; need their own frame formats.  The MIME based one is quite extensible and</i><br>
<i>&gt; &gt; can handle future growth.</i><br>
<i>&gt; </i><br>
<i>&gt; O.K. - if it really really really pleases all people here, we can add that</i><br>
<i>&gt; types. But as said, I am afraid of opening a neverending growth of the</i><br>
<i>&gt; frame types, which is very bad regarding compatibility and cannot be easily</i><br>
<i>&gt; extended by just editing a textfile or something.</i><br>
I understand you concern about the neverending growth of frametypes.<br>
I don't see this as neverending, though, especially if we require<br>
rigorous definition that ensures that the data can transmitted between<br>
differing platforms.<br>
<p>
But by adding the MIME one you're really opening up a can of worms.<br>
Although it is only one "frametype", you've essentially opened up <br>
the transmission of all present and future mime-types in one fell<br>
swoop without the SANE standard having any role in providing definition.<br>
<p>
When you consider the negotiating between frontends and backends, do<br>
they negotiate the MIME frame alone, or each of the MIME types?  <br>
<p>
If it is the former, the negotiation capability is severely degraded<br>
because if a frontend wants a single or few MIME types, then it then <br>
better be prepared to deal with *all* MIME types.<br>
<p>
If it is the latter, then the negotiation gets messy because you are<br>
negotiating both numeric frametypes and, for the MIME frametype, string<br>
subtypes.<br>
<p>
Tom Martone<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0199.html">Petter Reinholdtsen: "CVS unstable development tree"</a>
<li> <b>Previous message:</b> <a href="0197.html">Joachim Heidemeier: "microtek X6 advance and TMA"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
