<!-- received="Fri Aug 20 05:54:09 1999 PDT" -->
<!-- sent="Fri, 20 Aug 1999 14:04:23 +0200 (CDT)" -->
<!-- name="Yuri Dario" -->
<!-- email="mc6530@mclink.it" -->
<!-- subject="Re: Starting a discussion about SANE and TWAIN..." -->
<!-- id="199908201257.OAA22513@mail1.mclink.it" -->
<!-- inreplyto="852567D2.005B80B6.00@knotes.kodak.com" -->
<title>sane-devel: Re: Starting a discussion about SANE and TWAIN...</title>
<h1>Re: Starting a discussion about SANE and TWAIN...</h1>
<b>Yuri Dario</b> (<a href="mailto:mc6530@mclink.it"><i>mc6530@mclink.it</i></a>)<br>
<i>Fri, 20 Aug 1999 14:04:23 +0200 (CDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#241">[ date ]</a><a href="index.html#241">[ thread ]</a><a href="subject.html#241">[ subject ]</a><a href="author.html#241">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Oliver Rauch: "Re: SANE frames"</a>
<li> <b>Previous message:</b> <a href="0240.html">David Mosberger-Tang: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi Mark,<br>
<p>
<i>&gt;The application loads the TWAIN Source Manager</i><br>
<i>&gt;discovers the available Sources by searching for</i><br>
<i>&gt;any files with the extension ".ds" in either the</i><br>
<p>
now I'm understanding the difference between DSM and DS entries in a<br>
twain dll.<br>
<p>
<i>&gt;One way of connecting to a SANE driver is to write a</i><br>
<i>&gt;generic TWAIN Source and copy it, so we get</i><br>
<p>
having a base source will help a lot; in the past I have tried such<br>
work under OS/2, but resolving all combinations of parameters was a<br>
hard work, and I didn't finish it.<br>
<p>
With a source of a generic .ds with all combinations of DG_* and DAT_*<br>
constants, it should be quite easy to integrate sane and twain.<br>
<p>
<p>
Bye,<br>
<p>
	Yuri Dario<br>
<p>
/*<br>
 * member of TeamOS/2 - Italy<br>
 * <a href="http://www.quasarbbs.com/yuri">http://www.quasarbbs.com/yuri</a><br>
 */<br>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0242.html">Oliver Rauch: "Re: SANE frames"</a>
<li> <b>Previous message:</b> <a href="0240.html">David Mosberger-Tang: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
