<!-- received="Fri Aug 20 08:24:39 1999 PDT" -->
<!-- sent="Fri, 20 Aug 1999 08:27:48 -0700" -->
<!-- name="Stephen Williams" -->
<!-- email="steve@icarus.com" -->
<!-- subject="Re: SANE frames" -->
<!-- id="199908201527.IAA28436@icarus.com" -->
<!-- inreplyto="37BD5CC1.BF21B54@wolfsburg.de" -->
<title>sane-devel: Re: SANE frames</title>
<h1>Re: SANE frames</h1>
<b>Stephen Williams</b> (<a href="mailto:steve@icarus.com"><i>steve@icarus.com</i></a>)<br>
<i>Fri, 20 Aug 1999 08:27:48 -0700</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#244">[ date ]</a><a href="index.html#244">[ thread ]</a><a href="subject.html#244">[ subject ]</a><a href="author.html#244">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Nick Lamb: "Re: SANE frames"</a>
<li> <b>Previous message:</b> <a href="0243.html">David Mosberger-Tang: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I'm not sure what you mean by "multiple images that are acquired with</i><br>
<i>&gt; one scan".  Can you elaborate?</i><br>
<p>
And to add to the list, I have several scanners that simultaneously<br>
create color and binary images, front and back, of the same page.<br>
One scanner even has selectable color/gray/binary windows on each<br>
side. 8 of each, front and back.<br>
<p>
That is a maximum of 48 images per page. (You can have more if you<br>
ask me, because I can change a compile time constant on the firmware.)<br>
<p>
And of course each image can have different formats: jpeg, TIFF/G4, etc.<br>
<p>
<pre>
-- 
Steve Williams                "The woods are lovely, dark and deep.
<a href="mailto:steve@icarus.com">steve@icarus.com</a>              But I have promises to keep,
<a href="mailto:steve@picturel.com">steve@picturel.com</a>            and lines to code before I sleep,
<a href="http://www.picturel.com">http://www.picturel.com</a>       And lines to code before I sleep."
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0245.html">Nick Lamb: "Re: SANE frames"</a>
<li> <b>Previous message:</b> <a href="0243.html">David Mosberger-Tang: "Re: SANE frames"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
