<!-- received="Fri Aug 20 20:50:53 1999 PDT" -->
<!-- sent="Sat, 21 Aug 1999 13:23:53 +0930" -->
<!-- name="Greg Lehey" -->
<!-- email="grog@lemis.com" -->
<!-- subject="Re: Acer Scanners" -->
<!-- id="" -->
<!-- inreplyto="37BE212C.8790ED32@alphalink.com.au" -->
<title>sane-devel: Re: Acer Scanners</title>
<h1>Re: Acer Scanners</h1>
<b>Greg Lehey</b> (<a href="mailto:grog@lemis.com"><i>grog@lemis.com</i></a>)<br>
<i>Sat, 21 Aug 1999 13:23:53 +0930</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#251">[ date ]</a><a href="index.html#251">[ thread ]</a><a href="subject.html#251">[ subject ]</a><a href="author.html#251">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Menaka Lashitha Bandara: "Re: Acer Scanners"</a>
<li> <b>Previous message:</b> <a href="0250.html">Menaka Lashitha Bandara: "Acer Scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
On Saturday, 21 August 1999 at 13:46:52 +1000, Menaka Lashitha Bandara wrote:<br>
<i>&gt; I have an Acer 610S scanner, and the only thing stopping me from</i><br>
<i>&gt; deleting my windows partition is the scanner. Since Sane doesn't have</i><br>
<i>&gt; support for this, I wrote to the people at Acer. They asked me a few</i><br>
<i>&gt; questions, which I would rather someone more experienced answered. He</i><br>
<i>&gt; also wanted some help if they were to write a driver... so who shall</i><br>
<i>&gt; I recommend?</i><br>
<p>
Funny you should mention that.  Gary &lt;<a href="mailto:gmp@superlink.net">gmp@superlink.net</a>&gt; has done a<br>
driver for the 620S, but he did it without any support from Acer, and<br>
he wasn't very happy with the results, so it wouldn't be a bad idea to<br>
follow up.  At least you have somebody to talk to at Acer :-)<br>
<p>
I have a 620U (USB connect), and I'd really like to write a driver for<br>
it.  Is your Acer contact in Australia?  If so, I could have a chat<br>
with him.  I'd also be prepared to do the work, especially if they pay<br>
for it.  We should probably follow this up off-line.<br>
<p>
Greg<br>
<pre>
--
See complete headers for address, home page and phone numbers
finger <a href="mailto:grog@lemis.com">grog@lemis.com</a> for PGP public key
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0252.html">Menaka Lashitha Bandara: "Re: Acer Scanners"</a>
<li> <b>Previous message:</b> <a href="0250.html">Menaka Lashitha Bandara: "Acer Scanners"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
