<!-- received="Mon Aug 23 07:20:11 1999 PDT" -->
<!-- sent="Mon, 23 Aug 1999 08:25:01 -0600 (MDT)" -->
<!-- name="Kevin Charter" -->
<!-- email="charter@cs.ualberta.ca" -->
<!-- subject="Re: Acer Scanners" -->
<!-- id="19990823142510Z13329-13771+81@scapa.cs.ualberta.ca" -->
<!-- inreplyto="37BE212C.8790ED32@alphalink.com.au" -->
<title>sane-devel: Re: Acer Scanners</title>
<h1>Re: Acer Scanners</h1>
<b>Kevin Charter</b> (<a href="mailto:charter@cs.ualberta.ca"><i>charter@cs.ualberta.ca</i></a>)<br>
<i>Mon, 23 Aug 1999 08:25:01 -0600 (MDT)</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#280">[ date ]</a><a href="index.html#280">[ thread ]</a><a href="subject.html#280">[ subject ]</a><a href="author.html#280">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0279.html">Richard Tobin: "Re: UMAX parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
<i>&gt; I have an Acer 610S scanner, and the only thing stopping me from</i><br>
<i>&gt; deleting my windows partition is the scanner. Since Sane doesn't have</i><br>
<i>&gt; support for this, I wrote to the people at Acer. They asked me a few</i><br>
<i>&gt; questions, which I would rather someone more experienced answered. He</i><br>
<i>&gt; also wanted some help if they were to write a driver... so who shall</i><br>
<i>&gt; I recommend?</i><br>
<p>
There is one Acer scanner (I'm not sure which model; 310s??) that has<br>
sometimes worked with the SnapScan backend. If you'd like to try<br>
that I can give you some instructions.<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0281.html">Oliver Rauch: "Re: UMAX parallel port scanner"</a>
<li> <b>Previous message:</b> <a href="0279.html">Richard Tobin: "Re: UMAX parallel port scanner"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
