<!-- received="Thu Aug 26 17:29:30 1999 PDT" -->
<!-- sent="Thu, 26 Aug 1999 19:47:18 -0400" -->
<!-- name="Tom Martone" -->
<!-- email="tom@martoneconsulting.com" -->
<!-- subject="Re: SANE V2" -->
<!-- id="" -->
<!-- inreplyto="SANE V2" -->
<title>sane-devel: Re: SANE V2</title>
<h1>Re: SANE V2</h1>
<b>Tom Martone</b> (<a href="mailto:tom@martoneconsulting.com"><i>tom@martoneconsulting.com</i></a>)<br>
<i>Thu, 26 Aug 1999 19:47:18 -0400</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#315">[ date ]</a><a href="index.html#315">[ thread ]</a><a href="subject.html#315">[ subject ]</a><a href="author.html#315">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0316.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0314.html">Per Aalrust: "Mustek ScanExpress 12000 SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0296.html">Nick Lamb: "SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0316.html">Tom Martone: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Greetings,<br>
<p>
Nick Lamb wrote:<br>
<i>&gt; </i><br>
<i>&gt; ...I've written up a draft of how I</i><br>
<i>&gt; currently think SANE 1.2 / SANE 2 should look. </i><br>
Some comments follow:<br>
<p>
Section 3.2.2<br>
<p>
SANE_FRAME_TEXT<br>
I'd suggest removing the last sentence: "The text in this frame is <br>
associated with the preceding image or images."  I think that since<br>
the content of the frame is defined by the backend, we should not assume<br>
any association of the frame with its neighbors.  You could have the<br>
rather odd case of the scanner decoding barcodes only and in that case<br>
there would be no preceding image(s).  I think that a dutiful backend <br>
would document the sequence of its frames and point to how any useful<br>
associations between them could be made.<br>
<p>
I'd also add what will be expected in the SANE_Parameters structure<br>
for this frame (I know that you've added some mention of this in <br>
section 4.3.8, but it would be helpful here too).  Perhaps something<br>
like this:  <br>
  "The values specified in the SANE_Parameters structure for <br>
  this frametype should be: depth = 0, pixels_per_line = 0,<br>
  bytes_per_line = 1, and lines should contain the number of bytes in<br>
  the frame or -1 if this not known a priori."<br>
<p>
SANE_FRAME_JPEG<br>
...a typo?...  "the results in The JPEG data" <br>
                               ^<br>
<p>
SANE_FRAME_G31D, _G32D, G42D, _JPEG<br>
<p>
Again I'd add a hint about the SANE_Parameters values here as well.<br>
<p>
  "The values specified in the SANE_Parameters structure represent <br>
   the parameters of the decoded image."<br>
<p>
Section 4.3.8<br>
<p>
The sentences regarding the optional frame types would not apply quite<br>
well to the _TEXT frame type.  Another reason why I though the proper<br>
settings of the SANE_Parameter values might best be dealt with in section<br>
3.2.2 where you could deal with them on a frame by frame basis.  Note that<br>
there is existing language here pointing the reader to section 3.2.<br>
<p>
<p>
Tom Martone<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0316.html">Tom Martone: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0314.html">Per Aalrust: "Mustek ScanExpress 12000 SP"</a>
<li> <b>Maybe in reply to:</b> <a href="0296.html">Nick Lamb: "SANE V2"</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0316.html">Tom Martone: "Re: SANE V2"</a>
<!-- reply="end" -->
</ul>
