<!-- received="Fri Aug 27 11:24:37 1999 PDT" -->
<!-- sent="Fri, 27 Aug 1999 19:24:44 +0100" -->
<!-- name="Steve Darrall" -->
<!-- email="steve@haagen-dazs.org" -->
<!-- subject="Sharp JX-330 continued..." -->
<!-- id="199908271824.LAA01358@panda.mostang.com" -->
<!-- inreplyto="" -->
<title>sane-devel: Sharp JX-330 continued...</title>
<h1>Sharp JX-330 continued...</h1>
<b>Steve Darrall</b> (<a href="mailto:steve@haagen-dazs.org"><i>steve@haagen-dazs.org</i></a>)<br>
<i>Fri, 27 Aug 1999 19:24:44 +0100</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#320">[ date ]</a><a href="index.html#320">[ thread ]</a><a href="subject.html#320">[ subject ]</a><a href="author.html#320">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0321.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0319.html">Steve Darrall: "SANE with a SHARP JX-330"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Some other information that may be of use....<br>
<p>
I'm using SANE 1.0.1. It was configured just with --enable-shared and no other <br>
options.<br>
<p>
The strange this is that in the sane libs directory (/usr/local/lib/sane) <br>
there's only statically linked files (.a) and no dunamically linked files...<br>
<p>
Maybe I did have an option enabled that should've been?<br>
<p>
The only other thing I changed from the defaults was to add -lcam to the <br>
Makefile in the tools directories.<br>
<p>
Steve<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0321.html">Oliver Rauch: "Re: SANE V2"</a>
<li> <b>Previous message:</b> <a href="0319.html">Steve Darrall: "SANE with a SHARP JX-330"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
