<!-- received="Mon Aug 30 08:54:00 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 17:54:31 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SANE V2 - again..." -->
<!-- id="" -->
<!-- inreplyto="SANE V2 - again..." -->
<title>sane-devel: Re: SANE V2 - again...</title>
<h1>Re: SANE V2 - again...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 30 Aug 1999 17:54:31 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#334">[ date ]</a><a href="index.html#334">[ thread ]</a><a href="subject.html#334">[ subject ]</a><a href="author.html#334">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0335.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0333.html">Stephen Williams: "Re: SANE V2 - again..."</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0335.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Milon Firikis wrote:<br>
<p>
<i>&gt;</i><br>
<i>&gt;</i><br>
<i>&gt; I won't comment on the language support. But since we are talking about</i><br>
<i>&gt; new documented capabilities (SANE standard revision) I would like to see</i><br>
<i>&gt; some means for:</i><br>
<i>&gt;</i><br>
<i>&gt; -reading files with array of numbers as information. This would be</i><br>
<i>&gt; useful to read/save/store</i><br>
<i>&gt;         -Gamma Tables</i><br>
<i>&gt;         -Calibration vectors    (3x256)</i><br>
<i>&gt;         -Color Correction tables (3x3 integer matrix)</i><br>
<i>&gt;         -Halftone patterns      (4x4, or 8x8 PGM images)</i><br>
<i>&gt;</i><br>
<i>&gt; Some of them may be "well known options" like the Gamma tables.</i><br>
<i>&gt; Currently SANE provides some way of downloading GAMMA tables but the</i><br>
<i>&gt; procedure is not well documented IIRC.</i><br>
<i>&gt;</i><br>
<p>
Hi,<br>
<p>
the gamma tables should be well known options, may be the halftone patterns too,<br>
<p>
we should add that to the next sane standard.<br>
<p>
For what do you need the calibration vector in the frontend, that should be<br>
handled only in the backend.<br>
<p>
If we want to add color correction as a "midend" it could be interesting<br>
to add a well known option for the color correction matrix (3x3).<br>
But this could also be done in a frontend, that does not make much<br>
work so I would'nt write a midend for it.<br>
<p>
Bye<br>
Oliver<br>
<p>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0335.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<li> <b>Previous message:</b> <a href="0333.html">Stephen Williams: "Re: SANE V2 - again..."</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0335.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
