<!-- received="Mon Aug 30 10:12:58 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 20:12:53 +0300" -->
<!-- name="Milon Firikis" -->
<!-- email="milonf@ariadne-t.gr" -->
<!-- subject="Re: SANE V2 - again..." -->
<!-- id="" -->
<!-- inreplyto="SANE V2 - again..." -->
<title>sane-devel: Re: SANE V2 - again...</title>
<h1>Re: SANE V2 - again...</h1>
<b>Milon Firikis</b> (<a href="mailto:milonf@ariadne-t.gr"><i>milonf@ariadne-t.gr</i></a>)<br>
<i>Mon, 30 Aug 1999 20:12:53 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#340">[ date ]</a><a href="index.html#340">[ thread ]</a><a href="subject.html#340">[ subject ]</a><a href="author.html#340">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0341.html">Hugo van der Kooij: "Re: Mustek MFS-6000CX, once again please."</a>
<li> <b>Previous message:</b> <a href="0339.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0343.html">abel deuring: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Oliver Rauch wrote:<br>
<i>&gt; </i><br>
<i>&gt; </i><br>
<i>&gt; Hi,</i><br>
<i>&gt; </i><br>
<i>&gt; the gamma tables should be well known options, may be the halftone patterns too,</i><br>
<i>&gt; </i><br>
<i>&gt; we should add that to the next sane standard.</i><br>
<i>&gt; </i><br>
<i>&gt; For what do you need the calibration vector in the frontend, that should be</i><br>
<i>&gt; handled only in the backend.</i><br>
<i>&gt; </i><br>
<i>&gt; If we want to add color correction as a "midend" it could be interesting</i><br>
<i>&gt; to add a well known option for the color correction matrix (3x3).</i><br>
<i>&gt; But this could also be done in a frontend, that does not make much</i><br>
<i>&gt; work so I would'nt write a midend for it.</i><br>
<i>&gt; </i><br>
<i>&gt; Bye</i><br>
<i>&gt; Oliver</i><br>
<i>&gt; </i><br>
<p>
Halo Oliver,<br>
<p>
Apple scanners allow download able<br>
	Halftone patterns,<br>
	Color Correction Tables, <br>
	Calibration Vectors,<br>
	Gamma Tables<br>
<p>
Are you sure you can do the work in some midend or frontend for all of<br>
them?<br>
	-For Gamma definitely not<br>
	-For HalfTone<br>
		You can scan Gray level and convert<br>
		to bitmap using the Halftone pattern to	decide<br>
		what is white and what is black but that defies<br>
		the purpose of the B&amp;W scanning anyway.<br>
	-For Color Correction you should probably know the<br>
	Initial CCT in order to make the correct transformations.<br>
	You can always assume the I (identity matrix) but I don't think<br>
	that holds true for apple scanners at least.<br>
	-For calibration I don't have the manual handy and cannot comment.<br>
<p>
The question is it worth the trouble?<br>
<p>
I think it is better to allow the possibility of downloading info to the<br>
scanner, where it is GAMMA, CCT, calibration or halftone patterns.<br>
<p>
	MF<br>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0341.html">Hugo van der Kooij: "Re: Mustek MFS-6000CX, once again please."</a>
<li> <b>Previous message:</b> <a href="0339.html">abel deuring: "Re: SANE V2 - again..."</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0343.html">abel deuring: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
