<!-- received="Mon Aug 30 14:06:36 1999 PDT" -->
<!-- sent="Mon, 30 Aug 1999 23:08:12 +0200" -->
<!-- name="Oliver Rauch" -->
<!-- email="oliver.rauch@Wolfsburg.DE" -->
<!-- subject="Re: SANE V2 - again..." -->
<!-- id="" -->
<!-- inreplyto="SANE V2 - again..." -->
<title>sane-devel: Re: SANE V2 - again...</title>
<h1>Re: SANE V2 - again...</h1>
<b>Oliver Rauch</b> (<a href="mailto:oliver.rauch@Wolfsburg.DE"><i>oliver.rauch@Wolfsburg.DE</i></a>)<br>
<i>Mon, 30 Aug 1999 23:08:12 +0200</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#351">[ date ]</a><a href="index.html#351">[ thread ]</a><a href="subject.html#351">[ subject ]</a><a href="author.html#351">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0352.html">Adam Williams: "Xsane and GIF Images"</a>
<li> <b>Previous message:</b> <a href="0350.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0356.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
<!-- body="start" -->
abel deuring wrote:<br>
<p>
<i>&gt; Hi Oliver!</i><br>
<i>&gt;</i><br>
<i>&gt; &gt; If we want to add color correction as a "midend" it could be interesting</i><br>
<i>&gt; &gt; to add a well known option for the color correction matrix (3x3).</i><br>
<i>&gt; &gt; But this could also be done in a frontend, that does not make much</i><br>
<i>&gt; &gt; work so I would'nt write a midend for it.</i><br>
<i>&gt;</i><br>
<i>&gt; I would like to extend the topic of colour correction: Having a quite</i><br>
<i>&gt; simple option for a linear transformation is of course fine in many</i><br>
<i>&gt; situations, but it is not enough for high quality scans. [OK, the</i><br>
<i>&gt; following mixes the topics of colour correction and calibration...] Look</i><br>
<i>&gt; for example into some documents of the ICC</i><br>
<i>&gt; (<a href="http://www.color.org/profiles.html">http://www.color.org/profiles.html</a> or</i><br>
<i>&gt; <a href="http://www.color.org/iccprofiles.html">http://www.color.org/iccprofiles.html</a>): The ICC profiles allow for</i><br>
<i>&gt; non-linear transformations in order to achieve better quality. A quite</i><br>
<i>&gt; complicated but perhaps useful approach to use ICC profiles within Sane</i><br>
<i>&gt; qould be a transformation</i><br>
<p>
<i>&gt;   raw</i><br>
<i>&gt;    scan -----------------&gt; CIELab ------------------------&gt; output</i><br>
<i>&gt;    data    mapped using     data      mapped using an        data</i><br>
<i>&gt;           an ICC profile              ICC profile for</i><br>
<i>&gt;           for the scanner                CRT tubes</i><br>
<i>&gt;                                        (or whatever)</i><br>
<i>&gt; To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a></i><br>
<p>
Hi Abel,<br>
<p>
the question about color correction is always where do we get the<br>
device dependant correction values for our scanner/monitor/printer.<br>
<p>
We could create a 3x3 matrix of gamma tables and we would get<br>
almost all possible corrections. But the problem is to get the values for the<br>
matrix/table for each device.<br>
<p>
Is there a database for scanners/monitors and printers for the ICC?<br>
<p>
So before we integrate a good collor correction algorithm that almost<br>
nobody can use, we have to take a look if we are able to get or find out<br>
the relevant correction values for the color correction.<br>
<p>
If nothing other helps:<br>
As far as I see the correction via a 3x3 matrix is a simple and effective way<br>
and it should be possible to get the 9 values for the devices.<br>
<p>
Bye<br>
Oliver<br>
<p>
<pre>
--
EMAIL: <a href="mailto:Oliver.Rauch@Wolfsburg.DE">Oliver.Rauch@Wolfsburg.DE</a>
WWW: <a href="http://www.wolfsburg.de/~rauch">http://www.wolfsburg.de/~rauch</a>
<p>
<p>
<p>
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0352.html">Adam Williams: "Xsane and GIF Images"</a>
<li> <b>Previous message:</b> <a href="0350.html">Brian Macy: "Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint"</a>
<li> <b>Maybe in reply to:</b> <a href="0327.html">abel deuring: "SANE V2 - again..."</a>
<!-- nextthread="start" -->
<li> <b>Next in thread:</b> <a href="0356.html">Oliver Rauch: "Re: SANE V2 - again..."</a>
<!-- reply="end" -->
</ul>
