<title>sane-devel by date</title>
<a name="start"><h1>sane-devel by date</h1></a>
<ul>
<li> <b><a href="#end">Most recent messages</a></b>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</b>
</ul>
<p>
<b>Starting:</b> <i>Sun 01 Aug 1999 - 07:56:53 PDT</i><br>
<b>Ending:</b> <i>Tue 31 Aug 1999 - 09:14:44 PDT</i><br>
<b>Messages:</b> 366
<p>
<ul>
<li> <a href="0000.html"><b>FAQish questions: Which scanner ?</b></a> <a name="0"><i>John Vickers</i></a>
<li> <a href="0001.html"><b>Re: FAQish questions: Which scanner ?</b></a> <a name="1"><i>Oliver Rauch</i></a>
<li> <a href="0002.html"><b>Re: FAQish questions: Which scanner ?</b></a> <a name="2"><i>BARONET Eric</i></a>
<li> <a href="0003.html"><b>Re: FAQish questions: Which scanner ?</b></a> <a name="3"><i>Chris Pinkham</i></a>
<li> <a href="0004.html"><b>Re: SANE &amp; exposure times</b></a> <a name="4"><i>Oliver Rauch</i></a>
<li> <a href="0005.html"><b>xsane-0.31 available</b></a> <a name="5"><i>Oliver Rauch</i></a>
<li> <a href="0006.html"><b>Re: FAQish questions: Which scanner ?</b></a> <a name="6"><i>Oliver Rauch</i></a>
<li> <a href="0007.html"><b>Re: Can I use Tekram DC-390 SCSI card on Linux box?</b></a> <a name="7"><i>Andreas</i></a>
<li> <a href="0008.html"><b>Re: Re: Can I use Tekram DC-390 SCSI card on Linux box?</b></a> <a name="8"><i>afadu209@oct.zaq.ne.jp</i></a>
<li> <a href="0009.html"><b>Re: xsane-0.31 available</b></a> <a name="9"><i>Nick Lamb</i></a>
<li> <a href="0010.html"><b>Re: xsane-0.31 available</b></a> <a name="10"><i>Andreas Rick</i></a>
<li> <a href="0011.html"><b>Re: xsane-0.31 available</b></a> <a name="11"><i>Oliver Rauch</i></a>
<li> <a href="0012.html"><b>Re: xsane-0.31 available</b></a> <a name="12"><i>Ewald R. de Wit</i></a>
<li> <a href="0013.html"><b>Re: xsane-0.31 available</b></a> <a name="13"><i>Oliver Rauch</i></a>
<li> <a href="0014.html"><b>info about a mustek and an artec scanner needed.....</b></a> <a name="14"><i>Vmax</i></a>
<li> <a href="0015.html"><b>Re: info about a mustek and an artec scanner needed.....</b></a> <a name="15"><i>Chris Pinkham</i></a>
<li> <a href="0016.html"><b>Re: xsane-0.31 available</b></a> <a name="16"><i>Ewald R. de Wit</i></a>
<li> <a href="0017.html"><b>Re: xsane-0.31 available</b></a> <a name="17"><i>Stephen Williams</i></a>
<li> <a href="0018.html"><b>Re: xsane-0.31 available</b></a> <a name="18"><i>Gus Baldauf</i></a>
<li> <a href="0019.html"><b>SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="19"><i>Andreas Rick</i></a>
<li> <a href="0020.html"><b>Sane + FreeBSD 3.2</b></a> <a name="20"><i>Allan Strand</i></a>
<li> <a href="0021.html"><b>Re: Sane + FreeBSD 3.2</b></a> <a name="21"><i>Oliver Rauch</i></a>
<li> <a href="0022.html"><b>Re: xsane-0.31 available</b></a> <a name="22"><i>Oliver Rauch</i></a>
<li> <a href="0023.html"><b>Re: Sane + FreeBSD 3.2</b></a> <a name="23"><i>Allan Strand</i></a>
<li> <a href="0024.html"><b>Re: Sane + FreeBSD 3.2</b></a> <a name="24"><i>Oliver Rauch</i></a>
<li> <a href="0025.html"><b>RGBI (was Re: xsane-0.31 available)</b></a> <a name="25"><i>Nick Lamb</i></a>
<li> <a href="0026.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="26"><i>Nick Lamb</i></a>
<li> <a href="0027.html"><b>Digital cameras (was Re: xsane-0.31 available)</b></a> <a name="27"><i>Nick Lamb</i></a>
<li> <a href="0028.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="28"><i>Oliver Rauch</i></a>
<li> <a href="0030.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="30"><i>Oliver Rauch</i></a>
<li> <a href="0029.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="29"><i>Oliver Rauch</i></a>
<li> <a href="0031.html"><b>Re: Sane + FreeBSD 3.2</b></a> <a name="31"><i>regis rampnoux</i></a>
<li> <a href="0032.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="32"><i>Nick Lamb</i></a>
<li> <a href="0033.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="33"><i>Stephen Williams</i></a>
<li> <a href="0034.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="34"><i>Oliver Rauch</i></a>
<li> <a href="0035.html"><b>Basic info needed</b></a> <a name="35"><i>Patrick L. McGillan</i></a>
<li> <a href="0036.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="36"><i>Oliver Rauch</i></a>
<li> <a href="0037.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="37"><i>Stephen Williams</i></a>
<li> <a href="0038.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="38"><i>Nick Lamb</i></a>
<li> <a href="0039.html"><b>Re: Sane + FreeBSD 3.2</b></a> <a name="39"><i>Allan Strand</i></a>
<li> <a href="0040.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="40"><i>Tom Martone</i></a>
<li> <a href="0041.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="41"><i>Steve Gunnell</i></a>
<li> <a href="0043.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="43"><i>Nick Lamb</i></a>
<li> <a href="0042.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="42"><i>Nick Lamb</i></a>
<li> <a href="0044.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="44"><i>Nick Lamb</i></a>
<li> <a href="0045.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="45"><i>Stephen Williams</i></a>
<li> <a href="0046.html"><b>JPEG scanner stuff</b></a> <a name="46"><i>Nick Lamb</i></a>
<li> <a href="0047.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="47"><i>Steve Gunnell</i></a>
<li> <a href="0048.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="48"><i>Andreas Rick</i></a>
<li> <a href="0049.html"><b>:-) Mit Sonnen-finsternis-brille / Wearing Eclipse glasses :-)</b></a> <a name="49"><i>BARONET Eric</i></a>
<li> <a href="0050.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="50"><i>Ewald R. de Wit</i></a>
<li> <a href="0051.html"><b>Re: SANE_FRAME Formats</b></a> <a name="51"><i>Andreas Rick</i></a>
<li> <a href="0052.html"><b>Re: SANE_FRAME Formats (was Re: xsane-0.31 available)</b></a> <a name="52"><i>Tom Martone</i></a>
<li> <a href="0053.html"><b>SANE-1.0.1,  Linux/m68k 2.0.36 (Amiga), Scanmaker E3+</b></a> <a name="53"><i>Chris Edwards</i></a>
<li> <a href="0054.html"><b>Re: JPEG scanner stuff</b></a> <a name="54"><i>Stephen Williams</i></a>
<li> <a href="0055.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="55"><i>David Fox</i></a>
<li> <a href="0056.html"><b>Re: SANE_FRAME Formats</b></a> <a name="56"><i>Ewald R. de Wit</i></a>
<li> <a href="0057.html"><b>Re: info about a mustek and an artec scanner needed.....</b></a> <a name="57"><i>Henning Meier-Geinitz</i></a>
<li> <a href="0058.html"><b>Re: scanimage and HP scanners</b></a> <a name="58"><i>Andreas Beck</i></a>
<li> <a href="0059.html"><b>Microtek ScanMaker V6USL</b></a> <a name="59"><i>Joe Waters</i></a>
<li> <a href="0060.html"><b>Re: Microtek ScanMaker V6USL</b></a> <a name="60"><i>Lee Bartolotti</i></a>
<li> <a href="0061.html"><b>Dust-removal and color-correction</b></a> <a name="61"><i>Andreas Rick</i></a>
<li> <a href="0062.html"><b>Autofocus problem with Coolscan  LS-30 backend</b></a> <a name="62"><i>Andreas</i></a>
<li> <a href="0064.html"><b>Re: Vivicam 2000 / Mustek VDC-100</b></a> <a name="64"><i>Andreas Beck</i></a>
<li> <a href="0063.html"><b>Re: Basic info needed</b></a> <a name="63"><i>Andreas Beck</i></a>
<li> <a href="0065.html"><b>Re: Dust-removal and color-correction</b></a> <a name="65"><i>Ewald R. de Wit</i></a>
<li> <a href="0066.html"><b>RE: Autofocus problem with Coolscan  LS-30 backend</b></a> <a name="66"><i>Bernhard Scheffold</i></a>
<li> <a href="0067.html"><b>Re: SANE-1.0.1,  Linux/m68k 2.0.36 (Amiga), Scanmaker E3+</b></a> <a name="67"><i>Bernd Schroeder</i></a>
<li> <a href="0068.html"><b>Re: Microtek ScanMaker V6USL</b></a> <a name="68"><i>Bernd Schroeder</i></a>
<li> <a href="0069.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="69"><i>Oliver Rauch</i></a>
<li> <a href="0070.html"><b>Descreen function</b></a> <a name="70"><i>Johan Brichau</i></a>
<li> <a href="0071.html"><b>Re: Descreen function</b></a> <a name="71"><i>Kick Glorie</i></a>
<li> <a href="0072.html"><b>Re: Microtek E3 won't scan, but II-G okay</b></a> <a name="72"><i>Irv Thomae</i></a>
<li> <a href="0073.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="73"><i>Steve Gunnell</i></a>
<li> <a href="0074.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="74"><i>Nick Lamb</i></a>
<li> <a href="0075.html"><b>Re: RGBI (was Re: xsane-0.31 available)</b></a> <a name="75"><i>Oliver Rauch</i></a>
<li> <a href="0076.html"><b>Slide scanner support?</b></a> <a name="76"><i>Benedikt Eric Heinen</i></a>
<li> <a href="0077.html"><b>Re: Autofocus problem with Coolscan  LS-30 backend</b></a> <a name="77"><i>David Fox</i></a>
<li> <a href="0078.html"><b>Re: Slide scanner support?</b></a> <a name="78"><i>Irv Thomae</i></a>
<li> <a href="0079.html"><b>Re: Slide scanner support?</b></a> <a name="79"><i>Nick Lamb</i></a>
<li> <a href="0080.html"><b>Interpretation of the Standard</b></a> <a name="80"><i>Tom Martone</i></a>
<li> <a href="0081.html"><b>Re: Slide scanner support?</b></a> <a name="81"><i>Mike Harris</i></a>
<li> <a href="0082.html"><b>Re: Slide scanner support?</b></a> <a name="82"><i>Andreas Rick</i></a>
<li> <a href="0083.html"><b>sane_read() always reads only 4096 bytes</b></a> <a name="83"><i>Ewald R. de Wit</i></a>
<li> <a href="0084.html"><b>Starting a discussion about SANE and TWAIN...</b></a> <a name="84"><i>252353N@knotes.kodak.com</i></a>
<li> <a href="0085.html"><b>35mm film scanner, roll film</b></a> <a name="85"><i>Ray Muno</i></a>
<li> <a href="0086.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="86"><i>David Mosberger-Tang</i></a>
<li> <a href="0087.html"><b>a few questions</b></a> <a name="87"><i>Pamela Akazawa</i></a>
<li> <a href="0088.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="88"><i>Petter Reinholdtsen</i></a>
<li> <a href="0089.html"><b>Re: a few questions</b></a> <a name="89"><i>Hugo van der Kooij</i></a>
<li> <a href="0090.html"><b>Re: a few questions</b></a> <a name="90"><i>Petter Reinholdtsen</i></a>
<li> <a href="0091.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="91"><i>Oliver Rauch</i></a>
<li> <a href="0092.html"><b>Discussion about SANE and TWAIN...</b></a> <a name="92"><i>Oliver Rauch</i></a>
<li> <a href="0093.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="93"><i>Andreas Beck</i></a>
<li> <a href="0094.html"><b>Re: a few questions</b></a> <a name="94"><i>Hugo van der Kooij</i></a>
<li> <a href="0095.html"><b>Re: Discussion about SANE and TWAIN...</b></a> <a name="95"><i>Stephen Williams</i></a>
<li> <a href="0096.html"><b>RE: 35mm film scanner, roll film</b></a> <a name="96"><i>regis rampnoux</i></a>
<li> <a href="0097.html"><b>Re: a few questions</b></a> <a name="97"><i>Petter Reinholdtsen</i></a>
<li> <a href="0098.html"><b>Re: a few questions</b></a> <a name="98"><i>Pamela Akazawa</i></a>
<li> <a href="0099.html"><b>Re: a few questions</b></a> <a name="99"><i>Hugo van der Kooij</i></a>
<li> <a href="0100.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="100"><i>Petter Reinholdtsen</i></a>
<li> <a href="0101.html"><b>Re: Discussion about SANE and TWAIN...</b></a> <a name="101"><i>Oliver Rauch</i></a>
<li> <a href="0102.html"><b>Re: a few questions</b></a> <a name="102"><i>Nick Lamb</i></a>
<li> <a href="0103.html"><b>Re: SANE 1.0.1 under DEC UNIX 4.0</b></a> <a name="103"><i>Petter Reinholdtsen</i></a>
<li> <a href="0104.html"><b>modprobe</b></a> <a name="104"><i>Pamela Akazawa</i></a>
<li> <a href="0105.html"><b>re: modprobe</b></a> <a name="105"><i>Pete Ruijters</i></a>
<li> <a href="0106.html"><b>Re: modprobe</b></a> <a name="106"><i>Arlet Ottens</i></a>
<li> <a href="0107.html"><b>Re: modprobe</b></a> <a name="107"><i>David Fox</i></a>
<li> <a href="0108.html"><b>Re: modprobe</b></a> <a name="108"><i>Pamela Akazawa</i></a>
<li> <a href="0109.html"><b>[252353N@knotes.kodak.com: Re: Starting a discussion about SANE and</b></a> <a name="109"><i>Andreas Beck</i></a>
<li> <a href="0111.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="111"><i>Andreas Beck</i></a>
<li> <a href="0110.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="110"><i>Andreas Beck</i></a>
<li> <a href="0112.html"><b>Unexpected Win32 success story</b></a> <a name="112"><i>Petter Reinholdtsen</i></a>
<li> <a href="0113.html"><b>Re: A page on the Coolscan LS-30/2000</b></a> <a name="113"><i>Fred Willingham</i></a>
<li> <a href="0114.html"><b>Re: Unexpected Win32 success story</b></a> <a name="114"><i>Andreas Beck</i></a>
<li> <a href="0115.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="115"><i>Henry Miller</i></a>
<li> <a href="0116.html"><b>SV: modprobe</b></a> <a name="116"><i>Peter Aksberg</i></a>
<li> <a href="0117.html"><b>Re: SV: modprobe</b></a> <a name="117"><i>Pamela Akazawa</i></a>
<li> <a href="0118.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="118"><i>Andreas Dilger</i></a>
<li> <a href="0119.html"><b>Coolscan LS-30/2000</b></a> <a name="119"><i>Andreas Rick</i></a>
<li> <a href="0120.html"><b>Re: SANE 1.0.1 under DEC UNIX 4.0</b></a> <a name="120"><i>Petter Reinholdtsen</i></a>
<li> <a href="0121.html"><b>Re: Unexpected Win32 success story</b></a> <a name="121"><i>Petter Reinholdtsen</i></a>
<li> <a href="0122.html"><b>Re: a few questions</b></a> <a name="122"><i>Andreas Czechanowski</i></a>
<li> <a href="0123.html"><b>Re: SV: modprobe</b></a> <a name="123"><i>Nick Lamb</i></a>
<li> <a href="0124.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="124"><i>Lars Hanke</i></a>
<li> <a href="0125.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="125"><i>Andreas Beck</i></a>
<li> <a href="0126.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="126"><i>Andreas Beck</i></a>
<li> <a href="0127.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="127"><i>Nick Lamb</i></a>
<li> <a href="0128.html"><b>[net] connect_dev: major version mismatch: got 0, expected 1</b></a> <a name="128"><i>Petter Reinholdtsen</i></a>
<li> <a href="0129.html"><b>Re: [net] connect_dev: major version mismatch: got 0, expected 1</b></a> <a name="129"><i>Nick Lamb</i></a>
<li> <a href="0130.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="130"><i>Andreas Beck</i></a>
<li> <a href="0131.html"><b>Re: SV: modprobe</b></a> <a name="131"><i>Pamela Akazawa</i></a>
<li> <a href="0134.html"><b>[Fwd: Re: Discussion about SANE and TWAIN...]</b></a> <a name="134"><i>Oliver Rauch</i></a>
<li> <a href="0132.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="132"><i>Oliver Rauch</i></a>
<li> <a href="0133.html"><b>[Fwd: Discussion about SANE and TWAIN...]</b></a> <a name="133"><i>Oliver Rauch</i></a>
<li> <a href="0135.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="135"><i>Oliver Rauch</i></a>
<li> <a href="0136.html"><b>Re: [net] connect_dev: major version mismatch: got 0, expected 1</b></a> <a name="136"><i>Kevin Charter</i></a>
<li> <a href="0137.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="137"><i>Henry Miller</i></a>
<li> <a href="0138.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="138"><i>Andreas Beck</i></a>
<li> <a href="0139.html"><b>Coolscan-III (vertical vs horizontal position of scanner)?</b></a> <a name="139"><i>Benedikt Eric Heinen</i></a>
<li> <a href="0140.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="140"><i>Oliver Rauch</i></a>
<li> <a href="0141.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="141"><i>Yuri Dario</i></a>
<li> <a href="0142.html"><b>Re: [net] connect_dev: major version mismatch: got 0, expected 1</b></a> <a name="142"><i>Petter Reinholdtsen</i></a>
<li> <a href="0143.html"><b>Snapscan failure (AGFA Snapscap 1236s)</b></a> <a name="143"><i>Petter Reinholdtsen</i></a>
<li> <a href="0144.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="144"><i>Stephen Williams</i></a>
<li> <a href="0145.html"><b>Re: [Fwd: Re: Discussion about SANE and TWAIN...]</b></a> <a name="145"><i>Tom Martone</i></a>
<li> <a href="0146.html"><b>SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="146"><i>Andreas Beck</i></a>
<li> <a href="0147.html"><b>Re: [Fwd: Re: Discussion about SANE and TWAIN...]</b></a> <a name="147"><i>Stephen Williams</i></a>
<li> <a href="0149.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="149"><i>Andreas Beck</i></a>
<li> <a href="0148.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="148"><i>Andreas Beck</i></a>
<li> <a href="0150.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="150"><i>Stephen Williams</i></a>
<li> <a href="0151.html"><b>SANE V2 - past discussions. A summary.</b></a> <a name="151"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0152.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="152"><i>Nick Lamb</i></a>
<li> <a href="0153.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="153"><i>Andreas Beck</i></a>
<li> <a href="0154.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="154"><i>Stephen Williams</i></a>
<li> <a href="0155.html"><b>Re: SANE V2</b></a> <a name="155"><i>Nick Lamb</i></a>
<li> <a href="0156.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="156"><i>Nick Lamb</i></a>
<li> <a href="0157.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="157"><i>Stephen Williams</i></a>
<li> <a href="0158.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="158"><i>Henry Miller</i></a>
<li> <a href="0159.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="159"><i>Milon Firikis</i></a>
<li> <a href="0160.html"><b>RE: Coolscan-III (vertical vs horizontal position of scanner)?</b></a> <a name="160"><i>Bernhard Scheffold</i></a>
<li> <a href="0161.html"><b>Re: SANE V2</b></a> <a name="161"><i>Andreas Beck</i></a>
<li> <a href="0162.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="162"><i>Stephen Williams</i></a>
<li> <a href="0163.html"><b>SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="163"><i>Petter Reinholdtsen</i></a>
<li> <a href="0164.html"><b>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="164"><i>Oliver Rauch</i></a>
<li> <a href="0165.html"><b>Re: SANE V2 - past discussions. A summary.</b></a> <a name="165"><i>Oliver Rauch</i></a>
<li> <a href="0166.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="166"><i>Oliver Rauch</i></a>
<li> <a href="0167.html"><b>Re: [Fwd: Re: Discussion about SANE and TWAIN...]</b></a> <a name="167"><i>Oliver Rauch</i></a>
<li> <a href="0168.html"><b>Re: [Fwd: Re: Discussion about SANE and TWAIN...]</b></a> <a name="168"><i>Tom Martone</i></a>
<li> <a href="0170.html"><b>Re: sane-frames (sane2.0) [was:Starting a discussion about SANE and</b></a> <a name="170"><i>Oliver Rauch</i></a>
<li> <a href="0169.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="169"><i>Oliver Rauch</i></a>
<li> <a href="0171.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="171"><i>Oliver Rauch</i></a>
<li> <a href="0172.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="172"><i>Milon Firikis</i></a>
<li> <a href="0173.html"><b>SANE frames</b></a> <a name="173"><i>Stephen Williams</i></a>
<li> <a href="0174.html"><b>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="174"><i>Andreas Beck</i></a>
<li> <a href="0175.html"><b>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="175"><i>Andreas Beck</i></a>
<li> <a href="0176.html"><b>Re: SANE frames</b></a> <a name="176"><i>Tom Martone</i></a>
<li> <a href="0177.html"><b>Re: SANE V2</b></a> <a name="177"><i>Nick Lamb</i></a>
<li> <a href="0178.html"><b>Re: SANE frames</b></a> <a name="178"><i>Tom Martone</i></a>
<li> <a href="0179.html"><b>Re: SANE V2</b></a> <a name="179"><i>Tom Martone</i></a>
<li> <a href="0180.html"><b>Re: SANE frames</b></a> <a name="180"><i>Nick Lamb</i></a>
<li> <a href="0181.html"><b>Re: SANE frames</b></a> <a name="181"><i>Nick Lamb</i></a>
<li> <a href="0182.html"><b>Re: SANE V2</b></a> <a name="182"><i>Nick Lamb</i></a>
<li> <a href="0184.html"><b>Re: SANE frames</b></a> <a name="184"><i>Stephen Williams</i></a>
<li> <a href="0183.html"><b>Re: SANE V2</b></a> <a name="183"><i>Tom Martone</i></a>
<li> <a href="0185.html"><b>Re: SANE frames</b></a> <a name="185"><i>Tom Martone</i></a>
<li> <a href="0186.html"><b>Re: SANE V2</b></a> <a name="186"><i>Nick Lamb</i></a>
<li> <a href="0187.html"><b>Re: SANE V2</b></a> <a name="187"><i>Tom Martone</i></a>
<li> <a href="0188.html"><b>Re: SANE V2</b></a> <a name="188"><i>Andreas Beck</i></a>
<li> <a href="0189.html"><b>Re: SANE V2</b></a> <a name="189"><i>Tom Martone</i></a>
<li> <a href="0190.html"><b>SV: SV: modprobe</b></a> <a name="190"><i>Peter Aksberg</i></a>
<li> <a href="0191.html"><b>2 scanners under Linux</b></a> <a name="191"><i>Sebastian Ahrens</i></a>
<li> <a href="0192.html"><b>Re: 2 scanners under Linux</b></a> <a name="192"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0193.html"><b>Re: SANE V2</b></a> <a name="193"><i>Ewald R. de Wit</i></a>
<li> <a href="0194.html"><b>Re: SANE V2</b></a> <a name="194"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0195.html"><b>Re: SANE V2</b></a> <a name="195"><i>Stephen Williams</i></a>
<li> <a href="0196.html"><b>Re: SANE 1.0.1 under DEC UNIX 4.0</b></a> <a name="196"><i>Petter Reinholdtsen</i></a>
<li> <a href="0197.html"><b>microtek X6 advance and TMA</b></a> <a name="197"><i>Joachim Heidemeier</i></a>
<li> <a href="0198.html"><b>Re: SANE V2</b></a> <a name="198"><i>Tom Martone</i></a>
<li> <a href="0199.html"><b>CVS unstable development tree</b></a> <a name="199"><i>Petter Reinholdtsen</i></a>
<li> <a href="0202.html"><b>Re: Discussion about SANE and TWAIN...</b></a> <a name="202"><i>252353N@knotes.kodak.com</i></a>
<li> <a href="0201.html"><b>Re: Discussion about SANE and TWAIN...</b></a> <a name="201"><i>252353N@knotes.kodak.com</i></a>
<li> <a href="0200.html"><b>Re: Discussion about SANE and TWAIN...</b></a> <a name="200"><i>252353N@knotes.kodak.com</i></a>
<li> <a href="0203.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="203"><i>252353N@knotes.kodak.com</i></a>
<li> <a href="0204.html"><b>Re[2]: Starting a discussion about SANE and TWAIN...</b></a> <a name="204"><i>John Profic</i></a>
<li> <a href="0205.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="205"><i>Lars Hanke</i></a>
<li> <a href="0206.html"><b>HP USB scanner driver</b></a> <a name="206"><i>Peter Firmstone</i></a>
<li> <a href="0207.html"><b>Re: 2 scanners under Linux</b></a> <a name="207"><i>Oliver Rauch</i></a>
<li> <a href="0208.html"><b>Re: SANE V2</b></a> <a name="208"><i>Oliver Rauch</i></a>
<li> <a href="0209.html"><b>Re: SANE frames</b></a> <a name="209"><i>Oliver Rauch</i></a>
<li> <a href="0210.html"><b>Re: SANE frames</b></a> <a name="210"><i>Oliver Rauch</i></a>
<li> <a href="0211.html"><b>Re: SANE frames</b></a> <a name="211"><i>David Mosberger-Tang</i></a>
<li> <a href="0212.html"><b>Re: SANE frames</b></a> <a name="212"><i>David Mosberger-Tang</i></a>
<li> <a href="0213.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="213"><i>Oliver Rauch</i></a>
<li> <a href="0214.html"><b>Re: SANE frames</b></a> <a name="214"><i>Oliver Rauch</i></a>
<li> <a href="0215.html"><b>Re: SANE frames</b></a> <a name="215"><i>Nick Lamb</i></a>
<li> <a href="0216.html"><b>Re: SANE frames</b></a> <a name="216"><i>Andreas Dilger</i></a>
<li> <a href="0217.html"><b>Re: microtek X6 advance and TMA</b></a> <a name="217"><i>Bernd Schroeder</i></a>
<li> <a href="0219.html"><b>Re: 2 scanners under Linux</b></a> <a name="219"><i>Andreas Beck</i></a>
<li> <a href="0218.html"><b>Re: SANE V2</b></a> <a name="218"><i>Andreas Beck</i></a>
<li> <a href="0220.html"><b>Re: SANE V2</b></a> <a name="220"><i>Andreas Beck</i></a>
<li> <a href="0221.html"><b>Re: SANE V2</b></a> <a name="221"><i>Stephen Williams</i></a>
<li> <a href="0222.html"><b>Mustek Paragon 1200SP</b></a> <a name="222"><i>Tobias Goeller</i></a>
<li> <a href="0223.html"><b>Re: Mustek Paragon 1200SP</b></a> <a name="223"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0224.html"><b>Re: Mustek Paragon 1200SP</b></a> <a name="224"><i>Tobias Goeller</i></a>
<li> <a href="0225.html"><b>Re: SANE frames</b></a> <a name="225"><i>Nick Lamb</i></a>
<li> <a href="0226.html"><b>canon fs 2710 unde linux?</b></a> <a name="226"><i>Sebastian Ahrens</i></a>
<li> <a href="0227.html"><b>Re: canon fs 2710 unde linux?</b></a> <a name="227"><i>becka@rz.uni-duesseldorf.de</i></a>
<li> <a href="0228.html"><b>Re: SANE V2</b></a> <a name="228"><i>Andreas Beck</i></a>
<li> <a href="0229.html"><b>Re: SANE V2</b></a> <a name="229"><i>Nick Lamb</i></a>
<li> <a href="0230.html"><b>Re: Mustek Paragon 1200SP</b></a> <a name="230"><i>Andreas Beck</i></a>
<li> <a href="0231.html"><b>Re: SANE V2</b></a> <a name="231"><i>Nick Lamb</i></a>
<li> <a href="0232.html"><b>sane-umax</b></a> <a name="232"><i>Mike Schmitz</i></a>
<li> <a href="0233.html"><b>Re: sane-umax</b></a> <a name="233"><i>Sebastian Ahrens</i></a>
<li> <a href="0234.html"><b>Re: SANE V2</b></a> <a name="234"><i>Tom Martone</i></a>
<li> <a href="0235.html"><b>Re: sane-umax</b></a> <a name="235"><i>Oliver Rauch</i></a>
<li> <a href="0236.html"><b>Re: Mustek Paragon 1200SP</b></a> <a name="236"><i>Andreas Beck</i></a>
<li> <a href="0237.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="237"><i>252353N@knotes.kodak.com</i></a>
<li> <a href="0238.html"><b>quickcam VC &amp; SANE?</b></a> <a name="238"><i>Ethan Gold</i></a>
<li> <a href="0239.html"><b>Re: quickcam VC &amp; SANE?</b></a> <a name="239"><i>Alex Belits</i></a>
<li> <a href="0240.html"><b>Re: SANE frames</b></a> <a name="240"><i>David Mosberger-Tang</i></a>
<li> <a href="0241.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="241"><i>Yuri Dario</i></a>
<li> <a href="0242.html"><b>Re: SANE frames</b></a> <a name="242"><i>Oliver Rauch</i></a>
<li> <a href="0243.html"><b>Re: SANE frames</b></a> <a name="243"><i>David Mosberger-Tang</i></a>
<li> <a href="0244.html"><b>Re: SANE frames</b></a> <a name="244"><i>Stephen Williams</i></a>
<li> <a href="0245.html"><b>Re: SANE frames</b></a> <a name="245"><i>Nick Lamb</i></a>
<li> <a href="0246.html"><b>USB Support for HP Scanner</b></a> <a name="246"><i>David Nelson</i></a>
<li> <a href="0247.html"><b>Kodak FD300 Film Drive</b></a> <a name="247"><i>Firebeard</i></a>
<li> <a href="0248.html"><b>SANE backend using TWAIN and WINE?</b></a> <a name="248"><i>Richard Tobin</i></a>
<li> <a href="0249.html"><b>Re: SANE backend using TWAIN and WINE?</b></a> <a name="249"><i>Henry Miller</i></a>
<li> <a href="0250.html"><b>Acer Scanners</b></a> <a name="250"><i>Menaka Lashitha Bandara</i></a>
<li> <a href="0251.html"><b>Re: Acer Scanners</b></a> <a name="251"><i>Greg Lehey</i></a>
<li> <a href="0252.html"><b>Re: Acer Scanners</b></a> <a name="252"><i>Menaka Lashitha Bandara</i></a>
<li> <a href="0253.html"><b>SANE 1.0.1 on FreeBSD 3.2-RELEASE</b></a> <a name="253"><i>Steve Darrall</i></a>
<li> <a href="0254.html"><b>Re: SANE 1.0.1 on FreeBSD 3.2-RELEASE</b></a> <a name="254"><i>Oliver Rauch</i></a>
<li> <a href="0255.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="255"><i>Oliver Rauch</i></a>
<li> <a href="0256.html"><b>Re: SANE frames</b></a> <a name="256"><i>Oliver Rauch</i></a>
<li> <a href="0257.html"><b>Re: Acer Scanners</b></a> <a name="257"><i>Andreas Beck</i></a>
<li> <a href="0258.html"><b>Re: SANE 1.0.1 on FreeBSD 3.2-RELEASE</b></a> <a name="258"><i>regis rampnoux</i></a>
<li> <a href="0259.html"><b>CANON IX-4015</b></a> <a name="259"><i>Thomas Dahl</i></a>
<li> <a href="0260.html"><b>net problem</b></a> <a name="260"><i>Wim Taymans</i></a>
<li> <a href="0261.html"><b>Canon scanners</b></a> <a name="261"><i>Markus Mertinat</i></a>
<li> <a href="0262.html"><b>Re: SANE frames</b></a> <a name="262"><i>Oliver Rauch</i></a>
<li> <a href="0263.html"><b>xsane-0.32 available</b></a> <a name="263"><i>Oliver Rauch</i></a>
<li> <a href="0264.html"><b>sane-umax-build-9</b></a> <a name="264"><i>Oliver Rauch</i></a>
<li> <a href="0265.html"><b>Re: net problem</b></a> <a name="265"><i>Andreas Beck</i></a>
<li> <a href="0266.html"><b>xsane-0.33 available</b></a> <a name="266"><i>Oliver Rauch</i></a>
<li> <a href="0267.html"><b>Re: net problem</b></a> <a name="267"><i>Wim Taymans</i></a>
<li> <a href="0268.html"><b>Re: net problem</b></a> <a name="268"><i>Wim Taymans</i></a>
<li> <a href="0269.html"><b>SPARC Solaris 7</b></a> <a name="269"><i>Kevin Kane</i></a>
<li> <a href="0270.html"><b>Re: net problem</b></a> <a name="270"><i>Wim Taymans</i></a>
<li> <a href="0271.html"><b>Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT</b></a> <a name="271"><i>Cooper</i></a>
<li> <a href="0272.html"><b>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="272"><i>abel deuring</i></a>
<li> <a href="0273.html"><b>Re: net problem</b></a> <a name="273"><i>Andreas Beck</i></a>
<li> <a href="0274.html"><b>Re: microtek X6 advance and TMA</b></a> <a name="274"><i>Bernd Schroeder</i></a>
<li> <a href="0275.html"><b>Re: SANE V2</b></a> <a name="275"><i>Nick Lamb</i></a>
<li> <a href="0276.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT</b></a> <a name="276"><i>Adam Williams</i></a>
<li> <a href="0277.html"><b>UMAX parallel port scanner</b></a> <a name="277"><i>s.arunprabhakar@barco.com</i></a>
<li> <a href="0278.html"><b>Re: UMAX parallel port scanner</b></a> <a name="278"><i>Oliver Rauch</i></a>
<li> <a href="0279.html"><b>Re: UMAX parallel port scanner</b></a> <a name="279"><i>Richard Tobin</i></a>
<li> <a href="0280.html"><b>Re: Acer Scanners</b></a> <a name="280"><i>Kevin Charter</i></a>
<li> <a href="0281.html"><b>Re: UMAX parallel port scanner</b></a> <a name="281"><i>Oliver Rauch</i></a>
<li> <a href="0282.html"><b>Re: SANE V2</b></a> <a name="282"><i>Andreas Beck</i></a>
<li> <a href="0283.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="283"><i>Cooper</i></a>
<li> <a href="0284.html"><b>Re: SANE V2</b></a> <a name="284"><i>Nick Lamb</i></a>
<li> <a href="0285.html"><b>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="285"><i>Andreas Beck</i></a>
<li> <a href="0286.html"><b>Re: SANE V2</b></a> <a name="286"><i>Andreas Beck</i></a>
<li> <a href="0287.html"><b>Re: SANE V2</b></a> <a name="287"><i>Stephen Williams</i></a>
<li> <a href="0288.html"><b>Re: SG_BIG_BUFF, glibc 2.1 weirdness ...</b></a> <a name="288"><i>abel deuring</i></a>
<li> <a href="0289.html"><b>SANE V2</b></a> <a name="289"><i>Nick Lamb</i></a>
<li> <a href="0291.html"><b>Re: SANE V2</b></a> <a name="291"><i>Oliver Rauch</i></a>
<li> <a href="0290.html"><b>Re: SANE V2</b></a> <a name="290"><i>Oliver Rauch</i></a>
<li> <a href="0292.html"><b>Re: SANE V2</b></a> <a name="292"><i>Oliver Rauch</i></a>
<li> <a href="0293.html"><b>Re: SANE V2</b></a> <a name="293"><i>Nick Lamb</i></a>
<li> <a href="0294.html"><b>Re: SANE V2</b></a> <a name="294"><i>Nick Lamb</i></a>
<li> <a href="0295.html"><b>EPSON GT9000</b></a> <a name="295"><i>Jordi</i></a>
<li> <a href="0296.html"><b>SANE V2</b></a> <a name="296"><i>Nick Lamb</i></a>
<li> <a href="0297.html"><b>Re: SANE V2</b></a> <a name="297"><i>Tom Martone</i></a>
<li> <a href="0298.html"><b>Re: microtek X6 advance and TMA</b></a> <a name="298"><i>Harald Finster</i></a>
<li> <a href="0299.html"><b>Re: SANE V2</b></a> <a name="299"><i>Oliver Rauch</i></a>
<li> <a href="0300.html"><b>Re: SANE V2</b></a> <a name="300"><i>Oliver Rauch</i></a>
<li> <a href="0301.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="301"><i>Brian Macy</i></a>
<li> <a href="0302.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="302"><i>Cooper</i></a>
<li> <a href="0303.html"><b>Re: SANE V2</b></a> <a name="303"><i>Stephen Williams</i></a>
<li> <a href="0304.html"><b>Re: SANE V2</b></a> <a name="304"><i>Stephen Williams</i></a>
<li> <a href="0305.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="305"><i>Brian Macy</i></a>
<li> <a href="0306.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="306"><i>Cooper</i></a>
<li> <a href="0307.html"><b>Seg Fault in X Scane</b></a> <a name="307"><i>Adam Williams</i></a>
<li> <a href="0308.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT</b></a> <a name="308"><i>Adam Williams</i></a>
<li> <a href="0309.html"><b>Re: net problem</b></a> <a name="309"><i>Petter Reinholdtsen</i></a>
<li> <a href="0310.html"><b>Re: SANE V2</b></a> <a name="310"><i>Nick Lamb</i></a>
<li> <a href="0311.html"><b>Re: SANE V2</b></a> <a name="311"><i>Stephen Williams</i></a>
<li> <a href="0312.html"><b>Re: SANE V2</b></a> <a name="312"><i>Oliver Rauch</i></a>
<li> <a href="0313.html"><b>Re: SANE V2</b></a> <a name="313"><i>Stephen Williams</i></a>
<li> <a href="0314.html"><b>Mustek ScanExpress 12000 SP</b></a> <a name="314"><i>Per Aalrust</i></a>
<li> <a href="0315.html"><b>Re: SANE V2</b></a> <a name="315"><i>Tom Martone</i></a>
<li> <a href="0316.html"><b>Re: SANE V2</b></a> <a name="316"><i>Tom Martone</i></a>
<li> <a href="0317.html"><b>Re: net problem</b></a> <a name="317"><i>Petter Reinholdtsen</i></a>
<li> <a href="0318.html"><b>Acer Scanners</b></a> <a name="318"><i>Menaka Lashitha Bandara</i></a>
<li> <a href="0319.html"><b>SANE with a SHARP JX-330</b></a> <a name="319"><i>Steve Darrall</i></a>
<li> <a href="0320.html"><b>Sharp JX-330 continued...</b></a> <a name="320"><i>Steve Darrall</i></a>
<li> <a href="0321.html"><b>Re: SANE V2</b></a> <a name="321"><i>Oliver Rauch</i></a>
<li> <a href="0322.html"><b>some infos of webscanning</b></a> <a name="322"><i>Markus Eiden </i></a>
<li> <a href="0323.html"><b>Re: SANE with a SHARP JX-330</b></a> <a name="323"><i>abel deuring</i></a>
<li> <a href="0324.html"><b>Re: SANE with a SHARP JX-330</b></a> <a name="324"><i>Steve Darrall</i></a>
<li> <a href="0325.html"><b>Mustek MFS-6000CX and Adaptec 1505</b></a> <a name="325"><i>Mike Lucente</i></a>
<li> <a href="0326.html"><b>Re: Mustek MFS-6000CX and Adaptec 1505</b></a> <a name="326"><i>Hugo van der Kooij</i></a>
<li> <a href="0327.html"><b>SANE V2 - again...</b></a> <a name="327"><i>abel deuring</i></a>
<li> <a href="0328.html"><b>Re: Mustek MFS-6000CX and Adaptec 1505</b></a> <a name="328"><i>Mike Lucente</i></a>
<li> <a href="0329.html"><b>Re: Mustek MFS-6000CX and Adaptec 1505</b></a> <a name="329"><i>Strider Centaur</i></a>
<li> <a href="0330.html"><b>Re: SANE V2 - again...</b></a> <a name="330"><i>Nick Lamb</i></a>
<li> <a href="0331.html"><b>Re: SANE V2 - again...</b></a> <a name="331"><i>Milon Firikis</i></a>
<li> <a href="0332.html"><b>Re: SANE V2 - again...</b></a> <a name="332"><i>Oliver Rauch</i></a>
<li> <a href="0333.html"><b>Re: SANE V2 - again...</b></a> <a name="333"><i>Stephen Williams</i></a>
<li> <a href="0334.html"><b>Re: SANE V2 - again...</b></a> <a name="334"><i>Oliver Rauch</i></a>
<li> <a href="0335.html"><b>Re: SANE V2 - again...</b></a> <a name="335"><i>Oliver Rauch</i></a>
<li> <a href="0336.html"><b>Re: SANE V2 - again...</b></a> <a name="336"><i>Oliver Rauch</i></a>
<li> <a href="0337.html"><b>Newbie Q: Accessing Scanport SQ4800 via SANE</b></a> <a name="337"><i>Dan Kegel</i></a>
<li> <a href="0338.html"><b>Mustek MFS-6000CX, once again please.</b></a> <a name="338"><i>ml@vianetinc.com</i></a>
<li> <a href="0339.html"><b>Re: SANE V2 - again...</b></a> <a name="339"><i>abel deuring</i></a>
<li> <a href="0340.html"><b>Re: SANE V2 - again...</b></a> <a name="340"><i>Milon Firikis</i></a>
<li> <a href="0341.html"><b>Re: Mustek MFS-6000CX, once again please.</b></a> <a name="341"><i>Hugo van der Kooij</i></a>
<li> <a href="0342.html"><b>Re: Newbie Q: Accessing Scanport SQ4800 via SANE</b></a> <a name="342"><i>Hugo van der Kooij</i></a>
<li> <a href="0343.html"><b>Re: SANE V2 - again...</b></a> <a name="343"><i>abel deuring</i></a>
<li> <a href="0344.html"><b>Re: SANE V2 - again...</b></a> <a name="344"><i>Oliver Rauch</i></a>
<li> <a href="0345.html"><b>Re: SANE V2 - again...</b></a> <a name="345"><i>Oliver Rauch</i></a>
<li> <a href="0346.html"><b>Re: SANE V2 - again...</b></a> <a name="346"><i>abel deuring</i></a>
<li> <a href="0347.html"><b>Re: Mustek MFS-6000CX, once again please.</b></a> <a name="347"><i>Georg Huettenegger</i></a>
<li> <a href="0348.html"><b>Re: SANE V2 - again...</b></a> <a name="348"><i>abel deuring</i></a>
<li> <a href="0349.html"><b>Re: SANE V2 - again...</b></a> <a name="349"><i>abel deuring</i></a>
<li> <a href="0350.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="350"><i>Brian Macy</i></a>
<li> <a href="0351.html"><b>Re: SANE V2 - again...</b></a> <a name="351"><i>Oliver Rauch</i></a>
<li> <a href="0352.html"><b>Xsane and GIF Images</b></a> <a name="352"><i>Adam Williams</i></a>
<li> <a href="0353.html"><b>Re: SANE V2 - again...</b></a> <a name="353"><i>Stephen Williams</i></a>
<li> <a href="0354.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint</b></a> <a name="354"><i>Cooper</i></a>
<li> <a href="0355.html"><b>Re: Starting a discussion about SANE and TWAIN...</b></a> <a name="355"><i>Oliver Rauch</i></a>
<li> <a href="0356.html"><b>Re: SANE V2 - again...</b></a> <a name="356"><i>Oliver Rauch</i></a>
<li> <a href="0357.html"><b>Re: Xsane and GIF Images</b></a> <a name="357"><i>Oliver Rauch</i></a>
<li> <a href="0358.html"><b>Re: Xsane and GIF Images</b></a> <a name="358"><i>Dan Kegel</i></a>
<li> <a href="0359.html"><b>Re: Machine lock-ups while scanning. HP scanjet 5P/BusLogic Flashpoint LT</b></a> <a name="359"><i>Adam Williams</i></a>
<li> <a href="0360.html"><b>Re: SANE V2 - again...</b></a> <a name="360"><i>Tom Martone</i></a>
<li> <a href="0361.html"><b>Re: SANE V2 - again...</b></a> <a name="361"><i>Ewald R. de Wit</i></a>
<li> <a href="0362.html"><b>Re: Newbie Q: Accessing Scanport SQ4800 via SANE</b></a> <a name="362"><i>Dan Kegel</i></a>
<li> <a href="0363.html"><b>HP Backend -- read failed and core dumps</b></a> <a name="363"><i>David Nelson</i></a>
<li> <a href="0364.html"><b>Re: SANE V2 - again...</b></a> <a name="364"><i>Stephen Williams</i></a>
<li> <a href="0365.html"><b>Re: Newbie Q: Accessing Scanport SQ4800 via SANE</b></a> <a name="365"><i>Hugo van der Kooij</i></a>
</ul>
<p>
<a name="end"><b>Last message date:</b></a> <i>Tue 31 Aug 1999 - 09:14:44 PDT</i><br>
<b>Archived on:</b> <i>Tue Aug 31 1999 - 09:18:40 PDT</i><p>
<ul>
<li> <b>Messages sorted by:</b> <a href="index.html#start">[ thread ]</a><a href="subject.html#start">[ subject ]</a><a href="author.html#start">[ author ]</a>
<li> <b><a href="..">Other mail archives</a></b>
</a></b>
</ul>
<p>
<hr>
<i>This archive was generated by <a href="http://www.eit.com/software/hypermail/hypermail.html">hypermail 1.02</a>.</i>
